.custom-action-result-header
  Synchronisation activée

.absolute-batch-hint
  = "This flux will be update every night batch"

- if @bcs_agency
  .custom-action-result-item
    .title
      = "Origine du flux"
    .content
      = @bcs_agency.flux_origin

  .custom-action-result-item.bordered
    .title
      = "Synchronisation activée"
    .content
      - if @bcs_agency.flux_synchro
        .inline-svg.active
          = svg("solo-active")
      - else
        .inline-svg.inactive
          = svg("solo-inactive")

  .custom-action-result-item.bordered
    .title
      = "agence bientôt ma loc"
    .content
      - if @bcs_agency.is_renter
        .inline-svg.active
          = svg("solo-active")
      - else
        .inline-svg.inactive
          = svg("solo-inactive")

  .custom-action-result-item.bordered
    .title
      = "agence partenaire"
    .content
      - if @bcs_agency.activated
        .inline-svg.active
          = svg("solo-active")
      - else
        .inline-svg.inactive
          = svg("solo-inactive")

  .custom-action-result-item.bordered
    .title
      = "Nombre de biens"
    .content
      = @bcs_agency.properties.count

  .custom-action-result-item.bordered
    .title
      = "Nombre de demandes"
    .content
      = @bcs_agency.v2_demands.count

