.container#advices-alt
  .fourth-cards-header
    Les conseils de Kenotte
  .fourth-cards-container
    .left-container
      = link_to post_path(cat_lname: @posts.last.blog_category.lname,lname: @posts.last.lname), target: "_blank" do
        .vertical-card
          .top{style: "background-image: url('#{@posts.last.photo_url}');"}
          .bottom
            .title.white-text.bold
              = @posts.last.name
            .content.white-text
              = @posts.last.title.truncate(200)
            .content-hidden.white-text
              = @posts.last.title.truncate(100)
            .inline-svg
              = svg("plus-green")

    .right-container
      .top-item
        = link_to post_path(cat_lname: @posts[1].blog_category.lname,lname: @posts[1].lname), target: "_blank" do
          .horizontal-card
            .left{style: "background-image: url('#{@posts[1].photo_url}');"}
            .right
              .title.white-text.bold
                = @posts[1].name
              .content.white-text
                = @posts[1].title.truncate(200)
              .content-hidden.white-text
                = @posts[1].title.truncate(100)
              .inline-svg
                = svg("plus-green")

      .bottom-item
        = link_to post_path(cat_lname: @posts.first.blog_category.lname,lname: @posts.first.lname), target: "_blank" do
          .horizontal-card
            .left
              .title.white-text.bold
                = @posts.first.name
              .content.white-text
                = @posts.first.title.truncate(200)
              .content-hidden.white-text
                = @posts.first.title.truncate(100)
              .inline-svg
                = svg("plus-green")
            .right{style: "background-image: url('#{@posts.first.photo_url}');"}

