.fullwidth-reinsurance-container
  .reinsurance-header
    Le simplificateur immobilier qui trouve mon toit
  .absolute-left-colored-form
    = svg("althome-forme-grise")
  .absolute-right-colored-form
    = svg("althome-forme-verte")

  .d-flex-column-center
    .animated-reinsurance-container
      .animated-svg-icon-container.gray
        #clic-svg
          = svg("althome-barre-alone")
          = svg("althome-clic")
          = svg("althome-souris-alone")
        .animated-svg-icon-position.gray 1
      .animated-item-content
        .title
          Je gagne 10X plus de temps
        .body
          Je détaille ce que je cherche en quelques minutes

    .reinsurance-line
      .down-arrow
        = svg("arrow-down-sign-to-navigate")

    .animated-reinsurance-container
      .animated-svg-icon-container.red
        #engrenages-svg
          = svg("althome-engrenage-1")
          = svg("althome-engrenage-2")
          = svg("althome-engrenage-3")
        .animated-svg-icon-position.red 2
      .animated-item-content
        .title
          Ca mouline !
        .body
          Les algorithmes s'activent et cherchent à ma place


    .reinsurance-line
      .down-arrow
        = svg("arrow-down-sign-to-navigate")

    .animated-reinsurance-container
      .animated-svg-icon-container.green
        #maison-svg
          = svg("althome-coeur-alone")
          = svg("althome-maison-alone")
        .animated-svg-icon-position.green 3
      .animated-item-content
        .title
          Je visite et j'achète !
        .body
          Je choisis mon toit parmi des offres qui me correspondent
