.container#differences-alt
  .first-cards-container
    .first-card
      .les-plus.align-left
        .header-start-visible
          Les + qui font la différence
        .header-start-hidden
          Les +
        .content-les-plus
          .content
            .how-it-works-item
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/lego.svg", class: "small-left-icon"
            .how-it-works-item-content
              Une recherche
              %strong
                innovante et ludique
            .how-it-works-item-content-hidden
              %strong
                Innovant et ludique
          .content
            .how-it-works-item
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/user.svg", class: "small-left-icon"
            .how-it-works-item-content
              Des services
              %strong
                utiles et personnalisés
            .how-it-works-item-content-hidden
              %strong
                Utile et personnalusé
          .content
            .how-it-works-item
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/expert.svg", class: "small-left-icon"
            .how-it-works-item-content
              %strong
                Des experts
              qui m'accompagnent dans mon projet
            .how-it-works-item-content-hidden
              %strong
                Un accompagnement expert

        .bottom-link-see-all
          .bcs-button-sm-special.smooth-scroll-link
            Je commence

    .second-card
      .estimation.align-right
        .header-start
          J'estime en ligne
        .content-estimation
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/castor-estimation.svg", class: "kenotte-estimation"
          .how-it-works-content
            Je renseigne les principales caractéristiques de ma maison ou de mon appartement et le tour est joué

        = form_tag(estimation_v3_path, method: :get, :class => "form-estimation") do
          %input.form-control.mt-20.bold{id:'estimation-place-input', placeholder:"Mon adresse", autocomplete:"off", name: "localisation"}
          .d-flex-center.mt-25
            = submit_tag "J'estime", class: "bcs-button-sm-special"


