.home-banner
  .banner-ufo-svg
    = svg("soucoupe")
  .content
    .home-banner-content-header-v4
      %div.visible-title-amatic
        mon achat coup de ❤️
      %div.visible-title-open-sans
        Les plus belles maisons et les plus beaux appartements sont ici !
      %div.hidden-title-open-sans
        par ici
    = form_tag(v2_map_path, method: :get,id: "initial_location") do
      .inline-form
        %input.user-city-choice{id:"user_input_autocomplete_address",placeholder:"Où voulez-vous vivre ?",autocomplete:"off"}
        %input{id:"lng",name:"lng",type:"hidden"}
        %input{id:"lat",name:"lat",type:"hidden"}
        %input{id:"locality",name:"locality",type:"hidden"}
        %input.user-choice-submit{type:"submit", value: "JE CHERCHE"}


