.home-banner{style: "background-image: linear-gradient(rgba(100,100,100,0.65),rgba(100,100,100,0.65)),url(#{@result[:photo]});"}
  .content

    %main.scene
      .actor
        #house.actor__content
          Ma maison
      .static-text
        coup de
      .inline-svg.red
        = svg("althome-coeur-alone")

    .home-banner-content-header-v4
      .v4-alt-header.hidden{style: "color: #{@result[:color]};"}
        Bientôt Chez Soi trouve mon toit
      .v4-alt-subheader.hidden{style: "color: #{@result[:color]};"}
        Je trouve mon toit ici et je profite d'un week-end offert !
    = form_tag(v2_map_path, method: :get,id: "initial_location") do
      .inline-form#autocomplete-alt
        %input.user-city-choice{id:"user_input_autocomplete_address",placeholder:"Où voulez-vous vivre ?",autocomplete:"off"}
        %input{id:"lng",name:"lng",type:"hidden"}
        %input{id:"lat",name:"lat",type:"hidden"}
        %input{id:"locality",name:"locality",type:"hidden"}
        %input.user-choice-submit{type:"submit", value: "JE CHERCHE"}

    .new-localisation-logic.hidden
      %form{action: "#{typeform_advanced_input_return_path}", method: "get"}
        %select#advanced-input{name: "advanced-input[]", multiple: "true"}
        .d-flex-center
          %span.spanned-button
            %input.underlined-btn{type: "submit", value: "Calculer les codes postaux"}


