.container#mores-alt
  .second-cards-header
    Bientôt Chez Soi, c'est bien plus. . .
  .second-cards-header-hidden
    C'est aussi. . .
  .second-cards-container
    .first-card
      .seller.align-left
        .image
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/vente.svg", class: "vente-svg"
        .header.white-text
          Un projet de vente ?
        .content.white-text
          Nos castors ont plus d'un tour dans leur sac pour trouver une nouvelle famille à votre maison
        .d-flex-center.mt-25
          = link_to "Je vends", property_to_sell_path, class: "bcs-semi-transparent-btn"
    .second-card
      .renovation
        .image
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/renov-energetique.svg", class: "renov-svg"
        .header.white-text
          La rénovation énergétique
        .content.white-text
          Bientôt Chez Soi s'engage pour la planète en soutenant le projet Ma Rénov de Bordeaux Métropole
        .d-flex-center.mt-25
        = link_to "En savoir plus", "https://marenov.bordeaux-metropole.fr/", target: "_blank", class: "bcs-semi-transparent-btn"
    .third-card
      .ambassador.align-right
        .image
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/ambassadeur.svg", class: "ambassadeur-svg"
        .header.white-text
          Je deviens ambassadeur
        .content.white-text
          Je recommande Bientôt Chez Soi à mon entourage et fais le plein de cadeaux !
        .d-flex-center.mt-25
        = link_to "Je parraine", ambassador_path, class: "bcs-semi-transparent-btn"
