.container#partners-alt
  .partners-header
    Quelques partenaires clés
  .menu-wrapper
    %ul.menu
      %li.item
        = link_to "https://www.bienici.com/", target: "_blank" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/BIEN-ICI.png", width: "200"
      %li.item
        = link_to "https://www.meilleursagents.com/", target: "_blank" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/meilleurs-agent-logo.png", width: "200"
      %li.item
        = link_to "https://www.la-boite-immo.com/", target: "_blank" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/LABOITE-IMMO.png", width: "200"
      %li.item
        = link_to "https://www.hubstairs.com/", target: "_blank" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/hubstairs-logo.png", width: "200"
      %li.item
        = link_to "https://horizon1641-immo.fr/", target: "_blank" do
          = cl_image_tag("static-images/horizon-opti.png", width: 200, fetch_format: :auto, quality: :auto, secure: true)
      %li.item
        = link_to "https://www.pickup.fr/accueil/bienvenue.sls", target: "_blank" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/pickup-svg-logo.svg", width: "200"
      %li.item
        = link_to "https://www.helagis.com/", target: "_blank" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/Helagis.svg", width: "200"

    .paddles
      %button.left-paddle.paddle
        = svg("fleches")
      %button.right-paddle.paddle
        = svg("fleches")
