.container#press-block
  .third-cards-container
    .first-card
      .gift
        .left{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/guide-opti.jpg');"}
        .right
          .sup-header
            Bon plan : c'est cadeau !
          .sub-header
            Mon guide de recherche
          .content
            Je renseigne mon email pour le recevoir !

          = form_tag(customer_requests_path, method: :post, class: "form-estimation") do
            %input.form-control.mt-20.bold{placeholder:"Mon mail", autocomplete:"off", name: "customer_request[email]"}
            %input{type: "hidden", name: "customer_request[customer_action]", value: "pdf-guide"}
            %input{type: "hidden", name: "action_origin", value: "home"}
            .d-flex-center.mt-25
              = submit_tag "Je reçois", class: "bcs-button-sm-special"

    .second-card
      .news
        .top
          = svg("newspaper")
          .header.white-text
            Bientôt Chez Soi vu dans. . .
        .bottom
          .images-top-container
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/unissuu.svg');"}
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/pepitetech-opti.jpg'); margin-right: 20px;"}
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/logo-usine-digitale.png');"}
          .images-between-container
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/lareserve-opti.svg'); margin-right: 20px;"}
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/tribune.png'); margin-right: 20px;"}
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/witfm.png');"}
          .images-bottom-container
            .image
            .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/mysweetimmo-logo.svg');"}
            .image
