%section.pro-crossing
  .pro-crossing-title Comment peut-on vous aider ?
  .pro-crossing-content
    .pro-crossing-left
      .pro-crossing-left-text Je suis un particulier à la recherche d'un toit
      .pro-crossing-btn#pro-crossing-closer-trigger
        .svg
          = svg("arrow-left")
        Par ici !
    .pro-crossing-right
      .pro-crossing-right-text Je suis un professionnel de l'immobilier
      = link_to "https://bientotchezsoi-pro.com", class: "pro-crossing-btn", target: "_blank" do
        = "Par là !"
        .svg
          = svg("arrow-right")
