.menu-wrapper#testimonials-wrapper-v4.alt-version
  .header-title
    Des clients heureux
  %ul.menu#slider-menu
    %button.left-paddle-for-testimonials.paddle.left-paddle
      = svg("fleches")
    .faded-block.left
    - @testimonials.each_with_index do |testimonial, index|
      %li.testimonial-item{class: "#{'last-item' if ((index + 1) == (@testimonials.size))}"}
        .slider-home-card-testimonial
          .slider-right
            .slider-item.relative
              .user
                %strong
                  = testimonial.first_name
                  = testimonial.last_name

              - if testimonial.image
                .avatar{style: "background-image: url(#{testimonial.image});"}
              - else
                .inline-svg.spe-kenotte
                  = svg("kenotte-avatar")

            .slider-item
              .rating
                = render "v4/pages/partials/testimonials_ratings", testimonial: testimonial

            .slider-item
              .content
                = "« #{testimonial.content} »"

    .faded-block.right
    %button.right-paddle-for-testimonials.paddle.right-paddle
      = svg("fleches")
