- if testimonial.rating
  - if testimonial.rating == 5
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
  - elsif testimonial.rating == 4
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
    %i.fa.fa-star{style: "color: #FFE000; font-size: 3.4rem;"}
