.demand-scoring{style: "display: -webkit-box;display: box;"}
  .left-container-scoring
    .customer-experience
      .experience-header
        Expérience du client

      .scoring-counter
        .framing
          .inside-framing

      .first-step
        .content-step-one 25%
      .second-step
        .content-step-two 50%
      .third-step
        .content-step-three 75%

      .select-arrow
        .arrow{style: "-webkit-transform: rotateZ(#{@user_progression}deg);"}

      .base

  .right-container-scoring
    .customer-maturity
      .maturity-header
        Maturité du projet

      .scoring-counter
        .framing
          .inside-framing

      .first-step
        .content-step-one 25%
      .second-step
        .content-step-two 50%
      .third-step
        .content-step-three 75%

      .select-arrow
        .arrow{style: "-webkit-transform: rotateZ(#{@project_progression}deg);"}

      .base
