.customer-choice-title
  .d-flex-start
    .inline-svg
      = svg("heart")
    .bold J'adore

= form_tag(customer_choice_love_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "customer-like-form") do
  .d-flex-between.mb-25
    .d-flex-column
      = tag.label "Mon commentaire", class: "dislike"
      = tag.textarea name: "comment"
      .hint
        Mon commentaire sera transmis à l'agence partenaire pour l'aider à affiner ses futures propositions.
  .d-flex-center
    = button_tag 'Je valide', class: 'bcs-button-sm-special'
