.admin-container
  .content
    %table.table.table-hover
      %tr
        %th Classe
        %th Quantité
      %tr
        %td
          = "Demandes"
        %td
          .big-title.lighter
            = Demand.count

      %tr
        %td
          = "Agences"
        %td
          .big-title.lighter
            = Agency.count

      %tr
        %td
          = "Utilisateurs"
        %td
          .big-title.lighter
            = Customer.count
