.admin-container
  .content
    .current-date-container
      .today-demands
        = "Pages"
        = link_to "Créer une page", new_admin_page_path, class: "btn btn-default btn-xs"

    .page-header
      %h3
        %small
          = "#{pluralize(@pages.size, 'page', 'pages')}"
        %small.light
          = "#{l(Date.today, format: :medium)}"

    %table.table.table-hover.validated-demand
      %thead
        %tr
          %th Créée le
          %th Nom
          %th Meta title
          %th Meta desc
          %th url
          %th Actions
      - @pages.reverse.each do |page|
        %tr
          %td
            .date
              = "#{l(page.created_at, format: :special)}"
          %td
            = "#{page.name}"
          %td
            = page.meta_title.truncate(40)
          %td
            = page.meta_desc.truncate(40)
          %td
            = page.url
          %td
            .d-flex-between
              = link_to edit_admin_page_path(page.id.to_s), class: "btn btn-default btn-xs", target: "_blank" do
                .fa.fa-edit
              = link_to admin_page_path(page.id.to_s), class: "btn btn-primary btn-xs" do
                .fa.fa-eye
              = link_to admin_page_path(page.id.to_s), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                .fa.fa-times

