.admin-container
  .content
    .header
      = "Nouvelle page"
    .item
      = simple_form_for [:admin, @page] do |f|
        = f.input :meta_title, label: "Meta title"
        = f.input :meta_desc, label: "Meta description"
        = f.input :content, label: "Contenu"
        = f.input :status, label: "Statut"
        = f.input :name, label: "Nom de la page"
        = f.input :url, label: "Url de la page"
        = f.input :photo_url, label: "Meta - url de la photo"
        = f.submit "Créer une page", class: "bcs-button-sm-special"
