.admin-container
  .content
    .card
      - @page.attributes.each do |attr|
        .d-flex-column.mb-10
          .small.boldest
            = attr.first
          .display
            = attr.last
      .d-flex-start.mt-20
        = link_to "Modifier", edit_admin_page_path(@page.id.to_s), class: "bcs-button-sm-special"
