%section.apifluxes-properties--index
  %section.apifluxes-ajax-loading.hidden
    .inline-svg
      = svg("ajax-loader")
    Loading
  %section.apifluxes-ajax-loading-pagination.hidden
    .inline-svg
      = svg("ajax-loader")
    .pagination-loading-text
      Chargement pagination
  %section.left-wrapper
    .nav-header
      = "Fluxes API"
    .light
      %span Collection
      = "Properties"

    = form_tag(apifluxes_properties_path, method: :post, class: "apifluxes-properties--search") do
      = tag.input type: "text", name: "zipcode", id: "zipcode", class: "form-control", placeholder: "Code postal", autocomplete: "off"
      = tag.input type: "text", name: "city", id: "city", class: "form-control", placeholder: "Ville", autocomplete: "off"
      = tag.input type: "text", name: "min_price", id: "min_price", class: "form-control", placeholder: "Prix minimum", autocomplete: "off"
      = tag.input type: "text", name: "max_price", id: "max_price", class: "form-control", placeholder: "Prix maximum", autocomplete: "off"
      = tag.input type: "text", name: "min_area", id: "min_area", class: "form-control", placeholder: "Surface minimum", autocomplete: "off"
      = tag.input type: "text", name: "max_area", id: "max_area", class: "form-control", placeholder: "Surface maximum", autocomplete: "off"
      .d-flex-center
        = button_tag "Rechercher", class: "modern-black-btn-fullwidth"

  - if @start_page
    %section.right-wrapper
      .empty-start-page
        = "Veuillez effectuer une recherche"
  - else
    %section.right-wrapper
      - if @query_resume
        .query-resume-fixed-wrapper
          .query-resume-title
            = "Votre recherche"
          .query-resume-container
            - @query_resume.each_with_index do |item,index|
              .query-resume-item
                .field
                  = item[:field]
                - if item[:unit]
                  .value
                    = "#{item[:value]} #{item[:unit]}"
                - else
                  .value
                    = item[:value]
              .separator{class: "#{'hidden' if (index+1 == @query_resume_field_count)}"}

          .results-count
            = "#{@result_count.to_i} résultats"
          .custom-api-status
            = "Statut API"
            = @api_status_code



      - if @pagination_range
        .fixed-pagination-container{class: "#{'hidden' if @hide_pagination}"}
          %nav.custom-pagination
            - if @current_page.to_i > 3
              .pagination-item
                = link_to "Première", apifluxes_properties_path(page: 1, query: @query), method: :post, class: "pagination-ajax-link", remote: true

              - @pagination_range.to_a[@current_page.to_i - 3,5].each do |page|
                - if page.to_i == @current_page.to_i
                  .pagination-item
                    = page
                - else
                  .pagination-item
                    = link_to "#{page}", apifluxes_properties_path(page: page, query: @query), method: :post, class: "pagination-ajax-link", remote: true
              - if @current_page.to_i != @number_of_pages.to_i
                .pagination-item
                  = link_to "Dernière", apifluxes_properties_path(page: @number_of_pages.to_i, query: @query), method: :post, class: "pagination-ajax-link", remote: true


            - else
              - @pagination_range.to_a[0,5].each do |page|
                - if page.to_i == @current_page.to_i
                  .pagination-item
                    = page
                - else
                  .pagination-item
                    = link_to "#{page}", apifluxes_properties_path(page: page, query: @query), method: :post, class: "pagination-ajax-link", remote: true

          - if @current_page
            .custom-pagination-status
              = "Page #{@current_page}/#{@number_of_pages}"

      .api-property-content-results-wrapper
        - if @too_many_objects
          .results-wrapper-too-many-objects
            .inline-svg
              = svg("alert-circle-warning")
            .alert-text
              = "Désolé trop de biens trouvés"
        - elsif @empty_collection
          .results-wrapper-empty-collection
            .inline-svg
              = svg("alert-circle-warning")
            .alert-text
              = "Désolé, aucun bien correspondants à votre recherche"
        - else
          .modern-table
            .modern-table-head
              .th-flex-2
                Titre
              .th-flex-2
                Type
              .th-flex-1
                Statut
              .th-flex-1
                Ville
              .th-flex-1
                Equipements
              .th-flex-1
                Dpe
              .th-flex-1
                Surface
              .th-flex-1
                Prix
              .th-flex-1
                Voir
            .modern-table-body
              - @responses.each do |prop|
                .modern-table-body-item
                  .th-flex-2.fw-500
                    = prop["title"].strip.downcase.capitalize
                  .th-flex-2.fw-500{style: "color: #{property_type_color(prop['property_type_code'].to_i)};"}
                    = property_type_string(prop["property_type_code"].to_i)
                  .th-flex-1
                    = property_status_format(prop["status_code"])
                  .th-flex-1
                    = prop["human_city"]
                  .th-flex-1
                    = "Equipements"
                  .th-flex-1
                    - if prop["dpe"]
                      .dpe-block
                        .dpe-class{class: "level-#{prop_dpe(prop['dpe'].to_i).downcase}"}
                          = prop_dpe(prop["dpe"].to_i)
                  .th-flex-1
                    = "#{prop["area"]} m²"
                  .th-flex-1.fw-700
                    = "#{number_with_delimiter(prop['price'],locale: :fr)} €"
                  .th-flex-1
                    .custom-ajax-link{"data-url": apifluxes_property_path(prop["_id"]["$oid"]), "data-method": "get", "data-title": "#{prop['title']}"}
                      Voir







