%section.show-wrapper{class: "#{'from-agency' if @from_agency}"}
  .d-flex-between.show-top-close-header
    .d-flex-start
      .address-with-icon
        .inline-svg
          = svg("map-pin")
        .text
          = "#{@response['human_city']} #{@response['zipcode']}"
      .property-title
        - if @response["title"]
          = @response["title"].strip.downcase.capitalize
        - else
          = "Titre non renseigné"

    - if @from_agency
      .nested-show-custom-section-closer
        .closer-text
          Fermer
        .inline-svg
          = svg("x-close")
    - else
      .custom-section-closer
        .closer-text
          Fermer
        .inline-svg
          = svg("x-close")

  %section.apifluxes-properties--show

    .property-sticky-stats-wrapper
      .property-stat-item.big
        = "#{number_with_delimiter(@response["price"], locale: :fr)} €"
      .property-stat-item
        .inline-svg
          = svg("apifluxes-area")
        = "#{number_with_delimiter(@response["area"], locale: :fr)} m²"
      .property-stat-item
        .inline-svg
          = svg("apifluxes-home")
        = "#{@response['nb_sleeping_room']} chambres"


    .property-horizontal-show-infos-wrapper
      .property-fullcontent-wrapper
        - @french_response.each do |item|
          .fullcontent-wrapper-item
            .property-allfield-label
              = item[:label]
            .property-allfield-value
              = item[:content]

      .property-fullcontent-description
        .property-allfield-label Description
        .property-description-text
          = @response["corps"].html_safe


    .show-bottom-images-wrapper.hidden
      - @response["images_array"].first(6).each do |url|
        .image-bck-item{style: "background-image: url(#{url});"}

