.admin-container
  .content
    .header.mt-25
      LES DEMANDES D'ESTIMATION
    - if @estimations.size == 0
      = "Aucune estimation en ligne !!"
    .row
      - @estimations.each do |estimation|
        .col-xs-12.col-md-6
          .admin-estimation-item
            - if estimation.contact_require
              .small.recontact
                = "La personne ayant fait la demande désire être recontactée"
            .estim-item
              .small.bold.lighter
                Type de bien
              .small.bold
                = estimation.property_type
            .estim-item
              .small.bold.lighter
                Commune
              .small.bold
                = estimation.localisation

            .estim-item
              .small.bold.lighter
                Estimation
              .small.bold
                = "Entre #{number_with_delimiter(estimation.results[:min_value], locale: :fr)} €" + " et " + "#{number_with_delimiter(estimation.results[:max_value], locale: :fr)} €"

            .estim-item
              .small.bold.lighter
                Surface habitable
              .small.bold
                = "#{estimation.living_space} m²"

            - if estimation.phone
              .estim-item
                .small.bold.lighter
                  Téléphone
                .small.bold
                  = "#{estimation.phone}"

            - if estimation.email
              .estim-item
                .small.bold.lighter
                  Email
                .small.bold
                  = "#{estimation.email}"

            .d-flex-start.mt-25
              = link_to admin_estimation_path(estimation), target: "_blank", class: "btn btn-primary btn-sm btn-custom-size" do
                .fa.fa-eye
              = link_to admin_estimation_path(estimation), method: :delete, class: "btn btn-danger btn-sm btn-custom-size", data: {confirm: "Attention action irréversible !! - Vous allez supprimer #{estimation.id.to_s}"} do
                .fa.fa-times
