.admin-container
  .content
    .header.mt-25
      = "ESTIMATION POUR #{@estimation.email.upcase}"
    .row
      .col-xs-12
        .admin-estimation-item
          - if @estimation.contact_require
            .small.recontact
              = "La personne ayant fait la demande désire être recontactée"
          .estim-item
            .small.bold.lighter
              Type de bien
            .small.bold
              = @estimation.property_type
          .estim-item
            .small.bold.lighter
              Commune
            .small.bold
              = @estimation.localisation

          .estim-item
            .small.bold.lighter
              Estimation
            .small.bold
              = "Entre #{number_with_delimiter(@estimation.results[:min_value], locale: :fr)} €" + " et " + "#{number_with_delimiter(@estimation.results[:max_value], locale: :fr)} €"

          .estim-item
            .small.bold.lighter
              Surface habitable
            .small.bold
              = "#{@estimation.living_space} m²"

          - if @estimation.phone
            .estim-item
              .small.bold.lighter
                Téléphone
              .small.bold
                = "#{@estimation.phone}"

          - if @estimation.email
            .estim-item
              .small.bold.lighter
                Email
              .small.bold
                = "#{@estimation.email}"

          - if @estimation.firstname != ""
            .estim-item
              .small.bold.lighter
                Prénom
              .small.bold
                = "#{@estimation.firstname}"

          - if @estimation.lastname != ""
            .estim-item
              .small.bold.lighter
                Nom
              .small.bold
                = "#{@estimation.lastname}"
