%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .v2-content-item-container
      .v2-left-item
        .v2-block.border
          .v2-block-header
            = "Bonjour #{current_customer.first_name}"
          .v2-block-content
            .block-content-text
              Comme c’est bon de revenir chez soi :-) Du neuf depuis ma dernière visite ? Je mets vite à jour ma recherche !


      .v2-right-item
        .v2-block.red
          .v2-block-header.white
            Ma recherche
          .v2-block-resume.white
            .inline-svg
              = svg(@demand.budget_icon)
            .budget-text
              = @demand.budget
          .v2-block-resume.white
            .inline-svg
              = svg("surface")
            .budget-text
              = @demand.surface
          .v2-block-resume.white
            .inline-svg
              = svg("map-marker")
            = @demand.search_formatted_area
          .v2-block-resume.white
            .inline-svg
              = svg("maison")
            = @demand.property_type
          .v2-block-criterias.hidden
            .inline-svg
              = svg(@demand.criterias_icon)
            = @demand.criterias

    .v2-content-item-container
      .v2-left-item
        .v2-block.gray
          .v2-block-header Mes conseils
          .v2-block-content
            .v2-blog-post
              .post-image{style: "background-image: url(#{@post.photo_url});"}
              .post-content
                .post-name
                  = @post.name
                .post-title
                  = @post.title.truncate(160)
                .post-link
                  = "Lire la suite"


      .v2-right-item
        .v2-block.border
          .v2-block-header Mes offres
          .v2-block-content
            - if @demand.properties.any?
              = @demand.properties.last
            - else
              = "Vous n'avez pas d'offre pour l'instant"

    .v2-content-item-container
      .v2-left-item
        .v2-block.border
          .v2-block-header Je suis
      .v2-right-item
        .v2-block.gray
          .v2-block-header Ils sont là pour vous aider
