- if @badges
  .badge-container
    .row
      - @badges.sort_by{|badge_hash| badge_hash[:svg]}.each do |badge|
        - if badge[:active]
          .col-xs-6.col-md-2
            .badge-item
              .inline-svg
                = svg(badge[:svg])
              %h5
                = badge[:name]
              .badge-item-absolute-content
                = badge[:content]
        - else
          .col-xs-6.col-md-2
            .badge-item.inactive
              .inline-svg
                = svg(badge[:svg])
              %h5
                = badge[:name]
