%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"


  .v2-customer-content
    .big-header
      .demand-number Ma messagerie
      .d-flex-start
        %p
          Je contacte les agences qui possèdent les biens qui me plaisent


    .dashboard-messages-container
      - if @customer_chatrooms != []
        - @customer_chatrooms.each do |chatroom|
          - unseen_messages = chatroom.chat_messages.where(seen_by_customer: false)
          - customer_choice = chatroom.property.customer_choices.where(v2_demand_id: chatroom.v2_demand.id).last
          - if chatroom.chat_messages.size > 0
            .dashboard-message-card
              - if unseen_messages != []
                .message-card-avatar-with-image.active{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/svgs/chatroom/chatroom-agency-avatar.svg');"}
                  .message-count
                    = "#{unseen_messages.count}"
              - else
                .message-card-avatar-with-image{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/svgs/chatroom/chatroom-agency-avatar.svg');"}
              .message-card-customer
                - if customer_choice
                  = "#{chatroom.agency.name}"
                - else
                  = "L'agence"
              .message-delimiter
              .message-card-prop
                = "#{chatroom.property.property_type}, #{chatroom.property.price} €"
              .message-card-title
                = chatroom.property.title.truncate(40)

              .grow-button-container
                - if chatroom.chat_messages.size == 1
                  .messages-count
                    = chatroom.chat_messages.size.to_s + " message"
                - elsif chatroom.chat_messages.size > 1
                  .messages-count
                    = chatroom.chat_messages.size.to_s + " messages"
                - if unseen_messages != []
                  = link_to v2_customer_dashboard_property_path(property_id: chatroom.property.id.to_s, redirect_with_tab_target: true) do
                    .message-card-button.active Je réponds
                - else
                  = link_to v2_customer_dashboard_property_path(property_id: chatroom.property.id.to_s, redirect_with_tab_target: true) do
                    .message-card-button Je consulte

      - else
        = "Votre messagerie est vide pour le moment"
