.v2-property-visits-container
  .v2-property-visits-landing-block
    .clock.hidden
      .clock-face
        .hand.hour-hand
        .hand.min-hand
        .hand.second-hand

    .v2-property-visits-landing-content
      Bientôt vos rendez-vous en 1 seul clic !
