.v2-property-messages-container.hidden
  .v2-property-messages-left
  .v2-property-messages-right
    .v2-agency-about-property
      .agency-avatar
        .avatar{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/agence-masque.svg');"}
      .agency-name
        .name
          = @agency.name
      .separate-agency-line

      .agency-informations
        - if @customer_choices
          - @customer_choices.each do |customer_choice|
            - if customer_choice.choice == "J'aime" || customer_choice.choice == "J'adore"
              .informations
                .informations-header
                  Infos contact
                  .personal
                    = "#{@agency.firstname} #{@agency.lastname}"

                .informations-fields
                  .email
                    = @agency.email
                  .phone
                    = @agency.phone
                  .address
                    = "#{@agency.address} - #{@agency.city}"

            - else
              .empty-information
                Les détails de l'agence apparaitront lorsque j'aurai aimé son offre.
                %br
                Mes informations ne sont pas non plus transmises tant que je n'ai pas donné mon ressenti.

        - else
          .empty-information
            Les détails de l'agence apparaitront lorsque j'aurai aimé son offre.
            %br
            %br
            Mes informations ne sont pas non plus transmises tant que je n'ai pas donné mon ressenti.



%section.chatroom-page
  .height-fullpage-container
    .d-flex-start.chatroom-title-container.hidden
      = link_to request.referer.present? ? request.referer : default_path do
        .fa.fa-arrow-left
      - if @property.img_1_url
        .chatroom-big-photo-item{style: "background-image: url(#{@property.img_1_url});"}
      - else
        .chatroom-big-photo-item{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

      - if @property.title
        %h1
          = "#{@property.title}, #{number_with_delimiter(@property.price.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
      - else
        %h1 Titre indisponible

    .panel.panel-default#chatroom
      - if @chatroom.chat_messages.any?
        .panel-body#messages{"data-scroll": "on", style: "padding: 0;"}
          - if customer_signed_in?
            .conversation-starting-message
              Une question sur votre proposition ? Entrez en contact avec l’agence qui vous a proposé cette offre, en lui envoyant un message privé. Votre anonymat sera préservé tant que vous n’aurez pas aimé cette proposition
          = render partial: 'chat_messages/chat_message', collection: @chatroom.chat_messages
      - else
        .panel-body#messages
          - if customer_signed_in?
            .conversation-starting-message
              Une question sur votre proposition ? Entrez en contact avec l’agence qui vous a proposé cette offre, en lui envoyant un message privé. Votre anonymat sera préservé tant que vous n’aurez pas aimé cette proposition

    - if customer_signed_in?
      .customer-chatroom-form-input
        = render partial: 'chat_messages/chat_message_form', locals: {message: @chat_message, chatroom: @chatroom}
    - if agency_signed_in?
      .agency-chatroom-form-input
        = render partial: 'chat_messages/agency_chat_message_form', locals: {message: @chat_message, chatroom: @chatroom}
  .chatroom-property-container
    .d-flex-center
      - if @customer_choice
        = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/agence-masque.svg"
      - else
        = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/agence-masque.svg"
    .d-flex-center
      - if @customer_choice
        .messages-agency-name
          = "#{@agency.name}"
      - else
        .messages-agency-name
          = "Agence partenaire"




