.v2-property-services-container
  .v2-property-services-header
    .services-header
      Les services dont je bénéficie

  .v2-property-services-partners-container
    .v2-partner-left
      .v2-partner-block.relative
        .partner-logo
          = image_tag @papernest.logo_url
        .partner-content
          = @papernest.content.html_safe

        = link_to "https://www.papernest.com/", target: "_blank" do
          .v2-customer-property-button.absolute

    .v2-partner-right
      .v2-partner-block.relative
        .partner-logo
          = image_tag @needhelp.logo_url
        .partner-content
          = @needhelp.content.html_safe

        = link_to "https://www.needhelp.com/", target: "_blank" do
          .v2-customer-property-button.absolute


