.v2-property-description-header
  - if @property.type_bien == "Maison" || @property.property_type == "Maison"
    Ma future maison... ou presque
  - else
    Mon futur appartement... ou presque

.v2-property-description-subheader
  - if @property.type_bien == "Maison" || @property.property_type == "Maison"
    J'apprends à la connaitre avant de l'adopter
  - else
    J'apprends à le connaitre avant de l'adopter

- if @property
  .v2-property-description-container
    .v2-property-description-right-container
      .top-image-container
        - if @property.images_array
          .main-photo-container{style: "background-image: url('#{@property.images_array.last if @property.images_array != []}');"}

        - elsif @property.pictures.any?
          .main-photo-container{style: "background-image: url('#{@property.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}');"}

        - elsif @property.img_1_url
          .main-photo-container{style: "background-image: url(#{@property.img_1_url});"}

        - else
          .main-photo-left-container{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

      .bottom-images-container
        - if @property.images_array
          - @property.images_array.first(4).each do |image|
            = link_to "#{image}", "data-lightbox": "propertyerty" do
              .property-photo{style: "background-image: url('#{image}')"}
        - elsif @property.pictures != []
          - @property.pictures.select{|pict| pict.photo_url != nil }.first(4).each do |picture|
            = link_to "#{picture.photo_url}", "data-lightbox": "propertyerty-from-fo" do
              .property-photo{style: "background-image: url('#{picture.photo_url}')"}
        - elsif @present_imgs != []
          - @present_imgs.first(4).each do |number|
            = link_to "#{@property.send("img_#{number}_url")}", "data-lightbox": "propertyerty-from-fo" do
              .property-photo{style: "background-image: url('#{@property.send("img_#{number}_url")}')"}

    .v2-property-description-left-container
      .top-information-container
        .price
          - if @property.price
            = currency_format(@property.price)
        .white-text
          = "Frais d'agence inclus"

      .bottom-information-container

        - if @customer_choice
          - if @customer_choice.choice == "J'adore" || @customer_choice.choice == "J'aime"
            .d-flex-center
              .d-flex-column-center.already-give-choice-button
                .custom-ajax-link-deactivated
                  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/like.svg", width: "40"
                .like-text
                  = "J'ai adoré ce bien"
          - elsif @customer_choice.choice == "Je n'aime pas"
            .d-flex-center
              .d-flex-column-center.already-give-choice-button
                .custom-ajax-link-deactivated
                  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/unlike.svg", width: "40"
                .like-text
                  = "Je n'ai pas aimé ce bien"
        - else
          .customer-choice-right-container
            .custom-ajax-link.relative{"data-demand": "#{@demand.id.to_s}", "data-property": "#{@property.id.to_s}", "data-url": v2_ajaxified_choices_path, "data-action": "hate"}
              .like-text.absolute
                = "Je n'aime pas"
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/unlike.svg", width: "40"
            .custom-ajax-link.relative{"data-demand": "#{@demand.id.to_s}", "data-property": "#{@property.id.to_s}", "data-url": v2_ajaxified_choices_path, "data-action": "love"}
              .unlike-text.absolute
                = "J'aime, je visite"
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/like.svg", width: "40"



        .property-type
          = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/bed.svg", width: "17"
          - if @property.nb_sleeping_room > 1
            = "#{@property.nb_sleeping_room} Chambres"
          - else
            = "#{@property.nb_sleeping_room} Chambre"

        .details-information
          .detail
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
            - if @property.type_bien
              = @property.type_bien
            - if @property.property_type
              = @property.property_type

        .localisation-information
          .localisation
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
            - if @property.cp && @property.ville
              = "#{@property.cp} #{@property.ville}"
            - if @property.zipcode && @property.localisation
              = "#{@property.zipcode} #{@property.localisation}"

.v2-property-description-corps
  .corps-header
    La petite histoire
  .corps-text
    - if @property.corps
      = @property.corps

.v2-property-description-details
  .details-left-container
    .v2-about-general
      .general-header
        General
      .general-contents-container
        .contents-left
          .content-field
            Type de bien
          .content-field
            Prix
          .content-field
            Honoraires

        .contents-right
          .content
            - if @property.type_bien || @property.property_type
              - if @property.type_bien
                = @property.type_bien
              - if @property.property_type
                = @property.property_type
          .content
            - if @property.price
              = currency_format(@property.price)
          .content
            - if @property.fees_from
              = @property.fees_from

    .v2-about-inside
      .inside-header
        Intérieur
      .inside-contents-container
        .contents-left
          .content-field
            Nombre de pièces
          .content-field
            Nombre de chambres
          .content-field
            Exposition
          .content-field
            Chauffage
          .content-field
            Salle de bain
          .content-field
            Espace principal
          .content-field
            Surface habitable

        .contents-right
          - if @property.nb_room
            .content
              = @property.nb_room
          - if @property.nb_sleeping_room
            .content
              = @property.nb_sleeping_room
          - if @property.exposition
            .content
              = @property.exposition
          - if @property.format_chauffage
            .content
              = @property.format_chauffage
          - if @property.nb_bathrooms
            .content
              = @property.nb_bathrooms
          - if @property.living_space
            .content
              = @property.living_space
          - if @property.area
            .content
              = "#{@property.area} m²"

    .v2-about-diagnostic
      .diagnostic-header
        Diagnostic
      .diagnostic-contents-container
        .contents-left
          .content-field
            DPE
          .content-field
            GSE

        .contents-right
          .content{"data-dpe": "#{@property.dpe}"}
            - if @property.dpe
              .dpe-container
                .one
                  A
                .two
                  B
                .three
                  C
                .four
                  D
                .five
                  E
                .six
                  F
                .seven
                  G

          .content{"data-ges": "#{@property.ges}"}
            - if @property.ges
              .ges-container
                .one
                  A
                .two
                  B
                .three
                  C
                .four
                  D
                .five
                  E
                .six
                  F
                .seven
                  G


  .details-right-container
    .v2-about-localisation
      .localisation-header
        Localisation
      #property-map
        .map-markers

      .localisation-contents-container
        .contents-left
          .content-field
            Code postal
          .content-field
            Ville
          .content-field
            Exposition

        .contents-right
          .content
            - if @property.zipcode
              = @property.zipcode
          .content
            - if @property.localisation
              = @property.localisation
          .content
            - if @property.exposition
              = @property.exposition

    .v2-about-outside
      .outside-header
        Extérieur

      .outside-contents-container
        .contents-left
          .content-field
            Parking
          .content-field
            Jardin
        .contents-right
          .content
            - if @property.parking
              = @property.parking
          .content
            - if @property.garden
              = @property.garden

- if @property.pdf_url
  .d-flex-center
    .v2-property-description-button
      = link_to "#{@property.pdf_url}", target: "_blank" do
        .bcs-button-sm-animation-line
          Je télécharge le PDF
          .line-1
          .line-2
          .line-3
          .line-4

.custom-modal-container-v2.hidden
  .modal-v2
    .modal-closer-v2
      = svg("customer-hate")
    .modal-content-v2



