.modal-contents
  .modal-contents-header
    J'aime ce bien...
  .d-flex-start
    .modal-contents-text
      Aidez-nous à affiner nos propositions... Que retenez-vous de cette offre ?

  = form_tag(customer_choice_like_path(property_id: @property.id.to_s, demand_id: @demand.id.to_s), method: :post, class: "v2-customer-like-form") do
    .d-flex-between.mb-25
      .d-flex-column.fullwidth
        = tag.textarea name: "comment", placeholder: "Mon commentaire"
        .modal-contents-text
          J'attribue une note générale

        .d-flex-center
          .star-rating
            .end-hint A fond !
            - {1 => 5,2 => 4,3 => 3,4 => 2,5 => 1}.each do |key,value|
              %input{name: "rating", type: "radio", value: "#{value}", id: "love-#{@property.id.to_s}-#{key}-stars"}
              %label.star{for: "love-#{@property.id.to_s}-#{key}-stars"} &bigstar;
            .start-hint Pas du tout

    .d-flex-center
      = button_tag "J'envoie", class: 'bcs-button-sm-animation-filling'
