.v2-responsive-second-content-item-container-hidden
  .v2-responsive-container
    .v2-responsive-items

      .v2-responsive-block-properties
        .v2-responsive-block-header Mes offres
        - if @properties && @properties.any?
          - @properties.to_a.first(3).each_with_index do |prop, index|
            .v2-responsive-block-property
              - if prop.images_array
                .responsive-photo-left-container{style: "background-image: url('#{prop.images_array.last if prop.images_array != []}');"}

              - elsif prop.pictures.any?
                .responsive-photo-left-container{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}');"}

              - elsif prop.img_1_url
                .responsive-photo-left-container{style: "background-image: url(#{prop.img_1_url});"}

              - else
                .responsive-photo-left-container{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

              .responsive-infos-right-container.relative
                .responsive-top-right-container
                  .responsive-main-infos
                    - if prop.type_bien && prop.nb_room
                      = "#{prop.type_bien} #{prop.nb_room} pièces"
                    - if prop.property_type && prop.nb_room
                      = "#{prop.property_type} #{prop.nb_room} pièces"
                  .responsive-price
                    - if prop.price
                      = "#{prop.price} €"

                .responsive-between-right-container
                  .responsive-detail
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                    = prop.nb_room
                  .responsive-detail
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                    = surface_format(prop.area)
                  .responsive-detail
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
                    - if prop.type_bien
                      = prop.type_bien
                    - if prop.property_type
                      = prop.property_type

                .responsive-bottom-right-container
                  .responsive-localisation
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                    - if prop.cp && prop.ville
                      = "#{prop.cp} #{prop.ville}"
                    - if prop.zipcode && prop.localisation
                      = "#{prop.zipcode} #{prop.localisation}"

                = link_to v2_customer_dashboard_property_path(property_id: prop.id.to_s), target: "_blank" do
                  .v2-customer-property-button.absolute

          .v2-responsive-block-property-button
            = link_to v2_customer_dashboard_properties_path do
              .bcs-button-sm-animation-filling.box-shadow
                Je veux la suite

        - else
          .v2-responsive-block-empty-content
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "270"
          .v2-responsive-block-empty-content-text
            Ma quête se poursuit, les agences sont en recherche !
            %br
            Je vais recevoir plus de propositions de visites si je sélectionne de nouveaux biens


      .v2-responsive-block-advices.gray
        .v2-responsive-block-header Le conseil du moment !
        .v2-responsive-block-content
          .v2-responsive-blog-post
            .post-image{style: "background-image: url(#{@post.photo_url}); height: 200px;"}
            .post-content
              .post-name
                = @post.name
              .post-title
                = @post.title.truncate(160)
              .post-link
                = link_to "Lire la suite", post_path(cat_lname: @post.blog_category.lname,lname: @post.lname), target: "_blank"

      .v2-responsive-block-gift.gray
        .v2-responsive-left-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/guide.svg');"}
        .v2-responsive-right-block
          .v2-responsive-block-sup-header
            Bon plan : c'est cadeau !
          .v2-responsive-block-sub-header
            Mon guide de recherche
          .v2-responsive-block-content
            Je renseigne mon email pour le recevoir !

          = form_tag("", method: :get, :class => "form-estimation") do
            %input.form-control.mt-20.bold{placeholder:"Mon mail"}
            .d-flex-center.mt-25
              = submit_tag "Je reçois", class: "v2-responsive-bcs-button-limegreen"

      .v2-responsive-block-socials.green
        .v2-responsive-block-header.white-text Sur les réseaux sociaux
        .v2-responsive-block-links
          = link_to 'https://www.facebook.com/bientotchezsoi/', target: "_blank" do
            %i.fa.fa-facebook-f{style: "font-size: 3.4rem ; color: white"}
          = link_to 'https://www.instagram.com/bientotchezsoi/', target: "_blank" do
            %i.fa.fa-instagram{style: "font-size: 3.4rem ; color: white"}
          = link_to 'https://twitter.com/bientotchezsoi?lang=fr', target: "_blank" do
            %i.fa.fa-twitter{style: "font-size: 3.4rem ; color: white"}
          = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/', target: "_blank" do
            %i.fa.fa-linkedin{style: "font-size: 3.4rem ; color: white"}
          = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber', target: "_blank" do
            %i.fa.fa-youtube{style: "font-size: 3.4rem ; color: white"}

