.side-navbar
  .side-navbar-header
    - if @demand.man_persona
      = handle_avatar(@demand.man_persona)
    - elsif @demand.woman_persona
      = handle_avatar(@demand.woman_persona)
    / - else
    /    - if handle_genre(@demand.customer.first_name) == "2"
    /       = handle_avatar(@man)
    /   - else
    /     = handle_avatar(@rwoman)

    .customer-name
      = "#{current_customer.first_name} #{current_customer.last_name}"
    .customer-email
      = current_customer.email.truncate(20)

  .gray-seperate-border

  .side-navbar-content
    .side-navbar-link-item
      .inline-svg
        = svg("test-dashboard")
      = link_to v2_customer_dashboard_path do
        .item-text Tableau de bord
    .side-navbar-link-item
      .inline-svg
        = svg("house")
      = link_to v2_customer_dashboard_properties_path do
        .item-text Mes offres
    .side-navbar-link-item
      .inline-svg
        = svg("heart")
      = link_to v2_selection_path do
        .item-text Ma sélection
    .side-navbar-link-item
      .inline-svg
        = svg("purpose")
      = link_to v2_journey_path do
        .item-text Mon parcours
    .side-navbar-link-item
      .inline-svg
        = svg("fidelity")
      = link_to v2_mores_path do
        .item-text Mes petits plus
    .side-navbar-link-item
      .inline-svg
        = svg("tete-castor")
      = link_to v2_advices_path do
        .item-text Mes conseils
    .side-navbar-link-item
      .inline-svg
        = svg("message-comment")
      = link_to v2_customer_dashboard_messages_path do
        .item-text.relative
          Messagerie
          - if @count
            - if @count > 0
              .customer-absolute-message-count.absolute
                = @count
    .side-navbar-link-item
      .inline-svg
        = svg("customer-user")
      = link_to edit_customer_registration_path do
        .item-text Mon profil
