.admin-container
  .content
    .header
      = "Modifier #{@press_release.title}"

    = simple_form_for [:admin, @press_release] do |f|
      = f.input :title, label: "Titre"
      = f.input :content, label: "Description", as: :text

      = f.input :pdf, label: "Fichier PDF"
      = f.hidden_field :pdf_cache

      = f.input :photo, label: "Photo"
      = f.hidden_field :photo_cache


      .d-flex-start.mt-25
        = f.submit "modifier #{@press_release.title.downcase}", class: "bcs-button-sm-special"
