.admin-container
  .content
    .header.mt-25
      communiqués de presse
    .d-flex-start.mt-25
      = link_to "CRÉER UN COMMUNIQUÉ", new_admin_press_release_path, class: "bcs-button-sm-special"

    - if @press_releases.size == 0
      = "Il n'y a pas de communiqué de presse"
    - else
      - @press_releases.each do |press|
        .press-release-item
          .left-block{style: "background-image: url('#{press.photo_url}')"}
          .right-block
            .title
              = press.title
            .small.bold.sub-title
              = "Ajouté le #{l(press.created_at, format: :medium)}"
            .block-content
              = press.content
            .absolute-buttons-container
              = link_to press.pdf_url, target: "_blank", class: "btn btn-default btn-sm btn-custom-size" do
                .fa.fa-file-pdf-o
              = link_to admin_press_release_path(press), target: "_blank", class: "btn btn-primary btn-sm btn-custom-size" do
                .fa.fa-eye
              = link_to edit_admin_press_release_path(press), class: "btn btn-success btn-sm btn-custom-size" do
                .fa.fa-edit

              = link_to admin_press_release_path(press), method: :delete, class: "btn btn-danger btn-sm btn-custom-size", data: {confirm: "Attention cette action est irréversible"} do
                .fa.fa-times

