.admin-container
  .content
    .header
      Création de communiqué de presse

    = simple_form_for [:admin, @press_release] do |f|
      = f.input :title, label: "Titre"
      = f.input :content, label: "Description", as: :text

      = f.input :pdf, label: "Fichier PDF"
      = f.hidden_field :pdf_cache

      = f.input :photo, label: "Photo"
      = f.hidden_field :photo_cache


      .d-flex-start.mt-25
        = f.submit "CRÉER UN COMMUNIQUÉ DE PRESSE", class: "bcs-button-sm-special"
