- if final_step
  %section.survey-signup-fullform-section

    .absolute-waiting-container.hidden
      = "Envoi du SMS de validation"
      .fa.fa-refresh.fa-spin

    #survey-signup-sms
      .signup-sms-title
        = "Je m'inscris"
      .inline-svg
        = svg("k-inscription")
      .custom-form-container.sms-validation
        = form_tag(sms_validations_path, method: :post, id: "sms-validation-form-v2") do
          .form-inline-container-v2
            .form-inline
              .absolute-phone-icon
                .fa.fa-phone
              %input.form-control#phone-input{type: "tel", name: "phone", placeholder: "Je saisis mon numéro", autocomplete: "off"}
            .signup-sms-hint Je reçois un SMS pour valider mon compte
            .form-inline
              %input.bcs-button-sm-special#sms-val-button.disabled{type: "submit", value: "Je reçois le code", disabled: true}


      .custom-form-container.sms-return-code.hidden
        #sms-return-code
          = form_tag(sms_return_path, method: :post, id: "sms-return-form-v2") do
            .form-inline-container-v2
              .form-inline
                %input.form-control{type: "text",name: "code", placeholder: "Je rentre mon code"}
              .signup-sms-hint
              .form-inline.mt-25
                %input.bcs-button-sm-special{type: "submit", value: "Je valide"}


    #survey-signup-form.insurvey-customer-form.hidden
      = simple_form_for(Customer.new, as: "customer", url: registration_path(Customer.new), validate: true) do |f|
        .custom-form-container
          .form-inputs
            .row
              .col-xs-12.col-md-6
                - if @demand.firstname
                  = f.input :first_name, placeholder: "Prénom", label: false, input_html: {value: @demand.firstname}
                - else
                  = f.input :first_name, placeholder: "Prénom", label: false
              .col-xs-12.col-md-6
                = f.input :last_name, placeholder: "Nom", label: false
              .col-xs-12.col-md-6
                - if @demand.email
                  = f.input :email, placeholder: "Adresse de courriel", label: false, input_html: {value: @demand.email}
                - else
                  = f.input :email, placeholder: "Adresse de courriel", label: false
                = f.input :phone, as: :hidden
              .col-xs-12.col-md-6
                = f.input :city, placeholder: "Ville", label: false
              .col-xs-12.col-md-6
                = f.input :password, placeholder: 'Mot de passe', label: false, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
              .col-xs-12.col-md-6
                = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false
              .col-xs-12.col-md-6
                = f.input :country, priority: ["FR","DE","IT","ES"], as: :country, label: false
              .col-xs-12.col-md-6
                = f.input :promo_code, placeholder: "J'ai un code promo", label: false
          .row
            .col-xs-12
              .form-actions-cgu
                = f.input :cgu, as: :boolean, label: "Accepter "
                %span
                  = link_to "les conditons générales d'utilisation", "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pdfs/legals/conditions-generales-utilisation.pdf", target: "_blank"
          .form-actions
            = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-sm-special'

- else
  %section.survey-signup-fullform-section

    .absolute-waiting-container.hidden
      = "Envoi du SMS de validation"
      .fa.fa-refresh.fa-spin

    #survey-signup-sms
      .signup-sms-title
        = "Je m'inscris"
      .inline-svg
        = svg("k-inscription")
      .custom-form-container.sms-validation
        = form_tag(sms_validations_path, method: :post, id: "sms-validation-form-v2") do
          .form-inline-container-v2
            .form-inline
              .absolute-phone-icon
                .fa.fa-phone
              %input.form-control#phone-input{type: "tel", name: "phone", placeholder: "Je saisis mon numéro", autocomplete: "off"}
            .signup-sms-hint Je reçois un SMS pour valider mon compte
            .form-inline
              %input.bcs-button-sm-special#sms-val-button.disabled{type: "submit", value: "Je reçois le code", disabled: true}


      .custom-form-container.sms-return-code.hidden
        #sms-return-code
          = form_tag(sms_return_path, method: :post, id: "sms-return-form-v2") do
            .form-inline-container-v2
              .form-inline
                %input.form-control{type: "text",name: "code", placeholder: "Je rentre mon code"}
              .signup-sms-hint
              .form-inline.mt-25
                %input.bcs-button-sm-special{type: "submit", value: "Je valide"}


    #survey-signup-form.insurvey-customer-form.hidden
      = simple_form_for(Customer.new, as: "customer", url: registration_path(Customer.new), validate: true) do |f|
        .custom-form-container
          .form-inputs
            .row
              .col-xs-12.col-md-6
                - if @demand.firstname
                  = f.input :first_name, placeholder: "Prénom", label: false, input_html: {value: @demand.firstname}
                - else
                  = f.input :first_name, placeholder: "Prénom", label: false
              .col-xs-12.col-md-6
                = f.input :last_name, placeholder: "Nom", label: false
              .col-xs-12.col-md-6
                - if @demand.email
                  = f.input :email, placeholder: "Adresse de courriel", label: false, input_html: {value: @demand.email}
                - else
                  = f.input :email, placeholder: "Adresse de courriel", label: false
                = f.input :phone, as: :hidden
              .col-xs-12.col-md-6
                = f.input :city, placeholder: "Ville", label: false
              .col-xs-12.col-md-6
                = f.input :password, placeholder: 'Mot de passe', label: false, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
              .col-xs-12.col-md-6
                = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false
              .col-xs-12.col-md-6
                = f.input :country, priority: ["FR","DE","IT","ES"], as: :country, label: false
              .col-xs-12.col-md-6
                = f.input :promo_code, placeholder: "J'ai un code promo", label: false

          .row
            .col-xs-12
              .form-actions-cgu
                = f.input :cgu, as: :boolean, label: "Accepter les conditions générales d'utilisation"
          .form-actions
            = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-sm-special'

    #survey-continue-block
      .continue-block-text Je ne vous ai pas encore tout dit
      .inline-svg
        = svg("castor-projet")
      %input.bcs-button-sm-special#continue-button{type: "submit", value: "Je continue"}
