<div class="container">
  <h2>Mes infos</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :city %>
      <%= f.input :country %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "laissez ce champ vide si vous ne voulez pas effectuer de changement", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "Nous avons besoin de votre mot de passe actuel pour confirmer les changements", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour", class: "bcs-button-sm" %>
    </div>
  <% end %>

  <h3>Effacer mon compte</h3>

  <p>Disparaitre du site <%= link_to "Effacer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Retour", :back %>

</div>
