%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .d-flex-center
      .big-title Mon profil
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        .row
          .col-xs-12
            = f.input :email, label: "Email"
          .col-xs-12.col-md-6
            = f.input :first_name, label: "Prénom"
          .col-xs-12.col-md-6
            = f.input :last_name, label: "Nom"
          .col-xs-12.col-md-6
            = f.input :city, label: "Ville", input_html: {id: 'user_input_autocomplete_address'}
          .col-xs-12.col-md-6
            = f.input :country, label: "Pays", priority: ["FR","DE","IT","ES"], as: :country
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for:
            = resource.unconfirmed_email
        .row
          .col-xs-12.col-md-6
            = f.input :password, autocomplete: "off", hint: "laissez ce champ vide si vous ne voulez pas effectuer de changement", required: false, label: "Nouveau mot de passe"
          .col-xs-12.col-md-6
            = f.input :password_confirmation, required: false, label: "Confirmation du nouveau mot de passe"
          .col-xs-12
            = f.input :current_password, hint: "Nous avons besoin de votre mot de passe actuel pour confirmer les changements", required: true, label: "Mot de passe actuel"
      .form-actions
        = f.button :submit, "Mettre à jour", class: "bcs-button-sm mr-10"
        = link_to "Annuler", :back, class: "bcs-button-sm"

