.devise-form-margin
  .custom-form-container
    .row
      .col-xs-12.col-md-offset-3.col-md-6
        .authenticated_header
          %h4
            = "Nouveau Castor ?"
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/customer-signup-kenotte.svg"
      .col-xs-12.col-md-offset-3.col-md-6
        .form-title-signup
          = "Je saisis mon numéro de téléphone mobile pour sécuriser mon inscription."


  - if !resource.errors.any?

    .custom-form-container
      = form_tag(sms_validations_path, method: :post, id: "sms-validation-form") do
        .form-inline-container
          .form-inline
            %input.form-control{type: "tel", name: "phone", placeholder: "0611100908"}
            %input.bcs-button-xxs-light{type: "submit", value: "JE VALIDE"}

    .custom-form-container
      #sms-return-code.hidden
        = form_tag(sms_return_path, method: :post, id: "sms-return-form") do
          .form-inline-container
            .form-inline
              %input.form-control{type: "text",name: "code", placeholder: "Xw7j05"}
              %input.bcs-button-xxs-light{type: "submit", value: "JE VALIDE"}

    #new-customer-container.hidden
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        = resource.errors.full_messages
        .custom-form-container
          .form-inputs
            .row
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :email, placeholder: "Adresse de courriel", label: false, required: true
                = f.input :phone, as: :hidden
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :first_name, placeholder: "Prénom", label: false, required: true
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :last_name, placeholder: "Nom", label: false, required: true
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :country, priority: ["FR","DE","IT","ES"], as: :country, label: false
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :city, placeholder: "Ville", label: false
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :password, placeholder: 'Mot de passe', label: false, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false, required: true
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :promo_code, label: "J'ai un code promo"
          .form-actions.mt-25
            = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-xxs-light'

  - else

    #new-customer-container
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .custom-form-container
          .form-inputs
            .row
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :email, placeholder: "Adresse de courriel", label: false, required: true
                = f.input :phone, as: :hidden
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :first_name, placeholder: "Prénom", label: false, required: true
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :last_name, placeholder: "Nom", label: false, required: true
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :country, priority: ["FR","DE","IT","ES"], as: :country, label: false
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :city, placeholder: "Ville", label: false
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :password, placeholder: 'Mot de passe', label: false, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false, required: true
              .col-xs-12.col-md-offset-3.col-md-6
                = f.input :promo_code, placeholder: "J'ai un code promo", label: false
          .form-actions
            = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-xxs-light'


