.container.hidden
  - Question.all.sort_by{|question| question.position}.each do |question|
    .panel
      - question.fields.keys.each do |field|
        .d-flex-start
          .small.bold
            = field
          .small.green-text
            = question[field.to_sym]
      - question.v2_answers.each do |answer|
        .badge
          - answer.fields.keys.each do |field|
            .small.bold
              = field
            .small.green-text
              = answer[field.to_sym]


.container
  .vvv-new-question
    .title Créer une question
    = form_tag(v2_new_question_path, method: :post) do
      .d-flex-start
        - {"radio": "radio","checkbox": "checkbox","text": "text","multi": "multi-types","radio_with_image": "radio avec icone","checkbox_with_image": "checkbox avec icone"}.each_with_index do |(key,value),index|
          .form-group.custom-radio-new-question
            = tag.input type: :radio, name: "question[question_type]", id: "new_question_#{index+1}", value: key
            = tag.label value, for: "new_question_#{index+1}"
      .form-group
        = tag.label "Question obligatoire", for: "question_required"
        = tag.input type: "checkbox", id: "question_required", name: "question[required]", value: true
      .form-group
        = tag.label "Label", for: "question_label"
        = tag.input type: :text, name: "question[label]", id: "question_label", class: "form-control"
      .form-group
        = tag.label "Position", for: "question_position"
        = tag.input type: :numeric, name: "question[position]", id: "question_position", value: (Question.all.sort_by{|question| question.position}.last.position.to_i + 1), class: "form-control"
      .form-group
        = tag.label "Attribut de la demande", for: "question_demand_attribute"
        = select_tag 'question[demand_attribute]', options_for_select(V2Demand.fields.keys), class: "form-control", id: "question_demand_attribute"

      .current-question-answers-form
        .title
          = "Réponse 1"
        = fields_for :v2_answers_attributes do |v2_answer_fields|
          .d-flex-start
            - {"radio": "radio","checkbox": "checkbox","text": "texte","textarea": "textarea","numeric": "numerique"}.each_with_index do |(key,value),index|
              .form-group.custom-radio-new-answer
                = tag.input type: :radio, name: "v2_answers_attributes[answer_type]", id: "new_answer_#{index+1}", value: key
                = tag.label value, for: "new_answer_#{index+1}"

          .form-group
            = v2_answer_fields.label "Texte"
            = v2_answer_fields.text_field :text, class: "form-control"
          .form-group
            = v2_answer_fields.label "Ordre"
            = v2_answer_fields.number_field :order, class: "form-control", value: 1


      = submit_tag "Créer une question", class: "btn btn-default"



  - @questions.sort_by{|survey| survey.position}.each_with_index do |survey,index|
    .vvv-full-survey
      = form_tag(v2_survey_orderable_path, method: :post) do
        = hidden_field_tag :question_id, survey.id.to_s
        = hidden_field_tag :original_position, survey.position
        .d-flex-start.mb-20
          .vvv-radio-input
            - @questions.size.times do |number|
              - if (number + 1) == survey.position.to_i
                = tag.input type: :radio, name: "question[position]", id: "question-#{index+1}-#{number+1}", checked: true, value: number + 1
                = tag.label (number+1), for: "question-#{index+1}-#{number+1}" do
                  = number+1
                  .position-hint
                    = "Position originale"
              - else
                = tag.input type: :radio, name: "question[position]", id: "question-#{index+1}-#{number+1}", value: number + 1
                = tag.label (number+1), for: "question-#{index+1}-#{number+1}"
          = submit_tag "changer la position", class: "custom-reorder-btn"
      .vvv-survey-container
        .position
          = survey.position
        .resume
          = survey.label
          = link_to edit_v2_question_path(survey) do
            .fa.fa-edit
        - if survey.required
          .required
            = "Question obligatoire"
        - else
          .required.optionnal
            = "Question facultative"
        = survey.id.to_s
      .vvv-survey-label
      .vvv-answer-container
        .vvv-title Réponses
        - survey.v2_answers.sort_by{|answer| answer.order}.each do |answer|
          .vvv-answer-item
            - if answer.text
              = answer.text
            - else
              = "Champ libre"
            .d-flex-start
              - if answer.score
                .answer-score
                  = "#{answer.score} points"
              - if answer.input_hint
                .answer-type
                  = answer.input_hint
              .answer-type.pink
                = answer.demand_attribute
              .answer-type
                = answer.answer_type
              .answer-identifier
                = answer.auto_identifier
              = link_to edit_v2_v2_answer_path(answer) do
                .fa.fa-edit
      - if survey.sentence
        .vvv-sentence-container
          .sentence-container-title
            = "Phrase Kenotte"
            = link_to edit_v2_sentence_path(survey.sentence) do
              .fa.fa-edit
          .d-flex-start
            = survey.sentence.content
            - if survey.demand_attribute
              .dynamic-attribute
                = survey.sentence.demand_attribute
            - if survey.sentence.content_after_variable
              = survey.sentence.content_after_variable


      - if survey.v2_condition
        .vvv-conditions-container
          .vvv-title Cette question s'affiche si :
          .vvv-condition-item
            .condition-field
              = survey.v2_condition.demand_field
            - if survey.v2_condition.operator.to_sym == :equal
              .inline-svg
                = svg("equal")
            - elsif survey.v2_condition.operator.to_sym == :not_equal
              .inline-svg
                = svg("not-equal")
            = V2Answer.where(auto_identifier: survey.v2_condition.value.to_i).last.text
            - if survey.v2_condition.child_v2_condition
              - if survey.v2_condition.children_operator.to_sym == :or
                .children-operator
                  = "OU"
              - elsif survey.v2_condition.children_operator.to_sym == :and
                .children-operator
                  = "ET"
              = survey.v2_condition.child_v2_condition.demand_field
              - if survey.v2_condition.child_v2_condition.operator.to_sym == :superior
                .children-operator.orange
                  = ">"
              - elsif survey.v2_condition.child_v2_condition.operator.to_sym == :inferior
                .children-operator.orange
                  = "<"


              - if survey.v2_condition.child_v2_condition.operator.to_sym == :equal
                .inline-svg
                  = svg("equal")
              - elsif survey.v2_condition.child_v2_condition.operator.to_sym == :not_equal
                .inline-svg
                  = svg("not-equal")
              = V2Answer.where(auto_identifier: survey.v2_condition.child_v2_condition.value.to_i).last.text


              - if survey.v2_condition.child_v2_condition.hard_stock
                = survey.v2_condition.child_v2_condition.value
              - if survey.v2_condition.child_v2_condition.child_v2_condition
                - if survey.v2_condition.child_v2_condition.children_operator.to_sym == :or
                  .children-operator
                    = "OU"
                - elsif survey.v2_condition.child_v2_condition.children_operator.to_sym == :and
                  .children-operator
                    = "ET"
                = survey.v2_condition.child_v2_condition.child_v2_condition.demand_field
                - if survey.v2_condition.child_v2_condition.child_v2_condition.operator.to_sym == :equal
                  .inline-svg
                    = svg("equal")
                - elsif survey.v2_condition.child_v2_condition.child_v2_condition.operator.to_sym == :not_equal
                  .inline-svg
                    = svg("not-equal")
                - elsif survey.v2_condition.child_v2_condition.child_v2_condition.operator.to_sym == :superior
                  .children-operator.orange
                    = ">"
                - elsif survey.v2_condition.child_v2_condition.child_v2_condition.operator.to_sym == :inferior
                  .children-operator.orange
                    = "<"
                - if survey.v2_condition.child_v2_condition.child_v2_condition.hard_stock
                  = survey.v2_condition.child_v2_condition.child_v2_condition.value
                - else
                  = survey.v2_condition.child_v2_condition.child_v2_condition.value
                  = V2Answer.where(auto_identifier: survey.v2_condition.child_v2_condition.child_v2_condition.value.to_i).last.text
          = link_to "Modifier cette condition", edit_v2_v2_condition_path(id: survey.v2_condition.id.to_s, question_id: survey.id.to_s), class: "btn btn-primary"
          = link_to "Supprimer la condition - #{survey.v2_condition.demand_field}", v2_v2_condition_path(survey.v2_condition, question: survey.id.to_s, level: 1), method: :delete, class: "btn btn-default"
          - if survey.v2_condition.child_v2_condition
            = link_to "Supprimer la condition - #{survey.v2_condition.child_v2_condition.demand_field}", v2_v2_condition_path(survey.v2_condition.child_v2_condition, question: survey.id.to_s, level: 2), method: :delete, class: "btn btn-default"
          = link_to "Ajouter une autre condition", new_v2_v2_condition_path(question_id: survey.id, condition_id: survey.v2_condition.id.to_s), class: "btn btn-danger"

      - else
        = link_to "Ajouter une condition", new_v2_v2_condition_path(question_id: survey.id), class: "btn btn-danger"


.container
  #sample
    #myDiagramDiv{:style => "background-color: white; border: solid 1px rgb(160,160,160); width: 100%; height: 1000px"}
    %p
      %button#zoomToFit Zoom to Fit
      %button#centerRoot Center on root



%script{src:"https://cdnjs.cloudflare.com/ajax/libs/gojs/2.0.5/go.js"}


