#map

/ MODAL AIDE
#modal_aide.modal.fade{tabindex: "-1",role: "dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
      .modal-body.text-center
        %p
          %strong
            A droite
          avec les outils "Mes centres d’Intérêts", je peux faire apparaitre des informations clefs
          %br

          %strong
            A gauche
          avec les outils disponibles, je définie la zone où je souhaite habiter.
          %br

          %strong
            "Ma ville"
          je peux modifier cette dernière en cliquant sur l’outil "crayon" à côté du nom de la commune.
          %br

          %strong
            "Ma Zone de recherche"
          %br

          %strong
            Première étape :
          Je définie ma zone en cliquant sur l’outil "o".
          Je peux ensuite la modifier ou la supprimer à l’aide des outils situés sur la palette de gauche de mon écran.
          %br

          %strong
            Deuxième étape :
          ça y est ma zone de recherche est correcte : je vais pouvoir passer à la suite en cliquant sur « J’enregistre ».

        %button.btn.btn-default.btn-validation{"data-dismiss":"modal"}
          OK, J'AI COMPRIS !


/ MODAL ENREGISTRE
#modal_enregistre.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body.text-center
        %button.close#modal-generic-close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
        %p.text-center.modal-content-text
          Localisation validée ! Il ne me reste plus qu’à décrire le bien qui fera chavirer mon cœur ❤️
        = link_to "JE POURSUIS !!", v2_new_survey_path(demand_id: @demand.id.to_s), class: "bcs-button-sm mt-25"



#modal_results.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body
      .modal-footer
        .d-flex-center
          .progress-title.hidden
            Recherche des agences impactées ...
        .progress-container.hidden.d-flex-center
          .progress-text.bold
            0%
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 0%;"}
        .d-flex-center.links-progress-map.hidden
          .bcs-button-sm.mr-10{"data-dismiss": "modal"}
            JE MODIFIE
          = link_to "JE POURSUIS", v2_new_survey_path(demand_id: @demand.id.to_s), class: "bcs-button-sm"


#modal_empty_results.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body
      .modal-footer
        .d-flex-center
          .bcs-button-sm{"data-dismiss": "modal"}
            JE MODIFIE



#modal_waiting.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body
        .d-flex-center.mb-20
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "100"
        .d-flex-center
          .bold
            Calcul en cours
        .d-flex-center
          .fa.fa-refresh.fa-spin



/ MODAL TROP DE CODES POSTAUX
#modal-exceed-perimeter.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        / = image_tag "test", alt: "recherche immobilier"
        %button.close{type:"button","data-dismiss":"modal"}
          %span
            &times;
      .modal-body.text-center
        %p.text-center
          Votre zone de recherche est trop grande.
          %br
          Merci de réduire ou de supprimer des zones.
        %button.btn.btn-default.btn-validation{type:"button","data-dismiss":"modal"}
          OK, J'AI COMPRIS !


#modal-email-request.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body.text-center
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
        %p.text-center
          %strong
            Veuillez saisir votre e-mail
          %br
          Pour sauvergarder votre demande, nous avons besoin de votre email.
        / = image_tag "test", alt: "recherche immobilier"
        = link_to "JE VALIDE MON EMAIL", questionnaire_path, class: "bcs-button-sm"




#autocomplete-empty-result.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body.text-center
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
        .unfindable-address-container
          .city
          .content
        .bcs-button-sm{type:"button","data-dismiss":"modal"}
          ESSAYER UNE AUTRE ADRESSE


#unknowed-location.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        %button.close{type:"button","data-dismiss":"modal"}
          %span
            &times;
      .modal-body.text-center
        %p.text-center
          Localisation inconnue. La zone de recherche est limitée à la france
          %br
          Merci de changer de zone.
        %button.btn.btn-default.btn-validation{type:"button","data-dismiss":"modal"}
          OK, J'AI COMPRIS !



%script{src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA&libraries=places'}

