%section.v2-survey-section
  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/formeOrange.svg", id: "orange-form"
  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/formeVerte.svg", id: "green-form"
  .customer-answers-container

  .question-container
    - if @question.sentence
      = render "v2/pages/partials/question_label"
    .fullform-container{id: "fullform-container-#{@question.position}"}
      = form_tag(v2_next_survey_v2_path, method: :post,id: "question-form-#{@question.position}",class: "question-form","data-position": @question.position) do

        = render "v2/pages/partials/hidden_fields"
        = render "v2/pages/partials/client_side_condition"

        .custom-carret-container
          .custom-carret

        .question-item
          .answers-container
            - if @question.advanced_checkbox
              = render "v2/pages/partials/answer_illustrated_checkboxes"
            - elsif @question.image && @question.question_type == "radio"
              = render "v2/pages/partials/answer_radios_with_uniq_image"
            - elsif @question.image && @question.question_type == "checkbox"
              = render "v2/pages/partials/answer_checkbox_with_uniq_image"
            - elsif @question.client_request
              = render "v2/pages/partials/answer_multitypes"
            - elsif @question.advanced_radio
              = render "v2/pages/partials/answer_illustrated_radios"
            - else
              - @question.v2_answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
                - if answer.answer_type.to_sym == :radio
                  = render "v2/pages/partials/answer_radio", answer: answer, index: index
                - elsif answer.answer_type.to_sym == :numeric
                  = render "v2/pages/partials/answer_numeric", answer: answer, index: index
                - elsif answer.answer_type.to_sym == :checkbox
                  = render "v2/pages/partials/answer_checkbox", answer: answer, index: index
                - elsif answer.answer_type.to_sym == :text
                  = render "v2/pages/partials/answer_text", answer: answer, index: index
                - elsif answer.answer_type.to_sym == :textarea
                  = render "v2/pages/partials/answer_textarea", answer: answer, index: index
                - else
                  = "Another input format"

        = render "v2/pages/partials/form_buttons"
      .customer-avatar
        .inline-svg
          - if @demand.gender
            - if @demand.gender.downcase == "un homme"
              = svg("user-man")
            - elsif @demand.gender.downcase == "une femme"
              = svg("user-woman")
          - else
            = svg("user-unknown")

  = render "v2/pages/partials/stepper"

