- if @prop_response
  .container.api-return-items
    .api-return-item
      .item-title
        = @prop_response["title"].downcase.capitalize.strip.truncate(55)
      .item-price
        - if @prop_response["price"]
          = "#{number_with_delimiter(@prop_response["price"].to_i, locale: :fr)} €"
      .item-status-code
        = status_code_humanized(@prop_response["status_code"].to_i)
      .item-separator

      .item-header
        Le bien
      .item-prop-type
        .type-subtitle
          Type
        - if @prop_response["property_type_code"]
          = property_type_string(@prop_response["property_type_code"].to_i)
      .item-prop-type
        .type-subtitle
          Surface
        - if @prop_response["area"]
          = "#{@prop_response['area']} m²"
      .item-prop-type
        .type-subtitle
          Ville
        - if @prop_response["city"]
          = @prop_response['human_city'].capitalize
      .item-prop-type
        .type-subtitle
          Code postal
        - if @prop_response["zipcode"]
          = @prop_response['zipcode']
      .item-prop-type
        .type-subtitle
          Département
        - if @prop_response["county"]
          = french_human_counties(@prop_response["county"].to_s)

      .item-created-at
        = "#{@prop_response["hektor_updated_at"]}"

      .item-header
        Description
      .item-body
        - if @prop_response["corps"]
          = @prop_response["corps"].html_safe
      - if handle_equipments(@prop_response)
        .item-header
          Les equipements
        .item-equipments
          - handle_equipments(@prop_response).each do |hash_values|
            .equipment-item
              .inline-svg
                = svg("#{hash_values[:icon]}")
              = "#{hash_values[:text]}"

      - if handle_heating(@prop_response)
        .item-header
          Le chauffage
        .item-heating
          .heating-full-item
            .inline-svg
              = svg("flux-heater")
            - handle_heating(@prop_response).each do |hash_values|
              .spec
                .bold
                  = "#{hash_values[:text]}"
                .colored
                  = hash_values[:content]

.container{class: "#{'hidden' if @prop_response}"}
  = form_tag(v2_start_path, method: :get, class: "bcs-api-form-request") do
    .d-flex-start
      .flux-icon
        .inline-svg
          = svg("flux-gear")
      .search-item
        .form-group
          = tag.input type: "text", name: "city", id: "city", class: "form-control", placeholder: "Ville"

      .search-item
        .form-group
          = tag.input type: "text", name: "min_price", id: "min_price", class: "form-control", placeholder: "Prix min"

      .search-item
        .form-group
          = tag.input type: "text", name: "max_price", id: "max_price", class: "form-control", placeholder: "Prix max"

      .search-item
        .form-group
          = tag.input type: "text", name: "min_area", id: "min_area", class: "form-control", placeholder: "Surface min"

      .search-item
        .form-group
          = tag.input type: "text", name: "max_area", id: "max_area", class: "form-control", placeholder: "Surface max"

      .search-item
        .form-group
          = tag.input type: "text", name: "zipcode", id: "zipcode", class: "form-control", placeholder: "Code postal"

      .search-item
        .form-group
          = select_tag "county", options_for_select(french_county_list, disabled: "Département", selected: "Département"), class: "form-control"

      .search-item
        .form-group
          = select_tag "type", options_for_select(prop_type_list_with_value, disabled: ["Type de bien",""], selected: ["Type de bien",""]), class: "form-control"

      .search-item
        .form-group
          = select_tag "status", options_for_select(prop_status_list_with_value, disabled: ["Statut",""], selected: ["Statut",""]), class: "form-control"

    .full-height
      = button_tag do
        .d-flex-start
          .bold Rechercher


.container.api-return-items{class: "#{'hidden' if @prop_response}"}
  - if @response.first.include?("data")
    .d-flex-center
      .error
        = @response["data"]
  - else
    .request-recap-container
      .request-left-block
        .result-count{style: "color: #{handle_api_results_count(@fullsize_response.count)};"}
          = "#{@fullsize_response.count}"
          .thin
            = "Résultats"
        - if @french_params
          .results-criterias
            - @french_params.each do |query|
              - if query["origin_key"].downcase.to_sym == :type
                .criteria
                  .inline-svg{class: "#{query['class']}"}
                    = svg("#{query['icon']}")
                  .value
                    = "#{property_type_string(query['origin_value'].to_i)}"
              - else
                .criteria
                  .inline-svg{class: "#{query['class']}"}
                    = svg("#{query['icon']}")
                  .value
                    = "#{query['origin_value']}"

      .request-right-block
        - if @current_page
          .current-page
            = "Page #{@current_page}/#{@number_of_pages.to_i}"
        - else
          .current-page
            = "Page 1/#{@number_of_pages.to_i}"
        .api-status
          = "Statut API: #{@request_code_status}"

    %table.table.custom-table
      %thead
        %tr
          %th{:colspan => "2"}
            Voir
          %th{:colspan => "2"}
            Titre
          %th{:colspan => "2"}
            Type
          %th{:colspan => "2"}
            Statut
          %th{:colspan => "2"}
            Ville
          %th{:colspan => "2"}
            Equipements
          %th{:colspan => "2"}
            Dpe
          %th{:colspan => "2"}
            Surface
          %th{:colspan => "2"}
            Prix
      %tbody
        - @response.each_with_index do |prop,index|
          %tr
            %td{:colspan => "2"}
              = link_to v2_start_path(details: true, property_id: prop["_id"]["$oid"].to_s) do
                .inline-svg.no-border
                  = svg("information")
            %td{:colspan => "2"}
              = prop["title"].downcase.capitalize.strip.truncate(16)
            %td{:colspan => "2"}
              - if prop["property_type_code"]
                .prop-type{style: "color: #{property_type_color(prop['property_type_code'].to_i)};"}
                  = property_type_string(prop["property_type_code"].to_i)
            %td{:colspan => "2"}
              .status-code
                = status_code_humanized(prop["status_code"].to_i).upcase
            %td{:colspan => "2"}
              - if prop["human_city"]
                .thin-text
                  = prop['human_city'].capitalize
            %td{:colspan => "2"}
              - if handle_equipments(prop)
                .d-flex-start
                  - handle_equipments(prop).each do |hash_values|
                    .inline-svg
                      = svg("#{hash_values[:icon]}")
              - else
                .transparent-circle
            %td{:colspan => "2"}
              - if prop["dpe"]
                .dpe-block
                  .dpe-class{class: "level-#{prop_dpe(prop['dpe'].to_i).downcase}"}
                    = prop_dpe(prop["dpe"].to_i)
            %td{:colspan => "2"}
              - if prop["area"]
                .surface
                  = "#{prop['area']} m²"
            %td{:colspan => "2"}
              - if prop["price"]
                .bold-text
                  = "#{number_with_delimiter(prop["price"].to_i, locale: :fr)} €"

.bottom-fixed-pagination
  - if @current_page
    %nav.custom-navigation
      - if @number_of_pages.to_i > 5
        - if (@number_of_pages.to_i-4..@number_of_pages).to_a.include?(@current_page.to_i)
          %ul.pagination
            %li.page-item
              = link_to "Première",v2_start_path(query: @request.except!("page"), page: 1)
            - (@current_page.to_i-3..@number_of_pages.to_i).to_a.first(5).each_with_index do |item,index|
              - if @current_page.to_i == item.to_i
                %li.page-item
                  %a.inactive
                    = "#{@current_page}"
              - else
                %li.page-item
                  = link_to "#{item}",v2_start_path(query: @request.except!("page"), page: item)
            - if !(@number_of_pages.to_i-4..@number_of_pages).to_a.include?(@current_page.to_i)
              %li.page-item
                = link_to "Dernière",v2_start_path(query: @request.except!("page"), page: @number_of_pages.to_i)
        - else
          %ul.pagination
            %li.page-item
              = link_to "Première",v2_start_path(query: @request.except!("page"), page: 1)
            - (@current_page.to_i..@number_of_pages.to_i).to_a.first(5).each_with_index do |item,index|
              - if @current_page.to_i == item.to_i
                %li.page-item
                  %a.inactive
                    = "#{@current_page}"
              - else
                %li.page-item
                  = link_to "#{item}",v2_start_path(query: @request.except!("page"), page: item)
            %li.page-item
              = link_to "Dernière",v2_start_path(query: @request.except!("page"), page: @number_of_pages.to_i)
      - else
        %ul.pagination
          - @number_of_pages.times do |item|
            - if @current_page.to_i == item.to_i + 1
              %li.page-item
                %a.inactive
                  = "#{@current_page}"
            - else
              %li.page-item
                = link_to "#{item + 1}",v2_start_path(query: @request.except!("page"), page: item + 1)
  - else
    - if @number_of_pages.to_i > 5
      %nav.custom-navigation
        %ul.pagination
          - (1..@number_of_pages.to_i).to_a.first(5).each_with_index do |item, index|
            - if item.to_i == 1
              %li.page-item
                %a.inactive
                  = "#{1}"
            - else
              %li.page-item
                = link_to "#{item}",v2_start_path(query: @request.except!("page"), page: item)
          %li.page-item
            = link_to "Dernière",v2_start_path(query: @request.except!("page"), page: @number_of_pages.to_i)
    - else
      %nav.custom-navigation
        %ul.pagination
          - @number_of_pages.times do |item|
            - if (item.to_i + 1) == 1
              %li.page-item
                %a.inactive
                  = "1"
            - else
              %li.page-item
                = link_to "#{item + 1}",v2_start_path(query: @request.except!("page"), page: item + 1)


.container.hidden
  .title
    = @response.count
  - if @response.first.include?("data")
  - else
    - @response.each_with_index do |prop,index|
      .api-return-item
        .item-position
          = index + 1
        .item-title
          = "Fetch properties from Hektor flux"
        .item-price
          - if prop["duration"]
            = prop["duration"]
        .item-localisation
          - if prop["new_agency_count"] && prop["new_properties_count"]
            = "Nouvelles agences: #{prop["new_agency_count"]} - Nouveaux biens: #{prop["new_properties_count"]}"
        .item-prop-type
          - if prop["status"]
            = "Status: #{prop["status"]}"

:javascript
  Userback = window.Userback || {};
  Userback.access_token = '7243|11147|Fr1zm6KJUIkzr1joTrCgJM1E9aCMuXqvtUyJyvWQXsqVQtOE0O';
  (function(id) {
      var s = document.createElement('script');
      s.async = 1;s.src = 'https://static.userback.io/widget/v1.js';
      var parent_node = document.head || document.body;parent_node.appendChild(s);
  })('userback-sdk');

