%section.test-api-connect
  .d-flex-center
    %h3.form-header-title
      = "Connexion"
  = simple_form_for :connect, url: api_agency_connect_path, method: :get do |f|
    .fields-wrapper
      .d-flex-center
        = f.input :email, label: false, placeholder: "Email"
        = f.input :password, label: false, placeholder: "Mot de passe"
    .d-flex-center
      = f.submit "Se connecter", class: "modern-blue-btn submit-btn"

