%section.press-release-show-fullpage
  .banner
    = image_tag @press_release.photo_url

  .container
    .header
      .press-title
        = @press_release.title

    .content
      .text
        = @press_release.content
