.admin-container
  .content
    = simple_form_for [:admin, @demand_comment] do |f|
      = hidden_field_tag(:demand_id,@demand.id.to_s)
      = f.input :body, label: "Commentaire"
      = f.input :author, label: "Auteur", collection: ["Laure","Anne-gaëlle","Julia","Aurélien","Philippe","Damien","William","Sophie","Arthur"]
      = f.input :important, label: "Information cruciale", as: :boolean, checked_value: true, unchecked_value: false
      = f.submit "Modifier ce commentaire", class: "bcs-button-sm-special"
