.container
  = link_to "Génerer un PDF Aristid", aristid_pdf_path(format: :pdf), target: "_blank", class: "btn btn-primary"
  = link_to "Génerer un PDF Aristid agence", aristid_agency_pdf_path(format: :pdf), target: "_blank", class: "btn btn-primary"

  - email = @webhook.content["mandrill_events"].first["msg"]["headers"]["To"].split(",")
  = email.select{|item| item.include?("@aristid.immo")}.flatten.last

  - Webhook.where(action: "initial_request").each do |webhook|
    .item.mb-4
      = webhook.handle_aristid_initial_request.inspect
