$green: #b0c365;
$dark-green: darken($green,25%);
$gray: #3f3b49;
$light-gray: #eeeaea;
$light-gray-2: #d9cfc9;
$dark-red: #e67c5c;
$red: rgb(252,60,42);
$border-gray: rgb(200,200,200);
$normal-gray: rgb(160,160,165);
$yellow: #e4da6e;


.green-background {
  background-color: $green !important;
}

.red-background {
  background-color: $dark-red !important;
}


.checked-message {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 38px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bolder;
  color: $gray;
  padding: 6px 12px;
  .fa {
    font-size: 16px;
    margin-left: 6px;
    opacity: 0.8;
  }
}
