@font-face {
    font-family: 'Cerebri Sans';
    src: font-url('CerebriSans-Bold.eot');
    src: font-url('CerebriSans-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-Bold.woff2') format('woff2'),
        font-url('CerebriSans-Bold.woff') format('woff'),
        font-url('CerebriSans-Bold.ttf') format('truetype'),
        font-url('CerebriSans-Bold.svg#CerebriSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: font-url('CerebriSans-Light.eot');
    src: font-url('CerebriSans-Light.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-Light.woff2') format('woff2'),
        font-url('CerebriSans-Light.woff') format('woff'),
        font-url('CerebriSans-Light.ttf') format('truetype'),
        font-url('CerebriSans-Light.svg#CerebriSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: font-url('CerebriSans-Regular.eot');
    src: font-url('CerebriSans-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-Regular.woff2') format('woff2'),
        font-url('CerebriSans-Regular.woff') format('woff'),
        font-url('CerebriSans-Regular.ttf') format('truetype'),
        font-url('CerebriSans-Regular.svg#CerebriSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: font-url('CerebriSans-ExtraBold.eot');
    src: font-url('CerebriSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-ExtraBold.woff2') format('woff2'),
        font-url('CerebriSans-ExtraBold.woff') format('woff'),
        font-url('CerebriSans-ExtraBold.ttf') format('truetype'),
        font-url('CerebriSans-ExtraBold.svg#CerebriSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: font-url('CerebriSans-Medium.eot');
    src: font-url('CerebriSans-Medium.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-Medium.woff2') format('woff2'),
        font-url('CerebriSans-Medium.woff') format('woff'),
        font-url('CerebriSans-Medium.ttf') format('truetype'),
        font-url('CerebriSans-Medium.svg#CerebriSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: font-url('CerebriSans-Heavy.eot');
    src: font-url('CerebriSans-Heavy.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-Heavy.woff2') format('woff2'),
        font-url('CerebriSans-Heavy.woff') format('woff'),
        font-url('CerebriSans-Heavy.ttf') format('truetype'),
        font-url('CerebriSans-Heavy.svg#CerebriSans-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Book';
    src: font-url('CerebriSans-Book.eot');
    src: font-url('CerebriSans-Book.eot?#iefix') format('embedded-opentype'),
        font-url('CerebriSans-Book.woff2') format('woff2'),
        font-url('CerebriSans-Book.woff') format('woff'),
        font-url('CerebriSans-Book.ttf') format('truetype'),
        font-url('CerebriSans-Book.svg#CerebriSans-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

