.container
  - @properties.each do |prop|
    .demand-card
      = prop.id.to_s
      .custom-ajax-link{"data-demand": "#{@demand.id.to_s}", "data-property": "#{prop.id.to_s}", "data-url": v2_ajaxified_choices_path, "data-action": "love"}
        .d-flex-start
          .bold J'adore
          .inline-svg
            = svg("heart")

      .custom-ajax-link{"data-demand": "#{@demand.id.to_s}", "data-property": "#{prop.id.to_s}", "data-url": v2_ajaxified_choices_path, "data-action": "hate"}
        .d-flex-start
          .bold Je n'aime pas
          .inline-svg
            = svg("customer-hate")

.custom-modal-container-v2.hidden
  .modal-v2
    .modal-closer-v2
      = svg("customer-hate")
    .modal-content-v2
