.container
  .header
    = "Création de Fait Clé"

  = simple_form_for @keyfact do |f|
    = f.input :number, label: "Nombre"
    = f.input :text, label: "Texte"
    = f.input :number_type, collection: ["pourcentage","quantité","durée"], selected: 0, label: "Type de valeur"

    .outter-photo-container#image-upload-container
      .upload-photos-container
        .upload-top
          .top-title
            Icone
          %label
            .upload-custom-button
              .fa.fa-plus
              .text
                .small
                  Choisir un fichier
            %span{style: "display: none;"}
              = f.file_field :photo, onchange: "previewFile()"
              = f.hidden_field :photo_cache
        .upload-bottom
          - if @keyfact.photo_url
            .custome-badge
              .small
                = @keyfact.photo_url

    .d-flex-center
      = f.submit "Créer un Keyfact", class: "bcs-button-sm-special"
