html, body, #map {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #3f3b49!important;
}
label {
    font-weight: bold;
}
.CarouselImg {
    height: 200px!important;
    margin: 0 auto;
}
.leaflet-popup-content-wrapper{
    min-width: 200px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #32B71C;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #32B71C;
    border-radius: 10px;
}
.leaflet-shadow-pane {
    display: none;
}
.show {
    z-index: 999999;
}
#cboxTopCenter #cboxMiddleLeft {
    display: none!important;
}

iframe.img {
    width: 100%!important;
}
.credit_carto_sig{
    color: red!important;
}
p {
    text-align: justify;
}
hr {
    margin-top: 7px!important;
    margin-bottom: 7px!important;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 80%;
}
.leaflet-marker-icon {
    *width: 20px!important;
    *height: 33px!important;
    z-index: 1!important;
}
.info {
    padding: 6px 8px;
    font: 14px/16px "Open Sans", Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
    max-width: 400px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    *text-align: justify;
}
.img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
    width: 40px;
}
.leaflet-control-layers-separator {
    display: none;
}
.libelle_groupe_controle_couche {
    display: inline-block;
    font-size: 14px;
    color: #E67C5C;
    margin-bottom: 5px;
    margin-top: 5px;
}
.libelle_controle_couche {
    font-weight: bold;
    *color: #FEC928;
}
.icon-white {
    color: #FFFFFF!important;
}
.label_epci{
    white-space:nowrap;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    z-index: 9999!important;
}
#outer-circle {
    background: #FFF;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    /*
     Child elements with absolute positioning will be
     positioned relative to this div
    */
}
#inner-circle {
    position: absolute;
    background: #FFF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /*
     Put top edge and left edge in the center
    */
    top: 49%;
    left: 24%;

    /*
     Offset the position correctly with
     minus half of the width and minus half of the height
    */
}
.source {
    font-weight: bold;
    margin-top: 30px;
}
ul {
    list-style: none;
    padding-left: 0;
}
.carre_classe_legende {
    width:50px;
    height:30px;
    float:left;
    margin-right:10px;
    opacity: 0.7;
}
.legend {
    max-width: 600px;
    font-size: 13px;
}
.classe_legende {
    margin-bottom: 15px;
    line-height: 25px;
    font-weight: bold;
}
.hide_simple {
    display: none;
}
.libelle_tooltip {
    display: inline-block;
    width: 235px;
}
.titre_tooltip {
    text-align: center;
    font-weight: bold;
    color: #029DE0;
}
.leaflet-draw-draw-marker, .leaflet-draw-draw-rectangle, .leaflet-draw-draw-polygon, .leaflet-draw-draw-polyline {
    display: none!important;
}
.titre_fomulaire {
    font-size: 17px;
    color: #029DE0;
    margin-bottom: 10px;
    text-decoration: underline;
}
.leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: none;
    border-top: none;
}
.btn-success {
    border: none;
}
form {
    width: 95%;
}
label {
    font-size: 13px;
}
.leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    min-width: 220px;
}
.titre_legende {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    *margin-bottom: 15px!important;
}
.glyphicon-refresh-animate {
    -moz-animation: spin-moz .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
    animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 13px;
    font-weight: bold;
}
.leaflet-draw-toolbar a {
    background-image: none;
    background-repeat: no-repeat;
}
.leaflet-draw-section {
    width: 200px!important;;
}
.leaflet-draw-draw-circle, .leaflet-draw-edit-edit, .leaflet-draw-edit-remove {
    width: 100%!important;
    font-size: 14px;
    text-align: left!important;
}
.scroll_legend {
    height: 300px;
    overflow: scroll;
}
#afficher_legende, #masquer_legende{
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    *padding: 3px;
    *border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}
#afficher_legende:hover, #masquer_legende:hover{
    color: #E67C5C;
}
.leaflet-bar a:last-child {
    border-bottom: none;
    border-radius: 0;
}
.leaflet-bar a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.leaflet-gac-container {
    border-top: 1px solid!important;
}
.leaflet-retina .leaflet-draw-toolbar a {
    background-image: none;
    background-size: 270px 30px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 0;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
    max-width: 400px;
}

/* ICON GENERAL */
.leaflet-div-icon {
    background: none;
    border: none;
}
/* ICON MOVE */
.leaflet-edit-move {
    cursor: pointer;
    margin-top: -16px!important;
    margin-left: -11px!important;
}
.leaflet-edit-move:before {
    content: "\f047"!important;
    font-family: FontAwesome!important;
    font-size: 22px;
}

/* ICON RESIZE */
.leaflet-edit-resize {
    cursor: pointer;
    margin-top: -16px!important;
}
.leaflet-edit-resize:before {
    content: "\f065"!important;
    font-family: FontAwesome!important;
    font-size: 22px;
}

.leaflet-draw-toolbar {
    margin-top: 0;
}
.leaflet-draw-draw-circle {
    border-radius: 0;
}

.leaflet-draw {
    *border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-top: 0!important;
}
.leaflet-draw-toolbar {
    margin-top: 0;
    border: none!important;
}

.leaflet-bar a:hover {
    color: #a6c271;
}

.titre_bouton_ld {
    font-size: 15px;
    background: #E67C5C;
    font-weight: bold;
    padding: 5px;
    border-radius: 0;
    color: #FFFFFF;
}

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 0;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #3f3b49;
    background: #fff;
}

/* BTN PERSO */
.btn-sample {
    color: #FFFFFF;
    background-color: #E67C5C;
    border-color: #FFAC8C;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #FFFFFF;
    background-color: #FFAC8C;
    border-color: #FFAC8C;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #E67C5C;
    border-color: #FFAC8C;
}

.btn-sample .badge {
    color: #E67C5C;
    background-color: #FFFFFF;
}

/* CURSOR DURANT DESSIN */
/* Change cursor when over entire map */

.leaflet-mouse-marker {
    background-color: #fff;
    cursor: url('../img/prof.png'), auto !important;
}

.modal-header {
    padding: 15px;
    border-bottom: none;
}


/* BOUTON */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    border-top-left-radius: 10px;
}

.btn-validation, .btn-validation:focus {
    border: 2px solid #3f3b49;
    background-color: #3f3b49;
    color: #fff;
    padding: 8px 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: background-color;
}

.btn-validation:hover, .btn-validation:active {
    border: 2px solid #3f3b49;
    background-color: #a6c271;
}

.leaflet-disabled {
    display: none!important;
}


.no_border {
    border: none!important;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal-content {
    border-radius: 0;
}

.edit_ville {
    top: 40px;
    position: absolute;
    right: 23px;
    font-size: 14px;
}

.second_layer_control {
    min-width: 110px!important;
}
.no_border_bottom {
    border-bottom: none!important;
}
.case_bientot {
    color: #B4B4B4;
}






/* SMALL devices (0px to 767px) */
.leaflet-control-attribution {
    display: none;
}
.leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 0;
    min-width: 220px;
}


/* BIG devices (768px and up) */
@media (min-width: 768px) {

    .leaflet-control-attribution, .leaflet-control-zoom {
        display: block;
    }



    .leaflet-control-layers {
        box-shadow: 0 1px 5px rgba(0,0,0,0.4);
        background: #fff;
        border-radius: 0;
        min-width: 220px;
    }

}
