.container
  - @demands.each do |demand|
    .demand-tracker-container
      .tracker-demand-customer
        - if demand.customer.valid?
          .user-subscribed
            = "Utilisateur inscris en tant que #{demand.customer.email}"
            .bold
              = "#{demand.customer.first_name.downcase} #{demand.customer.last_name.downcase}"
        - else
          .user-unsubscribed
            = "Utilisateur non inscris"
      .tracker-title
        = "Référence de la demande: #{demand.id.to_s}"
      - @count = demand.history_tracks.count
      - demand.history_tracks.each_with_index do |tracker,index|
        .custom-tracker-panel-container
          .d-flex-between.mb-10
            .tracker-added-time
              .real-time
                = l(tracker.created_at, format: :small_count)
              .real-date
                = l(tracker.created_at, format: :medium)
              - if (index + 1) == 2
                .response-time
                  .fa.fa-clock-o
                  - @time = (demand.history_tracks[0].created_at - tracker.created_at).round(0)
                  - if @time > 0 && @time < 60
                    = Time.at(@time).utc.strftime("%Mm:%Ss")
                  - else @time >= 60
                    = Time.at(@time).utc.strftime("%Mm:%Ss")
              - elsif ((index + 1) > 1) && ((index + 1) < @count)
                .response-time
                  .fa.fa-clock-o
                  - @time = (tracker.created_at - demand.history_tracks[index - 1].created_at).round(0)
                  - if @time > 0 && @time < 60
                    = Time.at(@time).utc.strftime("%Mm:%Ss")
                  - else @time >= 60
                    = Time.at(@time).utc.strftime("%Mm:%Ss")
            .tracker-added-date
              = "Ajouté il y a #{distance_of_time_in_words(tracker.created_at, Time.now, include_seconds: true)}"
          .custom-tracker-panel
            - tracker.tracked_changes.each do |field, changes|
              .changed-item
                .d-flex-start
                  .modified-field-title
                    Champ modifié:
                  .modified-field-name
                    = field
                - changes.each do |key,value|
                  - if key.to_sym == :from
                    .modified-field-container
                      .d-flex-start
                        .original-value-label
                          = "Valeur originale: "
                        .original-value-text
                          = "#{value}"
                  - if key.to_sym == :to
                    .modified-field-container
                      .d-flex-start
                        .modified-value-label
                          = "Valeur modifiée: "
                        .modified-value-text
                          = "#{value}"

