
function generateGeojson(lat,lng,radius){
  var result = {"type":"FeatureCollection","crs":"type: name, properties: { name: urn:ogc:def:crs:OGC:1.3:CRS84 } }","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[parseFloat(lat),parseFloat(lng)]},"properties":{"id":2510,"id_user_temp":"489f19fbd4aaceb37ede7970c24afa40","radius": parseFloat(radius)}}]};
  return result;
}

var map = L.map('map').setView([44.836151, -0.580816], 14);
if (gon.lat && gon.lng) {
  console.log(gon.lat + gon.lng);
  map.setView([gon.lat, gon.lng], 13);
}


L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'your.mapbox.access.token'
}).addTo(map);

// GOOGLE PLACES
new L.Control.GPlaceAutocomplete({
  position: "topleft",
  autocomplete_options: {
    types: ['(cities)'],
    componentRestrictions: {country: "fr"}
  }
})
.addTo(map);

// LEAFLET DRAW
var drawnItems = L.geoJson().addTo(map);
map.addControl(new L.Control.Draw({
  edit: {
    featureGroup: drawnItems
  }
}));




load_couche_zone(zone);
load_couche_centre_zone(zone);

// EVENT DRAW START CIRCLE
map.on('draw:drawstart', function (e) {
  $("a:contains('Annuler')").hide();
});


// L.easyPrint({
//   title: 'Please...works buddy !!!!',
//   position: 'bottomright',
//   exportOnly: true,
//   sizeModes: ['A4Portrait', 'A4Landscape']
// }).addTo(map);

// var printPlugin = L.easyPrint({
//   exportOnly: true,
//   sizeModes: ['A4Landscape']
// }).addTo(map);
// printPlugin.printMap('A4Landscape', 'map-screenshot');




var idIncrementation = 50000;
var currentCity;
var x;
var y;
var radius;
var result;

function loadExsistingCircles(){
  $.ajax({
    method: "GET",
    url: "/fetch_circles",
    data: {demand_id: gon.demand},
    success: function(data) {
      console.log(data);
      if ((data[1]) && (data[1]["status"] === "YES")) {
        $.each(data, function(index, element) {
          x = element.x;
          y = element.y;
          console.log(element.radius * 1000);
          radius = element.radius;
          result = generateGeojson(x,y,radius * 1000);
          load_couche_zone(result);
          custom_load_couche_centre_zone(result,radius);
        });

        if (data[1]["y"] && data[1]["x"]) {
          var roundedRadius = radius.toFixed(0);
          // console.log(roundedRadius);
          // console.log("x = " + x);
          // console.log("y = " + y);
          if (roundedRadius <= 1000 ) {
            console.log("< 1000");
            map.setView([data[1]["y"], data[1]["x"]], 15);
          } else if ((roundedRadius > 1000) && (roundedRadius <= 2000)) {
            console.log("Between 1000 and 2000");
            map.setView([data[1]["y"], data[1]["x"]], 14);
          } else if ((roundedRadius > 2000) && (roundedRadius <= 3000)) {
            console.log("Between 2000 and 3000");
            map.setView([data[1]["y"], data[1]["x"]], 13);
          } else if ((roundedRadius > 3000) && (roundedRadius <= 4000)) {
            console.log("Between 3000 and 4000");
            map.setView([data[1]["y"], data[1]["x"]], 13);
          } else if ((roundedRadius > 4000) && (roundedRadius <= 5000)) {
            console.log("Between 4000 and 5000");
            map.setView([data[1]["y"], data[1]["x"]], 12);
          } else if ((roundedRadius > 5000) && (roundedRadius <= 6000)) {
            console.log("Between 5000 and 6000");
            map.setView([data[1]["y"], data[1]["x"]], 12);
          } else if ((roundedRadius > 6000) && (roundedRadius <= 7000)) {
            console.log("Between 6000 and 7000");
            map.setView([data[1]["y"], data[1]["x"]], 12);
          } else if ((roundedRadius > 7000) && (roundedRadius <= 8000)) {
            console.log("Between 7000 and 8000");
            map.setView([data[1]["y"], data[1]["x"]], 12);
          } else if (roundedRadius > 8000) {
            console.log("> 8000");
            map.setView([data[1]["y"], data[1]["x"]], 11);
          } else {
            map.setView([data[1]["y"], data[1]["x"]], 12);
          }
        }
        if (data[1]["city"]) {
          currentCity = data[1]["city"];
          $(".leaflet-gac-control").attr("placeholder", "Saisir une ville").after('<i class="fa fa-pen edit_ville" aria-hidden="true"></i>').val(currentCity);
        }
      } else if (data["status"] === "NO") {
        if (data["map_lng"] && data["map_lat"]) {
          map.setView([data["map_lat"], data["map_lng"]], 14);
        }
        if (data["city"]) {
          currentCity = data["city"];
          $(".leaflet-gac-control").attr("placeholder", "Saisir une ville").after('<i class="fa fa-pen edit_ville" aria-hidden="true"></i>').val(currentCity);
        }
      }

    },
  })
}

if (gon.origin === "restricted") {
  $('#map-custom-modal').removeClass("hidden");
} else if (gon.origin === "edit") {
  $(document).ready(function() {
    loadExsistingCircles();
  });
}


function fetchMultipleCircles() {
  $.ajax({
    method: "GET",
    url: "/fetch_multiple_circles",
    data: {message: "Fetch multiple circles on circle creation"},
    success: function(data) {
      for (var [key, value] of Object.entries(data)) {
        // console.log(key,value);
        var fetchTempoRadius = value;
        var lat = value.y;
        var lng = value.x;
        var circleGeoJsonObject = generateGeojson(lng,lat,fetchTempoRadius);
        load_couche_zone(circleGeoJsonObject);
        load_couche_centre_zone(circleGeoJsonObject);
      }
    },
  })
}


var layerId;
var circleId;
var mongoId;
var circleMongoId;
var autoCircleId;
var firstRadius;
var allCircles;
var circleCollection = [];

var allMarkers;
var markersCollection = [];

// EVENT CREATION MARKER
map.on('draw:created', function(e) {
  var type = e.layerType;
  var layer = e.layer;
  autoCircleId = (idIncrementation += 1);
  layer["auto_id"] = autoCircleId;
  var y = layer.getLatLng().lat.toFixed(6);
  var x = layer.getLatLng().lng.toFixed(6);
  firstRadius = layer.getRadius().toFixed(6);
  shortRadius = parseFloat(layer.getRadius());
  circleId = layer["editing"]["_shape"]["id"];

  layerId = couche_zone._leaflet_id;
  var resultTest = generateGeojson(x,y,firstRadius);
  load_couche_zone(resultTest);
  // load_couche_centre_zone(resultTest);
  custom_load_couche_centre_zone(resultTest,shortRadius);

  // Array.from(allCircles).forEach(function(circle,index) {
  //   var tempoRadius = circle.radius;
  //   var tempoLat = circle.lat;
  //   var tempoLng = circle.lng;
  //   var geoJsonObject = generateGeojson(tempoLng,tempoLat,tempoRadius);
  //   load_couche_zone(geoJsonObject);
  //   load_couche_centre_zone(geoJsonObject);
  //   $.ajax({
  //     method: "POST",
  //     url: "/multiple_circles_create",
  //     data: {x: tempoLng, y: tempoLat, radius: tempoRadius, circle_position: index + 1},
  //     success: function(data) {
  //       if (data["status"] == "YES") {
  //         console.log(data);
  //       } else if (data["status"] == "NO") {
  //         console.log(data);
  //       }
  //     },
  //   })
  // })

  // TO DECOMMENT FOR WORKING SINGLE CIRCLE VERSION
  // map.removeLayer(couche_centre);
  // map.removeLayer(couche_zone);



  // $.ajax({
  //   method: "POST",
  //   url: "/multi_circle_batch_constructor",
  //   data: {circles: allCircles},
  //   success: function(data) {
  //     if (data["message"] === "OK") {
  //       Array.from(allCircles).forEach(function(circle,index) {
  //         var tempoRadius = circle.radius;
  //         var tempoLat = circle.lat;
  //         var tempoLng = circle.lng;
  //         var geoJsonObject = generateGeojson(tempoLng,tempoLat,tempoRadius);
  //         load_couche_zone(geoJsonObject);
  //         load_couche_centre_zone(geoJsonObject);
  //       });
  //     }
  //   },
  // })

  // fetchMultipleCircles();

  $(".leaflet-draw-draw-circle").removeClass("no_border_bottom");

  // $.ajax({
  //   method: "POST",
  //   url: "/create_circle",
  //   data: {x: x, y: y, radius: firstRadius, circle_id: circleId, layer_id: layerId, auto_id: autoCircleId},
  //   success: function(data) {
  //     if (data["status"] == "YES") {
  //       circleMongoId = data["mongo_id"];
  //       layer.circle_mongo_id = circleMongoId;
  //     } else if (data["status"] == "NO") {
  //     }
  //   },
  // })

});




// EVENT EDITION POSITION MARKER
map.on('draw:edited', function (e) {
  var layers = e.layers;
  layers.eachLayer(function (layer) {
    var y = layer.getLatLng().lat.toFixed(6);
    var x = layer.getLatLng().lng.toFixed(6);
    var radius = layer.getRadius().toFixed(6);
    var id = layer["editing"]["_shape"]["id"];
    var resultTest = generateGeojson(x,y,radius);

    // $.ajax({
    //   method: "POST",
    //   url: "/update_circle",
    //   data: {x: x, y: y, radius: radius, auto_id: 400, first_radius: firstRadius, demand_id: gon.demand},
    //   success: function(data) {
    //     console.log(data);
    //   },
    // })

    // map.removeLayer(couche_zone);
    // load_couche_zone(resultTest);
    custom_load_couche_centre_zone(resultTest,radius);
  });
});




// EVENT EDIT START CIRCLE
map.on('draw:editstart', function (e) {
  map.removeLayer(couche_centre);
  removeAllMarkers();
  //$(".label_rayon").show();
  // HIDE BUTTON
  $("a:contains('Sauvegarder')").hide();
  $("a:contains('Annuler')").hide();
  // CLICK ON SAVE BUTTON WHEN CLICK
  $("body").click(function(){
    $("a:contains('Sauvegarder')")[0].click();
  });
  // CLICK ON SAVE BUTTON WHEN MOUSE ENTER
  $(".leaflet-draw-section:nth-child(2)").mouseenter(function(){
    $("a:contains('Sauvegarder')")[0].click();
  });
});



// EVENT EDIT STOP CIRCLE
map.on('draw:editstop', function (e) {
  // CANCEL EVENT CLICK AND MOUSEENTER
  $("body").off("click");
  $(".leaflet-draw-section").off("mouseenter");
  // LOAD LAYER CENTRE_ZONE
});




// EVENT DELETE START CIRCLE
map.on('draw:deletestart', function (e) {
  // HIDE BUTTON
  $("a:contains('Sauvegarder')").hide();
  $("a:contains('Annuler')").hide();
  console.log(e);
  // CLICK ON SAVE BUTTON WHEN CLICK
  $("body, g").click(function(){
    $("a:contains('Sauvegarder')")[0].click();
  });
  // CLICK ON SAVE BUTTON WHEN MOUSE ENTER
  $(".leaflet-draw-section:nth-child(2)").mouseenter(function(){
    $("a:contains('Sauvegarder')")[0].click();
  });
});




// STOP METHODE EVENT DELETE
map.on('draw:deletestop', function(e) {
  // map.removeLayer(couche_centre);
  // CANCEL EVENT CLICK AND MOUSEENTER
  $("body").off("click");
  $(".leaflet-draw-section").off("mouseenter");
});


// EVENT DELETE CIRCLE
map.on('draw:deleted', function(e) {
  var layers = e.layers;
  handleCircleToDelete(layers);
  var fullResponse = handleCircleToDelete(layers);
  var uniqRadius = e.layers.getLayers();
  var uniqRadiusFormatted = (uniqRadius[0]._mRadius);
  findMarkerToDelete(uniqRadiusFormatted);

  // GOOD REQUEST
  // $.ajax({
  //   method: "POST",
  //   url: "/remove_circle",
  //   data: {circle_id: circleId, mongo_id: mongoId, circle_radius: uniqRadiusFormatted},
  //   success: function(data) {
  //     console.log(data);
  //   },
  // })

  // allCircles = handleMultipleCircles();
  // map.removeLayer(couche_centre);
  // map.removeLayer(couche_zone);

  // $.ajax({
  //   method: "POST",
  //   url: "/multi_circle_batch_constructor",
  //   data: {circles: allCircles},
  //   success: function(data) {
  //     if (data["message"] === "OK") {
  //       Array.from(allCircles).forEach(function(circle,index) {
  //         var tempoRadius = circle.radius;
  //         var tempoLat = circle.lat;
  //         var tempoLng = circle.lng;
  //         var geoJsonObject = generateGeojson(tempoLng,tempoLat,tempoRadius);
  //         load_couche_zone(geoJsonObject);
  //         load_couche_centre_zone(geoJsonObject);
  //       });
  //     }
  //   },
  // })

  // $.ajax({
  //   method: "POST",
  //   url: "/remove_specific_circle",
  //   data: fullResponse,
  //   success: function(data) {
  //     map.removeLayer(couche_centre);
  //     map.removeLayer(couche_zone);
  //   },
  // })

  // BTN J'ENREGISTRE
  var nombre_zone = couche_zone.getLayers().length;
  if (nombre_zone < 1) {
    $("#btn_enregistre").addClass("leaflet-disabled");
    $(".leaflet-draw-draw-circle").addClass("no_border_bottom");
    $(".leaflet-draw-edit-edit, .leaflet-draw-edit-remove").addClass("leaflet-disabled");
  } else {
    $("#btn_enregistre").removeClass("leaflet-disabled");
    $(".leaflet-draw-draw-circle").removeClass("no_border_bottom");
  }
});


function handleCircleToDelete(layerToDelete) {
  var uniqLayerToDelete = layerToDelete._layers[Object.keys(layerToDelete._layers)[0]];
  map.removeLayer(uniqLayerToDelete);
  var circleRadiusToDelete = uniqLayerToDelete._mRadius;
  var circleLatToDelete = uniqLayerToDelete._latlng.lat;
  var circleLngToDelete = uniqLayerToDelete._latlng.lng;
  var fullResponse = {radius: circleRadiusToDelete, lat: circleLatToDelete, lng: circleLngToDelete};
  return fullResponse;
}


// FONCTION LOAD COUCHE ZONE
function load_couche_zone(nom_donnee){
  couche_zone = L.geoJson(nom_donnee, {
    style: {
      "color": "#E67C5C",
      "weight": 3,
      "opacity": 1,
      "fill": true,
      "fillcolor": "#E67C5C"
    },
    pointToLayer: function (feature, latlng){
      if(feature.properties.radius) {
        return new L.Circle(latlng, feature.properties.radius).bindLabel(
          String('Rayon: ' + (feature.properties.radius/1000).toFixed(2) + ' km<br>' +
            (feature.properties.radius / 80).toFixed(0) + ' minutes à pied<br>' +
            (feature.properties.radius / 800).toFixed(0) + ' minutes en voiture'
          ),
          { noHide:false,
            direction:'left',
            className: 'label_rayon'
          }
        );
      }
    },
    onEachFeature: function (feature, layer) {
      drawnItems.addLayer(layer);
      localStorage.setItem("layerId", layer._leaflet_id);
    }
  });
  couche_zone.addTo(map);
}







function createCircle(nom_donnee){
  circle = L.geoJson(nom_donnee, {
    style: {
      "color": "#E67C5C",
      "weight": 3,
      "opacity": 1,
      "fill": true,
      "fillcolor": "#E67C5C"
    },
    pointToLayer: function (feature, latlng){
      if(feature.properties.radius) {
        return new L.Circle(latlng, feature.properties.radius).bindLabel(
          String('Rayon: ' + (feature.properties.radius/1000).toFixed(2) + ' km<br>' +
            (feature.properties.radius / 80).toFixed(0) + ' minutes à pied<br>' +
            (feature.properties.radius / 800).toFixed(0) + ' minutes en voiture'
          ),
          { noHide:false,
            direction:'left',
            className: 'label_rayon'
          }
        );
      }
    },
    onEachFeature: function (feature, layer) {
      layer.id = "circle-layer";
      drawnItems.addLayer(layer);
    }
  });
  circle.id = "circle-generation";
  circle.addTo(map);
}





// FONCTION LOAD COUCHE CENTRE ZONE
function load_couche_centre_zone(nom_donnee){
  couche_centre = L.geoJson(nom_donnee, {
    pointToLayer: function (feature, latlng){
      var icon_zone = L.VectorMarkers.icon({
        // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
        iconSize: [24, 45],
        iconAnchor: [12, 45],
        popupAnchor: [0, -45],
        icon: 'circle',
        iconColor: '#FFFFFF',
        markerColor: '#E67C5C'
      });
      return L.marker(latlng, {
        icon: icon_zone
      });
    }
  });
  couche_centre.linked_circle = latlng;
  console.log(couche_centre);
  couche_centre.addTo(map);
}

function custom_load_couche_centre_zone(nom_donnee,radius){
  couche_centre = L.geoJson(nom_donnee, {
    pointToLayer: function (feature, latlng){
      var icon_zone = L.VectorMarkers.icon({
        // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
        iconSize: [24, 45],
        iconAnchor: [12, 45],
        popupAnchor: [0, -45],
        icon: 'circle',
        iconColor: '#FFFFFF',
        markerColor: '#E67C5C'
      });
      return L.marker(latlng, {
        icon: icon_zone
      });
    }
  });
  couche_centre.linked_circle = radius;
  console.log(couche_centre);
  couche_centre.addTo(map);
}

// ---------------- DATAS ---------------- //



// DATA COMMUNE
var couche_commune = L.geoJson(commune, {
  style: {
    "color": "#747474",
    "weight": 2,
    "opacity": 1,
    "fill": false
  }
});


// DATA POSTE
var couche_poste = L.geoJson(poste, {
  pointToLayer: function (feature, latlng){
    var icon_poste = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'envelope',
      iconColor: '#000',
      markerColor: '#FFCE00'
    });
    return L.marker(latlng, {
      icon: icon_poste
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>POSTE ' + feature.properties.Libelle + '</strong><br>' + feature.properties.Adresse + '</p>');
  }
});


// DATA MAIRIE
var couche_mairie = L.geoJson(mairie, {
  pointToLayer: function (feature, latlng){
    var icon_mairie = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'university',
      iconColor: '#000',
      markerColor: '#FFF'
    });
    return L.marker(latlng, {
      icon: icon_mairie
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>MAIRIE ' + feature.properties.NOM + '</strong><br>' + feature.properties.POP_06 + ' habitants</p>');
  }
});


// DATA ARRET TRAM
var couche_arret_tram = L.geoJson(arret_tram, {
  pointToLayer: function (feature, latlng){
    var arret_tram = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'train',
      iconColor: '#009EE0',
      markerColor: '#FFF'
    });
    return L.marker(latlng, {
      icon: arret_tram
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>Ligne ' + feature.properties.LIGNEDES + '</strong><br>Arrêt ' + feature.properties.NOMARRET + '</p>');
  }
});

function getStyle_ligne_tram(feature) {
  return {
    weight: 4,
    opacity: 1,
    fill: true,
    color: getcolor_ligne_tram(feature.properties.NOMCOMLI)
  };
}

function getcolor_ligne_tram(d) {
  if(d === 'Tram A'){
    return '#852673';
  }
  else if(d === 'Tram B'){
    return '#E1001F';
  }
  if(d === 'Tram C'){
    return '#E970A3';
  }
}



// DATA LIGNE TRAM
var couche_ligne_tram = L.geoJson(ligne_tram, {
  style: getStyle_ligne_tram
});



// DATA ECOLE PUBLIQUE
var couche_ecole_publique = L.geoJson(ecole_publique, {
  pointToLayer: function (feature, latlng){
    var icon_ecole_publique = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'book',
      iconColor: '#6600CC',
      markerColor: '#FFF'
    });
    return L.marker(latlng, {
      icon: icon_ecole_publique
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>Ecole ' + feature.properties.description + '<br>' + feature.properties.nom + '</strong></p>');
  }
});



// DATA QUARTIER
var couche_quartier = L.geoJson(quartier, {
  style: {
    "color": "#0099FF",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.1,
    "fill": true
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>Quartier ' + feature.properties.NOM + '</strong><br>Elu: ' + feature.properties.ELU + '</p>');
  }
});


// DATA PISTE CYCLABLE
var couche_piste_cyclable = L.geoJson(piste_cyclable, {
  style: {
    "color": "#33CC00",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.1,
    "fill": true
  }
});


// DATA STATIONNEMENT
var couche_stationnement_payant = L.geoJson(stationnement_payant, {
  style: {
    "color": "#FF0000",
    "weight": 2,
    "opacity": 1,
    "fillOpacity": 0.1,
    "fill": true
  }
});




// DATA PARC RELAIS
var couche_parc_relais = L.geoJson(parc_relais, {
  pointToLayer: function (feature, latlng){
    var icon_parc_relais = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'car',
      iconColor: '#FFF',
      markerColor: '#1D8CA1'
    });
    return L.marker(latlng, {
      icon: icon_parc_relais
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>Parc-Relais ' + feature.properties.NOM + '</strong><br>' + feature.properties.NBPLACE + '</p>');
  }
});


// DATA AIRE JEUX
var couche_aire_jeux = L.geoJson(aire_jeux, {
  pointToLayer: function (feature, latlng){
    var icon_aire_jeux = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'child',
      iconColor: '#33CC66',
      markerColor: '#FFF'
    });
    return L.marker(latlng, {
      icon: icon_aire_jeux
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup('<p class="text-center"><strong>Aire de jeux ' + feature.properties.NOM + '</strong>' +
                    '<br>Age mini: ' + feature.properties.AGE_MIN + ' ans' +
                    '<br>Age max: ' + feature.properties.AGE_MAX + ' ans' +
                    '<br>Nombre de jeux: ' + feature.properties.NOMBRE_JEUX +
                    '</p>');
  }
});







// DATA PETIT ENFANCE
var couche_petite_enfance = L.geoJson(petite_enfance, {
  pointToLayer: function (feature, latlng){
    var icon_petit_enfance = L.VectorMarkers.icon({
      // LA TAILLE DES ICONS ET LA HAUTEUR DES GLYFICONS SE REGLENT DANS leaflet-vector-markers.js
      iconSize: [24, 45],
      iconAnchor: [12, 45],
      popupAnchor: [0, -45],
      icon: 'users',
      iconColor: '#FFF',
      markerColor: '#3333CC'
    });
    return L.marker(latlng, {
      icon: icon_petit_enfance
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>' + feature.properties.TYPE + '</strong>' +
        '<br>' + feature.properties.NOM +
        '<br>' + feature.properties.ADRESSE +
        '</p>');
  }
});



// DATA SPORT
var couche_sport = L.geoJson(sport, {
  pointToLayer: function (feature, latlng){
    var icon_sport = L.VectorMarkers.icon({
        iconSize: [24, 45],
        iconAnchor: [12, 45],
        popupAnchor: [0, -45],
        icon: 'dribbble',
        iconColor: '#FFF',
        markerColor: '#33CC66'
    });
    return L.marker(latlng, {
      icon: icon_sport
    });
  },
  onEachFeature: function (feature, layer) {
    layer.bindPopup( '<p class="text-center"><strong>' + feature.properties.NOM + '</strong>' +
        '<br>' + feature.properties.TYPE +
        '<br>' + feature.properties.ADRESSE +
        '</p>');
  }
});






// FOND DE CARTE
var base_map_01 = L.layerGroup([
    L.tileLayer.provider('OpenStreetMap.Mapnik')
  ]),
  base_map_02 = L.layerGroup([
    L.esri.basemapLayer('Imagery')
  ]);


// CONTROLE DES COUCHES BOTTOMRIGHT
var baseLayers = {
  "<span class='libelle_controle_couche'>Plan</span>": base_map_01,
  "<span class='libelle_controle_couche'>Satellite</span>": base_map_02
};





// CONTROLE DES COUCHES
var groupedOverlays = {
};
var options = {
  // Make the "Landmarks" group exclusive (use radio inputs)
  exclusiveGroups: ["Thème"],
  // Show a checkbox next to non-exclusive group labels for toggling all
  groupCheckboxes: true,
  position: 'bottomright',
  collapsed:false
};


// AJOUT DES COUCHES AU CONTROLE DES COUCHES
L.control.groupedLayers(baseLayers, groupedOverlays, options).addTo(map);

// CONTROLE DES COUCHES TOPRIGHT
var baseLayers2 = {
};

// CONTROLE DES COUCHES
var groupedOverlays2 = {
  "Limite administrative": {
    "<span id='les_communes' class='libelle_controle_couche'>Communes</span>": couche_commune
  }
};

var options2 = {
  // Make the "Landmarks" group exclusive (use radio inputs)
  exclusiveGroups: ["Thème"],
  // Show a checkbox next to non-exclusive group labels for toggling all
  groupCheckboxes: true,
  position: 'topright',
  collapsed:false
};

L.control.groupedLayers(baseLayers2, groupedOverlays2, options2).addTo(map);
// CONFIG DES COUCHES CHARGEES DES LE DEPART
map.addLayer(base_map_01);
map.addLayer(couche_zone);
//map.addLayer(couche_commune);


$(".leaflet-control-layers-group-name, .leaflet-control-layers-group-selector").hide();
$(".leaflet-bar").addClass('no_border');

// AJOUTE TEXTE DANS CONTROLER
$(".leaflet-gac-container") .prepend('<div class="titre_bouton_ld">Ma ville</div>')
                            .append('<div class="titre_bouton_ld">Ma zone de recherche</div>');

$(".leaflet-gac-control")   .attr("placeholder", "Saisir une ville")
                            .after('<i class="fa fa-pen edit_ville" aria-hidden="true"></i>')
                            .val(gon.city);

var cubCities = ["Bordeaux","Mérignac","Pessac","Bègles","Cenon","Bruges","Blanquefort","Le bouscat","Talence","Lormont","Eysines"]
if (cubCities.includes(gon.city)) {
  $(".leaflet-top.leaflet-right").show();
} else {
  $(".leaflet-top.leaflet-right").hide();
}


$(".leaflet-gac-control").click(function () {
  $(this).select();
});
$(".edit_ville").click(function () {
  $(".leaflet-gac-control").select();
});

$(".leaflet-draw-draw-circle").append('<span style="padding-left: 10px">Je dessine une zone</span> <i class="fa fa-circle-o" style="padding-left: 22px; padding-right: 1px;" aria-hidden="true"></i>');
$(".leaflet-draw-edit-edit").append('<span style="padding-left: 10px">Je modifie une zone</span> <i class="fa fa-arrows" style="padding-left: 21px;" aria-hidden="true"></i>');
$(".leaflet-draw-edit-remove").append('<span style="padding-left: 10px">Je supprime une zone</span> <i class="fa fa-trash" style="padding-left: 9px; padding-right: 2px;" aria-hidden="true"></i>');
$(".leaflet-draw").append('<div id="btn_enregistre" class="text-center leaflet-disabled"><button id="jenregistre" style="margin-top: 20px; padding: 10px;" type="button" class="btn btn btn-validation titre_bouton_ld">> J\'ENREGISTRE !</button></div>');

// CONTROLE DES COUCHES TOPRIGHT
$(".leaflet-control-layers").first()
                                    .before('<div id="show_topright" class="libelle_controle_couche" style="font-size: 20px; pointer-events: auto; display: none;"><a href="#" > << </div>')
                                    .prepend('<div class="text-center" style="margin-top: 16px;"><span style="font-size: 15px; font-weight: bold; color: #E67C5C; padding: 5px;">Mes centres d\'intérêts</span></div>')
                                    .prepend('<div><button id="button_close_layer_control" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
$("#les_communes")
  .append('<label style="margin-top: 4px;">   <input id="case_mairie" type="checkbox" class="leaflet-control-layers-selector"                 >    <span  class="libelle_controle_couche">Mairies</span> </label>')
  .append('<label>                            <input id="case_quartier" type="checkbox" class="leaflet-control-layers-selector"               >    <span  class="libelle_controle_couche">Quartiers</span></span></label>')
  .append('<label>                            <input id="case_ecole_publique" type="checkbox" class="leaflet-control-layers-selector"         >   <span  class="libelle_controle_couche">Ecoles publiques</span></span></label>')
  .append('<label>                            <input id="case_aire_jeux" type="checkbox" class="leaflet-control-layers-selector"         >   <span  class="libelle_controle_couche">Aires de jeux</span></span></label>')
  .append('<label>                            <input id="case_petite_enfance" type="checkbox" class="leaflet-control-layers-selector"         >   <span  class="libelle_controle_couche">Etab. petites enfances</span></span></label>')
  .append('<label>                            <input id="case_sport" type="checkbox" class="leaflet-control-layers-selector"         >   <span  class="libelle_controle_couche">Equipements sportifs</span></span></label>')
  .append('<label>                            <input id="case_poste" type="checkbox" class="leaflet-control-layers-selector"                  >    <span  class="libelle_controle_couche">Postes</span></span></label>')
  .append('<label>                            <input id="case_tramway" type="checkbox" class="leaflet-control-layers-selector"                >    <span  class="libelle_controle_couche">Tramway</span></span></label>')
  .append('<label>                            <input id="case_parc_relais" type="checkbox" class="leaflet-control-layers-selector"            >   <span  class="libelle_controle_couche">Parc relais</span></span></label>')
  .append('<label>                            <input id="case_piste_cyclable" type="checkbox" class="leaflet-control-layers-selector"         >    <span  class="libelle_controle_couche">Pistes cyclables</span></span></label>')
  .append('<label>                            <input id="case_stationnement_payant" type="checkbox" class="leaflet-control-layers-selector"   >    <span  class="libelle_controle_couche">Stationnement payant</span></span></label>')
  .append('<hr ><label><input type="checkbox" class="leaflet-control-layers-selector" disabled><span> <span style="color: #B4B4B4;" class="libelle_controle_couche">Collèges / Lycées (bientôt)</span></span></label>')
  .append('<label><input type="checkbox" class="leaflet-control-layers-selector" disabled><span> <span style="color: #B4B4B4;" class="libelle_controle_couche">Carte scolaire (bientôt)</span></span></label>')
  .append('<label><input type="checkbox" class="leaflet-control-layers-selector" disabled><span> <span style="color: #B4B4B4;" class="libelle_controle_couche">PLU (bientôt)</span></span></label>');


//HIDE COMMUNE CB SI PAS BORDEAUX METROPOLE


// DEROULEMENT CATEGORIE LEGENDE
$("#btn_service_public").click( function () {
  $("#content_service_public").show();
});

// AFFICHAGE / MASQUAGE CENTRE INTERET



// COMMUNE
$("#case_commune").click( function () {
  if(this.checked) {
    map.addLayer(couche_commune);
  }else{
    map.removeLayer(couche_commune);
  }
});


// POSTE
$("#case_poste").click( function () {
  if(this.checked) {
    map.addLayer(couche_poste);
  }else{
    map.removeLayer(couche_poste);
  }
});


// MAIRIE
$("#case_mairie").click( function () {
  if(this.checked) {
    map.addLayer(couche_mairie);
  }else{
    map.removeLayer(couche_mairie);
  }
});



// TRAMWAY
$("#case_tramway").click( function () {
  if(this.checked) {
    map.addLayer(couche_arret_tram);
    map.addLayer(couche_ligne_tram);
  }else{
    map.removeLayer(couche_arret_tram);
    map.removeLayer(couche_ligne_tram);
  }
});



// ECOLE PUBLIQUE
$("#case_ecole_publique").click( function () {
  if(this.checked) {
    map.addLayer(couche_ecole_publique);
  }else{
    map.removeLayer(couche_ecole_publique);
  }
});



// QUARTIER
$("#case_quartier").click( function () {
  if(this.checked) {
    map.addLayer(couche_quartier);
  }else{
    map.removeLayer(couche_quartier);
  }
});



// PISTE CYCLABLE
$("#case_piste_cyclable").click( function () {
  if(this.checked) {
    map.addLayer(couche_piste_cyclable);
  }else{
    map.removeLayer(couche_piste_cyclable);
  }
});

// STATIONNEMENT PAYANT
$("#case_stationnement_payant").click( function () {
  if(this.checked) {
    map.addLayer(couche_stationnement_payant);
  }else{
    map.removeLayer(couche_stationnement_payant);
  }
});

// PARC RELAIS
$("#case_parc_relais").click( function () {
  if(this.checked) {
    map.addLayer(couche_parc_relais);
  }else{
    map.removeLayer(couche_parc_relais);
  }
});

// AIRE JEUX
$("#case_aire_jeux").click( function () {
  if(this.checked) {
    map.addLayer(couche_aire_jeux);
  }else{
    map.removeLayer(couche_aire_jeux);
  }
});

// PETITE ENFANCE
$("#case_petite_enfance").click( function () {
  if(this.checked) {
    map.addLayer(couche_petite_enfance);
  }else{
    map.removeLayer(couche_petite_enfance);
  }
});

// SPORT
$("#case_sport").click( function () {
  if(this.checked) {
    map.addLayer(couche_sport);
  }else{
    map.removeLayer(couche_sport);
  }
});

// OPTION CONTROL ZOOM
L.control.zoom({
  position:'bottomright'
}).addTo(map);

$("#hide_topright").click( function () {
  $(".leaflet-control-layers").first().hide("slide", { direction: "right" }, 1000);
  $("#show_topright").show();
});
$("#show_topright").click( function () {
  $(".leaflet-control-layers").first().show("slide", { direction: "right" }, 1000);
  $(this).hide();
  $("#hide_topright").show();
});

// BULLE AIDE
var bulle_info = L.control({position: 'bottomleft'});
bulle_info.onAdd = function (map) {
  var div = L.DomUtil.create('div', 'info legend bulle_info');
  div.innerHTML = '<div>' +
                  '<!-- <button id="button_close_help" style="float: left;" type="button" class="close hidden-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->' +
                  '<img id="bulle_aide" src="https://cdn.bientotchezsoi-dev.com/images/question-home.png" class="hidden-xs" style="width: 60px;" alt="bulle aide">'+
                  '<img id="bulle_aide_mini" src="https://cdn.bientotchezsoi-dev.com/images/question-home.png" class="visible-xs" style="width: 20px;" alt="bulle aide">'+
                  '</div>';
  return div;
};

// bulle_info.addTo(map);

$("#bulle_aide, #bulle_aide_mini").click( function () {
  console.log("Bulle aide !!!!!!!!!!");
  $('#modal_aide').modal('show');
});

$("#button_close_help").click( function () {
  $(".bulle_info").hide();
});





var zipcode;
var radius;
var latlng;
var geocoder;


function handleGeocoding(data) {
  if (data.status === 'OK') {
    if (data.results[0]) {
      var searchAddressComponents = data.results[0].address_components;
      $.each(searchAddressComponents, function(){
         if (this.types[0] === "postal_code"){
          zipcode = this.short_name;
         }
      });
      confirmSave(zipcode, radius);
    }
  } else if(data.status === 'OVER_QUERY_LIMIT') {
    setTimeout(function() {
      handleGeocoding(data);
    }, 1001);
  }
};




// BOUTON J'ENREGISTRE
// $("#jenregistre").click( function () {
//   var layers = couche_zone._layers;
//   var layerId = localStorage.getItem("layerId");
//   var layer = (layers[layerId]);
//   var y = layer.getLatLng().lat.toFixed(6);
//   var x = layer.getLatLng().lng.toFixed(6);
//   radius = layer.getRadius().toFixed(6);
//   latlng = y + "," + x;
//   allCircles = handleMultipleCircles();
//   setTimeout(function(){
//     $.ajax({
//       url: "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + latlng + "&key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA",
//       type: "GET",
//       success: function (data) {
//         console.log(data);
//         handleGeocoding(data);
//       }
//     })
//   },400);
// });




function handleCarrierWaveRemoteUpload(photoUrl,demandid) {
  $.ajax({
    method: "GET",
    url: "/handle_carrierwave_remote_map_upload",
    data: {url: photoUrl, demandid: demandid},
    success: function(data) {
      console.log(data);
    },
  })
}


function dataURItoBlob(dataURI) {
  var byteString;
  if (dataURI.split(',')[0].indexOf('base64') >= 0) {
    byteString = atob(dataURI.split(',')[1]);
  } else {
    byteString = unescape(dataURI.split(',')[1]);
  }
  var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
  var ia = new Uint8Array(byteString.length);

  for (var i = 0; i < byteString.length; i++) {
    ia[i] = byteString.charCodeAt(i);
  }
  return new Blob([ia], {type:mimeString});
}

function domMapToImage(demandid) {
  var node = document.getElementById('map');
  domtoimage.toPng(node)
    .then(function (dataUrl) {
      var tempoFile = dataURItoBlob(dataUrl);
      pushPhotoToS3(tempoFile,demandid);
    })
    .catch(function (error) {
        console.error('oops, something went wrong!', error);
    });
}


AWS.config.update({
  accessKeyId : "<%= ENV['AWS_ACCESS_KEY'] %>",
  secretAccessKey : "<%= ENV['AWS_SECRET_ACCESS'] %>"
});
AWS.config.region = 'eu-west-3';

function pushPhotoToS3(file,demandid) {
  var resultModalProgressBar = $('#modal_results .modal-footer .progress-container');
  var dynamicBar = $('#modal_results .modal-footer .progress-container .progress .progress-bar');
  var dynamicProgress = $('#modal_results .modal-footer .progress-container .progress');
  var dynamicText = $('#modal_results .modal-footer .progress-container .progress-text');
  var dynamicTitle = $('#modal_results .modal-footer .progress-title');
  var buttons = $("#modal_results .modal-footer .links-progress-map");
  $(resultModalProgressBar).removeClass("hidden");
  $(dynamicTitle).removeClass("hidden");
  $(dynamicProgress).removeClass("hidden");
  var bucket = new AWS.S3({params: {Bucket: 'bientotchezsoi'}});
  if (file) {
    var params = {Key: 'temporary-map-photo' + demandid, ContentType: file.type, Body: file};
    bucket.upload(params).on('httpUploadProgress', function(evt) {
      console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
      $(dynamicBar).css('width', parseInt((evt.loaded * 100) / evt.total)+'%');
      $(dynamicText).text(parseInt((evt.loaded * 100) / evt.total)+'%');
    }).send(function(err, data) {
      if (data.Location) {
        handleCarrierWaveRemoteUpload(data.Location,demandid);
        $(dynamicText).remove();
        var resultModal = $('#modal_results .modal-body');
        var lastSentence = $("<div class='last-sentence'>Il ne me reste plus qu’à décrire le bien qui fera chavirer mon cœur ❤️</div>");
        $(resultModal).append(lastSentence);
        $(".modal-results").remove();
        $(".modal-header-text").text("Recherche validée");
        $(dynamicProgress).addClass("hidden");
        $(dynamicTitle).addClass("hidden");
        $(buttons).removeClass("hidden");
      }
    });
  }
  return false;
}



// function removeTemporaryMapPhoto(url) {
//   var s3 = new AWS.S3({params: {Bucket: 'bientotchezsoi'}});
//   var deleteParam = {
//     Bucket: 'bientotchezsoi',
//     Delete: {
//       Objects: [
//         {Key: url}
//       ]
//     }
//   };
//   s3.deleteObjects(deleteParam, function(err, data) {
//     if (err) console.log(err, err.stack);
//     else console.log('delete', data);
//   });
// }



$("#jenregistre").click( function () {
  allCircles = handleMultipleCircles();
  $("#modal_waiting").modal("show");
  $.ajax({
    method: "POST",
    url: "/v2/multi_circle_batch_constructor",
    data: {circles: allCircles},
    success: function(data) {
      $("#modal_waiting").modal("hide");
      if (data["demandid"]) {
        var demandId = data["demandid"];
        domMapToImage(demandId);
      }
      if (data["message"] === "OK") {
        var response = data["fullresponse"];
        var arrayResponse = data["arrayresponse"];
        console.log(arrayResponse);
        if (data["radius"] > 10000) {
          $('#modal-exceed-perimeter').modal('show');
        } else {
          // $('#modal_enregistre').modal('show');
          var resultModalBody = $('#modal_results .modal-body');
          $('#modal_results .modal-body').empty();
          var resultContainer = $("<div class='modal-results'></div>");
          if (Array.from(arrayResponse).length === 1) {
            var bigTitle = $("<div class='modal-header-text text-center'>Localisation validée</div>");
          } else {
            var bigTitle = $("<div class='modal-header-text text-center'>Localisations validées</div>");
          }
          $(resultModalBody).append(resultContainer);
          $(resultModalBody).prepend(bigTitle);

          Array.from(arrayResponse).forEach(function(element) {
            if (element.district) {
              var districtHtml = "<div class='district-name'>" + "( " + "Quartier: " + "<strong>" + element.district + "</strong>" +" )" + "</div>";
              var resultItem = $("<div class='modal-results-item'>" + "<i class='fa fa-map-marker'></i>" + element.locality + districtHtml + " - " + "<strong class='zipcode'>" + element.zipcode + "</strong>" + "</div>");
            } else {
              var resultItem = $("<div class='modal-results-item'>" + "<i class='fa fa-map-marker'></i>" + element.locality + " - " + "<strong class='zipcode'>" + element.zipcode + "</strong>" + "</div>");
            }
            $(resultContainer).append(resultItem);
          });

          $('#modal_results').modal("show");
        }
      } else if (data["message"] === "empty") {
        var resultModalBody = $('#modal_empty_results .modal-body');
        var htmlResult = $("<div class='modal-results'>" + "Attention ! Nous n'avons pas trouvé de ville comprises dans vos cercles" + "</div>");
        $(resultModalBody).append(htmlResult);
        $('#modal_empty_results').modal("show");
      }
    },
  })
});


function confirmSave(postal_code,radius) {
  $.ajax({
    type:'POST',
    url:"/nearby_zip_codes",
    data: {postal_code: postal_code, radius: radius, demand_id: gon.demand},
    success: function(data){
      if (data.status === "failed") {
        $("#unknowed-location").modal('show');
      } else {
        localStorage.setItem("postal_codes", data);
        var radiusInteger = parseInt(data["radius"],10);
        console.log(radiusInteger);
        console.log(data);
        if (radiusInteger > 15000) {
          $('#modal-exceed-perimeter').modal('show');
        } else {
          $('#modal_enregistre').modal('show');
        }
      }
    }
  });
}






// BOUTON J'ENREGISTRE > OK
$("#jenregistre_OK").click( function () {
  location.replace("localhost:3000/je-cherche/questionnaire");
});

// LAYER CONTROL
var controle_couche = L.control({position: 'topright'});

controle_couche.onAdd = function (map) {
  var div = L.DomUtil.create('div', 'info legend controle_couche hide_simple');
  div.innerHTML = '<i class="fa fa-info" aria-hidden="true" style="font-size: 26px;"></i>';
  return div;
};

controle_couche.addTo(map);

$(".controle_couche").click( function () {
  $(this).hide();
  $(".leaflet-control-layers").first().show();
});

$("#button_close_layer_control").click( function () {
  $(".leaflet-control-layers").first().hide();
  $(".controle_couche").show();
});

if($(window).width() <= 768){
  $(".leaflet-control-layers").first().hide();
  $(".controle_couche").show();
  $(".leaflet-draw-edit-edit").hide();
}

// BTN J'ENREGISTRE
if($(".leaflet-draw-edit-edit").hasClass("leaflet-disabled")){
  $("#btn_enregistre").addClass("leaflet-disabled");
  $(".leaflet-draw-draw-circle").addClass("no_border_bottom");
}else{
  $("#btn_enregistre").removeClass("leaflet-disabled");
  $(".leaflet-draw-draw-circle").removeClass("no_border_bottom");
}

$(".leaflet-control-layers:eq(1)").addClass("second_layer_control");




function findMarkerToDelete(circleRadius) {
  var allLayers = map._layers;
  for (var [ key, value ] of Object.entries(allLayers)) {
    if (value["linked_circle"]) {
      console.log("***********************");
      var markerRadius = parseFloat(value["linked_circle"]);
      if (circleRadius.toFixed(2) === markerRadius.toFixed(2)) {
        var goodLayer = allLayers[key];
        map.removeLayer(goodLayer);
      }
      console.log("***********************");
    }
  }
}


function removeAllMarkers() {
  var allLayers = map._layers;
  for (var [ key, value ] of Object.entries(allLayers)) {
    if (value["linked_circle"]) {
      var goodLayer = allLayers[key];
      map.removeLayer(goodLayer);
    }
  }
}


function handleMultipleCircles() {
  var allLayers = map._layers;
  for (var [ key, value ] of Object.entries(allLayers)) {
    if (value["_mRadius"]) {
      var currentCircleRadius = value["_mRadius"];
      var currentCircleLat = value["_latlng"].lat;
      var currentCircleLng = value["_latlng"].lng;
      // console.log(currentCircleRadius, currentCircleLat, currentCircleLng);
      var fullResult = {radius: currentCircleRadius.toFixed(4), lat: currentCircleLat.toFixed(6), lng: currentCircleLng.toFixed(6)};
      circleCollection.push(fullResult);
    }
  }
  var distinctCircles = Array.from(new Set(circleCollection.map(s => s.radius)))
    .map(radius => {
      return {
        radius: radius,
        lat: circleCollection.find(s => s.radius === radius).lat,
        lng: circleCollection.find(s => s.radius === radius).lng
      }
    });
  // console.log(distinctCircles);
  return distinctCircles;
}


