- if @matching_success
  .custom-modal-container
    .custom-modal.matching-demands#pending-customer
      .custom-modal-closer#pending-demand-modal
        .fa.fa-times
      .custom-modal-header
        .d-flex-center.mb-20
          .bold
            - if @matching_success.count == 1
              = "Cette demande correspond à #{@matching_success.count} bien"
            - elsif @matching_success.count > 1
              = "Cette demande correspond à #{@matching_success.count} biens"
      .custom-modal-content
        .inline-svg
          = svg("k-dashboard")
        .matching-items-container
          - @matching_success.each do |property|
            .matching-item
              .inline-svg
                = svg("completed-task")
              .reference
                = "Ref: PROP#{property.id.to_s.upcase.last(5)} - "
              = "#{property.property_type} - #{property.zipcode} - #{property.price}"
- elsif @matching_failed
  .custom-modal-container
    .custom-modal.matching-demands#pending-customer
      .custom-modal-closer#pending-demand-modal
        .fa.fa-times
      .custom-modal-header
        .d-flex-center.mb-20
          .bold
            = "Bravo nous avons trouvés #{@matching_failed} agences !!"
      .custom-modal-content
        .inline-svg
          = svg("k-dashboard")
        .matching-items-container
          .matching-item
            = "Néanmoins ces agences n'ont pas de biens correspondants à cette demande !"

.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li.active
          = link_to "Actives", admin_active_demands_path
        %li
          = link_to "En attente", admin_pending_demands_path
        %li
          = link_to "Désactivées", admin_inactive_demands_path
        %li
          = link_to "Refusées", admin_refuse_demands_path
        %li
          = link_to "Anciennes", admin_real_old_demands_path
        %li
          = link_to "Incomplètes", admin_orphan_demands_path


    #activated.tab-pane
      .custom-tabs-header
        %h5
          Demandes actives
        .badge
          = @activated_demands.size
        = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "activated"), class: "btn btn-success btn-xs bold ml-10"

      #active-demands
        %table.table.table-hover.validated-demand
          %thead
            %tr
              %th.sort{"data-sort": "date"} Créée le
              %th.sort{"data-sort": "customer-name"} Utilisateur
              %th.sort{"data-sort": "is-owner"} Proprietaire
              %th.sort{"data-sort": "property-type"} Type de bien
              %th.sort{"data-sort": "budget"} Budget
              %th.sort{"data-sort": "surface"} Surface
              %th Biens
              %th Périmètre
              %th Actions
          %tbody.list
            - @activated_demands.each do |demand|
              %tr
                %td
                  - if demand.old_platform_created_at
                    .date.hidden
                      = demand.old_platform_created_at
                    = "#{l(demand.old_platform_created_at, format: :medium)}"
                  - elsif demand.created_at
                    .date.hidden
                      = demand.created_at
                    = "#{l(demand.created_at, format: :medium)}"
                %td
                  = link_to admin_customer_path(demand.customer) do
                    .customer-name.generic-tooltip{style: "font-size: 14px;font-weight: 700;letter-spacing: -0.3px;"}
                      = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                      .arrow_box
                        .arrow_box_relative
                          = "#{num_to_phone(demand.customer.phone)}"
                %td
                  .is-owner.hidden
                    = customer_situation(demand)
                  - if customer_situation(demand) == true
                    .fa.fa-check.is-a-owner
                %td
                  .property-type
                    = admin_handle_property_type_color(demand.property_type)
                %td
                  - if demand.budget != []
                    .budget.hidden
                      - if demand.budget
                        = demand.budget
                    - if demand.budget
                      = demand.budget
                %td
                  - if demand.surface
                    .surface.hidden
                      - if demand.surface
                        = demand.surface
                    = demand.surface
                  - else
                    .empty-field
                      = demand.surface
                %td
                  - if demand.properties != []
                    .boldest{style: "font-size: 16px;"}
                      = demand.properties.size
                %td
                  .zipcode
                    = demand.search_zipcodes_area
                %td
                  .d-flex-between
                    = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                      .fa.fa-thumbs-up
                      .arrow_box
                        .arrow_box_relative
                          Matching agence
                    = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                      .fa.fa-file-pdf-o
                      .arrow_box
                        .arrow_box_relative
                          Générer le pdf
                    = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                      .fa.fa-eye
                      .arrow_box
                        .arrow_box_relative
                          Voir le détail


                    .ajax-modal-content.btn.btn-danger.btn-xs{"data-demand": "#{demand.id.to_s}", "data-url": "#{admin_deactivated_with_message_path(demand_id: demand.id.to_s)}"}
                      .fa.fa-ban
                      .arrow_box
                        .arrow_box_relative
                          Désactiver
      = paginate @activated_demands


    #deactivated-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            #myModalLabel.modal-title.bold Désactiver la demande
          .modal-body


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}


:javascript
  var activeOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget', 'surface' ]
  };
  var activeDemands = new List('active-demands', activeOptions);


