%small.bold.mb-10
  = "Demande de l'utilisateur: #{@demand.customer.last_name.capitalize} #{@demand.customer.first_name}"
= simple_form_for @demand, url: admin_deactivated_demand_with_message_path do |f|
  %label.free Raison de la désactivation
  = f.input :deactivation_reason, collection: ["L'utilisateur à déjà trouvé un bien","Recherche en standby","Raison inconnue"], as: :radio_buttons,label: "Raison de la désactivation"
  %label.free Commentaire
  = f.input :deactivation_comment, label: false
  = f.input :id, as: :hidden, value: "#{@demand.id.to_s}"
  = f.submit "Désactiver", class: "bcs-button-sm-special"
  %button.bcs-button-sm-special.red{"data-dismiss" => "modal", :type => "button"} Annuler
