
.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li
          = link_to "Actives", admin_active_demands_path
        %li
          = link_to "En attente", admin_pending_demands_path
        %li.active
          = link_to "Désactivées", admin_inactive_demands_path
        %li
          = link_to "Refusées", admin_refuse_demands_path
        %li
          = link_to "Anciennes", admin_real_old_demands_path
        %li
          = link_to "Incomplètes", admin_orphan_demands_path


    #deactivated.tab-pane
      .custom-tabs-header
        %h5
          Demandes désactivées
        .badge
          = @deactivated_demands.size
        = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "deactivated"), class: "btn btn-success btn-xs bold ml-10"
      #deactivated-demands
        %table.table.table-hover.validated-demand
          %thead
            %tr
              %th.sort{"data-sort": "date"} Créée le
              %th.sort{"data-sort": "customer-name"} Utilisateur
              %th.sort{"data-sort": "is-owner"} Proprietaire
              %th.sort{"data-sort": "property-type"} Type de bien
              %th.sort{"data-sort": "budget"} Budget
              %th Raison
              %th Actions
          %tbody.list
            - @deactivated_demands.each do |demand|
              %tr
                %td
                  .date.hidden
                    = demand.created_at
                  = "#{l(demand.created_at, format: :medium)}"
                %td
                  = link_to admin_customer_path(demand.customer) do
                    .customer-name
                      = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                %td
                  .is-owner.hidden
                    = customer_situation(demand)
                  - if customer_situation(demand) == true
                    .fa.fa-check.is-a-owner
                %td
                  .property-type
                    = admin_handle_property_type_color(demand.property_type)
                %td
                  - if demand.budget != []
                    .budget.hidden
                      - if demand.budget
                        = demand.budget
                    - if demand.budget
                      = demand.budget
                %td
                  - if demand.deactivation_reason
                    .reason
                      = demand.deactivation_reason
                %td
                  .d-flex-between
                    = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                      .fa.fa-file-pdf-o
                      .arrow_box
                        .arrow_box_relative
                          Générer le pdf

                    = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                      .fa.fa-eye
                      .arrow_box
                        .arrow_box_relative
                          Voir le détail

                    - if (demand.customer.last_name) && (demand.customer.first_name)
                      = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                        .fa.fa-thumbs-up
                        .arrow_box
                          .arrow_box_relative
                            Activer

                    = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                      .fa.fa-times
                      .arrow_box
                        .arrow_box_relative
                          Supprimer

      = paginate @deactivated_demands


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}


:javascript
  var activeOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget', 'surface' ]
  };
  var activeDemands = new List('active-demands', activeOptions);

  var pendingOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type' ]
  };
  var pendingDemands = new List('pending-demands', pendingOptions);

  var oldOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var oldDemands = new List('old-demands', oldOptions);

  var deactivatedOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var deactivatedDemands = new List('deactivated-demands', oldOptions);

