.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls": "home", "data-toggle": "tab", href: "#activated", role: "tab"}
            Actives
            %span.badge
              = @activated_demands.size
        %li{role: "presentation"}
          %a{"aria-controls": "profile", "data-toggle": "tab", href: "#pending", role: "tab"}
            En attente
            %span.badge
              = @pending_demands.size
        %li{role: "presentation"}
          %a{"aria-controls": "profile", "data-toggle": "tab", href: "#deactivated", role: "tab"}
            Désactivées
            %span.badge
              = @deactivated_demands.size
        %li{role: "presentation"}
          %a{"aria-controls": "settings", "data-toggle": "tab", href: "#refused", role: "tab"}
            Refusées
            %span.badge
              = @refused_demands.size

        %li{role: "presentation"}
          %a{"aria-controls": "settings", "data-toggle": "tab", href: "#oldplatform", role: "tab"}
            Anciennes
            %span.badge
              = @old_platform_demands.size
        %li{role: "presentation"}
          %a{"aria-controls": "messages", "data-toggle": "tab", href: "#uncompleted", role: "tab"}
            Incomplètes
            %span.badge
              = @orphan_demands.size
        %li
          = link_to "Incomplètes", admin_orphan_demands_path


      .tab-content
        #activated.tab-pane.active{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Demandes actives
            .badge
              = @activated_demands.size
            = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "activated"), class: "btn btn-success btn-xs bold ml-10"

          #active-demands
            %table.table.table-hover.validated-demand
              %thead
                %tr
                  %th.sort{"data-sort": "date"} Créée le
                  %th.sort{"data-sort": "customer-name"} Utilisateur
                  %th.sort{"data-sort": "is-owner"} Proprietaire
                  %th.sort{"data-sort": "property-type"} Type de bien
                  %th.sort{"data-sort": "budget"} Budget
                  %th.sort{"data-sort": "surface"} Surface
                  %th Périmètre
                  %th Actions
              %tbody.list
                - @activated_demands.sort_by{|demand| demand.created_at}.reverse.each do |demand|
                  %tr
                    %td
                      - if demand.old_platform_created_at
                        .date.hidden
                          = demand.old_platform_created_at
                        = "#{l(demand.old_platform_created_at, format: :medium)}"
                      - elsif demand.created_at
                        .date.hidden
                          = demand.created_at
                        = "#{l(demand.created_at, format: :medium)}"
                    %td
                      = link_to admin_customer_path(demand.customer) do
                        .customer-name{style: "font-size: 14px;font-weight: 700;letter-spacing: -0.3px;"}
                          = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                    %td
                      .is-owner.hidden
                        = customer_situation(demand)
                      - if customer_situation(demand) == true
                        .fa.fa-check.is-a-owner
                    %td
                      .property-type
                        = admin_handle_property_type_color(demand.property_type)
                    %td
                      - if demand.budget != []
                        .budget.hidden
                          = demand.budget.reject{|budget| budget.to_s.empty?}.first.gsub(/[[:space:]]/,'')
                        = budget_format(demand.budget)
                    %td
                      - if admin_surface_format(demand.surface) != "non renseigné"
                        .surface.hidden
                          = demand.surface.reject{|budget| budget.empty?}.first
                        = admin_surface_format(demand.surface)
                      - else
                        .empty-field
                          = admin_surface_format(demand.surface)
                    %td
                      - demand.postal_codes.first(3).each do |zipcode|
                        .zipcode
                          = zipcode
                    %td
                      .d-flex-between
                        = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                          .fa.fa-thumbs-up
                          .arrow_box
                            .arrow_box_relative
                              Matching agence
                        = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                          .fa.fa-file-pdf-o
                          .arrow_box
                            .arrow_box_relative
                              Générer le pdf
                        = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                          .fa.fa-eye
                          .arrow_box
                            .arrow_box_relative
                              Voir le détail


                        .ajax-modal-content.btn.btn-danger.btn-xs{"data-demand": "#{demand.id.to_s}", "data-url": "#{admin_deactivated_with_message_path(demand_id: demand.id.to_s)}"}
                          .fa.fa-ban
                          .arrow_box
                            .arrow_box_relative
                              Désactiver




        #pending.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Demandes en attente
            .badge
              = @pending_demands.size
            = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "pending"), class: "btn btn-success btn-xs bold ml-10"
            = submit_tag "Effacer les demandes cochées", class: "btn btn-primary bold"
          = form_tag(multiple_destroy_path, method: :delete, class: "demands-multiple-destroy", data: {confirm: "Attention action irréversible !!!"}) do

            #pending-demands
              %table.table.table-hover.pending-demand
                %thead
                  %tr
                    %th.sort{"data-sort": "date"} Créée le
                    %th.sort{"data-sort": "customer-name"} Utilisateur
                    %th.sort{"data-sort": "is-owner"} Proprietaire
                    %th.sort{"data-sort": "property-type"} Type de bien
                    %th Périmètre
                    %th Actions
                %tbody.list
                  - @pending_demands.sort_by{|demand| demand.created_at}.reverse.each do |demand|
                    %tr
                      %td
                        .date.hidden
                          = demand.created_at
                        = "#{l(demand.created_at, format: :real)}"
                      %td
                        - if demand.customer
                          - if (demand.customer.last_name) && (demand.customer.first_name)
                            = link_to admin_customer_path(demand.customer) do
                              .customer-name
                                = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                          - else
                            = "Utilisateur introuvable"
                      %td
                        .is-owner.hidden
                          = customer_situation(demand)
                        - if customer_situation(demand) == true
                          .fa.fa-check.is-a-owner
                      %td
                        .property-type
                          = admin_handle_property_type_color(demand.property_type)
                      %td
                        - if demand.postal_codes
                          - demand.postal_codes.first(4).each do |zipcode|
                            .zipcode
                              = zipcode
                      %td
                        .d-flex-between{style: "min-width: 120px;"}
                          = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                            .fa.fa-file-pdf-o
                            .arrow_box
                              .arrow_box_relative
                                Générer le pdf

                          - if (demand.customer.last_name) && (demand.customer.first_name)
                            = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                              .fa.fa-thumbs-up
                              .arrow_box
                                .arrow_box_relative
                                  Activer

                          - else
                            .btn.btn-default.btn-xs
                              .fa.fa-warning.disabled
                          = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                            .fa.fa-eye
                            .arrow_box
                              .arrow_box_relative
                                Voir le détail

                          = link_to admin_refused_demand_path(demand_id: demand.id.to_s), class: "btn btn-danger btn-xs" do
                            .fa.fa-thumbs-down
                            .arrow_box
                              .arrow_box_relative
                                Refuser

                          = check_box_tag "demand_ids[]", demand.id






        #uncompleted.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Demandes incomplètes
            .badge
              = @orphan_demands.size
            = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "orphan", filename: "orphan-demands"), class: "btn btn-success btn-xs bold ml-10"
          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Utilisateur
                %th Proprietaire
                %th Type de bien
                %th Budget
                %th Surface
                %th Périmètre
                %th Actions
            - @orphan_demands.sort_by{|demand| demand.created_at}.reverse.each do |demand|
              %tr
                %td
                  .date
                    = "#{l(demand.created_at, format: :medium)}"
                %td
                  = "Utilisateur introuvable"
                %td
                  - if customer_situation(demand) == true
                    .fa.fa-check.is-a-owner
                %td
                  = admin_handle_property_type_color(demand.property_type)
                %td
                  = budget_format(demand.budget)
                %td
                  - if admin_surface_format(demand.surface) != "non renseigné"
                    = admin_surface_format(demand.surface)
                  - else
                    .empty-field
                      = admin_surface_format(demand.surface)
                %td
                  - if demand.postal_codes
                    - demand.postal_codes.first(3).each do |zipcode|
                      .zipcode
                        = zipcode
                  - else
                    = "Localisation introuvable"
                %td
                  .d-flex-between
                    = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                      .fa.fa-file-pdf-o
                      .arrow_box
                        .arrow_box_relative
                          Générer le pdf

                    = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                      .fa.fa-eye
                      .arrow_box
                        .arrow_box_relative
                          Voir le détail

                    = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                      .fa.fa-times
                      .arrow_box
                        .arrow_box_relative
                          Supprimer
            = paginate @orphan_demands






        #deactivated.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Demandes désactivées
            .badge
              = @deactivated_demands.size
            = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "deactivated"), class: "btn btn-success btn-xs bold ml-10"
          #deactivated-demands
            %table.table.table-hover.validated-demand
              %thead
                %tr
                  %th.sort{"data-sort": "date"} Créée le
                  %th.sort{"data-sort": "customer-name"} Utilisateur
                  %th.sort{"data-sort": "is-owner"} Proprietaire
                  %th.sort{"data-sort": "property-type"} Type de bien
                  %th.sort{"data-sort": "budget"} Budget
                  %th Raison
                  %th Actions
              %tbody.list
                - @deactivated_demands.sort_by{|demand| demand.created_at}.reverse.each do |demand|
                  %tr
                    %td
                      .date.hidden
                        = demand.created_at
                      = "#{l(demand.created_at, format: :medium)}"
                    %td
                      = link_to admin_customer_path(demand.customer) do
                        .customer-name
                          = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                    %td
                      .is-owner.hidden
                        = customer_situation(demand)
                      - if customer_situation(demand) == true
                        .fa.fa-check.is-a-owner
                    %td
                      .property-type
                        = admin_handle_property_type_color(demand.property_type)
                    %td
                      - if demand.budget != []
                        .budget.hidden
                          = demand.budget.reject{|budget| budget.empty?}.first.gsub(/[[:space:]]/,'')
                        = budget_format(demand.budget)
                    %td
                      - if demand.deactivation_reason
                        .reason
                          = demand.deactivation_reason
                    %td
                      .d-flex-between
                        = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                          .fa.fa-file-pdf-o
                          .arrow_box
                            .arrow_box_relative
                              Générer le pdf

                        = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                          .fa.fa-eye
                          .arrow_box
                            .arrow_box_relative
                              Voir le détail

                        - if (demand.customer.last_name) && (demand.customer.first_name)
                          = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                            .fa.fa-thumbs-up
                            .arrow_box
                              .arrow_box_relative
                                Activer

                        = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                          .fa.fa-times
                          .arrow_box
                            .arrow_box_relative
                              Supprimer





        #refused.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Demandes refusées
            .badge
              = @refused_demands.size
            = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "refused"), class: "btn btn-success btn-xs bold ml-10"
          - if @refused_demands.size != 0
            %table.table.table-hover.validated-demand
              %thead
                %tr
                  %th Créée le
                  %th Utilisateur
                  %th Proprietaire
                  %th Type de bien
                  %th Budget
                  %th Surface
                  %th Périmètre
                  %th Actions
              - @refused_demands.sort_by{|demand| demand.created_at}.reverse.each do |demand|
                %tr
                  %td
                    .date
                      = "#{l(demand.created_at, format: :medium)}"
                  %td
                    - if demand.customer
                      - if (demand.customer.last_name) && (demand.customer.first_name)
                        = link_to admin_customer_path(demand.customer) do
                          = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                      - else
                        = "Utilisateur introuvable"
                  %td
                    - if customer_situation(demand) == true
                      .fa.fa-check.is-a-owner
                  %td
                    = admin_handle_property_type_color(demand.property_type)
                  %td
                    = budget_format(demand.budget)
                  %td
                    - if admin_surface_format(demand.surface) != "non renseigné"
                      = admin_surface_format(demand.surface)
                    - else
                      .empty-field
                        = admin_surface_format(demand.surface)
                  %td
                    - if demand.postal_codes
                      - demand.postal_codes.first(3).each do |zipcode|
                        .zipcode
                          = zipcode
                    - else
                      = "Localisation introuvable"
                  %td
                    .d-flex-between
                      = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                        .fa.fa-file-pdf-o
                        .arrow_box
                          .arrow_box_relative
                            Générer le pdf

                      - if (demand.customer.last_name) && (demand.customer.first_name)
                        = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                          .fa.fa-thumbs-up
                          .arrow_box
                            .arrow_box_relative
                              Activer

                      = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                        .fa.fa-eye
                        .arrow_box
                          .arrow_box_relative
                            Voir le détail

                      = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                        .fa.fa-times
                        .arrow_box
                          .arrow_box_relative
                            Supprimer

          - else
            = "Il n'y a pas de demandes refusées"


        #oldplatform.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Demandes ancienne plateforme
            .badge
              = @old_platform_demands.size
            = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "oldplatform"), class: "btn btn-success btn-xs bold ml-10"
          #old-demands
            %table.table.table-hover.validated-demand
              %thead
                %tr
                  %th.sort{"data-sort": "date"} Créée le
                  %th.sort{"data-sort": "customer-name"} Par
                  %th.sort{"data-sort": "is-owner"} Proprietaire
                  %th.sort{"data-sort": "property-type"} Type de bien
                  %th.sort{"data-sort": "budget"} Budget
                  %th Surface
                  %th Périmètre
                  %th Actions
              %tbody.list
                - @old_platform_demands.reverse.each do |demand|
                  %tr
                    %td
                      .date.hidden
                        = demand.created_at
                      = "#{l(demand.old_platform_created_at, format: :medium)}"
                    %td
                      - if demand.customer
                        = link_to admin_customer_path(demand.customer) do
                          .customer-name
                            = "#{demand.customer.first_name} #{demand.customer.last_name}"
                    %td
                      .is-owner.hidden
                        = customer_situation(demand)
                      - if customer_situation(demand) == true
                        .fa.fa-check.is-a-owner
                    %td
                      .property-type
                        = demand.property_type
                    %td
                      - if demand.budget && demand.budget != []
                        .budget.hidden
                          = demand.budget.reject{|budget| budget.empty?}.first.gsub(/[[:space:]]/,'')
                      = budget_format(demand.budget)
                    %td
                      = surface_format demand.surface
                    %td
                      - demand.postal_codes.first(2).each do |zipcode|
                        .zipcode
                          = zipcode
                    %td
                      .d-flex-between
                        = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf, model: "old"), class: "btn btn-default btn-xs", target: "_blank" do
                          .fa.fa-file-pdf-o
                          .arrow_box
                            .arrow_box_relative
                              Générer le pdf

                        = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                          .fa.fa-thumbs-up
                          .arrow_box
                            .arrow_box_relative
                              Activer

                        = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                          .fa.fa-eye
                          .arrow_box
                            .arrow_box_relative
                              Voir le détail

                        = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                          .fa.fa-times
                          .arrow_box
                            .arrow_box_relative
                              Supprimer


    #deactivated-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            #myModalLabel.modal-title.bold Désactiver la demande
          .modal-body



%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}


:javascript
  var activeOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget', 'surface' ]
  };
  var activeDemands = new List('active-demands', activeOptions);

  var pendingOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type' ]
  };
  var pendingDemands = new List('pending-demands', pendingOptions);

  var oldOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var oldDemands = new List('old-demands', oldOptions);

  var deactivatedOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var deactivatedDemands = new List('deactivated-demands', oldOptions);







