
.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li
          = link_to "Actives", admin_active_demands_path
        %li
          = link_to "En attente", admin_pending_demands_path
        %li
          = link_to "Désactivées", admin_inactive_demands_path
        %li
          = link_to "Refusées", admin_refuse_demands_path
        %li.active
          = link_to "Anciennes", admin_real_old_demands_path
        %li
          = link_to "Incomplètes", admin_orphan_demands_path


    #oldplatform.tab-pane
      .custom-tabs-header
        %h5
          Demandes ancienne plateforme
        .badge
          = @old_platform_demands.size
        = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "oldplatform"), class: "btn btn-success btn-xs bold ml-10"
      #old-demands
        %table.table.table-hover.validated-demand
          %thead
            %tr
              %th.sort{"data-sort": "date"} Créée le
              %th.sort{"data-sort": "customer-name"} Par
              %th.sort{"data-sort": "is-owner"} Proprietaire
              %th.sort{"data-sort": "property-type"} Type de bien
              %th.sort{"data-sort": "budget"} Budget
              %th Surface
              %th Périmètre
              %th Actions
          %tbody.list
            - @old_platform_demands.each do |demand|
              %tr
                %td
                  .date.hidden
                    = demand.created_at
                  = "#{l(demand.old_platform_created_at, format: :medium)}"
                %td
                  - if demand.customer
                    = link_to admin_customer_path(demand.customer) do
                      .customer-name.generic-tooltip
                        = "#{demand.customer.first_name} #{demand.customer.last_name}"
                        .arrow_box
                          .arrow_box_relative
                            = "#{num_to_phone(demand.customer.phone)}"
                %td
                  .is-owner.hidden
                    = customer_situation(demand)
                  - if customer_situation(demand) == true
                    .fa.fa-check.is-a-owner
                %td
                  .property-type
                    = demand.property_type
                %td
                  - if demand.budget && demand.budget != []
                    .budget.hidden
                      = demand.budget.reject{|budget| budget.empty?}.first.gsub(/[[:space:]]/,'')
                  = budget_format(demand.budget)
                %td
                  = surface_format demand.surface
                %td
                  - demand.postal_codes.first(2).each do |zipcode|
                    .zipcode
                      = zipcode
                %td
                  .d-flex-between
                    = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf, model: "old"), class: "btn btn-default btn-xs", target: "_blank" do
                      .fa.fa-file-pdf-o
                      .arrow_box
                        .arrow_box_relative
                          Générer le pdf

                    = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                      .fa.fa-thumbs-up
                      .arrow_box
                        .arrow_box_relative
                          Activer

                    = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                      .fa.fa-eye
                      .arrow_box
                        .arrow_box_relative
                          Voir le détail

                    = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                      .fa.fa-times
                      .arrow_box
                        .arrow_box_relative
                          Supprimer

      = paginate @old_platform_demands


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}


:javascript
  var activeOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget', 'surface' ]
  };
  var activeDemands = new List('active-demands', activeOptions);

  var pendingOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type' ]
  };
  var pendingDemands = new List('pending-demands', pendingOptions);

  var oldOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var oldDemands = new List('old-demands', oldOptions);

  var deactivatedOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var deactivatedDemands = new List('deactivated-demands', oldOptions);

