.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li
          = link_to "Actives", admin_active_demands_path
        %li
          = link_to "En attente", admin_pending_demands_path
        %li
          = link_to "Désactivées", admin_inactive_demands_path
        %li
          = link_to "Refusées", admin_refuse_demands_path
        %li
          = link_to "Anciennes", admin_real_old_demands_path
        %li.active
          = link_to "Incomplètes", admin_orphan_demands_path


    #uncompleted.tab-pane
      .custom-tabs-header
        %h5
          Demandes incomplètes
        .badge
          = @orphan_demands.size
        = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "orphan", filename: "orphan-demands"), class: "btn btn-success btn-xs bold ml-10"
      %table.table.table-hover.validated-demand
        %thead
          %tr
            %th Créée le
            %th Utilisateur
            %th Proprietaire
            %th Type de bien
            %th Budget
            %th Surface
            %th Périmètre
            %th Actions
        - @orphan_demands.each do |demand|
          %tr
            %td
              .date
                = "#{l(demand.created_at, format: :medium)}"
            %td
              = "Utilisateur non inscrit"
            %td
              - if customer_situation(demand) == true
                .fa.fa-check.is-a-owner
            %td
              = admin_handle_property_type_color(demand.property_type)
            %td
              = demand.budget
            %td
              = demand.surface
            %td
              - if demand.search_zipcodes_area
                .zipcode
                  = demand.search_zipcodes_area
              - else
                = "Localisation introuvable"
            %td
              .d-flex-between
                = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                  .fa.fa-file-pdf-o
                  .arrow_box
                    .arrow_box_relative
                      Générer le pdf

                = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                  .fa.fa-eye
                  .arrow_box
                    .arrow_box_relative
                      Voir le détail

                = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                  .fa.fa-times
                  .arrow_box
                    .arrow_box_relative
                      Supprimer
      = paginate @orphan_demands
