
.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li
          = link_to "Actives", admin_active_demands_path
        %li
          = link_to "En attente", admin_pending_demands_path
        %li
          = link_to "Désactivées", admin_inactive_demands_path
        %li.active
          = link_to "Refusées", admin_refuse_demands_path
        %li
          = link_to "Anciennes", admin_real_old_demands_path
        %li
          = link_to "Incomplètes", admin_orphan_demands_path


    #refused.tab-pane
      .custom-tabs-header
        %h5
          Demandes refusées
        .badge
          = @refused_demands.size
        = link_to "Export Excel", generate_demands_xls_file_path(format: "xlsx", collection: "refused"), class: "btn btn-success btn-xs bold ml-10"
      - if @refused_demands.size != 0
        %table.table.table-hover.validated-demand
          %thead
            %tr
              %th Créée le
              %th Utilisateur
              %th Proprietaire
              %th Type de bien
              %th Budget
              %th Surface
              %th Périmètre
              %th Actions
          - @refused_demands.each do |demand|
            %tr
              %td
                .date
                  = "#{l(demand.created_at, format: :medium)}"
              %td
                - if demand.customer
                  - if (demand.customer.last_name) && (demand.customer.first_name)
                    = link_to admin_customer_path(demand.customer) do
                      = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
                  - else
                    = "Utilisateur introuvable"
              %td
                - if customer_situation(demand) == true
                  .fa.fa-check.is-a-owner
              %td
                = admin_handle_property_type_color(demand.property_type)
              %td
                = demand.budget
              %td
                = demand.surface
              %td
                - if demand.search_zipcodes_area
                  .zipcode
                    = demand.search_zipcodes_area
                - else
                  = "Localisation introuvable"
              %td
                .d-flex-between
                  = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                    .fa.fa-file-pdf-o
                    .arrow_box
                      .arrow_box_relative
                        Générer le pdf

                  - if (demand.customer.last_name) && (demand.customer.first_name)
                    = link_to validate_demand_path(demand_id: demand.id.to_s), method: "post", class: "btn btn-success btn-xs" do
                      .fa.fa-thumbs-up
                      .arrow_box
                        .arrow_box_relative
                          Activer

                  = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                    .fa.fa-eye
                    .arrow_box
                      .arrow_box_relative
                        Voir le détail

                  = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                    .fa.fa-times
                    .arrow_box
                      .arrow_box_relative
                        Supprimer

      = paginate @refused_demands


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}


:javascript
  var activeOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget', 'surface' ]
  };
  var activeDemands = new List('active-demands', activeOptions);

  var pendingOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type' ]
  };
  var pendingDemands = new List('pending-demands', pendingOptions);

  var oldOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var oldDemands = new List('old-demands', oldOptions);

  var deactivatedOptions = {
    valueNames: [ 'date', 'customer-name', 'is-owner', 'property-type', 'budget' ]
  };
  var deactivatedDemands = new List('deactivated-demands', oldOptions);

