.admin-container
  .content

    .admin-demand-proposed-container.mt-25
      .container-title
        Actions
      .d-flex-start
        .d-flex-column
          .btn.btn-warning.bold{"data-toggle": "collapse", href: "#form-collapse"} Modifier la demande
          .collapse#form-collapse
            = form_for [:admin, @demand], method: "patch", html: {class: "admin-demand-update-form"} do |f|
              %label{for: "demand_postal_codes"} Périmètre de recherche
              .row
                .admin-postal-codes-container
                  - @demand[:search_zipcodes_area].each_with_index do |postalcode,index|
                    .col-xs-4
                      %input.form-control.admin-zipcode-input{id: "demand_postal_codes_#{index+1}", type: "text", name: "demand[search_zipcodes_area][]", placeholder: "Périmètre de recherche", value: "#{postalcode}", "data-position": "#{index+1}"}
                .col-xs-2
                  .btn.btn-success.auto-height-btn#admin-add-postal-codes-trigger
                    .fa.fa-plus
              - if @demand.surface
                - if @demand[:surface].reject{|surface| surface.to_s.empty?}.size == 1
                  .form-group
                    .row
                      .col-xs-12.col-md-6
                        %label{for: "demand_surface"} Surface mini
                        %input.form-control#demand_surface{type: "text", name: "demand[surface][]", placeholder: "Surface mini", value: "#{@demand[:surface].first}"}
                      .col-xs-12.col-md-6
                        %label{for: "demand_surface"} Surface maxi
                        %input.form-control{type: "text", name: "demand[surface][]", placeholder: "Surface maxi"}

                - elsif @demand[:surface].reject{|surface| surface.to_s.empty?}.size == 2
                  .form-group
                    .row
                      .col-xs-12.col-md-6
                        %label{for: "demand_surface"} Surface mini
                        %input.form-control#demand_surface{type: "text", name: "demand[surface][]", placeholder: "Surface mini", value: "#{@demand[:surface].first}"}
                      .col-xs-12.col-md-6
                        %label{for: "demand_surface"} Surface maxi
                        %input.form-control{type: "text", name: "demand[surface][]", placeholder: "Surface maxi", value: "#{@demand[:surface].last}"}
                - elsif @demand[:surface].reject{|surface| surface.to_s.empty?}.size == 0
                  .form-group
                    .row
                      .col-xs-12.col-md-6
                        %label{for: "demand_surface"} Surface mini
                        %input.form-control#demand_surface{type: "text", name: "demand[surface][]", placeholder: "Surface mini"}
                      .col-xs-12.col-md-6
                        %label{for: "demand_surface"} Surface maxi
                        %input.form-control{type: "text", name: "demand[surface][]", placeholder: "Surface maxi"}

              - if @demand.budget
                - if @demand[:budget].reject{|budget| budget.empty?}.size == 1
                  .form-group
                    .row
                      .col-xs-12.col-md-6
                        %label{for: "demand_min_budget"} Budget mini
                        %input.form-control#demand_min_budget{type: "text", name: "demand[budget][]", placeholder: "Budget mini", value: "#{@demand[:budget].first}"}
                      .col-xs-12.col-md-6
                        %label{for: "demand_min_budget"} Budget maxi
                        %input.form-control{type: "text", name: "demand[budget][]", placeholder: "Budget maxi"}

                - elsif @demand[:budget].reject{|budget| budget.empty?}.size == 2
                  .form-group
                    .row
                      .col-xs-12.col-md-6
                        %label{for: "demand_min_budget"} Budget mini
                        %input.form-control#demand_min_budget{type: "text", name: "demand[budget][]", placeholder: "Budget mini", value: "#{@demand[:budget].first}"}
                      .col-xs-12.col-md-6
                        %label{for: "demand_min_budget"} Budget maxi
                        %input.form-control{type: "text", name: "demand[budget][]", placeholder: "Budget maxi", value: "#{@demand[:budget].last}"}
                - elsif @demand[:budget].reject{|budget| budget.empty?}.size == 0
                  .form-group
                    .row
                      .col-xs-12.col-md-6
                        %label{for: "demand_min_budget"} Budget mini
                        %input.form-control#demand_min_budget{type: "text", name: "demand[budget][]", placeholder: "Budget mini"}
                      .col-xs-12.col-md-6
                        %label{for: "demand_min_budget"} Budget maxi
                        %input.form-control{type: "text", name: "demand[budget][]", placeholder: "Budget maxi"}


              = f.submit "Modifier la demande", class: "btn btn-danger bold"

        - if @demand.completed && !@demand.customer.email.empty?
          .admin-demand-proposed-container-without-style
            = link_to 'Telecharger le PDF', generate_pdf_path(demand_id: @demand.id.to_s, format: :pdf), class: 'btn btn-warning bold ml-10 mr-10', target: "_blank"
        = link_to "Ajouter un commentaire", new_admin_demand_comment_path(demand_id: @demand.id.to_s), class: "btn btn-warning bold"



    .admin-demand-proposed-container
      .container-title
        Commentaires
      - if @demand.v2_demand_comments.any?
        - @demand.v2_demand_comments.each_with_index do |comment, index|
          .comment-item
            .comment-index
              = "#{index + 1}"
            .comment-origin
              = "#{l(comment.created_at, format: :medium_shortest)} / #{comment.author}"
            .comment-body
              = comment.body
            - if comment.important
              .comment-important-comment
                = "Commentaire public"
            .comment-links
              = link_to edit_admin_demand_comment_path(demand_id: @demand.id.to_s, id: comment.id.to_s), class: "btn btn-xs btn-success" do
                .fa.fa-edit
              = link_to admin_demand_comment_path(demand_id: @demand.id.to_s, id: comment.id.to_s), method: :delete, data: {confirm: "Attention action irréversible !!!"}, class: "btn btn-xs btn-danger" do
                .fa.fa-times
      - else
        = "Il n'y a pas de commentaire pour cette demande"

    .admin-demand-proposed-container
      .container-title
        La demande
      .demand-headers
        %p{style: "flex: 2;"} client
        %p{style: "flex: 2;"} type de bien
        %p{style: "flex: 2;"} Périmètre
        %p{style: "flex: 3;"} Budget
      .demand-infos
        .demand-infos-customer{style: "flex: 2;"}
          = link_to admin_customer_path(@demand.customer) do
            = fullname(@demand.customer.first_name, @demand.customer.last_name)
        .demand-infos-prop-type{style: "flex: 2;"}
          = @demand.property_type
        .demand-infos-search{style: "flex: 2;"}
          - if @demand.search_formatted_area
            = @demand.search_formatted_area.truncate(18)
          - else
            = "Localisation introuvable"
        .demand-infos-budget{style: "flex: 3;"}
          = @demand.budget
      .demand-infos-details
        - if @demand.actual_housing
          .demand-infos-details-item
            .title Logement actuel
            = @demand.actual_housing
        - if @demand.actual_housing_area
          .demand-infos-details-item
            .title Surface du logement actuel
            = @demand.actual_housing_area
        - if @demand.actual_situation
          .demand-infos-details-item
            .title Situation actuelle
            = @demand.actual_situation
        - if @demand.age
          .demand-infos-details-item
            .title Age
            = @demand.age
        - if @demand.banker_contact
          .demand-infos-details-item
            .title Contact avec le banquier
            = @demand.banker_contact
        - if @demand.broker_contact
          .demand-infos-details-item
            .title Contact avec un courtier
            = @demand.broker_contact
        - if @demand.bathrooms
          .demand-infos-details-item
            .title Salle de bain
            = @demand.bathrooms
        - if @demand.rooms
          .demand-infos-details-item
            .title Nombre de chambres
            = @demand.rooms
        - if @demand.kitchen
          .demand-infos-details-item
            .title Cuisine
            = @demand.kitchen
        - if @demand.garage
          .demand-infos-details-item
            .title Garage
            = @demand.garage
        - if @demand.current_location
          .demand-infos-details-item
            .title Distance / périmètre de recherche
            = @demand.current_location
        - if @demand.income
          .demand-infos-details-item
            .title Revenus
            = @demand.income
        - if @demand.personality
          .demand-infos-details-item
            .title Personalité
            = @demand.personality


    - if @propositions
      .admin-demand-proposed-container
        .container-title
          Les biens proposés
        - @propositions.each do |prop|
          .proposed-property-item
            - if prop[:property].title
              = link_to admin_property_path(prop) do
                .prop-title
                  = prop[:property].title.downcase.capitalize.truncate(18)
            - elsif prop[:property].titre
              .prop-title
                = prop[:property].titre
            - if prop[:property].localisation
              .prop-city
                = prop[:property].localisation.downcase.capitalize.truncate(16)
            .prop-type
              = prop[:property].property_type
            .prop-price
              = "#{prop[:property].price} €"
            - if prop[:property].area
              .prop-surface
                = "#{prop[:property].area} m²"
            - if prop[:choice]
              - if prop[:choice].choice == "J'aime"
                .prop-choice.like
                  = "Le client aime ce bien"
              - elsif prop[:choice].choice == "Je n'aime pas"
                .prop-choice.hate
                  = "Le client n'aime pas ce bien"
              - elsif prop[:choice].choice == "J'adore"
                .prop-choice.love
                  = "Le client adore ce bien"
            - else
              .prop-choice.waiting
                = "Aucun retour client"
            .growing-item
              - if prop[:proposed]
                .small
                  .badge
                    = "Proposé le #{l(prop[:proposed].created_at, format: :medium_short)}"
              - if prop[:agency]
                = link_to admin_agency_path(prop[:agency]), target: "_blank" do
                  .btn.btn-success.btn-xs.bold.ml-10
                    = "Par #{prop[:agency].name.truncate(18)}"

    .admin-demand-proposed-container-v2
      .container-title-v2
        La demande - en détails
      - @demand.as_json.each do |key,value|
        .proposed-property-item-v2
          .demand-field-name
            = key.to_s.gsub("_"," ")
          .demand-field-value
            - if value.is_a?(BSON::ObjectId)
              = value
            - else
              = value.to_s.truncate(50)


    - if @filtered_agencies
      .admin-demand-proposed-container
        .container-title
          Les agences correspondantes
        .demand-headers
          %p{style: "flex: 2;"} Nom
          %p{style: "flex: 2;"} ville

        - @filtered_agencies.each do |agency|
          .demand-infos
            .demand-infos-customer{style: "flex: 2;"}
              = link_to admin_agency_path(agency), target: "_blank" do
                = agency.name
            .demand-infos-prop-type{style: "flex: 2;"}
              - if agency.city
                = agency.city
              - else
                = "Ville non renseignée"



    - if @demand.completed && !@demand.customer.email.empty?

      .demand-item
        .item-header
          Critères importants
        .item-content
          .field
            = @demand.criterias


    .row
      - if !@demand.completed && @demand.customer.email.empty?
        .col-xs-12.col-md-6
          .unfinished-item-container
            .unfinished-demand-header
              .fa.fa-warning
              .unfinished-header-text
                Demande non finie

            .d-flex-start
              .small
                .bold
                  Ville
                = @demand.localisation

            - if @demand.postal_codes
              .d-flex-start
                .small
                  .bold
                    Périmètre de recherche
                  - @demand.postal_codes.each do |code|
                    = code

        - if @demand.map_circles.any?
          .col-xs-12.col-md-6
            .unfinished-item-container
              .unfinished-demand-header
                .fa.fa-map-marker
                .unfinished-header-text
                  Cercle présent sur la Map

              - @demand.map_circles.each_with_index do |circle, index|
                .map-circle-recap
                  - @localisation = @circle_address.gsub(" ", "+")
                  = link_to "https://www.google.com/maps/place/#{@localisation}", target: "_blank" do
                    .circle-recap-top
                      = "Cercle #{index+1}"
                  .circle-recap-bottom
                    .recap-address
                      = "#{@circle_address}"
                    %div
                      = "Rayon : #{number_to_human(circle.radius.round(2), units: :distance)}"

