.container
  .big-title
    = "Modifier la phrase de kenotte lié à la question - #{@sentence.question.position}"
  = simple_form_for [:v2, @sentence] do |f|
    = f.input :content
    = f.input :demand_attribute, collection: V2Demand.fields.keys, label: "Variable à afficher"
    = f.input :content_after_variable, label: "Contenu après la variable"
    .d-flex-center
      = f.submit "Modifier cette phrase", class: "btn btn-primary"
