.container
  - @partners.each do |partner|
    .panel.panel-default
      - if partner.logo_url
        = image_tag partner.logo_url, width: "100"
      .badge.bold
        = partner.technology
      - if partner.targets
        .small.bold
          = partner.targets
      = link_to "Modifier ce partenaire", edit_partner_path(partner)
