.container
  = simple_form_for @partner do |f|
    .row
      .col-xs-12.col-md-6
        = f.input :name
      .col-xs-12.col-md-6
        = f.input :content
      .col-xs-12.col-md-6
        = f.input :widget_url
      .col-xs-12.col-md-6
        = f.input :widget_html_target
      .col-xs-12.col-md-6
        = f.input :api_url
      .col-xs-12.col-md-6
        = f.input :iframe_url
      .col-xs-12.col-md-6
        = f.input :service_url
      .col-xs-12.col-md-6
        = f.input :service_identifier
      .col-xs-12.col-md-6
        = f.input :service_password
      .col-xs-12.col-md-6
        = f.input :javascript_code
      .col-xs-12.col-md-6
        %label.form-control-label.string Technologie
        = f.input :technology, collection: ["API","WIDGET","LIEN CLASSIQUE","IFRAME"], as: :radio_buttons
      .col-xs-12.col-md-6
        %label.form-control-label.string Cibles
        = f.input :targets, collection: ["PRIMO","EXPERT","VIP"], as: :check_boxes
      .col-xs-12
        = f.input :logo
      .col-xs-12
        .d-flex-center.mt-25.mb-25
          = f.submit "Créer un partenaire", class: "btn btn-default"
