
.container-without-behaviour
  - if @from_dashboard
    .fa.fa-times{"data-dismiss": "modal"}
  .card
    .d-flex-center.mb-25
      = image_tag @partner.logo_url, width: "180"

- if @partner.technology.downcase == "widget"
  %div{id: "#{@partner.widget_html_target}"}

- if @partner.technology.downcase == "widget"
  %script
    = raw @partner.javascript_code

- if @partner.technology.downcase == "iframe"
  %iframe{src: "#{@partner.iframe_url}"}




