%section.employee-session--form
  %section.employee-session--left
    .legal-status-container
      This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
    .employee-session--formtitle
      Inscription
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      = f.input :email, placeholder: "Courriel", label: false, required: true
      = f.input :firstname, placeholder: "Prénom", label: false, required: true
      = f.input :lastname, placeholder: "Nom", label: false, required: true

      / .d-flex-start
      /   = f.input_field :role, as: :radio_buttons, collection: EmployeeRole.list

      = f.input :password, placeholder: 'Mot de passe', label: false, required: true
      = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false, required: true
      .password-viewer-container
        .inline-svg
          = svg("feather-eye")
        .password-viewer-text
          Voir le mot de passe


      .custom-checkboxes-container
        .custom-checkboxes-title
          = "Veuillez définir un rôle pour cet utilisateur"
        %input{type: "hidden", name: "employee[role]"}
        - EmployeeRole.richer_list.each do |item|
          .custom-checkbox-wrapper
            %input{type: "radio", value: "#{item[:role].downcase}", name: "employee[role]", id: "employee_role_#{item[:role].downcase}"}
            %label{for: "employee_role_#{item[:role].downcase}"}
              .role
                = item[:role]
              .content
                = item[:content]
            .absolute-role-content
              .inline-svg
                = svg("alert-circle-warning")
              %div
                = item[:content]


      .d-flex-center.mt-50
        = f.button :submit, "Je valide", class: 'modern-black-btn'

  %section.employee-session--right
    .inline-svg
      = svg("signin-illu")
