%section.property_to_sell
  .header
    .header-logo
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/castor-money.png"
    .header-content
      .header-content-title
        Votre bien immobilier à vendre
      .header-content-body
        Totalement décidé ?… Ou encore indécis ?
        Nous sommes là pour vous aider à prendre la bonne décision.

.container
  = form_tag(property_to_sell_create_path, method: :post, id: "prospect-properties-form") do

    %fieldset
      %legend
        Il s'agit ...
      %div
        .input-container
          %input#choice1{type:"radio",name:"prospect_property[property_type]",value:"maison"}
          %label.big-label{for:"choice1"}
            D'une maison
        .input-container
          %input#choice2{type:"radio", name:"prospect_property[property_type]", value:"appartement"}
          %label.big-label{for:"choice2"}
            D'un appartement
        .input-container
          %input#choice3{type:"radio", name:"prospect_property[property_type]", value:"terrain"}
          %label.big-label{for:"choice3"}
            D'un terrain

    %legend
      Un peu plus de détails sur ma perle

    .form-group
      %label
        Où est-elle située
      %input.form-control{type: "text", name: "prospect_property[localisation]"}

    .form-group
      %label
        Superficie en m²
      %input.form-control{type: "text", name: "prospect_property[housing_area]"}

    .form-group
      %label
        Prix de vente souhaité du bien
      %input.form-control{type: "text", name: "prospect_property[price]"}

    .form-group
      %label
        Ce qui me plait dans mon logement actuel ?
      %textarea{name: "prospect_property[like]"}

    .d-flex-center.mt-20.mb-25
      %input.bcs-button-sm{type: "submit", value: "J'ENVOIE"}


/ = simple_form_for(@prospect_property, method: :post) do |f|
/   = f.input :property_type, collection: ["Choisir dans la liste","Maison","Appartement","Terrain"], selected: 0, label: "Type de bien"
/   = f.input :name
/   = f.input :localisation
/   = f.input :area
/   = f.input :price
/   = f.input :status
/   = f.input :like
/   = f.input :comment
/   = f.input :score
/   = f.input :desc
/   = f.input :ground, collection: ["Choisir dans la liste","Oui","Non"], selected: 0, label: "De plain pied ?"
/   = f.input :constructor_contact
/   = f.input :ground_area
/   = f.input :housing_area
/   = f.input :nb_rooms
/   = f.input :options
/   = f.input :since_when, as: :date, label: "Depuis quand"
/   = f.button :submit
