<div class="container">
  <h2>Changer mon mot de passe</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, label: "Nouveau mot de passe", required: true, autofocus: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Confirmation du mot de passe", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Changer mon mot de passe", class: "bcs-button-sm" %>
    </div>
  <% end %>
</div>
