.container#javascript-scroll-on-load
  .d-flex.conversation-header-infos-recap
    - if @conversation.property.images_array
      = image_tag @conversation.property.images_array.last, width: "100"
    - elsif @conversation.property.pictures.any?
      = image_tag @conversation.property.pictures.last.photo_url, width: "100"
    - elsif @conversation.property.pdf
      = image_tag "pdf-placeholder.png", width: "50"

    .property-title
      - if @conversation.property.titre
        = @conversation.property.titre
      - elsif @conversation.property.title
        = @conversation.property.title
    .property-price.mr-10
      - if @conversation.property.prix
        = "#{number_with_delimiter(@conversation.property.prix.to_i, local: :fr)} €"
      - if @conversation.property.price
        = "#{number_with_delimiter(@conversation.property.price.gsub(/\u00a0/, '').to_i, locale: :fr)} €"

    = link_to "Retour", :back, class: "bcs-button-sm-special"


  - if @conversation.messages.any?
    .conversation-wrapper
      - @conversation.messages.sort_by{|message| message.created_at}.each do |message|
        - if message.origin == "customer"
          .full-message-container
            .message-item
              = message.body
              .abs-message-creation-time
                = "Envoyé à #{l(message.created_at, format: :count)}"
            .customer-avatar
              .fa.fa-user
        - elsif message.origin == "agency"
          .full-message-container-agency
            .message-item
              = message.body
              .abs-message-creation-time
                = "Envoyé à #{l(message.created_at, format: :count)}"
            .customer-avatar
              .fa.fa-user
  - else
    .conversation-wrapper
  - if current_customer
    .message-input-container
      = simple_form_for :customer_message, url: conversation_message_path(conversation_id: @conversation.id.to_s, customer_id: @conversation.sender.id.to_s, origin: "customer"), html:{autocomplete: 'off'}  do |f|
        .input-plus-submit-container
          = f.input :body, label: false, placeholder: "Je rédige mon message"
          = button_tag type: 'submit', class: "iconed-submit-button" do
            .fa.fa-paper-plane-o
            .button-with-icon-text
              = "Envoyer"
  - if current_agency
    .message-input-container
      = simple_form_for :customer_message, url: conversation_message_path(conversation_id: @conversation.id.to_s, customer_id: @conversation.sender.id.to_s, origin: "agency"), html:{autocomplete: 'off'}  do |f|
        .input-plus-submit-container
          = f.input :body, label: false, placeholder: "Je rédige mon message"
          = button_tag type: 'submit', class: "iconed-submit-button" do
            .fa.fa-paper-plane-o
            .button-with-icon-text
              = "Envoyer"





