%h1 Chatrooms

- if @chatrooms.any?
  - @chatrooms.each do |chatroom|
    .small.bold
      = link_to chatroom.topic, chatroom_path(chatroom)
- else
  .small.bold
    Be the first one to make a chatroom!
