%section.chatroom-page#agency-side
  .height-fullpage-container
    .d-flex-start.chatroom-title-container
      = link_to request.referer.present? ? request.referer : default_path do
        .fa.fa-arrow-left
      - if @property.img_1_url
        .chatroom-big-photo-item{style: "background-image: url(#{@property.img_1_url});"}
      - else
        .chatroom-big-photo-item{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

      - if @property.title
        %h1
          = "#{@property.title}, #{number_with_delimiter(@property.price.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
      - else
        %h1 Titre indisponible

    .panel.panel-default#chatroom
      - if @chatroom.chat_messages.any?
        .panel-body#messages{"data-scroll": "on"}
          - if customer_signed_in?
            .conversation-starting-message
              Une question sur votre proposition ? Entrez en contact avec l’agence qui vous a proposé cette offre, en lui envoyant un message privé. Votre anonymat sera préservé tant que vous n’aurez pas aimé cette proposition
          = render partial: 'chat_messages/chat_message', collection: @chatroom.chat_messages
      - else
        .panel-body.hidden#messages

    - if customer_signed_in?
      .customer-chatroom-form-input
        = render partial: 'chat_messages/chat_message_form', locals: {message: @chat_message, chatroom: @chatroom}
    - if agency_signed_in?
      .agency-chatroom-form-input
        = render partial: 'chat_messages/agency_chat_message_form', locals: {message: @chat_message, chatroom: @chatroom}
  .chatroom-property-container
    .chatroom-property-header
      .chatroom-header-title Description
      .chatroom-header-content-container
        .infos-content-item
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
          = "#{@property.nb_room} Pièces"
        .infos-content-item
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
          = surface_format(@property.area)
        .infos-content-item
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
          - if @property.type_bien
            = @property.type_bien
          - if @property.property_type
            = @property.property_type
        .infos-content-item
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
          - if @property.cp && @property.ville
            = "#{@property.cp} #{@property.ville}"
          - if @property.zipcode && @property.localisation
            = "#{@property.zipcode} #{@property.localisation}"

    .chatroom-property-content
      - if @photos
        .chatroom-content-title Les photos
        .chatroom-photos-container
          - @photos.each do |photo|
            .chatroom-photo-item{style: "background-image: url(#{photo})"}
    .chatroom-property-footer
