.admin-container
  .content
    .d-flex-center.mt-25
      .header
        = "Modifier le membre - #{@customer.first_name} #{@customer.last_name}"
    = simple_form_for [:admin, @customer] do |f|
      - @customer.fields.keys.each do |field|
        = f.input field.to_sym
      .d-flex-center.mb-25
        = f.submit "Modifier ce membre", class: "bcs-button-sm-special"

