.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les clients bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls": "active", "data-toggle": "tab", href: "#active-customers-tab", role: "tab"}
            Clients actifs
            %span.badge
              = @valid_customers.size
        %li{role: "presentation"}
          %a{"aria-controls": "uncomplete", "data-toggle": "tab", href: "#uncomplete-customers-tab", role: "tab"}
            Clients incomplets
            %span.badge
              = @unvalid_customers.size


      .tab-content

        #active-customers-tab.tab-pane.active{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Clients actifs
            .badge
              = @valid_customers.size
            = link_to "Export Excel", generate_customers_xls_file_path(format: "xlsx", collection: "activated"), class: "btn btn-success btn-xs bold ml-10"
          #active-customers
            %table.table.table-hover.active-customers
              %thead
                %tr
                  %th.sort{"data-sort": "name"} Nom
                  %th.sort{"data-sort": "phone"} Téléphone
                  %th.sort{"data-sort": "email"} Email
                  %th.sort{"data-sort": "city"} Ville
                  %th Actions
              %tbody.list
                - @valid_customers.each do |customer|
                  - if customer.valid?
                    %tr
                      %td
                        .name{style: "font-size: 14px;font-weight: 700;letter-spacing: -0.3px;"}
                          = "#{customer.first_name} #{customer.last_name}"
                      %td
                        .phone
                          = customer.phone
                      %td
                        .email
                          = customer.email if customer.email
                      %td
                        .city
                          = customer.city if customer.city
                      %td
                        .d-flex-between
                          = link_to admin_customer_path(customer), class: "btn btn-primary btn-xs" do
                            .fa.fa-eye
                          = link_to admin_customer_path(customer), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Attention action irréversible"} do
                            .fa.fa-times
                          = link_to edit_admin_customer_path(customer), class: "btn btn-success btn-xs" do
                            .fa.fa-edit

        #uncomplete-customers-tab.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Clients incomplets
            .badge
              = @unvalid_customers.size
            = link_to "Export Excel", generate_customers_xls_file_path(format: "xlsx", collection: "uncompleted"), class: "btn btn-success btn-xs bold ml-10"
          #uncompleted-customers
            %table.table.table-hover.uncompleted-customers
              %thead
                %tr
                  %th.sort{"data-sort": "name"} Id
                  %th.sort{"data-sort": "email"} Email
                  %th.sort{"data-sort": "city"} Ville
                  %th Actions
              %tbody.list
                - @unvalid_customers.each do |customer|
                  - if !customer.valid?
                    %tr
                      %td
                        .name
                          = "#{customer.id.to_s}"
                      %td
                        .email
                          = customer.email if customer.email
                      %td
                        .city
                          = customer.city if customer.city
                      %td
                        .d-flex-between
                          = link_to admin_customer_path(customer), class: "btn btn-primary btn-xs" do
                            .fa.fa-eye
                          = link_to admin_customer_destroy_path(customer), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Attention action irréversible"} do
                            .fa.fa-times
                          = link_to admin_customer_path(customer), class: "btn btn-success btn-xs" do
                            .fa.fa-edit


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

:javascript
  var activeOptions = {
    valueNames: [ 'name', 'email', 'city', 'phone' ]
  };
  var activeCustomers = new List('active-customers', activeOptions);

  var uncompletedOptions = {
    valueNames: [ 'name', 'email', 'city' ]
  };
  var uncompletedCustomers = new List('uncompleted-customers', uncompletedOptions);


