.admin-container
  .content
    - @customer.attributes.each do |attr|
      - if @customer.valid?
        .content-item
          .item
            %strong
              = "#{attr.first} - "
            = "#{attr.last}"
    .content-item
      .item
        - if @customer.demands != []
          %strong
            = "Demande active pour ce customer - "
          = link_to "Voir cette demande", admin_demand_path(@customer.demands.last), class: "bcs-button-text"

