.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les clients bientôt chez soi"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li
          = link_to "Clients actifs", admin_valid_customers_path
        %li.active
          = link_to "Clients incomplets", admin_unvalid_customers_path


      .tab-content-test
        #uncomplete-customers-tab.tab-pane
          .custom-tabs-header
            %h5
              Clients incomplets
            .badge
              = @unvalid_customers.size
            = link_to "Export Excel", generate_customers_xls_file_path(format: "xlsx", collection: "uncompleted"), class: "btn btn-success btn-xs bold ml-10"
          #uncompleted-customers
            %table.table.table-hover.uncompleted-customers
              %thead
                %tr
                  %th.sort{"data-sort": "name"} Id
                  %th.sort{"data-sort": "email"} Email
                  %th.sort{"data-sort": "city"} Ville
                  %th Actions
              %tbody.list
                - @unvalid_customers.each do |customer|
                  - if !customer.valid?
                    %tr
                      %td
                        .name
                          = "#{customer.id.to_s}"
                      %td
                        .email
                          = customer.email if customer.email
                      %td
                        .city
                          = customer.city if customer.city
                      %td
                        .d-flex-between
                          = link_to admin_customer_path(customer), class: "btn btn-primary btn-xs" do
                            .fa.fa-eye
                          = link_to admin_customer_destroy_path(customer), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Attention action irréversible"} do
                            .fa.fa-times
                          = link_to edit_admin_customer_path(customer), class: "btn btn-success btn-xs" do
                            .fa.fa-edit

    = paginate @unvalid_customers


%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

:javascript
  var activeOptions = {
    valueNames: [ 'name', 'email', 'city', 'phone' ]
  };
  var activeCustomers = new List('active-customers', activeOptions);

  var uncompletedOptions = {
    valueNames: [ 'name', 'email', 'city' ]
  };
  var uncompletedCustomers = new List('uncompleted-customers', uncompletedOptions);


