%section.jobs-header
  .left-content
    = image_tag 'https://cdn.bientotchezsoi-dev.com/images/castor-contrat.png'
  .right-content
    %h1
      Nous cherchons des talents et plus encore !

%section.jobs-content
  .d-flex-center
    %h1.big-title
      NOS OFFRES...
  .row
  - @jobs.each do |job|
    .col-xs-12.col-md-6
      .job-card
        = image_tag job.picto
        .title
          = job.name
        .content
          = job.profil
        = link_to 'JE POSTULE', job_path(lname: job.lname), class: 'bcs-button'



%section.jobs-page.hidden
  .jobs-banner{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/castor-contrat.png');"}
    .jobs-banner-content
      nous cherchons des talents et bien plus !

  .container

    .jobs-big-header
      .icon
      .text
        la vie avec kenotte et bientôt chez soi

    .row
      .col-xs-12.col-md-4
        .job-presentation-item
          .item-icon
          .item-text
            De la joie et de la bonne humeur, tous les jours, quelque soit la météo

      .col-xs-12.col-md-4
        .job-presentation-item
          .item-icon
          .item-text
            Plein de castors avec de bonnes idées mais parfois farfelues

      .col-xs-12.col-md-4
        .job-presentation-item
          .item-icon
          .item-text
            Du travail bien sûr, en pensant avant tout au client

    .jobs-big-header
      .icon
      .text
        ça vous plait ? alors simplifions l'immobilier ensemble !

    .row
      - @jobs.each do |job|
        .col-xs-12.col-md-4
          .job-new-card
            .job-new-card-top
              = job.name
            .job-new-card-middle
              = job.more
            .job-new-card-bottom
              = link_to 'JE POSTULE', job_path(lname: job.lname), class: 'bcs-button-sm-special'

    .jobs-big-header
      .icon
      .text
        vous avez un autre talent encore plus extraordinaire ?

    .candidacy-form
      .small-header-text
        Les offres ne correspondent pas à ce dont vous êtes capables ? Postulez ici :
      .row
        = simple_form_for @candidacy do |f|
          .col-xs-12.col-md-4
            = f.input :firstname, label: false, placeholder: "Prénom"
          .col-xs-12.col-md-4
            = f.input :lastname, label: false, placeholder: "Nom"
          .col-xs-12.col-md-4
            = f.input :email, label: false, placeholder: "Email"
          .col-xs-12.col-md-6
            = f.input :phone, label: false, placeholder: "Téléphone"
          .col-xs-12.col-md-6
            = f.input :jobname, label: false, placeholder: "Nom du poste que vous voudriez occuper"
          .col-xs-12
            = f.input :message, label: false, placeholder: "Message", as: :text
          .col-xs-12
            = f.submit "JE POSTULE", class: "bcs-button-sm-special"

