.job-container
  %section.job-header
    = image_tag @job.picto
    %h1
      = @job.name
  %section.job-content
    = @job.mission.html_safe

%section.job-show.hidden
  .job-show-banner{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/agence-front-resize.jpg');"}
    .show-banner-content
      = @job.name

  .container
    .job-show-blocks
      .one
        .block-header
          .icon-title-pro.fontastic-icon
          votre mission
      .two
        .block-header
          .icon-user.fontastic-icon.white-text
          .white-text
            votre profil
      .three
        .block-header
          .icon-settings.fontastic-icon
          quelques détails techniques
      .four
        .block-header
          .icon-star.fontastic-icon.white-text
          .white-text
            les petits plus
