.new-password-form-container
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    .container
      .row
        .col-xs-12.col-md-offset-3.col-md-6
          .authenticated_header
            %h4
              J'ai oublié mon mot de passe !
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/contact.png"
        .col-xs-12.col-md-offset-3.col-md-6
          .form-title
            Veuillez suivre les instructions ci-dessous !
    .container
      .row
        .col-xs-12.col-md-offset-3.col-md-6
          .form-inputs
            = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
        .col-xs-12.col-md-offset-3.col-md-6
          .form-actions
            = f.button :submit, "Recevoir les instructions de réinitialisation", class: "bcs-button-green"



