.container-fullpage
  .agency-active-demands
    %i.fa.fa-user
    = "Vos informations"
    = link_to agency_infos_edit_path(agency_id: @agency.id.to_s) do
      %i.fa.fa-pen
      = "Modifier mes infos"
  .agency-actions-infos
    .agency-min-price-container
      %strong
        = "Prix minimum :"
      = "#{number_with_delimiter(@agency.min_price, locale: :fr)} €"
    - if @agency.postal_codes
      .agency-action-container
        %strong
          = "Rayon d'action :"
        - @agency.postal_codes.each do |zipcode|
          .action-zipcode
            = "#{zipcode}"


- if @agency.demands.any?
  .agency-active-demands
    %i.fa.fa-file
    = "Vos demandes"
  - @agency.demands.each do |demand|
    .agency-actions-demands
      .actions-demands-item
        = "#{demand.property_type.downcase.capitalize} à #{demand.localisation}"
        .absolute-property-creation-date
          = "Ajouté le #{l(demand.created_at, format: :medium)}"
        = link_to 'TELECHARGER LE PDF', generate_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: 'bcs-button-text', target: "_blank"
        = link_to "PROPOSER UN BIEN", property_proposition_path(demand_id: demand.id.to_s,agency_id: @agency.id.to_s), class: 'bcs-button-text'

- else
  = "Vous n'avez pas de demande."


- if @agency.properties.any?
  .agency-active-demands
    %i.fa.fa-list
    = "Vos biens actifs"
  - @agency.properties.each do |prop|
    .agency-zone-property-item
      .property-item-left-block{style: "background-image: url('#{prop.pictures.last.photo_url if prop.pictures != []}');"}
      - if prop.pictures != []
        = image_tag prop.pictures.last.photo_url, width: "80"
      .property-item-right-block
        .right-block-fullwidth-item-between
          .title
            = prop.title
          .price
            = "#{number_with_delimiter(prop.price.to_i, locale: :fr)} €"
        .right-block-fullwidth-item
          %i.fa.fa-map-marker
          = "#{prop.city.to_s.downcase.capitalize}, #{prop.localisation}"
        .right-block-fullwidth-item
          - if prop.pdf
            = link_to prop.pdf_url, download: true, target: "_blank", format: "pdf", class: "dashboard-pdf-link" do
              .fa.fa-file-pdf-o
              .text
                .small
                  Télécharger le pdf
- else
  = "Vous n'avez pas de biens."




- if @agency.pdf_properties.any?
  .agency-active-demands
    %i.fa.fa-list
    = "Vos pdf transmis"
  - @agency.pdf_properties.each do |prop|
    .agency-zone-property-item
      .property-item-left-block
        - if prop.photo
          = link_to "VOIR LE PDF", prop.photo_url, class: "bcs-button-text", target: "_blank"
      .property-item-right-block
        .right-block-fullwidth-item-between
          .title
            = prop.name
          .price
            = prop.status
        .right-block-fullwidth-item
          %i.fa.fa-map-marker
          = "Pdf envoyé le #{l(prop.created_at, format: :medium)}"
        .right-block-fullwidth-item
          .property-like
            %i.fa.fa-heart.greenheart
            .text 6
          .property-dislike
            %i.fa.fa-fire
            .text 8
- else
  = "Vous n'avez pas transmis de pdf"





= link_to "Créer un bien", agency_zone_create_property_path, class: "bcs-button-sm"
= link_to "Envoyer un pdf", agency_zone_upload_pdf_path, class: "bcs-button-sm"
