.container
  %section.agency-form-edit
    .d-flex-center
      .agency-edit-header-name
        = "#{@agency.name if @agency.name} - #{@agency.city.capitalize if @agency.city}"
    .d-flex-center
      .agency-edit-header-hints
        Modifier votre budget minimum et votre rayon d'action
    = simple_form_for(@agency, url: dashboard_agency_path(@agency)) do |f|

      .row
        .col-xs-12.col-md-6
          .custom-form-group
            .custom-form-label
              Budget minimum
            = f.input :min_price, label: false, input_html: {class: "formatted-numeric-input"}

        .col-xs-12.col-md-6
          .custom-form-group
            .custom-form-label
              Rayon d'action
              .add-zipcode-input
                + Ajouter un code postal
            .custom-form-multi-inputs
              = f.input :catchment_area, as: :array, label: false

      .d-flex-center
        = f.button :submit, class: "bcs-button-sm", value: "Modifier votre agence"
