.container
  = simple_form_for @customer_advice do |f|
    = f.input :property, as: :hidden, input_html: {value: @property_id}
    = f.input :demand, as: :hidden, input_html: {value: @demand_id}
    = f.input :like
    = f.input :comment
    = f.input :score
    = f.button :submit, value: "Donner mon avis sur ce bien", class: "bcs-button-sm"
