.custom-404-page {
  background-color: white;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
}

.custom-404-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    margin-top: 30px;
    width: 300px;
  }
}


.custom-404-header {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: rgb(80,80,80);
  text-align: center;
  font-weight: bolder;
}

.custom-404-body {
  font-size: 18px;
  color: rgb(100,100,100);
  text-align: center;
}

@media (max-width: 768px) {
  .custom-404-page-content img {
    width: 230px;
  }
  .custom-404-header {
    font-size: 22px;
  }
  .custom-404-body {
    font-size: 18px;
    margin-top: 10px;
  }
  .custom-404-page {
    padding: 0 20px;
  }
}
