.fullsize-page {
  height: calc(100vh - 69px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cerebri Sans";
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7rem;
    text-align: center;
    padding: 20px;
    .inline-svg {
      margin-bottom: 10px;
      svg {
        width: 120px;
        height: 120px;
      }
    }
    strong {
      font-size: 2rem;
      letter-spacing: -0.4px;
      margin-bottom: 10px;
    }
  }
}
