.admin-demand-proposed-container {
  border: 1px solid rgb(230,230,240);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  .demand-infos {
    display: flex;
    align-items: center;
    font-weight: 600;
    .demand-infos-customer {
      a {
        font-weight: 700;
        color: $green;
      }
    }
  }
  .demand-headers {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase;
      color: lighten($gray,25%);
      margin: 0;
    }
  }
  .comment-item {
    display: flex;
    align-items: center;
    padding: 4px 0;
    .separator {
      height: 100%;
      border-left: 1px solid rgb(230,230,240);
    }
    .comment-body {
      flex: 1;
      font-weight: 600;
      color: $gray;
    }
    .comment-important-comment {
      padding: 5px;
      background-color: tomato;
      color: white;
      border-radius: 4px;
      font-weight: 700;
      font-size: 1.3rem;
      margin-right: 10px;
    }
    .comment-links {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .comment-origin {
      font-weight: 600;
      color: lighten($gray,25%);
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: -0.4px;
      font-weight: 700;
      margin-right: 15px;
      width: 140px;
    }
    .comment-index {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 10px;
      color: white;
      margin-right: 6px;
      background-color: lighten($gray,20%);
    }
  }
  .container-title {
    color: $dark-red;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .proposed-property-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .growing-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      margin-left: 10px;
    }
    .prop-choice {
      width: 150px;
      font-size: 11px;
      letter-spacing: -0.4px;
      font-weight: 700;
      text-transform: uppercase;
      &.waiting {
        color: lighten($gray,40%);
      }
      &.love {
        color: green;
      }
      &.like {
        color: green;
      }
      &.hate {
        color: orange;
      }
    }
    .prop-city {
      width: 120px;
      margin-left: 10px;
      font-weight: 700;
      color: $gray;
      font-size: 16px;
    }
    .prop-title {
      width: 140px;
      margin-right: 20px;
      font-weight: 700;
    }
    .prop-surface {
      width: 80px;
      margin-right: 10px;
      font-weight: 700;
      font-size: 16px;
      color: lighten($gray,15%);
    }
    .prop-type {
      color: $green;
      font-weight: 600;
      width: 110px;
      margin-right: 10px;
    }
    .prop-price {
      color: $dark-red;
      font-weight: 700;
      width: 100px;
      margin-right: 10px;
      font-size: 16px;
    }
  }
}


.admin-demand-proposed-container-v2 {
  font-family: "Cerebri Sans";
  border: 1px solid #e6e6f0;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  .container-title-v2 {
    font-size: 2rem;
    font-weight: 700;
    color: tomato;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
  }
  .proposed-property-item-v2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    .demand-field-name {
      font-weight: 700;
      letter-spacing: -0.4px;
      margin-right: 6px;
    }
    .demand-field-value {
      font-weight: 400;
    }
  }
}







