.item-img {
  width: 160px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(230,230,240);
  border-radius: 4px;
}

.admin-prop-show-price {
  font-size: 16px;
  font-weight: 700;
  color: $dark-red;
}

.admin-prop-show-localisation {
  font-size: 16px;
  font-weight: 700;
  color: $gray;
}

.admin-prop-show-title {
  font-size: 16px;
}

.admin-prop-show-zipcode {
  font-size: 16px;
}

.agency-infos-text {
  font-size: 16px;
}

.agency-infos-name {
  font-weight: 700;
  color: $green;
}

