.admin-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  .navigation {
    min-width: 180px;
    background-color: $gray;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    .header {
      padding-left: 10px;
      color: white;
      font-size: 16px;
      height: 60px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .item {
      padding-left: 10px;
      font-size: 14px;
      margin-bottom: 10px;
      a {
        color: white;
        font-weight: bolder;
        &:hover {
          color: white;
        }
      }
    }
  }
  .content {
    overflow-y: scroll;
    flex-grow: 1;
    padding-right: 45px;
    padding-left: 280px;
    .demand-status-container {
      .separator {
        height: 100%;
        margin: 0 5px;
      }
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 25px;
    }
    .success {
      color: $green;
      font-weight: bolder;
    }
    .failed {
      color: $dark-red;
      font-weight: bolder;
    }
    h5 {
      font-size: 16px;
      font-weight: bolder;
      color: $gray;
    }
    .content-item {
      padding: 30px;
      border-radius: 4px;
      border: 1px solid $light-gray;
      margin-bottom: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .infos {
        flex-grow: 1;
        display: flex;
        align-items: center;
        .created-at {
          font-size: 12px;
          font-weight: bolder;
          color: $dark-red;
        }
        .zipcode {
          margin-right: 6px;
          font-weight: normal;
        }
        .agency-name {
          margin-right: 6px;
          color: $dark-red;
          min-width: 180px;
        }
        .city {
          font-size: 14px;
          font-weight: bolder;
          margin-right: 6px;
          text-transform: uppercase;
        }
        .price {
          min-width: 100px;
          font-size: 16px;
          font-weight: bolder;
          color: $dark-red;
        }
        mark.location {
          background-color: $green;
          color: white;
          margin: 0 10px;
          border-radius: 3px;
          padding: 4px 10px;
          font-weight: bolder;
          font-size: 13px;
        }
        mark.sell {
          background-color: $dark-red;
          color: white;
          margin: 0 10px;
          border-radius: 3px;
          padding: 4px 10px;
          font-weight: bolder;
          font-size: 12px;
        }
        strong {
          color: $gray;
        }
        .property-type {
          text-transform: uppercase;
          margin: 0 6px;
          font-weight: bolder;
          color: $dark-red;
          font-size: 12px;
        }
        .separator {
          margin: 0 5px;
          color: lighten($gray,10%);
        }
      }
      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .failed {
          padding: 4px 6px;
          background-color: $dark-red;
          color: white;
          border-radius: 2px;
          font-weight: bolder;
          font-size: 13px;
        }
        .success {
          padding: 4px 6px;
          background-color: $green;
          color: white;
          border-radius: 2px;
          font-weight: bolder;
          font-size: 13px;
        }
        a {
          font-size: 14px;
          color: $green;
          margin: 0 8px;
          font-weight: bolder;
        }
      }
    }
  }
}



.property-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
  width: 100%;
  .title {
    width: 100%;
    color: $green;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
  }
  .item-content {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 1.7;
    .header-title {
      font-weight: normal;
      color: $dark-red;
      font-size: 16px;
    }
    .price {
      font-weight: bolder;
      font-size: 16px;
      color: $dark-red;
    }
  }
}




.demand-item {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
  width: 100%;
  .item-header {
    width: 100%;
    color: $green;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
  }
  .item-content {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-top: 2px;
    line-height: 1.7;
    .field {
      display: flex;
      align-items: center;
      .key-field {
        font-weight: bolder;
        margin-right: 5px;
      }
      .value-field {
        color: lighten($gray,30%);
        font-weight: bolder;
      }
    }
  }
}


.demand-status-success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 16px;
  border-radius: 2px;
}

.demand-status-failed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-red;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 16px;
  border-radius: 2px;
}





.agency-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
  width: 100%;
  .agency-header {
    width: 100%;
    color: $green;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
  }
  .agency-content {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .agency-content-noflex {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    line-height: 1.7;
  }
}


.current-date-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  .current-date {
    font-size: 20px;
    font-weight: lighter;
  }
  .today-demands {
    font-size: 20px;
    font-weight: normal;
    color: $gray;
    margin-right: 15px;
  }
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  .pending-demands-trig {
    padding: 4px 8px;
    cursor: pointer;
    color: $dark-red;
    font-weight: bolder;
    border: 1px solid $dark-red;
    margin-right: 10px;
    border-radius: 3px;
    &.active {
      background-color: $dark-red;
      color: white;
    }
  }
  .validated-demands-trig {
    padding: 4px 8px;
    cursor: pointer;
    color: $green;
    font-weight: bolder;
    border: 1px solid $green;
    border-radius: 3px;
    &.active {
      background-color: $green;
      color: white;
    }
  }
}



.validated-demands-title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  color: $green;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;
}

.pending-demands-title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  color: $dark-red;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;
}





.agency-properties-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  .agency-properties-listing {
    flex: 1;
    .price {
      font-weight: bolder;
      color: lighten($gray, 20%);
    }
    .offer-type {
      display: inline-block;
      font-weight: bolder;
      color: $gray;
      &.green {
        color: $green;
      }
      &.red {
        color: $red;
      }
      &.orange {
        color: orange;
      }
    }
  }
}


.inline-full-agency-infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  &.last-infos {
    margin-bottom: 50px;
  }
  .agency-name {
    font-size: 24px;
    font-weight: lighter;
    color: $gray;
    margin: 0 10px;
  }
  .agency-address {
    font-size: 14px;
    font-weight: bolder;
    color: lighten($gray,20%);
    margin-right: 10px;
  }
  .agency-url {
    font-size: 14px;
    font-weight: bolder;
    color: $green;
    margin-right: 10px;
  }
  .agency-properties-count {
    font-size: 14px;
    font-weight: bolder;
    margin-right: 10px;
    color: $light-gray-2;
  }
  .agency-min-price {
    font-size: 14px;
    font-weight: bolder;
    color: $light-gray-2;
  }
}






.agency-header {
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  .agency-header-item {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: stretch;
    .logo {
      width: 160px;
      height: 120px;
      border-bottom: 1px inset rgb(240,240,240);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .agency-header-content {
      display: flex;
      flex: 8;
      .left {
        padding-left: 20px;
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(240,240,240);
        .title {
          font-family: "Open Sans";
          font-size: 24px;
          font-weight: lighter;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .address {
          font-family: "Open Sans";
          font-weight: bolder;
          color: rgb(100,100,100);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 5px 0;
        }
        .url {
          font-family: "Open Sans";
          font-weight: bolder;
        }
      }
      .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        .top {
          .small {
            font-size: 14px;
            letter-spacing: -1px;
            color: $dark-red;
          }
          height: 50%;
          background-color: rgb(200,200,210);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Open Sans";
          color: white;
          font-weight: bolder;
          position: relative;
          font-size: 24px;
          padding-top: 10px;
          .header {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.7;
            font-size: 12px;
          }
        }
        .bottom {
          .small {
            font-size: 14px;
            letter-spacing: -1px;
            color: $dark-red;
          }
          height: 50%;
          background-color: rgb(180,180,190);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Open Sans";
          color: white;
          font-weight: bolder;
          position: relative;
          font-size: 24px;
          padding-top: 10px;
          .header {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.7;
            font-size: 12px;
          }
        }
      }
    }
  }
}


.is-a-owner {
  color: $green;
  font-size: 18px;
}


.admin-postal-codes {
  color: lighten($gray,20%);
  font-size: 12px;
  font-weight: bolder;
}


.map-circle-recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  width: 210px;
  margin: 0 auto;
  .circle-recap-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid $dark-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-red;
    color: white;
    margin-bottom: 15px;
    &:hover {
      background-color: darken($dark-red, 10%);
      border: 3px solid darken($dark-red, 10%);
    }
  }
  .circle-recap-bottom {
    .recap-address {
      text-align: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    flex-direction: column;
  }
}



.unfinished-demand-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .fa {
    color: $dark-red;
    margin-right: 10px;
    font-size: 18px;
  }
  .unfinished-header-text {
    font-weight: 600;
  }
}


.unfinished-item-container {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgb(240,240,240);
  margin-top: 45px;
  min-height: 210px;
}



.demand-infos-details {
  font-family: "Cerebri Sans";
  font-size: 1.5rem;
  margin-top: 10px;
  .demand-infos-details-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .title {
      font-weight: 700;
      margin-right: 6px;
      letter-spacing: -0.3px;
    }
  }
}










