.stat-demand-container {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(245,245,255);
  font-family: "Cerebri Sans";
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .demand-item-inline {
    .demand-created-at {
      padding: 4px 8px;
      color: tomato;
      font-weight: 800;
      font-size: 1.2rem;
      letter-spacing: -0.4px;
      border-radius: 3px;
      display: inline-flex;
    }
    .search-area {
      font-size: 1.5rem;
      font-weight: 300;
      color: gray;
    }
    &.big {
      font-size: 1.4rem;
      font-weight: 600;
    }
    &.small {
      font-size: 1.4rem;
    }
  }
  .demand-status {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    &.red {
      color: tomato;
    }
    &.green {
      color: $green;
    }
  }
}
