.admin-container {
  .presskit-item {
    margin: 20px 0;
    border: 1px solid rgb(240,240,240);
    border-radius: 3px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    .creation-date {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 600;
      background-color: rgb(240,240,240);
    }
    .item-fields-container {
      display: flex;
      align-items: center;
      .item-fields-title {
        font-weight: 600;
        margin-right: 10px;
      }
    }
  }
}
