section.v2-dashboard-agency-demands {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100vh;
  width: 100%;
  .active-filter {
    background-color: $gray !important;
    transition: all 0.5s ease-out;
  }
  .pagination {
    cursor: default;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    background: #3f3b49;
    padding: 10px !important;
    margin: 0 !important;
    li a {
      margin: 0 !important;
      border-radius: 4px !important;
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.428571429;
      text-decoration: none;
      background-color: transparent;
      color: white;
      font-weight: bolder;
      &:hover {
        border-color: $green;
      }
    }
    li {
      &.active a {
        background-color: $green !important;
        border-color: transparent !important;
      }
    }
  }
}
.v2-dashboard-agency-props-header {
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.v2-dashboard-agency-props-subheader {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.v2-empty-property-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  align-items: center;
  justify-content: center;
  .sup-content, .sub-content {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .sup-content {
    font-weight: bolder;
  }
}

.kenotte-inspecteur {
  height: 170px;
  width: 140px;
  position: absolute;
  top: 37%;
  left: 27%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.property-create-container {
    position: sticky;
    top: 245px;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeaea;
    right: 70px;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 170px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .sup-content, .sub-content {
    margin-bottom: 10px;
  }
  .sup-content {
    font-weight: bolder;
    font-size: 1.6rem;
  }
  .sub-content {
    font-size: 1.4rem;
  }
}

.v2-property-container {
  width: 90%;
  display: flex;
  align-items: stretch;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  .main-photo-left-container {
    width: 100%;
    height: 400px;
    border-radius: 3px 0 3px 3px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    .abs-prop-status-container {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(255,255,255,0.8);
      .inline-svg {
        svg {
          width: 60px;
          height: 60px;
        }
      }
      .prop-status {
        font-size: 1.6rem;
        font-weight: 600;
        font-family: "Cerebri Sans";
        color: $gray;
      }
    }
  }
  .information-right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .information-top-container {
      width: 100%;
      height: 60%;
      border-radius: 0 3px 3px 0;
      background-color: $light-gray;
      // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      display: flex;
      flex-direction: column;
      padding: 20px;
      .main-information, .details-information, .localisation-information, .content-information {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .property-type {
          font-size: 2.4rem;
          font-weight: bolder;
        }
        .price {
          font-size: 2.4rem;
          font-weight: bolder;
          color: $dark-red;
        }
        .detail, .localisation, .content {
          font-size: 1.6rem;
        }
        .localisation {
          font-weight: bolder;
        }
      }
    }
     .photos-bottom-container {
      width: 100%;
      height: 40%;
      padding-top: 10px;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
      a {
        width: 32%;
        height: 100%;
      }
      .property-photo {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
          animation: rotation 1500ms infinite ease;
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate (-1deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1deg);
  }
}


//////////////////////////////////////////////////////////////////////////

.v2-dashboard-agency-props-container {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  .v2-properties-list-container {
    width: 100%;
    padding: 10px;
    .list-block {
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0   1px 2px rgba(0,0,0,0.24);
      border-radius: 5px;
      .props {
        border-collapse: collapse;
        width: 100%;
      }
      .props td, .props th {
        padding: 12px;
      }
      .props td {
        font-weight: 600;
        border-right: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        text-align: center;
      }
      .props th {
        border-right: 1px solid $light-gray;
        position: relative;
      }
      .props td:last-child {
        border-right: none;
        display: flex;
        justify-content: center;
      }
      .props td:last-child:hover {
        .inline-svg svg {
          cursor: pointer;
        }
      }
      .props th:last-child {
        border-right: none;
      }
      .props th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $green;
        color: white;
        font-weight: bolder;
        text-align: center;
      }
      .props th:first-child {
        border-radius: 5px 0 0 5px;
      }
      .props th:last-child {
        border-radius: 0 5px 5px 0;
      }
      th.sort:after {
        content: '\f0d7';
        height: 100%;
        font-family: FontAwesome !important;
        font-size: 13px;
        margin-left: 5px;
        padding-top: 3px;
      }
    }
  }
}



#agency-props {
  font-family: "Cerebri Sans";
  ul.list-inline.custom-list {
    padding-left: 10px;
    background-color: #eeeaea;
    width: 90%;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 20px;
    li {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 25px;
      font-size: 1.5rem;
      font-weight: 500;
      transition: 0.3s;
      position: relative;
      .order-sentence {
        font-size: 0.95rem;
        font-weight: 800;
        position: absolute;
        bottom: 2px;
        min-width: 106px;
        left: 5px;
      }
      &:hover {
        cursor: pointer;
        color: $green;
      }
      &.green {
        color: $green;
      }
      .fa {
        transition: 0.2s;
        &.rotate {
          transform: rotate(180deg);
          padding-bottom: 2px;
        }
      }
    }
  }
}



@media (max-width: 990px) {
  .v2-dashboard-agency-demands-container {
    .v2-properties-list-container {
      .list-block {
        .props td {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}
