form.edit_agency {
  input#agency_min_price {
    box-shadow: none !important;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .custom-form-group {
    &-unbordered {
      border: none !important;
      .custom-form-label {
        display: flex;
        align-items: center;
        font-weight: bolder;
        padding-bottom: 10px;
      }
    }
    .custom-form-label {
      display: flex;
      align-items: center;
      font-weight: bolder;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .custom-form-multi-inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      .form-group > input {
        width: 66px;
        margin-bottom: 15px;
        height: 34px;
        padding: 6px 12px;
        border-radius: 3px;
        box-shadow: none !important;
        border: none;
        background-color: $light-gray;
      }
    }
  }
}


.add-zipcode-input {
  color: $gray;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.erase-input {
  color: $dark-red;
  font-weight: bolder;
  display: inline-block;
  margin-right: 11px;
  cursor: pointer;
  padding: 0 8px;
  font-size: 18px;
}



section.agency-form-edit {
  min-height: calc(100vh - 60px);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 210px;
  width: 100%;
}

.agency-edit-header-name {
  font-size: 18px;
  color: $gray;
  font-weight: bolder;
}

.agency-edit-header-hints {
  font-size: 14px;
  color: $green;
  font-weight: bolder;
  margin-top: 4px;
  margin-bottom: 20px;
}



.dashboard-empty-logo {
  width: 100%;
  border-radius: 4px;
  height: 160px;
  background-color: $light-gray;
  display: flex;
  font-size: 12px;
  color: lighten($gray,10%);
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 15px;
}
