section.v2-dashboard-agency-demands {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100vh;
  width: 100%;
  .active-filter {
    background-color: $gray !important;
    transition: all 0.5s ease-out;
  }
  .pagination {
    cursor: default;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    background: #3f3b49;
    padding: 10px !important;
    margin: 0 !important;
    li a {
      margin: 0 !important;
      border-radius: 4px !important;
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.428571429;
      text-decoration: none;
      background-color: transparent;
      color: white;
      font-weight: bolder;
      &:hover {
        border-color: $green;
      }
    }
    li {
      &.active a {
        background-color: $green !important;
        border-color: transparent !important;
      }
    }
  }
}
.v2-dashboard-agency-demands-header {
  display: flex;
  align-items: center;
  font-size: 3.4rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.v2-dashboard-agency-demands-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
  .left {
    width: 25%;
    padding: 10px;
    .filters-block {
      width: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0   1px 2px rgba(0,0,0,0.24);
      border-radius: 5px;
      background-color: $light-gray;
      display: flex;
      flex-direction: column;
      .header-filters {
        width: 100%;
        text-align: center;
        font-weight: bolder;
        color: white;
        background-color: rgba(255, 99, 71, 0.6);
        padding: 25px;
        border-radius: 5px 5px 0 0;
        font-size: 1.8rem;
      }
      .filters {
        width: 100%;
        // padding: 10px;
        display: flex;
        flex-direction: column;
        .filter {
          width: 100%;
          border-bottom: 1px solid $normal-gray;
          position: relative;
          .content {
            font-weight: 600;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            padding: 15px;
            &:hover {
              cursor: pointer;
            }
            .inline-svg {
              svg {
                margin-right: 15px;
              }
            }
          }
          .down-caret {
            &:after {
              content: '\f0d7';
              height: 100%;
              font-family: FontAwesome !important;
              font-size: 13px;
              margin-left: 5px;
              padding-top: 3px;
            }
          }
        }
        .filter:last-child {
          border: none;
        }
        .text-input-form-container {
          height: 0px;
          overflow: hidden;
          transition: all 0.7s ease-out;
          display: flex;
          padding: 0 15px;
          .text-input-form {
            padding: 5px;
          }
        }
        .select-input-form-container {
          height: 0px;
          overflow: hidden;
          transition: all 0.7s ease-out;
          display: flex;
          justify-content: center;
          .select-input-form {
            padding: 5px;
            position: relative;
            #created-at-input {
              width: 170px;
            }
            .select-arrow-input {
              position: absolute;
              top: 15px;
              right: 5px;
              padding: 8px 15px;
              .arrow-down {
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 10px solid $gray;
              }
            }
          }
        }
        .radio-input-form-container-large, .radio-input-form-container-normal  {
          height: 0px;
          overflow: hidden;
          transition: all 0.7s ease-out;
          display: flex;
          flex-direction: column;
          padding-left: 15px;
          .radio-input-form {
            padding: 5px;
            display: flex;
            input[type='radio'] {
              display: none;
            }
            label {
              display: flex !important;
              align-items: center !important;
            }
            input[type='radio'] + label:before {
              font-family: 'FontAwesome';
              font-size: 2rem;
              content: "\f1db";
              border-radius: 50%;
              font-weight: 600;
              width: 1.4em;
              letter-spacing: 10px;
            }
            input[type="radio"]:checked + label:before {
              content: "\f00c";
              font-size: 2rem;
              color: $green;
            }
          }
        }
      }
    }
  }
  .right {
    width: 75%;
    padding: 10px;
    .list-block {
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0   1px 2px rgba(0,0,0,0.24);
      border-radius: 5px;
      .demands {
        border-collapse: collapse;
        width: 100%;
      }
      .demands td, .demands th {
        padding: 12px;
      }
      .demands td {
        font-weight: 600;
        border-right: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        text-align: center;
        .fa {
          font-size: 1.9rem;
        }
      }
      .demands th {
        border-right: 1px solid $light-gray;
        position: relative;
      }
      .demands td:last-child {
        border-right: none;
      }
      .demands td:last-child:hover {
        .inline-svg svg {
          cursor: pointer;
        }
      }
      .demands th:last-child {
        border-right: none;
      }
      .demands th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $green;
        color: white;
        font-weight: bolder;
        text-align: center;
      }
      .demands th:first-child {
        border-radius: 5px 0 0 5px;
      }
      .demands th:last-child {
        border-radius: 0 5px 5px 0;
      }
      th.sort:after {
        content: '\f0d7';
        height: 100%;
        font-family: FontAwesome !important;
        font-size: 13px;
        margin-left: 5px;
        padding-top: 3px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .v2-dashboard-agency-demands-container {
    flex-direction: column;
    .right {
      width: 100% !important;
    }
    .left {
      width: 50% !important;
    }
  }
  .v2-dashboard-agency-demands-header {
    justify-content: center;
  }
}

@media (max-width: 990px) {
  .v2-dashboard-agency-demands-container {
    .right {
      .list-block {
        .demands td {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}








