form#new_property {
  padding: 0 0;
  .form-control {
    height: 44px;
    box-shadow: none !important;
    &:focus {
      outline: none !important;
    }
  }
}



.formatted_numeric_input {
  position: relative;
  .devise-hint {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55px;
    display: flex;
    align-items: center;
    z-index: 3;
    font-weight: bolder;
    color: rgb(180,180,180);
  }
}
