section.v2-dashboard-agency-demand {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 100px;
  min-height: 100vh;
  width: 100%;
}
.v2-dashboard-agency-demand-container {
  display: flex;
  flex-direction: column;
  font-family: "Cerebri Sans", sans-serif;
  .proposition-item-right {
    font-family: "Cerebri Sans";
    .prop-agency-proposed-date {
      color: darken(lightgrey,10%) !important;
      font-size: 1.1rem !important;
      font-weight: 700 !important;
    }
    .prop-price {
      font-size: 2rem !important;
      font-weight: 600 !important;
    }
  }
  .demand-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    .main-details {
      font-weight: bolder;
      font-size: 3.4rem;
      width: 100%;
      padding-bottom: 10px;
    }
    .demand-date {
      width: 100%;
      font-size: 1.8rem;
      padding-bottom: 15px;
    }
    .demand-links {
      display: flex;
    }
  }
  .demand-some-details {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 25px;
    .main-header {
      color: $green;
      font-size: 2.4rem;
      font-weight: bolder;
      margin-bottom: 10px;
    }
    .left-container {
      padding-right: 10px;
      width: 80%;
      display: flex;
      i {
        font-size: 1.6rem;
      }
      .headers-container {
        padding-right: 10px;
        .header-field {
          font-weight: bolder;
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
      .headers-container-about-terrain {
        padding-right: 60px;
        .header-field {
          font-weight: bolder;
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
      .contents-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 10px;
        .content-field {
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
      .contents-container-about-terrain {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 60px;
        .content-field {
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
    }
    .right-container {
      padding-left: 10px;
      width: 30%;
      display: flex;
      .map {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .demand-more-details {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 25px;
    .main-header {
      color: $green;
      font-size: 2.4rem;
      font-weight: bolder;
      margin-bottom: 10px;
    }
    .left-container {
      padding-right: 10px;
      width: 60%;
      display: flex;
      i {
        font-size: 1.6rem;
      }
      .headers-container {
        padding-right: 20px;
        .header-field {
          font-weight: bolder;
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
      .contents-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 20px;
        .content-field {
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
      }
    }
    .about-terrain {
      align-items: flex-end;
    }
    .right-container {
      padding-left: 10px;
      width: 40%;
      display: flex;
      .important-fields {
        height: 100%;
        width: 100%;
        background-color: $green;
        border-radius: 5px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .important-title {
          font-weight: 600;
          color: white;
          font-size: 1.8rem;
          width: 100%;
          .fa-heart {
            margin-right: 10px;
          }
        }
        .important-contents {
          display: flex;
          width: 100%;
          padding-top: 10px;
          .left-contents-container {
            padding-right: 10px;
            color: white;
            .header-field {
              font-size: 1.6rem;
              line-height: 3rem;
              font-weight: 600;
            }
          }
          .right-contents-container {
            padding-left: 10px;
            color: white;
            .content-field {
              font-size: 1.6rem;
              line-height: 3rem;
            }
          }
          .empty-contents-container {
            .empty-field {
              font-size: 1.6rem;
              color: white;
              position: absolute;
              top: 50%;
            }
          }
        }
      }
    }
  }
  .demand-about-customer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 25px;
    .main-header {
      color: $green;
      font-size: 2.4rem;
      font-weight: bolder;
      margin-bottom: 10px;
    }
    .left-container {
      padding-right: 10px;
      width: 65%;
      display: flex;
      flex-direction: column;
      i {
        font-size: 1.6rem;
      }
      .top {
        display: flex;
        .headers-container {
          padding-right: 25px;
          .header-field {
            font-weight: bolder;
            font-size: 1.8rem;
            line-height: 3.4rem;
          }
        }
        .headers-container-about-terrain {
          padding-right: 38px;
          .header-field {
            font-weight: bolder;
            font-size: 1.8rem;
            line-height: 3.4rem;
          }
        }
        .contents-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-left: 25px;
          .content-field {
            font-size: 1.8rem;
            line-height: 3.4rem;
          }
        }
        .contents-container-about-terrain {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-left: 38px;
          .content-field {
            font-size: 1.8rem;
            line-height: 3.4rem;
          }
        }
      }
      .bottom {
        .header-field {
          font-weight: bolder;
          font-size: 1.8rem;
          line-height: 3.4rem;
        }
        .content-field {
          background-color: rgba(217, 207, 201, 0.6);
          border-radius: 5px;
          padding: 15px;
          word-wrap: break-word;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
      }
    }
    .right-container {
      padding-left: 10px;
      width: 35%;
      display: flex;
      flex-direction: column;
      .header-field {
        font-weight: bolder;
        font-size: 1.8rem;
        line-height: 3.4rem;
      }
      .customer-personnality {
        display: flex;
        margin-top: 10px;
      }
      .personnality-right-container {
        padding-top: 25px;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
  .demand-scoring {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 25px;
    .left-container-scoring {
      padding-right: 10px;
      width: 100%;
    }
    .right-container-scoring {
      padding-left: 10px;
      width: 100%
    }
    .customer-experience, .customer-maturity {
      background-color: $light-gray;
      width: 100%;
      height: 100%;
      padding: 25px;
      border-radius: 5px;
      position: relative;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      .experience-header {
        font-weight: bolder;
        font-size: 1.8rem;
        line-height: 3.4rem;
        margin-bottom: 30px;
      }
      .maturity-header {
        font-weight: bolder;
        font-size: 1.8rem;
        line-height: 3.4rem;
        margin-bottom: 30px;
      }
      .maturity-content {
        font-size: 1.6rem;
        line-height: 3.4rem;
      }
      .scoring-counter {
        width: 200px;
        height: 110px;
        overflow: hidden;
        margin: auto;
        .framing {
          width: 100%;
          height: 200px;
          background-image: linear-gradient(to right, #e4da6e, #d7d46b, #c9cf69, #bdc967, #b0c365);
          border-radius: 50%;
          position: relative;
        }
        .inside-framing {
          background-color: $light-gray;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .base {
        background: $gray;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 82%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .select-arrow {
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 8px 15px;
        position: absolute;
        .arrow {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 80px solid $gray;
          transform-origin: bottom right;
        }
      }
      .first-step {
        width: 30px;
        height: 30px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 44%;
        left: 35%;
        transform: translate(-50%, -50%);
        transform: rotateZ(45deg);
      }
      .second-step {
        width: 30px;
        height: 30px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotateZ(90deg)
      }
      .third-step {
        width: 30px;
        height: 30px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 53%;
        left: 63%;
        transform: translate(-50%, -50%);
        transform: rotateZ(135deg);
      }
      .content-step-one {
        transform: rotateZ(-45deg);
        position: absolute;
        right: 100%;
        top: 50%;
      }
      .content-step-two {
        transform: rotateZ(-90deg);
        position: absolute;
        right: 100%;
        top: 50%;
      }
      .content-step-three {
        transform: rotateZ(-135deg);
        position: absolute;
        right: 100%;
        top: 100%;
      }
    }
  }
  .demand-customer-infos {
    width: 100%;
    padding: 25px;
    .customer-infos-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(176, 195, 101, 0.8);
      padding: 15px;
      border-radius: 5px;
      width: 100%;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      .customer-infos-container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 0px;
        transition: all 0.7s ease-out;
        .customer-infos-header {
          font-weight: bolder;
          font-size: 1.8rem;
        }
        .fa-plus-circle {
          font-size: 2.4rem;
          color: $gray;
          cursor: pointer;
        }
        .fa.fa-minus-circle {
          display: none;
          font-size: 2.4rem;
          color: $gray;
          cursor: pointer;
        }
      }
      .customer-infos-container-bottom {
        overflow: hidden;
        width: 100%;
        height: 0px;
        padding: 0 10px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        transition: all 0.7s ease-out;
        .customer-infos-left {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .customer-infos-right {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .customer-infos-left-header, .customer-infos-right-header {
          width: 100%;
          font-size: 1.6rem;
          font-weight: 600;
          padding-bottom: 10px;
        }
        .customer-infos-left-contents, .customer-infos-right-contents {
          width: 100%;
          display: flex;
          .headers-container {
            padding-right: 15px;
            .header-field {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .v2-dashboard-agency-demand-container {
    .demand-scoring {
      .customer-maturity, .customer-experience {
        .first-step {
          top: 46% !important;
          left: 31% !important;
        }
        .third-step {
          left: 68% !important;
          top: 56% !important;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .v2-dashboard-agency-demand-container {
    .demand-scoring {
      .customer-maturity, .customer-experience {
        .first-step {
          top: 46% !important;
          left: 20% !important;
        }
        .third-step {
          left: 77% !important;
          top: 56% !important;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .v2-dashboard-agency-demand-container {
    .demand-some-details {
      .right-container {
        width: 50% !important;
      }
    }
  }
  .demand-customer-infos {
    .customer-infos-container {
      .customer-infos-container-top {
        .customer-infos-header {
          font-size: 1.4rem !important;
        }
      }
    }
  }
}
