.pending-agency-account {
  border-radius: 5px;
  margin-bottom: 100px;
  width: 100%;
  background-color: lighten($red, 38%);
  color: darken($red, 10%);
  font-size: 14px;
  font-weight: bolder;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid lighten($red, 25%);
}


.agency-zone-property-item {
  height: 190px;
  width: 100%;
  border-radius: 4px;
  background-color: rgb(230,230,230);
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  .property-item-left-block {
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    &.contain-image {
      background-size: contain;
    }
  }
  .property-item-right-block {
    .item-top-absolute-infos {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 40px;
      display: flex;
      .item-1 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: rgb(100,100,100);
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -0.3px;
        color: white;
        i {
          margin-right: 4px;
        }
      }
      .item-2 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $dark-red;
        font-size: 14px;
        font-weight: 600;
        color: white;
      }
      .item-3 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $green;
        font-size: 12px;
        font-weight: 600;
        color: white;
        i {
          margin-right: 4px;
        }
      }
    }
    .house-type {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 14px;
      color: white;
      background-color: $gray;
      font-size: 12px;
      font-weight: 600;
    }
    .flat-type {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 14px;
      color: white;
      background-color: rgb(60,60,60);
      font-size: 12px;
      font-weight: 600;
    }
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-top: 60px;
    .title {
      color: $gray;
      font-weight: 600;
    }
    .price {
      color: white;
      font-weight: bolder;
      font-size: 12px;
      position: absolute;
      top: 0;
      right: 100px;
      background-color: $dark-red;
      padding: 5px 14px;
    }
    .property-like {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      i.greenheart {
        color: $green;
        font-size: 20px;
      }
      .text {
        font-weight: bolder;
      }
    }
    .property-dislike {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: $dark-red;
        font-size: 20px;
      }
      .text {
        font-weight: bolder;
      }
    }
    .right-block-fullwidth-item {
      width: 100%;
      display: flex;
      align-items: center;
      .agency-dashboard-property-item {
        display: inline-block;
        color: $dark-red;
        font-weight: 600;
      }
      i {
        color: $dark-red;
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .right-block-fullwidth-item-between {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}



.agency-min-price-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  strong {
    font-weight: bolder;
    margin-right: 10px;
  }
  font-size: 16px;
  color: lighten($gray,10%);
}

.agency-action-container {
  display: flex;
  align-items: center;
  strong {
    font-weight: bolder;
    margin-right: 10px;
  }
  font-size: 16px;
  color: lighten($gray,10%);
}

.action-zipcode {
  margin-right: 7px;
}

.agency-actions-infos {
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  padding: 20px;
  margin-bottom: 50px;
}

.agency-actions-demands {
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  padding: 35px;
  margin-bottom: 50px;
  position: relative;
  .actions-demands-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.agency-active-demands {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $gray;
  i {
    margin-right: 8px;
  }
}


@media (max-width: 768px) {
  .agency-action-container {
    font-size: 12px;
    strong {
      font-size: 11px;
    }
  }
}


.absolute-property-creation-date {
  position: absolute;
  font-size: 8px;
  font-weight: bolder;
  top: 0;
  left: 0;
  background-color: rgb(230,230,230);
  color: $gray;
  padding: 3px 8px;
}





section.agency-zone {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 210px;
  min-height: 100vh;
  width: 100%;
  .block {
    border-radius: 4px;
    overflow: hidden;
    min-height: 160px;
    padding: 20px;
    margin-bottom: 25px;
  }
  .small-text {
    letter-spacing: -0.3px;
    color: rgba(255,255,255,0.9);
    font-weight: 600;
    margin: 14px 0;
  }
  .header-with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 28px;
      margin: 0;
    }
    .icon-menu-kenotte {
      color: white;
      font-size: 36px;
      line-height: 1;
    }
  }
  .header-with-icon-left {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    h2 {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 28px;
      margin: 0;
    }
    .custom-icon {
      font-size: 30px;
      line-height: 1;
      margin-right: 15px;
    }
  }
  .header {
    display: flex;
    align-items: center;
    h2 {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 28px;
      margin: 0;
    }
  }
  .content {
    display: flex;
    width: 100%;
    height: 100%;
    .left {
      flex: 1;
      display: flex;
      padding: 0 10px;
      flex-direction: column;
      justify-content: center;
      .agency-small-text {
        font-size: 13px;
        font-weight: 700;
        text-align: left;
        letter-spacing: -0.6px;
        margin-bottom: 6px;
        .fa {
          &.green {
            color: $green;
            background-color: transparent;
            margin-right: 6px;
          }
        }
      }
      .progress-bar-container {
        overflow: hidden;
        height: 6px;
        width: 100%;
        border-radius: 12px;
        background-color: rgb(220,220,220);
        position: relative;
        display: flex;
        border: none;
        margin: 8px 0;
        .progress-bar {
          height: 100%;
          background-color: $green;
          width: 45%;
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
          border: none;
          box-shadow: none;
          position: relative;
          .hint {
            position: absolute;
            right: -6px;
            top: -3px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $green;
          }
        }
      }
    }
    .right {
      flex: 1;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      .agency-small-text {
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        letter-spacing: -0.3px;
        color: $green;
      }
      .list-logo {
        width: 30px;
      }
    }
  }
  .green {
    background-color: $green;
  }
  .gray {
    background-color: $light-gray;
  }
  .white {
    background-color: white;
    border: 1px solid rgb(200,200,200);
  }
  .white-text {
    color: white;
  }
  .red-text {
    color: $dark-red;
  }
  .green-text {
    color: $green;
  }
}



.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  .action-item {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: darken($green,40%);
    font-size: 12px;
    letter-spacing: -0.2px;
    &.bold {
      font-weight: 700;
    }
    .fa {
      margin-right: 6px;
    }
  }
}


.demand-container {
  .absolute-badge-creation-date {
    position: absolute;
    font-size: 12px;
    font-weight: bolder;
    color: $green;
    bottom: -20px;
    left: 0;
  }
  .absolute-badge {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $dark-red;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -13px;
    right: -13px;
    color: white;
    font-size: 9px;
    font-weight: bolder;
    letter-spacing: -0.5px;
    &.success {
      background-color: $green;
    }
  }
  .absolute-button-before {
    position: absolute;
    right: 0;
    bottom: -30px;
    height: 30px;
    width: 140px;
    font-weight: 600;
    letter-spacing: -0.5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    color: white;
    &:hover {
      font-weight: bolder;
    }
    &.red {
      background-color: $dark-red;
    }
  }
  .absolute-button {
    position: absolute;
    right: 0;
    bottom: -30px;
    height: 30px;
    width: 130px;
    font-weight: 600;
    letter-spacing: -0.5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-red;
    color: white;
    &.green {
      background-color: $green;
    }
    &:hover {
      font-weight: bolder;
    }
  }
  position: relative;
  padding: 12px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  margin-bottom: 60px;
  .demand-container-line {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    .customer-choice-text {
      font-size: 13px;
      font-weight: 600;
      color: lighten($gray,20%);
    }
    .fontastic {
      font-size: 16px;
      margin-right: 6px;
      &.red {
        color: $dark-red;
      }
      &.green {
        color: $green;
      }
      &.gray {
        color: $gray;
        font-size: 12px;
      }
    }
    .icon-text-line {
      display: flex;
      align-items: center;
      font-weight: 600;
      letter-spacing: -0.2px;
      color: lighten($gray, 10%);
      margin-right: 8px;
      .fa {
        margin-right: 6px;
        font-size: 16px;
      }
      &.small {
        font-size: 12px;
        color: rgb(160,160,180);
      }
    }
    &.center {
      justify-content: center;
    }
    &.between {
      justify-content: space-between;
    }
    &.start {
      justify-content: flex-start;
    }
  }
  .demand-customer-choices-flex {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .demand-container-line-inline {
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 14px;
    .customer-choice-text {
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 2px;
      color: $gray;
    }
    .fontastic {
      font-size: 16px;
      margin-right: 6px;
      &.red {
        color: $dark-red;
      }
      &.green {
        color: $green;
      }
      &.gray {
        color: $gray;
        font-size: 12px;
        background-color: transparent;
      }
      &.small {
        font-size: 14px;
      }
      &.smallest {
        font-size: 11px;
      }
    }
    .icon-text-line {
      display: flex;
      align-items: center;
      font-weight: 600;
      letter-spacing: -0.2px;
      color: lighten($gray, 10%);
      margin-right: 8px;
      .fa {
        margin-right: 6px;
        font-size: 16px;
      }
      &.small {
        font-size: 12px;
        color: rgb(160,160,180);
      }
    }
    &.center {
      justify-content: center;
    }
    &.between {
      justify-content: space-between;
    }
    &.start {
      justify-content: flex-start;
    }
  }
}





.big-header {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .demand-number {
    font-weight: 700;
    color: $gray;
    font-size: 2.5rem;
  }
  .demand-date {
    color: lighten($gray,15%);
    font-size: 14px;
    letter-spacing: -0.5px;
    font-weight: 600;
    margin: 6px 0;
  }
}


.map-block {
  height: 500px;
  margin-bottom: 25px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
}


.project-block {
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .icon {
      color: $dark-red;
      margin-right: 6px;
    }
    .text {
      color: $dark-red;
      font-weight: bolder;
      letter-spacing: -0.5px;
      font-size: 16px;
    }
  }
  .item {
    .fa.fa-check-circle {
      margin-right: 5px;
      color: $green;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: rgb(120,120,120);
    strong {
      font-weight: 700;
      color: $gray;
      margin-right: 6px;
    }
  }
}



.perfect-block {
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .icon {
      color: $dark-red;
      margin-right: 6px;
    }
    .text {
      color: $dark-red;
      font-weight: bolder;
      letter-spacing: -0.5px;
      font-size: 16px;
    }
  }
  .item {
    .fa.fa-check-circle {
      margin-right: 5px;
      color: $green;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: rgb(120,120,120);
    strong {
      font-weight: 700;
      color: $gray;
      margin-right: 6px;
    }
  }
}

.seller-block {
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .icon {
      color: $dark-red;
      margin-right: 6px;
    }
    .text {
      color: $dark-red;
      font-weight: bolder;
      letter-spacing: -0.5px;
      font-size: 16px;
    }
  }
  .item {
    .fa.fa-check-circle {
      margin-right: 5px;
      color: $green;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: rgb(120,120,120);
    strong {
      font-weight: 700;
      color: $gray;
      margin-right: 6px;
    }
  }
}






.form#add-property-to-demand {
  .checkbox-property-input {
    margin-bottom: 20px;
  }

  input[type=checkbox] {
    display: none;
  }

  label {
    height: 350px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: -0.4px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    &:hover {
      background-color: rgb(200,200,200);
    }
  }

  label:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    right: -8px;
    top: -8px;
  }


  input[type=checkbox] + label:before {
    background: url('https://cdn.bientotchezsoi-dev.com/images/check-input.svg');
    display: none;
  }

  input[type=checkbox]:checked + label:before {
    background: url('https://cdn.bientotchezsoi-dev.com/images/check-input.svg');
    display: inline-block;
  }

  input[type=checkbox]:checked + label {
    background-color: $green;
  }
}


.empty-map-block {
  background-color: $light-gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: lighten($gray,10%);
  letter-spacing: -0.3px;
  font-weight: 600;
  min-height: 580px;
}



.agency-dashboard-empty-properties {
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  .block-content {
    padding: 25px;
    border-radius: 4px;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    align-items: center;
    .small {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .creation-links-container {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}



.dashboard-pdf-link, .dashboard-property-edit-link, .dashboard-property-delete-link {
  display: flex;
  align-items: center;
  .fa {
    color: $gray;
    font-size: 16px;
    margin-right: 5px;
    transition: 0.3s;
  }
  .text {
    .small {
      font-weight: 600;
      color: $gray;
      letter-spacing: -0.3px;
      transition: 0.3s;
    }
  }
  &:hover {
    .fa {
      color: $dark-red;
      transition: 0.3s;
    }
    .text {
      .small {
        color: $dark-red;
        transition: 0.3s;
      }
    }
  }
}


section.dashboard-agency-demands {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 210px;
  width: 100%;
  min-height: 100vh;
  .agency-demands-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Amatic Sc";
    font-size: 34px;
    font-weight: bolder;
    color: $gray;
  }
  .dashboard-agency-demand-item {
    width: 100%;
    padding: 25px;
    font-size: 16px;
    border: 1px solid rgb(230,230,230);
    margin-bottom: 20px;
    border-radius: 3px;
  }
  .demand-container.gray-bck {
    background-color: rgb(240,240,240);
    margin-bottom: 70px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    height: 160px;
    .left-block {
      width: 25%;
      height: 100%;
      margin-right: 15px;
      border-radius: 4px;
      background-size: cover;
      background-position: center center;
    }
    .right-block {
      width: 75%;
      display: flex;
      flex-direction: column;
    }
    &.flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        font-weight: 600;
        color: $gray;
      }
    }
  }
}



section.agency-property-create-page {
  padding: 25px 150px;
  .fullpage-images-block {
    .form-block-header {
      height: 50px;
      display: flex;
      align-items: center;
      color: $dark-red;
      font-weight: 600;
      letter-spacing: -0.3px;
      font-size: 16px;
    }
    .images-block-item-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .images-block-item {
      cursor: pointer;
      &:hover {
        border: 2px solid $light-gray-2;
        .fa {
          color: $light-gray-2;
        }
        .text {
          color: rgb(160,160,160);
        }
      }
      .fa {
        font-size: 38px;
        margin-bottom: 10px;
        color: $light-gray;
      }
      .text {
        font-weight: 600;
        letter-spacing: -0.2px;
        font-size: 12px;
        color: $light-gray-2;
      }
      margin-bottom: 20px;
      width: 200px;
      height: 160px;
      border: 2px solid $light-gray;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 4px;
    }
  }
  .fullpage-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
    .form-group {
      position: relative;
      label {
        position: absolute;
        top: 7px;
        left: 12px;
        font-weight: 600;
        font-size: 11px;
        color: rgb(160,160,160);
        z-index: 1;
      }
    }
    .form-group.required::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $dark-red;
      position: absolute;
      top: 11px;
      right: 11px;
    }
    input[type=text].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=email].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=tel].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=radio].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=number].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    select.form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    textarea.form-control {
      border: none;
      background-color: $light-gray;
      position: relative;
      min-height: 150px;
      padding-top: 30px;
      font-size: 14px !important;
    }
    .form-block-header {
      height: 50px;
      display: flex;
      align-items: center;
      color: $dark-red;
      font-weight: 600;
      letter-spacing: -0.3px;
      font-size: 16px;
    }
    .form-block-required-hint {
      display: flex;
      align-items: center;
      height: 40px;
      .required-hint {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $dark-red;
        margin-right: 5px;
      }
      .small {
        font-weight: 600;
        color: $dark-red;
      }
    }
    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
    }
    .middle {
      width: 30%;
      display: flex;
      flex-direction: column;
    }
    .right {
      width: 30%;
      display: flex;
      flex-direction: column;
    }
  }
  .agency-property-create-header {
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: "Amatic Sc";
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  section.agency-zone {
    padding: 50px 20px;
  }
}


.minimum-height-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    margin-bottom: 20px;
  }
  .big-text {
    font-size: 16px;
    font-weight: 700;
    color: $dark-red;
  }
  .empty-small-text {
    font-size: 14px;
    font-weight: 600;
    color: lighten($gray,10%);
  }
}




section.agency-form-edit {
  padding: 25px 100px;
  .fullpage-images-block {
    .form-block-header {
      height: 50px;
      display: flex;
      align-items: center;
      color: $dark-red;
      font-weight: 600;
      letter-spacing: -0.3px;
      font-size: 16px;
    }
    .images-block-item-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .images-block-item {
      cursor: pointer;
      &:hover {
        border: 2px solid $light-gray-2;
        .fa {
          color: $light-gray-2;
        }
        .text {
          color: rgb(160,160,160);
        }
      }
      .fa {
        font-size: 38px;
        margin-bottom: 10px;
        color: $light-gray;
      }
      .text {
        font-weight: 600;
        letter-spacing: -0.2px;
        font-size: 12px;
        color: $light-gray-2;
      }
      margin-bottom: 20px;
      width: 200px;
      height: 160px;
      border: 2px solid $light-gray;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 4px;
    }
  }
  .fullpage-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .form-group {
      position: relative;
      label {
        position: absolute;
        top: 7px;
        left: 12px;
        font-weight: 600;
        font-size: 11px;
        color: rgb(160,160,160);
        z-index: 1;
      }
    }
    .form-group.required::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $dark-red;
      position: absolute;
      top: 11px;
      right: 11px;
    }
    input[type=text].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=email].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=tel].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=radio].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=number].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    input[type=password].form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    select.form-control {
      border: none;
      padding-top: 20px;
      background-color: $light-gray;
      position: relative;
      height: 55px !important;
      font-size: 14px !important;
    }
    textarea.form-control {
      border: none;
      background-color: $light-gray;
      position: relative;
      min-height: 150px;
      padding-top: 30px;
      font-size: 14px !important;
    }
    .form-block-header {
      height: 50px;
      display: flex;
      align-items: center;
      color: $dark-red;
      font-weight: 600;
      letter-spacing: -0.3px;
      font-size: 16px;
    }
    .form-block-required-hint {
      display: flex;
      align-items: center;
      height: 40px;
      .required-hint {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $dark-red;
        margin-right: 5px;
      }
      .small {
        font-weight: 600;
        color: $dark-red;
      }
    }
    .left {
      width: 48%;
      display: flex;
      flex-direction: column;
      .header {
        .dashboard-agency-logo {
          background-size: contain;
          width: 80px;
          height: 60px;
          background-repeat: no-repeat;
          margin-right: 8px;
        }
      }
    }
    .right {
      width: 48%;
      display: flex;
      flex-direction: column;
      padding-top: 150px;
    }
  }
  .agency-property-create-header {
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: "Amatic Sc";
    font-size: 34px;
  }
}


@media (max-width: 768px) {
  section.agency-form-edit {
    .fullpage-block {
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        padding-top: 0;
      }
    }
  }
}


.checkbox-demand-full-address {
  color: $gray;
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid rgb(150,150,150);
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  max-width: 180px;
  .fa {
    margin-right: 7px;
  }
}


.checkbox-property-input {
  label {
    width: 220px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


.new-demand-questions-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(100,100,105);
  overflow: hidden;
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: 500;
  color: white;
  .text-content {
    font-weight: 600;
    font-size: 12px;
  }
  .custom-btn {
    font-weight: bolder;
    margin-left: 4px;
    font-size: 12px;
    color: white;
  }
}


.agency-demands-subtitle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  margin-bottom: 10px;
  h5 {
    font-family: "Amatic Sc";
    font-size: 26px;
    color: lighten($gray,15%);
    font-weight: bolder;
  }
}

.sticky-test {
  position: sticky;
  top: 100px;
}




.agency-dashboard-fullpage {
  display: flex;
  .customer-fixed-menu-container {
    position: sticky;
    top: 60px;
    height: 100vh;
    &.vip {
      background-color: $gray;
      .customer-fixed-menu {
        background: linear-gradient(#F0DCA5,#D4A763);
        a.active {
          .fontastic {
            color: darken(#D4A763,15%);
          }
        }
      }
    }
  }
  section.dashboard-agency-demands {

  }
}



section.edit-user-infos {
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    margin-bottom: 0;
  }
}




.circled-fa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #3a421a;
  margin-right: 5px;
  .fa {
    margin: 0 !important;
    font-size: 10px;
    color: #3a421a;
  }
}




.form-full-block {
  background-color: lighten($light-gray-2,10%);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  &.fixed-sized {
    min-height: 257px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .form-full-block-header {
    color: $dark-red;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .white-sub-block {
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    input {
      background-color: lighten($light-gray-2,10%);
      border: none;
      margin-bottom: 12px;
    }
  }
  input {
    border: 1px solid transparent;
    &:focus {
      border: 1px solid lighten($dark-red,20%);
    }
    &::placeholder {
      font-size: 13px;
      font-weight: 600;
    }
  }
  textarea {
    min-height: 82px;
    border: 1px solid transparent;
    &:focus {
      border: 1px solid lighten($dark-red,20%);
    }
  }
}



.agency-form-enhanced form {
  label {
    font-weight: 600;
    font-size: 12px;
    color: $gray;
  }
  input[type="radio"] {
    border: none !important;
  }
  .form-group-invalid input {
    border: 1px solid $dark-red;
  }
  select {
    font-size: 14px !important;
    font-weight: 600;
    color: lighten($gray,10%);
    border: 1px solid transparent;
    &:focus {
      border: 1px solid lighten($dark-red,20%);
    }
  }
}

.formatted_numeric_input.white {
  .devise-hint {
    width: auto;
    height: 44px;
    bottom: 0;
    top: auto;
    right: 14px;
  }
  input {
    border: none;
    background-color: white;
  }
}

.radio-collections-container-fullwidth {
  label.collection_radio_buttons {
    height: 40px;
    margin-bottom: 8px !important;
  }
  input[type="checkbox"]:checked + label {
    border: 1px solid lighten($dark-red,10%) !important;
  }
}


#pdf-upload-container .upload-photos-container {
  border: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 0;
  .upload-top {
    margin-bottom: 0;
  }
}

#pdf-upload-container.outter-photo-container {
  margin: 0;
}





#image-upload-container .upload-photos-container {
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 0;
  .upload-top {
    margin-bottom: 0;
  }
}

#image-upload-container.outter-photo-container {
  margin: 0;
}



.agency-dashboard-property-item-v2 {
  width: 100%;
  height: 375px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 40px;
  .item-left {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    border-bottom-right-radius: 4px;
    &.back-contain {
      background-size: contain;
    }
  }
  .item-right {
    height: 100%;
    width: 50%;
    .item-right-top {
      background-color: lighten($light-gray-2,10%);
      height: 70%;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 10px 20px;
      .matching-count {
        margin-bottom: 14px;
        padding: 6px 10px;
        border-radius: 4px;
        background-color: tomato;
        color: white;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem
      }
      .middle-part {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        .middle-part-item {
          margin-right: 25px;
          font-weight: 600;
        }
      }
      .localisation-district-container {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 15px;
        img {
          margin-right: 6px;
        }
      }
      .item-actions-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        .fa {
          font-size: 10px;
        }
        .item-action-link {
          margin-right: 10px;
          display: flex;
          align-items: center;
          font-weight: 600;
          color: $gray;
          &:hover {
            opacity: 0.6;
          }
          .fa {
            margin-right: 3px;
          }
        }
      }
      .item-description {
        margin-bottom: 20px;
      }
      .title-price-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        .title {
          font-family: "Amatic Sc";
          font-weight: bolder;
          color: $gray;
          font-size: 28px;
        }
        .price {
          font-size: 18px;
          font-weight: bolder;
          color: $dark-red;
        }
      }
    }
    .item-right-bottom {
      padding-top: 10px;
      padding-left: 10px;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item-photos-collection {
        width: 23%;
        height: 100%;
        border-radius: 4px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .inset-img {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 4px;
          &.back-contain {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }
    }
  }
}


.prop-creation-block {
  height: 140px;
  border-radius: 4px;
  width: 320px;
  margin: 0 auto;
  background-color: $light-gray-2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  p {
    margin-bottom: 8px;
  }
  .subtitle {
    font-weight: 700;
    font-size: 14px;
  }
}



.agency-nullify-props {
  .left-props {
    border-radius: 4px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right-props {
    border-radius: 4px;
    width: 100%;
    height: calc(100vh - 350px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .separator-text {
      margin: 6px 0;
      margin-bottom: 15px;
    }
  }
}

.agency-response-efficiency {
  font-size: 12px;
  color: lighten($gray,25%);
  letter-spacing: -0.3px;
  font-weight: 600;
}



.upload-bottom .preview-img {
  width: 80px;
  height: 60px;
  margin-right: 8px;
  border-radius: 3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.present-imgs-container .preview-img {
  width: 80px;
  height: 60px;
  margin-right: 8px;
  border-radius: 3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.upload-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.avatar-circled {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $dark-red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  .fa {
    color: $dark-red;
  }
}


.empty-demand-container {
  .adjust-text {
    font-size: 14px;
    color: $green;
    text-align: center;
    font-weight: 700;
  }
}


section.agency-zone {
  .big-header {
    p {
      font-size: 13px;
      font-weight: 600;
      color: rgb(100,100,110);
    }
  }
}

label.form-control-label.required {
  &:after {
    content: '*';
    height: 100%;
    display: inline-block;
    color: $dark-red;
    font-size: 14px;
    font-weight: 800;
    margin-left: 6px;
  }
}


.item-left-created-date {
  padding: 12px;
  background-color: rgba(250,250,250,0.8);
  font-weight: 600;
  font-size: 12px;
}

.important-fields-container {
  padding: 14px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: $green;
  .important-fields-header {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    color: rgba(50,50,50,0.8);
  }
  .important-fields-items-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .important-field-item {
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      .important-field-value {
        margin-left: 8px;
        font-weight: 700;
        color: rgba(70,70,70,0.8);
      }
    }
  }
}

section.agency-zone {
  .big-header {
    .demand-date {
      font-weight: 700;
      font-size: 13px;
      color: $gray;
    }
    .demand-ref {
      font-weight: 700;
      font-size: 13px;
      color: $gray;
    }
  }
}


.welcome-text {
  color: lighten($gray,10%);
  font-weight: 600;
  &.bold {
    font-weight: bolder;
  }
}




section.agency-registration-new {
  .devise-links-container .sentence {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    height: 22px;
    p {
      color: $gray;
      font-weight: 600;
    }
  }
  .form-title {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: $gray;
    p {
      margin: 0;
    }
  }
  form {
    .form-actions {
      margin: 20px 0;
    }
    .form-inputs {
      #agency-block {
        input {
          border: none;
          background-color: $light-gray;
          &::placeholder {
            font-weight: 600;
            font-size: 14px;
            color: lighten($gray,15%) !important;
          }
        }
        span.select2-selection {
          background-color: $light-gray;
          border: none !important;
          color: lighten($gray,15%);
        }
      }
      #infos-block {
        input {
          border: none;
          background-color: $light-gray-2;
          &::placeholder {
            font-weight: 600;
            font-size: 14px;
            color: lighten($gray,15%);
          }
        }
        .small {
          line-height: 44px;
          margin-bottom: 12px;
        }
      }
      .header {
        margin-bottom: 12px;
        h5 {
          font-family: "Open Sans";
          font-weight: 700;
        }
      }
    }
  }
}



.select2-container--default .select2-search--inline .select2-search__field {
  width: 100% !important;
}

.modal-agency-new-form {
  form#new_agency {
    .form-inputs {
      li.select2-selection__choice {
        display: flex;
        align-items: center;
        font-size: 13px !important;
        font-weight: 600 !important;
        color: $gray;
        background-color: darken($light-gray,20%) !important;
        span.select2-selection__choice__remove {
          font-size: 20px !important;
          color: $gray;
          margin-right: 4px;
        }
      }
      input.form-control {
        border: none;
        background-color: $light-gray !important;
        &::placeholder {
          font-weight: 600;
          font-size: 14px;
          color: lighten($gray,15%) !important;
        }
      }
      span.select2-selection {
        background-color: $light-gray;
        border: none !important;
        color: lighten($gray,15%);
        &::placeholder {
          font-weight: 600;
          font-size: 14px;
          color: lighten($gray,15%) !important;
        }
      }
    }
  }
}


.customer-choice-container {
  background-color: lighten($light-gray,2%);
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 0 20px;
  position: relative;
  .waiting-comment-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .waiting-text {
      font-size: 14px;
      font-weight: 600;
      color: lighten($gray,10%);
    }
    .fa {
      font-size: 34px;
      color: $green;
      margin-bottom: 10px;
    }
  }
  .negative-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    .customer-comment {
      font-size: 14px;
      font-weight: 600;
      color: lighten($gray,10%);
    }
    .customer-comment-fullheight {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
      color: $gray;
      height: 100%;
    }
    .header {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      height: 50px;
      margin-bottom: 0;
      .colored {
        margin-left: 7px;
        color: $dark-red;
        font-size: 22px;
      }
    }
  }
  .positive-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    .customer-comment {
      font-size: 14px;
      font-weight: 600;
      color: lighten($gray,10%);
    }
    .header {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: bold;
      height: 50px;
      margin-bottom: 0;
      .colored {
        margin-left: 7px;
        color: darken($green,15%);
        font-size: 22px;
      }
    }
  }
}


.crucial-comment {
  padding: 12px;
  background-color: tomato;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  .crucial-comment-title {
    font-weight: 800;
    margin-left: 5px;
  }
}














