section.v2-agency-zone {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 100vh;
  width: 100%;
  .v2-first-blocks-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    .left {
      width: 100%;
      padding-right: 10px;
    }
    .right {
      width: 100%;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  .v2-second-blocks-container {
    display: flex;
    margin-bottom: 20px;
    .left {
      width: 100%;
      padding-right: 10px;
    }
    .right {
      width: 100%;
      padding-left: 10px;
      .top {
        width: 100%;
        padding-bottom: 10px;
      }
      .bottom {
        width: 100%;
        padding-top: 10px;
      }
    }
  }
  // ########## AGENCY ########## //
  .v2-agency-block {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header-with-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: bolder;
        font-size: 3rem;
        margin: 0;
      }
      .icon-menu-kenotte {
        color: white;
        font-size: 36px;
        line-height: 1;
      }
    }
    .actions-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      .action-item {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: white;
        font-size: 1.8rem;
        letter-spacing: -0.2px;
        &.bold {
          font-weight: 700;
        }
        .fa {
          margin-right: 6px;
        }
      }
    }
    .circled-fa {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid white;
      margin-right: 5px;

      .fa {
        margin: 0 !important;
        font-size: 2.4rem;
        color: white;
      }
    }
  }
  .green {
    background-color: $green;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    // &:hover {
      // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // }
  }
  // ########## INFOS ########## //
  .v2-block-infos {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
      display: flex;
      align-items: center;
      margin : 0;
      h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: bolder;
        font-size: 3rem;
        margin: 0;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .left {
        flex: 1;
        display: flex;
        padding: 0 10px;
        flex-direction: column;
        justify-content: center;
        .agency-small-text {
          font-size: 1.6rem;
          font-weight: 700;
          text-align: left;
          letter-spacing: -0.6px;
          margin-bottom: 6px;
          .fa {
            &.green {
              color: $green;
              background-color: transparent;
              margin-right: 6px;
            }
          }
        }
        .agency-large-text {
          font-size: 2.4rem;
          font-weight: 700;
          text-align: left;
          letter-spacing: -0.6px;
          margin-bottom: 6px;
        }
        .progress-bar-container {
          overflow: hidden;
          height: 6px;
          width: 100%;
          border-radius: 1.4rem;
          background-color: rgb(220,220,220);
          position: relative;
          display: flex;
          border: none;
          margin: 8px 0;
          .progress-bar {
            height: 100%;
            background-color: $green;
            width: 45%;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            border: none;
            box-shadow: none;
            position: relative;
            .hint {
              position: absolute;
              right: -6px;
              top: -3px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: $green;
            }
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        .inline-svg {
          svg {
            height: 150px;
            width: 150px;
          }
        }
        .agency-small-text {
          font-size: 1.4rem;
          font-weight: 600;
          text-align: center;
          letter-spacing: -0.3px;
          color: $green;
        }
        .list-logo {
          width: 30px;
        }
      }
    }
  }
  .white {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    // &:hover {
    //   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // }
  }
  // ########## UNVIEWED DEMANDS ########## //
  .v2-unviewed-demands-block {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: bolder;
        font-size: 3rem;
        margin: 0;
      }
    }
    .demand-container {
      position: relative;
      padding: 12px;
      border-radius: 4px 4px 0 4px;
      background-color: white;
      display: flex;
      flex-direction: column;
      min-height: 160px;
      margin-bottom: 60px;
      font-family: "Open Sans", sans-serif;
      .absolute-badge {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: tomato;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -13px;
        right: -13px;
        color: white;
        font-size: 9px;
        font-weight: bolder;
        letter-spacing: -0.5px;
        &.success {
          background-color: $green;
        }
      }
      .absolute-button-before {
        position: absolute;
        right: 0;
        bottom: -30px;
        height: 30px;
        width: 140px;
        font-weight: 600;
        letter-spacing: -0.5px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        &.red {
          background: linear-gradient(to right, white 50%, tomato 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all .5s ease-out;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            background-position: left bottom;
            color: tomato;
          }
        }
      }
      .demand-container-line {
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        .icon-text-line {
          display: flex;
          align-items: center;
          font-weight: 600;
          letter-spacing: -0.2px;
          color: lighten($gray, 10%);
          margin-right: 8px;
          .fa {
            margin-right: 6px;
            font-size: 1.6rem;
          }
          &.small {
            font-size: 1.4rem;
            color: rgb(160,160,180);
          }
        }
        &.between {
          justify-content: space-between;
        }
        &.start {
          justify-content: flex-start;
        }
      }
    }
    .white {
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
  .light-gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
  }
  .v2-empty-demand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .adjust-text {
      padding: 20px 0;
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
    }
    .adjust-small-text {
      padding-bottom: 15px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 500;
    }
  }
  // ########## SCHEDULED VISITS & PENDING OFFERS ########## //
  .v2-scheduled-visits-block, .v2-pending-offers-block {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: bolder;
        font-size: 3rem;
        margin: 0;
      }
    }
    .empty-pending-offers-text {
      font-size: 2.2rem;
      font-weight: 600;
      color: $dark-red;
    }
    .property-container {
      position: relative;
      border-radius: 4px 4px 0 4px;
      background-color: white;
      display: flex;
      min-height: 160px;
      margin-bottom: 40px;
      font-family: "Open Sans", sans-serif;
      .absolute-button-before {
        position: absolute;
        right: 0;
        bottom: -30px;
        height: 30px;
        width: 140px;
        font-weight: 600;
        letter-spacing: -0.5px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "Open Sans", sans-serif;
        &.green {
          background: linear-gradient(to right, white 50%, $green 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all .5s ease-out;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            background-position: left bottom;
            color: $green;
          }
        }
      }
      .property-left {
        flex: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px 0 0 3px;
      }
      .property-right {
        padding: 12px;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .property-container-line {
          width: 100%;
          flex: 1;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          .icon-text-line {
            display: flex;
            align-items: center;
            font-weight: 600;
            letter-spacing: -0.2px;
            color: lighten($gray, 10%);
            margin-right: 8px;
            .fa {
              margin-right: 6px;
              font-size: 1.6rem;
              &.green {
                color: $green;
              }
              &.choice {
                font-size: 3rem;
                background-color: transparent;
                box-shadow: none;
              }
            }
            &.small {
              font-size: 1.4rem;
              color: rgb(160,160,180);
            }
          }
          &.red {
            color: tomato;
          }
          &.between {
            justify-content: space-between;
          }
          &.start {
            justify-content: flex-start;
          }
        }
      }
    }
    .white {
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
  .light-gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
  }
  .v2-empty-property-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .adjust-text {
      padding: 20px 0;
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
    }
    .adjust-small-text {
      padding-bottom: 15px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 500;
    }
  }
}

@media (max-width: 1200px) {
  .v2-first-blocks-container, .v2-second-blocks-container {
    flex-direction: column;
    .left {
      padding: 10px 0 !important;
    }
    .right {
      padding: 0 !important;
    }
    .top {
      padding: 10px 0 !important;
    }
  }
}

@media (max-width: 900px) {
  .v2-unviewed-demands-block, .v2-scheduled-visits-block, .v2-properties-waiting-block {
    .demand-container-line, .property-container-line {
      font-size: 1.4rem !important;
    }
    .header {
      justify-content: center;
    }
  }
  .v2-agency-block .actions-container {
    .action-item {
      font-size: 1.6rem !important;
    }
  }
}


.v2-props-container {
  .unproposed-properties-container {
    padding: 20px 15%;
    background-color: rgb(220,220,225);
    border-radius: 0;
    margin-bottom: 0;
  }
}




form.edit_v2_demand {
  font-family: "Cerebri Sans";
  .ajax-influence-zone-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten(lightgreen,10%);
    .fa {
      font-size: 1.47rem;
      color: darken(lightgreen,20%);
    }
  }
  .add-zipcode-trigger {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.3px;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: darken(lightgreen,10%);
    color: rgba(50,50,50,0.7);
  }
  .all-inputs-container {
    .all-inputs-item {
      .waiting-fa-icon {
        font-size: 20px;
        color: $green;
      }
      .input-sentence {
        font-weight: 700;
        letter-spacing: -0.2px;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        color: tomato;
        position: absolute;
        left: 350px;
        .fa {
          margin-right: 8px;
        }
      }
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 25px;
      border-radius: 4px;
      background-color: rgb(250,250,250);
      position: relative;
      padding-right: 40px;
      .absolute-destroy-icon {
        position: absolute;
        right: 12px;
        top: calc(50% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: lighten(tomato,20%);
        .fa {
          font-size: 1.47rem;
          color: tomato;
        }
      }
    }
    .custom-radiobuttons-with-svg-container {
      display: flex;
      align-items: center;
      .radio-input-with-icon {
        margin-right: 14px;
        input {
          display: none;
        }
        label {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0;
          cursor: pointer;
          .input-value-display {
            line-height: 1;
            font-size: 1.50rem;
            font-weight: 500;
            letter-spacing: -0.3px;
          }
          .inline-svg {
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
        input:checked + label .input-value-display {
          color: tomato;
        }
        input:checked + label .css-concentric-circles {
          .circle-small {
            border-color: tomato;
          }
          .circle-medium {
            border-color: tomato;
          }
          .circle-big {
            border-color: tomato;
          }
        }
      }
    }
    .custom-zipcode-input-v2 {
      position: relative;
      height: 47px;
      width: 320px;
      display: flex;
      align-items: center;
      margin-right: 10px;
      padding: 0 8px;
      padding-left: 12px;
      background-color: rgb(230,230,230);
      border-radius: 4px;
      input {
        font-size: 1.6rem;
        width: 100%;
        height: 100%;
        border: none;
        font-weight: 600;
        letter-spacing: -0.3px;
        display: flex;
        align-items: center;
        background-color: transparent;
        padding-bottom: 4px;
        &::placeholder {
          font-weight: 700;
          color: tomato;
          font-size: 1.5rem;
          letter-spacing: -0.4px;
          opacity: 0.75;
          padding-bottom: 4px;
        }
      }
    }
  }
}

.ajax-influence-result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: rgb(225,225,225);
  font-size: 1.7rem;
  .ajax-influence-result {
    font-weight: 500;
    display: flex;
    align-items: center;
    .locality {
      font-weight: 400;
      font-size: 1.8rem;
      margin-right: 5px;
      min-width: 100px;
    }
    .distance {
      font-weight: 600;
      font-size: 1.4rem;
      background-color: lightseagreen;
      color: white;
      padding: 4px 10px;
      border-radius: 6px;
      letter-spacing: -0.6px;
      margin-right: 5px;
      min-width: 49px;
    }
    .zipcode {
      font-weight: 800;
      margin-right: 5px;
    }
    .district {
      font-weight: 600;
      font-size: 1.2rem;
      color: rgb(160,160,160);
    }
  }
}


.current-zipcodes-area-container {
  margin: 40px 0;
  font-family: "Cerebri Sans";
  padding: 20px;
  .header-title {
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }
  .zipcodes-area-item {

  }
}



section.chatroom-page#agency-side {
  height: calc(100vh - 69px);
  .height-fullpage-container {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    .chatroom-title-container {
      h1 {
        font-family: "Cerebri Sans";
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: -0.2px;
      }
      .chatroom-big-photo-item {
        height: 40%;
        width: 60px;
      }
    }
  }
  .chatroom-property-container {
    border-radius: 0;
    font-family: "Cerebri Sans";
    .chatroom-content-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1.6rem;
      padding: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      border: none;
    }
    .chatroom-header-title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-bottom: 10px;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: -0.3px;
    }
    .infos-content-item {
      margin-bottom: 10px;
      font-size: 1.6rem;
      font-weight: 400;
      img {
        width: 18px;
        margin: 0;
        margin-right: 6px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.chatroom-page#agency-side {
    .height-fullpage-container {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      .chatroom-title-container {
        h1 {
          font-size: 1.9rem;
        }
      }
    }
  }
}









