.already-proposed-properties {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .proposed-property-item {
    padding: 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(220,220,220);
  }
}

.already-proposed-properties-container {
  padding: 20px;
  border: 1px solid rgb(220,220,220);
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  border-radius: 4px;
  h2 {
    margin: 0;
    margin-bottom: 20px;
  }
}


.unproposed-properties-container {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  border-radius: 4px;
  .d-flex-inline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px;
  }
  h2 {
    margin: 0;
    font-family: "Amatic Sc";
    font-size: 28px;
    font-weight: bolder;
  }
}


.fontastic-adjust {
  line-height: 0.8;
  margin-right: 14px;
  font-size: 27px;
}



.unproposed-properties-container {
  .unproposed-properties-wrapper {
    .checkbox-property-input {
      width: 100%;
      input[type=checkbox]:checked + label {
        background-color: white;
      }
      label {
        &:hover {
          background-color: rgb(235,235,240) !important;
        }
        display: flex;
        flex-direction: column;
        .label-top-block {
          height: 90%;
          width: 100%;
          .block-image {
            height: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
          .block-content {
            height: 50%;
            padding: 20px;
            background-color: lighten($light-gray-2,10%);
          }
        }
        .label-bottom-block {
          height: 10%;
          width: 100%;
          display: flex;
          align-items: center;
          .bottom-block-btn {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;
            color: white;
            font-weight: bolder;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
        .property-input-title {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 3px;
        }
        .property-input-title-small {
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 8px;
          color: rgb(180,180,180);
        }
        .property-flex-inline {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 5px 0;
          .flex-inline-title {
            color: $dark-red;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .fa {
              margin-right: 6px;
            }
          }
        }
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .checkbox-demand-full-address {
          color: $gray;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: auto;
          max-width: auto;
          padding: 0;
          margin: 0;
          .fa {
            margin-right: 7px;
          }
        }
        .property-label-price {
          font-weight: bolder;
          letter-spacing: -0.2px;
          font-size: 16px;
        }
        .prop-picture {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          width: 40px;
          height: 40px;
          border-radius: 2px;
          &.contain-image {
            background-size: contain;
          }
        }
      }
    }
  }
}


.property-creation-block {
  height: 350px;
  border-radius: 6px;
  background-color: lighten($light-gray-2,10%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  .header {
    display: flex;
    align-items: center;
    font-family: "Amatic Sc";
    font-weight: bolder;
    font-size: 28px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    .agency-create-property-link {
      transition: 0.3s;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
    .text {
      font-weight: 600;
      color: lighten($gray,10%);
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
  }
}



.demand-proposal-fixed-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background-color: $green;
  display: flex;
  z-index: 1000;
  .demand-proposal-title-block {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    .title-block-title {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .demand-proposal-left-block {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }
  .demand-proposal-right-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
  }
  .tempo-photo-left-block {
    height: 100%;
    width: 30%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .full-temporary-item {
    width: 260px;
    height: 80%;
    display: flex;
    margin: 0 20px;
    background-color: rgba(255,255,255,0.65);
    border-radius: 4px;
  }
  .temporary-append-item {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    padding: 15px;
    position: relative;
    .closed-temporary-item-button {
      position: absolute;
      top: -6px;
      right: -6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      .fa {
        color: $dark-red;
        font-size: 22px;
      }
    }
    .tempo-item {
      flex: 1;
      &.title {
        font-weight: 700;
      }
      &.address {
        font-weight: 600;
      }
      &.price {
        font-weight: 700;
        color: darken($green,10%);
      }
      &.type {
        font-size: 12px;
        font-weight: 700;
        color: lighten($gray,25%);
      }
    }
  }
}

.sans-serif-font {
  font-family: "Open Sans" !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-16 {
  font-size: 16px !important;
}



.project-block {
  &.framed {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(220,220,220);
    margin-bottom: 25px;
  }
}

.perfect-block {
  &.framed {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(220,220,220);
    margin-bottom: 50px;
  }
}

.seller-block {
  &.framed {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(220,220,220);
  }
}

.super-strong-plus-icon {
  font-weight: 800;
  font-size: 20px;
  margin: 0 3px;
}













