section.ambassador {
  .banner {
    display: flex;
    width: 100%;
    height: 70vh;
    margin-bottom: 50px;
    .left {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px;
      background-image: linear-gradient(to right, #cef1fd, #def3ff, #edf6ff, #f8faff, #ffffff);
      font-family: "Open Sans", sans-serif;
      color: $gray;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        height: 90%;
      }
      .sup-header {
        font-size: 5rem;
        font-weight: bolder;
      }
      .low-header {
        font-size: 3.4rem;
        font-weight: bolder;
      }
    }
    .right {
      flex: 1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .ambassador-form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .headers {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
      font-family: "Open Sans", sans-serif;
      color: $gray;
      .sup-header {
        font-size: 2.8rem;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      .sup-header-hidden {
        font-size: 2.4rem;
        font-weight: bolder;
        padding-bottom: 10px;
        display: none;
      }
      .low-header {
        font-size: 1.6rem;
        font-weight: 500;
        padding-top: 10px;
      }
    }
    .form-container {
      background-color: $light-gray;
      width: 100%;
      padding: 25px;
      border-radius: 7px;
      .infos-from-ambassador {
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        color: $gray;
        .header {
          font-family: "Open Sans", sans-serif;
          font-size: 2rem;
          font-weight: bolder
        }
        .bad-email-message {
          color: tomato;
          font-size: 1.4rem;
          position: absolute;
          top: 45px;
          display: none;
        }
      }
      .infos-from-sponsored {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        color: $gray;
        .header {
          font-family: "Open Sans", sans-serif;
          font-size: 2rem;
          font-weight: bolder
        }
        .bad-email-message {
          color: tomato;
          font-size: 1.4rem;
          position: absolute;
          top: 45px;
          display: none;
        }
      }
      .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .top {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .name-input, {
            width: 250px;
            border: none;
          }
        }
        .between {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          margin-bottom: 15px;
          position: relative;
        }
        .bottom {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          position: relative;
          .property-type-input, .property-city-input {
            width: 200px;
            height: 34px;
            border: none;
          }
          .select-arrow {
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px 15px;
            top: -2px;
            right: 0;
            pointer-events: none;
            .arrow-down {
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 10px solid limegreen;
            }
            .arrow-up {
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 10px solid $light-gray-2;
              margin-bottom: 3px;
            }
          }
        }
        .email-input {
          width: 400px;
          border: none;
        }
        .phone-input {
          width: 250px;
          border: none;
        }
        .form-text {
          font-size: 1.6rem;
        }
      }
    }
  }
  .advantages-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    .left, {
      padding-right: 10px;
      width: 100%;
    }
    .right {
      padding-left: 10px;
      width: 100%;
    }
    .ambassador-advantages-block, .sponsored-advantages-block {
      border-radius: 7px;
      padding: 25px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      .header {
        font-family: "Open Sans", sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 15px;
        text-align: center;
      }
      .content {
        font-size: 1.6rem;
        text-align: center;
        line-height: 3rem;
      }
      .inline-svg svg {
        height: 170px;
        width: 170px;
      }
    }
    .ambassador-advantages-block {
      background-color: rgba(63, 59, 73, 0.8);
      transition: all 1s ease-out;
      &:hover {
        background-color: $gray;
      }
    }
    .sponsored-advantages-block {
      background-color: rgba(176, 195, 101, 0.8);
      transition: all 1s ease-out;
      &:hover {
        background-color: $green;
      }
    }
  }
  .how-it-works-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
    .left, {
      padding-right: 10px;
      width: 60%;
      .how-it-works-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
          font-family: "Open Sans", sans-serif;
          font-size: 2.4rem;
          font-weight: bolder;
          margin-bottom: 15px;
        }
        .top, .between, .bottom {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          padding-bottom: 20px;
          .index {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 27px;
            height: 27px;
            margin-right: 15px;
            background-color: $green;
            font-family: "Open Sans", sans-serif;
            font-size: 1.8rem;
            font-weight: bolder;
            transition: all 1s ease-out;
            cursor: default;
            &:hover {
              background-color: tomato;
            }
          }
          .content {
            font-family: "Open Sans", sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
            transition: all 1s ease-out;
          }
        }
      }
    }
    .right {
      padding-left: 10px;
      width: 40%;
      .inline-svg  {
        justify-content: center;
        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .cgu-container {
    display: flex;
    margin-bottom: 30px;
    .content {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
    }
  }
}

@media (max-width: 990px) {
  section.ambassador {
    .banner {
      .sup-header {
        font-size: 4.2rem !important;
      }
      .low-header {
        font-size: 3.4rem !important;
      }
    }
    .how-it-works-container {
      flex-direction: column;
      .right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .left {
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  section.ambassador {
    .banner {
      height: 60vh !important;
      .sup-header {
        font-size: 3.4rem !important;
      }
      .low-header {
        font-size: 2.8rem !important;
      }
    }
  }
}

@media (max-width: 768px) {
  section.ambassador {
    .banner {
      height: 50vh !important;
      .sup-header {
        font-size: 3.2rem !important;
      }
      .low-header {
        font-size: 2.4rem !important;
      }
    }
    .email-input {
      width: 300px !important;
    }
    .form-text {
      font-size: 1.4rem !important;
    }
    .property-type-input {
      width: 170px !important;
    }
  }
}

@media (max-width: 440px) {
  section.ambassador {
    .banner {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      .sup-header {
        font-size: 3.2rem !important;
      }
      .low-header {
        font-size: 1.8rem !important;
      }
      .left {
        background-image: none !important;
        background-color: #6DD5FA;
        color: white !important;
        .content {
          width: 100% !important;
          height: 100% !important;
        }
      }
      .right {
        display: none;
      }
    }
    .ambassador-form-container {
      .sup-header {
        display: none;
      }
      .sup-header-hidden {
        display: block !important;
      }
      .top, .between, .bottom {
        flex-direction: column;
      }
      .email-input, .property-type-input, .property-city-input {
        width: 250px !important;
      }
      .form-text {
        margin-bottom: 10px;
      }
      .form-container {
        padding: 15px !important;
      }
      .low-header {
        font-size: 1.4rem !important;
      }
    }
    .advantages-container {
      flex-direction: column;
      .right, .left {
        padding: 10px 0 !important;
      }
    }
    .how-it-works-container {
      .header {
        text-align: center;
      }
      .content {
        font-size: 1.2rem !important;
      }
      .top, .bottom {
        .index {
          width: 50px !important;
          height: 27px !important;
          font-size: 1.6rem !important;
        }
      }
      .between {
        .index {
          width: 40px !important;
          height: 27px !important;
          font-size: 1.6rem !important;
        }
      }
    }
  }
}
