.apifluxes-employee-container {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  position: fixed;
  font-size: 1.4rem;
  font-weight: 600;
  border-top: 1px solid rgb(240,240,240);
  bottom: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  .email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .signout {
    a {
      color: darken(tomato,10%);
    }
  }
}

section.show-wrapper {
  position: fixed;
  left: 250px;
  background-color: white;
  width: calc(100% - 250px);
  height: 100vh;
  z-index: 2000000;
  overflow: auto;
  .address-with-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .text {
      font-size: 1.7rem;
      color: rgb(150,150,160);
      font-weight: 500;
      margin-left: 6px;
    }
    .inline-svg {
      svg {
        width: 16px;
        height: 16px;
        stroke: rgb(140,140,140);
      }
    }
  }
  section.apifluxes-properties--show {
    .property-field {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: rgb(80,80,80);
    }
    .property-horizontal-show-infos-wrapper {
      display: flex;
      align-items: stretch;
    }
  }
  .property-fullcontent-description {
    padding: 30px;
    width: 75%;
    .property-description-text {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.7;
    }
    .property-allfield-label {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.1rem;
      font-weight: 600;
      color: lightseagreen;
      margin-bottom: 5px;
    }
  }
  .property-fullcontent-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: calc(100vh - 151px);
    border-right: 1px solid rgb(240,240,240);
    .fullcontent-wrapper-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
    }
    .property-allfield-label {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.1rem;
      font-weight: 600;
      color: lightseagreen;
      margin-bottom: 5px;
    }
    .property-allfield-value {
      font-size: 1.6rem;
    }
  }
  .property-sticky-stats-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    background-color: white;
    position: sticky;
    top: 91px;
    border-bottom: 1px solid rgb(240,240,240);
    .property-stat-item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      font-weight: 500;
      font-size: 1.4rem;
      color: rgb(50,50,60);
      &.big {
        font-size: 1.8rem;
        font-weight: 400;
      }
      .inline-svg {
        margin-right: 5px;
        svg {
          width: 14px;
          height: 14px;
          stroke: lightseagreen;
        }
      }
    }
  }
  .show-bottom-images-wrapper {
    position: fixed;
    width: calc(100% - 250px);
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(240,240,240);
    height: 90px;
    padding: 0 30px;
    background-color: white;
    .image-bck-item {
      height: 80%;
      width: 100px;
      border-radius: 1px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .show-top-close-header {
    border-bottom: 1px solid rgb(240,240,240);
    background-color: white;
    padding: 30px;
    position: sticky;
    top: 0;
    .property-title {
      font-weight: 500;
      font-size: 1.7rem;
      margin-right: 10px;
    }
  }
  .nested-show-custom-section-closer {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    &:hover .closer-text {
      opacity: 1;
    }
    .closer-text {
      opacity: 0;
      transition: 0.4s;
    }
    .inline-svg {
      margin-left: 6px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  .custom-section-closer {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    &:hover .closer-text {
      opacity: 1;
    }
    .closer-text {
      opacity: 0;
      transition: 0.4s;
    }
    .inline-svg {
      margin-left: 6px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}


section.apifluxes-properties--index {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  display: flex;
  box-sizing: border-box;
  section.apifluxes-ajax-loading {
    position: fixed;
    width: calc(100% - 250px);
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 1000000;
    .inline-svg {
      margin-bottom: 6px;
    }
  }
  section.apifluxes-ajax-loading-pagination {
    position: fixed;
    width: calc(100% - 250px);
    height: calc(100% - 147px);
    right: 0;
    top: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 1000000;
    &.from-agency {
      height: calc(100% - 80px);
    }
    .inline-svg {
      margin-bottom: 6px;
    }
  }
  section.left-wrapper {
    width: 250px;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0;
    padding: 30px;
    border-right: 1px solid rgb(240,240,240);
    form.apifluxes-properties--search {
      button {
        border: none;
        padding: 0;
      }
      input {
        height: 46px;
        border: 2px solid rgb(237,237,237);
        &:focus {
          border: 2px solid dodgerblue;
        }
        &:focus::placeholder {
          color: dodgerblue;
        }
        &::placeholder {
          font-weight: 500;
          color: rgb(140,140,140);
          font-size: 1.6rem;
        }
      }
    }
    form.apifluxes-agencies--search {
      button {
        border: none;
        padding: 0;
      }
      input {
        height: 46px;
        border: 2px solid rgb(237,237,237);
        &:focus {
          border: 2px solid dodgerblue;
        }
        &:focus::placeholder {
          color: dodgerblue;
        }
        &::placeholder {
          font-weight: 500;
          color: rgb(140,140,140);
          font-size: 1.6rem;
        }
      }
    }
    .light {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 40px;
      span {
        color: rgb(150,150,150);
        margin-right: 4px;
      }
    }
    .nav-header {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
  section.right-wrapper {
    width: calc(100% - 250px);
    box-sizing: border-box;
    min-height: 100%;
    .api-property-content-results-wrapper {
      padding-top: 83px;
      padding-bottom: 120px;
      .results-wrapper-too-many-objects {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        height: calc(100vh - 83px);
        width: calc(100% - 250px);
        right: 0;
        .alert-text {
          font-size: 1.6rem;
          font-weight: 500;
          margin-top: 10px;
        }
        .inline-svg {
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      .results-wrapper-empty-collection {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        height: calc(100vh - 83px);
        width: calc(100% - 250px);
        right: 0;
        .alert-text {
          font-size: 1.6rem;
          font-weight: 500;
          margin-top: 10px;
        }
        .inline-svg {
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      table.custom-table {
        tbody {
          tr {
            display: flex;
            align-items: center;
            letter-spacing: 0;
            border-bottom: 1px solid rgb(220,220,220);
            &:last-child {
              border-bottom: none;
            }
            td {
              border-top: none !important;
              padding: 16px;
              &:first-child {
                padding-left: 0;
              }
            }
          }
        }
        thead {
          position: fixed;
          top: 83px;
          left: 250px;
          width: calc(100% - 250px);
          padding-left: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: white;
          tr {
            width: 100%;
            display: flex;
            align-items: center;
            th {
              font-size: 1rem;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.5px;
              color: rgb(140,140,160);
              &:first-child {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .query-resume-fixed-wrapper {
      position: fixed;
      padding: 30px;
      background-color: white;
      width: calc(100% - 250px);
      border-bottom: 1px solid #f0f0f0;
      right: 0;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .results-count {
        font-weight: 500;
      }
      .query-resume-title {
        font-size: 1.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        .results-count {
          font-weight: 600;
          font-size: 1.2rem;
          padding: 6px 12px;
          position: relative;
          border-radius: 3px;
          margin-left: 6px;
          background-color: rgb(240,240,240);
        }
      }
    }
    .query-resume-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 1px;
      .separator {
        width: 4px;
        height: 4px;
        position: relative;
        top: 1px;
        border-radius: 50%;
        background-color: rgb(80,80,80);
        margin: 0 10px;
      }
      .query-resume-item {
        display: flex;
        align-items: center;
        .field {
          font-size: 1.4rem;
          font-weight: 500;
          color: rgb(160,160,180);
        }
        .value {
          font-size: 1.4rem;
          font-weight: 500;
          margin-left: 5px;
        }
      }
    }
    .custom-results-count {
      font-size: 1.6rem;
      font-weight: 700;
      margin-right: 10px;
    }
    .custom-pagination-status {
      background-color: rgb(240,240,240);
      padding: 6px 12px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1.2rem;
      margin-left: 10px;
    }
    .custom-api-status {
      color: darken(lightgreen,15%);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }
    .api-property-item {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    .empty-start-page {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.3rem;
      font-weight: 600;
    }
    .fixed-pagination-container {
      position: fixed;
      padding: 15px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: white;
      width: calc(100% - 250px);
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #f0f0f0;
    }
    nav.custom-pagination {
      display: flex;
      align-items: center;
      border-radius: 3px;
      margin: 0;
      .pagination-item {
        font-size: 1.4rem;
        padding: 0 10px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        min-width: 37px;
        color: rgb(200,200,200);
        a {
          color: rgb(60,60,60);
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}



section.apifluxes-agencies--index {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  form.api-bcs-agency-find {
    padding: 60px;
    button {
      -moz-appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      padding: 0;
      background-color: none;
    }
    input {
      height: 52px;
      font-weight: 600;
      &::placeholder {
        font-weight: 600;
        color: rgb(50,50,60);
      }
      &:focus {
        border: 2px solid dodgerblue;
        &::placeholder {
          color: dodgerblue;
        }
      }
    }
  }
  .flux-agency-card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(230,230,230);
    display: flex;
    flex-direction: column;
    .card-top {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      &.blue-text {
        color: dodgerblue;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .card-top-title {
        color: rgb(160,160,180);
        margin-right: 8px;
      }
    }
    .card-bottom {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .card-bottom-item {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
      }
    }
  }
}




section.apifluxes-agencies--show {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  .apifluxes-agency--card {
    padding: 20px;
    border-radius: 3px;
    background-color: rgb(40,40,40);
    color: white;
    font-size: 1.6rem;
    margin-bottom: 20px;
    .agency-card--propcount {
      font-weight: 600;
      margin-top: 10px;
    }
    .agency-card--name {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .agency-card--localisation {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .agency-card--email {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: rgba(255,255,255,0.6);
    }
    .agency-card--phone {
      font-size: 1.4rem;
      color: lighten(dodgerblue,20%);
      font-weight: 400;
    }
  }
  .apifluxes-properties--card {
    color: rgb(60,60,60);
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid rgb(230,230,230);
    border-radius: 2px;
    .properties-card--status {
      font-size: 1.5rem;
      margin-bottom: 5px;
      font-weight: 500;
      color: dodgerblue;
    }
    .properties-card--photos-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .properties-card--photo {
        width: 200px;
        border-radius: 2px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .properties-card--title {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 5px;
      color: rgb(130,130,140);
    }
    .properties-card--details {
      font-weight: 400;
      font-size: 1.7rem;
    }
    .properties-card--property-title {
      font-size: 2rem;
      font-weight: 600;
    }
    .properties-card--localisation {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 15px;
      color: rgb(130,130,140);
    }
    .properties-card--body {
      font-size: 1.6rem;
      font-weight: 400;
      color: rgb(80,80,80);
      line-height: 1.7;
      margin-bottom: 20px;
    }
  }
}
