.api-return-item {
  font-family: "Cerebri Sans";
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(245,245,250);
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  .item-title {
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: -0.8px;
  }
  .item-separator {
    width: 100%;
    border-bottom: 1px solid rgb(200,200,220);
    margin-top: 20px;
  }
  .item-price {
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -0.8px;
  }
  .item-position {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background-color: rgb(50,50,55);
  }
  .item-prop-type {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    display: flex;
    align-items: center;
    color: deepskyblue;
    .type-subtitle {
      font-weight: 700;
      margin-right: 8px;
      color: rgb(170,170,190);
    }
  }
  .item-localisation {
    font-size: 2rem;
    font-weight: 300;
    color: $gray;
  }
  .item-created-at {
    font-weight: 800;
    letter-spacing: -0.4px;
    font-size: 1.2rem;
    color: rgb(160,160,170);
    position: absolute;
    right: 20px;
    top: 43px;
  }
  .item-body {
    font-size: 1.6rem;
  }
}
