section.bcs-properties {
  .properties-banner {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(10,10,10,0.3),rgba(10,10,10,0.3)), url("https://cdn.bientotchezsoi-dev.com/blog-posts/article-location-plan-travail.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    .content {
      font-size: 40px;
      color: white;
      text-shadow: 0px 1px 0 rgba(10,10,10,0.5);
      font-family: "Amatic Sc";
      font-weight: bolder;
    }
  }
  .agency-dashboard-property-item-v2 {
    .item-left {
      width: 40%;
    }
    .item-right {
      width: 60%;
      .item-right-top {
        .localisation-district-container {
          font-size: 16px;
        }
      }
    }
  }
}



.bcs-contact-agency-block {
  border-radius: 5px;
  background-color: $light-gray;
  color: $gray;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .agency-image {
    width: 100%;
    height: 160px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("https://s3.eu-west-3.amazonaws.com/bientotchezsoi/images/agence-front-resize.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .right-btn-adjust {
    margin-top: 10px;
  }
  input {
    margin-bottom: 36px;
  }
  .bcs-header {
    font-family: "Open Sans";
    font-weight: 700;
    color: $gray;
    font-size: 16px;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
  }
  .bcs-body {
    font-weight: 600;
    &.bold {
      font-weight: 700;
      text-align: center;
    }
  }
}

.bcs-contact-people-block {
  border-radius: 5px;
  background-color: $green;
  color: $gray;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .bcs-header {
    font-family: "Open Sans";
    font-weight: 700;
    color: white;
    font-size: 18px;
    letter-spacing: -0.3px;
  }
  .contact-name {
    font-size: 28px;
    font-family: "Amatic Sc";
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .contact-description {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
}

.one-connect {
  background-color: $dark-red;
  border-radius: 4px;
  padding: 20px;
  margin-top: 40px;
}




