section.blog-categories {
  display: flex;
  align-items: stretch;
  .left-section {
    width: 100%;
    padding: 70px;
    .content {
      .post-title {
        font-style: italic;
        margin-bottom: 20px;
        line-height: 26px;
        color: lighten($gray, 20%);
        font-size: 16px;
      }
      .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        border-radius: 1px;
        margin-bottom: 20px;
        .title {
          background-color: rgba(255,255,255,0.7);
          color: $gray;
          padding: 20px;
          width: 75%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      p {
        line-height: 26px;
        color: lighten($gray, 15%);
        font-size: 16px;
        strong {
          color: $gray;
        }
      }
    }
  }
  .social-content {
    display: flex;
    flex-direction: column;
  }
  .right-section {
    min-width: 320px;
    max-width: 320px;
    border-left: 1px solid $border-gray;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    &.mobile {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      border-top: 1px solid $border-gray;
      padding: 30px;
    }
    .content {
      .tags-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .tag {
          padding: 4px 8px;
          margin: 3px;
          border-radius: 2px;
          color: darken($normal-gray, 30%);
          font-weight: 600;
          font-size: 12px;
          background-color: lighten($normal-gray, 25%);
          transition: 0.3s;
          &:hover {
            background-color: $normal-gray;
            color: white;
          }
        }
      }
      .social-links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
          width: 40px;
        }
        img {
          width: 30px;
        }
      }
      .small-header {
        color: $gray;
        font-weight: bolder;
        margin-bottom: 10px;
        font-size: 16px;
      }
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      .blog-link-container {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .fa {
          font-size: 6px;
          margin-right: 8px;
          color: lighten($gray, 10%);
        }
        .fa-book {
          font-size: 12px;
        }
        .posts-count {
          font-size: 13px;
          font-weight: bolder;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $green;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .blog-category-link {
      color: lighten($gray, 10%);
      font-size: 14px;
      font-family: "Open Sans";
      letter-spacing: -0.3px;
      font-weight: 600;
      &:hover {
        color: $green;
      }
      &.active {
        font-weight: bolder;
        color: $green;
      }
    }
    .header {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      font-size: 16px;
      color: $gray;
      border-bottom: 1px solid $border-gray;
      margin-bottom: 0;
    }
  }
}


section.blog-category-show {
  .header {
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 0;
    .content {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: white;
        font-size: 60px;
        font-weight: bolder;
        text-shadow: 1px 1px black;
      }
      .post {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 40px;
          color: white;
          text-shadow: none;
        }
        h5 {
          font-family: "Open Sans";
          color: white;
          font-size: 17px;
          line-height: 26px;
          margin-bottom: 25px;
          font-style: italic;
        }
      }
    }
  }
}


section.blog-posts-container {
  display: flex;
  align-items: stretch;
  .left-content {
    width: 70%;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
  }
  .right-content {
    position: sticky;
    top: 70px;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  section.blog-categories {
    flex-direction: column;
    .left-section {
      padding: 20px;
      .title {
        font-size: 30px;
      }
    }
  }
}



.blog-post-aside {
  border: none !important;
  border-radius: 3px !important;
  background-color: $green !important;
  padding: 25px !important;
  margin-bottom: 40px !important;
  p {
    color: darken($gray,5%) !important;
  }
}
