section.cgu-section {
  padding: 0 100px;
  .cgu-section-link {
    padding: 20px 0;
    a {
      color: $green;
      font-weight: bolder;
      padding: 6px 12px;
      border: 1px solid $green;
      border-radius: 4px;
    }
  }
  .cgu-section-header {
    margin: 40px 0;
    .header-title {
      text-align: center;
      font-family: "Amatic Sc";
      font-weight: bolder;
      color: $dark-red;
      font-size: 32px;
      &.big {
        font-size: 40px;
        color: darken($dark-red,10%);
        letter-spacing: -1.3px;
      }
    }

  }
  .cgu-section-item {
    margin-bottom: 50px;
    .section-item-title {
      color: $green;
      font-weight: bolder;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .section-item-body {
      font-size: 14px;
      line-height: 1.7;
      p {
        margin-bottom: 20px;
        strong {
          margin-right: 6px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  section.cgu-section {
    padding: 0 25px;
  }
}
