section.chatroom-page {
  height: 400px;
  display: flex;
  .chatroom-property-container {
    height: 100%;
    flex: 3;
    background-color: lighten($light-gray-2,5%);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 25px;
    img {
      width: 40%;
      margin-bottom: 10px;
    }
    .messages-agency-name {
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: -0.3px;
    }
    .chatroom-property-header {
      flex: 2;
      display: flex;
      flex-direction: column;
      .chatroom-header-content-container {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        .infos-content-item {
          display: flex;
          align-items: center;
          font-weight: 600;
          color: lighten($gray,5%);
          margin-bottom: 3px;
          img {
            margin-right: 6px;
          }
        }
      }
      .chatroom-header-title {
        height: 40px;
        display: flex;
        align-items: center;
        font-weight: 800;
        padding-left: 20px;
        color: $gray;
      }
    }
    .chatroom-property-content {
      flex: 5;
      margin-bottom: 20px;
      .chatroom-content-title {
        height: 40px;
        border-top: 1px solid rgb(230,230,240);
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-weight: 800;
        color: $gray;
      }
      .chatroom-photos-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px;
        .chatroom-photo-item {
          height: 80px;
          width: 31%;
          margin-bottom: 10px;
          border-radius: 4px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    .chatroom-property-footer {
      flex: 2;
    }
  }
  .height-fullpage-container {
    flex: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    .chatroom-title-container {
      flex: 2;
      padding: 0;
      .chatroom-big-photo-item {
        height: 70%;
        width: 100px;
        margin-right: 15px;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .panel.panel-default#chatroom {
      flex: 5;
      overflow-y: scroll;
      border-radius: 4px;
      margin-bottom: 20px;
    }
    .panel-body#messages {
    }
    .customer-chatroom-form-input {
    }
    .agency-chatroom-form-input {
    }
  }
}



#customer-connection-status {
  color: $gray;
  &.active {
    color: $green;
  }
}

#agency-connection-status {
  color: $gray;
  &.active {
    color: $green;
  }
}



@media (max-width: 768px) {
  section.chatroom-page {
    padding-left: 0;
    .chatroom-property-container {
      display: none;
    }
    .height-fullpage-container {
      padding-right: 0;
      padding: 10px;
      .chatroom-title-container {
        .chatroom-big-photo-item {
          width: 75px;
          height: 50%;
        }
        h1 {
          font-size: 23px;
        }
      }
    }
  }
}








