section.convention-page {
  min-height: calc(100vh - 120px);
  .convention-page-content {
    margin-top: 25px;
    .title {
      color: $green;
      font-size: 14px;
      font-weight: bolder;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .big-title {
      color: $green;
      font-size: 16px;
      font-weight: bolder;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  margin: 50px 0;
  h4 {
    font-size: 40px;
    color: $dark-red;
  }
  a {
    color: $green;
    font-weight: bolder;
    padding: 6px 12px;
    border: 1px solid $green;
    border-radius: 4px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    color: $gray;
    strong {

    }
    a {
      font-weight: normal;
      border: none;
      border-radius: 0;
      padding: 0;
      color: $green;
      border-bottom: 2px solid transparent;
      transition: 0.3s;
      &:hover {
        border-bottom: 2px solid $green;
      }
    }
  }
}
