.conversation-wrapper {
  padding: 25px;
  overflow-y: scroll;
  height: 300px;
  margin-bottom: 25px;
  border: 1px solid rgb(230,230,230);
  border-radius: 3px;
  .message-item {
    padding: 12px 26px;
    align-self: flex-end;
    background-color: $green;
    font-weight: 600;
    font-size: 14px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    max-width: 380px;
    position: relative;
    .abs-message-creation-time {
      position: absolute;
      font-size: 10px;
      font-weight: bolder;
      color: lighten($gray,30%);
      bottom: -17px;
      right: 0;
    }
  }
  .message-item-receiver {
    padding: 12px 18px;
    align-self: flex-start;
    background-color: $light-gray;
    font-weight: 600;
    font-size: 14px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 30px;
    max-width: 380px;
  }
}



.full-message-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  width: 100%;
  .customer-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
}

.full-message-container-agency {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
  .message-item {
    background-color: $gray;
  }
  .customer-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
}



.iconed-submit-button {
  border: none;
  color: $green;
  font-size: 24px;
  outline: none;
}


form.customer_message {
  .form-control {
    border-radius: 30px;
    margin: 0;
    color: $gray;
    height: 50px;
    min-width: 400px;
    padding: 12px 24px;
    border: 2px solid rgb(230,230,230);
    background-color: rgb(250,250,250);
    &::placeholder {
      color: $gray;
    }
  }
}


.input-plus-submit-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
}


.button-with-icon-text {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}


.iconed-submit-button {
  display: flex;
  align-items: center;
  transition: 0.3s;
  background-color: transparent;
  &:hover {
    opacity: 0.7;
  }
}

.conversation-header-infos-recap {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  img {
    border-radius: 4px;
  }
  .property-title {
    font-family: "Amatic Sc";
    font-weight: bolder;
    font-size: 28px;
    margin: 0 8px;
  }
  .property-price {
    font-family: "Amatic Sc";
    font-weight: bolder;
    font-size: 28px;
  }
}




.chatroom-title-container {
  padding: 20px 0;
  .fa {
    color: $gray;
    font-size: 24px;
    margin-right: 15px;
    transition: 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
  img {
    border-radius: 5px;
    margin-right: 15px;
  }
  h1 {
    margin: 0;
    font-weight: bolder;
  }
}






