section.contact {
  display: flex;
  box-sizing: border-box;
  padding: 50px 10%;
  .left-content {
    width: 60%;
  }
  .right-content {
    width: 40%;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}


@media (max-width: 768px) {
  section.contact {
    padding: 50px 20px;
    flex-direction: column;
    .left-content {
      width: 100%;
    }
    .right-content {
      width: 100%;
      padding-left: 0;
      padding: 0 15px;
      order: -1;
      img {
        width: 50%;
        margin-left: 25%;
      }
    }
  }
}


section.hunt-fullpage {
  section.contact {
    display: flex;
    box-sizing: border-box;
    padding: 0 !important;
  }
}
