section.customer-zone {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
    &.unbordered {
      border-bottom: none;
      padding-top: 100px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
    }
    h1 {
      margin: 0;
      margin-bottom: 30px;
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 22px;
      color: lighten($gray,20%);
      margin-bottom: 30px;
      &.unmarged {
        margin-bottom: 0;
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 12px;
      }
    }
  }
  .content {
    .empty-result {
      font-size: 14px;
      color: lighten($gray,20%);
      line-height: 22px;
    }
    margin-bottom: 30px;
    h1 {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    p {
      margin: 0;
      line-height: 24px;
      color: rgb(130,130,130);
      margin-bottom: 30px;
    }
  }
}



section.customer-zone-v2 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 190px;
  &.vip {
    background-color: $gray;
  }
  .alone-title {
    font-size: 30px;
    color: $gray;
    font-family: "Amatic Sc";
    font-weight: bolder;
    display: flex;
    align-items: flex-start;
    height: 50px;
    &.light-gold {
      color: #F0DCA5;
      font-family: 'Old Standard TT';
      font-size: 24px;
      font-weight: bolder;
      letter-spacing: -0.3px;
    }
  }
  .taller-block {
    min-height: 285px !important;
  }
  .post-block {
    border-radius: 4px;
    border: 1px solid $light-gray;
    margin-bottom: 30px;
    position: relative;
    height: 235px;
    display: flex;
    overflow: hidden;
    color: $gray;
    flex-direction: column;
    &.vip {
      border: none;
      .bottom {
        background: linear-gradient(lighten($gray,15%),lighten($gray,5%));
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &:hover {
      top: 3px;
      opacity: 0.8;
    }
    .top {
      height: 50%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .bottom {
      height: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      strong {
        margin-bottom: 10px;
      }
    }
  }
  .block {
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    min-height: 235px;
    &.vip-gray {
      background: linear-gradient(lighten($gray,15%),lighten($gray,5%));
      .empty-content-vip {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        flex-direction: column;
        .empty-content-text {
          color: #F0DCA5;
          font-weight: bolder;
          margin-top: 25px;
        }
      }
      .title {
        display: flex;
        align-items: center;
        img {
          border-radius: 4px;
        }
      }
      .title-item {
        margin-left: 20px;
        color: #F0DCA5;
        font-weight: 600;
        .demand-zipcode {
          color: #D4A763;
          font-weight: bolder;
        }
      }
      h2 {
        font-family: 'Old Standard TT';
        font-size: 24px;
        color: #D4A763;
        font-weight: bolder;
        letter-spacing: -0.3px;
        margin: 0;
        &.light-gold {
          color: #F0DCA5;
        }
      }
    }
    &.vip-gold {
      background: linear-gradient(#F0DCA5,#D4A763);
      h2 {
        font-family: 'Old Standard TT';
        font-size: 24px;
        color: $gray;
        font-weight: bolder;
        letter-spacing: -0.3px;
        margin: 0;
      }
      .vip-number {
        font-size: 16px;
        margin-right: 5px;
        color: lighten($gray,5%);
      }
    }
    &.gray {
      .empty-content{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        .empty-content-text {
          font-size: 16px;
          margin-top: 12px;
        }
      }
      background-color: white;
      border: 1px solid rgb(200,200,200);
      position: relative;
      color: lighten($gray,10%);
      font-weight: 600;
      letter-spacing: -0.3px;
      h2 {
        font-weight: bolder;
        margin: 0;
        margin-bottom: 10px;
      }
    }
    &.green {
      background-color: $green;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-weight: bolder;
        margin: 0;
        margin-bottom: 10px;
      }
      .content {
        display: flex;
        align-items: center;
        flex: 1;
        background-color: white;
        border-radius: 4px;
        .left {
          width: 25%;
          .icon {
            text-align: center;
            font-size: 60px;
            color: $green;
          }
        }
        .right {
          width: 75%;
          .title-item {
            font-weight: 600;
            letter-spacing: -0.3px;
          }
          .title {
            color: $gray;
            display: flex;
            font-weight: 600;
            flex-direction: column;
          }
          .links {
            display: flex;
            align-items: center;
            margin-top: 15px;
          }
        }
      }
    }
    &.white {
      background-color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border: 1px solid $light-gray;
      h2 {
        font-weight: bolder;
        margin: 0;
        margin-bottom: 10px;
      }
      .small-title {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: lighten($gray,10%);
        font-weight: 600;
        letter-spacing: -0.3px;
      }
      .logos-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        width: 80%;
      }
    }
    &.red {
      background-color: $light-gray;
      display: flex;
      flex-direction: column;
      &.vip {
        background: linear-gradient(lighten($gray,15%),lighten($gray,5%));
        .content {
          display: flex;
          align-items: center;
          flex: 1;
          .left-block {
            flex: 4;
            .rank-avatar-badge {
              color: white;
              font-size: 16px;
              font-weight: bolder;
              margin-bottom: 20px;
            }
            .hint {
              color: white;
            }
          }
        }
        h2 {
          font-family: 'Old Standard TT';
          font-size: 24px;
          color: #D4A763;
          font-weight: bolder;
          letter-spacing: -0.3px;
          margin: 0;
        }
      }
      h2 {
        font-weight: bolder;
        margin: 0;
        margin-bottom: 10px;
      }
      .content {
        .left-block {
          flex: 4;
          .rank-avatar-badge {
            font-size: 16px;
            color: $gray;
            font-weight: bolder;
            margin-bottom: 10px;
          }
          strong {
            width: 100%;
            font-size: 12px;
            margin-top: 20px;
            font-weight: 600;
            color: $dark-red;
            position: absolute;
            bottom: 13px;
            left: 0;
            display: flex;
            justify-content: center;
          }
        }
        .right-block {
          flex: 4;
        }
        display: flex;
        align-items: center;
        .graph {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
        }
        .hint {
          height: 100%;
          font-weight: 600;
          letter-spacing: -0.3px;
          .level {
            opacity: 0.6;
            font-weight: bolder;
            margin-bottom: 10px;
          }
        }
      }
    }
    &.bordered-green {
      background-color: white;
      border: 2px solid $green;
    }
  }
}










$size: 100px;
$rating-stroke-width: 2;
$background-stroke-color: transparent;
$yellow: #FFE100;
$walkText: #727272;


.rating-container {
  position: relative;
  .graph-container {
    height: $size;
    width: $size;
    display: block;
    position: relative;
    background: transparent;
    border-radius: 50%;
  }
  svg {
    height: $size;
    transform: rotate(-90deg);
    width: $size;
    .rating-progress-background {
      fill: none;
      stroke: $background-stroke-color;
      stroke-width: $rating-stroke-width;
    }
    .rating-progress {
      fill: none;
      stroke: white;
      stroke-dasharray: 100 100;
      stroke-linecap: round;
      stroke-width: $rating-stroke-width;
      transition: all 1.2s cubic-bezier(.99, .01, .62, .94);
    }
  }
  #bike-score {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bolder;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Amatic Sc";
    .points {
      font-size: 20px;
    }
    .text {
      font-size: 28px;
      font-weight: bolder;
      margin-bottom: -10px;
    }
  }
  .transit-icon .fa,
  .bike-icon .fa,
  .walk-icon .fa {
    position: absolute;
    bottom: $size * .5;
    right: 0;
    width: $size;
    text-align: center;
    font-size: 40px;
  }
}


section.restricted-demand {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    width: 400px;
    padding: 25px;
    background-color: $light-gray;
    border-radius: 3px;
    .text {
      text-align: center;
      font-weight: bolder;
      color: $gray;
      margin-bottom: 15px;
    }
    .links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}






.proposition-item {
  height: 150px;
  width: 100%;
  position: relative;
  border-radius: 4px;
  margin-bottom: 25px;
  display: flex;
  cursor: pointer !important;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  .small.bold {
    position: absolute;
    bottom: -27px;
    color: $green;
    font-size: 18px;
    .fa {
      color: $gray;
    }
  }
  &:hover {
    opacity: 0.8;
  }
  .proposition-item-left {
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    &.background-contain {
      background-size: contain;
      background-repeat: no-repeat;
    }
    .newbadge {
      font-size: 12px;
      position: absolute;
      left: 0;
      bottom: 15px;
      padding: 3px 8px;
      color: white;
      font-weight: bolder;
      background-color: $dark-red;
    }
  }
  .proposition-item-right {
    color: $gray;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    .top-part {
      width: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .prop-title {
        color: $dark-red;
        font-weight: bolder;
        font-size: 14px;
      }
      .prop-price {
        color: $dark-red;
        font-weight: lighter;
        font-size: 24px;
        letter-spacing: -0.8px;
      }
    }
    .middle-part {
      width: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .middle-part-item {
        display: flex;
        align-items: center;
        font-weight: 600;
        img {
          margin-right: 4px;
        }
      }
    }
    .bottom-part {
      width: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bottom-part-item {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        .prop-agency-proposed-date {
          font-size: 13px;
          font-weight: 600;
          color: lighten($gray,10%);
        }
        img {
          margin-right: 4px;
        }
        &.small-text {
          font-size: 12px;
          font-weight: 500;
        }
        .proposition-demand-date {
          margin-left: 5px;
          font-weight: 700;
          color: lighten($gray,20%);
        }
      }
      .bottom-part-item-inverse {
        font-size: 12px;
        display: flex;
        align-items: center;
        img {
          margin-left: 4px;
        }
      }
    }
  }
}







.proposition-item.vip {
  height: 150px;
  width: 100%;
  position: relative;
  border-radius: 4px;
  margin-bottom: 25px;
  overflow: hidden;
  display: flex;
  cursor: pointer !important;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  &:hover {
    opacity: 0.8;
  }
  .proposition-item-left {
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    &.background-contain {
      background-size: contain;
      background-repeat: no-repeat;
    }
    .newbadge {
      font-size: 12px;
      position: absolute;
      left: 0;
      bottom: 15px;
      padding: 3px 8px;
      color: $gray;
      font-weight: bolder;
      background-color: #D4A763;
    }
  }
  .proposition-item-right {
    color: white;
    background: linear-gradient(lighten($gray,18%),lighten($gray,25%));
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    .top-part {
      width: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .prop-title {
        color: #D4A763;
        font-weight: bolder;
        font-size: 14px;
      }
      .prop-price {
        color: #D4A763;
        font-weight: lighter;
        font-size: 24px;
        letter-spacing: -0.8px;
      }
    }
    .middle-part {
      width: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .middle-part-item {
        display: flex;
        align-items: center;
        font-weight: 600;
        img {
          margin-right: 4px;
        }
      }
    }
    .bottom-part {
      width: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bottom-part-item {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        .prop-agency-proposed-date {
          font-size: 13px;
          font-weight: 600;
          color: white;
        }
        img {
          margin-right: 4px;
        }
        &.small-text {
          font-size: 12px;
          font-weight: 500;
        }
        .proposition-demand-date {
          margin-left: 5px;
          font-weight: 700;
          color: white;
        }
      }
      .bottom-part-item-inverse {
        font-size: 12px;
        display: flex;
        align-items: center;
        img {
          margin-left: 4px;
        }
      }
    }
  }
}









.demand-zipcode {
  font-weight: 600;
  color: $green;
  display: inline-block;
}


.bottom-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

.dashboard-fullpage-container {
  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 190px;
  &.vip {
    background-color: $gray;
    h2.header-vip {
      font-family: 'Old Standard TT';
      font-size: 30px;
      color: #F0DCA5;
      font-weight: bolder;
      letter-spacing: -0.3px;
      margin-bottom: 30px;
    }
  }
}

.dynamic-property-content {
  border-radius: 3px;
  height: 440px;
  .dynamic-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
}



.property-partial-show {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  .prop-partial-top {
    height: 45%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .partial-top-badge {
      position: absolute;
      right: 0;
      top: 25px;
      padding: 3px 6px;
      font-size: 10px;
      font-weight: bolder;
      color: white;
      background-color: $dark-red;
    }
  }
  .prop-partial-bottom {
    height: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .partial-bottom-title-and-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $dark-red;
      font-size: 14px;
      font-weight: bolder;
      margin-bottom: 10px;
    }
    .partial-bottom-description {
      color: $gray;
      font-weight: normal;
      flex: 1;
    }
    .partial-bottom-likes {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-shifted {
        margin-top: 40px !important;
      }
      .bottom-likes-item {
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        .fontastic {
          line-height: 0.7;
          font-size: 22px;
        }
        .icon-gray {
          color: $gray;
        }
        .icon-green {
          color: $green;
        }
        .icon-red {
          color: $dark-red;
        }
      }
    }
  }
}


.empty-demands-container {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .demands-container-text {
    font-size: 16px;
    color: $gray;
    margin-top: 15px;
  }
}


.empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 240px);
  .empty-content-text {
    text-align: center;
    margin-top: 25px;
  }
}


@media (max-width: 768px) {
  .green {
    .content {
      padding: 20px;
      .left {
        display: none;
      }
    }
  }
}


.wrapper-padded {
  padding: 50px 10%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .wrapper-padded {
    padding: 50px 0;
  }
}



.photos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 60%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
  img {
    width: 55%;
    margin: 10px 0;
  }
}


.text-test-new-font {
  font-family: 'Old Standard TT';
  font-size: 16px;
}


section.edit-user-infos {
  .invalid-feedback {
    color: #e67c5c;
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    margin-top: 4px;
  }
  .form-group-invalid input {
    border: 1px solid $dark-red;
  }
}




