.dashboard-custom-tabs {
  .nav-tabs {
    border-bottom: 2px solid rgb(220,220,230);
  }
  .nav-tabs > li.active > a {
    border: none;
    border-bottom: 2px solid $green;
    color: $green;
    &:hover {
      background-color: transparent;
    }
  }
  .nav-tabs > li > a {
    border: none;
    margin-bottom: -2px;
    font-size: 14px;
    font-weight: 600;
    color: lighten($gray,5%);
    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }
  }
  .nav-tabs > li {
    margin: 0;
  }
}

