section.v2-customer-property-show {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  .property-show-header-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 20px;
    .property-show-title {
      font-weight: bolder;
      font-size: 3.4rem;
    }
    .property-show-ref .icon-text-line {
      font-size: 1.4rem;
      color: #a0a0b4;
      display: flex;
      align-items: center;
      font-weight: 600;
      letter-spacing: -0.2px;
      .fa.fa-folder-open {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }

  .property-show-main-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
    .left-container {
      padding-right: 5px;
      width: 70%;
      .property-main-photo {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-size: cover;
        background-position: center center;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .absolute-badge {
          position: absolute;
          left: 0;
          top: 50px;
          padding: 6px 14px;
          font-size: 12px;
          font-weight: 600;
          color: white;
          background-color: #e67c5c;
        }
      }
    }
    .right-container {
      padding-left: 5px;
      width: 30%;
      .property-infos-container {
        width: 100%;
        height: 100%;
        background-color: $light-gray;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        display: flex;
        flex-direction: column;
        .top-container {
          width: 100%;
          background-color: #e67c5c;
          border-radius: 5px 5px 0 0;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          .price {
            font-weight: bolder;
            font-size: 3rem;
          }
          .fees {
            font-size: 1.4rem;
          }
        }
        .bottom-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          .infos-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            .info {
              width: 50%;
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              color: #3f3b49;
              font-weight: 600;
              letter-spacing: -0.4px;
              font-size: 1.6rem;
              img {
                margin-right: 10px;
              }
            }
          }
          .text-wrapper {
            width: 100%;
            // height: 100%;
            display: flex;
            justify-content: center;
            color: #3f3b49;
            font-weight: 600;
            letter-spacing: -0.4px;
            padding: 0 20px;
          }
          .links-wrapper {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .links {
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              width: 85%;
              a {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .property-show-pictures {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    .picture-container {
      height: 150px;
      width: 190px;
      border-radius: 5px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      &:hover {
        animation: rotation 1500ms infinite ease;
      }
    }
  }

  .property-show-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 20px;
    .description-header {
      color: $green;
      font-weight: bolder;
      font-size: 2.8rem;
      margin-bottom: 20px;
    }
    .description-content {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .property-show-details-first {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .left-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .details-header {
        color: $green;
        font-weight: bolder;
        font-size: 2.8rem;
        margin-bottom: 10px;
      }
      .detail {
        margin-bottom: 10px;
        strong {
          margin-right: 10px;
        }
      }
    }
    .right-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .map-header {
        color: $green;
        font-weight: bolder;
        font-size: 2.8rem;
        margin-bottom: 10px;
      }
      #property-map {
        height: 100%;
        width: 100%;
      }
      .leaflet-control-attribution {
        visibility: hidden;
      }
    }
  }

  .property-show-details-second {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .details-header {
      color: $green;
      font-weight: bolder;
      font-size: 2.8rem;
      margin-bottom: 10px;
    }
    .detail {
      margin-bottom: 10px;
      strong {
        margin-right: 10px;
      }
    }
  }

  .link {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate (-1deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1deg);
  }
}

@media (max-width: 1024px) {
  .property-show-main-container {
    .left-container, .right-container {
      width: 50% !important;
    }
  }
  .property-show-pictures {
    .picture-container {
      height: 130px !important;
      width: 150px !important;
      margin: 0 2px;
    }
  }
  .property-show-description .description-content {
    font-size: 1.4rem !important;
  }
}















