form.customer-hate-form {
  label {
    font-size: 13px;
    letter-spacing: -0.3px;
    &.like {
      color: $green;
    }
    &.dislike {
      color: $dark-red;
    }
  }
  textarea {
    height: 140px;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgb(230,230,240);
    &:focus {
      outline: none;
    }
  }
  .hint {
    font-size: 11px;
    font-weight: 600;
    color: $gray;
    margin-top: 5px;
    text-align: center;
    color: lighten($gray,20%);
  }
}


form.customer-like-form {
  label {
    font-size: 13px;
    letter-spacing: -0.3px;
    &.like {
      color: $green;
    }
    &.dislike {
      color: $dark-red;
    }
  }
  textarea {
    height: 140px;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(230,230,240);
    &:focus {
      outline: none;
    }
  }
  .hint {
    font-size: 11px;
    font-weight: 600;
    color: $gray;
    margin-top: 5px;
    text-align: center;
    color: lighten($gray,20%);
  }
}

form.v2-customer-hate-form {
  width: 100%;
  label {
    font-size: 13px;
    letter-spacing: -0.3px;
  }
  textarea {
    height: 140px;
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(230,230,240);
    background-color: $light-gray-2;
    &:focus {
      outline: none;
    }
  }
  .hint {
    font-size: 11px;
    font-weight: 600;
    color: $gray;
    margin-top: 5px;
    text-align: center;
    color: lighten($gray,20%);
    margin-bottom: 10px;
  }
  input[type= 'radio'] {
    display:none,
  }
}


form.v2-customer-like-form {
  width: 100%;
  label {
    font-size: 13px;
    letter-spacing: -0.3px;
  }
  textarea {
    height: 140px;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(230,230,240);
    background-color: $light-gray-2;
    &:focus {
      outline: none;
    }
  }
  .hint {
    font-size: 11px;
    font-weight: 600;
    color: $gray;
    margin-top: 5px;
    text-align: center;
    color: lighten($gray,20%);
    margin-bottom: 10px;
  }
  input[type= 'radio'] {
    display:none,
  }
}

@media (max-width: 740px) {
  form.v2-customer-like-form, form.v2-customer-hate-form {
    label {
      display: flex;
    }
    input[type='radio'] + label:before {
      font-size: 4rem !important;
    }
    input[type='radio']:checked + label:before {
      font-size: 3rem !important;
    }
  }
}




.star-rating {
  border: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 2em;
  justify-content: center;
  width: 100%;
  .start-hint {
    margin-right: 15px;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
  }
  .end-hint {
    margin-left: 15px;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
  }
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: rgb(128, 128, 128);
  cursor: pointer;
  font-size: 4rem !important;
  margin: 0 4px;
}

.star-rating :checked ~ label {
  color: rgb(255, 212, 59);
}

.star-rating :hover ~ label {
  color: rgb(250, 176, 5);
}
















