section.customer-property-show {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 210px;
  width: 100%;
  min-height: 100vh;
  .property-description {
    margin-bottom: 25px;
    .header {
      font-family: "Open Sans";
      color: $green;
      font-weight: 700;
      letter-spacing: -0.3px;
      font-size: 16px;
      margin-bottom: 12px;
    }
    .content {
      font-size: 14px;
      font-weight: 600;
      .content-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        letter-spacing: -0.3px;
        font-weight: 400;
        strong {
          letter-spacing: -0.5px;
          color: $gray;
          margin-right: 12px;
          font-weight: 700;
        }
      }
    }
  }
  .pdf-download-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;
    border-radius: 4px;
    height: 100px;
    margin: 25px 0;
  }
  .thumbnails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 25px 0;
    a {
      height: 100%;
      width: 23%;
      border-radius: 3px;
      border: 1px solid rgb(200,200,200);
    }
    .thumbnails-item {
      height: 100%;
      width: 100%;
      border-radius: 3px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .kenotte-grade {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 4px;
    border: 1px solid rgb(180,180,180);
    .grade-header {
      display: flex;
      align-items: center;
      .small-text {
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 8px;
      }
      h2 {
        font-family: "Amatic Sc";
        font-weight: bolder;
        font-size: 28px;
      }
    }
    .grade-content {
      color: lighten($gray,20%);
      font-weight: 700;
      letter-spacing: -0.4px;
      font-size: 12px;
      position: absolute;
      bottom: -24px;
    }
  }
  .big-property-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Amatic Sc";
    font-weight: bolder;
    color: lighten($gray,25%);
    font-size: 30px;
    margin-bottom: 10px;
    .real-title {
      color: $gray;
      margin-right: 5px;
    }
    &.flexrow {
      flex-direction: row;
    }
  }
  .small-property-header {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.4px;
    color: $gray;
    margin-bottom: 25px;
  }
  .property-big-photo {
    height: 300px;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
    position: relative;
    &.back-contain {
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $light-gray;
    }
    .absolute-badge {
      position: absolute;
      left: 0;
      top: 50px;
      padding: 6px 14px;
      font-size: 12px;
      font-weight: 600;
      color: white;
      background-color: $dark-red;
    }
  }
  .property-infos {
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    .infos-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 0;
      background-color: $dark-red;
      color: white;
      letter-spacing: -0.4px;
      font-size: 20px;
      font-weight: 600;
      .small {
        margin-left: 8px;
        font-size: 12px;
      }
    }
    .infos-content {
      background-color: $light-gray;
      height: 100%;
      padding: 20px;
      .infos-content-matching {
        background-color: $green;
        padding: 4px 8px;
        border-radius: 3px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: -0.5px;
        margin: 10px 0;
        text-align: center;
      }
      .infos-content-customer-choice {
        .partial-bottom-likes {
          display: flex;
          align-items: center;
          justify-content: center;
          .bottom-likes-full-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover {
              .bottom-customer-choice-text {
                font-weight: bolder;
              }
            }
            .bottom-customer-choice-text {
              font-size: 12px;
              font-weight: 600;
              letter-spacing: -0.3px;
              margin-top: 5px;
            }
          }
          .bottom-likes-item {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            margin: 0 12px;
            cursor: pointer;
            transition: 0.4s;
            .fontastic {
              margin: 0;
              line-height: 0.5;
              &.icon-gray {
                color: $gray;
                font-size: 18px;
              }
              &.icon-red {
                color: $dark-red;
                font-size: 25px;
              }
              &.icon-green {
                color: $green;
                font-size: 26px;
                padding-top: 5px;
              }
            }
            &.icon-shifted {
              margin-top: 25px;
            }
          }
        }
      }
      .infos-content-item-wrapper {
        display: flex;
        flex-wrap: wrap;
        .infos-content-item {
          width: 50%;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          color: $gray;
          font-weight: 600;
          letter-spacing: -0.4px;
          &.fullwidth {
            width: 100%;
            padding: 8px 12px;
            justify-content: center;
            border-radius: 3px;
            background-color: $green;
            color: white;
            font-weight: 700;
            margin-top: 10px;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}





section.customer-property-show.vip {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 210px;
  width: 100%;
  min-height: 100vh;
  background-color: $gray;
  .property-description {
    margin-bottom: 25px;
    .header {
      font-family: 'Old Standard TT';
      color: #D4A763;
      font-weight: 700;
      letter-spacing: -0.3px;
      font-size: 16px;
      margin-bottom: 12px;
      &.big {
        font-size: 21px;
      }
    }
    .content {
      font-size: 14px;
      font-weight: 600;
      color: white;
      .content-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        letter-spacing: -0.3px;
        font-weight: 400;
        strong {
          letter-spacing: -0.5px;
          color: #F0DCA5;
          margin-right: 12px;
          font-weight: 700;
        }
      }
    }
  }
  .pdf-download-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;
    border-radius: 4px;
    height: 100px;
    margin: 25px 0;
  }
  .thumbnails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 25px 0;
    a {
      height: 100%;
      width: 23%;
      border-radius: 3px;
      border: none;
    }
    .thumbnails-item {
      height: 100%;
      width: 100%;
      border-radius: 3px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .kenotte-grade {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 4px;
    border: 1px solid rgb(180,180,180);
    .grade-header {
      display: flex;
      align-items: center;
      .small-text {
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 8px;
      }
      h2 {
        font-family: "Amatic Sc";
        font-weight: bolder;
        font-size: 28px;
      }
    }
    .grade-content {
      color: lighten($gray,20%);
      font-weight: 700;
      letter-spacing: -0.4px;
      font-size: 12px;
      position: absolute;
      bottom: -24px;
    }
  }
  .big-property-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Old Standard TT';
    font-weight: bolder;
    color: #F0DCA5;
    font-size: 30px;
    margin-bottom: 10px;
    .real-title {
      color: #D4A763;
      margin-right: 5px;
    }
    &.flexrow {
      flex-direction: row;
    }
  }
  .small-property-header {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.4px;
    color: $gray;
    margin-bottom: 25px;
  }
  .property-big-photo {
    height: 300px;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
    position: relative;
    &.back-contain {
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $light-gray;
    }
    .absolute-badge {
      position: absolute;
      left: 0;
      top: 50px;
      padding: 6px 14px;
      font-size: 12px;
      font-weight: 600;
      color: $gray;
      background: linear-gradient(#F0DCA5,#D4A763);
    }
  }
  .property-infos {
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    .infos-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 0;
      background: linear-gradient(#F0DCA5,#D4A763);
      color: $gray;
      letter-spacing: -0.4px;
      font-size: 20px;
      font-weight: 600;
      .small {
        margin-left: 8px;
        font-size: 12px;
      }
    }
    .infos-content {
      background: linear-gradient(lighten($gray,15%),lighten($gray,5%));
      height: 100%;
      padding: 20px;
      .infos-content-matching {
        background-color: #D4A763;
        color: $gray;
        padding: 4px 8px;
        border-radius: 3px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: -0.5px;
        margin: 10px 0;
        text-align: center;
      }
      .infos-content-customer-choice {
        .partial-bottom-likes {
          display: flex;
          align-items: center;
          justify-content: center;
          .bottom-likes-full-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover {
              .bottom-customer-choice-text {
                font-weight: bolder;
              }
            }
            .bottom-customer-choice-text {
              font-size: 12px;
              font-weight: 600;
              letter-spacing: -0.3px;
              margin-top: 5px;
              color: white;
            }
          }
          .bottom-likes-item {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            margin: 0 12px;
            cursor: pointer;
            transition: 0.4s;
            .fontastic {
              margin: 0;
              line-height: 0.5;
              &.icon-gray {
                color: $gray;
                font-size: 18px;
              }
              &.icon-red {
                color: $dark-red;
                font-size: 25px;
              }
              &.icon-green {
                color: $green;
                font-size: 26px;
                padding-top: 5px;
              }
            }
            &.icon-shifted {
              margin-top: 25px;
            }
          }
        }
      }
      .infos-content-item-wrapper {
        display: flex;
        flex-wrap: wrap;
        .infos-content-item {
          width: 50%;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          color: white;
          font-weight: 600;
          letter-spacing: -0.4px;
          &.fullwidth {
            width: 100%;
            padding: 8px 12px;
            justify-content: center;
            border-radius: 3px;
            background-color: $green;
            color: white;
            font-weight: 700;
            margin-top: 10px;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}







.customer-choice-recap {
  display: flex;
  align-items: center;
  .fonticon {
    margin-right: 8px;
  }
  .customer-choice-text {
    font-weight: 600;
    font-size: 12px;
    color: $gray;
  }
  .icon-prop-delete {
    font-size: 11px;
    line-height: 0.6;
  }
  .icon-gray {
    color: $gray;
  }
  .icon-red {
    color: $dark-red;
  }
  .icon-green {
    color: $green;
    line-height: 0.6;
    font-size: 18px;
  }
}


.change-height {
  height: 200px;
  cursor: auto;
  .proposition-item-left {
    width: 40%;
  }
  .proposition-item-right {
    width: 100%;
    position: relative;
    .absolute-sending-date {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      color: $dark-red;
      text-align: right;
      font-size: 85%;
      font-weight: 600;
      padding: 10px;
      border-top: 1px solid rgb(230,230,230);
    }
  }
}

.present-customer-choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .customer-choice-recap {
    position: relative;
    width: auto;
    margin-top: 25px;
    border-radius: 3px;
  }
}



.fullstock-proposed {
  height: 350px;
  background-color: $green;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cerebri Sans";
  font-weight: 500;
  font-size: 1.63rem;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  .inline-svg {
    svg {
      width: 120px;
      height: 120px;
    }
  }
}


@media (max-width: 768px) {
  section.customer-property-show {
    padding: 50px 20px;
  }
}


@media (max-width: 768px) {
  section.customer-property-show.vip {
    padding: 20px;
  }
}



