section.employee-session--form {
  height: 100vh;
  display: flex;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Cerebri Sans,Arial,sans-serif;
  section.employee-session--left {
    width: 50%;
    height: 100%;
    padding: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .legal-status-container {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 500;
    }
    .employee-session--formtitle {
      font-size: 2.1rem;
      font-weight: 600;
      margin-bottom: 30px;
    }
    form#new_employee {
      .password-viewer-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 500;
        transition: 0.3s;
        margin: 30px 0;
        .inline-svg {
          margin-right: 10px;
          svg {
            width: 18px;
            height: 18px;
          }
        }
        &.disabled {
          color: rgb(150,150,160);
        }
      }
      button {
        border: none;
      }
      input[type="password"] {
        letter-spacing: 4px;
      }
      input[type="email"], input[type="password"], input[type="text"] {
        height: 52px;
        border: 2px solid rgb(200,200,200);
        font-weight: 500;
        &::placeholder {
          font-weight: 600;
          letter-spacing: 0;
        }
        &:focus {
          border: 2px solid dodgerblue;
          color: dodgerblue;
        }
        &:focus::placeholder {
          color: dodgerblue;
        }
        &.active {
          border: 2px solid dodgerblue;
        }
      }
    }
  }
  section.employee-session--right {
    width: 50%;
    height: 100%;
    padding: 70px;
    background-color: rgb(40,40,40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .inline-svg {
      svg {
        width: 180px;
        height: 180px;
      }
    }
  }
}

.custom-checkboxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  .custom-checkboxes-title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    font-size: 1.4rem;
  }
  .custom-checkbox-wrapper {
    width: 20%;
    .absolute-role-content {
      position: absolute;
      width: 100%;
      left: 0;
      top: 95px;
      display: none;
      align-items: center;
      font-weight: 600;
      font-size: 1.4rem;
      color: darken(lightgreen,25%);
      .inline-svg {
        margin-right: 8px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
    input[type="radio"] {
      display: none;
    }
    label {
      cursor: pointer;
      padding: 10px;
      border-radius: 3px;
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;
      align-items: center;
      border: 2px solid rgb(230,230,230);
      &:hover {
        .role {
          color: rgb(100,100,100);
        }
      }
      .role {
        font-size: 1.4rem;
        font-weight: 600;
      }
      .content {
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(130,130,140);
        text-align: center;
        display: none;
      }
    }
    input:checked ~ .absolute-role-content {
      display: flex;
    }
    input:checked + label {
      border: 2px solid darken(lightgreen,20%);
      .role {
        color: darken(lightgreen,30%);
      }
      .content {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 768px) {
  section.employee-session--form {
    section.employee-session--left {
      width: 100%;
      padding: 10%;
      .legal-status-container {
        height: unset;
        padding: 20px;
        text-align: center;
      }
    }
    section.employee-session--right {
      display: none;
    }
  }
}





