section.new-estimation-fullpage {
  .estimation-banner {
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(50,50,50,0.2),rgba(50,50,50,0.2)), url("https://cdn.bientotchezsoi-dev.com/svgs/banners/banner-estimation-v3.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .content {
      h1 {
        color: white;
        font-weight: bolder;
        font-size: 64px;
        text-shadow: 0 1px 0 rgb(100,100,100);
      }
    }
  }
  .estimation-content {
    .customer-question-block {
      background-color: #b0c365;
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .contact-block {
      border-radius: 3px;
      background-color: $light-gray;
      padding: 20px;
      margin: 30px 0;
      .header {
        color: $gray;
        margin: 0;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 16px;
        img {
          width: 30px;
          margin-right: 6px;
        }
      }
      .sub-header {
        margin: 0;
        margin: 20px 0;
        line-height: 2em;
        text-align: justify;
      }
      .question {
        display: flex;
        align-items: center;
        font-size: 16px;
        img {
          width: 30px;
          margin-right: 6px;
        }
        .fa {
          color: $green;
          font-size: 24px;
          margin-right: 6px;
        }
        color: $green;
        font-weight: 700;
      }
      .contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contacts-item {
          flex: 2;
          display: flex;
          flex-direction: column;
          .bold {
            font-weight: 700;
            font-size: 16px;
          }
          .thin {
            margin-top: 5px;
            margin-bottom: 10px;
            font-weight: 600;
            color: lighten($gray,10%);
          }
          .num {
            padding: 8px 18px;
            border-radius: 4px;
            color: white;
            background-color: $green;
            font-weight: 700;
            display: inline-block;
          }
        }
      }
    }
    .more-block {
      margin: 0;
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 34px;
        margin-bottom: 20px;
      }
      .content {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        .img-content {
          border: 1px solid black;
        }
        .text-content {
          border: 1px solid black;
        }
        .more-block-item {
          margin: 20px;
          max-height: 150px;
          img {
            width: 40px;
            margin-bottom: 10px;
          }
          // flex: 2;
          border-radius: 5px;
          border: 1px solid rgba(50,50,55,0.2);
          padding: 15px;
          justify-content: space-between;
          font-weight: 600;
          text-align: center;
          color: lighten($gray,5%);
        }
      }
    }
    .infos-block {
      margin-bottom: 30px;
      border-radius: 4px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 10px;
      background-color: $light-gray;
      .header {
        font-weight: bolder;
        font-size: 32px;
      }
      .infos-block-item {
        margin-bottom: 15px;
        .block-item-header {
          display: flex;
          align-items: center;
          color: $dark-red;
          font-weight: 700;
          margin-bottom: 10px;
          .fa {
            margin-right: 8px;
            font-size: 20px;
          }
        }
        .block-item-content {
          color: $gray;
          line-height: 2em;
          text-align: justify;
        }
      }
    }
    .estimation-block {
      .header {
        margin: 0 0 30px 0;
        color: $gray;
        h2 {
          font-size: 40px;
          font-weight: bolder;
        }
      }
      .sub-header {
        font-weight: 500;
        color: $gray;
        margin-bottom: 20px;
        margin-top: 6px;
        line-height: 1.7;
      }
    }
  }
}



@media (max-width: 768px) {
  section.new-estimation-fullpage {
    .estimation-banner {
      .content {
        h1 {
          font-size: 44px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.new-estimation-fullpage {
    .estimation-block {
      .header {
        h2 {
          font-size: 40px;
          text-align: center;
        }
      }
    }
  }
}







@media (max-width: 768px) {
  section.new-estimation-fullpage {
    .estimation-content {
      .contact-block {
        .contacts {
          flex-direction: column;
          .contacts-item {
            align-items: center;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.new-estimation-fullpage .estimation-content .more-block .content {
    flex-direction: column;
    .more-block-item {
      margin: 20px 0;
    }
  }
}


@media (max-width: 768px) {
  section.new-estimation-fullpage {
    .menu-wrapper {
      .header-title {
        text-align: center;
      }
    }
    .infos-block {
      .header {
        text-align: center;
      }
    }
  }
}





