section.estimation-page {
  font-family: "Cerebri Sans";
  .banner {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-size: cover;
    background-position: bottom;
    font-family: "Cerebri Sans";
    background-image: url("https://cdn.bientotchezsoi-dev.com/images/Bandeau-vente.jpg");
    .banner-content {
      padding: 0 20px;
      color: $gray;
      font-weight: bolder;
      font-size: 40px;
      text-align: center;
      font-family: "Cerebri Sans";
    }
  }
  .header {
    display: flex;
    align-items: center;
    .text {
      font-size: 2.4rem;
      font-family: "Cerebri Sans";
      letter-spacing: -0.3px;
    }
    .icon-title-chiffres {
      line-height: 0.6;
    }
  }
  .sub-header-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: $gray;
    strong {
      letter-spacing: -0.4px;
      color: $green;
    }
  }
  .expert-block {
    .small-header {
      margin-bottom: 10px;
      font-weight: 600;
    }
    .blocks-wrapper {
      display: flex;
      justify-content: space-between;
      .left-block {
        width: 48%;
        background-color: $green;
        border-radius: 4px;
        padding: 20px;
        .block-header {
          color: white;
          display: flex;
          align-items: center;
          font-family: "Amatic Sc";
          font-weight: bolder;
          font-size: 30px;
          margin-bottom: 20px;
          .fontastic-icon {
            margin-right: 8px;
            line-height: 0.6;
          }
        }
        .block-content {
          form.edit_estimation {
            .form-control {
              border: none;
            }
            textarea.form-control {
              width: 100%;
              min-height: 120px;
            }
          }
        }
        .block-link {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .right-block {
        width: 48%;
        background-color: $light-gray;
        border-radius: 4px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .block-header {
          color: $gray;
          display: flex;
          align-items: center;
          font-family: "Amatic Sc";
          font-weight: bolder;
          font-size: 30px;
          margin-bottom: 20px;
          .fontastic-icon {
            margin-right: 8px;
            line-height: 0.6;
          }
        }
        .block-content {
          .content-text {
            font-weight: 600;
          }
          .phone-block {
            padding: 8px;
            text-align: center;
            border-radius: 3px;
            background-color: $green;
            font-size: 20px;
            font-weight: 600;
            color: white;
            margin: 25px auto;
            width: 170px;
          }
          .content-text-bolder {
            font-weight: bolder;
            margin-bottom: 25px;
          }
        }
        .block-link {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .link-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
    }
  }
}



form#new_estimation {
  .small {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .form-control {
    height: 55px;
    border: none;
    background-color: rgb(240,240,240);
  }
  margin-bottom: 50px;
  .form-control {
    height: 50px;
  }
  .custom-form-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: left;
    padding-bottom: 10px;
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      border-top: 1px solid rgb(200,200,200);
    }
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      border-top: 1px solid rgb(200,200,200);
    }
  }
  .radio-collections-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .custom-radio-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .radio-icon {
      margin-right: 12px;
    }
    .custom-fa {
      position: absolute;
      font-size: 12px;
      color: $dark-red;
      right: 7px;
      top: 5px;
      transition: 0.3s;
      opacity: 0;
    }
  }
  .custom-radio-fullwidth {
    display: flex;
    align-items: center;
    justify-content: center;
    .radio-icon {
      margin-right: 12px;
    }
    .custom-fa {
      font-size: 19px;
      color: $gray;
      transition: 0.3s;
      opacity: 0.2;
      margin: 0 10px;
    }
  }
  textarea {
    min-height: 120px;
    padding-top: 16px;
  }
  span {
    input[type=radio] {
      display: none;
    }
    label {
      padding: 15px 18px;
      border: 2px solid rgb(240,240,240);
      background-color: rgb(240,240,240);
      font-weight: normal;
      font-size: 16px;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
      transition: 0.3s;
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -0.4px;
      position: relative;
      height: 55px;
    }
    input[type=radio]:checked + label {
      border: 2px solid $dark-red;
      font-weight: 600;
    }
    input[type=radio]:checked + label .custom-fa {
      opacity: 1;
      color: $dark-red;
    }
  }
}


@media (max-width: 768px) {
  .radio-collections-container {
    flex-direction: column;
  }
  form.new_prospect_property {
    padding: 0 10px;
    span {
      width: 100%;
      label {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}


form#new_estimation {
  .radio-collections-container-fullwidth {
    span {
      width: 100%;
      label {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
        padding: 0;
      }
    }
  }
}


form.new_property {
  span {
    input[type=radio] {
      display: none;
    }
    label {
      padding: 15px 18px;
      border: 2px solid $light-gray;
      background-color: $light-gray;
      font-weight: normal;
      font-size: 14px;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
      transition: 0.3s;
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -0.4px;
      position: relative;
      height: 55px;
    }
    input[type=radio]:checked + label {
      border: 2px solid $dark-red;
      font-weight: 600;
    }
    input[type=radio]:checked + label .custom-fa {
      opacity: 1;
      color: $dark-red;
    }
  }
  .custom-radio-fullwidth {
    display: flex;
    align-items: center;
    justify-content: center;
    .radio-icon {
      margin-right: 12px;
    }
    .custom-fa {
      font-size: 19px;
      color: $gray;
      transition: 0.3s;
      opacity: 0.2;
      margin: 0 10px;
    }
  }
  .radio-collections-container-fullwidth {
    span {
      width: 100%;
      label {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 15px;
        padding: 0;
      }
    }
  }
}


.agency-property-sub-header {
  font-size: 14px;
  font-weight: 600;
  color: slategray;
  margin-bottom: 4px;
}


.sub-header-wrapper {
  padding: 30px;
  border-radius: 3px;
  border: 1px solid darken($light-gray,10%);
  margin-bottom: 20px;
  background-color: $light-gray;
}






section.fees {
  form#new_estimation {
    margin: 0;
  }
  form#new_estimation.simple_form.new_estimation {
    .small {
      font-weight: 600;
      margin-bottom: 15px;
    }
    .form-control {
      height: 55px;
      border: none;
      background-color: white;
    }
    .form-control {
      height: 50px;
    }
    .custom-form-label {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.4px;
      text-align: left;
      padding-bottom: 10px;
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        border-top: 1px solid rgb(200,200,200);
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        border-top: 1px solid rgb(200,200,200);
      }
    }
    .radio-collections-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .custom-radio-button-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      .radio-icon {
        margin-right: 12px;
      }
      .custom-fa {
        position: absolute;
        font-size: 12px;
        color: $dark-red;
        right: 7px;
        top: 5px;
        transition: 0.3s;
        opacity: 0;
      }
    }
    .custom-radio-fullwidth {
      display: flex;
      align-items: center;
      justify-content: center;
      .radio-icon {
        margin-right: 12px;
      }
      .custom-fa {
        font-size: 19px;
        color: $gray;
        transition: 0.3s;
        opacity: 0.2;
        margin: 0 10px;
      }
    }
    textarea {
      min-height: 120px;
      padding-top: 16px;
    }
    span {
      width: 48%;
      input[type=radio] {
        display: none;
      }
      label {
        padding: 15px 18px;
        border: 2px solid transparent;
        background-color: white;
        font-weight: normal;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.4px;
        position: relative;
        height: 55px;
      }
      input[type=radio]:checked + label {
        border: 2px solid $dark-red;
        font-weight: 600;
      }
      input[type=radio]:checked + label .custom-fa {
        opacity: 1;
        color: $dark-red;
      }
    }
  }

}



section.estimation-V2 {
  min-height: 100vh;
  #bondevisite {
    margin: 80px;
  }
}







