section.fees {
  .fees-header {
    display: flex;
    align-items: center;
    font-size: 34px;
    color: $gray;
    font-weight: bolder;
    font-family: "Amatic Sc";
    margin-top: 30px;
    margin-bottom: 15px;
    .fontastic-icon {
      line-height: 0.6;
      color: $gray;
      margin-right: 8px;
    }
  }
  .fees-header-alt {
    .fontastic-icon {
      line-height: 0.6;
      color: $dark-red;
      margin-right: 8px;
    }
    font-weight: bolder;
    font-size: 34px;
    color: $dark-red;
    font-family: "Amatic Sc";
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .fees-small-header {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
  }
  .sub-header {
    font-size: 14px;
    font-weight: 600;
    color: lighten($gray,10%);
    margin-bottom: 10px;
  }
  .formule-details-wrapper {
    display: flex;
    align-items: stretch;
    margin-bottom: 25px;
    .left-block {
      display: flex;
      flex-direction: column;
      width: 70%;
      padding-right: 25px;
      .block {
        padding: 20px;
        border-radius: 4px;
        &.gray {
          margin-bottom: 25px;
          background-color: $light-gray;
          .block-title {
            font-weight: 700;
            letter-spacing: -0.4px;
            color: $dark-red;
            margin-bottom: 20px;
          }
          .block-content {
            display: flex;
            flex-wrap: wrap;
            .block-content-item {
              display: flex;
              align-items: center;
              margin-bottom: 6px;
              width: 49%;
              .fa {
                color: $green;
                font-size: 18px;
                margin-right: 10px;
              }
              .text {
                font-weight: 600;
                opacity: 0.9;
              }
            }
          }
        }
        &.red {
          background-color: $dark-red;
          .block-title {
            font-weight: 700;
            letter-spacing: -0.4px;
            color: white;
            margin-bottom: 20px;
          }
          .block-content {
            display: flex;
            flex-wrap: wrap;
            .block-content-item {
              display: flex;
              align-items: center;
              margin-bottom: 6px;
              width: 49%;
              .fa {
                color: white;
                font-size: 18px;
                margin-right: 10px;
              }
              .text {
                font-weight: 600;
                opacity: 0.9;
                color: white;
              }
            }
          }
        }
      }
      .big-header {

      }
      .small-header {

      }
    }
    .right-block {
      width: 30%;
      display: flex;
      flex-direction: column;
      .right-block-top {
        height: 50%;
        display: flex;
        align-items: center;
        background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/kenotte/castor-maison-coeur.svg');
        background-position: center center;
        background-size: 55%;
        background-repeat: no-repeat;
      }
      .right-block-bottom {
        padding: 15px;
        .header-text {
          font-weight: 700;
          color: $gray;
          margin-bottom: 10px;
        }
        .body-text {
          font-weight: 600;
          color: $gray;
          font-size: 12px;
        }
        height: 50%;
        background-color: $light-gray-2;
        border-radius: 4px;
      }
    }
  }
  .header {
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      font-size: 48px;
      color: $gray;
      font-weight: bolder;
      text-shadow: 1px 0 0 white;
    }
  }
  .fees-cards {
    padding: 50px;
    i.law {
      font-size: 16px;
    }
    .card {
      padding: 25px;
      background-color: $light-gray-2;
      border-radius: 2px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      min-height: 575px;
      h3 {
        font-family: "Open Sans";
        color: $gray;
        text-align: center;
        margin: 0;
        font-size: 20px;
        font-weight: bolder;
      }
      h4 {
        font-family: "Open Sans";
        color: $gray;
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 20px;
      }
      p {
        color: $gray;
        text-align: center;
        margin: 0;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 26px;
      }
      i {
        color: $gray;
        text-align: center;
        margin: 0;
        margin: 18px 0;
        font-size: 14px;
      }
    }
  }
  .fees-details {

  }
  .fees-keypoints {
    padding: 50px;
    .fees-keypoints-card {
      padding: 25px;
      background-color: $light-gray;
      border-radius: 2px;
      text-align: center;
      h3 {
        font-family: "Open Sans";
        color: $gray;
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bolder;
      }
      p {
        line-height: 26px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 984px) {
  section.fees {
    .header {
      flex-direction: column;
      padding: 40px 10%;
    }
    .fees-cards {
      padding: 5px;
    }
    .fees-keypoints {
      padding: 20px;
      .fees-keypoints-card {
        margin-bottom: 30px;
      }
    }
  }
}





.pippotron-result {
  font-size: 24px;
  font-family: "Open Sans";
  color: $gray;
  width: 400px;
  margin: 50px auto;
}



.mandate-item {
  padding: 20px;
  border-radius: 4px;
  background-color: $light-gray;
  height: 165px;
  margin-bottom: 25px;
  .mandate-item-title {
    color: $gray;
    font-weight: bolder;
    letter-spacing: -0.4px;
    margin-bottom: 15px;
  }
  .mandate-item-step {
    display: flex;
    align-items: center;
    color: $gray;
    font-weight: 600;
    margin-bottom: 10px;
    .fa {
      color: $dark-red;
      margin-right: 8px;
    }
  }
}

.mandate-item-alt {
  padding: 20px;
  border-radius: 4px;
  background-color: $light-gray;
  height: 165px;
  margin-bottom: 25px;
  .mandate-item-title {
    color: $gray;
    font-weight: bolder;
    letter-spacing: -0.4px;
    margin-bottom: 15px;
  }
  .mandate-item-step {
    display: flex;
    align-items: center;
    color: $gray;
    font-weight: 600;
    margin-bottom: 10px;
    .fa {
      color: $green;
      font-size: 18px;
      margin-right: 8px;
    }
  }
}


.bolder {
  font-weight: bolder !important;
  margin-top: -8px;
}


@media (max-width: 768px) {
  section.fees {
    .formule-details-wrapper {
      .left-block {
        width: 100%;
        padding: 0;
        .block.gray {
          .block-content {
            .block-content-item {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  section.fees {
    .formule-details-wrapper {
      .left-block {
        width: 100%;
        padding: 0;
        .block.red {
          .block-content {
            .block-content-item {
              width: 100%;
            }
          }
        }
      }
    }
  }
}



.fees-download-block {
  border-radius: 4px;
  margin-bottom: 50px;
  margin-top: 25px;
  background-color: $dark-red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text {
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
  }
}



.fees-bottom-block {
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 15px;
  .bottom-block-header {
    display: flex;
    align-items: center;
    font-family: "Amatic Sc";
    font-weight: bolder;
    font-size: 34px;
    &.white-text {
      color: white;
    }
    .fontastic-icon {
      line-height: 0.6;
      margin-right: 14px;
    }
  }
  &.green {
    background-color: $green;
  }
  &.light-gray {
    background-color: $light-gray;
  }
  &.light-gray-2 {
    background-color: $light-gray-2;
  }
}




.bottom-block-small-header {
  text-align: left;
  font-weight: 600;
  color: $gray;
  margin-bottom: 20px;
  margin-top: 10px;
}
