.preview {
  margin-top: 30px;
}

.preview h5 {
  font-weight: bold;
  color: #3f3b49;
}

.preview p {
  font-size: 12px;
  color: rgb(160,160,165);

}

.glossaire {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
}

.glossary-item {
  position: relative;
}

.left-item {
  border-right: solid 1px rgb(160,160,165);
  // padding-top: 30px;
  flex: 1;
  & h5 {
    font-weight: bold;
    color: #e67c5c;
  }
  & p {
    color: #3f3b49;
  }
  & ul {
    display: table-row;
  }
  & li {
    margin-bottom: 5px;
    list-style: none;
    font-size: 12px;
    text-align: justify;
  }
  & a {
    color: #3f3b49;
    &:hover {
      color: rgb(160,160,165);
    }
  }
}



@media (max-width: 768px) {
  .left-item {
    li {
      margin-right: 10px;
    }
  }
}

@media (max-width: 900px) {
  .left-item {
    li {
      margin-right: 10px;
    }
  }
}




.response-item {
  margin-bottom: 30px;
}

.question-item {
  font-size: 12px;
}

.right-item {
  padding: 0px 10px;
  flex: 3;
  & h5 {
    font-weight: bold;
    color: #e67c5c;
  }
}

.letters-item {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 60px;
  z-index: 1000;
  background-color: white;
  & a {
    color: #3f3b49;
    font-weight: bold;
    &:hover {
      color: #b0c365;
    }
  }
}

.glossary-letter {
  font-weight: bold;
  color: #e67c5c !important;
  font-family: "Open Sans";
}

.glossary-content {
  background-color: #f5f5f5;
  padding: 0px 20px 10px 20px;
  text-align: justify;
  font-size: 12px;
  & ul {
    display: table-row;
  }
  & li {
    color: #3f3b49;
    margin-bottom: 5px;
    list-style: none;
  }
  & li:first-child {
    font-weight: bold;
    color: #e67c5c !important;
  }
}


section.glossary {
  .panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fa {
      cursor: pointer;
      font-size: 24px;
      transform: rotate(0deg);
      transition: 0.3s;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
  .banner {
    height: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://cdn.bientotchezsoi-dev.com/images/glossary/glossary-banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .banner-content h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
  }
  i {
    color: #3f3b49;
    padding-right: 15px;
  }

  .fa-facebook {
    color:#3b5998 !important;
  }

  .fa-twitter-square {
    color:#38A1F3 !important;
  }

  .fa-envelope-square {
    color:#BD081C !important;
  }

  .social-item {
    display: flex;
    justify-content: center;
  }

  .social-item a {
    text-decoration: none;
    margin-right: 15px;
    &:hover {
      text-decoration: none;
    }
  }

  .fa-angle-down {
  }
}






