.custom-tracker-panel {
  background-color: rgb(240,240,250);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 25px;
  .changed-item {
    margin-bottom: 16px;
    .modified-field-container {
      display: flex;
      .original-value-label {
        color: #FF5666;
      }
      .original-value-text {
        color: #FF5666;
        margin-left: 6px;
        font-weight: bold;
      }
      .modified-value-label {
        color: darken(#56E39F,15%);
      }
      .modified-value-text {
        color: darken(#56E39F,15%);
        margin-left: 6px;
        font-weight: bold;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .modified-field-name {
    font-size: 16px;
    font-weight: 800;
    color: lighten($gray,10%);
  }
  .modified-field-title {
    font-size: 16px;
    margin-right: 6px;
    font-weight: 600;
    color: lighten($gray,35%);
  }
}

.demand-tracker-container {
  border: 1px solid rgb(200,200,210);
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  .user-subscribed {
    color: darken(#56E39F,15%);
    font-weight: 800;
    font-size: 16px;
  }
  .user-unsubscribed {
    color: #FF5666;
    font-weight: 800;
    font-size: 16px;
  }
  .tracker-added-date {
    font-size: 11px;
    font-weight: 600;
    color: lighten($gray,40%);
  }
  .tracker-added-time {
    display: flex;
    align-items: center;
    .real-date {
      font-size: 11px;
      font-weight: 800;
      color: lighten($gray,30%);
    }
    .real-time {
      font-size: 16px;
      font-weight: 800;
      color: lighten($gray,10%);
      margin-right: 7px;
    }
    .response-time {
      padding: 4px 7px;
      border-radius: 3px;
      background-color: white;
      color: #FF5666;
      font-weight: 800;
      font-size: 12px;
      margin-left: 6px;
    }
  }
  .tracker-title {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 800;
    color: lighten($gray,30%);
  }
}










.photo-fill {
  height: 200px;
  flex: 2;
  background-size: cover;
  background-position: center;
}

















