.slide-in {
  opacity: 0;
  transition: all 1s ease-out;
}
.display-in {
  opacity: 0;
  transform: scale(0.95);
  transition: all 1s ease-out;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}
.slide-in.active-on-slide-in {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.display-in.active-on-display-in {
  opacity: 1;
  transform: scale(1);
}



.home-banner {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-image: url("https://cdn.bientotchezsoi-dev.com/svgs/icons/ufo-screen-opti.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .banner-ufo-svg svg {
    height: 50%;
    position: absolute;
    top: 215px;
    left: 100px;
  }
  .absolute-marketplace-banner {
    height: 40px;
    width: 560px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-25deg);
    position: absolute;
    left: -60px;
    top: 78px;
    background-color: $dark-red;
  }
  .absolute-banner-logo {
    position: absolute;
    left: 5%;
    top: 80px;
    img {
      width: 280px;
    }
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .home-banner-content-header-v4 {
      font-weight: bolder;
      color: white;
      text-shadow: 1px 0 $gray;
      margin-bottom: 20px;
      .v4-alt-header {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        font-size: 2rem;
        font-weight: 400;
        text-shadow: none;
      }
      .v4-alt-subheader {
        font-family: "Open Sans";
        font-size: 1.9rem;
        font-weight: 500;
        text-shadow: none;
      }
      div.visible-title-amatic {
        font-family: "Amatic Sc";
        font-size: 6rem;
      }
      div.visible-title-open-sans {
        font-family: "Open Sans", sans-serif;
        font-size: 4rem;
      }
      div.hidden-title-open-sans {
        display: none;
        font-family: "Open Sans", sans-serif;
      }
    }
    form {
      width: 100%;
      .inline-form {
        display: flex;
        align-items: center;
        position: relative;
        input.user-city-choice {
          flex: 1;
          padding: 15px;
          font-size: 16px;
          border-radius: 0 !important;
          border-top-left-radius: 5px !important;
          border-bottom-left-radius: 5px !important;
          -webkit-border-top-left-radius: 5px !important;
          -webkit-border-bottom-left-radius: 5px !important;
          border: none;
          &::placeholder {
            color: lighten($gray,20%);
          }
        }
        input.user-choice-submit {
          padding: 15px 28px;
          border: 2px solid #3f3b49 !important;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          background-color: $gray;
          color: white;
          font-weight: bolder;
          transition: 0.3s;
          &:hover {
            background-color: $green;
            color: $gray;
            border: 2px solid #3f3b49 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 206px;
      left: 100px;
      transform: rotateZ(2deg);
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-amatic {
      font-size: 5.2rem !important;
    }
    div.visible-title-open-sans {
      font-size: 3.2rem !important;
    }
  }
}

@media (max-width: 900px) {
  .home-banner {
    .banner-ufo-svg svg {
      transform: rotateZ(2deg);
      height: 50%;
      position: absolute;
      top: 207px;
      left: 15px;
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-open-sans {
      font-size: 3rem !important;
    }
  }
}

@media (max-width: 768px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 205px;
      left: 15px;
      transform: rotateZ(3deg);
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-open-sans {
      font-size: 2.5rem !important;
    }
  }
  .home-banner .content .inline-form input.user-choice-submit {
    padding: 16px 16px !important;
  }
}

@media (max-width: 440px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 185px;
      left: 15px;
      -webkit-transform: rotateZ(3deg);
      transform: rotateZ(3deg);
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-amatic {
      font-size: 3.8rem !important;
    }
    div.visible-title-open-sans {
      display: none;
    }
    div.hidden-title-open-sans {
      display: block !important;
      font-size: 4rem;
    }
  }
}

@media (max-width: 400px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 160px;
      left: 15px;
      -webkit-transform: rotateZ(3deg);
      transform: rotateZ(3deg);
    }
  }
}

section.home-section-v4 {
  .full-page-simplify-text {
    color: $dark-red;
    font-size: 5rem !important;
    text-align: center;
  }
  .full-page-simplify-text-hidden {
    display: none;
  }
  .services-card-container {
    margin: 50px 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  .green-separate-border {
    width: 70%;
    border: 0.5px solid $green;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .green-separate-border-hidden {
    width: 70%;
    border: 0.5px solid $green;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display:none;
  }
}

@media (max-width: 768px) {
  section.home-section-v4 {
    .full-page-simplify-text {
      display: none;
    }
    .full-page-simplify-text-hidden {
      display: block;
      color: $dark-red;
      font-size: 4.4rem !important;
      text-align: center;
    }
  }
}

@media (max-width: 990px) {
  section.home-section-v4 {
    .green-separate-border-hidden {
      display: block !important;
    }
  }
}

section.home-section-v4 {
  .partners-container {
    padding: 0 50px;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      font-size: 4rem;
      font-weight: bolder;
      margin-bottom: 20px;
      color: $green;
    }
    .header-hidden {
      display: none;
      align-items: center;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      font-size: 3.2rem;
      font-weight: bolder;
      margin-bottom: 20px;
      color: $green;
    }
  }
}

@media (max-width: 440px) {
  section.home-section-v4 {
    .partners-container {
      .header-hidden {
        display: flex !important;
      }
      .header {
        display: none !important;
      }
    }
  }
}



@keyframes customRotate {from {transform: rotate(0deg);} to {transform: rotate(360deg);}}
@keyframes customPulse {0% {transform: perspective(500px) translate3d(0px,0px,0px);} 50% {transform: perspective(500px) translate3d(0px,0px,160px);} 100% {transform: perspective(500px) translate3d(0px,0px,0px);}}
@keyframes customPulseSmall {0% {transform: perspective(500px) translate3d(0px,0px,0px);opacity:0;} 50% {transform: perspective(500px) translate3d(0px,0px,80px);opacity:1;} 100% {transform: perspective(500px) translate3d(0px,0px,0px);opacity:0;}}


.animated-reinsurance-container {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  #clic-svg {
    svg.clic-icon {
      position: absolute;
      width: 20px;
      height: 31px;
      top: 42px;
      left: 58px;
      animation: customPulseSmall 1s linear infinite running;
      animation-delay: 0.5s;
    }
    svg.souris-icon {
      position: absolute;
      width: 20px;
      top: 58px;
      left: 67px;
      animation: customPulse 1s linear infinite running;
    }
    svg.barre-icon {
      width: 74px;
      margin-top: 4px;
    }
  }
  #engrenages-svg {
    svg.engrenage-1-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 53px;
      left: 40px;
      animation: customRotate 2s linear infinite running;
    }
    svg.engrenage-2-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 26px;
      left: 58px;
      animation: customRotate 2s linear infinite running;
    }
    svg.engrenage-3-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 36px;
      left: 36px;
      animation: customRotate 2s linear infinite running;
    }
  }
  #maison-svg {
    svg.maison-alone {
      width: 70px;
      height: 70px;
    }
    svg.coeur-alone {
      position: absolute;
      width: 14px;
      top: 42px;
      right: 30px;
      animation: customPulse 1s linear infinite running;
    }
  }
  .animated-item-content {
    width: 240px;
    margin-left: 25px;
    .title {
      color: tomato;
      font-size: 1.7rem;
      font-weight: 700;
      letter-spacing: -0.3px;
    }
    .body {
      font-size: 1.5rem;
    }
  }
  .animated-svg-icon-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      #engrenages-svg {
        svg.engrenage-1-icon {
          animation: customRotate 2s linear infinite running;
        }
        svg.engrenage-2-icon {
          animation: customRotate 2s linear infinite running;
        }
        svg.engrenage-3-icon {
          animation: customRotate 2s linear infinite running;
        }
      }
      #clic-svg {
        svg.clic-icon {
          animation: customPulse 2s infinite;
        }
        svg.souris-icon {
          #mouse-svg-path {
            animation: customPulse 2s infinite;
          }
        }
      }
    }
    &.gray {
      background-color: lighten($gray,15%);
    }
    &.green {
      background-color: lighten($green,15%);
    }
    &.red {
      background-color: lighten(tomato,15%);
    }
    .animated-svg-icon-position {
      position: absolute;
      top: 5px;
      left: 8px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1.35rem;
      color: white;
      &.gray {
        background-color: $gray;
      }
      &.green {
        background-color: $green;
      }
      &.red {
        background-color: tomato;
      }
    }
  }
}

.reinsurance-line {
  width: 10px;
  border-left: 2px solid lighten($gray,20%);
  height: 50px;
  position: relative;
  left: -127px;
  .down-arrow {
    position: absolute;
    top: calc(50% - 10px);
    left: -11px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 2px solid lighten($gray,20%);
    svg {
      width: 8px;
      height: 11px;
    }
  }
}


.fullpage-separator {
  width: 75%;
  height: 1px;
  margin: 25px 0;
  border-bottom: 1px solid $green;
}

.fullwidth-reinsurance-container {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  font-family: "Open Sans";
  .reinsurance-header {
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: -0.3px;
    color: tomato;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .absolute-left-colored-form {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    svg {
      height: 80%;
    }
  }
  .absolute-right-colored-form {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg {
      height: 80%;
    }
  }
}

.menu-wrapper#props-wrapper-v4.alt-version {
  font-family: "Open Sans" !important;
  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    font-family: "Open Sans" !important;
    margin-bottom: 50px;
  }
}

.menu-wrapper#testimonials-wrapper-v4.alt-version {
  font-family: "Open Sans" !important;
  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    font-family: "Open Sans" !important;
    margin-bottom: 50px;
  }
}

#differences-alt {
  .first-cards-container {
    font-family: "Open Sans" !important;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 30px 0 50px 0;
    .first-card {
      width: 100%;
      padding-right: 10px;
      .les-plus {
        height: 100%;
        width: 100%;
        padding: 25px;
        background-color: $light-gray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header-start-visible {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Open Sans", sans-serif;
          font-size: 2.4rem;
          font-weight: 700;
          letter-spacing: -0.3px;
        }
        .header-start-hidden {
          display: none;
        }
        .content-les-plus {
          display: flex;
          flex-direction: column;
          .content {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            font-family: "Open Sans", sans-serif;
            .small-left-icon {
              width: 60px;
              margin-right: 16px;
            }
            .how-it-works-item-content {
              color: #575265;
              font-size: 1.8rem;
              font-weight: normal;
              letter-spacing: -0.1px;
            }
            .how-it-works-item-content-hidden {
              display: none;
              color: #575265;
              font-size: 1.6rem;
              font-weight: normal;
              letter-spacing: -0.1px;
            }
          }
        }
        .bottom-link-see-all {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    .second-card {
      width: 100%;
      padding-left: 10px;
      .estimation {
        height: 100%;
        width: 100%;
        background-color: rgba(176, 195, 101, 0.8);
        border-radius: 5px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header-start {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Open Sans", sans-serif;
          font-size: 2.4rem;
          font-weight: 700;
          letter-spacing: -0.3px;
        }
        .content-estimation {
          display: flex;
          align-items: center;
          .kenotte-estimation {
            width: 120px;
            height: 120px;
            margin-right: 16px;
          }
          .how-it-works-content {
            color: #575265;
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: -0.1px;
          }
        }
        .form-estimation {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          #estimation-place-input {
            width: 80%;
          }
        }
      }
    }
  }
}

#mores-alt {
  .second-cards-header {
    display: flex;
    justify-content: center;
    color: $green;
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .second-cards-header-hidden {
    display: none;
    color: $green;
    font-weight: bolder;
    font-size: 3.2rem;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .second-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    .first-card {
      width: 50%;
      padding-right: 10px;
      .seller {
        height: 100%;
        width: 100%;
        background-color: rgba(230, 124, 92, 0.8);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
      }
    }
    .second-card {
      width: 50%;
      padding: 0 10px;
      .renovation {
        height: 100%;
        width: 100%;
        background-color: rgba(176, 195, 101, 0.8);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
      }
    }
    .third-card {
      width: 50%;
      padding-left: 10px;
      .ambassador {
        height: 100%;
        width: 100%;
        background-color: rgba(63, 59, 73, 0.8);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      .vente-svg, .renov-svg, .ambassadeur-svg {
        width: 180px;
        height: 140px;
      }
    }
    .header {
      display: flex;
      text-align: center;
      font-weight: bolder;
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem !important;
      letter-spacing: -0.3px;
    }
    .content {
      display: flex;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem !important;
    }
  }
}


#press-block {
  .third-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    font-family: "Open Sans" !important;
    .first-card {
      width: 50%;
      padding-right: 10px;
      .gift {
        height: 100%;
        width: 100%;
        background-color: $light-gray;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        .left {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 5px 0 0 5px;
          flex: 1;
        }
        .right {
          height: 100%;
          flex: 3;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-family: "Open Sans", sans-serif;
          .sup-header {
            display: flex;
            color: tomato;
            font-size: 2.5rem;
            font-weight: bolder;
          }
          .sub-header {
            display: flex;
            color: $gray;
            font-size: 2.5rem;
            font-weight: bolder;
          }
          .content {
            display: flex;
            color: $gray;
            font-size: 1.6rem;
            margin-top: 15px;
          }
        }
      }
    }
    .second-card {
      width: 50%;
      padding-left: 10px;
      .news {
        height: 100%;
        width: 100%;
        background-color: $light-gray-2;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .top {
          width: 100%;
          background-color: tomato;
          border-radius: 5px 5px 0 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 15px;
          svg {
            height: 100%;
            width: 10%;
            fill: white;
            margin-right: 16px;
          }
          .header {
            display: flex;
            align-self: end;
            font-size: 2.4rem;
            font-weight: bolder;
            font-family: "Open Sans", sans-serif;
          }
        }
        .bottom {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .images-top-container, .images-between-container, .images-bottom-container {
            height: 100%;
            width: 100%;
            display: flex;
            padding: 10px;
          }
          .image {
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            flex: 1;
          }
        }
      }
    }
  }
}

#advices-alt {
  .fourth-cards-header {
    display: flex;
    justify-content: center;
    color: $green;
    font-weight: bolder;
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .fourth-cards-container {
    margin-bottom: 50px;
    height: 600px;
    display: flex;
    align-items: stretch;
    .left-container {
      flex: 1;
      padding-right: 10px;
      .vertical-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(63, 59, 73, 0.7);
        border-radius: 5px;
        .top {
          flex: 1;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 5px 5px 0 0;
        }
        .bottom {
          flex: 1;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
        }
      }
    }
    .right-container {
      flex: 2;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      .top-item {
        flex: 1;
        padding-bottom: 10px;
        .left {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 5px 0 0 5px;
        }
      }
      .bottom-item {
        flex: 1;
        padding-top: 10px;
        .right {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 0 5px 5px 0;
        }
      }
      .horizontal-card {
        display: flex;
        background-color: rgba(63, 59, 73, 0.7);
        height: 100%;
        width: 100%;
        border-radius: 5px;
        .left {
          flex: 1;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
        }
        .right {
          flex: 1;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
        }
      }
    }
    .title {
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
    }
    .content {
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem;
    }
    .content-hidden {
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
      display: none;
    }
    .inline-svg svg {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}



#partners-alt {
  .partners-header {
    display: flex;
    justify-content: center;
    color: $green;
    font-weight: bolder;
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .menu-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 50px;
  }

  @media (max-width: 768px) {
    .menu-wrapper {
      max-width: 100%;
    }
  }

  .menu {
    height: 120px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    .testimonial-item {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 20px;
    }
    .item {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 20px;
      img {
        transition: 0.3s;
        margin: 0;
        margin-right: 4px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .paddles {
    button {
      background-color: white;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .paddle {
    position: absolute;
    top: -25px;
    width: 60px;
  }
  .left-paddle {
    left: 0;
    margin-left: -8px;
    transform: rotateZ(180deg);
  }
  .right-paddle {
    right: 0;
    margin-right: -8px;
  }
  .hidden {
    display: none;
  }
}

#autocomplete-alt {
  input {
    font-family: "Open Sans";
  }
}


main.scene {
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: -0.1px;
  color: white;
  .inline-svg {
    padding-top: 3px;
    margin-left: 18px;
    svg {
      animation: customPulse 1s linear infinite running;
    }
  }
  .static-text {
    margin-left: 7px;
  }
}


section#modern-style-wrapper {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  .modern-btn {
    font-weight: 600;
    color: darken(deepskyblue,5%);
    font-size: 1.6rem;
  }
  .modern-card-container {
    width: calc(50% - 10px);
    height: 360px;
    margin-bottom: 20px;
    background-color: rgb(245,245,245);
    border-radius: 1px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .absolute-modern-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      .inline-svg {
        margin-bottom: 10px;
        svg {
          width: 50px;
          height: 50px;
          fill: rgba(0,0,0,0.3);
        }
      }
    }
    .blog-category {
      font-size: 2.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 700;
    }
    .blog-post-creation-date {
      font-size: 1.2rem;
      font-weight: 600;
      color: rgb(100,100,100);
    }
    .blog-post-author {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 3px;
    }
    .blog-post-content {
      font-size: 1.5rem;
      font-weight: 500;
      width: 80%;
      height: 100px;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  section#modern-style-wrapper {
    padding-right: 5%;
    padding-left: 5%;
    .modern-card-container {
      width: 100%;
    }
  }
}



@media (max-width: 768px) {
  main.scene {
    font-size: 3rem;
    flex-direction: column;
    .actor {
      .actor__content {
        min-height: 42px;
      }
    }
    .static-text {
      margin: 0;
    }
    .inline-svg {
      margin: 0;
      margin-top: 6px;
    }
  }
  .animated-reinsurance-container .animated-item-content {
    width: 170px;
    .title {
      font-size: 1.5rem;
    }
  }
  .reinsurance-line {
    opacity: 0;
  }
  .fullwidth-reinsurance-container {
    .reinsurance-header {
      padding: 0 20px;
      font-size: 2.2rem;
      text-align: center;
    }
    .absolute-left-colored-form {
      display: none;
    }
    .absolute-right-colored-form {
      display: none;
    }
  }
  #differences-alt .first-cards-container {
    flex-direction: column;
    .first-card {
      padding-right: 0;
      margin-bottom: 20px;
    }
    .second-card {
      padding-left: 0;
    }
  }
  #mores-alt .second-cards-container {
    flex-direction: column;
    .first-card {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
    }
    .second-card {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
    }
    .third-card {
      width: 100%;
      padding: 0;
    }
  }
  #press-block .third-cards-container {
    flex-direction: column;
    .first-card {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
    }
    .second-card {
      width: 100%;
      padding: 0;
      height: 300px;
    }
  }
  #advices-alt .fourth-cards-container .right-container .horizontal-card {
    flex-direction: column;
  }
  #advices-alt .fourth-cards-container {
    flex-direction: column;
    height: unset;
    .left-container {
      padding: 0;
      .vertical-card {
        margin-bottom: 20px;
        .top {
          flex: unset;
          height: 180px;
        }
        .bottom {
        }
      }
    }
    .right-container {
      padding: 0;
      .top-item {
        .horizontal-card {
          .left {
            flex: unset;
            height: 180px;
          }
        }
      }
      .bottom-item {
        .horizontal-card {
          .right {
            flex: unset;
            order: -1;
            height: 180px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #mores-alt .second-cards-header {
    text-align: center;
  }
  #differences-alt .first-cards-container .first-card .les-plus .header-start-visible {
    font-size: 2rem;
  }
  #press-block .third-cards-container .second-card .news .top .header {
    font-size: 1.8rem;
    margin: 0;
  }
  #press-block .third-cards-container .first-card .gift .left {
    display: none;
  }
  #press-block .third-cards-container .first-card .gift .right {
    .sub-header {
      font-size: 2rem;
    }
    .sup-header {
      font-size: 2rem;
    }
  }
}






