.slider-item{
}

section.home-section {
  padding: 50px 50px;
  .big-title {
    font-size: 46px;
    margin-bottom: 20px;
  }
  .left-content {
    flex: 9;
    box-sizing: border-box;
    padding: 0 60px;
  }
  .right-content {
    flex: 4;
    img {
      width: 100%;
    }
  }
}

section.home-section.bordered {
  border-top: 15px solid #3f3b49;
  border-bottom: 15px solid #3f3b49;
}



@media (max-width: 768px) {
  section.home-section {
    padding: 50px 15px;
    .left-content {
      padding: 0 10px;
    }
  }
}

.home-banner {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-image: url("https://cdn.bientotchezsoi-dev.com/svgs/icons/OVNI-fond-BCS.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .banner-ufo-svg svg {
    height: 50%;
    position: absolute;
    top: 215px;
    left: 100px;
  }
  .absolute-marketplace-banner {
    height: 40px;
    width: 560px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-25deg);
    position: absolute;
    left: -60px;
    top: 78px;
    background-color: $dark-red;
  }
  .absolute-banner-logo {
    position: absolute;
    left: 5%;
    top: 80px;
    img {
      width: 280px;
    }
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .home-banner-content-header-v4 {
      font-weight: bolder;
      color: white;
      text-shadow: 1px 0 $gray;
      margin-bottom: 20px;
      div.visible-title-amatic {
        font-family: "Amatic Sc";
        font-size: 6rem;
      }
      div.visible-title-open-sans {
        font-family: "Open Sans", sans-serif;
        font-size: 4rem;
      }
      div.hidden-title-open-sans {
        display: none;
        font-family: "Open Sans", sans-serif;
      }
    }
    .home-banner-content-header {
      font-size: 50px;
      font-weight: bolder;
      color: white;
      text-shadow: 1px 0 $gray;
      font-family: "Amatic Sc";
      margin-bottom: 20px;
      div.hidden-title {
        display: none;
      }
      .hint {
        display: inline-block;
        color: #ef1414;
      }
    }
    p {
      font-size: 17px;
      font-weight: bolder;
      color: $dark-red;
    }
    form {
      width: 100%;
      .inline-form {
        display: flex;
        align-items: center;
        position: relative;
        input.user-city-choice {
          flex: 1;
          padding: 15px;
          font-size: 16px;
          border-radius: 0 !important;
          border-top-left-radius: 5px !important;
          border-bottom-left-radius: 5px !important;
          -webkit-border-top-left-radius: 5px !important;
          -webkit-border-bottom-left-radius: 5px !important;
          border: none;
          &::placeholder {
            color: lighten($gray,20%);
          }
        }
        input.user-choice-submit {
          padding: 15px 28px;
          border: 2px solid #3f3b49 !important;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          background-color: $gray;
          color: white;
          font-weight: bolder;
          transition: 0.3s;
          &:hover {
            background-color: $green;
            color: $gray;
            border: 2px solid #3f3b49 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 206px;
      left: 100px;
      transform: rotateZ(2deg);
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-amatic {
      font-size: 5.2rem !important;
    }
    div.visible-title-open-sans {
      font-size: 3.2rem !important;
    }
  }
}

@media (max-width: 900px) {
  .home-banner {
    .banner-ufo-svg svg {
      transform: rotateZ(2deg);
      height: 50%;
      position: absolute;
      top: 207px;
      left: 15px;
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-open-sans {
      font-size: 3rem !important;
    }
  }
}

@media (max-width: 768px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 205px;
      left: 15px;
      transform: rotateZ(3deg);
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-open-sans {
      font-size: 2.5rem !important;
    }
  }
  .home-banner .content .inline-form input.user-choice-submit {
    padding: 16px 16px !important;
  }
}

@media (max-width: 440px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 185px;
      left: 15px;
      -webkit-transform: rotateZ(3deg);
      transform: rotateZ(3deg);
    }
  }
  .home-banner-content-header-v4 {
    div.visible-title-amatic {
      font-size: 4.8rem !important;
    }
    div.visible-title-open-sans {
      display: none;
    }
    div.hidden-title-open-sans {
      display: block !important;
      font-size: 4rem;
    }
  }
}

@media (max-width: 400px) {
  .home-banner {
    .banner-ufo-svg svg {
      height: 50%;
      position: absolute;
      top: 160px;
      left: 15px;
      -webkit-transform: rotateZ(3deg);
      transform: rotateZ(3deg);
    }
  }
}


section.home-section-v2 {
  .services-card-container {
    margin: 50px 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  .advices-and-properties-container {
    margin-bottom: 30px;
    .properties-container {
      padding: 20px;
      background-color: $light-gray;
      border-radius: 4px;
      margin-bottom: 40px;
      .properties-item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .bottom-link-container {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .property-item-full {
          height: 140px;
          width: 100%;
          border-radius: 4px;
          background-color: white;
          display: flex;
          margin-bottom: 20px;
          overflow: hidden;
          .photo {
            height: 100%;
            flex: 2;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            .new-badge {
              position: absolute;
              bottom: 20px;
              left: 0;
              padding: 5px 16px;
              color: white;
              font-weight: bolder;
              font-size: 10px;
              background-color: $dark-red;
            }
          }
          .content {
            height: 100%;
            flex: 5;
            padding: 20px;
            display: flex;
            flex-direction: column;
            .offer-title {
              font-weight: bolder;
              color: $dark-red;
              font-size: 14px;
            }
            .offer-price {
              font-weight: bolder;
              color: $dark-red;
              font-size: 14px;
            }
            .offer-body {
              font-weight: normal;
              color: $gray;
              font-size: 14px;
            }
          }
        }
      }
      .title {
        color: $gray;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: "Amatic Sc";
        font-size: 28px;
        font-weight: bolder;
      }
    }
    .advices-container {
      padding: 20px;
      background-color: $green;
      border-radius: 4px;
      .title {
        color: white;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: "Amatic Sc";
        font-size: 28px;
        font-weight: bolder;
      }
      .blog-articles-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .blog-article-item {
          display: flex;
          flex-direction: column;
          height: 300px;
          width: 100%;
          overflow: hidden;
          margin-bottom: 20px;
          border-radius: 4px;
          .photo {
            width: 100%;
            height: 55%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }
          .blog-content {
            width: 100%;
            height: 45%;
            background-color: white;
            padding: 20px;
            .blog-content-title {
              font-weight: bolder;
              color: $gray;
              margin-bottom: 5px;
            }
            .body {
              color: $gray;
            }
          }
        }
      }
    }
  }
  .how-it-works-container {
    margin-bottom: 30px;
    .left-block {
      padding: 20px;
      height: 480px;
      border-radius: 4px;
      background-color: $light-gray-2;
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: "Amatic Sc";
        font-size: 28px;
        font-weight: bolder;
        .logo {
          margin-right: 10px;
        }
      }
      .item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;
        .list-number {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 22px;
          min-height: 22px;
          max-width: 22px;
          max-height: 22px;
          border-radius: 50%;
          background-color: white;
          color: $light-gray-2;
          font-size: 13px;
          font-weight: bolder;
          margin-right: 15px;
        }
        .list-text {
          line-height: 1.5;
          color: $gray;
        }
      }
    }
    .right-block {
      height: 480px;
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        align-items: center;
        flex-direction: column;
        .title {
          font-family: "Amatic Sc";
          font-size: 28px;
          font-weight: bolder;
        }
      }
      .bottom {
        height: 50%;
        padding-top: 44px;
        display: flex;
        align-items: center;
        .left {
          padding: 10px;
          width: 50%;
          height: 100%;
          background-color: $light-gray;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .illustration {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $gray;
            text-align: center;
          }
        }
        .right {
          padding: 10px;
          width: 50%;
          height: 100%;
          background-color: $green;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .illustration {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
          }
        }
      }
    }
  }
}



@media (max-width: 990px) {
  section.home-section-v2 {
    .services-card-container {
      padding: 0;
    }
    .how-it-works-container {
      .right-block {
        height: 700px;
        margin-top: 40px;
        .bottom {
          height: 40%;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .home-banner {
    .content {
      width: auto;
      padding: 15px !important;
      .home-banner-content-header {
        div.visible-title {
          display: none;
        }
        div.hidden-title {
          display: block;
          font-size: 44px;
        }
        font-size: 40px;
      }
      h1 {
        font-size: 34px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}


.empty-input-alert {
  position: absolute;
  top: 115%;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  .fa {
    margin-right: 5px;
  }
}


@media (max-width: 1200px) {
  .home-banner {
    .absolute-banner-logo {
      top: 20px;
      left: calc(50% - 80px);
      img {
        width: 160px;
      }
    }
  }
}


@media (max-width: 900px) {
  .home-banner {
    .absolute-marketplace-banner {
      width: 100%;
      transform: none;
      top: 0;
      left: 0;
      font-size: 16px;
    }
  }
}
