section.inform-myself {
  padding: 50px 10%;
  background-color: $light-gray;
  img {
    width: 80%;
    padding-left: 20%;
  }
  h1 {
    font-size: 40px;
    color: $gray;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


@media (max-width: 768px) {
  .mobile-margin {
    margin-bottom: 50px;
  }
}
