section.jobs-header {
  padding: 50px 20%;
  display: flex;
  align-items: center;
  background-color: #eeeaea;
  .left-content {
    width: 30%;
    img {
      width: 100%;
    }
  }
  .right-content {
    width: 70%;
    padding: 0 20px;
    h1 {
      font-size: 46px;
    }
  }
}

section.jobs-content {
  padding: 50px 50px;
}


@media (max-width: 768px) {
  section.jobs-header {
    flex-direction: column;
    .left-content {
      width: 100%;
    }
    .right-content {
      width: 100%;
    }
  }
}


.job-container {
  box-sizing: border-box;
  padding: 0 10%;
}


section.job-header {
  padding: 50px 20%;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $light-gray;
  img {
    width: 100px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
}

section.job-content {
  h1 {
    font-size: 40px;
    text-align: left;
  }
  p {
    font-size: 16px;
    color: $gray;
  }
  ul {
    padding: 0;
    padding-left: 18px;
    li {
      font-size: 16px;
    }
  }
}




section.jobs-page {
  .jobs-big-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .icon {

    }
    .text {
      font-family: "Amatic Sc";
      font-size: 34px;
      font-weight: bolder;
    }
  }
  .job-presentation-item {
    .item-icon {

    }
    .item-text {

    }
  }
  .jobs-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .jobs-banner-content {
      font-family: "Amatic Sc";
      font-weight: bolder;
      color: white;
      font-size: 40px;
    }
  }
  .job-new-card {
    padding: 20px;
    background-color: $light-gray;
    border-radius: 4px;
    .job-new-card-top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .job-new-card-middle {
      margin: 10px 0;
      color: $gray;
    }
    .job-new-card-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.candidacy-form {
  .form-control {
    height: 50px;
    border-radius: 3px;
    background-color: rgb(240,240,240);
    font-size: 16px;
    letter-spacing: -0.3px;
    border: none;
  }
  textarea {
    min-height: 150px;
  }
}


section.job-show {
  .job-show-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .show-banner-content {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 40px;
      color: white;
    }
  }
  .job-show-blocks {
    margin: 50px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: minmax(100px, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "aa aa bb bb"
    "aa aa bb bb"
    "cc cc dd dd";
    .block-header {
      display: flex;
      align-items: center;
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 30px;
      margin-bottom: 20px;
      .fontastic-icon {
        line-height: 0.6;
        margin-right: 8px;
        color: $gray;
      }
      .white-text {
        color: white;
      }
    }
    .one {
      grid-area: aa;
      background-color: $light-gray;
      padding: 20px;
      border-radius: 4px;
      .item-block {
        font-size: 14px;
        color: $gray;
      }
    }
    .two {
      grid-area: bb;
      background-color: $green;
      padding: 20px;
      border-radius: 4px;
      .item-block {
        font-size: 14px;
        color: white;
      }
    }
    .three {
      grid-area: cc;
      background-color: $light-gray-2;
      padding: 20px;
      border-radius: 4px;
      .item-block {
        font-size: 14px;
      }
    }
    .four {
      grid-area: dd;
      background-color: $dark-red;
      padding: 20px;
      border-radius: 4px;
      .item-block {
        font-size: 14px;
      }
    }
  }
}
