.event-block-content {
  border-radius: 4px;
  background-color: #eeeaea;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .event-block-content--title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  img {
    width: 50%;
    margin-bottom: 20px;
  }
  .event-block-content--body {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}


@media (max-width: 768px) {
  .event-block-content {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
