form#new_partner {
  fieldset.form-group {
    display: flex;
    align-items: center;
    legend {
      display: none;
    }
  }
}



.services-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .content {
    h1 {
      font-weight: bolder;
      font-size: 50px;
    }
  }
}



.loader-services-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa {
    font-size: 40px;
    color: $green;
  }
}



.service-truncate-content {
  font-weight: 600;
  letter-spacing: -0.2px;
  font-size: 15px;
  color: lighten($gray,10%);
}




















