section.parrainage {
  .parrainage-header {
    margin-bottom: 25px;
    width: 100%;
    height: 50vh;
    background-image: url("https://cdn.bientotchezsoi-dev.com/images/photo-parrainage.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-content {
      width: 70%;
      padding: 25px;
      background-color: rgba(255,255,255,0.8);
      color: $gray;
      border-radius: 1px;
      text-align: center;
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 34px;
    }
  }
}

.advantage-item {
  margin: 25px 0;
  min-height: 240px;
  border-radius: 3px;
  background-color: $light-gray;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  .adv-item-top {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 16px;
    .red-text {
      color: $dark-red;
      margin-top: 5px;
    }
    .green-text {
      color: $green;
      margin-top: 5px;
    }
  }
  .adv-item-bottom {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 16px;
      text-align: center;
      padding: 0 35px;
    }
  }
}



.parrainage-big-header {
  margin-bottom: 25px;
  font-family: "Amatic Sc";
  font-weight: bolder;
  font-size: 34px;
}

.parrainage-how-it-works {
  .works-title {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 6px;
  }
  .works-text {
    p {
      font-size: 16px;
      line-height: 1.6;
      color: $gray;
    }
  }
}



.customer-infos {
  input {
    border: none;
    box-shadow: none !important;
    height: 48px;
    background-color: $green;
    color: white !important;
    &::placeholder {
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}

.sponsored-infos {
  input {
    border: none;
    box-shadow: none !important;
    height: 48px;
    background-color: $dark-red;
    color: white;
    &::placeholder {
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}


form#new_sponsorship {
  label.sponsorship {
    margin-top: 15px;
    font-size: 16px;
  }
  fieldset {
    margin-top: 12px;
    legend {
      display: none;
    }
  }
}



