section.partner-landing {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/banner-background-landing-partner.jpg");
    .banner-content {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 60px;
      h4 {
        font-size: 44px;
        color: $gray;
        font-weight: bolder;
        text-align: center;
      }
    }
  }
  .fullpage-content {
    section.how-it-works-partnership {
      padding: 0 100px;
      margin: 50px 0;
      .separator-line-container {
        padding: 0 95px;
        margin: 20px 0;
        z-index: 1;
        .separator-line.right {
          width: 100%;
          border-top: 2px solid $green;
          position: relative;
          &:after {
            content: '';
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: -30px;
            height: 30px;
            width: 30px;
            border-bottom: 2px solid $green;
            border-left: 2px solid $green;
            border-bottom-left-radius: 23px;
          }
          &:before {
            content: '';
            display: flex;
            align-items: center;
            position: absolute;
            top: -2px;
            right: -30px;
            height: 30px;
            width: 30px;
            border-top: 2px solid $green;
            border-right: 2px solid $green;
            border-top-right-radius: 23px;
          }
        }
        .separator-line.left {
          width: 100%;
          border-top: 2px solid $green;
          position: relative;
          &:after {
            content: '';
            display: flex;
            align-items: center;
            position: absolute;
            top: -2px;
            left: -30px;
            height: 30px;
            width: 30px;
            border-top: 2px solid $green;
            border-left: 2px solid $green;
            border-top-left-radius: 23px;
          }
          &:before {
            content: '';
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: -30px;
            height: 30px;
            width: 30px;
            border-bottom: 2px solid $green;
            border-right: 2px solid $green;
            border-bottom-right-radius: 23px;
          }
        }
      }
      .pathway-item {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 5;
        &.left {
          justify-content: flex-start;
          .icon {
            position: relative;
          }
          .text {
            font-weight: 600;
            margin-left: 30px;
            font-size: 15px;
            color: lighten($gray,8%);
            padding: 22px;
            border-radius: 15px;
            border: 1px solid rgb(225,225,230);
            position: relative;
            .custom-carret-container {
              width: 30px;
              height: 100%;
              position: absolute;
              top: 0;
              left: -16px;
              display: flex;
              align-items: center;
              justify-content: center;
              .custom-carret {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border-bottom: 1px solid rgb(225,225,230);
                border-left: 1px solid rgb(225,225,230);
                background-color: white;
                transform: rotate(45deg);
                z-index: 7;
              }
            }
          }
        }
        &.right {
          justify-content: flex-end;
          .icon {

          }
          .text {
            font-weight: 600;
            margin-right: 30px;
            font-size: 15px;
            padding: 22px;
            color: lighten($gray,8%);
            border-radius: 15px;
            border: 1px solid rgb(225,225,230);
            position: relative;
            .custom-carret-container {
              width: 30px;
              height: 100%;
              position: absolute;
              top: 0;
              right: -16px;
              display: flex;
              align-items: center;
              justify-content: center;
              .custom-carret {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border-top: 1px solid rgb(225,225,230);
                border-right: 1px solid rgb(225,225,230);
                background-color: white;
                transform: rotate(45deg);
                z-index: 7;
              }
            }
          }
        }
      }
    }
    section.advantages {
      .advantage-item {
        padding: 20px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        &.white {
          background-color: white;
        }
        .advantage-item-top {
          display: flex;
          margin-bottom: 20px;
          font-family: "Amatic Sc";
          font-weight: bolder;
          font-size: 36px;
          justify-content: center;
          text-align: center;
        }
        .advantage-item-bottom {
          .adv-item-bottom-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &.spaced {
              margin-bottom: 20px;
            }
            .adv-item-bottom-small-text {
              font-weight: 600;
              font-size: 14px;
              color: $gray;
              margin-top: 20px;
              text-align: center;
            }
          }
        }
      }
    }
    section.statistics {
      margin-bottom: 40px;
      .section-header {
        .big-text {
          font-size: 36px;
          font-weight: bolder;
          font-family: "Amatic Sc";
          color: $gray;
        }
        .small-text {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 25px;
        }
      }
      .statistic-item {
        border-radius: 6px;
        background-color: $light-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 25px;
        .stat-big-text {
          font-family: "Amatic Sc";
          font-weight: bolder;
          font-size: 40px;
          color: $gray;
        }
        .stat-small-text {
          font-size: 13px;
          font-weight: 600;
          color: $gray;
          text-align: center
        }
      }
    }
    section.explications {
      .explications-item {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: $light-gray;
        margin-bottom: 20px;
        margin-top: 40px;
        padding: 20px;
        height: 180px;
        .section-header {
          display: flex;
          align-items: center;
          flex: 1;
        }
        .section-content {
          display: flex;
          align-items: center;
          flex: 3;
        }
      }
    }
    section.last-platform-demands {
      margin-bottom: 30px;
      .section-header {
        .big-text {
          font-size: 36px;
          font-weight: bolder;
          font-family: "Amatic Sc";
          color: $gray;
          text-align: center;
        }
        .small-text {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 25px;
        }
      }
      .last-demands-item {
        display: flex;
        height: 150px;
        box-shadow: 1px 1px 10px rgba(50,50,50,0.15);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 25px;
        .left-flex-block {
          width: 35%;
          height: 100%;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .right-flex-block {
          width: 65%;
          height: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .sub-item-block {
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 600;
            .block-icon-text {
              display: flex;
              align-items: center;
              .fontastic {
                font-size: 18px;
                margin-right: 6px;
              }
              img {
                margin-right: 6px;
              }
            }
            h5 {
              margin: 0;
            }
            &.between {
              justify-content: space-between;
            }
            &.start {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}




.landing-agency-signup-block {
  border-radius: 5px;
  padding: 25px;
  background-color: $dark-red;
  color: white;
  margin-bottom: 30px;
  .bold {
    font-weight: 700;
    text-align: center;
  }
}



section.agency-registration-new.fullform {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(250,250,250);
  border-radius: 5px;
  margin-bottom: 50px;
}

form#new_agency.simple_form.new_agency {
  margin-bottom: 15px;
}


.section-header-small {
  .big-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: $dark-red;
    text-align: center;
  }
  .small-text {
    font-weight: 600;
    color: $gray;
    margin-bottom: 20px;
  }
}

section.video-presentation {
  margin-top: 40px;
  margin-bottom: 80px;
  .section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    .big-text {
      font-size: 36px;
      font-weight: bolder;
      font-family: "Amatic Sc";
      color: $dark-red;
      text-align: center;
    }
  }
}



@media (max-width: 768px) {
  section.how-it-works-partnership {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    .pathway-item.left {
      .icon {
        position: absolute !important;
        top: -20%;
        right: -18%;
        z-index: 1;
      }
      img {
        height: 50px;
      }
    }
    .separator-line-container {
      .separator-line.right {
        &:after {
          height: 23px !important;
        }
        &:before {
          height: 23px !important;
        }
      }
      .separator-line.left {
        &:after {
          height: 23px !important;
        }
        &:before {
          height: 23px !important;
        }
      }
    }
    .pathway-item.right {
      .icon {
        position: absolute;
        top: -20%;
        left: -18%;
      }
      img {
        height: 50px;
      }
    }
  }
}











