section.partners {
  .partners-banner {
    background-color: rgb(200,200,200);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .partners-banner-content {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 45px;
      color: $gray;
    }
  }
}
