.demand-attribute-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    .item-label {
      font-family: "Open Sans";
      font-weight: 600;
      color: $green;
      display: inline-block;
    }
    .item-value {
      color: $gray;
      display: inline-block;
    }
    .plural-value {
      display: inline-block;
    }
  }
}

.map-api-image {
  width: 100%;
  background-color: white;
  img {
    width: 100%;
  }
}

.pdf-customer-infos {
  display: flex;
  align-items: center;
  margin: 15px 0;
  border-radius: 4px;
  background-color: rgb(220,220,220);
  padding: 20px;
  .pdf-customer-item {
    font-size: 12px;
    font-weight: 600;
    font-family: "Open Sans";
    margin-right: 10px;
    &.red-text {
      color: $dark-red;
    }
  }
}

.pdf-important-comments-container {
  padding: 10px;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  .important-comment {
    font-weight: 600;
  }
}

// Aristid PDF
$aristid-red: rgb(231,120,87);
$aristid-light-blue: rgb(121,134,201);
$aristid-dark-blue: rgb(7,18,77);
$aristid-green: rgb(79,183,175);
$aristid-light-gray: rgb(241,242,247);


.aristid-pdf-layout {
  font-family: "Cerebri Sans";
  box-sizing: border-box;
  .not-specified {
    opacity: 0.5;
    color: $aristid-dark-blue;
    font-weight: 400;
    font-size: 13px;
  }
  .graph-item {
    width: 100%;
    .title {
      color: $aristid-green;
      font-size: 16px;
      font-weight: 500;
    }
    .graph {
      width: 100%;
      height: 100%;
      svg {
        width: 80%;
        height: 80%;
      }
    }
  }
  .column-content {
    font-size: 16px;
    color: $aristid-dark-blue;
  }
  .line-separator {
    margin: 30px auto;
    width: 70%;
    border-bottom: 3px solid lighten($aristid-light-blue,15%);
    border-radius: 2px;
  }
  .section-title {
    font-size: 22px;
    font-weight: 700;
    color: $aristid-red;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  .section-title-blue {
    font-size: 22px;
    font-weight: 700;
    color: $aristid-light-blue;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  .pdf-header {
    padding: 0 50px;
    .pdf-header-title {
      color: $aristid-red;
      font-size: 28px;
      word-break: keep-all;
      width: 50%;
      text-align: right;
    }
    .big-svg {
      width: 50%;
      svg {
        height: 100px;
        width: 200px;
      }
    }
  }
  .project-field {
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    .label {
      color: $aristid-green;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
    }
    .content {
      color: $aristid-dark-blue;
      font-size: 16px;
    }
  }
  .past-section {
    padding: 0 40px;
    margin-bottom: 20px;
    .section-left {
      width: 48%;
      padding-right: 20px;
    }
    .section-right {
      width: 48%;
    }
  }
  .personality-section {
    padding: 40px;
    margin-bottom: 20px;
    background-color: $aristid-light-gray;
    .section-left {
      width: 48%;
    }
    .section-right {
      width: 48%;
    }
  }
  .project-section {
    padding: 0 40px;
    margin-bottom: 20px;
    .section-left {
      width: 48%;
      padding-right: 20px;
    }
    .section-right {
      width: 48%;
    }
  }
  .more-section {
    padding: 0 40px;
    margin-bottom: 20px;
    .section-left {
      width: 48%;
      padding-right: 20px;
    }
    .section-right {
      width: 48%;
    }
  }
  .context-section {
    padding: 0 40px;
    margin-bottom: 100px;
    .section-left {
      width: 48%;
      padding-right: 20px;
    }
    .section-right {
      width: 48%;
    }
  }
  .precision-section {
    padding: 20px 40px;
    font-size: 16px;
    color: $aristid-dark-blue;
  }
  .customer-section {
    padding: 20px 40px;
    height: 140px;
    margin-bottom: 20px;
    background-color: $aristid-light-gray;
    .section-left {
      width: 48%;
      .customer-name {
        color: $aristid-red;
        font-weight: 700;
        font-size: 24px;
      }
      .customer-field {
        color: $aristid-dark-blue;
        width: 100%;
        .text {
          display: inline-block;
          font-size: 16px;
          white-space: nowrap;
        }
        .svg {
          margin: 0;
          padding: 0;
          padding-top: 4px;
          margin-right: 8px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .section-right {
      width: 48%;
      .customer-field {
        color: $aristid-dark-blue;
        width: 100%;
        .text {
          display: inline-block;
          font-size: 16px;
          white-space: nowrap;
        }
        .svg {
          margin: 0;
          padding: 0;
          padding-top: 4px;
          margin-right: 8px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.halfpie-chart-container {
  width: 100%;
  height: 100%;
  svg {
    width: 170%;
    height: 155%;
  }
}

















