section.presse-fullpage {
  .presse-banner {
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("");
    background-color: $light-gray;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-content {
      color: white;
      font-family: "Amatic Sc";
      font-size: 48px;
      font-weight: bolder;
    }
  }
  .presse-content {
    .post-item {
      display: flex;
      margin: 25px 0;
      height: 260px;
      .left-block {
        border-radius: 4px;
        border: 1px solid rgb(240,240,240);
        height: 100%;
        flex: 5;
        margin-right: 20px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .right-block {
        height: 100%;
        flex: 5;
        padding: 25px;
        .name {
          color: $dark-red;
          font-weight: 600;
          font-size: 16px;
          letter-spacing: -0.4px;
          margin-bottom: 15px;
        }
        .title {
          font-weight: 600;
          color: $gray;
        }
      }
    }
    .sub-header {
      display: flex;
      align-items: center;
      font-family: "Amatic Sc";
      font-weight: bolder;
      color: $gray;
      font-size: 38px;
      margin-bottom: 15px;
      .fontastic-icon {
        line-height: 0.6;
        margin-right: 10px;
      }
      &.red-text {
        color: $dark-red;
        .fontastic-icon {
          line-height: 0.6;
          transform: rotate(40deg);
          margin-right: 10px;
        }
      }
    }
  }
}



form.new_presskit_request {
  margin-bottom: 50px;
  margin-top: 25px;
  .form-control {
    border: none;
    height: 45px;
    border-radius: 3px;
    background-color: $light-gray;
    font-size: 14px;
  }
  textarea.form-control {
    min-height: 140px;
    padding-top: 10px;
  }
}
