.press-release-item {
  display: flex;
  height: 200px;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  border-radius: 5px;
  margin: 25px 0;
  overflow: hidden;
  .left-block {
    flex: 3;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .right-block {
    flex: 7;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    .title {
      font-weight: 600;
      letter-spacing: -0.4px;
      font-size: 16px;
      color: $dark-red;
    }
    .sub-title {
      margin-bottom: 10px;
      color: lighten($gray,10%);
    }
    .block-content {
      font-weight: 600;
      font-size: 12px;
    }
    .absolute-buttons-container {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      height: 40px;
    }
  }
}


.btn-custom-size {
  padding: 0;
  height: 30px;
  width: 33px;
  border-radius: 2px;
  border: none;
  margin: 0 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}



form.edit_press_release {
  textarea.form-control {
    min-height: 160px;
  }
}
