section.preview {
  .header {
    padding: 50px 20%;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 480px;
    }
  }
  .preview-form {
    display: flex;
    padding: 50px 15%;
    .left-content {
      width: 35%;
      display: flex;
      flex-direction: column;
      padding-right: 25px;
      h4 {
        font-family: "Open Sans";
        font-size: 22px;
        color: $gray;
        font-weight: bolder;
        margin: 0;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: $gray;
        line-height: 26px;
        strong {
          font-weight: bolder;
        }
      }
    }
    .right-content {
      width: 65%;
      display: flex;
      flex-direction: column;
      form.prev-form {
        textarea {
          min-height: 160px;
        }
        input[type='text'], input[type='email'], input[type='phone'], textarea {
          width: 100%;
          border: none;
          background-color: $light-gray;
          padding: 15px;
          margin-bottom: 15px;
          font-size: 14px;
          &:focus {
            outline: none;
          }
        }
      }
      h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.preview {
    .preview-form {
      flex-direction: column;
      .left-content {
        width: 100%;
      }
      .right-content {
        width: 100%;
      }
    }
  }
}
