section.press-release-show-fullpage {
  .banner {
    width: 100%;
    border-bottom: 2px solid $dark-red;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .header {
    margin-bottom: 20px;
    .press-title {
      font-size: 34px;
    }
  }
  .content {
    margin-bottom: 50px;
    font-weight: 600;
    color: lighten($gray, 10%);
    .text {

    }
  }
}
