section.pro-crossing {
  height: calc(100vh - 70px);
  width: 100vw;
  z-index: 100000000;
  padding: 100px 200px;
  position: fixed;
  left: 0;
  top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(50,50,50,0.85);
  .pro-crossing-title {
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: 800;
    color: white;
  }
  .pro-crossing-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    height: 70%;
    width: 100%;
    .pro-crossing-left {
      height: 100%;
      width: 50%;
      background-color: rgb(176,196,107);
      color: white;
      font-size: 3rem;
      font-weight: 800;
      padding: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .pro-crossing-btn {
        padding: 8px 16px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        font-size: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(63,59,73);
        margin-top: 20px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
        }
        .svg {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          svg {
            stroke: white;
            stroke-width: 3;
          }
        }
      }
    }
    .pro-crossing-right {
      height: 100%;
      width: 50%;
      background-color: rgb(63,59,73);
      color: white;
      font-size: 3rem;
      font-weight: 800;
      padding: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .pro-crossing-btn {
        padding: 8px 16px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        font-size: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(176,196,107);
        margin-top: 20px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
        }
        .svg {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 8px;
          svg {
            stroke: white;
            stroke-width: 3;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.pro-crossing {
    padding: 20px;
    .pro-crossing-title {
      font-size: 3rem;
      text-align: center;
    }
    .pro-crossing-content {
      height: 100%;
      flex-direction: column;
      .pro-crossing-left {
        width: 100%;
        height: 50%;
        font-size: 1.9rem;
      }
      .pro-crossing-right {
        width: 100%;
        height: 50%;
        font-size: 1.9rem;
      }
    }
  }
}
