section.property_to_sell {
  .header {
    padding: 0 15%;
    height: 50vh;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-logo {
      width: 25%;
      img {
        width: 140px;
      }
    }
    .header-content {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 0 auto;
      .header-content-title {
        font-size: 38px;
        color: $gray;
        font-family: "Amatic Sc";
      }
      .header-content-body {
        font-family: "Open Sans";
        font-size: 18px;
        color: $gray;
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 768px) {
  section.property_to_sell {
    .header {
      flex-direction: column;
      padding: 0 20px;
      .header-content {
        .header-content-title {
          font-size: 27px;
          line-height: 1;
          margin: 20px 0;
        }
      }
    }
  }
}
