section.rent-agency-new-form {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  padding: 50px 0;
  .boolean-input-hint {
    top: -24px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(160,160,170);
    text-align: center;
    display: flex;
    b {
      margin: 0 4px;
      font-weight: 700;
    }
  }
  .rent-agency-new-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .big-text {
      font-size: 2.5rem;
      font-weight: 700;
    }
    .small-text {
      font-size: 2.0rem;
      font-weight: 400;
    }
  }
  .custom-input {
    .form-group {
      input {
        border: 2px solid rgb(210,210,220);
        font-weight: 600;
      }
      input:focus {
        border: 2px solid lighten(dodgerblue,10%);
      }
      input:focus::placeholder {
        color: dodgerblue;
      }
    }
    input::placeholder {
      font-weight: 600;
      color: rgb(110,110,120);
    }
    fieldset.form-group {
      height: 80px;
      display: flex;
      .form-check {
        height: 100%;
        display: flex;
        align-items: center;
        input:checked + label:before {
          background-color: dodgerblue;
          border: 2px solid dodgerblue;
          border-radius: 3px;
        }
        input:checked + label {
          color: dodgerblue;
        }
        label {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          line-height: 1;
          font-weight: 600;
          color: rgb(60,60,60);
          margin-bottom: 0;
          user-select: none;
        }
        label:before {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 3px;
          border: 2px solid rgb(180,180,180);
          background-color: white;
          transition: 0.1s;
        }
        input:checked + label:after {
          content: "\f00c" !important;
          font-family: FontAwesome !important;
          position: absolute;
          left: 3px;
          top: 4px;
          font-size: 0.88rem;
          transform: unset;
          background: transparent;
          color: white;
          box-shadow: none;
          width: unset;
          height: unset;
        }
      }
    }
  }
}


section.rent-agency-show-infos {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  padding: 50px 0;
  .rent-agency-show-infos-header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .rent-agency-show-infos-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .custom-label {
      font-weight: 600;
      margin-right: 8px;
    }
    .custom-value {
      font-weight: 600;
      color: rgb(160,160,180);
    }
  }
  .service-title {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .agency-renter-badge {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 4px 10px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    margin: 0 10px;
  }
  .agency-bcs-badge {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 4px 10px;
    color: white;
    background-color: darken(lightgreen,20%);
    border-radius: 5px;
    margin: 0 10px;
  }
  .agency-services-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}


section.rent-agency-index {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  padding: 50px 0;
  .unknowed-agency-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 4px;
    background-color: lighten(dodgerblue,40%);
    .unknow-new-rent-agency {
      margin-right: 6px;
      color: dodgerblue;
      font-weight: 400;
      font-size: 1.6rem;
    }
    .inline-svg {
      margin-right: 15px;
      svg {
        width: 20px;
        height: 20px;
        fill: dodgerblue;
      }
    }
  }
  .full-bcs-agencies-wrapper {
    padding: 20px;
    border-radius: 4px;
  }
  .full-active-rent-agencies-wrapper {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    &.empty {
      background-color: lighten(tomato,34%);
    }
  }
  .full-inactive-rent-agencies-wrapper {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    &.empty {
      background-color: lighten(tomato,34%);
    }
  }
  .empty-collection {
    display: flex;
    align-items: center;
    color: tomato;
    font-size: 1.6rem;
    font-weight: 600;
    .inline-svg {
      margin-right: 10px;
      svg {
        width: 20px;
        height: 20px;
        fill: tomato;
      }
    }
    .fa {
      margin-right: 10px;
    }
  }
  .rent-agency-index-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .rent-agency-index-subheader {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #38e038;
    &.inactives {
      color: tomato;
    }
    &.light {
      color: #b4b4c8;
    }
  }
  .block-separator {
    margin: 40px 0;
  }
  .rent-agency-index-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid rgb(230,230,230);
    &:last-child {
      border-bottom: none;
    }
    .infos-block {
      padding: 10px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      flex: 1;
      .status-circle--active {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: darken(lightgreen,20%);
        margin-right: 14px;
      }
      .status-circle--inactive {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: tomato;
        margin-right: 14px;
      }
      .status-circle--waiting {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgb(180,180,200);
        margin-right: 14px;
      }
      .rent-agency-phone {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        color: #8c8ca0;
        b {
          font-weight: 500;
          font-size: 1.5rem;
          color: rgb(50,50,60);
          margin-top: 3px;
        }
        .inline-svg {
          margin-right: 10px;
          svg {
            width: 14px;
            height: 14px;
            fill: dodgerblue;
          }
        }
      }
      .rent-agency-created-at {
        font-size: 1.2rem;
        letter-spacing: -0.1px;
        font-weight: 700;
        color: rgb(160,160,170);
        display: none;
      }
      .rent-agency-email {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        color: #8c8ca0;
        b {
          font-weight: 500;
          font-size: 1.5rem;
          color: rgb(50,50,60);
          width: 190px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 3px;
        }
      }
      .rent-agency-typeform-id {
        margin-left: 30px;
        display: flex;
        font-size: 1.2rem;
        flex-direction: column;
        color: #8c8ca0;
        b {
          font-weight: 500;
          font-size: 1.5rem;
          color: rgb(50,50,60);
          width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 3px;
        }
      }
      .rent-agency-name {
        font-size: 1.2rem;
        margin-right: 35px;
        display: flex;
        flex-direction: column;
        color: #8c8ca0;
        b {
          width: 170px;
          font-weight: 700;
          font-size: 1.5rem;
          color: rgb(50,50,60);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 3px;
        }
      }
      .active-item-badge {
        padding: 3px 6px;
        background-color: lighten(lightgreen,20%);
        color: darken(lightgreen,10%);
        border-radius: 2px;
        font-size: 1.2rem;
      }
      .inactive-item-badge {
        padding: 3px 6px;
        background-color: lighten(tomato,30%);
        color: darken(tomato,10%);
        border-radius: 2px;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .actions-block {
      height: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .inline-svg {
        margin: 0 9px;
        svg {
          width: 20px;
          height: 20px;
          stroke: rgb(160,160,180);
        }
        &.red-stroke {
          svg {
            stroke: darken(tomato,10%);
          }
        }
        &.orange-stroke {
          svg {
            stroke: lighten(tomato,10%);
          }
        }
        &.lightblue-stroke {
          svg {
            stroke: lighten(dodgerblue,10%);
          }
        }
        &.blue-stroke {
          svg {
            stroke: darken(dodgerblue,2%);
          }
        }
        &.green-stroke {
          svg {
            stroke: darken(lightgreen,10%);
          }
        }
      }
      .point-delimiter {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgb(200,200,200);
        margin: 0 10px;
      }
    }
    .active-item {
      color: darken(lightgreen,30%);
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
    }
    .inactive-item {
      font-size: 1.1rem;
      color: darken(tomato,5%);
      font-weight: 600;
      cursor: pointer;
    }
  }
}



