section.search-header {
  background-color: $green;
  text-align: center;
  position: relative;
  padding: 50px 0;
  .abs-container {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .carret {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $green;
    }
  }
  h1 {
    font-size: 58px;
    color: $gray;
    margin: 0;
  }
  h2 {
    font-size: 38px;
    color: $gray;
    margin-right: 10px;
    letter-spacing: -1.5px;
  }
  h2.white-text {
    font-size: 38px;
    color: white;
    margin-right: 0;
    letter-spacing: -1.5px;
  }
  img {
    width: 50px;
  }
}

.search-container {
  background-color: $dark-red;
  padding: 40px;
  margin: 15px;
  display: flex;
  align-items: center;
  form {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  h1 {
    color: white;
    font-size: 40px;
    margin: 0;
  }
  .search-form {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    input.text-input {
      width: 100%;
      margin: 0 15px;
      padding: 12px;
    }
  }
}


@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    form {
      flex-direction: column;
      width: 100%;
      input#user_input_autocomplete_address {
        margin: 10px 0;
        width: 100%;
      }
      input[type="submit"] {
        width: 100%;
      }
    }
    .search-form {
      flex-direction: column;
      input.text-input {
        margin: 15px 0;
      }
    }
  }
}


section.explanations {
  background-color: $light-gray;
  border-bottom: 15px solid $gray;
  padding: 0 10%;
  display: flex;
  &.padding {
    padding: 50px 10%;
  }
  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      width: 250px;
    }
    &.flex-start {
      justify-content: flex-start;
    }
  }
  .right-content {
    box-sizing: border-box;
    padding: 20px 20px;
    .item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
      p {
        margin: 0;
        font-size: 16px;
      }
      .circle {
        min-width: 34px;
        min-height: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 24px;
        font-weight: bolder;
        background-color: $green;
        margin-right: 15px;
      }
    }
  }
}


@media (max-width: 768px) {
  section.explanations {
    flex-direction: column;
  }
}



section.motivations {
  background-color: $dark-red;
  h1 {
    color: white;
    font-size: 40px;
    margin: 0;
    strong {
      color: $gray;
      margin: 0;
    }
  }
  .header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    background-image: url('https://cdn.bientotchezsoi-dev.com/images/why.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 380px;
  }
}
