section.sell-new-flat-section {
  .sell-flex-container {
    display: flex;
    align-items: stretch;
  }
  .left-block {
    flex: 8;
    padding: 20px 20px;
  }
  .right-block {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-left: 1px solid darken($light-gray,10%);
    .right-title {
      color: $gray;
      font-size: 14px;
      font-weight: bolder;
      margin-bottom: 40px;
    }
    .right-photo {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 200px;
      border-radius: 2px;
      margin-bottom: 40px;
    }
    .right-body {
      p {
        font-size: 16px;
        color: $gray;
        line-height: 1.7;
      }
      strong {
      }
    }
  }
  .title {
    text-align: center;
    font-family: "Amatic Sc";
    font-size: 32px;
    font-weight: bolder;
    padding: 50px 0;
    border-bottom: 1px solid darken($light-gray,10%);
  }
  .flat-item {
    .item-title {
      font-size: 14px;
      font-weight: bolder;
      color: $gray;
      margin-bottom: 40px;
    }
    .item-photos-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 200px;
      margin-bottom: 40px;
      .item-photo {
        height: 100%;
        width: 30%;
        overflow: hidden;
        border-radius: 2px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    .item-body {
      p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.7;
      }
    }
    .item-price {
      color: $gray;
      font-size: 16px;
      font-weight: bolder;
      margin: 25px 0;
    }
  }
}
