section.sell-header {
  background-color: $light-gray-2;
  text-align: center;
  position: relative;
  padding: 50px 0;
  .abs-container {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .carret {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $light-gray-2;
    }
  }
  h1 {
    font-size: 58px;
    color: $gray;
    margin: 0;
  }
  h2 {
    font-size: 38px;
    color: $gray;
    margin-right: 10px;
    letter-spacing: -1.5px;
  }
  h2.white-text {
    font-size: 38px;
    color: white;
    margin-right: 0;
    letter-spacing: -1.5px;
  }
  img {
    width: 50px;
  }
}


section.sell-explication {
  .difference {
    background-color: $light-gray;
    border-radius: 2px;
    padding: 25px;
    margin-bottom: 40px;
    h1 {
      font-size: 40px;
    }
    p {
      line-height: 25px;
      color: $gray;
      font-size: 16px;
      strong {
        font-weight: bolder;
      }
    }
  }
  .sell-item {
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
    align-items: center;
    .left-content {
      img {
        width: 100%;
      }
      padding-right: 30px;
      h1 {
        font-size: 40px;
      }
      p {
        color: $gray;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
        strong {
          font-weight: bolder;
        }
      }
    }
    .right-content {
      img {
        width: 100%;
      }
      h1 {
        font-size: 40px;
      }
      p {
        color: $gray;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
        strong {
          font-weight: bolder;
        }
      }
    }
  }
}



section.prices {
  padding: 50px 10%;
  background-color: $green;
  border-top: 15px solid $gray;
  border-bottom: 15px solid $gray;
  h4 {
    color: $gray;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bolder;
  }
  p {
    color: $gray;
    font-size: 16px;
    text-align: center;
  }
  small {
    display: block;
    font-style: italic;
    color: $gray;
    text-align: center;
  }
  .p-end {
    margin-bottom: 30px;
  }
}






section.i-sell-page {
  .banner {
    width: 100%;
    height: 60vh;
    background-image: url("https://cdn.bientotchezsoi-dev.com/images/estimation/estimation-banner-v2.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 60px;
        font-weight: bolder;
      }
      h2 {
        font-size: 46px;
        font-weight: bolder;
      }
    }
  }
  .sub-banner{
    background-color: $light-gray-2;
    border-radius: 4px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    .item {
      margin-bottom: 10px;
    }
  }
  .block-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Amatic Sc";
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 20px;
    .fontastic {
      line-height: 0.5 !important;
      margin-right: 8px;
    }
  }
  .block-content {
    .item {
      font-weight: normal;
      color: $gray;
      margin: 10px 0;
    }
    strong {
      font-weight: 600;
      color: $gray;
    }
  }
  .animation {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .sell-card-container {
    margin-top: 40px;
    position: relative;
    height: 300px;
    /* Set the depth of the elements */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    .sell-card {
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      /* Set the transition effects */
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      .front, .back {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;

        box-shadow: 0 4px 20px 1px #e6e6e6;
      }
      .front {
        background: white;
        color: $gray;
        font-size: 16px;
      }
      .back {
        width: 100%;
        font-size: 16px;
        color: white;
        background: $green;
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
      }
    }
    .sell-card.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
    }
    .sell-card-info-front {
      font-weight: bolder;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      img {
        margin-bottom: 30px;
      }
    }
    .sell-card-info-back {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      padding: 0 10px;
    }
    .btn-f {
      position: absolute;
      top: 85%;
    }
  }
  .sell-info {
    margin-top: 40px;
    .sell-plus {
      background-color: $dark-red;
      border-radius: 4px;
      padding: 20px;
      height: 270px;
      margin-bottom: 40px;
    }
    .sell-bulletin {
    background-color: $light-gray;
    border-radius: 4px;
    padding: 20px;
    height: 270px;
    margin-bottom: 40px;
    .testimonials-content {
      display: flex;
      flex-direction: column;
      .testi-item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        .testi-logo {
          width: 90px;
          height: 90px;
          margin-left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .testi-content {
          display: flex;
          flex-direction: column;
          .testi-user {
            font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.3px;
            color: $gray;
            margin-bottom: 10px;
          }
          .testi-text {
            font-style: italic;
            color: lighten($gray,15%);
            font-size: 15px;
          }
        }
      }
    }
  }
}
.sell-estimation {
  margin-bottom: 60px;
}

}
.mandate-item {
  background-color: $light-gray;
  border-radius: 4px;
  position: relative;
  height: 180px;
  padding: 20px;
  .mandate-title {
    text-align: center;
    font-family: "Amatic Sc";
    font-size: 28px;
    color: $gray;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .mandate-info {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.3px;
    color: $gray;
  }
  .absolute-mandate-logo-container {
    position: absolute;
    width: 100%;
    top: -25px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .mandate-logo {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50px;
      }
    }
  }
}


.white-text {
  color: white;
}
.red-text {
  color: $dark-red;
}
.gray-text {
  color: $gray;
}

.button-container {
  margin: 25px 0;
}


.bottom-block {
  padding: 20px;
  border-radius: 4px;
  min-height: 550px;
  .block-header {
    display: flex;
    align-items: center;
    font-family: "Amatic Sc";
    font-size: 34px;
    font-weight: bolder;
  }
  &.green {
    display: flex;
    flex-direction: column;
    background-color: $green;
    .suggestion-text {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
  &.gray {
    min-height: auto !important;
    display: flex;
    flex-direction: column;
    background-color: $light-gray-2;
    height: 450px;
    .estimation-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
      .estimation-item-left {
        margin-right: 20px;
        display: flex;
        align-items: center;
        .gray-circle {
          width: 22px;
          height: 22px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $light-gray-2;
          font-weight: bolder;
        }
      }
      .estimation-item-right {
        width: 90%;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}


form.new_prospect_property {
  margin-bottom: 50px;
  .form-control {
    height: 50px;
  }
  .custom-form-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: left;
    padding-bottom: 10px;
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      border-top: 1px solid rgb(200,200,200);
    }
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      border-top: 1px solid rgb(200,200,200);
    }
  }
  .radio-collections-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .custom-radio-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .radio-icon {
      margin-right: 12px;
    }
    .custom-fa {
      position: absolute;
      font-size: 8px;
      color: $green;
      right: 7px;
      top: 5px;
      transition: 0.3s;
      opacity: 0;
    }
  }
  textarea {
    min-height: 120px;
    padding-top: 16px;
  }
  span {
    input[type=radio] {
      display: none;
    }
    label {
      height: 55px;
      border: none;
      background-color: white;
      font-weight: normal;
      font-size: 16px;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
      transition: 0.3s;
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -0.4px;
      position: relative;
    }
    input[type=radio]:checked + label {
      border: 1px solid $green;
      font-weight: 600;
    }
    input[type=radio]:checked + label .custom-fa {
      opacity: 1;
    }
  }
}


@media (max-width: 768px) {
  .radio-collections-container {
    flex-direction: column;
  }
  form.new_prospect_property {
    padding: 0 10px;
    span {
      width: 100%;
      label {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.custom-price-input-container {
  position: relative;
  .form-control {
    height: 60px !important;
    border: none;
    border-radius: 3px;
    margin-bottom: 40px;
    padding-right: 50px;
  }
  textarea.form-control {
    border: none;
    border-radius: 4px;
  }
  .absolute-hint {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}


.form-header-red {
  .big {
    font-family: "Amatic Sc";
    font-weight: bolder;
    color: $dark-red;
    font-size: 34px;
  }
  .small {
    color: $gray;
    font-weight: 600;
    font-size: 14px;
  }
}


.custom-form-big-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
  color: $green;
  letter-spacing: -0.4px;
  margin: 25px 0;
  .font-resize {
    line-height: 0.6;
    margin-right: 8px;
  }
}


.big-block {
  border-radius: 4px;
  background-color: $light-gray;
  padding: 20px;
  margin-bottom: 25px;
  .content-text {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  .block-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .content-text-bolder {
    font-weight: bolder;
    text-align: center;
  }
  .form-control {
    border: none;
  }
  textarea.form-control {
    min-height: 120px;
  }
  .block-header {
    display: flex;
    align-items: center;
    font-family: "Amatic Sc";
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 20px;
    .fontastic-icon {
      font-size: 30px;
      margin-right: 8px;
      line-height: 0.6;
    }
  }
}



.evaluation-explication {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid rgb(240,240,240);
  color: rgb(100,100,100);
}

.sell-page-form-block {
  padding: 20px;
  background-color: $light-gray;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  .inline-form-inputs {
    .form-control {
      border: none;
    }
  }
}

@media (max-width: 768px) {
  section.i-sell-page {
    .banner-content {
      h1 {
        font-size: 46px !important;
        text-align: center;
      }
      h2 {
        font-size: 39px !important;
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  section.i-sell-page {
    .sell-plus {
      height: 100% !important;
    }
    .sell-bulletin {
      height: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  section.i-sell-page {
    .bottom-block {
      height: 100% !important;
    }
  }
}

