.resend-link {
  span.resend-code-link {
    margin-left: 5px;
    font-weight: 800;
    color: $dark-red;
    cursor: pointer;
  }
}

.form-title-signup {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.form-title {
  font-size: 14px !important;
  color: darken($gray,20%);
  font-weight: 600 !important;
}
