.vvv-sentence-container {
  font-family: "Cerebri Sans";
  padding: 20px;
  font-size: 1.5rem;
  background-color: lighten($green,20%);
  color: $gray;
  margin: 20px 0;
  border-radius: 5px;
  .dynamic-attribute {
    font-weight: 700;
    color: darken($green,15%);
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: underline;
  }
  .sentence-container-title {
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}
