.outter-demand-path {
  display: flex;
  align-items: center;
  color: $dark-red;
  padding: 5px 10px;
  border: 1px solid $dark-red;
  margin: 20px 0;
  font-size: 16px;
}

.survey-value {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  label {
    font-size: 16px;
    color: $green;
    i {
      color: $green;
    }
  }
  input {
    padding: 8px 8px;
    outline: none;
    border: 1px solid $green;
    border-radius: 3px;
    color: lighten($gray,10%);
    font-weight: bolder;
    &:focus {
      border: 2px solid $green;
      color: $green;
    }
  }
}

.edit-demand-title {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  font-family: "Amatic Sc";
  letter-spacing: 1px;
  height: 50px;
  background-color: $gray;
}
