section.team-page {
  .header {
    img {
      width: 100%;
    }
  }
  .story {
    padding: 50px 15%;
    h4 {
      font-size: 32px;
      color: $dark-red;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $gray;
    }
  }
  .business {
    padding: 50px 10%;
    background-color: $dark-red;
    border-top: 15px solid $gray;
    h4 {
      font-size: 36px;
      color: white;
    }
    .business-item {
      margin: 20px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 25px;
      background-color: $light-gray;
      border-radius: 2px;
      img {
        height: 60px;
        margin-bottom: 10px;
      }
      h4 {
        font-family: "Open Sans";
        font-size: 16px;
        color: $gray;
        font-weight: bolder;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        color: $gray;
      }
    }
  }
  .team {
    padding: 50px 10%;
    h4 {
      font-size: 36px;
      color: $dark-red;
    }
    .team-item {
      display: flex;
      align-items: stretch;
      padding: 30px;
      background-color: $light-gray;
      margin: 30px 0;
      border-radius: 2px;
      .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 35px;
        img {
          width: 180px;
        }
      }
      .content {
        h4 {
          font-family: "Open Sans";
          font-weight: bolder;
          font-size: 20px;
          color: $gray;
          margin: 0;
        }
        .job-title {
          font-size: 16px;
          color: lighten($gray, 25%);
          margin: 10px 0;
        }
        p {
          font-size: 16px;
          color: $gray;
          line-height: 26px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.team-page {
    .team {
      .team-item {
        flex-direction: column;
        .photo {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}





section.team-page-v2 {
  .team-member-card {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    .card-top {
      margin-bottom: 25px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .member-photo-card {
        width: 250px;
        height: 240px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        background-color: rgb(245,245,245);
        .photo-card-top {
          flex: 8;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .photo-card-bottom {
          flex: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          font-family: "Amatic Sc";
          font-weight: bolder;
          color: $gray;
        }
      }
    }
    .card-bottom {
      flex: 1;
      padding: 20px;
      .member-title {
        letter-spacing: -0.4px;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 6px;
      }
      .member-body {
        font-weight: 600;
        letter-spacing: 0.3px;
        color: slategray;
      }
    }
  }
  .sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    .sub-header-text {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 38px;
      color: $dark-red;
    }
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    .banner-content {
      text-align: center;
      font-weight: bolder;
      font-family: "Amatic Sc";
      color: white;
      font-size: 46px;
    }
  }
  .team-blocks {
    padding: 50px 15%;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: minmax(100px, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "aa aa bb bb"
      "aa aa bb bb"
      "aa aa cc cc"
      "aa aa cc cc";
    .block {
      padding: 25px;
      border-radius: 4px;
      .content {
        font-weight: 600;
        opacity: 0.9;
        line-height: 1.6;
      }
      .block-header {
        .fontastic {
          font-size: 20px;
        }
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-family: "Amatic Sc";
        font-size: 30px;
        font-weight: bolder;
        .change-font {
          font-family: "Open Sans";
          font-weight: bolder;
          letter-spacing: -0.3px;
          font-size: 16px;
        }
        &.white-text {
          color: white;
        }
      }
    }
    .gray {
      background-color: $light-gray;
      grid-area: aa;
      position: relative;
      padding-top: 40px;
      .absolute-block-icon {
        position: absolute;
        height: 40px;
        top: -20px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .abs-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background-color: $dark-red;
          .icon-team-question {
            color: white;
            line-height: 0.7;
            font-size: 23px;
          }
        }
      }
    }
    .red {
      background-color: $dark-red;
      grid-area: bb;
    }
    .green {
      background-color: $green;
      grid-area: cc;
    }
  }
  .overtake-block {
    border-radius: 4px;
    width: 600px;
    margin: 80px auto;
    padding: 25px;
    background-color: $light-gray-2;
    .header {
      font-family: "Amatic Sc";
      font-size: 30px;
      font-weight: bolder;
      color: $gray;
      .icon-title-pro {
        color: $gray;
        font-size: 26px;
        margin-right: 10px;
      }
    }
    .content {
      margin: 25px 0;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .horizontal-block {
    display: flex;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 25px;
    .block-left {
      flex: 1;
      .kenotte-photo-card {
        width: 250px;
        height: 240px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        background-color: rgb(245,245,245);
        .photo-card-top {
          flex: 8;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .photo-card-bottom {
          flex: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          font-family: "Amatic Sc";
          font-weight: bolder;
          color: $gray;
        }
      }
    }
    .block-right {
      margin-left: 50px;
      flex: 4;
      .title {
        margin-bottom: 6px;
        font-family: "Open Sans";
        letter-spacing: -0.3px;
        color: $gray;
        font-size: 18px;
      }
      .body {
        font-weight: 600;
        letter-spacing: 0.4px;
        color: slategray;
      }
    }
  }
}




.team-behind-container {
  display: flex;
  height: 140px;
  padding: 20px;
  background-color: rgb(240,240,240);
  .left-block {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 50%;
    }
  }
  .right-block {
    flex: 8;
    .right-block-top {
      height: 50%;
      display: flex;
      align-items: center;
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 34px;
    }
    .right-block-bottom {
      height: 50%;
      display: flex;
      align-items: center;
    }
  }
}


.team-behind-wrapper {
  padding: 0 15%;
  margin-bottom: 50px;
}


@media (max-width: 768px) {
  section.team-page-v2 .team-blocks {
    display: block;
    padding: 25px 5%;
    .block {
      margin-bottom: 20px;
    }
  }
  .team-behind-wrapper {
    padding: 0 5%;
  }
  .team-behind-container {
    flex-direction: column;
    height: auto;
    .left-block {
      justify-content: center;
    }
    .right-block {
      .right-block-top {
        font-size: 22px;
        justify-content: center;
        margin: 20px 0;
      }
      .right-block-bottom {
        justify-content: center;
      }
    }
  }
}
