.typeform-results-container {
  font-family: "Cerebri Sans";
  padding: 100px 180px;
  .typeform-item {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 25px;
    font-size: 1.7rem;
    background-color: rgb(240,240,245);
    .typeform-item-field {
      margin-bottom: 10px;
      background-color: rgb(255,255,255);
      padding: 10px;
      border-radius: 4px;
      .field-ref {
        font-weight: 800;
      }
      .reflocation {
        font-weight: 800;
        color: tomato;
      }
    }
  }
}


.typeform-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.3rem;
  font-family: "Cerebri Sans";
  border-radius: 4px;
  background-color: rgb(230,230,235);
  margin-bottom: 20px;
  .field-item {
    padding: 10px;
    background-color: rgb(250,250,255);
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .bold {
    margin-right: 10px;
    letter-spacing: -0.3px;
  }
  .thin {
    display: flex;
    align-items: center;
  }
  .badge {
    font-size: 0.9rem !important;
    background-color: tomato;
    text-transform: uppercase;
    margin-left: 10px;
  }
}
