.user-results-recap-header {
  width: 100%;
  height: 36px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $green;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

.pdf-results-recap-header {
  width: 100%;
  display: block;
  padding: 6px;
  text-align: left;
  color: white;
  background-color: $green;
  font-weight: 600;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 24px;
}

.answers-container:last-child {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .answers-container:last-child {
    margin-bottom: 110px;
  }
}

.answer-item {
  padding: 10px;
  margin: 10px 0;
  margin-right: 10px;
  border: 1px solid $gray;
}

.answer-checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  .checked-value {
    position: relative;
    margin-right: 8px;
    .checked-icon {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $green;
      width: 3px;
      height: 3px;
      box-shadow:
        2px 0 0 $green,
        4px 0 0 $green,
        4px -2px 0 $green,
        4px -4px 0 $green,
        4px -6px 0 $green,
        4px -8px 0 $green;
      transform: rotate(45deg);
    }
    small {
      margin-right: 10px;
      background-color: transparent;
    }
  }
  label {
    display: flex;
    width: 100%;
    align-items: center;
    strong {
      color: $green;
      font-size: 12px;
    }
  }
  .title {
    font-weight: 800;
    font-size: 12px;
    color: $green;
    margin-right: 6px;
  }
  .small-rect {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 1px;
    background-color: lighten($gray,50%);
    margin-bottom: 5px;
  }
  .value {
    font-size: 12px;
    font-weight: 600;
    margin-left: 4px;
    .dark-value {
      color: $gray;
      &.passed {
        color: lighten($gray,40%);
        font-weight: 600;
      }
    }
  }
}

.checked-input-count {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  font-weight: bolder;
  color: #3f3b49;
  margin-bottom: 25px;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: -35px;
}

// #validate-criterias {
//   display: none;
// }

.important-criterias {
  .title {
    font-family: "Open Sans";
  }
  .content {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 6px;
    .sub-title {
      font-size: 14px;
      color: $green;
      font-weight: bolder;
    }
  }
}

.criterias-success-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bolder;
  color: $gray;
}


@media(max-width: 768px) {
  .checked-input-count {
    flex-direction: column;
    font-size: 1.3rem;
  }
}









.answer-checkbox-container-pdf {
  width: 100%;
  display: block;
  .checked-value {
    position: relative;
    margin-right: 8px;
    .checked-icon {
      display: inline-block;
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $green;
      width: 3px;
      height: 3px;
      box-shadow:
        2px 0 0 $green,
        4px 0 0 $green,
        4px -2px 0 $green,
        4px -4px 0 $green,
        4px -6px 0 $green,
        4px -8px 0 $green;
      transform: rotate(45deg);
    }
    display: inline-block;
    small {
      margin-right: 10px;
      background-color: transparent;
    }
  }
  label {
    margin: 0;
    strong {
      color: $green;
    }
  }
  .title {
    display: inline;
    font-weight: 600;
    font-size: 12px;
    color: $green;
    margin-right: 6px;
  }
  .value {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    width: 60%;
    .dark-value {
      color: $gray;
      &.passed {
        color: lighten($gray,40%);
        font-weight: 600;
      }
    }
  }
}
