.v2-customer-content {
  width: calc(100% - 200px);
  padding: 50px;
  .v2-dashboard-header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    filter: contrast(1.5);
    .text {
      font-size: 2.5rem;
      font-weight: 800;
      color: white;
    }
  }
  .v2-responsive-second-content-item-container-hidden {
    // display: flex;
    display: none;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    .v2-responsive-container {
      width: 100%;
      height: 100%;
      display: flex;
      .v2-responsive-items {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    // .v2-responsive-right-container {
    //   width: 100%;
    //   height: 100%;
    //   display: flex;
    //   .v2-responsive-right-items {
    //     height: 100%;
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column;
    //   }
    // }
  }
}

@media (max-width: 990px) {
  .v2-responsive-second-content-item-container-hidden {
    display: flex !important;
  }
}

@media (max-width: 740px) {
  .v2-responsive-block-properties {
    padding: 0 !important;
  }
  .v2-responsive-block-property-button {
    width: 50% !important;
  }
  .v2-responsive-rank-avatar {
    width: 70px !important;
  }
  .responsive-infos-right-container {
    padding: 15px !important;
    .responsive-top-right-container {
      font-size: 1.4rem !important;
    }
    .responsive-between-right-container {
      font-size: 1.4rem !important;
    }
    .responsive-bottom-right-container {
      font-size: 1.4rem !important;
    }
  }
}

// ######## ADVICES BLOCK ####### //

.v2-responsive-block-advices {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  .v2-responsive-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-responsive-block-content {
    flex: 1;
  }
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.v2-responsive-blog-post {
  height: 100%;
  display: flex;
  align-items: center;
  .post-image {
    width: 40%;
    height: 100%;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .post-content {
    width: 60%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .post-name {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      padding-bottom: 10px;
    }
    .post-title {
      font-size: 1.4rem;
      padding: 10px 0;
    }
    .post-link {
      padding-top: 10px;
      a {
        color: tomato ;
        font-weight: 600 ;
        font-size: 1.6rem ;
        transition: all 1s cubic-bezier(.25,.8,.25,1);
        &:hover {
          color: limegreen;
        }
      }
    }
  }
}

// ######## PROGRESSION BLOCK ####### //

.v2-responsive-block-progression {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-responsive-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .v2-responsive-block-header {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }
    .v2-responsive-block-sub-header {
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
    }
    .v2-responsive-block-content {
      font-size: 1.6rem;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
    }
    .v2-responsive-block-hint {
      font-size: 1.6rem;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
    }
  }
  .v2-responsive-right-block {
    display: flex;
  }
}

// ######## GIFT BLOCK ####### //

.v2-responsive-block-gift {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-responsive-left-block {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
    flex: 1;
  }
  .v2-responsive-right-block {
    height: 100%;
    flex: 3;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    .v2-responsive-block-sup-header {
      display: flex;
      color: $dark-red;
      font-size: 2.5rem;
      font-weight: bolder;
    }
    .v2-responsive-block-sub-header {
      display: flex;
      color: $gray;
      font-size: 2.5rem;
      font-weight: bolder;
    }
    .v2-responsive-block-content {
      display: flex;
      color: $gray;
      font-size: 1.6rem;
      margin-top: 15px;
    }
  }
}

// ######## PROPERTIES BLOCK ####### //

.v2-responsive-block-properties {
  width: 100%;
  height: 100%;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  .v2responsive--block-property-button {
    width: 40%;
    margin: auto;
  }
  .v2-responsive-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-responsive-block-empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .v2-responsive-block-empty-content-text {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
  }
  .v2-responsive-block-property {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: stretch;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
    .responsive-photo-left-container {
      width: 30%;
      height: 100%;
      border-radius: 3px 0 0 3px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .responsive-infos-right-container {
      width: 70%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      .responsive-top-right-container {
        display: flex;
        justify-content: space-between;
        color: $dark-red;
        font-size: 1.8rem;
        font-weight: bolder;
        margin-bottom: 10px;
      }
      .responsive-between-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .responsive-bottom-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .v2-customer-property-button {
        z-index: 1;
        width: 30px;
        height: 30px;
        color: white;
        background: #b0c365;
        border-radius: 50%;
        border: none;
        transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
        transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
        transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
        top: 77%;
        right: 2%;
        cursor: pointer;
      }
    }
  }
  .shake {
    animation: shake 500ms infinite ease-in-out alternate;
    &:hover {
      animation: paused;
    }
  }
  .v2-responsive-block-property-button {
    width: 40%;
    margin: auto;
  }
}

// ######## PARTNERS BLOCK ####### //

.v2-responsive-block-partners {
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-responsive-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-responsive-block-content {
    font-size: 1.6rem;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
  }
  .v2-responsive-block-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// ######## SOCIALS BLOCK ####### //

.v2-responsive-block-socials {
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  &.green {
    background-color: $green;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-responsive-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-responsive-block-links {
    display: flex;
    justify-content: space-evenly;
  }
}



