section.v2-customer-dashboard {
  .v2-customer-dashboard-property-container {
    font-family: "Cerebri Sans", sans-serif;
    .v2-customer-dashboard-property-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 200px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin-bottom: 10px;
      .v2-header-image-container {
        width: 33%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .v2-customer-dashboard-property-title {
        width: 100%;
        font-size: 4rem;
        font-weight: bolder;
        color: white;
        top: 35%;
        text-align: center;
      }
      .v2-customer-dashboard-property-images-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: rgba(0,0,0,.3);
      }
    }
    .v2-customer-dashboard-property-tabs-container{
      width: 100%;
      height: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      padding: 10px;
      #tabs {
        font-family: "Open Sans", sans-serif;
        font-weight: bolder;
        a {
          color: rgba($gray, .3);
          background-color: transparent;
          border: none;
        }
      }
      .customer-absolute-message-count {
        left: 80%;
        top: -10%;
        background-color: $dark-red;
        color: white;
        border-radius: 50%;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        font-weight: bolder;
      }
      #content { margin: 2em; width: 100%; }
      #content2, #content3, #content4 { display: none; width: 95%; }
      .tab-activated {
        border-bottom: 3px solid $green;
        a {
          background-color: transparent;
          border: none;
          color: $green !important;
          &:hover {
            background-color: transparent;
            border: none;
          }
        }
      }
      #content1 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 95%;
        .v2-property-description-header {
          font-weight: bolder;
          color: $gray;
          font-size: 3.4rem;
          width: 100%;
          margin-bottom: 10px;
        }
        .v2-property-description-subheader {
          margin-bottom: 20px;
        }
      }
    }
    .v2-customer-dashboard-property-faq {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      .v2-customer-faq-header {
        font-size: 2.2rem;
        font-weight: 800;
        letter-spacing: -0.3px;
        color: $gray;
        display: flex;
        justify-content: flex-start;
        margin-top: 25px;
        margin-bottom: 10px;
      }
      .v2-customer-faq-top-container, .v2-customer-faq-bottom-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
      }
      .left-container {
        width: 100%;
        padding-right: 5px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
      }
      .right-container {
        width: 100%;
        padding-left: 5px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
      }
      .faq-visible {
        width: 100%;
        background-color: $light-gray-2;
        color: $gray;
        font-weight: 400;
        padding: 15px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        img {
          right: 10px;
        }
        img:hover {
          transition: all .5s ease-out;
          transform: rotateZ(45deg);
          cursor: pointer;
        }
        .content {
          font-weight: 400;
          letter-spacing: -0.3px;
          font-size: 1.6rem;
        }
      }
      .faq-hidden {
        background-color: $light-gray-2;
        border-radius: 0 0 3px 3px;
        height: 0px;
        overflow: hidden;
        transition: all 0.7s ease-out;
      }
      .v2-faq-container-button {
        margin: auto;
        margin-top: 30px;
      }
    }
  }
}
.v2-property-description-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  margin-bottom: 30px;
  font-family: "Cerebri Sans", sans-serif;
  .v2-property-description-right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    .top-image-container {
      width: 100%;
      padding-bottom: 10px;
      .main-photo-container {
        width: 100%;
        height: 250px;
        border-radius: 3px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .bottom-images-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 10px;
      a {
        width: 24%;
        height: 100%;
      }
      .property-photo {
        width: 100%;
        height: 100px;
        border-radius: 3px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
          animation: shake-animation-hover-me 1500ms infinite;
        }
      }
    }
  }
  .v2-property-description-left-container {
    width: 40%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    .top-information-container {
      width: 100%;
      text-align: center;
      background-color: tomato;
      border-radius: 3px 3px 0 0;
      padding: 20px;
      .price {
        font-size: 2.8rem;
        font-weight: 800;
        letter-spacing: -0.3px;
        color: white;
      }
    }
    .bottom-information-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      background-color: $light-gray;
      border-radius: 0 0 3px 3px;
      font-weight: bolder;
    }
  }
}

@keyframes shake-animation-hover-me {
  0%{
    transform: rotate(0deg)
  }
  10%{
    transform: rotate(-1deg)
  }
  20%{
    transform: rotate(1deg)
  }
  30%{
    transform: rotate(0deg)
  }
  40%{
    transform: rotate(2deg)
  }
  50%{
    transform: rotate(1deg)
  }
  60%{
    transform: rotate (-1deg)
  }
  70%{
    transform: rotate(2deg)
  }
  80%{
    transform: rotate(1deg)
  }
  90%{
    transform: rotate(0)
  }
  100%{
    transform: rotate(1deg)
  }
}

.v2-property-description-corps {
  width: 100%;
  display: flex;
  flex-direction: column;
  .corps-header {
    font-weight: bolder;
    color: $green;
    font-size: 2.8rem;
    width: 100%;
    margin-bottom: 10px;
  }
  .corps-text {
    font-weight: 500;
    color: $gray;
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 10px;
  }
}
.v2-property-description-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .details-left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    .v2-about-general, .v2-about-inside, .v2-about-diagnostic {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .general-header, .inside-header, .diagnostic-header {
        font-weight: 600;
        color: $green;
        font-size: 2.4rem;
        width: 100%;
        margin-bottom: 5px;
      }
      .general-contents-container, .inside-contents-container, .diagnostic-contents-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .content, .content-field {
          margin-bottom: 5px;
          font-size: 1.6rem;
        }
        .content-field {
          font-weight: bolder;
        }
      }
      .diagnostic-contents-container {
        height: 100px;
        .scale-diagnostic-performance {
          transform: scale(1.2);
          border: 1px solid black;
        }
        .contents-left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .contents-right {
          justify-content: space-between;
          flex-direction: column;
          display: flex;
        }
        .dpe-container, .ges-container {
          display: flex;
        }
        .dpe-container {
          .one {
            background-color: #008000;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .two {
            background-color: #32cd32;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .three {
            background-color: #99ff33;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .four {
            background-color: #ffff00;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .five {
            background-color: #ffcc00;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .six {
            background-color: #ffa500;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .seven {
            background-color: #e60000;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
          }
        }
        .ges-container {
          .one {
            background-color: #cc99ff;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .two {
            background-color: #cc66ff;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .three {
            background-color: #cc33ff;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .four {
            background-color: #cc00ff;
            padding: 5px 7px;
            color: black;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .five {
            background-color: #9900cc;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .six {
            background-color: #730099;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
            margin-right: 1px;
          }
          .seven {
            background-color: #600080;
            padding: 5px 7px;
            color: white;
            font-weight: bolder;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .details-right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    .v2-about-localisation, .v2-about-outside {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .localisation-header, .outside-header {
        font-weight: 600;
        color: $green;
        font-size: 2.4rem;
        width: 100%;
        margin-bottom: 5px;
      }
      .localisation-contents-container, .outside-contents-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
        .content, .content-field {
          margin-bottom: 5px;
          font-size: 1.6rem;
        }
        .content-field {
          font-weight: bolder;
        }
      }
      #property-map {
        height: 200px;
        width: 100%;
        .leaflet-bottom .leaflet-right {
          display: none;
        }
      }
    }
  }
}
.v2-property-description-button {
  margin: auto;
  margin-top: 50px;
}
#content2 {
  height: 500px;
  width: 95%;
  .v2-property-messages-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    .v2-property-messages-left {
      width: 70%;
      height: 100%;
      padding-right: 10px;
      border: 1px solid $green;
      border-radius: 5px;
    }
    .v2-property-messages-right {
      width: 30%;
      height: 100%;
      padding-left: 10px;
      .v2-agency-about-property {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $light-gray;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 5px;
        padding: 25px;
        height: 100%;
        width: 100%;
        word-wrap: break-word;
        .agency-avatar {
          width: 100px;
          height: 100px;
        }
        .avatar {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .agency-name {
          width: 100%;
          text-align: center;
          padding-top: 25px;
          .name {
            font-weight: bolder;
            font-size: 1.6rem;
            color: $gray;
          }
        }
        .separate-agency-line {
          border: .5px solid $gray;
          width: 100%;
          margin-top: 25px;
        }
        .agency-informations {
          height: 45%;
          width: 100%;
          text-align: center;
          margin-top: 25px;
        }
        .empty-information {
          font-size: 1.4rem;
          font-weight: 500;
        }
        .informations {
          font-size: 1.4rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          .informations-header {
            font-size: 1.8rem;
            color: $gray;
            font-weight: bolder;
            width: 100%;
            margin-bottom: 10px;
            .personal {
              color: $green;
              font-size: 1.6rem;
            }
          }
          .informations-fields {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 1.6rem;
            .email, .phone, .address {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

#services {
  .v2-property-services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .v2-property-services-header {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      .services-header {
        font-size: 2.2rem;
        font-weight: 800;
        letter-spacing: -0.3px;
        margin-bottom: 20px;
      }
    }
    .v2-property-services-partners-container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      .v2-partner-left {
        padding-right: 5px;
        width: 100%;
      }
      .v2-partner-right {
        padding-left: 5px;
        width: 100%;
      }
      .v2-partner-block {
        width: 100%;
        height: 190px;
        border-radius: 5px;
        background-color: lighten($light-gray-2,10%);
        display: flex;
        flex-direction: column;
        padding: 20px;
        .partner-logo {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 75%;
          }
        }
        .partner-content {
          font-weight: 400;
          color: $gray;
          padding: 10px 0;
          text-align: center;
        }
        .partner-link {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          align-items: center;
          background-color: rgba($gray, 0.7);
          display: flex;
          justify-content: center;
          opacity: 0;
          border-radius: 5px;
          cursor: pointer;
          .fa-external-link {
            color: white;
            font-size: 3rem;
            font-weight: bolder;
          }
          &:hover {
            transition: all .3s ease-out;
            opacity: 1;
          }
        }
      }
      .v2-customer-property-button {
        z-index: 1;
        width: 30px;
        height: 30px;
        color: white;
        background: $green;
        border-radius: 50%;
        border: none;
        transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
        top: 75%;
        right: 3%;
        cursor: pointer;
        &:after{
          content: "+";
          font-size: 2em;
          line-height: 1.1em;
          top: -2px;
          right: 7px;
          position: absolute;
        }
        &:hover{
            box-shadow: 0 0 1px 15px rgba($green, 0.4),
            0 0 1px 30px rgba($green, 0.1),
            0 0 1px 45px rgba($green, 0.1);
        }
      }
    }
  }
}

#visits {
  width: 95%;
  .v2-property-visits-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .v2-property-visits-landing-block {
      height: 250px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .v2-property-visits-landing-content {
        font-size: 2.2rem;
        letter-spacing: -0.3px;
        font-weight: 800;
        text-align: center;
      }
      .clock {
        width: 15rem;
        height: 15rem;
        border: 10px solid $green;
        border-radius: 50%;
        position: relative;
        padding: 2rem;
        box-shadow:
          0 0 0 4px rgba(0,0,0,0.1),
          inset 0 0 0 3px #EFEFEF,
          inset 0 0 10px black,
          0 0 10px rgba(0,0,0,0.2);
      }
      .clock-face {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-3px);
      }
      .hand {
        width: 50%;
        height: 6px;
        background: $dark-red;
        position: absolute;
        top: 50%;
        border-radius: 5px;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      }
    }
  }
}


@media (max-width: 1070px) {
  .v2-customer-dashboard-property-container {
    padding-right: 10px !important;
  }
}

@media (max-width: 840px) {
  .v2-property-description-details {
    flex-direction: column;
    .details-left-container, .details-right-container {
      width: 100% !important;
    }
    .details-right-container {
      padding-left: 0 !important;
    }
  }
  .v2-property-services-partners-container {
    flex-direction: column;
    .v2-partner-left {
      padding-right: 0 !important;
      padding-bottom: 10px;
    }
    .v2-partner-right {
      padding-left: 0 !important;
    }
  }
}

@media (max-width: 540px) {
  .nav-tabs {
    display: flex;
    overflow-x: scroll;
  }
  #content {
    margin: 1em !important;
  }
  #content1 {
    .v2-property-description-header {
      font-size: 2.4rem !important;
    }
    .v2-property-description-container {
      flex-direction: column;
      .v2-property-description-right-container {
        width: 100% !important;
        .main-photo-container {
          height: 150px !important;
        }
        .property-photo {
          height: 50px !important;
        }
      }
      .v2-property-description-left-container {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 10px;
        padding-top: 10px;
        .bottom-information-container {
          height: 140px !important;
        }
      }
    }
    .content-field {
      font-size: 1.4rem !important;
      width: 100%;
    }
    .content {
      font-size: 1.4rem !important;
    }
  }
  .v2-customer-faq-header {
    font-size: 1.8rem !important;
  }
}



.v2-property-description-header {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: -0.3px;
}

.v2-property-description-subheader {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 25px;
}















