section.v2-survey-section {
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  position: relative;
  padding: 75px;
  font-family: "Cerebri Sans";
  #orange-form {
    position: absolute;
    height: 50%;
    right: 0%;
    top: 15%;
    z-index: -1;
  }
  #green-form {
    position: absolute;
    height: 30%;
    left: 0%;
    bottom: -8%;
    z-index: -1;
  }
  .v2-textarea {
    display: flex;
    width: 600px;
    height: 250px;
  }
  textarea {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 15px;
  }
  .v2-textarea {
    width: 360px;
    height: 200px;
  }
  input[type="text"] {
    border-radius: 4px;
    border: none;
    outline: none;
    height: 46px;
    padding-left: 12px;
    font-weight: 400;
    font-size: 1.6rem;
  }
  input[type="text"].currency-input {
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 5px;
  }
  .incremental-numeric-input {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    input {
      border-radius: 4px;
      border: none;
      outline: none;
      height: 40px;
      width: 80px;
      padding-left: 34px;
      font-weight: 700;
      font-size: 18px;
      margin: 0 15px;
      user-select: none;
      appearance: none;
      -webkit-user-select: none;
      -webkit-appearance: none;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }
    .increment-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $gray;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .inline-svg {
        svg {
          width: 14px;
          height: 14px;
          fill: white;
        }
      }
    }
  }
  .customer-answers-container {
    display: flex;
    flex-direction: column;
    .response-customer-item {
      padding: 10px 16px;
      background-color: lighten(orange, 45%);
      border-radius: 4px;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      .response-label {
        font-weight: 700;
        font-size: 1.4rem;
        color: orange;
      }
      .response-content {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
  .btn {
    &:focus {
      outline: none;
      background-color: transparent;
    }
    &.visited {
      outline: none;
      background-color: transparent;
    }
    &:hover {
      outline: none;
      background-color: transparent;
    }
  }
  .question-form {
    padding: 20px;
    border-radius: 0.8rem;
    background-color: #eeeaea;
    position: relative;
    .custom-carret-container {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -14px;
      display: flex;
      align-items: center;
      justify-content: center;
      .custom-carret {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        background-color: #eeeaea;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 7;
      }
    }
  }
  .question-item {
    .answers-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      margin: 10px 0;
      .solo-image {
        .inline-svg {
          svg {
            height: 120px;
            width: 180px;
          }
        }
      }
      .multitype-container {
        .multitype-radio-container {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .multitype-text-container {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input[type="radio"] {
          display: none;
        }
        label {
          width: 100px;
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 400;
          padding: 9px 12px;
          border-radius: 4px;
          background-color: rgb(245,245,245);
          margin-bottom: 8px;
          margin-left: 5px;
          margin-right: 5px;
          cursor: pointer;
          user-select: none;
        }
        input[type="radio"] + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f00c";
          color: rgba(50,50,50,0.2);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: lightgray;
        }
        input[type="radio"]:checked + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f00c";
          color: rgba(255,255,255,0.7);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: orange;
        }
        input[type="radio"]:checked + label {
          background-color: lighten(orange,45%);
          font-weight: 500;
        }
      }
      .checkboxes-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
      }
      .checkbox-with-image {
        margin: 0 15px;
        flex: 1;
        input[type="checkbox"] {
          display: none;
        }
        label {
          padding: 10px;
          width: 100%;
          border-radius: 4px;
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          user-select: none;
          .label-text {
            font-size: 1.6rem;
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: 400;
            text-align: center;
          }
          .inline-svg {
            svg {
              width: 80px;
              height: 80px;
            }
          }
        }
        input[type="checkbox"] + label:before {
          font-family: 'FontAwesome';
          content: "\f04d";
          color: white;
          font-size: 2rem;
          order: 2;
        }
        input[type="checkbox"]:checked + label:before {
          font-family: 'FontAwesome';
          content: "\f046";
          color: $green;
          font-size: 2rem;
          order: 2;
        }
      }
      .radios-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .radio-with-image {
        margin: 0 15px;
        flex: 1;
        input[type="radio"] {
          display: none;
        }
        label {
          padding: 2px;
          width: 100%;
          border-radius: 4px;
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          user-select: none;
          .label-text {
            font-size: 1.6rem;
            margin-top: 10px;
            font-weight: 400;
            text-align: center;
          }
          .inline-svg {
            svg {
              width: 80px;
              height: 80px;
            }
          }
          &:before {
            font-family: 'FontAwesome';
            content: "\f1db";
            order: 2;
            font-size: 2rem;
            margin-top: 5px;
          }
          .inline-svg {
            svg {
              width: auto;
              height: 100px;
            }
          }
        }
        input[type="radio"]:checked + label:before {
          font-family: 'FontAwesome';
          content: "\f00c";
          color: $green;
          order: 2;
          font-size: 2rem;
          margin-top: 5px;
        }
      }
      .v2-checkbox {
        position: relative;
        width: 100%;
        .answer-keycode {
          position: absolute;
          top: 6px;
          right: 9px;
          border-radius: 3px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          font-size: 1.5rem;
          font-weight: 600;
          color: white;
          background-color: orange;
        }
        label {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 400;
          padding: 9px 12px;
          border-radius: 4px;
          background-color: rgb(245,245,245);
          margin-bottom: 8px;
          cursor: pointer;
          user-select: none;
        }
        input[type="checkbox"] {
          display: none;
        }
        input[type="checkbox"] + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f00c";
          color: rgba(50,50,50,0.2);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: lightgray;
        }
        input[type="checkbox"]:checked + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f00c";
          color: rgba(255,255,255,0.7);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: orange;
        }
        input[type="checkbox"]:checked + label {
          background-color: lighten(orange,45%);
          font-weight: 500;
        }
      }
      .v2-radio {
        position: relative;
        width: 100%;
        .answer-keycode {
          position: absolute;
          top: 6px;
          right: 9px;
          border-radius: 3px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          font-size: 1.5rem;
          font-weight: 600;
          color: white;
          background-color: orange;
        }
        label {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 400;
          padding: 9px 12px;
          border-radius: 4px;
          background-color: rgb(245,245,245);
          margin-bottom: 8px;
          cursor: pointer;
          user-select: none;
        }
        input[type="radio"] {
          display: none;
        }
        input[type="radio"] + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f00c";
          color: rgba(50,50,50,0.2);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: lightgray;
        }
        input[type="radio"]:checked + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f00c";
          color: rgba(255,255,255,0.7);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: orange;
        }
        input[type="radio"]:checked + label {
          background-color: lighten(orange,45%);
          font-weight: 500;
        }
      }
    }
    .question-label {
      font-weight: 600;
      font-size: 1.7rem;
      letter-spacing: -0.2px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      .question-attribute {
        font-size: 1.3rem;
        font-weight: 500;
        color: rgb(170,170,180);
        margin-left: 10px;
      }
      .question-required {
        margin-left: 10px;
        font-size: 1.3rem;
        font-weight: 500;
        color: rgb(170,170,180);
      }
      .question-position {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-size: 1.2rem;
        color: white;
        margin-right: 8px;
      }
    }
  }
}

.form-buttons-block {
  height: 50px;
  width: 100%;
  .fa-spin {
    font-size: 2.2rem;
    color: $green;
  }
}


.vvv-survey-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Cerebri Sans";
  font-weight: 400;
  .position {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    margin-right: 10px;
    background-color: orange;
    color: white;
    font-size: 12px;
  }
  .required {
    font-size: 11px;
    color: white;
    font-weight: 600;
    margin-left: 7px;
    padding: 3px 6px;
    background-color: $dark-red;
    border-radius: 3px;
    &.optionnal {
      background-color: $green;
    }
  }
  .resume {
    font-weight: 600;
    font-size: 16px;
  }
  .label-demand {

  }
}

.vvv-answer-container {
  font-family: "Cerebri Sans";
  margin: 10px 0;
  .vvv-title {
    font-weight: 700;
    margin-bottom: 10px;
  }
  .vvv-answer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 8px 11px;
    border-radius: 4px;
    background-color: rgb(245,245,255);
    font-size: 16px;
    .answer-identifier {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      font-size: 11px;
      margin-left: 10px;
      background-color: rgb(245,70,80);
      color: white;
    }
    .answer-type {
      padding: 2px 5px;
      border-radius: 12px;
      background-color: $gray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      font-weight: 700;
      margin-left: 10px;
      color: white;
      width: auto;
      &.pink {
        background-color: pink;
      }
    }
    .answer-score {
      padding: 2px 5px;
      color: white;
      font-weight: 800;
      font-size: 1.1rem;
      letter-spacing: -0.4px;
      background-color: mediumvioletred;
      border-radius: 3px;
    }
  }
}

.vvv-conditions-container {
  font-family: "Cerebri Sans";
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgb(230,230,240);
  .vvv-condition-item {
    display: flex;
    align-items: center;
    font-weight: 600;
    .children-operator {
      font-weight: 800;
      color: #f54650;
      margin: 0 6px;
      &.orange {
        color: orange;
      }
    }
    .condition-field {
    }
    .inline-svg {
      margin: 0 10px;
      svg {
        width: 14px;
        height: 14px;
        fill: orange;
      }
    }
  }
}


.vvv-full-survey {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid lighten($gray,40%);
  margin-bottom: 20px;
}

.vvv-survey-label {
  font-family: "Cerebri Sans";
  font-weight: 600;
}


.vvv-radio-input {
  font-family: "Cerebri Sans";
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  input[type="radio"] {
    display: none;
  }
  label {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(230,230,240);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 8px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    .position-hint {
      font-size: 10px;
      font-weight: 800;
      position: absolute;
      top: -28px;
      color: white;
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      padding: 3px 7px;
      background-color: rgb(70,235,80);
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 100%;
        width: 3px;
        height: 9px;
        background-color: rgb(70,235,80);
      }
    }
  }
  input[type="radio"]:checked + label {
    background-color: rgb(70,235,80);
    color: white;
  }
  input[type="radio"]:checked + label:before {
    content: '';
  }
}





.custom-reorder-btn {
  font-family: "Cerebri Sans";
  padding: 4px 8px;
  border-radius: 3px;
  color: white;
  background-color: rgb(70,235,80);
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
  border: none;
  outline: none;
}

.vvv-new-question {
  font-family: "Cerebri Sans";
  padding: 25px;
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  margin-bottom: 20px;
  .custom-radio-new-question {
    input[type="radio"] {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      border-radius: 3px;
      font-weight: 500;
      margin-right: 7px;
      background-color: rgb(240,240,250);
      cursor: pointer;
      user-select: none;
    }
    input[type="radio"]:checked + label {
      background-color: $green;
      color: white;
    }
  }
  .title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.7rem;
  }
  .custom-radio-new-answer {
    input[type="radio"] {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      border-radius: 3px;
      font-weight: 500;
      margin-right: 7px;
      background-color: rgb(240,240,250);
      cursor: pointer;
      user-select: none;
    }
    input[type="radio"]:checked + label {
      background-color: $green;
      color: white;
    }
  }
  .title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.7rem;
  }
}


.client-side-condition-hint {
  border-radius: 4px;
  background-color: rgb(230,230,230);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: lightslategray;
  font-size: 1.8rem;
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 10px;
  .hint-content {
    margin-left: 10px;
  }
}


.conditional-question {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  color: lightseagreen;
}





.full-sentence {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  .inline-svg {
    margin-right: 40px;
    svg {
      width: 70px;
      height: 70px;
    }
  }
  .custom-carret-container {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    .custom-carret {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: $green;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 7;
    }
  }
}

.full-sentence-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  .inline-svg {
    margin-left: 40px;
  }
  .custom-carret-container {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    .custom-carret {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: $green;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 7;
    }
  }
}


.fullform-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  .customer-avatar {
    margin-left: 40px;
    svg {
      width: 70px;
      height: 70px;
    }
  }
}


.sentence-container {
  font-size: 1.6rem;
  padding: 28px;
  color: $gray;
  background-color: $green;
  border-radius: 0.8rem;
  position: relative;
  max-width: 520px;
  .bold {
  }
}

.sentence-container.transparent {
  font-size: 1.6rem;
  padding: 20px;
  color: $gray;
  background-color: transparent;
  border-radius: 0.8rem;
  position: relative;
  max-width: auto;
}

.full-sentence.criterias-sentence {
  justify-content: center;
  margin-bottom: 10px;
  .inline-svg {
    margin-right: 10px;
    svg {
      width: 130px;
      height: 100px;
    }
  }
}

@media (max-width: 768px) {
  .full-sentence.criterias-sentence {
    margin-bottom: 10px !important;
    .inline-svg {
      display: none !important;
    }
  }
}


.v2-text {
  position: relative;
  margin: 0 5px;
  .answer-unit {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    right: 13px;
    font-size: 1.6rem;
    color: rgb(160,160,160);
  }
}


.hint-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
  margin-top: 20px;
  .inline-svg {
    margin-right: 8px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}


.input-text-with-image {
  .inline-svg {
    margin-bottom: 10px;
    svg {
      width: 180px;
      height: 100px;
    }
  }
}




@media (max-width: 900px) {
  .kenotte-container, .answer-container {
    justify-content: center !important;
    .kenotte-wrapper, .kennote-wrapper-advice, .answer-wrapper {
      font-size: 1.6rem !important;
      margin-right: 0px !important;
    }
    .answer-wrapper {
      &:after {
        display: none;
      }
    }
  }
  .customer-avatar {
    display: none;
  }
  .answer-btn {
    .btn {
      font-size: 1.6rem !important;
    }
  }
  .hint-container {
    .hint-label {
      font-size: 1.4rem !important;
    }
  }
}

@media (max-width: 768px) {
  section.v2-survey-section {
    padding: 18px;
    #orange-form, #green-form {
      display: none;
    }
    .v2-textarea {
      display: flex;
      width: 100%;
      height: 160px;
    }
    textarea {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid rgb(220,220,230);
      outline: none;
      font-weight: 400;
      font-size: 1.6rem;
      padding: 15px;
    }
    .fullform-container {
      .customer-avatar {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eeeaea;
        z-index: 5;
        .inline-svg {
          width: 26px;
          height: 26px;
        }
      }
    }
    .question-container {
      padding: 14px;
      .full-sentence {
        margin-bottom: 40px;
        position: relative;
        .sentence-container {
          width: 100%;
          font-size: 1.4rem;
          .custom-carret-container {
            display: none;
          }
        }
        .inline-svg {
          position: absolute;
          top: -20px;
          left: -20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $green;
          z-index: 5;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .inline-svg-with-advice {
          position: absolute;
          top: -20px;
          left: -20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ced893;
          z-index: 5;
          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
      .question-form {
        width: 100%;
        .question-item {
          .answers-container {
            .hint-container {
              justify-content: center;
            }
            .solo-image {
              margin-bottom: 15px;
              .inline-svg {
                svg {
                  height: 60px;
                }
              }
            }
            .answer-responsive-container {
              flex-direction: column;
              width: 100%;
              input {
                margin-bottom: 10px;
              }
              .v2-text {
                width: 100%;
                .answer-unit {
                  height: calc(100% - 10px);
                }
                input {
                  width: 100% !important;
                }
              }
            }
            .checkboxes-container {
              flex-direction: column;
              .checkbox-with-image {
                label {
                  flex-direction: row;
                  padding: 5px;
                  .label-text {
                    margin-top: 0;
                    font-size: 1.4rem;
                    margin: 0 10px;
                  }
                  .inline-svg {
                    svg {
                      height: 30px;
                      width: 30px;
                    }
                  }
                }
              }
            }
            .radios-container {
              flex-direction: column;
              .radio-with-image {
                width: 100%;
                label {
                  margin-bottom: 10px;
                  flex-direction: row;
                  justify-content: space-between;
                  width: 100%;
                  .label-text {
                    margin-top: 0;
                    margin: 0 14px;
                    font-size: 1.4rem;
                    text-align: start;
                    flex: 1;
                  }
                  .inline-svg {
                    svg {
                      width: 30px;
                      height: 30px;
                    }
                  }
                }
              }
            }
          }
        }
        .custom-carret-container {
          display: none;
        }
        .kenotte-wrapper, .kennote-wrapper-advice, .answer-wrapper {
          font-size: 1.4rem !important;
        }
        .kenotte-wrapper, .kenotte-wrapper-advice {
          margin-left: 0px !important;
          &:after {
            display: none;
          }
        }
        .answer-wrapper {
          text-align: start !important;
        }
        .kenotte-avatar {
          display: none;
        }
        .kenotte-conseil {
          display: none;
        }
        .answer-container {
          margin-top: 20px !important;
          .answer-image, .question-image {
            display: none;
          }
          .answer-items {
            flex-direction: column !important;
            align-items: self-start;
            .v2-radio {
              padding: 0px !important;
              label {
                flex-direction: row !important;
              }
              input[type="text"] {
                width: 100%;
              }
              .v2-input-container {
                margin-top: 15px;
                .comment-input {
                  top: -30%;
                }
              }
            }
          }
          .answer-btn {
            .btn {
              font-size: 1.4rem !important;
            }
          }
          .hint-container {
            flex-direction: column;
            align-items: baseline;
            .hint-image svg {
              height: 15px;
            }
            .hint-label {
              font-size: 1.2rem !important;
            }
          }
        }
      }
    }
  }
}



.question-item {
  .answers-container {
    .radio-pair {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      input {
        display: none;
      }
      label {
        font-size: 1.6rem;
        font-weight: 400;
      }
      label.positive-input:before {
        font-family: 'FontAwesome';
        font-size: 1rem;
        content: "\f00c";
        margin-right: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        color: $green;
        background-color: $green;
        position: relative;
        top: -2px;
      }
      input:checked + label.positive-input:before {
        font-family: 'FontAwesome';
        font-size: 1rem;
        content: "\f00c";
        margin-right: 6px;
        position: relative;
        top: -2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        color: white;
        background-color: $green;
      }
      label.negative-input:before {
        font-family: 'FontAwesome';
        font-size: 1rem;
        content: "\f00c";
        margin-right: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        color: $dark-red;
        background-color: $dark-red;
        position: relative;
        top: -2px;
      }
      input:checked + label.negative-input:before {
        font-family: 'FontAwesome';
        font-size: 1rem;
        content: "\f00c";
        margin-right: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        color: white;
        background-color: $dark-red;
        position: relative;
        top: -2px;
      }
    }
  }
}


.radio-pair-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.radio-pair-start {
  display: flex;
  width: 21%;
  margin-bottom: 20px;
}



.absolute-max-budget-hint {
  position: fixed;
  width: 100%;
  bottom: 100px;
  padding: 25px;
  background-color: lightcoral;
  color: white;
  font-family: "Cerebri Sans";
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}



@media (max-width: 768px) {
  .radio-pair-start {
    width: 49%;
  }
  .absolute-max-budget-hint {
    font-size: 1.4rem;
  }
  .form-buttons-block {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 1px 16px rgba(200,200,200,0.3);
  }
}


section.criterias-container {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
  .criterias-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .criteria-item {
      width: 100%;
    }
  }
  .title {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: -0.4px;
    margin-bottom: 15px;
    text-align: center;
  }
}


@media (max-width: 768px) {
  section.criterias-container {
    flex-direction: column;
    margin-bottom: 100px;
  }
  form.criterias-form-v2 {
    .criteria-item {
      label .thin {
        display: none;
      }
    }
  }
}



form.criterias-form-v2 {
  input[type="checkbox"] {
    display: none;
  }
  label {
    color: $gray;
    cursor: pointer;
    font-size: 1.48rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 6px 9px;
    border-radius: 4px;
    background-color: white;
    .bold {
      font-weight: 600;
    }
    .thin {
      font-weight: 400;
    }
  }
  input[type="checkbox"]:checked + label {
    color: white;
    font-weight: 600;
    background-color: lighten($green,2%);
  }
  input[type="checkbox"]:checked + label .bold {
    color: white;
  }
  input[type="checkbox"]:checked + label .thin {
    color: $green;
  }
}


section.summary {
  font-family: "Cerebri Sans";
  min-height: calc(100vh - 60px);
  padding: 100px;
  .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: tomato;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
  }
  .sub-title {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .summary-items-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .summary-item {
      width: 49%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;
      padding: 20px;
      border-radius: 4px;
      border: 1px solid rgb(230,230,245);
      margin-bottom: 15px;
    }
    .summary-value {
      .bold {
        margin-right: 10px;
      }
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}


@media (max-width: 768px) {
  section.summary {
    padding: 20px;
    .summary-items-container {
      .summary-item {
        width: 100%;
      }
    }
  }
}


.customer-persona {
  position: relative;
  .inline-svg {
    margin: 20px 0;
    z-index: 5;
    svg {
      width: 90px;
      height: 90px;
    }
  }
}



























span.svg {
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  margin: auto;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    margin: auto;
  }
}
@keyframes fireworkone {
  0%   { opacity: 0;}
  25%  { opacity: .15;}
  50%  { opacity: .3;}
  75%  { opacity: .15;}
  100% { opacity: 0;}
}
@keyframes fireworktwo {
  0%   { opacity: 0;}
  25%  { opacity: .45;}
  50%  { opacity: .8;}
  75%  { opacity: .45;}
  100% { opacity: 0;}
}
@keyframes fireworthree {
  0%   { opacity: 0;}
  25%  { opacity: .55;}
  50%  { opacity: 1;}
  75%  { opacity: .55;}
  100% { opacity: 0;}
}

.firework-icon .cls-1, .firework-icon .cls-2, .firework-icon .cls-3 {
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.firework-icon .cls-3 {
  animation-name: fireworthree;
  animation-delay: .11s; }

.firework-icon .cls-2 {
  animation-name: fireworktwo;
  animation-delay: .41s; }

.firework-icon .cls-1 {
  animation-name: fireworkone;
  animation-delay: .71s;}

@keyframes elastic-pulse {
  0%   { transform: scale(0.2);}
  100% { transform: scale(1);}
}

.img-firework {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: elastic-pulse;
  animation-delay: 0s;
}




@media (max-width: 768px) {
  .solo-image {
    display: none;
  }
  .input-text-with-image {
    display: none;
  }
}


.input-hint-v2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50px;
  width: 100%;
  color: tomato;
  padding: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .input-hint-text {
    font-size: 1.38rem;
    font-weight: 700;
    letter-spacing: -0.35px;
  }
  .inline-svg {
    margin-right: 10px;
  }
}



.specific-fields-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(230,230,230);
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}




.bordered-error-input {
  border: 2px solid tomato !important;
}

.custom-error-message {
  .fa {
    font-size: 1.3rem;
    margin-right: 6px;
    padding-top: 2px;
  }
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 6px;
  color: tomato;
  letter-spacing: -0.4px;
  position: absolute;
  left: 0;
  bottom: -28px;
  justify-content: center;
  width: 100%;
}




.pac-container.pac-logo:after {
  display: none !important;
}

.pac-container {
  padding-top: 5px !important;
  padding-bottom: 15px !important;
  font-family: "Cerebri Sans" !important;
  font-size: 1.6rem !important;
  box-shadow: none !important;
  border-radius: none !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none !important;
  border-left: 1px solid rgb(230,230,230);
  border-right: 1px solid rgb(230,230,230);
  border-bottom: 1px solid rgb(230,230,230);
  .pac-item {
    font-size: 1.6rem !important;
    span.pac-item-query {
      font-family: "Cerebri Sans" !important;
      color: tomato !important;
      font-size: 1.6rem !important;
    }
    span {
      font-family: "Cerebri Sans" !important;
    }
  }
}


.fees-hint {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

@media (max-width: 768px) {
  .fees-hint {
    width: 90%;
  }
  section.v2-survey-section {
    .v2-textarea {
      width: 100%;
    }
  }
}

.oversize-surface-hint {
  font-weight: 600;
  letter-spacing: -0.3px;
  color: rgba(255,255,255,0.8);
  margin-top: 5px;
}




