.v2-customer-properties-container {
  width: 100%;
  height: 100%;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  .v2-customer-properties-header {
    width: 100%;
    font-weight: 800;
    font-size: 2.2rem;
    letter-spacing: -0.3px;
    color: $gray;
    margin-bottom: 5px;
  }
  .v2-customer-properties-header-hidden {
    width: 100%;
    font-weight: bolder;
    font-size: 2.4rem;
    color: $gray;
    margin-bottom: 3px;
    display: none;
    text-align: center;
  }
  .v2-customer-properties-subheader {
    width: 100%;
    font-size: 1.8rem;
    color: $gray;
    margin-bottom: 50px;
  }
  .v2-customer-property-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: stretch;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
    background-color: $light-gray;
    .photo-left-container {
      width: 45%;
      height: 100%;
      border-radius: 3px 0 0 3px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .infos-right-container {
      width: 55%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 2.2rem;
        font-weight: 800;
        letter-spacing: -0.3px;
        .main-infos {
          color: $gray;
        }
        .price {
          color: $dark-red;
        }
      }
      .between-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        .detail {
          align-items: center;
          display: flex;
          img {
            margin-right: 6px;
          }
        }
      }
      .bottom-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
      }
    }
  }
}


.already-give-choice-button {
  .like-text {
    margin-top: 5px;
    font-weight: 600;
  }
}


.custom-ajax-link-deactivated {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
}


.customer-choice-right-container {
  display: flex;
  justify-content: space-around;
  .custom-ajax-link {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    cursor: pointer;
  }
  .unlike-ajax, .unlike {
    transition: all 1s ease-out;
    &:hover {
      background-color: $dark-red;
    }
  }
  .like-ajax, .like {
    img {
      &:hover {
        animation: shake-like-choice 2500ms infinite;
      }
    }
  }
  .like-text, .unlike-text {
    width: 150%;
    top: 100%;
    right: -35%;
    font-weight: 600;
  }
}
.v2-customer-property-button {
  z-index: 1;
  width: 30px;
  height: 30px;
  color: white;
  background: $green;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
  top: 263px;
  right: 10px;
  cursor: pointer;
  &:after{
    content: "+";
    font-size: 2em;
    line-height: 1.1em;
    top: -2px;
    right: 7px;
    position: absolute;
  }
  &:hover{
      box-shadow: 0 0 1px 15px rgba($green, 0.4),
      0 0 1px 30px rgba($green, 0.1),
      0 0 1px 45px rgba($green, 0.1);
  }
}


@keyframes shake-like-choice {
  0% {
    transform: scale(1.2)
  }
  10% {
    transform: scale(1)
  }
  20% {
    transform: scale(1.2)
  }
  30% {
    transform: scale(1)
  }
  40% {
    transform: scale(1.2)
  }
  50% {
    transform: scale(1)
  }
  60% {
    transform: scale(1.2)
  }
  70% {
    transform: scale(1)
  }
  80% {
    transform: scale(1.2)
  }
  90% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}

@media (max-width: 740px) {
  .v2-customer-properties-container {
    .v2-customer-properties-header {
      display: none;
    }
    .v2-customer-properties-header-hidden {
      display: block !important;
    }
    .v2-customer-properties-subheader {
      font-size: 1.6rem !important;
      text-align: center;
    }
    .v2-customer-property-container {
      flex-direction: column;
      .infos-right-container {
        width: 100% !important;
        height: 60% !important;
        padding: 10px !important;
        .top-right-container {
          font-size: 1.8rem !important;
        }
        .between-right-container, .bottom-right-container {
          font-size: 1.4rem !important;
        }
        .bottom-right-container {
          position: absolute;
          top: -60%;
        }
        .localisation {
          background-color: rgba($green, .5);
          padding: 3px;
          border-radius: 3px;
        }
        .v2-customer-property-button {
          top: 78% !important;
        }
      }
      .photo-left-container {
        width: 100% !important;
        height: 40% !important;
        border-radius: 3px 3px 0 0 !important;
      }
      .customer-choice-right-container {
        justify-content: flex-start !important;
        img {
          width: 20px !important;
        }
        .like-text, .unlike-text {
          width: 200% !important;
          right: -60% !important;
        }
        .like-ajax, .unlike-ajax {
          margin-bottom: 5px !important;
        }
        .unlike-ajax {
          margin-right: 50px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .v2-customer-properties-container {
    .v2-customer-property-container {
      width: 100% !important;
    }
  }
}

@media (max-width: 760px) {
  .v2-customer-faq-top-container, .v2-customer-faq-bottom-container {
    flex-direction: column;
    .left-container {
      padding-right: 0 !important;
      padding-bottom: 10px;
    }
    .right-container {
      padding-left: 0 !important;
    }
  }
}

@media (max-width: 540px) {
  #content1 {
    .customer-choice-right-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      right: 0;
      background-color: white;
      z-index: 10000;
      height: 100px;
      .like, .unlike {
        border-radius: 0 !important;
        display: flex;
        box-shadow: none !important;
        justify-content: center;
        width: 50% !important;
        margin-bottom: 0 !important;
      }
      .unlike {
        background-color: rgba($light-gray, .3) !important;
      }
      .like-text, .unlike-text {
        width: 150%;
        top: 75%;
        right: -75%;
      }
    }
  }
}


.v2-customer-empty-props-container {
  margin-top: 25px;
  font-size: 1.8rem;
  .bold {
    font-weight: 700;
    letter-spacing: -0.3px;
    text-align: center;
  }
  .thin {
    font-weight: 400;
    text-align: center;
  }
}















