.v2-stepper-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  .v2-stepper {
    width: 70%;
    height: 14px;
    display: flex;
    position: relative;
    .item-step-25 {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: $gray;
      position: absolute;
      left: 25%;
      top: 15%;
      z-index: 3;
      border-radius: 50%;
      &:hover + .item-step-25-hint {
        opacity:1 !important;
        visibility: visible !important;
      }
    }
    .item-step-25-hint {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 12.5%;
      bottom: 400%;
      color: #3f3b49;
      font-weight: 600;
      border: 2px solid #3f3b49;
      border-radius: 5px;
      padding: 10px;
      transition: all 1.5s;
    }
    .item-step-50 {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: $gray;
      position: absolute;
      left: 50%;
      top: 15%;
      z-index: 3;
      border-radius: 50%;
      &:hover + .item-step-50-hint {
        opacity:1 !important;
        visibility: visible !important;
      }
    }
    .item-step-50-hint {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 35%;
      bottom: 400%;
      color: $green;
      font-weight: 600;
      border: 2px solid $green;
      border-radius: 5px;
      padding: 10px;
      transition: all 1.5s;
    }
    .item-step-75 {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: $gray;
      position: absolute;
      left: 75%;
      top: 15%;
      z-index: 3;
      border-radius: 50%;
      &:hover + .item-step-75-hint {
        opacity:1 !important;
        visibility: visible !important;
      }
    }
    .item-step-75-hint {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 65%;
      bottom: 400%;
      color: $green;
      font-weight: 600;
      border: 2px solid $green;
      border-radius: 5px;
      padding: 10px;
      transition: all 1.5s;
    }
    .v2-dynamic-position-green {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: $green;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .v2-dynamic-position-yellow {
      position: absolute;
      left: 0px;
      height: 100%;
      background-color: $yellow;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .v2-dynamic-position-red {
      position: absolute;
      left: 0px;
      height: 100%;
      background-color: $dark-red;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  #house-stepper svg, #search-stepper svg {
    height: 45px;
    position: absolute;
  }
  #house-stepper svg {
    right: 13%;
    top: -10%;
    z-index: 1;
  }
  #search-stepper svg {
    left: 13%;
    top: -10%;
    z-index: 1;
  }
}



@media (max-width: 900px) {
  #house-stepper svg {
    right: 11% !important;
  }
  #search-stepper svg {
    left: 11% !important;
  }
}

@media (max-width: 768px) {
  .v2-stepper-container {
    display: none;
    #house-stepper svg, #search-stepper svg {
      height: 30px;
      top: 10%,
    }
    #house-stepper svg {
      right: 8%;
    }
    #search-stepper {
      left: 8%;
    }
    .v2-stepper {
      height: 12px;
    }
  }
}




