section.v2-customer-dashboard {
  min-height: calc(100vh - 60px);
  font-family: "Cerebri Sans";
  display: flex;
}

.v2-customer-content {
  width: calc(100% - 200px);
  padding: 50px;
  .v2-content-item-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    .v2-left-item {
      flex: 2;
      margin-right: 20px;
    }
    .v2-right-item {
      flex: 2;
    }
  }
  .v2-second-content-item-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    .v2-left-container {
      width: 100%;
      height: 100%;
      display: flex;
      padding-right: 10px;
      .v2-left-items {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .v2-right-container {
      width: 100%;
      height: 100%;
      display: flex;
      padding-left: 10px;
      .v2-right-items {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 990px) {
  .v2-second-content-item-container {
    display: none !important;
  }
  .v2-customer-content {
    width: 100% !important;
  }
}

@media (max-width: 740px) {
  .v2-customer-dashboard {
    .v2-content-item-container {
      flex-direction: column;
      .v2-left-item {
        margin-right: 0 !important;
        margin-bottom: 20px !important;
      }
      .v2-right-item {
        .buttons {
          margin-top: 15px;
        }
      }
    }
    .v2-customer-content {
      padding: 10px !important;
      .v2-block-demand {
        padding: 15px !important;
      }
    }
  }
}

// ######## CUSTOMER BLOCK ####### //

.v2-block-customer {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Cerebri Sans", sans-serif;
  .v2-block-content {
    flex: 1;
  }
  .v2-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    .inline-svg {
      svg {
        height: 30px;
        width: 30px;
        g {
          path {
            fill: tomato;
          }
        }
      }
    }
  }


  .block-content-text {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &.opacity-white {
    background-color: white;
    border: 1px solid rgb(230,230,235);
    transition: all 1.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
    }
  }
}

// ######## DEMAND BLOCK ####### //

.v2-block-demand {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Cerebri Sans", sans-serif;
  .v2-block-criterias {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    &.white {
      color: white;
    }
  }
  .v2-block-resume {
    font-size: 1.75rem;
    letter-spacing: -0.1px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    .inline-svg {
      opacity: 0.7;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .budget-text {
      font-size: 1.7rem;
      font-weight: 400;
      letter-spacing: -0.3px;
    }
    .inline-svg {
      margin-right: 10px;
    }
    &.white {
      color: white;
    }
  }
  .v2-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    &.white {
      color: white;
      font-weight: 700;
    }
  }
  &.red {
    .separator {
      height: 100%;
      margin: 0 10px;
    }
    background-color: $green;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .v2-block-demand {
    .budget-text {
    }
  }
}

// ######## ADVICES BLOCK ####### //

.v2-block-advices {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Cerebri Sans", sans-serif;
  .v2-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-block-content {
    flex: 1;
  }
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.v2-blog-post {
  height: 100%;
  display: flex;
  align-items: center;
  .post-image {
    width: 40%;
    height: 100%;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .post-content {
    width: 60%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .post-name {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      padding-bottom: 10px;
    }
    .post-title {
      font-size: 1.4rem;
      padding: 10px 0;
    }
    .post-link {
      padding-top: 10px;
      a {
        color: tomato;
        font-weight: 700;
        font-size: 1.6rem;
        transition: all 1s cubic-bezier(.25,.8,.25,1);
        &:hover {
          color: $green;
        }
      }
    }
  }
}

// ######## PROGRESSION BLOCK ####### //

.v2-block-progression {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .v2-block-header {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }
    .v2-block-sub-header {
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
    }
    .v2-block-content {
      font-size: 1.6rem;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
    }
    .v2-block-hint {
      font-size: 1.6rem;
      letter-spacing: -0.3px;
      display: flex;
      align-items: center;
    }
  }
  .v2-right-block {
    display: flex;
  }
}

// ######## GIFT BLOCK ####### //

.v2-block-gift {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-family: "Cerebri Sans", sans-serif;
  .pdf-customer-request-container {
    .pdf-customer-request-big-text {
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: -0.3px;
    }
    .pdf-customer-request-small-text {
      font-weight: 400;
      font-size: 1.2rem;
    }
    .inline-svg {
      margin-top: 40px;
      margin-bottom: 35px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
  &.gray {
    background-color: $light-gray;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
    }
  }
  .v2-left-block {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
    flex: 2;
  }
  .v2-right-block {
    height: 100%;
    flex: 3;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Cerebri Sans", sans-serif;
    .form-control {
      border: none;
    }
    .v2-block-sup-header {
      display: flex;
      color: tomato;
      font-size: 2rem;
      font-weight: bolder;
      letter-spacing: -0.3px;
    }
    .v2-block-sub-header {
      display: flex;
      color: $gray;
      font-size: 2rem;
      font-weight: bolder;
      letter-spacing: -0.3px;
    }
    .v2-block-content {
      display: flex;
      color: $gray;
      font-size: 1.6rem;
      margin-top: 15px;
    }
  }
}

// ######## PROPERTIES BLOCK ####### //

.v2-block-properties {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Cerebri Sans", sans-serif;
  .v2-block-property-button {
    width: 40%;
    margin: auto;
  }
  .v2-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-block-property-empty {
    display: flex;
    flex-direction: column;
  }
  .v2-block-empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .v2-block-empty-content-text {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
  }
  .v2-block-property {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: stretch;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
    .photo-left-container {
      width: 30%;
      height: 100%;
      border-radius: 3px 0 0 3px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .infos-right-container {
      width: 70%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      .top-right-container {
        display: flex;
        justify-content: space-between;
        color: tomato;
        font-size: 1.8rem;
        letter-spacing: -0.3px;
        font-weight: bolder;
        margin-bottom: 10px;
      }
      .between-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .bottom-right-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .v2-customer-property-button {
        z-index: 1;
        width: 30px;
        height: 30px;
        color: white;
        background: $green;
        border-radius: 50%;
        border: none;
        transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
        top: 135px;
        right: 5px;
        cursor: pointer;
        &:after{
          content: "+";
          font-size: 2em;
          line-height: 1.1em;
          top: -2px;
          right: 7px;
          position: absolute;
        }
        &:hover{
            box-shadow: 0 0 1px 15px rgba($green, 0.4),
            0 0 1px 30px rgba($green, 0.1),
            0 0 1px 45px rgba($green, 0.1);
        }
      }
    }
  }
}

// ######## PARTNERS BLOCK ####### //

.v2-block-partners {
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  &.gray {
    background-color: $light-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-block-content {
    font-size: 1.6rem;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
  }
  .v2-block-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// ######## SOCIALS BLOCK ####### //

.v2-block-socials {
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Cerebri Sans", sans-serif;
  &.green {
    background-color: $green;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  .v2-block-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .v2-block-links {
    display: flex;
    justify-content: space-evenly;
  }
}

// ########## CSS ABOUT HANDLE AVATAR HELPER ########## //

.petit-prince {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #12c2e9;
}

.aladdin {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8E2DE2;
}

.amelie-poulain {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ED213A;
}

.cesar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1eec3;
}

.churchill {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bdc3c7;
}

.cleopatre {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DECBA4;
}

.coco-chanel {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BE5869;
}

.kurt-cobain {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6DD5FA;
}

.leia {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DECCE3;
}

.raiponce {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc0cb;
}

.sissi {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBD3E9;
}

.van-gogh {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CAC531;
}



.v2-block-badges {
  padding: 20px;
  border-radius: 4px;
  font-family: "Cerebri Sans";
  background-color: $gray;
  color: white;
  margin-bottom: 20px;
  &.green {
    background-color: $green;
  }
  &.white {
    background-color: rgb(240,240,245);
    color: $gray;
  }
  .block-badge-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .block-badge-content {
    display: flex;
    &.aligned-items {
      align-items: center;
      margin-bottom: 14px;
    }
    .badge-left-content {
      flex: 10;
      font-size: 1.6rem;
      .link {
        a {
          height: 32px;
          min-height: 100%;
          padding: 0 9px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $gray;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      .badge-header {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 15px;
        letter-spacing: -0.3px;
      }
      .social-links-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        padding-right: 15px;
      }
      .title {
        font-weight: 500;
        opacity: 0.8;
      }
      .title-bigger {
        font-weight: 400;
        font-size: 1.75rem;
        opacity: 0.8;
      }
      .blog-author {
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0.7;
        color: rgb(140,140,150);
      }
      .content {
        font-weight: 300;
        opacity: 0.8;
      }
      .content-with-margin {
        margin: 6px 0;
        font-weight: 300;
        opacity: 0.8;
      }
    }
    .badge-right-content {
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      &.start {
        justify-content: flex-start;
        flex: unset;
        padding-right: 16px;
      }
      .circled-image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
      }
      .custom-svg-container-v2 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: lighten($green,20%);
        display: flex;
        align-items: center;
        justify-content: center;
        .inline-svg {
          svg {
            width: 50%;
          }
        }
      }
      .inline-svg {
        svg {
          width: 120px;
          height: 100px;
        }
      }
    }
  }
}

.v2-block-blog-post {
  padding: 20px;
  border-radius: 4px;
  font-family: "Cerebri Sans";
  background-color: $light-gray-2;
  margin-bottom: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  .block-blog-post-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-bottom: 15px;
  }
  .block-blog-post-content {
    display: flex;
    flex: 1;
    .block-blog-post-up {
      flex: 2;
      background-position: center;
      background-size: cover;
      border-radius: 4px;
    }
    .block-blog-post-bottom {
      flex: 3;
      padding: 0 15px;
      font-size: 1.65rem;
      opacity: 0.9;
      .block-blog-post-title {
        font-weight: 600;
        margin-bottom: 10px;
        letter-spacing: -0.3px;
      }
    }
  }
}

.v2-block-customer-properties {
  height: 560px;
  padding: 20px;
  background-color: $light-gray-2;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  .v2-block-customer-props-link-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .v2-block-customer-props-header {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .v2-block-customer-props-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .v2-block-customer-prop-item {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    height: 30%;
    position: relative;
    .v2-customer-property-button-absolute {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px 10px;
      font-weight: 600;
      font-size: 1.3rem;
      background-color: tomato;
      color: white;
      border-top-left-radius: 4px;
    }
    .v2-block-customer-prop-item-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .detail {
        font-size: 1.6rem;
      }
      &.big-red {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: -0.3px;
      }
    }
    .v2-block-customer-prop-item-left {
      flex: 3;
      background-position: center center;
      background-size: cover;
    }
    .v2-block-customer-prop-item-right {
      flex: 7;
      background-color: white;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}


.v2-block-property-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  img {
    width: 50%;
  }
  .v2-block-empty-content-text {
    .bold {
      letter-spacing: -0.3px;
      font-size: 1.6rem;
      margin-bottom: 5px;
    }
    margin-top: 25px;
    font-size: 1.5rem;
    padding: 0 10%;
    text-align: center;
  }
}

section.v2-customer-dashboard#selection {
  font-family: "Cerebri Sans";
  .selection-items-container {
    .selection-item {
      display: flex;
      align-items: center;
      background-color: rgb(245,245,250);
      border-radius: 4px;
      margin-bottom: 20px;
      height: 100px;
      padding: 20px;
      #star-rating {
        flex: 1;
      }
      .prop-desc-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .prop-desc-price {
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: -0.4px;
          margin: 0 10px;
          color: tomato;
        }
        .prop-desc-area {
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: -0.4px;
          margin: 0 10px;
        }
        .prop-desc-rooms {
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: -0.4px;
          margin: 0 10px;
        }
      }
      .prop-infos-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        .prop-title {
          font-size: 1.8rem;
          font-weight: 700;
        }
        .prop-localisation {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }
  }
  .selection-subheader {
    font-size: 1.85rem;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .selection-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    .inline-svg {
      margin-right: 10px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: lighten(tomato,20%);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 65%;
        width: 65%;
      }
    }
    .selection-header-text {
      font-size: 2.2rem;
      font-weight: 800;
      letter-spacing: -0.3px;
    }
  }
}

.star-rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .inline-svg.active {
    margin: 0 2px;
    svg {
      fill: #ffdc64;
      width: 20px;
    }
  }
  .inline-svg.inactive {
    margin: 0 2px;
    svg {
      fill: lightgray;
      width: 20px;
    }
  }
}

.star-rating-created-date {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  opacity: 0.6;
}

.coming-soon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 179px);
  .block-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: lighten(tomato,20%);
    position: relative;
    .abs-flex-container {
      position: absolute;
      width: 100%;
      bottom: -5px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .badge {
      padding: 5px 10px;
      font-size: 1rem;
      font-weight: 800;
      background-color: tomato;
      color: white;
      text-transform: uppercase;
    }
    svg {
      width: 70%;
    }
  }
  .block-text {
    margin-top: 15px;
    font-weight: 300;
    letter-spacing: -0.3px;
    font-size: 2.2rem;
  }
}





