section.v2-customer-dashboard#advices {
  .fullwidth-posts-container {
    display: flex;
    flex-direction: column;
    .fullwidth-post-item {
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      height: 200px;
      background-color: $light-gray;
      display: flex;
      margin-bottom: 20px;
      .fullwidth-post-item-photo {
        flex: 3;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .fullwidth-post-item-content {
        flex: 7;
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        position: relative;
        .fullwidth-post-item-link {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 6px 12px;
          font-size: 1.4rem;
          font-weight: 600;
          background-color: $green;
          color: white;
          border-top-left-radius: 4px;
        }
        .fullwidth-post-item-title {
          font-weight: 700;
          color: $green;
        }
        .fullwidth-post-item-reading-time {
          font-size: 1.2rem;
          font-weight: 800;
          letter-spacing: -0.2px;
          color: darken($light-gray-2,20%);
        }
        .fullwidth-post-item-truncate-content {
          font-weight: 400;
        }
        .fullwidth-post-item-created-date {
          font-size: 1.2rem;
          font-weight: 600;
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .downloadable-files-header {
    margin: 25px 0;
    font-weight: 800;
    font-size: 2.1rem;
    letter-spacing: -0.3px;
  }
  .downloadable-files-item {
    background-color: $light-gray-2;
    height: 250px;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: -0.2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .downloadable-title {
      font-weight: 800;
    }
    .downloadable-subtitle {
      font-weight: 400;
    }
    .downloadable-photo {
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      flex: 1;
      width: 60%;
      margin: 15px auto;
    }
  }
  .v2-customer-content-header {
    font-weight: 800;
    letter-spacing: -0.3px;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .inline-svg {
      margin-right: 10px;
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }
  .advice-block {
    border-radius: 5px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .advice-block-big-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex: 1;
      img {
        width: 65%;
      }
    }
    .advice-block-header {
      font-size: 1.8rem;
      font-weight: 600;
    }
    .advice-block-subheader {
      font-size: 1.5rem;
    }
    .advice-blocks-items-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      .advice-block-item {
        height: 47%;
        background-color: white;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .advice-block-item-photo {
          flex: 3;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
        .advice-block-item-content {
          height: 100%;
          flex: 6;
          padding: 15px;
          display: flex;
          flex-direction: column;
          position: relative;
          .advice-absolute-link {
            position: absolute;
            bottom: 0;
            right: 0;
            border-top-left-radius: 4px;
            padding: 6px 12px;
            font-size: 1.5rem;
            font-weight: 500;
            background-color: darken($green,15%);
            cursor: pointer;
            color: white;
            transition: 0.3s;
            a {
              color: white;
            }
            &:hover {
              background-color: darken($green,5%);
            }
          }
          .advice-item-title {
            font-weight: 700;
            font-size: 1.6rem;
            letter-spacing: -0.3px;
            color: $green;
            a {
              transition: 0.3s;
              color: $green;
              &:hover {
                color: darken($green,10%);
              }
            }
            &:hover {
              color: darken($green,10%);
            }
          }
          .advice-item-body {
            flex: 1;
            padding-top: 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
    &.green {
      background-color: $green;
    }
    &.gray {
      background-color: $light-gray;
    }
  }
}
