section.v2-survey-section {
  height: 100vh;
  .question-form {
    padding-top: 70px;
    label {
      font-weight: 400;
    }
  }
  #question-forme-orange {
    position: absolute;
    height: 50%;
    right: 0%;
    top: 15%;
    z-index: -1;
  }
  #question-forme-verte {
    position: absolute;
    height: 30%;
    left: 0%;
    bottom: -8%;
    z-index: -1;
  }
  .kenotte-container {
    position: relative;
    flex-direction: row-reverse;
    display: flex;
    align-items: flex-start;
  }
  .kenotte-container-advice {
    position: relative;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .kenotte-avatar svg {
    height: 70px;
  }
  .kenotte-conseil svg {
    height: 85px;
  }
  .customer-avatar svg {
    height: 70px;
    position: absolute;
    top: 70px;
    right: 20px;
  }
  .answer-container {
    position: relative;
  }
  .kenotte-wrapper {
    background-color: rgba(176, 195, 101, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 100px;
    position: relative;
    font-size: 1.6rem;
    &:after {
      border-right: 15px solid transparent;
      border-top: 70px solid rgba(176, 195, 101, 0.8);
      border-left: 15px solid transparent;
      content: "";
      position: absolute;
      left: -50px;
      top: 5px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .question-label {
      line-height: 27px;
      margin-bottom: 4px;
    }
  }
  .kenotte-wrapper-advice {
    background-color: $green;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 100px;
    position: relative;
    font-size: 1.8rem;
    &:after {
      border-right: 15px solid transparent;
      border-top: 70px solid $green;
      border-left: 15px solid transparent;
      content: "";
      position: absolute;
      left: -50px;
      top: 5px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  .answer-wrapper {
    background-color: #eeeaea;
    padding: 20px 40px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 200px;
    &:after {
      border-right: 15px solid transparent;
      border-top: 70px solid #eeeaea;
      border-left: 15px solid transparent;
      content: "";
      position: absolute;
      right: 150px;
      top: 70px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg)
    }
    .question-image svg {
      height: 100px;
      margin-bottom: 40px;
    }
    .answer-items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .v2-radio label:hover {
        cursor: pointer;
      }
      .v2-radio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        .answer-image svg {
          height: 100px;
          order: 1;
        }
        .answer-text {
          order: 2;
        }
        .v2-input-container {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          position: relative;
          .comment-input {
            position: absolute;
            bottom: calc(100% + 10px);
            left: 0%;
          }
          .unit-input {
            position: absolute;
            top: 20%;
            right: 5%;
            font-weight: 600;
          }
          .positive-operator svg, .negative-operator svg {
            height: 40px;
            &:hover {
              cursor: pointer;
            }
          }
          .positive-operator svg {
            margin-left: 20px;
            fill: $gray !important;
          }
          .negative-operator svg {
            margin-right: 20px;
          }
          .moins-circle {
            fill: $gray !important;
          }
        }
        .form-control {
          border: 2px solid transparent;
        }
        textarea.form-control {
          height: 120px;
          width: 500px;
        }
        input[type="radio"], input[type="checkbox"] {
          display: none;
        }
        input[type="radio"] + label:before, input[type="checkbox"] + label:before {
          font-family: 'FontAwesome';
          font-size: 1rem;
          content: "\f1db";
          border-radius: 50%;
          font-size: 1.4em;
          font-weight: 600;
          width: 1.4em;
          letter-spacing: 10px;
          order: 2;
        }
        input[type="checkbox"] + label:before {
          content: "\f04d" !important;
          -webkit-text-fill-color: white;
        }
        input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
          content: "\f00c";
          font-size: 1.4em;
          color: $green;
        }
        input[type="checkbox"]:checked + label:before {
          content: "\f046" !important;
          -webkit-text-fill-color: $green;
        }
        label {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .answer-btn {
      display: flex;
      justify-content: space-around;
    }
  }
  .hint-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .hint-image svg {
      height: 40px;
      margin-right: 10px;
    }
    .hint-label {
      text-decoration: underline;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  // SPECIALS FORMS // !!! TO IMPROVE !!!

  #question-form-8 {
    .kenotte-wrapper {
      background-color: $green;
      &:after {
        border-top: 70px solid $green;
      }
    }
  }
  .kenotte-wrapper-email-request {
    background-color: $green !important;
    &:after {
      border-top: 70px solid $green !important;
    }
  }
  // #question-form-20 {
  //   .question-image svg {
  //     height: 70px;
  //   }
  // }
}




@media (max-width: 900px) {
  .kenotte-container, .answer-container {
    justify-content: center !important;
    .kenotte-wrapper, .kennote-wrapper-advice, .answer-wrapper {
      font-size: 1.6rem !important;
      margin-right: 0px !important;
    }
    .answer-wrapper {
      &:after {
        display: none;
      }
    }
  }
  .customer-avatar {
    display: none;
  }
  .answer-btn {
    .btn {
      font-size: 1.6rem !important;
    }
  }
  .hint-container {
    .hint-label {
      font-size: 1.4rem !important;
    }
  }
}

@media (max-width: 768px) {
  section.v2-survey-section {
    #question-forme-orange, #question-forme-verte {
      display: none;
    }
    .v2-questions-container {
      padding: 20px;
      .question-form {
        padding-top: 0px !important;
        .kenotte-wrapper, .kennote-wrapper-advice, .answer-wrapper {
          font-size: 1.4rem !important;
        }
        .kenotte-wrapper, .kenotte-wrapper-advice {
          margin-left: 0px !important;
          &:after {
            display: none;
          }
        }
        .answer-wrapper {
          text-align: start !important;
        }
        .kenotte-avatar {
          display: none;
        }
        .kenotte-conseil {
          display: none;
        }
        .answer-container {
          margin-top: 20px !important;
          .answer-image, .question-image {
            display: none;
          }
          .answer-items {
            flex-direction: column !important;
            align-items: self-start;
            .v2-radio {
              padding: 0px !important;
              label {
                flex-direction: row !important;
              }
              input[type="text"] {
                width: 100%;
              }
              .v2-input-container {
                margin-top: 15px;
                .comment-input {
                  top: -30%;
                }
              }
            }
          }
          .answer-btn {
            .btn {
              font-size: 1.4rem !important;
            }
          }
          .hint-container {
            flex-direction: column;
            align-items: baseline;
            .hint-image svg {
              height: 15px;
            }
            .hint-label {
              font-size: 1.2rem !important;
            }
          }
        }
      }
    }
  }
}




