body.bcs-widget-body {
  margin: 0;
  a {
    text-decoration: none;
  }
  .hidden {
    height: 0px;
    overflow: hidden;
  }
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bcs-advert-fullcontainer {
  box-sizing: border-box;
  z-index: 100000;
  width: 100%;
  height: 90px;
  background-color: rgb(250,250,250);
  font-family: -apple-system,BlinkMacSystemFont,Cerebri Sans,Helvetica,Arial,sans-serif;
  padding-left: 90px;
  padding-right: 90px;
  .bcs-advert-prop-title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-right: 4px;
  }
  .bcs-advert-prop-type {
    font-size: 13px;
    font-weight: 500;
  }
  .bcs-custom-new-style-btn {
    background-color: rgb(60,170,210);
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.3px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .inline-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }
}


@media (max-width: 768px) {
  .bcs-advert-fullcontainer {
    padding: 10px;
    .inline-svg {
      display: none !important;
    }
    .bcs-advert-prop-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 200px;
    }
    .bcs-advert-prop-type {
      display: none !important;
    }
    .bcs-advert-description {
      display: none !important;
    }
  }
}





