- if @page
  - title "#{@page.meta_title}"
  - meta_description "#{@page.meta_desc}"
  - facebook_meta_full_url("#{@page.url}")
  - facebook_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - facebook_meta_title(@page.meta_title)
  - facebook_meta_description(@page.meta_desc)

  - twitter_meta_card("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - twitter_meta_description(@page.meta_desc)
  - twitter_meta_url(@page.url)
  - twitter_meta_title(@page.meta_title)
  - twitter_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")


= render "v4/pages/partials/home_banner_v4"
.d-flex-center.mb-25.mt-25.hidden
  = link_to "S3 Migration", s3_migration_path, class: "btn btn-default"
  = link_to "S3 Migration for hektor props", s3_hektor_migration_path, class: "btn btn-default"

%section.home-section-v4
  .container
    .header-center.mt-20
      %h1.full-page-simplify-text Le simplificateur immobilier qui trouve mon toit
      %h1.full-page-simplify-text-hidden Simplifier l'immobilier
    .services-card-container-v4
      .row
        .col-xs-12.col-md-4
          .services-card-transparent-v4
            .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/castor-temps.svg');"}
            .bottom-section
              %strong
                = t('search.keypoints.item_1.title')
              %p
                = t('search.keypoints.item_1.description')
        .col-xs-12.col-md-4
          .services-card-transparent-v4
            .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/castor-gratuit.svg');"}
            .bottom-section
              %strong
                = t('search.keypoints.item_2.title')
              %p
                = t('search.keypoints.item_2.description')
        .col-xs-12.col-md-4
          .services-card-transparent-v4
            .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/castor-personnalise.svg');"}
            .bottom-section
              %strong
                = t('search.keypoints.item_3.title')
              %p
                = t('search.keypoints.item_3.description')

      .grid-block-content
        .bottom-link-see-all.mt-25
          .bcs-button-sm-special.smooth-scroll-link
            JE CHERCHE

  .green-separate-border

  = render "v4/pages/partials/home_props_slider_v4", estimation_title: nil

  .green-separate-border

  .container
    .first-cards-container
      .first-card
        .les-plus.align-left.slide-in
          .header-start-visible
            Les + qui font la différence
          .header-start-hidden
            Les +
          .content-les-plus
            .content
              .how-it-works-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/lego.svg", class: "small-left-icon"
              .how-it-works-item-content
                Une recherche
                %strong
                  innovante et ludique
              .how-it-works-item-content-hidden
                %strong
                  Innovant et ludique
            .content
              .how-it-works-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/user.svg", class: "small-left-icon"
              .how-it-works-item-content
                Des services
                %strong
                  utiles et personnalisés
              .how-it-works-item-content-hidden
                %strong
                  Utile et personnalusé
            .content
              .how-it-works-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/expert.svg", class: "small-left-icon"
              .how-it-works-item-content
                %strong
                  Des experts
                qui m'accompagnent dans mon projet
              .how-it-works-item-content-hidden
                %strong
                  Un accompagnement expert

          .bottom-link-see-all
            .bcs-button-sm-special.smooth-scroll-link
              Je commence

      .second-card
        .estimation.align-right.slide-in
          .header-start
            J'estime en ligne
          .content-estimation
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/castor-estimation.svg", class: "kenotte-estimation"
            .how-it-works-content
              Je renseigne les principales caractéristiques de ma maison ou de mon appartement et le tour est joué

          = form_tag(estimation_v3_path, method: :get, :class => "form-estimation") do
            %input.form-control.mt-20.bold{id:'estimation-place-input', placeholder:"Mon adresse", autocomplete:"off", name: "localisation"}
            .d-flex-center.mt-25
              = submit_tag "J'estime", class: "bcs-button-sm-special"

  = render "v4/pages/partials/testimonials"


  .container
    .second-cards-header
      Bientôt Chez Soi, c'est bien plus. . .
    .second-cards-header-hidden
      C'est aussi. . .
    .second-cards-container
      .first-card
        .seller.align-left.slide-in
          .image
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/vente.svg", class: "vente-svg"
          .header.white-text
            Un projet de vente ?
          .content.white-text
            Nos castors ont plus d'un tour dans leur sac pour trouver une nouvelle famille à votre maison
          .d-flex-center.mt-25
            = link_to "Je vends", property_to_sell_path, class: "bcs-button-sm-special"
      .second-card
        .renovation
          .image
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/renov-energetique.svg", class: "renov-svg"
          .header.white-text
            La rénovation énergétique
          .content.white-text
            Bientôt Chez Soi s'engage pour la planète en soutenant le projet Ma Rénov de Bordeaux Métropole
          .d-flex-center.mt-25
          = link_to "En savoir plus", "https://marenov.bordeaux-metropole.fr/", target: "_blank", class: "bcs-button-sm-special"
      .third-card
        .ambassador.align-right.slide-in
          .image
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/ambassadeur.svg", class: "ambassadeur-svg"
          .header.white-text
            Je deviens ambassadeur
          .content.white-text
            Je recommande Bientôt Chez Soi à mon entourage et fais le plein de cadeaux !
          .d-flex-center.mt-25
          = link_to "Je parraine", ambassador_path, class: "bcs-button-sm-special"

  .green-separate-border-hidden

  .container
    .third-cards-container
      .first-card
        .gift.display-in
          .left{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/guide-opti.jpg');"}
          .right
            .sup-header
              Bon plan : c'est cadeau !
            .sub-header
              Mon guide de recherche
            .content
              Je renseigne mon email pour le recevoir !

            = form_tag(customer_requests_path, method: :post, class: "form-estimation") do
              %input.form-control.mt-20.bold{placeholder:"Mon mail", autocomplete:"off", name: "customer_request[email]"}
              %input{type: "hidden", name: "customer_request[customer_action]", value: "pdf-guide"}
              %input{type: "hidden", name: "action_origin", value: "home"}
              .d-flex-center.mt-25
                = submit_tag "Je reçois", class: "bcs-button-sm-special"

      .second-card
        .news.display-in
          .top
            = svg("newspaper")
            .header.white-text
              Bientôt Chez Soi vu dans. . .
          .bottom
            .images-top-container
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/unissuu.svg');"}
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/pepitetech-opti.jpg'); margin-right: 20px;"}
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/logo-usine-digitale.png');"}
            .images-between-container
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/lareserve-opti.svg'); margin-right: 20px;"}
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/tribune.png'); margin-right: 20px;"}
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/witfm.png');"}
            .images-bottom-container
              .image
              .image{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/mysweetimmo-logo.svg');"}
              .image

    .fourth-cards-header
      Les conseils de Kenotte
    .fourth-cards-container
      .left-container
        = link_to post_path(cat_lname: @posts.last.blog_category.lname,lname: @posts.last.lname), target: "_blank" do
          .vertical-card
            .top{style: "background-image: url('#{@posts.last.photo_url}');"}
            .bottom
              .title.white-text.bold
                = @posts.last.name
              .content.white-text
                = @posts.last.title.truncate(200)
              .content-hidden.white-text
                = @posts.last.title.truncate(100)
              .inline-svg
                = svg("plus-green")

      .right-container
        .top-item
          = link_to post_path(cat_lname: @posts[1].blog_category.lname,lname: @posts[1].lname), target: "_blank" do
            .horizontal-card
              .left{style: "background-image: url('#{@posts[1].photo_url}');"}
              .right
                .title.white-text.bold
                  = @posts[1].name
                .content.white-text
                  = @posts[1].title.truncate(200)
                .content-hidden.white-text
                  = @posts[1].title.truncate(100)
                .inline-svg
                  = svg("plus-green")

        .bottom-item
          = link_to post_path(cat_lname: @posts.first.blog_category.lname,lname: @posts.first.lname), target: "_blank" do
            .horizontal-card
              .left
                .title.white-text.bold
                  = @posts.first.name
                .content.white-text
                  = @posts.first.title.truncate(200)
                .content-hidden.white-text
                  = @posts.first.title.truncate(100)
                .inline-svg
                  = svg("plus-green")

              .right{style: "background-image: url('#{@posts.first.photo_url}');"}

  .partners-container
    .header
      Quelques partenaires clés
    .header-hidden
      Nos partenaires
    = render "v4/pages/partials/horizontal_partners_slider_v4"













