- if @page
  - title "#{@page.meta_title}"
  - meta_description "#{@page.meta_desc}"
  - facebook_meta_full_url("#{@page.url}")
  - facebook_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - facebook_meta_title(@page.meta_title)
  - facebook_meta_description(@page.meta_desc)

  - twitter_meta_card("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - twitter_meta_description(@page.meta_desc)
  - twitter_meta_url(@page.url)
  - twitter_meta_title(@page.meta_title)
  - twitter_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")

- if @first_visit
  = render "v4/pages/partials/pro_crossing"
= render "v4/pages/partials/home_banner_v4_alt"
= render "v4/pages/partials/animated_reinsurance"
.d-flex-center
  .fullpage-separator
= render "v4/pages/partials/props_slider_alt", estimation_title: nil
.d-flex-center
  .fullpage-separator
= render "v4/pages/partials/differences_block_alt"
= render "v4/pages/partials/testimonials_alt"
= render "v4/pages/partials/mores_alt"
= render "v4/pages/partials/press_block"
= render "v4/pages/partials/advices_alt"
= render "v4/pages/partials/partners_slider_alt"


%section#modern-style-wrapper.hidden
  - @fourth_posts.each_with_index do |cat, index|
    - if cat.posts != []
      .modern-card-container{style: "background-color: #{dynamic_color_from_category(cat.name)};"}
        .absolute-modern-logo
          .inline-svg
            = svg("#{dynamic_logo_for_blog_category(cat.name)}")
        .blog-category
          = cat.name.capitalize
        .d-flex-start.mb-10
          .blog-post-creation-date
            = "Publié le #{l(cat.posts.last.created_at, format: :medium_shortest)} par"
          .blog-post-author
            = "#{cat.posts.last.author}"
        .blog-post-content
          = cat.posts.last.title
        .d-flex-center
          .modern-btn
            Lire la suite



%script{:src => "//cdn.jsdelivr.net/npm/theaterjs@latest/dist/theater.min.js"}
