.container
  %h2 La demande
  = @demand.property_type
  = @demand.postal_codes.first
  = budget_format(@demand.budget)

  %h2 votre agence
  %div
    Nom
    = current_agency.name if current_agency.name
  %div
    Prix minimum
    = current_agency.min_price if current_agency.min_price
  %div
    Rayon d'action
    = current_agency.postal_codes.first if current_agency.postal_codes


.container
  .form#add-property-to-demand
    = form_tag(add_property_to_demand_path, method: :post) do

      = hidden_field_tag(:demand_id,@demand.id.to_s)


      .unproposed-properties-container
        %h2 VOS BIENS
        .unproposed-properties-wrapper
          - if @filtered_properties != []
            - @filtered_properties.each_with_index do |prop,index|
              .checkbox-property-input
                %input{id:"#{prop.id.to_s}", type:"checkbox", name:"property_id[]", value: "#{prop.id.to_s}"}
                %label{for:"#{prop.id.to_s}"}
                  = "#{prop.title.capitalize} - #{prop.city}"
                  .property-label-price
                    = "#{number_with_delimiter(prop.price.to_i, locale: :fr)} €"
                  .prop-picture{style: "background-image: url('#{prop.pictures.last.photo_url}');"}
          - else
            = "Vous n'avez plus de biens à proposer pour cette demande"

        - if @filtered_properties != []
          .d-flex-center
            %input.bcs-button-sm{type: "submit", value: "Proposer des biens pour cette demande"}


  .already-proposed-properties-container
    %h2 les biens déjà proposés pour cette demande
    .already-proposed-properties
      - @already_proposed_properties.each do |prop|
        .proposed-property-item
          = "#{number_with_delimiter(prop.price.to_i, locale: :fr)} €"
          = prop.title
