.customer-navbar-header
  - if @demand.man_persona
    = handle_avatar(@demand.man_persona)
  - elsif @demand.woman_persona
    = handle_avatar(@demand.woman_persona)
  / - else
  /    - if handle_genre(@demand.customer.first_name) == "2"
  /       = handle_avatar(@man)
  /   - else
  /     = handle_avatar(@rwoman)

  .customer-name
    = "#{current_customer.first_name} #{current_customer.last_name}"
  .customer-email
    = current_customer.email

  .gray-seperate-border

.customer-navbar-content
  .customer-navbar-link-item
    .inline-svg
      = svg("test-dashboard")
    = link_to v2_customer_dashboard_path do
      .item-text Tableau de bord
  .customer-navbar-link-item
    .inline-svg
      = svg("house")
    = link_to v2_customer_dashboard_properties_path do
      .item-text Mes offres
  .customer-navbar-link-item
    .inline-svg
      = svg("heart")
    .item-text Ma sélection
  .customer-navbar-link-item
    .inline-svg
      = svg("purpose")
    .item-text Mon parcours
  .customer-navbar-link-item
    .inline-svg
      = svg("fidelity")
    .item-text Espace fidélité
  .customer-navbar-link-item
    .inline-svg
      = svg("tete-castor")
    .item-text Mes conseils
  .customer-navbar-link-item
    .inline-svg
      = svg("message-comment")
    .item-text.relative
      Messagerie
      - if @count
        .customer-absolute-message-count.absolute
          = @count
      - else
        .customer-absolute-message-count.absolute
          0
  .customer-navbar-link-item
    .inline-svg
      = svg("customer-user")
    .item-text Mon profil
