- if notice
  .alert.alert-info.alert-dismissible{role:'alert'}
    %button{type:'button',class:'close','data-dismiss':'alert','aria-label':'Close'}
      = notice
- if alert
  .alert.alert-warning.alert-dismissible{role:'alert'}
    %button{type:'button',class:'close','data-dismiss':'alert','aria-label':'Close'}
      = alert
