%footer.main-footer
  .footer-item
    .footer-header
      Bientôt Chez Soi
      .sub-header
        La plateforme de recherche
    .list
      .list-item
        - if current_page?(root_path)
          = link_to "Je cherche", root_path, class: "smooth-scroll-link"
        - else
          = link_to "Je cherche", root_path
      .list-item
        = link_to "Conseils de kenotte", blog_path
      .list-item
        = link_to "Espace personnel", customer_zone_path
      .list-item
        = link_to "Espace professionnel", new_agency_session_path
      .list-item
        = link_to "Devenir partenaire", partner_landing_path
      .list-item
        = link_to "Espace presse", presse_path
      .list-item
        = link_to "Le dico de kenotte", glossary_path
      .list-item
        = link_to "Questions/Réponses", faq_path
    .newsletter-form.mt-25
      .footer-header
        Restons en contact
      = simple_form_for(Newsletter.new) do |f|
        = f.input :email, label: false, placeholder: "Mon email"
        = recaptcha_tags
        = f.submit "JE M'ABONNE", class: "bcs-button-sm-special input-submit"

  .footer-item
    .footer-header
      Bientôt Chez Soi
      .sub-header
        L'agence immobilière
    .unbullet-list
      .list-item
        = link_to "Je vends", je_vends_path
      .list-item
        = link_to "Honoraires", fees_path
      .list-item
        = link_to "Recrutement", jobs_path
      .list-item
        = link_to "Qui-sommes-nous", who_we_are_path
      .list-item
        = link_to "Chasse immobilière", hunt_path
    .unbullet-list.mt-25
      .list-item
        05 35 54 48 48
      .list-item
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/fake-bcs-email.png", height: "11"
      .list-item
        19 rue Francisco Ferrer, 33700 Merignac

    .social_links-container.mgt-25
      = link_to 'https://www.facebook.com/bientotchezsoi/', target: "_blank" do
        = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

      = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber', target: "_blank" do
        = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

      = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/', target: "_blank" do
        = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

      = link_to 'https://www.instagram.com/bientotchezsoi/', target: "_blank" do
        = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram-good-color.svg', class: 'list-logo'

  .footer-item-flex
    .footer-header
      Bientôt Chez Soi
      .sub-header
        Membre de
    .images-container.mb-25
      = image_tag 'https://cdn.bientotchezsoi-dev.com/images/FNAIM.png', width: "70"
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/french-tech-vect-white.svg", width: "73"
      = image_tag 'https://cdn.bientotchezsoi-dev.com/images/real-estech-white.svg', width: "96"
      = image_tag 'https://cdn.bientotchezsoi-dev.com/svgs/full-svg-bord-invest.svg', width: "70"
    .footer-header
      .sub-header
        Mécène de
    .images-container
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/villa-primrose-vect-white.svg", width: "104"
    = cl_image_tag("static-images/footer-kenotte-logo.png", width: 400, fetch_format: :auto, quality: :auto, crop: :scale, secure: true, class: "bcs-footer-logo")

%footer.secondary-footer
  %p
    Bientôt Chez Soi -
    = link_to 'CGU Particuliers', cgu_customer_path
    = "-"
    = link_to 'CGU Professionnelles', cgu_pro_path
    = "-"
    = link_to 'Charte de confidentialité', convention_path
    = "-"
    = link_to 'Mentions légales', mentions_legales_path
