.response-item
  %h5 Toutes nos réponses
  %ul
    %li
      = link_to "Qu'est-ce que c'est Bientôt Chez Soi ?", faq_path
    %li
      = link_to "Comment être-vous rémunérés ?", faq_path
    %li
      = link_to "Pourquoi avoir confiance en nous ?", faq_path
    %li
      = link_to "Qu'est-ce qu'une start up?", faq_path
    %li
      = link_to "Quest-ce que ça veut dire 'place de marché' ?", faq_path
.question-item
  %h5 J'ai une question !
  %p Je vous écris à l'aide de mon support préféré.
.social-item
  = link_to '', 'https://www.facebook.com/bientotchezsoi/', target: "_blank", class: "fa fa-facebook fa-2x"
  = link_to '', 'https://twitter.com/bientotchezsoi?lang=fr', target: "_blank", class: "fa fa-twitter-square fa-2x"
  = link_to '', contact_path, class: "fa fa-envelope-square fa-2x"
