.alphabet-item
  %h5 Recherche par lettre
  .letters-item
    - @alphabet.each_with_index do |letter, index|
      = link_to letter, "#letter-#{index+1}"
  .glossary-item
    - @alphabet.each_with_index do |letter, index|
      - if letter === "B"
        #accordion.panel-group{"aria-multiselectable": true, role: "tablist"}
          .panel.panel-default{id: "panel-index#{index+1}"}
            .panel-heading{role: "tab", id: "heading#{index+1}"}
              %h4.panel-title
                %a.glossary-letter{"aria-controls": "collapse#{index+1}", "aria-expanded": true, "data-parent": "#accordion", "data-toggle": "collapse", href: "#collapse#{index+1}", role: "button", id: "letter-#{index+1}"}
                  = letter
              .fa.fa-angle-down.active{"data-parent": "#accordion", "data-toggle": "collapse", href: "#collapse#{index+1}"}
            .panel-collapse.collapse.in.glossary-content{"aria-labelledby": "heading#{index+1}", role: "tabpanel", id: "collapse#{index+1}"}
              .panel-body
              - if letter
                - @hash.each do |key, value|
                  - if key.to_s === letter
                    - value.each do |k, v|
                      %ul
                        %li
                          = k
                        %li
                          = v
                        %br
      - else
        #accordion.panel-group{"aria-multiselectable": true, role: "tablist"}
          .panel.panel-default{id: "panel-index#{index+1}"}
            .panel-heading{role: "tab", id: "heading#{index+1}"}
              %h4.panel-title
                %a.collapsed.glossary-letter{"aria-controls": "collapse#{index+1}", "aria-expanded": false, "data-parent": "#accordion", "data-toggle": "collapse", href: "#collapse#{index+1}", role: "button", id: "letter-#{index+1}"}
                  = letter
              .fa.fa-angle-down{"data-parent": "#accordion", "data-toggle": "collapse", href: "#collapse#{index+1}"}
            .panel-collapse.collapse.glossary-content{"aria-labelledby": "heading#{index+1}", role: "tabpanel", id: "collapse#{index+1}"}
              .panel-body
              - if letter
                - @hash.each do |key, value|
                  - if key.to_s === letter
                    - value.each do |k, v|
                      %ul
                        %li
                          = k
                        %li
                          = v
                        %br
