- if employee_signed_in?
  %section.logged-admin-container
    .logged-admin-wrapper
      = "Connecté en tant que #{current_employee.firstname} #{current_employee.lastname}"
      = link_to "Se déconnecter", destroy_employee_session_path, method: :delete, class: "btn btn-primary btn-xs"
