.navbar-bcs
  .navbar-links-left
    - if current_page?(root_path)
      .navbar-link.active.smooth-scroll-link
        Je cherche
    - else
      = link_to "Je cherche", root_path, class: "navbar-link"
    = link_to "J'estime", estimation_v3_path, class: "navbar-link #{'active' if current_page?(estimation_v3_path)}"
    = link_to "Je vends", je_vends_path, class: "navbar-link #{'active' if current_page?(je_vends_path)}"
    = link_to "Je m'informe", blog_path, class: "navbar-link #{'active' if current_page?(blog_path)}"

  = link_to root_path, class: "navbar-bcs-center-logo" do
    .navbar-logo-image-container
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/logoBCS.svg"
  = image_tag "https://cdn.bientotchezsoi-dev.com/images/menu.png", class: 'mobile-link visible-on-mobile', id: 'menu-trigger'

  .navbar-links-right
    - if customer_signed_in?
      .dropdown
        .logo-plus-text{"data-toggle": "dropdown"}
          %i.fa.fa-user
          .navbar-link.less-text-space
            = "#{current_customer.first_name} #{current_customer.last_name.capitalize}"
        %ul.dropdown-menu.dropdown-menu-right
          %li
            = link_to "Mon compte", v2_customer_dashboard_path, class: "navbar-link"
          %li
            = link_to "Se déconnecter", destroy_customer_session_path, method: :delete, class: "navbar-link"

    - elsif agency_signed_in?
      .dropdown
        .logo-plus-text{"data-toggle": "dropdown"}
          %i.fa.fa-user
          .navbar-link.less-text-space
            = "#{current_agency.name.truncate(14)}"
        %ul.dropdown-menu.dropdown-menu-right
          %li
            = link_to "Mon agence", v2_agency_dashboard_path, class: "navbar-link"
          %li
            = link_to "Se déconnecter", destroy_agency_session_path, method: :delete, class: "navbar-link"

    - else
      = link_to "Je me connecte", new_customer_session_path, class: "navbar-link navbar-link-connection #{'active' if current_page?(new_customer_session_path)}"
      = link_to "Je suis un professionnel", "https://bientotchezsoi-pro.com/", target: "_blank", class: "btn-fullheight"
  #menu-container
    .d-flex-center.flex-column
      - if current_page?(v2_customer_dashboard_path) || current_page?(v2_customer_dashboard_properties_path) || current_page?(v2_customer_dashboard_property_path(property_id: params[:property_id].to_s))
        = render 'shared/customer_responsive_navbar'

      - else
        = link_to "Je cherche", root_path, class: "navbar-link #{'active-mobile' if current_page?(root_path)}"
        = link_to "Je vends", je_vends_path, class: "navbar-link #{'active-mobile' if current_page?(je_vends_path)}"
        = link_to "J'estime", estimation_v3_path, class: "navbar-link #{'active' if current_page?(estimation_v3_path)}"

        = link_to "Je m'informe", blog_path, class: "navbar-link #{'active' if current_page?(blog_path)}"
        = link_to "Contact", contact_path, class: "navbar-link #{'active-mobile' if current_page?(contact_path)}"
        - if customer_signed_in?
          = link_to current_customer.first_name.capitalize, v2_customer_dashboard_path, class: "navbar-link #{'active-mobile' if current_page?(customer_zone_path)}"
          = link_to "Se déconnecter", destroy_customer_session_path, method: :delete, class: "navbar-link"
        - elsif agency_signed_in?
          = link_to "Mon agence", agency_zone_path, class: "navbar-link #{'active-mobile' if current_page?(agency_zone_path)}"
        - else
          = link_to "Je me connecte", new_customer_session_path, class: "navbar-link #{'active-mobile' if current_page?(new_customer_session_path)}"
