.admin-container
  .content
    .header
      demandes de presskit
    - if @presskit_requests.size == 0
      = "Aucune demande !!"


    - @presskit_requests.each do |presskit_request|
      .presskit-item
        .creation-date
          = "Ajoutée le #{l(presskit_request.created_at, format: :medium)}"
        .item-fields-container
          .item-fields-title
            Prénom
          = presskit_request.firstname
        .item-fields-container
          .item-fields-title
            Nom
          = presskit_request.lastname
        .item-fields-container
          .item-fields-title
            Email
          = presskit_request.email
        .item-fields-container
          .item-fields-title
            Téléphone
          = presskit_request.phone
        .item-fields-container
          .item-fields-title
            Poste ou entreprise
          = presskit_request.enterprise
        .item-fields-container
          .item-fields-title
            Message
          = presskit_request.message
        .item-fields-container
          .item-fields-title
            Objet
          = presskit_request.object

        .d-flex-start.mt-25
          = link_to admin_presskit_request_path(presskit_request), class: "btn btn-primary btn-sm btn-custom-size" do
            .fa.fa-eye
          = link_to admin_presskit_request_path(presskit_request), method: :delete, class: "btn btn-danger btn-sm btn-custom-size", data: {confirm: "Attention action irréversible !!"} do
            .fa.fa-times
