.dashboard-agency-filters
  .filter-icon
    .inline-svg.rounded-red.white
      = svg("new-panel")
    .filter-trigger{"data-target": "notviewed"}
      Nouvelles demandes

  .filter-icon
    .inline-svg.rounded-green.white
      = svg("eye")
    .filter-trigger{"data-target": "seebyagency"}
      Offres vues

  .filter-icon.hidden
    .inline-svg.rounded-green.white
      = svg("new-panel")
    .filter-trigger{"data-target": "future-visit"}
      Visites futures

  .filter-icon
    .inline-svg.rounded-green.white
      = svg("heart")
    .filter-trigger{"data-target": "love"}
      Offres "aimées"

  .filter-icon
    .inline-svg.rounded-black.white
      = svg("forbidden")
    .filter-trigger{"data-target": "hate"}
      Offres "refusées"
