.customer-fixed-menu-container
  .customer-fixed-menu.red-background
    = link_to agency_zone_path, class: "#{'active' if current_page?(agency_zone_path)}" do
      .menu-picto-container
        - if current_page?(agency_zone_path)
          .inline-svg.white
            = svg("dashboard")
        - else
          .inline-svg.black
            = svg("dashboard")
        .picto-container-text
          MON ESPACE
    = link_to agency_activity_path, class: "#{'active' if current_page?(agency_activity_path)}" do
      .menu-picto-container
        - if current_page?(agency_activity_path)
          .inline-svg.white
            = svg("information")
        - else
          .inline-svg.black
            = svg("information")
        .picto-container-text
          AIDE
    = link_to dashboard_agency_demands_path, class: "#{'active' if current_page?(dashboard_agency_demands_path)}" do
      .menu-picto-container
        - if current_page?(dashboard_agency_demands_path)
          .inline-svg.white
            = svg("tete-castor")
        - else
          .inline-svg.black
            = svg("tete-castor")
        .picto-container-text
          DEMANDES ACTIVES
    = link_to dashboard_agency_properties_path, class: "#{'active' if current_page?(dashboard_agency_properties_path)}" do
      .menu-picto-container
        - if current_page?(dashboard_agency_properties_path)
          .inline-svg.white
            = svg("house")
        - else
          .inline-svg.black
            = svg("house")
        .picto-container-text
          MES BIENS

    = link_to dashboard_agency_update_infos_path do
      .menu-picto-container
        - if current_page?(dashboard_agency_update_infos_path)
          .inline-svg.white
            = svg("user-infos")
        - else
          .inline-svg.black
            = svg("user-infos")
        .picto-container-text
          MES INFOS

    = link_to dashboard_agency_messsages_path do
      .menu-picto-container
        - if current_page?(dashboard_agency_messsages_path)
          .inline-svg.white
            = svg("message-comment")
        - else
          .inline-svg.black
            = svg("message-comment")
        .picto-container-text
          MESSAGERIE
        - if @count
          .absolute-message-count
            = @count
