.home-banner
  .banner-ufo-svg
    = svg("soucoupe")
  .absolute-marketplace-banner.hidden
    La 1ère place de marché de l'immobilier
  .content
    .home-banner-content-header
      %div.visible-title
        a la recherche de la perle rare à acheter ?
      %div.hidden-title
        un achat coup de ❤️ !
      %div.visible-title
        trouvons votre coup de ❤️ !
      %div.hidden-title
        par ici
    = form_tag(initial_location_path, method: :post,id: "initial_location") do
      .inline-form
        %input.user-city-choice{id:"user_input_autocomplete_address",placeholder:"Où voulez-vous vivre ?",autocomplete:"off"}
        %input{id:"lng",name:"lng",type:"hidden"}
        %input{id:"lat",name:"lat",type:"hidden"}
        %input{id:"locality",name:"locality",type:"hidden"}
        %input.user-choice-submit{type:"submit", value: "JE CHERCHE"}


