#carousel-example-generic.carousel{'data-ride':'carousel'}
  .carousel-inner{role:"listbox"}
    .item.active
      .absolute-content.flex-column.slider-item{style:"background-image: linear-gradient(rgba(40,40,40,0.5),rgba(40,40,40,0.5)), url('https://cdn.bientotchezsoi-dev.com/images/home-banner-test.jpg');"}
        %h1
          = t('home.slider.item_1.title')
        = link_to "JE DECOUVRE", root_path, class: "bcs-button"
    .item
      .absolute-content.slider-item{style:"background-image: linear-gradient(rgba(40,40,40,0.5),rgba(40,40,40,0.5)), url('https://cdn.bientotchezsoi-dev.com/images/living-room.jpeg');"}
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/demenagement.png", class: 'logo-sm hidden-xs'
        .flex-half-dynamic
          %h1
            = t('home.slider.item_2.title')
          %p
            = t('home.slider.item_2.sub_title')
    .item
      .absolute-content.slider-item{style:"background-image: linear-gradient(rgba(40,40,40,0.5),rgba(40,40,40,0.5)),url('https://cdn.bientotchezsoi-dev.com/images/living-room.jpeg');"}
        %h1
          = t('home.slider.item_3.title')
  %a.left.carousel-control{href:"#carousel-example-generic",role:"button",'data-slide':"prev"}
    %span.glyphicon.glyphicon-chevron-left{'aria-hidden':'true'}
    %span.sr-only

  %a.right.carousel-control{href:"#carousel-example-generic", role:"button", 'data-slide':"next"}
    %span.glyphicon.glyphicon-chevron-right{'aria-hidden':'true'}
    %span.sr-only
