.menu-wrapper#props-wrapper
  .header-title
    .inline-svg.mr-10.black
      = svg("panneau")
    - if estimation_title
      = estimation_title
    - else
      en agence actuellement
  %ul.menu#slider-menu
    %button.left-paddle.paddle
      %i.fa.fa-arrow-left{"aria-hidden" => "true"}
    .faded-block.left
    - @bcs_properties.sort_by{|prop| prop.created_at}.reverse.each_with_index do |prop,index|
      %li.item{class: "#{'last-item' if ((index + 1) == (@bcs_properties.size))}"}
        = link_to home_bcs_property_show_path(property_id: prop.id.to_s), target: "_blank" do
          .home-slider-prop-card
            - if prop.img_1_url
              .slider-home-card-top{style: "background-image: url(#{prop.img_1_url});"}
                - if prop.status
                  .status-banner
                    = property_status_format(prop.status)
            - else
              .slider-home-card-top{style: "background-image: url(#{asset_path 'Logo-bulle-2.png'});"}
            .slider-home-card-bottom
              .slider-bottom-item
                .title
                  - if prop.title
                    = prop.title.truncate(31)
                  - elsif prop.titre
                    = prop.titre
              .slider-bottom-item.between
                .between-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "18"
                  = "#{prop.area} m²"
                .between-item
                  - if prop.price
                    .price
                      = "#{number_with_delimiter(prop.price.gsub(/\u00a0/, '').to_i, locale: :fr)} €"

              - if prop.property_type == "Maison"
                .slider-bottom-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-house.svg", width: "20"
                  .prop-type
                    = prop.property_type
              - elsif prop.property_type == "Appartement"
                .slider-bottom-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "18"
                  .prop-type
                    = prop.property_type

              .slider-bottom-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                .localisation
                  - if prop.cp && prop.ville
                    = "#{prop.cp}, #{prop.ville}"
                  - if prop.zipcode && prop.localisation
                    = ("#{prop.zipcode}, #{prop.localisation}").truncate(26)


    .faded-block.right
    %button.right-paddle.paddle
      %i.fa.fa-arrow-right{"aria-hidden" => "true"}
