- if @page
  - title "#{@page.meta_title}"
  - meta_description "#{@page.meta_desc}"
  - facebook_meta_full_url("#{@page.url}")
  - facebook_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - facebook_meta_title(@page.meta_title)
  - facebook_meta_description(@page.meta_desc)

  - twitter_meta_card("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - twitter_meta_description(@page.meta_desc)
  - twitter_meta_url(@page.url)
  - twitter_meta_title(@page.meta_title)
  - twitter_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")


= render "home/home_slider_v2"

.d-flex-center.mb-25.mt-25.hidden
  = link_to "S3 Migration", s3_migration_path, class: "btn btn-default"
  = link_to "S3 Migration for hektor props", s3_hektor_migration_path, class: "btn btn-default"

%section.home-section-v2
  .container
    .header-center.mt-20
      %h1.full-page-simplify-text Le simplificateur immobilier qui trouve mon toit
      %h1.full-page-simplify-text-hidden Simplifier l'immobilier
    .services-card-container
      .row
        .col-xs-12.col-md-4
          .services-card-transparent
            .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/timer.svg');"}
            .bottom-section
              %strong
                = t('search.keypoints.item_1.title')
              %p
                = t('search.keypoints.item_1.description')
        .col-xs-12.col-md-4
          .services-card-transparent
            .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/search.svg');"}
            .bottom-section
              %strong
                = t('search.keypoints.item_2.title')
              %p
                = t('search.keypoints.item_2.description')
        .col-xs-12.col-md-4
          .services-card-transparent
            .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/contrat.svg');"}
            .bottom-section
              %strong
                = t('search.keypoints.item_3.title')
              %p
                = t('search.keypoints.item_3.description')

      .grid-block-content
        .bottom-link-see-all.mt-25
          .bcs-button-sm-special.smooth-scroll-link
            JE CHERCHE

  = render "home/home_props_slider", estimation_title: nil

  .container-bcs
    .grid-container
      .one.block-red
        .free-stamp
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/tampon-gratuit-v2.svg"
        .header-start-visible
          ici, et nulle part ailleurs !
        .header-start-one-hidden
          ici, exclusivement !
        .grid-block-content
          .how-it-works-item
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-happy.svg", class: "small-left-icon"
            .how-it-works-item-content
              %strong
                L’expérience client unique & ludique
              qui facilite mon achat
          .how-it-works-item
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-partners-good-size.svg", class: "small-left-icon"
            .how-it-works-item-content
              %strong
                Des partenaires novateurs & spécialisés
              qui m'entoureront au bon moment
          .how-it-works-item
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-mix.svg", class: "small-left-icon"
            .how-it-works-item-content
              %strong
                Le bon mix entre experts immobiliers & outils pratiques
              qui m’accompagnent bien au-delà de l’achat
          .bottom-link-see-all
            .bcs-button-sm-special.smooth-scroll-link
              JE COMMENCE
      .two
        .header-center
          .very-taller-header-text
            75 secondes pour tout comprendre
          .very-taller-header-text-hidden
            tout comprendre
        .grid-block-content
          .block-video-container
            %video{controls:true}
              %source{type:"video/mp4", src:"https://cdn.bientotchezsoi-dev.com/videos/presentation-amepi.mp4"}

      .eleven
        .header-start
          .dark-text
            engagés dans la rénovation énergétique
          .dark-text-hidden
            engagement énergétique
        .body-flex
          = link_to "https://marenov.bordeaux-metropole.fr/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/logo-renov-bordeaux.png", width: "100"
          %p
            Bientôt Chez Soi s'engage pour la planète
            Il n'y a pas que nos castors qui sont verts ! Bientôt Chez Soi soutient le projet Ma Rénov de Bordeaux Métropole.
            = link_to "En savoir plus", "https://marenov.bordeaux-metropole.fr/", target: "_blank"



      .three
        .flex-left-content
          = keyfact_icon_type(@keyfacts.first)

        .flex-right-content
          = keyfact_icon_type(@keyfacts.last)


      .four.block-bck-light-gray
        .header-start
          .inline-svg.mr-10
            = svg("house")
          derniers biens livrés
        .grid-block-content
          - @props.each_with_index do |property,index|
            = link_to home_bcs_property_show_path(property_id: property.id.to_s) do
              .heart-stroke-item{style: "height: auto;"}
                - if property.image_1_url
                  .heart-stroke-item-photo{style: "background-image: url(#{cl_image_path(property.image_1, width: 500, fetch_format: :auto, quality: :auto, crop: :scale, secure: true)});"}
                - else
                  .heart-stroke-item-photo{style: "background-image: url('#{asset_path 'Logo-bulle-2.png'}');"}
                    - if index == 0
                      .absolute-badge
                        NOUVEAU
                .heart-stroke-item-body
                  .item-body-title.big
                    - if property.title
                      = property.title.truncate(24)
                    - elsif property.titre
                      = property.titre.truncate(24)
                  .item-body-title
                    - if property.price
                      = "#{number_with_delimiter(property.price.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
                    - elsif property.prix
                      = "#{number_with_delimiter(property.prix.to_s.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
                  .item-body-content
                    = strip_tags(property.corps.truncate(60))

        .grid-block-content
          .bottom-link-see-all
            .bcs-button-sm-special.smooth-scroll-link
              JE CHERCHE


      .five.block-bck-green
        .header-start
          .inline-svg.white.mr-10
            = svg("advice")
          .white-text
            conseils avisés de kenotte
          .white-text
            nos conseils
        .grid-block-content
          - @posts.each do |post|
            = link_to post_path(cat_lname: post.blog_category.lname,lname: post.lname), target: "_blank" do
              .advices-item
                .advices-item-photo{style: "background-image: url('#{post.photo_url}');"}
                .advices-item-content
                  .title
                    = post.name
                  .body
                    = post.title.truncate(140)
          .bottom-link-see-all
            = link_to "JE LIS LA SUITE", blog_path, class: "bcs-button-sm-special", target: "_blank"

      .six.block-bck-red
        .header-with-padding
          .inline-svg.white.mr-10
            = svg("newspaper")
          .white-text
            la revue de presse de bientôt chez soi
          .white-text
            la revue de presse
        .grid-block-content.block-bck-light-gray-2.padding-20
          .news-content-photos
            .news-photo{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/corp-1.png');"}
            .news-photo{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/corp-2.png');"}
          .news-content-body
            = link_to "https://bientotchezsoi.com/blog/corporate/bientot-chez-soi-dans-la-tribune", target: "_blank" do
              .title
                = @corp_post.name
            .text
              = @corp_post.title
            .d-flex-center.mt-25
              = link_to "JE LIS LA SUITE", "https://bientotchezsoi.com/blog/corporate/bientot-chez-soi-dans-la-tribune", target: "_blank", class: "bcs-button-sm-special"


      .ten.block-bck-light-gray
        .header-start
          .inline-svg.mr-10.black
            = svg("chiffres")
          .dark-text
            j'estime mon logement en ligne
          .dark-text
            j'estime
        .d-flex-between.flex-grow
          = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/kenotte/Castor-Inspecteur.svg", class: "kenotte"
          .bold.ml-25
            En moins de 3 minutes, j’évalue la valeur de mon chez-moi. Je renseigne les principales caractéristiques de mon logement et le tour est joué.
            = form_tag(estimation_v3_path, method: :get) do
              %input.form-control.mt-20{id:'estimation-place-input', placeholder:"Mon adresse", autocomplete:"off", name: "localisation"}
              .d-flex-center.mt-25
                = submit_tag "J'ESTIME MON BIEN", class: "bcs-button-sm-special"


      .nine.block-bck-white
        .header-start
          .red-text
            les valeurs de bientot chez soi
          .red-text
            nos valeurs
        .grid-block-content
          .content-padding
            .values-item
              .values-item-logo
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-heart-good-size.svg", width: "40"
              .values-item-body
                .title-strong
                  %strong De l’Amour, du vrai
                Je suis un client qui aime être chouchouté, avoir du service et qu’on me parle un langage que je comprends ? J’ai frappé à la bonne porte !

            .values-item
              .values-item-logo
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-key-good-size.svg", width: "40"
              .values-item-body
                .title-strong
                  %strong Du neuf, évidemment
                La plateforme en ligne intègre des outils digitaux simples à utiliser. Les fonctionnalités sont simples à prendre en main et me proposent des services utiles.

            .values-item
              .values-item-logo
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-team-good-size.svg", width: "40"
              .values-item-body
                .title-strong
                  %strong Et de l’humain, enfin
                Ici il y a de l’humain dans internet et internet dans une agence. Et c’est bien plus facile de se comprendre ainsi.
        .d-flex-center
          = link_to "JE DECOUVRE L'EQUIPE", team_path, class: "bcs-button-sm-special"


  .container-bcs
    .header-center
      .taller-header-text
        nos partenaires à la une
      .taller-header-text-hidden
        nos partenaires
    = render "home/horizontal_slider"

  .container-bcs
    .footer-grid-container
      .one
        .header-start
          .inline-svg.mr-10.white
            = svg("envelope")
          .white-text
            une question ? une suggestion ?
          .white-text
            une question ?
        = form_tag(suggestions_path, method: :post, id: "suggestions-form") do
          = hidden_field_tag 'suggestion[origin]', "home"
          .row
            .col-xs-6
              %input.form-control{type: "text", placeholder: "Mon prénom", name: "suggestion[name]"}
            .col-xs-6
              %input.form-control{type: "tel", placeholder: "Mon nom", name: "suggestion[last_name]"}
            .col-xs-6
              %input.form-control{type: "email", placeholder: "Mon mail", name: "suggestion[email]"}
            .col-xs-6
              %input.form-control{type: "text", placeholder: "Mon téléphone", name: "suggestion[phone]"}
          %textarea{placeholder: "Message", name: "suggestion[message]"}
          .row
            .col-xs-12
              = recaptcha_tags
          .d-flex-center.mt-25
            %input.bcs-button-sm-special{type: "submit", value: "J'ENVOIE"}

      .two
        .header-start
          .inline-svg.mr-10.red
            = svg("pencil")
          .red-text
            le bulletin de notes de kenotte
          .red-text
            le bulletin
        .testimonials-content
          .testi-item
            .testi-content
              .testi-user
                François, Chef d'entreprise
              .testi-text
                “Une vraie écoute de nos besoins, un oeil critique et des échanges constructifs tout au long de notre projet immobilier, qui était atypique et complexe. Une valeur indéniable et différente des acteurs traditionnels du secteur“
            .testi-logo
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/18.svg", width: "70"

          .testi-item
            .testi-content
              .testi-user
                Caroline, Directrice commerciale
              .testi-text
                “Un accompagenement pour affiner la recherche de notre bien immobilier après beaucoup de questions, mais surtout une vraie capacité à nous dénicher avec une agence partenaire, notre maison pile dans le quartier recherché“
            .testi-logo
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/16.svg", width: "70"




      .three
        .header-start
          .inline-svg.mr-10.black
            = svg("case")
          .dark-text
            un projet de vente immobilière ?
          .dark-text
            un projet de vente ?
        .seller-content
          .seller-title
            Nos Castors ont plus d’un tour dans leur sac pour trouver une nouvelle famille à votre maison !
          .seller-body
            Faites-nous découvrir les atouts qui vous ont créé le coup de coeur immobilier il y a quelques années ! Nous estimons votre bien et trouvons le bon acquéreur qui écrira une nouvelle page de l’histoire de votre maison.
          .d-flex-center
            = link_to "JE VENDS", property_to_sell_path, class: "bcs-button-sm-special"

      .five
        .header-start
          .inline-svg.mr-10.white
            = svg("gift")
          .white-text
            je parraine et je reçois un cadeau
          .white-text
            je parraine
        .content
          .strong-content
            %strong
              Je recommande Bientôt Chez Soi et je suis gâté !
          Un proche vend sa maison ? Pour toute signature d'un mandat de vente, je reçois (et lui aussi) un cadeau !
        .d-flex-center.mt-25
          = link_to "JE PARRAINE", parrainage_path, class: "bcs-button-sm-special"


#property-custom-modal.custom-modal-container.hidden
  .custom-modal
    .custom-modal-closer
      .fa.fa-times
    .custom-modal-text
      = "Ce bien a déjà trouvé preneur... je créé vite ma recherche pour trouver mon toit !"
