= render 'home/home_slider'

%section.home-section
  .row
    .col-xs-12.col-md-4.col-lg-4
      .home-card
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/castor-maison.png"
        .title
          = t('home.home_actions.item_1.title')
        .title
          = t('home.home_actions.item_1.sub_title')
        .content
          = t('home.home_actions.item_1.content').html_safe
        .d-flex-center.flex-grow
          = link_to 'JE RECHERCHE', root_path, class: 'bcs-button flex-grow'

    .col-xs-12.col-md-4.col-lg-4
      .home-card
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/castor-Contrat.png"
        .title
          = t('home.home_actions.item_2.title')
        .title
          = t('home.home_actions.item_2.sub_title')
        .content
          = t('home.home_actions.item_2.content').html_safe
        .d-flex-center.flex-grow
          = link_to 'JE VENDS', root_path, class:'bcs-button flex-grow'

    .col-xs-12.col-md-4.col-lg-4
      .home-card
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/question-home.png"
        .title
          = t('home.home_actions.item_3.title')
        .title
          = t('home.home_actions.item_3.sub_title')
        .content
          = t('home.home_actions.item_3.content').html_safe
        .d-flex-center.flex-grow
          = link_to "JE M'INFORME", root_path, class: 'bcs-button flex-grow'

%section.home-section.bordered.bck-dark-light
  %h1.big-title.text-center
    = t('home.video.title')
  .d-flex-center
    .video-container
      %video{controls:true}
        %source{type:"video/mp4",src:"https://cdn.bientotchezsoi-dev.com/images/presentation-bientotchezsoi_1.mp4"}

%section.home-section.bck-green
  %h1.text-center
    = t('home.news.title')
  .row
    .col-xs-12.col-md-6
      .blog-card
        .top-section{style:"background-image: url('https://via.placeholder.com/450x250');"}
          .absolute-layout
            .plus-logo
              +
        .bottom-section
          %h4
            ACHETER A DEUX ET RESTER HEUREUX !
          .d-flex-start
            %small
              31/01/2018 |
            %small.card-category
              Achat
          %p
            Un achat à deux représente une étape importante dans la vie d’un couple, le début d’une grande aventure. S’il s’agit d’un avantage indéniable pour obtenir un financement plus facilement, il est important de mesurer aussi les compromis à faire ensemble…
          = link_to "Lire la suite", root_path, class: "blog-card-link"

    .col-xs-12.col-md-6
      .blog-card
        .top-section{style:"background-image: url('https://via.placeholder.com/450x250');"}
          .absolute-layout
            .plus-logo
              +
        .bottom-section
          %h4
            REUSSIR VOTRE VENTE : LE COACHING DE KENOTTE !
          .d-flex-start
            %small
              31/01/2018 |
            %small.card-category
              Vente
          %p
            Vous avez fixé le prix de vente de votre bien de manière réaliste et objective, et l’avez mis en valeur au mieux ? C’est parti pour les visites ! Commencez par accueillir les acquéreurs potentiels avec le sourire : la première impression est primordiale...
          = link_to "Lire la suite", root_path, class: "blog-card-link"

  .d-flex-center
    = link_to 'TOUS LES ARTICLES', root_path, class: "bcs-button mt-25"

%section.home-section
  %h1.big-title.text-center
    = t('home.compliments.title')
  .row
    .col-xs-12.col-md-4
      .testimonial-card.bck-dark-light
        .logo-absolute-container
          .quote-logo
            ❞
        %p.content
          = t('home.compliments.item_1.content')
        .bottom
          %h4
            %strong
              = t('home.compliments.item_1.user')
          %h4
            = t('home.compliments.item_1.user_job')

    .col-xs-12.col-md-4
      .testimonial-card.bck-dark-light
        .logo-absolute-container
          .quote-logo
            ❞
        %p.content
          = t('home.compliments.item_2.content')
        .bottom
          %h4
            %strong
              = t('home.compliments.item_2.user')
          %h4
            = t('home.compliments.item_2.user_job')

    .col-xs-12.col-md-4
      .testimonial-card.bck-dark-light
        .logo-absolute-container
          .quote-logo
            ❞
        %p.content
          = t('home.compliments.item_3.content')
        .bottom
          %h4
            %strong
              = t('home.compliments.item_3.user')
          %h4
            = t('home.compliments.item_3.user_job')

%section.home-section.bck-dark-light
  %h1.big-title.text-center
    = t('home.engagements.title')
  %h5.text-center
    = t('home.engagements.sub_title')
  .row
    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/ampoule.png');"}
        %h4
          = t('home.engagements.item_1.title')
    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/Castor-TeteClindoeil.png');"}
        %h4
          = t('home.engagements.item_2.title')
    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/Cadenas.png');"}
        %h4
          = t('home.engagements.item_3.title')
    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/Coeur.png');"}
        %h4
          = t('home.engagements.item_4.title')

%section.home-section
  %h1.big-title.text-center
    = t('home.partners.title')
  %h5.text-center
    = t('home.partners.sub_title')
  .row
    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo-wider{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/FNAIM.png');"}

    %div.col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo-wider{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/FRENCH-TECH.png');"}

    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo-wider{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/LABOITE-IMMO.png');"}

    .col-xs-12.col-md-6.col-lg-3
      .partner-card
        .partner-card-photo-wider{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/BIEN-ICI.png');"}

%section.home-section.bordered.bck-orange
  .row
    .col-xs-12
      .d-flex-center.flex-column
        %h1.big-title
          = t('home.form.title')
        %p
          = t('home.form.sub_title')
  .d-flex-center
    .left-content
      %form.form-home{action:""}
        %row
          .col-xs-12.col-md-6
            %input{type:"text", placeholder:"Mon nom"}
          .col-xs-12.col-md-6
            %input{type:"text", placeholder:"Mon prénom"}

          .col-xs-12.col-md-6
            %input{type:"email", placeholder:"Mon adresse e-mail"}
          .col-xs-12.col-md-6
            %input{type:"phone", placeholder:"Mon numéro de téléphone(facultatif)"}

          .col-xs-12
            %fieldset
              %legend
                La bonne case cochée permet d’avoir accès vite au bon expert à vos côtés !
              %div
                .d-flex-start.mb-10
                  %input#contactChoice1{type:"radio",name:"contact",value:"coup-de-coeur",checked:true}
                  %label{for:"contactChoice1"}
                    Je veux un coup de coeur, je cherche !
                .d-flex-start.mb-10
                  %input#contactChoice2{type:"radio", name:"contact", value:"construction"}
                  %label{for:"contactChoice2"}
                    Je prends une feuille blanche, j'aimerais construire !
                .d-flex-start.mb-10
                  %input#contactChoice3{type:"radio", name:"contact", value:"vendre"}
                  %label{for:"contactChoice3"}
                    Je tourne une page, je vends !

          .col-xs-12
            %textarea{placeholder:"Ici, j'écris ce que j'aime dans mon logement actuel... ou autre chose"}

          %input.bcs-button-alt{type:"submit"}

    .right-content.hidden-xs
      = image_tag 'https://cdn.bientotchezsoi-dev.com/images/castor-mail.png'
