= @agencies.size
- @agencies.each do |new_agency|
  %h3
    = "Agence : #{new_agency.name}"
  - old_base_agency = Agency.all.where(name: new_agency.name)
  - if old_base_agency != []
    %h2
      = "Agence Vieille base => #{old_base_agency.last}"
  - new_agency.attributes.each do |attr|
    %div
      = "#{attr.first} => #{attr.last}"
