%section.blog-category-show
  .header{style: "background-image: linear-gradient(rgba(100,100,100,0.7), rgba(100,100,100,0.7)), url('#{@last_category_post.photo_url}');"}
    .content
      %h1
        = "BLOG #{@blog_category.name.upcase}"
      .post
        %h1
          = @last_category_post.name.upcase
        %h5
          = (@last_category_post.title.truncate(180)) if @last_category_post.title
        = link_to "Lire la suite", post_path(cat_lname: @last_category_post.blog_category.lname, lname: @last_category_post.lname), class: "bcs-button-sm blog-button"

%section.blog-categories
  .left-section
    - @blog_category.posts.each do |post|
      .post-horizontal-card
        = link_to post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: "photo-link" do
          .left-content{style: "background-image: url('#{post.photo_url}');"}
        .right-content
          %h5
            = link_to post_path(cat_lname: post.blog_category.lname, lname: post.lname) do
              = post.name.upcase
          .infos
            %small
              = "Par "
            %small.strong
              = "#{post.author}"
            %small
              = "le #{l(post.created_at, format: :short)} | "
            %small.green
              = post.category_name.capitalize
          %p
            = post.title.truncate(180) if post.title
  .right-section.hidden-xs
    .content
      .small-header
        .fa.fa-tags
        Catégories
      - @blog_categories.each do |cat|
        .blog-link-container
          .fa.fa-circle
          = link_to cat.name.capitalize, blog_category_path(lname: cat.lname), class: 'blog-category-link'
    .content
      .small-header
        .fa.fa-th-large
        Articles récents
      - @last_five_posts.each do |post|
        .blog-link-container
          .fa.fa-book
          = link_to post.name.truncate(50).capitalize, post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: 'blog-category-link'
    .content
      .small-header
        Rejoignez-nous
      .social-links
        = link_to 'https://www.facebook.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

        = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

        = link_to 'https://www.linkedin.com/company/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

        = link_to 'https://www.instagram.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'
    .content
      .small-header
        Tags
      .tags-container
        - @tags.each do |tag|
          = link_to blog_tag_path(tag_lname: tag.parameterize) do
            .tag
              = tag.capitalize

  .right-section.mobile.visible-xs
    .content
      .small-header
        Catégories
      - @blog_categories.each do |cat|
        .blog-link-container
          = link_to cat.name.capitalize, blog_category_path(lname: cat.lname), class: 'blog-category-link'
    .content
      .small-header
        Articles récents
      - @last_five_posts.each do |post|
        .blog-link-container
          = link_to post.name.truncate(50).capitalize, post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: 'blog-category-link'
    .content
      .small-header
        Rejoignez-nous
      .social-links
        = link_to 'https://www.facebook.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

        = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

        = link_to 'https://www.linkedin.com/company/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

        = link_to 'https://www.instagram.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'
    .content
      .small-header
        Tags
      .tags-container
        - @tags.each do |tag|
          = link_to blog_tag_path(tag_lname: tag.parameterize) do
            .tag
              = tag.capitalize



