.container
  .row
    .col-xs-12.col-md-offset-3.col-md-6
      .authenticated_header
        %h4
          = t("customer_registration_new.header.action")
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/contact.png"
    .col-xs-12.col-md-offset-3.col-md-6
      .form-title
        = t("customer_registration_new.header.title")

.container
  = form_tag(sms_validations_path, method: :post, id: "sms-validation-form") do
    .form-inline-container
      .form-inline
        %input.form-control{type: "tel", name: "phone", placeholder: "0611100908"}
        %input.bcs-button-xxs-light{type: "submit", value: "Code de validation"}

.container
  #sms-return-code.hidden
    = form_tag(sms_return_path, method: :post, id: "sms-return-form") do
      .form-inline-container
        .form-inline
          %input.form-control{type: "text",name: "code", placeholder: "Xw7j"}
          %input.bcs-button-xxs-light{type: "submit", value: "Valider mon numéro"}

.d-flex-center.mt-20.mb-25.hidden
  = link_to "S'INSCRIRE", new_customer_registration_path, class: "bcs-button-sm"
