.d-flex-between.bcs-advert-fullcontainer
  .bcs-advert-logo{style: "margin-right: 6px;display: none;"}
    = image_tag "https://bientotchezsoi.s3.eu-west-3.amazonaws.com/mailing/bientotmaloc/logo-maloc-small.png", width: "80"

  .d-flex-start{style: "margin-right: 6px;"}
    .d-flex-center.bcs-advert-prop-type{style: "margin-right: 20px;"}
      .inline-svg
        = svg("picto-house-2")
    .d-flex-column
      .bcs-advert-prop-title
        = @property.title.downcase.capitalize
      .bcs-advert-prop-type.bcs-advert-description
        = "(#{@property.property_type} - #{@property.area} m2 - #{@property.price} €)"

  .d-flex-center
    = link_to "https://bientotchezsoi.com", target: "_blank" do
      .bcs-custom-new-style-btn Candidature

  .d-flex-center{style: "position: absolute; right: 20px;top: 0;height: 100%;"}
    .inline-svg.bcs-advert-close-btn
      = svg("cancel")
    .inline-svg.bcs-advert-open-btn.hidden
      = svg("information")
