.d-flex-between.bcs-advert-fullcontainer
  .bcs-advert-logo{style: "margin-right: 6px;display: none;"}
    = image_tag "https://bientotchezsoi.s3.eu-west-3.amazonaws.com/mailing/bientotmaloc/logo-maloc-small.png", width: "80"

  .d-flex-start{style: "margin-right: 6px;"}
    .d-flex-center.bcs-advert-prop-type{style: "margin-right: 20px;"}
      .inline-svg
        = svg("picto-house-2")
    .d-flex-column
      .bcs-advert-prop-title
        = @property.title.downcase.capitalize
      .bcs-advert-prop-type.bcs-advert-description
        = "(#{@property.property_type} - #{@property.area} m2 - #{@property.price} €)"

  .d-flex-center
    = link_to "https://bientotchezsoi.com", target: "_blank" do
      .bcs-custom-new-style-btn Candidature

  .d-flex-center{style: "position: absolute; right: 20px;top: 0;height: 100%;"}
    .inline-svg.bcs-advert-close-btn
      = svg("cancel")



:css
  .bcs-advert-fullcontainer{position: fixed;bottom: 0;left: 0;z-index: 100000;width: 100%;height: 90px;background-color: rgb(255,255,255);font-family: -apple-system,BlinkMacSystemFont,Cerebri Sans,Helvetica,Arial,sans-serif;padding-left: 90px;padding-right: 90px;}
  .bcs-advert-prop-title{font-size: 1.7rem;font-weight: 700;letter-spacing: -0.3px;margin-right: 4px;}
  .bcs-advert-prop-type{font-size: 1.3rem;font-weight: 500;}
  .bcs-custom-new-style-btn{background-color: rgb(60,170,210);padding: 8px 16px;font-weight: 600;font-size: 1.6rem;letter-spacing: -0.3px;border-radius: 4px;color: white;}
  .bcs-custom-new-style-btn:hover{color: white;}
  .inline-svg{display: flex;align-items: center;justify-content: center;}
  .inline-svg svg{width: 30px;height: 30px;display: inline-block;}
  .d-flex-between{display: flex;align-items: center;justify-content: space-between;}
  .d-flex-start{display: flex;align-items: center;justify-content: flex-start;}
  .d-flex-center{display: flex;align-items: center;justify-content: center;}



:javascript
  var closeBtn = document.querySelector(".bcs-advert-close-btn");
  closeBtn.addEventListener("click", function(){
    var fullContainer = document.querySelector(".bcs-advert-fullcontainer");
    fullContainer.classList.add("hidden");
  });


  var smSize = "(max-width: 768px)";
  matchMedia(smSize).addEventListener("change", function(){
    var screenWidth = window.innerWidth;
    if (screenWidth >= 768) {
      console.log("Big screen");
      var propType = document.querySelector(".bcs-advert-prop-type");
      var propDesc = document.querySelector(".bcs-advert-description");
      var propClosed = document.querySelector(".bcs-advert-close-btn");
      var propTitle = document.querySelector(".bcs-advert-prop-title");
      propType.classList.remove("hidden");
      propDesc.classList.remove("hidden");
      propClosed.classList.remove("hidden");
      propTitle.style.fontSize = "1.7rem";
    } else {
      console.log("Small screen");
      var propType = document.querySelector(".bcs-advert-prop-type");
      var propDesc = document.querySelector(".bcs-advert-description");
      var propClosed = document.querySelector(".bcs-advert-close-btn");
      var propTitle = document.querySelector(".bcs-advert-prop-title");
      propType.classList.add("hidden");
      propDesc.classList.add("hidden");
      propClosed.classList.add("hidden");
      propTitle.style.fontSize = "1.3rem";
    }
  });





