%h1
  Customers

.well
  = link_to 'New Customer', new_customer_path, class: 'btn btn-primary'

- if flash[:notice]
  .alert.alert-success
    = flash[:notice]

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Role
      %th &nbsp;
      %th &nbsp;
  %tbody
    - if @customers.size.zero?
      %tr
        %td{ colspan: '6' }
          No customers found.

    - else
      - @customers.each do |customer|
        %tr
          %td
            = customer.first_name
          %td
            = customer.last_name
          %td
            = customer.email
          %td
            = customer.role
          %td
            = link_to 'Edit', edit_customer_path(customer), class: 'btn btn-default'
          %td
            = button_to 'Delete', customer, method: :delete, data: { confirm: "Are you sure you wish to delete #{customer.first_name} #{customer.last_name}?" }, class: 'btn btn-danger'
