%section.agency-registration-new.fullform#smooth-scroll-agency-signup
  .container-inactive-full
    .row
      .col-xs-12.col-md-12
        .authenticated_header
          %h4
            J'inscris mon agence
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/contact.png"
      .col-xs-12.col-md-12
        .form-title
          %p
            L’équipe de Bientôt chez soi est ravie de vous accueillir !
          %p
            Une minute, et nous pourrons vous faciliter votre travail, et vous fournir prochainement des prospects très qualifiés.


  = simple_form_for(Agency.new, as: "agency", url: registration_path(Agency.new)) do |f|
    .container-inactive
      .form-inputs
        .row
          .col-xs-12.col-md-6#agency-block
            .header
              %h5.bold L'agence
            .row
              .col-xs-12.col-md-6
                = f.input :name, placeholder: "Nom de l'agence", label: false, required: true
              .col-xs-12.col-md-6
                = f.input :phone, placeholder: "Téléphone", label: false, required: true
              .col-xs-12.col-md-12
                = f.input :address, placeholder: "Adresse", label: false, required: true
              .col-xs-12.col-md-4
                = f.input :location_cp, label: false, placeholder: "Code postal"
              .col-xs-12.col-md-8
                = f.input :city, label: false, placeholder: "ville"
              .col-xs-12.col-md-6
                = f.input :professional_card, placeholder: "Numéro carte de transaction", label: false, required: true
              .col-xs-12.col-md-6
                #agency-min-price-input.formatted-numeric-input
                  = f.input :min_price, placeholder: "Budget minimum", label: false, input_html: {value: ''}
                  .input-hint.hidden
                    %span
                      .fa.fa-info-circle
                    budget minimum des acquéreurs que je vise
              .col-xs-12.col-md-12
                #agency-catchment-area-input
                  = f.input :catchment_area, label: false, required: true, collection: [], input_html: {multiple: "multiple"}
                  .input-hint.hidden
                    %span
                      .fa.fa-info-circle
                    je recevrais une alerte à chaque fois qu'un acquéreur postera une recherche dans cette zone

          .col-xs-12.col-md-6#infos-block
            .header
              %h5.bold Informations de connexion et contact
            .row
              .col-xs-12.col-md-6
                = f.input :firstname, placeholder: "Prénom", label: false, required: true
              .col-xs-12.col-md-6
                = f.input :lastname, placeholder: "Nom", label: false, required: true
              .col-xs-12.col-md-6
                = f.input :email, placeholder: "Email", label: false, required: true
              .col-xs-12.col-md-6
                = f.input :personal_phone, placeholder: "Téléphone", label: false
              .col-xs-12
                .small.bold Minimum 6 caractères dont au moins un chiffre
              .col-xs-12.col-md-12
                = f.input :password, placeholder: 'Mot de passe', label: false, required: true
              .col-xs-12.col-md-12
                = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false, required: true

      .form-actions
        = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-sm-special'
