.authenticated_header
  %h4
    J'inscris mon agence
  = image_tag "https://cdn.bientotchezsoi-dev.com/images/contact.png"
  %button{"data-dismiss": "agency-connection-modal", type: "button"}
    %span{"aria-hidden": "true"} ×

.modal-agency-new-form
  = simple_form_for(Agency.new, as: "agency", url: registration_path(Agency.new)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, placeholder: 'Adresse de courriel', label: false, required: true
      = f.input :name, placeholder: "Nom de l'agence", label: false, required: true
      = f.input :catchment_area, label: false, required: true, collection: [], input_html: {multiple: "multiple"}
      = f.input :min_price, placeholder: "Budget minimum", label: false, required: true, input_html: {value: ''}
      = f.input :password, placeholder: 'Mot de passe', label: false, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
      = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false, required: true
    .form-actions
      = f.button :submit, "S'INSCRIRE", class: 'bcs-button-sm-special'

:javascript
  var googleAutocompleteAdapter = $.fn.select2.amd.require('select2/data/googleAutocompleteAdapter');

  $('#agency_catchment_area').select2({
      width: '100%',
      dataAdapter: googleAutocompleteAdapter,
      placeholder: 'Zone de chalandise',
      escapeMarkup: function (markup) { return markup; },
      minimumInputLength: 2,
      templateResult: formatRepo,
      templateSelection: formatRepoSelection
  });
