.container
  .webhooks-header Webhooks - Heroku
  - @webhooks.sort_by{|webhook| webhook.created_at}.reverse.each do |webhook|
    .webhook-card
      .d-flex-start.fullheader
        .inline-svg
          = svg("#{webhook.logo}")
        .webhook-card-header
          = webhook.service.downcase.capitalize
          .webhook-badge
            = webhook.action
          .webhook-time
            = l(webhook.created_at, format: :small_count)

      .webhook-card-content
        .webhook-content-item
          .content-item-label App name
          .content-item-value
            = webhook.content["data"]["app"]["name"]
        .webhook-content-item
          .content-item-label Version
          .content-item-value
            - if webhook.content["data"]["release"]
              = webhook.content["data"]["release"]["version"]
        .webhook-content-item
          .content-item-label Plan
          .content-item-value
            = webhook.content["data"]["size"]
        .webhook-content-item
          .content-item-label Etat
          .content-item-value
            = webhook.content["data"]["state"]
        .webhook-content-item
          .content-item-label Type
          .content-item-value
            = webhook.content["data"]["type"]
        .webhook-content-item
          .content-item-label Dyno
          .content-item-value
            = webhook.content["data"]["name"]
        .webhook-content-item
          .content-item-label Commande
          .content-item-value
            = webhook.content["data"]["command"]
