.container
  - @infos.each do |item|
    .d-flex-start
      - if item[:position]
        %strong
          = item[:position]
      - else
        %strong
          = "No position"
      %i
        = item[:label]
      %div{style: "color: red;font-weight: 700;"}
        = item[:value]
