.container
  .d-flex-start
    .inline-svg
      = svg("hook")
    .webhooks-header Webhooks

  .d-flex-start#webhook-filter-container
    .webhook-filter-trigger{"data-filtertrigger": "bientotchezsoi"}
      Action internes
    .webhook-filter-trigger{"data-filtertrigger": "nexmo", "data-nestedfilter": "true", "data-actions": ["delivered","failed"]}
      Nexmo
    .webhook-filter-trigger{"data-filtertrigger": "mandrill", "data-nestedfilter": "true", "data-actions": ["click","open","sent"]}
      Mandrill
    .webhook-filter-trigger{"data-filtertrigger": "codeship"}
      Codeship
    .webhook-filter-trigger{"data-filtertrigger": "heroku"}
      Heroku
    .webhook-filter-trigger{"data-filtertrigger": "typeform"}
      Typeform
    .webhook-filter-result-count
      = @webhooks.size

  .webhook-nested-filter-container

  #webhooks-socket
    - @webhooks.sort_by{|webhook| webhook.created_at}.reverse.each do |webhook|
      - if webhook.service.to_sym == :nexmo
        = render "webhooks/pages/partials/nexmo", webhook: webhook

      - elsif webhook.service.downcase.to_sym == :bientotchezsoi
        = render "webhooks/pages/partials/intern", webhook: webhook

      - elsif webhook.service.to_sym == :mandrill
        = render "webhooks/pages/partials/mandrill", webhook: webhook

      - elsif webhook.service.to_sym == :codeship
        = render "webhooks/pages/partials/codeship", webhook: webhook

      - elsif webhook.service.to_sym == :typeform
        = render "webhooks/pages/partials/typeform", webhook: webhook

      - elsif webhook.service.to_sym == :heroku
        = render "webhooks/pages/partials/heroku", webhook: webhook

