.container.hidden
  - @visits.sort_by{|visit| visit.created_at}.reverse.each do |visit|
    #webhooks-socket
      .webhook-card
        .d-flex-start.fullheader
          .webhook-card-header
            = visit.customer_email
            .webhook-description
              = "#{l(visit.created_at, format: :medium_shortest)} à #{l(visit.created_at, format: :time_without_seconds)}"
.container
  - @test.sort_by{|item| item.last}.reverse.each do |item|
    .webhook-card
      .d-flex-start.fullheader
        .webhook-card-header
          = item.first
          .webhook-description
            = item.last

