.container
  %section.customer-zone
    .row
      .col-xs-12.col-md-offset-2.col-md-8
        .header.unbordered
          %h1
            = "BONJOUR #{@agency.name.upcase if @agency.name}"
          %p.unmarged
            Ici, vous trouvez facilement des prospects qualifiés à la recherche d’un logement à acheter dans votre secteur privilégié.
            Vous avez une parfaite connaissance de vos quartiers. Renseignez ci-dessous les zones sur lesquelles vous souhaitez avec des demandes.
            Notre communauté a souvent le soucis d’une zone très précise et/ou d’un bien avec des critères indispensables. Soignez vos propositions, donnez des détails différenciant.
            Nous sommes aussi à votre écoute, n’hésitez pas à nous contacter pour toute aide ou question !
      .col-xs-12.col-md-offset-2.col-md-8
        .content
          = (@agency.partner) ? (render "pages/agency_zone/active") : (render "pages/agency_zone/empty")
