%section.ambassador
  .banner
    .left
      .content
        .sup-header Programme Ambassadeur Bientôt Chez Soi
        .low-header Je recommande Bientôt Chez Soi et je fais le plein de  🎁
    .right{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/legos.jpg');"}

  .container
    .ambassador-form-container
      .headers
        .sup-header
          C'est parti ! je deviens ambassadeur
        .sup-header-hidden
          C'est parti !
          %br
          je deviens ambassadeur
        .low-header
          Je complète le formulaire de parrainage ci-dessous et dès que le mandat est signé je bénéficie de
          %strong carte cadeau à dépenser chez mes commerçants préférés !
      .form-container

        = render "pages/partials/ambassador_form"

    .advantages-container
      .left
        .ambassador-advantages-block
          .inline-svg
            = svg("castor-cadeau")
          .header.white-text
            Mes avantages d'ambassadeur
          .content.white-text
            %strong 50€
            en carte de cadeau à chaque signature de mandat
            %br
            %strong 250€
            en carte cadeau, en plus, à la signature de la vente
      .right
        .sponsored-advantages-block
          .inline-svg
            = svg("maison-avendre")
          .header.gray-text
            Les avantages de mon filleul
          .content.gray-text
            %strong 10%
            de réduction sur les honoraires
            %br en cas de signature de mandat exclusif
            %strong 1
            cadeau de bienvenue à la signature du mandat

    .how-it-works-container
      .left
        .how-it-works-block
          .header
            Comment ça marche ?
          .top
            .index.white-text
              1
            .content.gray-text
              Un de mes amis, un collègue ou un membre de famille a un projet de vente en Gironde ?
          .between
            .index.white-text
              2
            .content.gray-text
              Je lui parle de Bientôt Chez Soi et de ses nombreux avantages
          .bottom
            .index.white-text
              3
            .content.gray-text
              Nous remplissons le formulaire d'inscription et nous recevons nos cadeaux 🎉
      .right
        .inline-svg
          = svg("castors-discussion")

    .cgu-container
      .content.gray-text
        * Offre non cumulable, réservée aux particuliers, valable jusqu'au 31 décembre 2020 pour tout apport d'un mandat signé entre l'agence immobilière julatis SAS (via sa marque Bientôt Chez Soi) et le vendeur recommandé. Offre limitée à une personne par foyer et par mandat apporté. Carte de cadeau multi-enseigne de 50€ remise dans les 30 jours suivant la signature du mandat & 250€ en carte cadeau supplémentaire remis dans les 30 jours suivant la signature de l'acte authentique de vente. Réduction des honoraires sur les formules de mandat Excellence et Premium, offre non cumulable avec toutes autres offres en cours.
















