- title "Bientôt Chez Soi - Les Avant-Premières de Bientôt Chez Soi"
- meta_description "Les avant-premières. Vos attentes comptent pour nous. Exprimez vos envies et laissez vos empreintes définitivement ici ! Vos retours nous sont réellement précieux :-)"


%section.preview
  .header
    = image_tag 'https://cdn.bientotchezsoi-dev.com/images/avant-premiere.png'
  .preview-form
    .left-content
      %h4
        LES AVANT-PREMIÈRES
      %p
        %strong
          Vos attentes comptent pour nous.
      %p
        Exprimez vos envies et laissez vos empreintes définitivement ici ! Nous souhaitons avoir un groupe de Castors pilotes et testeurs en avant-première de nos trop bonnes idées… ergonomie du site, services proposés, critères et éléments à ne surtout, surtout pas oublier, etc… Bref, être au centre de tests des solutions que nous vous soumettrions dans cette phase de conception.
      %p
        %strong
          Vous recevrez un cadeau surprise, à l’issue de notre premier cycle de tests !
    .right-content
      %h3
        INSCRIVEZ-VOUS ICI :
      %form.prev-form{action: ""}
        .row
          .col-xs-12.col-md-6
            %input{type: "text", placeholder: "Nom"}
          .col-xs-12.col-md-6
            %input{type: "text", placeholder: "Prénom"}
          .col-xs-12.col-md-6
            %input{type: "email", placeholder: "Adresse email"}
          .col-xs-12.col-md-6
            %input{type: "phone", placeholder: "Téléphone"}
          .col-xs-12.col-md-12
            %textarea{placeholder: "Message"}
          .col-xs-12.col-md-12
            %input{type: "checkbox", id: "preview-demand", name: "", class: "styled-checkbox"}
            %label{for: "preview-demand"}
              Demande d'avant-premières
        .d-flex-center.mt-25
          %input{type: "submit", value: "DEMANDER", class: "bcs-button-sm"}
