%section.bcs-properties
  .properties-banner
    .content
      Les biens de l'agence Bientôt Chez Soi
  .container
    - if @properties.any?
      - @properties.sort_by{|prop| prop.created_at}.reverse.each do |prop|
        .agency-dashboard-property-item-v2
          - if prop.images_array
            .item-left{style: "background-image: url('#{prop.images_array.first}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"
          - elsif prop.pictures != []
            .item-left{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil}.last.photo_url if prop.pictures != []}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"
          - elsif prop.img_1_url
            .item-left{style: "background-image: url('#{prop.img_1_url}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"
          - else
            .item-left.back-contain{style: "background-image: url('#{asset_path 'Logo-bulle-2.png'}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"


          .item-right
            .item-right-top
              .title-price-container
                .title
                  - if prop.titre
                    = "#{prop.titre}"
                  - elsif prop.title
                    = "#{prop.title}"
                - if prop.price
                  .price
                    = "#{number_with_delimiter(prop.price, locale: :fr)} €"
                - elsif prop.prix
                  .price
                    = "#{number_with_delimiter(prop.prix, locale: :fr)} €"

              .middle-part
                .middle-part-item.tooltip-trigger
                  .arrow_box
                    .arrow_box_relative
                      Type de bien
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "18"
                  = prop.property_type if prop.property_type
                  = prop.type_bien if prop.type_bien
                .middle-part-item.tooltip-trigger
                  .arrow_box
                    .arrow_box_relative
                      Surface
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "18"
                  - if prop.area
                    = "#{prop.area} m²"
                - if prop.nb_room
                  .middle-part-item.tooltip-trigger
                    .arrow_box
                      .arrow_box_relative
                        Nombre de pièce
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "18"
                    = "#{prop.nb_room}"

              .localisation-district-container
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                - if prop.cp && prop.ville
                  = "#{prop.cp}, #{prop.ville.capitalize}"
                - if prop.zipcode && prop.localisation
                  = "#{prop.zipcode}, #{prop.localisation.capitalize}"

              .item-description
                = prop.corps.truncate(120) if prop.corps

              .item-actions-list
                - if prop.pdf_url
                  = link_to prop.pdf_url, download: true, target: "_blank", format: "pdf", class: "item-action-link btn btn-default" do
                    .fa.fa-file-pdf-o
                    .text
                      .small
                        Télécharger le pdf

            .item-right-bottom
              - if prop.images_array
                - prop.images_array.last(4).each do |img|
                  .item-photos-collection{style: "background-image: url('#{img}')"}
              - elsif prop.pictures != []
                - prop.pictures.last(4).each do |pict|
                  = link_to "#{pict.photo_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                    .inset-img{style: "background-image: url('#{pict.photo_url}')"}
              - if prop.img_2_url
                = link_to "#{prop.img_2_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_2_url}')"}
              - if prop.img_3_url
                = link_to "#{prop.img_3_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_3_url}')"}
              - if prop.img_4_url
                = link_to "#{prop.img_4_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_4_url}')"}
              - if prop.img_5_url
                = link_to "#{prop.img_5_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_5_url}')"}




