%section.customer-property-show
  .container
    .big-property-header
      = "MON FUTUR CHEZ-MOI :"
      .real-title
        - if @property.titre
          = "#{@property.titre.upcase}"
        - if @property.title
          = @property.title.upcase
    .row
      .col-xs-12.col-md-7
        - if @property.images_array
          .property-big-photo{style: "background-image: url('#{@property.images_array.last if @property.images_array != []}')"}
            .absolute-badge
              NOUVEAU
        - elsif @property.pictures?
          .property-big-photo{style: "background-image: url('#{@property.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}')"}
            .absolute-badge
              NOUVEAU
        - elsif @property.img_1_url
          .property-big-photo{style: "background-image: url(#{@property.img_1_url})"}
            .absolute-badge
              NOUVEAU
        - else
          .property-big-photo.back-contain{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg')"}
            .absolute-badge
              NOUVEAU


      .col-xs-12.col-md-5
        .property-infos
          .infos-header
            - if @property.prix
              = "#{number_with_delimiter(@property.prix.to_s.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
              .small
                (Frais d'agence inclus)
            - if @property.price
              = "#{number_with_delimiter(@property.price.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
              .small
                (Frais d'agence inclus)
          .infos-content
            .infos-content-item-wrapper
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                = "#{@property.nb_room} Pièces"
              - if @property.area
                .infos-content-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                  = surface_format(@property.area)

              - if @property.property_type == "Maison"
                .infos-content-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-house.svg", width: "20"
                  = @property.property_type
              - elsif @property.property_type == "Appartement"
                .infos-content-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "18"
                  = @property.property_type

              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                - if @property.cp && @property.ville
                  = "#{@property.cp} #{@property.ville}"
                - if @property.zipcode && @property.localisation
                  = "#{@property.zipcode} #{@property.localisation}"


            .row
              - if @property.agency.email == "laure@bientotchezsoi.com"
                .col-xs-12
                  .text-center.bold.mt-25.red-text
                    = "Offre de l'agence Bientôt chez soi"
                .col-xs-12
                  .bcs-tel
                    %a.bcs-button-sm-special-fullwidth.mt-20{href: "tel:+33786453306"}
                      J'APPELLE


    .row
      .col-xs-12.col-md-7
        .thumbnails
          - if @property.images_array
            - @property.images_array.each do |image|
              = link_to "#{image}", "data-lightbox": "property" do
                .thumbnails-item{style: "background-image: url('#{image}')"}
          - elsif @property.pictures != []
            - @property.pictures.select{|pict| pict.photo_url != nil }.each do |picture|
              = link_to "#{picture.photo_url}", "data-lightbox": "property-from-fo" do
                .thumbnails-item{style: "background-image: url('#{picture.photo_url}')"}
          - elsif @present_imgs != []
            - @present_imgs.each do |number|
              = link_to "#{@property.send("img_#{number}_url")}", "data-lightbox": "property-from-fo" do
                .thumbnails-item{style: "background-image: url(#{@property.send("img_#{number}_url")});"}

      - if @property.pdf_url
        .col-xs-12.col-md-5
          .kenotte-grade
            = link_to "Je télécharge la fiche détaillée", @property.pdf_url, class: "bcs-button-sm-special", target: "_blank"

    .property-description
      .header La petite histoire
      .content
        = @property.corps.html_safe

    .property-description
      .header Le bien en détails
      .content.mb-20
        .content-item
          %strong
            = "Nombre de pièces"
          = @property.nb_room
        - if @property.nb_sleeping_room
          .content-item
            %strong
              = "Nombre de chambres"
            = @property.nb_sleeping_room
        - if @property.ground_space && @property.ground_space != ""
          .content-item
            %strong
              = "Surface du terrain"
            = "#{@property.ground_space} m²"
        - if @property.terrain_area && @property.terrain_area != ""
          .content-item
            %strong
              = "Surface du terrain"
            = "#{@property.terrain_area} m²"

        - if @property.fees
          .content-item
            %strong
              = "Honoraires"
            - if @property.fees_target == "Du vendeur"
              = "A la charge #{@property.fees_target.downcase}"
            - else
              - if @property.fees
                = "#{number_with_delimiter(@property.fees.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
                = " à la charge #{@property.fees_target.downcase}"

        - if @property.build_year
          .content-item
            %strong
              = "Année de construction"
            = @property.build_year

        .property-description.mt-20
          .header.big Bilan énergétique
          .content.mb-20
            - if @property.dpe != ""
              .content-item.mb-20
                %strong
                  = "DPE"
                .d-flex-start.fullwidth
                  .dpe-block{"data-toggle": 'modal', "data-target": "#energies-dpe"}
                    .dpe-class.level-a{class: "#{'active' if @property.dpe == 'A'}"}
                      A
                    .dpe-class.level-b{class: "#{'active' if @property.dpe == 'B'}"}
                      B
                    .dpe-class.level-c{class: "#{'active' if @property.dpe == 'C'}"}
                      C
                    .dpe-class.level-d{class: "#{'active' if @property.dpe == 'D'}"}
                      D
                    .dpe-class.level-e{class: "#{'active' if @property.dpe == 'E'}"}
                      E
                    .dpe-class.level-f{class: "#{'active' if @property.dpe == 'F'}"}
                      F
                    .dpe-class.level-g{class: "#{'active' if @property.dpe == 'G'}"}
                      G
            - else
              .small.bold DPE non disponible
            - if @property.ges != ""
              .content-item
                %strong
                  = "GES"
                .d-flex-start.fullwidth
                  .ges-block{"data-toggle": 'modal', "data-target": "#energies-ges"}
                    .ges-class.level-a{class: "#{'active' if @property.ges == 'A'}"}
                      A
                    .ges-class.level-b{class: "#{'active' if @property.ges == 'B'}"}
                      B
                    .ges-class.level-c{class: "#{'active' if @property.ges == 'C'}"}
                      C
                    .ges-class.level-d{class: "#{'active' if @property.ges == 'D'}"}
                      D
                    .ges-class.level-e{class: "#{'active' if @property.ges == 'E'}"}
                      E
                    .ges-class.level-f{class: "#{'active' if @property.ges == 'F'}"}
                      F
                    .ges-class.level-g{class: "#{'active' if @property.ges == 'G'}"}
                      G
            - else
              .small.bold GES non disponible




    - if @property.agency.email == "laure@bientotchezsoi.com"
      .row
        .col-xs-12.col-md-6
          .bcs-contact-agency-block
            .bcs-header
              L'agence Bientôt chez soi
            .row
              .col-xs-12
                .agency-image
              .col-xs-12
                .bcs-address
                  .bcs-body.bold
                    19 rue Francisco Ferrer, 33700 Mérignac Arlac
                  %a.bcs-button-sm-special-fullwidth.right-btn-adjust{href: "https://www.google.fr/maps/place/Bient%C3%B4t+Chez+Soi/@44.825526,-0.614014,15z/data=!4m5!3m4!1s0x0:0x17fef442a5a780df!8m2!3d44.825526!4d-0.614014", target: "_blank"}
                    J'Y VAIS



        .col-xs-12.col-md-6
          .bcs-contact-people-block
            .custom-avatar{style: "background-image: url(https://cdn.bientotchezsoi-dev.com/images/team/team-laure.jpg)"}
            .contact-name Laure GAUDIN
            .contact-description
              C'est mon interlocuteur privilégié. Il connaît ce bien par coeur, il pourra répondre à toute mes questions !
              Je fais connaissance sans attendre !
            .bcs-tel
              %a.bcs-button-sm-special-fullwidth.mt-20{href: "tel:+33786453306"}
                J'APPELLE


        .col-xs-12
          .one-connect
            .header-start
              .icon-title-contact.fontastic.white
              .white-text
                JE VEUX EN SAVOIR PLUS
            = form_tag(suggestions_path, method: :post, id: "suggestions-form") do
              = hidden_field_tag 'suggestion[property_id]', @property.id.to_s
              - if @property.titre
                = hidden_field_tag 'suggestion[origin]', @property.titre
              - elsif @property.title
                = hidden_field_tag 'suggestion[origin]', @property.title
              .row
                .col-xs-6
                  %input.form-control{type: "text", placeholder: "Mon prénom", name: "suggestion[name]"}
                .col-xs-6
                  %input.form-control{type: "tel", placeholder: "Mon nom", name: "suggestion[last_name]"}
                .col-xs-6
                  %input.form-control{type: "email", placeholder: "Mon mail", name: "suggestion[email]"}
                .col-xs-6
                  %input.form-control{type: "text", placeholder: "Mon téléphone", name: "suggestion[phone]"}
              %textarea{placeholder: "Message", name: "suggestion[message]"}
              .row
                .col-xs-12
                  = recaptcha_tags
              .d-flex-center
                %input.bcs-button-sm-special{type: "submit", value: "J'ENVOIE"}

  - if @property.dpe
    #energies-dpe.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .d-flex-end
            %button{"data-dismiss": "dpe-modal", type: "button"}
              %span{"aria-hidden": "true"} ×
          .modal-body
            .d-flex-start
              .small.bold.mb-10 Logement économe
            .dpe-full-block
              .dpe-full-class.level-a{class: "#{'active' if @property.dpe == 'A'}"}
                .value
                  < 50
                .classification
                  A
              .dpe-full-class.level-b{class: "#{'active' if @property.dpe == 'B'}"}
                .value
                  51 à 90
                .classification
                  B
              .dpe-full-class.level-c{class: "#{'active' if @property.dpe == 'C'}"}
                .value
                  91 à 150
                .classification
                  C
              .dpe-full-class.level-d{class: "#{'active' if @property.dpe == 'D'}"}
                .value
                  151 à 230
                .classification
                  D
              .dpe-full-class.level-e{class: "#{'active' if @property.dpe == 'E'}"}
                .value
                  231 à 330
                .classification
                  E
              .dpe-full-class.level-f{class: "#{'active' if @property.dpe == 'F'}"}
                .value
                  331 à 450
                .classification
                  F
              .dpe-full-class.level-g{class: "#{'active' if @property.dpe == 'G'}"}
                .value
                  > 450
                .classification
                  G
            .d-flex-start
              .small.bold.mb-10 Logement énergivore. En kWhEP/m2.an

  - if @property.ges
    #energies-ges.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .d-flex-end
            %button{"data-dismiss": "ges-modal", type: "button"}
              %span{"aria-hidden": "true"} ×
          .modal-body
            .d-flex-start
              .small.bold.mb-10 Faible emission de GES
            .ges-full-block
              .ges-full-class.level-a{class: "#{'active' if @property.ges == 'A'}"}
                .value
                  < 5
                .classification
                  A
              .ges-full-class.level-b{class: "#{'active' if @property.ges == 'B'}"}
                .value
                  6 à 10
                .classification
                  B
              .ges-full-class.level-c{class: "#{'active' if @property.ges == 'C'}"}
                .value
                  11 à 20
                .classification
                  C
              .ges-full-class.level-d{class: "#{'active' if @property.ges == 'D'}"}
                .value
                  21 à 35
                .classification
                  D
              .ges-full-class.level-e{class: "#{'active' if @property.ges == 'E'}"}
                .value
                  36 à 55
                .classification
                  E
              .ges-full-class.level-f{class: "#{'active' if @property.ges == 'F'}"}
                .value
                  56 à 80
                .classification
                  F
              .ges-full-class.level-g{class: "#{'active' if @property.ges == 'G'}"}
                .value
                  > 80
                .classification
                  G
            .d-flex-start
              .small.bold Forte emission de GES en kgeqCO2/m2.an







