- title "Bientôt Chez Soi - Les biens en ventes de Bientôt Chez Soi"
- meta_description "Parce que Bientôt Chez Soi, c'est aussi une agence physique à Bordeaux qui vous propose des biens à la vente ! Je découvre toute l'offre Bientôt Chez Soi"



%section.property_to_sell
  .header
    = "Header"

.container
  = form_tag(property_to_sell_create_path, method: :post, id: "prospect-properties-form") do
    .form-group
      %input.form-control{type: "radio", name: "prospect_property[property_type]", value: "D'une maison", id: "maison"}
      %label{for: "maison"}
        D'une maison
      %input.form-control{type: "radio", name: "prospect_property[property_type]", value: "D'un appartement", id: "appartement"}
      %label{for: "appartement"}
        D'un appartement
      %input.form-control{type: "radio", name: "prospect_property[property_type]", value: "D'un terrain", id: "terrain"}
      %label{for: "terrain"}
        D'un terrain

    .form-group
      %label
        Où est-elle située
      %input.form-control{type: "text", name: "prospect_property[localisation]"}

    .form-group
      %label
        Superficie en m²
      %input.form-control{type: "text", name: "prospect_property[housing_area]"}

    .form-group
      %label
        Prix de vente souhaité du bien
      %input.form-control{type: "text", name: "prospect_property[price]"}

    .form-group
      %label
        Ce qui me plait dans mon logement actuel ?
      %input.form-control{type: "text", name: "prospect_property[like]"}

    %input{type: "submit"}
