- facebook_meta_full_url(request.original_url)
- title "Bientôt Chez Soi - Le Blog Conseil & Actu Immo"
- meta_description "Conseils, actus, astuces et dossiers : Bientôt Chez Soi décrypte l'immobilier pour moi. Des réponses précises à mes réponses pratiques... mais pas que. Parce que l'immo, c'est parfois aussi rigolo !"


%section.inform-myself
  = image_tag t('learn.picture_url')
  %h1
    = t('learn.title')
  .row
    - @current_sell_and_buy_posts.each do |post|
      .col-xs-12.col-md-6
        .blog-card
          .top-section{style:"background-image: url('#{post.photo_url}');"}
            = link_to post_path(cat_lname: post.blog_category.lname, lname: post.lname) do
              .absolute-layout
                .plus-logo
                  +
          .bottom-section
            %h4
              = post.name.upcase
            .d-flex-start
              %small
                = "Ajouté le #{l(post.created_at, format: :short)} par "
              %small.strong
                = " #{post.author} | "
              %small.card-category
                = link_to blog_category_path(lname: post.blog_category.lname) do
                  = post.category_name.capitalize
            %p
              = post.title.truncate(220)
            = link_to "Lire la suite", post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: "blog-card-link"
        .d-flex-center
          = link_to post.link_name, blog_category_path(lname: post.blog_category.lname), class: 'bcs-button mobile-margin'
