- title "Bientôt Chez Soi - Conditions d'utilisations du site"
- meta_description "Nos passionnantes mais nécessaires conditions générales d'utilisation ! Nous n'avons rien à cacher... et tout est écrit noir sur blanc ici !"


%section.cgu-section

  .cgu-section-header
    .header-title
      CONDITIONS GENERALES D’UTILISATION APPLICABLES AUX UTILISATEURS PARTICULIERS
    .header-title.big
      BIENTOT CHEZ SOI.COM

  .cgu-section-link
    = link_to "TÉLÉCHARGER LE PDF", "https://cdn.bientotchezsoi-dev.com/images/cgu-particulier.pdf", target: "_blank", class: "simple-link"

  .cgu-section-item
    .section-item-title 1. IDENTIFICATION
    .section-item-body
      %p
        %strong 1.1
        La plateforme de mise en relation de particuliers avec des professionnels de l’immobilier accessible depuis l’adresse https://bientotchezsoi.com/ (Ci-après « Bientôt Chez Soi ») est proposée par la société JULATIS SAS, SAS au capital de 20 000 €, dont le siège social est situé 2 Rue Richelieu 33200 Bordeaux, enregistrée au RCS de Bordeaux sous le numéro 808 177 331, et sous le numéro d’identification TVA intracommunautaire FR 30 808 177 331.
      %p
        %strong 1.2
        Bientôt Chez Soi dispose d’une carte professionnelle (CPI 3301 2017 000 015 950) délivrée le 17 janvier 2017 par la CCI de Bordeaux – transactions sur immeubles et fonds de commerce avec non-détention de fonds. Elle dispose d’une garantie émise par GALLIAN 89 rue de la Boétie 75008 Paris pour un montant de 120 000 €, et d’une Assurance Responsabilité Civile Professionnelle auprès la MMA Entreprises – 14 Bd Marie et Alexandre Oyon 72030 Le Mans cedex – sous le numéro de police 49180 G couvrant le territoire national.
      %p
        %strong 1.3
        Bientôt Chez Soi peut également être contactée à l’adresse électronique suivante : contactbcs@bientotchezsoi.com ainsi qu’au numéro de téléphone suivant 05 35 54 80 49.

  .cgu-section-item
    .section-item-title 2. OBJET
    .section-item-body
      %p
        %strong 2.1
        Bientôt Chez Soi est une plateforme permettant à des particuliers, agissant à titre personnel, d’être mis en relation avec des professionnels de l’immobilier dans le cadre de leur(s) projet(s) d’achat de bien immobilier.
      %p
        %strong 2.2
        Bientôt Chez Soi offre également aux utilisateurs la possibilité de souscrire des prestations de services dans le but de les accompagner dans le cadre de leur projet d’achat et d’installation. (Ci-après les « Prestations »).
      %p
        %strong 2.3
        Les présentes conditions générales d’utilisation ont vocation à s’appliquer aux particuliers souhaitant utiliser la plateforme Bientôt Chez Soi dans le cadre de leur(s) projet(s) d’achat de bien immobilier. (Ci-après l’« Utilisateur » ou les « Utilisateurs »).

  .cgu-section-item
    .section-item-title 3. ADHESION AUX PRESENTES CONDITIONS GENERALES D’UTILISATION
    .section-item-body
      %p
        %strong 3.1
        Toute personne souhaitant utiliser la plateforme sur Bientôt Chez Soi doit prendre connaissance des présentes conditions générales d’utilisation et en accepter les termes.
      %p
        %strong 3.2
        En cliquant sur l’icône  « J’ai lu et j’accepte les conditions générales d’utilisation » ou toute autre formule similaire, l’Utilisateur reconnaît adhérer aux présentes conditions générales, s’y conformer et en accepter les termes.
      %p
        %strong 3.3
        Bientôt Chez Soi se réserve le droit de modifier et d’actualiser les conditions générales à tout moment et sans préavis, étant précisé que les conditions générales applicables sont celles en vigueur au moment de leur acceptation.

  .cgu-section-item
    .section-item-title 4. INSCRIPTION
    .section-item-body
      %p
        4.1. L’inscription préalable de l’Utilisateur est nécessaire pour lui permettre d’accéder et d’utiliser la plateforme mise à disposition par Bientôt Chez Soi et de souscrire aux Prestations.
      %p
        4.2. L’inscription est exclusivement ouverte aux personnes physiques n’agissant pas à titre professionnel. Une même personne ne peut procéder qu’à une seule inscription.
      %p
        4.3. Pour s’inscrire, l’Utilisateur doit se rendre sur le site ou l’application de Bientôt Chez Soi et remplir un formulaire d’inscription précisant les informations obligatoires.
      %p
        4.4. L’Utilisateur devra notamment définir un identifiant et un mot de passe qui lui permettront d’accéder à la plateforme Bientôt Chez Soi.
      %p
        4.5. L’Utilisateur s’engage à garder ses identifiant et mot de passe strictement confidentiels.
      %p
        4.6. A défaut de remplir les informations obligatoires, l’inscription ne sera pas possible. L’Utilisateur s’engage à ce que les informations mentionnées dans le formulaire soient complètes et exactes.
      %p
        4.7. Un code de confirmation à saisir afin de valider l’inscription est adressée par Bientôt Chez Soi à l’Utilisateur au numéro de téléphone saisi lors de son inscription. L’inscription ne sera définitive qu’une fois que l’Utilisateur aura saisi ce code sur le site ou l’application Bientôt Chez Soi.
      %p
        4.8. L’Utilisateur peut modifier les informations personnelles le concernant sur son espace personnel accessible en cliquant sur l’onglet « Mon Chez moi » (Ci-après l’« Espace Personnel »), ou en cas de difficulté en adressant un mail à contact-bcs@bientotchezsoi.com. L’Utilisateur s’engage à maintenir les informations le concernant exactes, complètes et à jour.

  .cgu-section-item
    .section-item-title 5. RECHERCHE D’UNE OFFRE DE VENTE DE BIEN IMMOBILIER SUR BIENTOT CHEZ SOI
    .section-item-body
      %p
        5.1. Bientôt Chez Soi propose, par l’intermédiaire de sa plateforme en ligne, aux Utilisateurs cherchant à acquérir un bien immobilier de sélectionner les offres susceptibles de les intéresser et de les mettre en relation avec des professionnels de l’immobilier.
      %p
        5.2. L’Utilisateur formule sa demande de recherche de bien immobilier en remplissant un formulaire en ligne de demande précisant les informations obligatoires.
      %p
        5.3. L’Utilisateur peut à tout moment modifier la demande le concernant dans son Espace Personnel. L’Utilisateur s’engage à maintenir les informations concernant sa demande de recherche de bien immobilier exactes, complètes et à jour.
      %p
        5.4. Une fois la demande validée, l’équipe de Bientôt Chez Soi analyse la demande afin d’identifier la ou les offre(s) de vente de bien(s) immobilier(s) proposée(s) par des professionnels de l’immobilier partenaires pouvant correspondre à la demande.
      %p
        5.5. L’Utilisateur est informé par email à l’adresse transmise à Bientôt Chez Soi lorsqu’une ou plusieurs offres de bien immobilier susceptibles de l’intéresser sont disponibles.
      %p
        5.6. Les offres sélectionnées par Bientôt Chez Soi sur la base des informations transmises par l’Utilisateur sont mises à sa disposition sur son Espace Personnel.
      %p
        5.7. L’Utilisateur peut alors prendre connaissance des annonces, supprimer celles ne l’intéressant pas et sélectionner celles susceptibles de l’intéresser.
      %p
        5.8. Lorsqu’une annonce a été sélectionnée par l’Utilisateur, Bientôt Chez Soi lui transmet les coordonnées du professionnel de l’immobilier partenaire afin qu’il puisse entrer en contact avec lui.

  .cgu-section-item
    .section-item-title 6. COMMANDE DE PRESTATIONS
    .section-item-body
      %p
        6.1. Bientôt Chez Soi peut également être amenée à proposer diverses Prestations, gratuites ou payantes, afin d’accompagner l’Utilisateur dans son projet d’achat immobilier.
      %p
        6.2. Les Prestations peuvent être souscrites par les Utilisateurs inscrits sur la plateforme.
      %p
        6.3. La conclusion du contrat s’effectue en langue française.
      %p
        6.4. Les Prestations sont vendues au prix en vigueur au moment de la commande, tel qu’indiqué sur la plateforme Bientôt Chez Soi. Les prix sont indiqués en euros, toutes taxes comprises. Ils sont susceptibles de varier à tout moment, sans notification préalable.
      %p
        6.5. Préalablement à la confirmation définitive de la commande, l’Utilisateur est invité à consulter un récapitulatif détaillant la commande, le prix des Prestations et à corriger d’éventuelles erreurs.
      %p
        6.6. Une fois la commande vérifiée et validée, l’Utilisateur procède au paiement selon les modalités indiquées sur la plateforme Bientôt Chez Soi.
      %p
        6.7. Les commandes de Prestations payantes ne seront validées qu’après réception du complet paiement du prix.
      %p
        6.8. Les Prestations seront exécutées à la date indiquée à l’Utilisateur et au plus tard dans un délai de 30 jours à compter de la commande.
      %p
        6.9. Dans un délai de dix (10) jours suivant mise en demeure restée en tout ou partie sans effet, Bientôt Chez Soi sera en droit de résilier la ou les Prestation(s), sans que l’Utilisateur ne puisse prétendre, en l’absence de faute prouvée de Bientôt Chez Soi, à un quelconque remboursement.

  .cgu-section-item
    .section-item-title 7. DROIT DE RETRACTATION
    .section-item-body
      %p
        7.1. L’Utilisateur dispose d’un délai de 14 jours pour exercer son droit de rétractation, à compter de la souscription de la Prestation.
      %p
        7.2. Pour exercer son droit de rétractation, l’Utilisateur doit remplir le formulaire de rétractation (lien), l’imprimer, le remplir et l’envoyer par courriel à contact-bcs@bientotchezsoi.com ou par courrier postal à Bientôt Chez Soi – Digit Halles 20 rue de Betnoms 33185 Le Haillan.
      %p
        7.3. Il sera remboursé des sommes versées dans un délai de 14 jours à compter de la date de réception de son formulaire de rétractation.
      %p
        7.4. Si l’exécution de la Prestation a commencé, à la demande expresse de l’Utilisateur, avant la fin du délai de rétractation, un montant correspondant à la Prestation fournie jusqu’à communication de sa décision de se rétracter pourra être déduit des sommes remboursées. Ce montant sera proportionné au prix total de la Prestation souscrite.
      %p
        7.5. Le droit de rétractation ne s’applique pas aux Prestations exécutées intégralement par Bientôt Chez Soi à la demande expresse de l’Utilisateur avant que ce dernier n’exerce son droit de rétractation.

  .cgu-section-item
    .section-item-title 8. PUBLICATION DE CONTENU
    .section-item-body
      %p
        8.1. Les Utilisateurs de Bientôt Chez Soi peuvent se voir offrir la possibilité de publier des commentaires, ou du contenu (texte, photographies, vidéos, dessins, etc.).
      %p
        8.2. L’Utilisateur est seul responsable du contenu qu’il met en ligne sur Bientôt Chez Soi, ainsi que des textes et/ou opinions qu’il formule. Il s’engage notamment à ce que ces données ne soient pas de nature à porter atteinte aux intérêts légitimes de tiers quels qu’ils soient.
      %p
        8.3. A ce titre, il s’engage à :
      %p
        – ne pas diffamer, abuser, harceler, traquer, injurier ou menacer quiconque, ni violer les droits d’autrui,
      %p
        – ne pas faire d’abus de langage (type insulte),
      %p
        – ne pas faire l’apologie des crimes contre l’humanité, ne pas inciter à la haine raciale ou la pédophilie,
      %p
        – ne pas créer une fausse identité ou usurper l’identité d’un tiers,
      %p
        – ne pas transmettre des virus, un cheval de Troie, des bombes logiques ou tout autre programme nuisible ou destructeur,
      %p
        – ne pas perturber le fonctionnement de Bientôt Chez Soi,
      %p
        – ne pas porter atteinte à la vie privée et au droit à l’image des personnes susceptibles d’être identifiées au sein des contenus,
      %p
        – d’une manière générale, ne pas transmettre des éléments qui portent atteinte aux droits de propriété intellectuelle ou aux droits des tiers et notamment le droit des marques, le droit au respect de la vie privée ou encore le droit d’auteur.
      %p
        8.4. L’Utilisateur garantit Bientôt Chez Soi contre tous recours, fondés directement ou indirectement sur ces propos et/ou données, susceptibles d’être intentés par quiconque à l’encontre de Bientôt Chez Soi. Il s’engage en particulier à prendre en charge le paiement des sommes, quelles qu’elles soient, résultant du recours d’un tiers à l’encontre de Bientôt Chez Soi, y compris les honoraires d’avocat et frais de justice.
      %p
        8.5. L’Utilisateur conserve les droits de propriété intellectuelle relatifs à tout contenu qu’il publierait sur la plateforme Bientôt Chez Soi, à l’exception des droits de représentation nécessaires à la diffusion du contenu sur la plateforme.

  .cgu-section-item
    .section-item-title 9. DESINSCRIPTION – SUSPENSION – SUPPRESSION DE COMPTE
    .section-item-body
      %p
        9.1. Un Utilisateur peut se désinscrire de Bientôt Chez Soi à tout moment par le biais d’une demande formulée par mail à contact-bcs@bientotchezsoi.com avec en objet Désincription. Dans ce cas, l’Utilisateur ne pourra en aucun cas se voir rembourser les sommes versées à Bientôt Chez Soi en contrepartie de la souscription de Prestations de Service, sous réserve de l’exercice de son droit de rétractation.
      %p
        9.2. Bientôt Chez Soi peut également décider de suspendre ou d’exclure un Utilisateur en cas de violation des présentes conditions générales d’utilisation.
      %p
        9.3. Bientôt Chez Soi se réserve la faculté de supprimer le compte de l’Utilisateur en cas d’absence de connexion à Bientôt Chez Soi pendant une durée égale ou supérieure à une (1) année. Bientôt Chez Soi informera L’Utilisateur par l’envoi d’un email à l’adresse électronique indiquée dans son compte qu’à défaut de connexion de sa part dans un délai d’un mois, son compte sera supprimé. A défaut de connexion de l’Utilisateur dans le délai indiqué, son compte sera supprimé.

  .cgu-section-item
    .section-item-title 10. RESPONSABILITE DE BIENTOT CHEZ SOI
    .section-item-body
      %p
        10.1. Bientôt Chez Soi sélectionne les offres de vente de biens immobiliers sur la base des informations transmises par ses partenaires qu’elle choisit avec soins.
      %p
        10.2. Elle ne saurait toutefois garantir que les informations qui lui sont transmises sont complètes, exactes et à jour. Bientôt Chez Soi ne saurait également garantir l’exhaustivité des offres proposées aux Utilisateurs.
      %p
        10.3. Bientôt Chez Soi met uniquement en relation par l’intermédiaire de sa plateforme les Utilisateurs et les professionnels de l’immobilier. Bientôt Chez Soi n’intervenant pas dans la conclusion du contrat de vente entre le propriétaire du bien ou son mandataire et l’Utilisateur, elle ne saurait garantir que le bien acquis par l’Utilisateur lui offrira entière satisfaction.
      %p
        10.4. Bientôt Chez Soi ne saurait notamment engager sa responsabilité envers les Utilisateurs au titre de la conformité du bien par rapport à l’offre du partenaire professionnel ou de la livraison du bien immobilier proposé.
      %p
        10.5. L’Utilisateur reconnaît que, nonobstant l’ensemble des moyens techniques mis en oeuvre par Bientôt Chez Soi, le réseau Internet présente des spécificités techniques ne mettant pas en mesure Bientôt Chez Soi de garantir la continuité absolue de l’accès à son site.
      %p
        10.6. L’Utilisateur reconnaît également que les transmissions de données sur le réseau Internet sont d’une fiabilité technique relative et que les données elles-mêmes ne sont pas protégées contre des détournements éventuels. Dans ces conditions, la communication de mots de passe ou de toute autre donnée confidentielle, et plus généralement, de toute information à caractère sensible est effectuée par l’Utilisateur sous son entière responsabilité.
      %p
        10.7. Bientôt Chez Soi ne saurait être tenue responsable des dommages directs et indirects, qui pourraient résulter de l’accès ou de l’utilisation de Bientôt Chez Soi ou des informations y figurant quelle qu’en soit la nature. Bientôt Chez Soi décline toute responsabilité concernant l’opportunité des décisions et les modalités de son exécution prises par l’Utilisateur sur la seule foi des informations publiées sur la plateforme.
      %p
        10.8. Bientôt Chez Soi décline toute responsabilité en cas de dommages subis par l’Utilisateur à raison notamment de la perte, de la détérioration ou de l’altération de fichiers, de la transmission de virus qui pourraient infecter son équipement informatique ou tout autre bien à l’occasion de la connexion et/ou de la consultation et/ou de l’utilisation de la plateforme.
      %p
        10.9. Il appartient à l’Utilisateur de prendre toutes les mesures appropriées de façon à protéger ses données ainsi que son équipement, de la contamination par des virus comme des tentatives d’intrusion dans son système informatique par des tiers via les services proposés par Bientôt Chez Soi. L’Utilisateur reconnait que son équipement est connecté au réseau Internet sous son entière responsabilité et qu’en conséquence Bientôt Chez Soi n’est en rien responsable de tout dommage pouvant survenir durant sa connexion.

  .cgu-section-item
    .section-item-title 11. GARANTIES
    .section-item-body
      %p
        11.1. L’Utilisateur garantit Bientôt Chez Soi contre toute demande, responsabilité, frais et dépens résultant de la violation des présentes conditions ou en relation avec l’usage de la plateforme.
      %p
        11.2. Toutes les informations et données transmises par l’Utilisateur le sont sous sa seule responsabilité, ce dernier s’engageant à garantir et indemniser Bientôt Chez Soi contre tous les dommages directs et indirects qui pourraient en résulter.
      %p
        11.3. L’Utilisateur est seul responsable des dommages et préjudices directs ou indirects, matériels ou immatériels, causés par lui-même, à Bientôt Chez Soi du fait de l’utilisation illégale ou non du service qui y est fourni. Dans les cas indiqués ci-dessus, l’Utilisateur s’engage à indemniser Bientôt Chez Soi, y compris des frais d’avocat qu’il aura été contrait d’engager, en cas de condamnation à l’encontre de cette dernière au paiement de dommages et intérêts. Par ailleurs, l’Utilisateur s’engage à rembourser Bientôt Chez Soi des frais occasionnés par la réparation des dommages qu’il a causés.


  .cgu-section-item
    .section-item-title 12. LIENS HYPERTEXTES
    .section-item-body
      %p
        12.1. Bientôt Chez Soi peut proposer des liens vers d’autres sites. Les sites auxquels renvoient ces liens hypertextes sont, sauf mention contraire, indépendants de Bientôt Chez Soi. Bientôt Chez Soi ne saurait en aucune façon être tenu responsable du contenu de ces sites, des dommages qui pourraient résulter de la connexion à ces sites, des informations y figurant, des transactions pouvant y être réalisées, l’éditeur du site assumant seul ces responsabilités.
      %p
        12.2. Tout lien hypertexte, de quelque nature qu’il soit, permettant d’accéder à Bientôt Chez Soi ou à l’une quelconque de ses pages ou de ses éléments, nécessite une autorisation préalable et écrite de Bientôt Chez Soi.

  .cgu-section-item
    .section-item-title 13. FONCTIONNALITES DE PARTAGE SUR LES RESEAUX SOCIAUX
    .section-item-body
      %p
        13.1. Bientôt Chez Soi propose des fonctionnalités permettant de partager, sur les réseaux sociaux, certains contenus. L’Utilisateur s’engage à cette occasion, à ne pas détourner le sens du contenu ni à porter atteinte à l’image de Bientôt Chez Soi.
      %p
        13.2. En tout état de cause, ce partage se fait sous l’entière responsabilité de l’Utilisateur.

  .cgu-section-item
    .section-item-title 14. PROPRIETE INTELLECTUELLE
    .section-item-body
      %p
        14.1. Bientôt Chez Soi ainsi que tous les éléments composant la plateforme et notamment tous les éléments visuels, textes, graphismes, photographies, images, plans, noms, logos, marques, créations et oeuvres protégeables diverses, bases de données, logiciel, etc. déposés ou non, et plus généralement toute information figurant sur le site ou l’application Bientôt Chez Soi est la propriété exclusive de Bientôt Chez Soi ou de tiers avec lesquels cette dernière a conclu des accords en permettant la diffusion. L’Utilisateur ne dispose pas du droit de les reproduire, de les diffuser, de les réutiliser, de les extraire, ou plus généralement du droit de les exploiter par quelque moyen que ce soit hors le consentement préalable exprès de Bientôt Chez Soi.
      %p
        14.2. Toute demande concernant l’utilisation des éléments contenus dans le site doit être adressée à : contact-bcs@bientotchezsoi.com.
      %p
        14.3. Bientôt Chez Soi ainsi que les logotypes associés sont des marques déposées.

  .cgu-section-item
    .section-item-title 15. DONNEES A CARACTERE PERSONNEL
    .section-item-body
      %p
        15.1. Les données à caractère personnel communiquées par l’Utilisateur font l’objet d’un traitement automatisé au sens de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Bientôt Chez Soi s’engage à respecter le caractère confidentiel des données à caractère personnel recueillies lors de l’utilisation de la plateforme.
      %p
        15.2. Les données à caractère personnel sont destinées à permettre l’utilisation de Bientôt Chez Soi, la gestion des commandes, les relations commerciales entre Bientôt Chez Soi et l’Utilisateur, et la mise en relation de l’Utilisateur avec les professionnels de l’immobilier.
      %p
        15.3. Bientôt Chez Soi ne transmet pas les données à caractère personnel de l’Utilisateur à des tiers, sauf dans les cas où une telle communication serait imposée par la règlementation en vigueur, dans l’hypothèse d’un paiement en ligne aux seules fins nécessaires au paiement, ou aux professionnels de l’immobilier dans le cadre de la mise en relation avec l’Utilisateur.
      %p
        15.4. Les formulaires de collecte informent l’Utilisateur du caractère obligatoire ou facultatif de la fourniture de chacune des données sollicitées. A défaut de renseignement des champs obligatoires, l’inscription de l’Utilisateur sur la plateforme ou l’exécution de la commande ne seront pas possibles.
      %p
        15.5. Conformément à la loi n° 78-17 du 6 janvier 1978, L’Utilisateur dispose d’un droit d’accès, de modification, de rectification, de suppression des données le concernant. L’Utilisateur peut exercer chacun de ces droits à tout moment selon l’une des modalités suivantes :
      %p
        – Par courrier envoyé à Bientôt Chez Soi à l’adresse postale suivante : Bientôt Chez Soi – DigitHalles – 20 Rue de Betnoms 33185 Le Haillan.
      %p
        – Par courriel envoyé à l’adresse électronique suivante : contact-bcs@bientotchezsoi.com
      %p
        15.6. L’Utilisateur dispose également d’un droit de définir des directives relatives à la conservation, à l’effacement et à la communication de ses données à caractère personnel après son décès.

  .cgu-section-item
    .section-item-title 16. COOKIES
    .section-item-body
      %p
        16.1. Un « cookie » est un petit fichier texte qu’un site Internet dépose sur le disque dur d’un utilisateur.
      %p
        16.2. Bientôt Chez Soi utilise des cookies de navigation afin de faciliter l’utilisation et la navigation sur la plateforme.
      %p
        16.3. Bientôt Chez Soi peut également être amenée à utiliser des cookies statistiques afin d’améliorer ses performances, ainsi que des cookies personnalisant votre expérience de navigation ou permettant de vous proposer des publicités personnalisées.
      %p
        16.4. Des cookies permettent également à l’Utilisateur d’interagir avec les réseaux sociaux (Facebook, Twitter, LinkedIn, Google °, Pinterest, etc.).
      %p
        16.5. La politique de confidentialité et de cookies de Bientôt Chez Soi est accessible en cliquant sur la page https://bientotchezsoi.com/cookies.pdf
      %p
        16.6. Vous pouvez paramétrer les cookies en cliquant sur la page https://bientotchezsoi.com/cookies.pdf.

  .cgu-section-item
    .section-item-title 17. ACCES A LA PLATEFORME BIENTOT CHEZ SOI
    .section-item-body
      %p
        17.1. Bientôt Chez Soi se réserve le droit de modifier, de suspendre, de restreindre ou d’interrompre l’accès à tout ou partie du site, en ce compris notamment le contenu, les fonctionnalités ou les heures de disponibilité, et ce sans préavis.

  .cgu-section-item
    .section-item-title 18. DROIT APPLICABLE – REGLEMENT DES LITIGES
    .section-item-body
      %p
        18.1. Les présentes Conditions Générales sont soumises au droit français.
      %p
        18.2. En cas de contestation, l’Utilisateur peut recourir à une procédure de médiation conventionnelle ou à tout autre mode alternatif de règlement des différends.
