- title "Bientôt Chez Soi - Conditions d'utilisations du site"
- meta_description "Nos passionnantes mais nécessaires conditions générales d'utilisation ! Nous n'avons rien à cacher... et tout est écrit noir sur blanc ici !"

%section.cgu-section
  .cgu-section-header
    .header-title
      CONDITIONS GENERALES D’UTILISATION APPLICABLES AUX UTILISATEURS PROFESSIONNELS
    .header-title.big
      BIENTOT CHEZ SOI.COM
  .d-flex-center
    .cgu-section-link
      = link_to "TÉLÉCHARGER LES CGU", "https://cdn.bientotchezsoi-dev.com/pdfs/legals/cgu-pro.pdf", target: "_blank", class: "simple-link"
