- if @page
  - title "#{@page.meta_title}"
  - meta_description "#{@page.meta_desc}"
  - facebook_meta_full_url("#{@page.url}")
  - facebook_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - facebook_meta_title(@page.name)

.d-flex-center
  %h1.big-title.mt-50
    = t('contact.title')
%section.contact
  .left-content
    .row
      = simple_form_for @contact, html: {novalidate: true} do |f|
        = f.error_notification
        .col-xs-12.col-md-6
          = f.input :firstname, label: false, placeholder: "Mon prénom"
        .col-xs-12.col-md-6
          = f.input :lastname, label: false, placeholder: "Mon nom"
        .col-xs-12.col-md-6
          = f.input :email, label: false, placeholder: "Mon email"
        .col-xs-12.col-md-6
          = f.input :phone, label: false, placeholder: "Mon téléphone(facultatif)"
        .col-xs-12
          = f.input :choice, label: "La bonne case cochée permet d’avoir accès vite au bon expert à vos côtés !", as: :radio_buttons, collection: ["Je veux un coup de coeur, je cherche!","Je prends une feuille blanche, j'aimerai construire!","Je tourne une page, je vends!"], checked: 0
        .col-xs-12
          = f.input :comment, as: :text, label: false, placeholder: "Ici, j'écris ce que j'aime dans mon logement actuel...ou autre chose"
        .col-xs-12
          = recaptcha_tags
        .col-xs-12
          = f.button :submit, class: "bcs-button-sm mt-10", value: "Valider"

  .right-content
    = image_tag 'https://cdn.bientotchezsoi-dev.com/images/castor-mail.png'
    = t('contact.infos').html_safe
