- title "Bientôt Chez Soi - La charte de la confidentialité"
- meta_description "Bientôt Chez Soi respecte votre vie privée et a instauré une charte de confidentialité. Découvrez comment nous protégeons vos données."


.container
  %section.convention-page
    %h4
      BIENVENUE !
    = link_to "TÉLÉCHARGER LE PDF", root_path, class: "simple-link"

    .convention-page-content
      %p
        %strong
          Nous vous remercions pour la confiance que nous accordez
        et vous espérons vous apporter le meilleur service sur le site
        = link_to root_path do
          www.bientotchezsoi.com
      %p
        Soucieux de vous éclairer sur notre fonctionnement,
        %strong
          soucieux de respecter votre vie privée, nous vous proposons cette Charte de la Vie Privée
        dans le contexte de la collecte d’informations vous concernant.
      %p
        Cette dernière est régie par les Conditions Générales d’Utilisation.
      %p
        Tous les termes en majuscules non-définis dans la présente Charte Vie Privée sont définis dans les Conditions Générales d’Utilisation.
      %p
        Nous collectons et traitons des Données Personnelles (c’est-à-dire toutes informations permettant d’identifier directement ou indirectement une personne physique) dans le cadre de la fourniture de nos Services ou de la communication à propos de ces Services exclusivement. Cette démarche s’inscrit en stricte conformité avec la loi « informatique et libertés » n° 78-17 du 6 janvier 1978. Les données collectées sont indispensables à ces traitements.
      %p
        En vous inscrivant sur le Site, vous nous autorisez à traiter vos données personnelles conformément à la Charte Vie Privée.
        %strong
          Nous attirons votre attention que si vous souhaitez refuser les termes de cette Charte Vie Privée, vous devez cesser d’utiliser notre site
          = link_to root_path do
            www.Bientotchezsoi.com
        ainsi que les Services associés.
      .title
        LA COLLECTE DE VOS DONNÉES PERSONNELLES
      %p
        Nous sommes susceptibles de recueillir et de conserver vos Données Personnelles, par exemple quand vous effectuer les actions suivantes :
      %ul
        %li
          naviguer sur le Site
        %li
          créer un Compte à titre utilisateur particulier
        %li
          créer un Compte en tant que Partenaire (Professionnel de l’immobilier)
        %li
          formuler une Demande
        %li
          payer pour un service
        %li
          s’inscrire à notre Newsletter
        %li
          prendre contact avec le Service Clients ou tout collaborateur du Site, demander toute information, porter réclamation, etc.

      .big-title
        NAVIGUER SUR LE SITE
      %p
        À chaque fois que vous vous connectez à notre Site, des données de connexion et de navigation sont recueillies. Nous recueillons des informations telles que, notamment, votre adresse IP et l’adresse MAC de votre ordinateur, la date et l’heure de connexion, ainsi que des informations sur votre navigateur. Nous recueillons également les informations permettant d’identifier de quelle façon vous accédez au Site, quelles sont les pages consultées et pendant combien de temps. Nous pouvons avoir recours à l’utilisation de Cookies (cf. le document disponible sur notre Site sur ce sujet).
      .title
        CRÉER UNE DEMANDE DE RECHERCHE
      %p
        Pour la création d’une Demande de Recherche (et l’accomplissement éventuel d’une mise en relation avec un Partenaire), il est demandé de compléter un questionnaire pendant lequel de Données Personnelles seront collectées, par exemple votre situation familiale, votre âge, votre patrimoine, etc.
      .title
        CRÉER UN COMPTE OU UN PROFIL PARTENAIRE.
      %p
        Préalablement à l’utilisation de certains Services, la création d’un Compte est obligatoire. Conformément aux Conditions Générales d’Utilisation, il est demandé de renseigner des Données Personnelles lors de la création de votre Compte en tant que particulier, notamment vos noms et prénoms, votre adresse postale, votre adresse e-mail et votre numéro de téléphone, données indispensables à nos Services.
      %p
        Lors de la création d’un profil d’un professionnel de l’immobilier sur le Site, chaque Partenaire communique sa société, son nom, prénom, adresse, email et numéro de téléphone.
      .title
        S’INSCRIRE À NOTRE NEWSLETTER OU AVOIR UN CONTACT
      %p
        Lors de la création de votre Compte ou par tout autre moyen, vous êtes susceptibles de donner votre consentement pour recevoir des lettres d’informations sur de nouveaux produits, services et promotions, dans le cadre des Services. Afin de gérer le plus efficacement les demandes que vous pourriez effectuer auprès de notre Service Client, ou de confirmer les informations et toutes les transactions sur votre Compte, de vous fournir des informations concernant les Services (par exemple, si vous perdez votre mot de passe ou si des changements sont effectués dans les Conditions d’utilisation), nous utiliserons vos nom, prénom, adresse de courrier électronique, voire votre date de naissance.
      .title
        PAYER
      %p
        Certains Services disponibles ou à venir sur le Site sont ou pourraient être payants. Dans ce contexte, vous acceptez que nous puissions avoir recours à des prestataires de services externes qui collecteront vos Données Personnelles dans le but de permettre le bon fonctionnement des services de traitement des paiements par carte de crédit et, le cas échéant, de livraison de produits.
      %p
        Pour régler votre achat, vous devez fournir votre nom, prénom, adresse postale, adresse email, pays ainsi que vos coordonnées de paiement, c’est-à-dire le numéro de votre carte de paiement, le nom du titulaire de la carte, la date de validité et les codes de sécurité, afin de procéder au traitement de votre règlement. Il peut également vous être demandé de fournir le nom de votre opérateur télécom, le modèle de votre téléphone portable et un numéro de portable valide afin de pouvoir fournir les instructions d’achat directement à travers votre téléphone mobile.
      %p
        Nous conservons les détails de vos paiements, ainsi que les détails des achats que vous effectuez. Le détail des transactions est conservé soit par la Société soit chez le prestataire externe. Cette conservation est effectuée à des fins internes, notamment pour la comptabilité, la conformité et à des fins juridiques, conformément au paragraphe sur la conservation de la présente Charte.
      .title
        VOS DONNÉES PERSONNELLES SONT UTILISÉES, MAIS À QUELLE FIN ?
      %p
        Vos Données Personnelles sont utilisées par nos soins ou celles de nos Partenaires pour répondre à vos demandes spécifiques, à vos commandes ou pour vous envoyer des confirmations de commande et autres informations en rapport avec votre Compte et nos Services.
      %p
        Les informations nous permettent également de mieux adapter nos Services à vos attentes. Ainsi, lors de votre utilisation de questionnaires, nous se réservons le droit de collecter, recueillir et enregistrer certaines de vos données, par exemple vos temps de réponses, vos choix par défaut, etc.
      %p
        Si vous avez accepté de recevoir des informations lors de la création de votre Compte, vous pourrez recevoir des messages électroniques ou téléphoniques de notre part. Vous pouvez vous désabonner de ces services à tout moment.
      .title
        VOS DONNÉES PERSONNELLES SONT TELLES PARTAGÉES ?
      %p
        %strong
          Nous nous engageons à ne pas divulguer vos Données Personnelles à un tiers sans obtenir votre autorisation expresse et préalable.
      .title
        PARTAGE DE VOS DONNÉES PERSONNELLES AVEC DES SOCIÉTÉS TIERCES
      %p
        Lors de votre navigation sur le Site ou après, vos Données Personnelles peuvent être transmises à des prestataires extérieurs. Il s’agit notamment de nos Partenaires, qui ont ou pourraient avoir besoin d’informations pour répondre favorablement à votre Demande de Recherche ou à tout autre Service.
      %p
        Par ailleurs, certains autres tiers peuvent assurer un service pour notre compte et en notre nom dans le but de permettre le bon fonctionnement des paiements par carte de crédit et autres Services.
      %p
        Nous ne partagerons jamais, sans avoir obtenu votre consentement préalable, des Données Personnelles avec des sociétés tierces à des fins marketings et/ou commerciales.
      .title
        PARTAGE AVEC LES AUTORITÉS
      %p
        A la demande des autorités administrative ou judiciaire, nous sommes susceptibles, et pourrions être tenus, de divulguer des Données Personnelles. Cette démarche s’inscrit dans un contexte légal, et/ou lorsque leur divulgation est nécessaire à l’identification, l’interpellation ou la poursuite en justice de tout individu susceptible de porter préjudice à nos droits, de tout autre utilisateur ou d’un tiers.
      .title
        LA DURÉE DE CONSERVATION DE VOS DONNÉES PERSONNELLES
      %p
        Vos Données Personnelles sont conservées pendant le temps de votre adhésion aux Services, en particulier pour assurer votre identification lors de votre connexion et la fourniture des Services.
      %p
        Nous conserverons vos Données Personnelles pour une durée strictement nécessaire conformément aux utilisations exposées dans la présente Charte, sauf quand les lois et les réglementations imposent une durée de conservation différente.
      .big-title
        UTILISONS-NOUS DES COOKIES ?
      %p
        Nous vous invitons à lire à ce sujet nos engagements par ailleurs relatifs à l’utilisation de ces derniers, leurs buts et comment vous pouvez les gérer.
      .title
        VOS DROITS SUR VOS DONNÉES PERSONNELLES
      %p
        Conformément aux articles 38, 39 et 40 de la Loi n° 78-17 du 6 janvier 1978 (modifiée) relative à l’informatique, aux fichiers et aux libertés,
        %strong
          vous disposez d’un droit d’interrogation et d’accès aux Données Personnelles vous concernant, d’un droit de rectification et de suppression concernant ces données, ainsi que d’un droit d’opposition pour motif légitime à leur utilisation. Vous pouvez également vous opposer au traitement de vos Données Personnelles à des fins de prospection.
      %p
        %strong
          Les bases de données constituées avec vos Données Personnelles ont fait l’objet d’une déclaration auprès de la CNIL.
      %p
        Pour mettre en oeuvre votre droit d’opposition, d’interrogation, d’accès, de rectification ou de retrait des données, notre Service Client est joignable à l’adresse électronique suivante :
        = mail_to "contact-bcs@bientotchezsoi.com"
        ou à l’adresse postale suivante : Bientôtchezsoi – Digit Halles – 20 rue de Betnoms 33185 Le Haillan (une copie d’un titre d’identité est à joindre obligatoirement).
      %p
        A tout moment, vous pouvez vous désabonner de notre newsletter en cliquant sur le lien « de désabonnement ». En cas de dysfonctionnement du lien de désabonnement, vous pouvez envoyer un message à
        = mail_to "contact-bcs@bientotchezsoi.com"
      .title
        LA PROTECTION DE VOS DONNÉES PERSONNELLES, UN ENJEU PRIMORDIAL
      %p
        Nous avons prévu des mesures de sécurité techniques et organisationnelles. Ces dernières restent un enjeu régulier pour les renforcer, et vous garantir la sécurité, l’intégrité et la confidentialité de toutes vos Données Personnelles.
      %p
        Néanmoins, aucune méthode de transmission de données via le réseau internet ou de stockage électronique n’est en mesure de garantir irrévocablement la sécurité. En conséquence, malgré nos efforts qui seront permanent et renouvelés très régulièrement, nous attirons votre attention sur le fait que ne sommes pas en mesure de garantir une sécurité absolue à vos Données Personnelles, et que notre responsabilité ne pourrait être engagé.
      %p
        %strong
          Nous attirons votre attention aussi sur le fait qu’il vous incombe d’assurer la confidentialité du mot de passe vous permettant d’accéder à votre Compte.
        Vous ne devez communiquer cette information à personne, et devez éviter de définir un mot de passe sur notre Site déjà utilisé par ailleurs sur d’autres sites. Enfin, en cas de partage de votre ordinateur ou de connexion sur des lieux tiers, des ordinateurs prêtés, etc., il est impératif de ne pas oublier de vous déconnecter avant de quitter un Service.
      .title
        LA CHARTE VIE PRIVÉE, ET SES ÉVOLUTIONS
      %p
        La Charte est susceptible d’être modifiée et/ou amendée par nos soins à tout moment. Elle reste disponible sur le Site en permanence, et vous pouvez la consulter régulièrement. Nous vous y encourageons.
      %p
        En cas de modification, votre utilisation des Services signifie que vous acceptez ces dernières sans réserve. Si vous ne souhaitez pas accepter certaines modifications, qui peuvent être significatives, vous devez cesser immédiatement d’utiliser les Services.
      .title
        NOUS CONTACTER
      %p
        Le site Internet
        = link_to root_path do
          www.bientotchezsoi.com
        est exploité par la Société JULATIS SAS, dont vous trouverez toutes les informations la concernant dans les mentions légales. Pour toute question ou toute démarche, notamment si vous souhaitez supprimer définitivement votre Compte, nous sommes disponibles à l’adresse suivante:
        = mail_to "contactbcs@bientotchezsoi.com"



