- if @customer.demands.any?
  - if @customer.demands.where(completed: false).any?
    = render "pages/customer_zone/unfinished_survey", demand: @customer.demands.where(completed: false).last
  - elsif @customer.demands.where(completed: true).any?
    = render "pages/customer_zone/active"
- else
  = render "pages/customer_zone/empty"
