= "Hello world !!!!"
= link_to "Se connecter en tant que salarié BCS", new_employee_session_path, class: "btn btn-primary"
= link_to "Créer un salarié BCS", new_employee_registration_path, class: "btn btn-primary"

