- facebook_meta_full_url(request.original_url)

- if @localisation
  .localisation.hidden{"data-localisation": "#{@localisation.remove(", France")}"}

%section.new-estimation-fullpage
  .estimation-banner
    .content
      %h1 j'évalue la valeur de mon bien
  .estimation-content
    .container
      .estimation-block
        .header
          %h2 Estimation gratuite de ma maison ou de mon appartement
        .sub-header.hidden
          C’est décidé, je m’en vais ! La famille s’agrandit, je me rapproche de mon travail ou j’aspire tout simplement à une nouvelle vie dans un nouveau quartier… Mais avant de déménager, il me faut vendre mon futur ancien chez moi (c’est simple, non ?).Les Castors de Bientôt Chez Soi m’aident à vendre ma maison ou mon appartement sur Bordeaux ! Et pour commencer mon projet, j’effectue une première évaluation gratuite en ligne !

      .row
        .col-xs-12.col-md-9
          #bondevisite

          .contact-block
            .header
              .icon-title-chiffres.fontastic
              L’estimation avec mon agence immobilière de proximité Bientôt Chez Soi
            .sub-header
              Non, rien ne remplace l'expertise des castors de Bientôt Chez Soi. Cette première évaluation est fournie à titre indicatif.
              Mon agence immobilière de proximité Bientôt Chez Soi réalise gratuitement et sans engagement l’estimation de ma maison ou de mon appartement. Ils viennent chez moi et réalisent un diagnostic complet de mon logement pour identifier ses points forts et ses points faibles (s’il y en a).
              Quelques jours plus tard, je reçois une estimation détaillée d’une quinzaine de pages, avec une proposition de prix de vente et des recommandations pour bien vendre.
              Les experts de Bientôt Chez Soi réalisent des estimations sur Bordeaux Métropole.
            .question
              .fa.fa-question-circle
              Combien vaut vraiment ma maison ou mon appartement
            .sub-header
              Je prends rendez-vous avec un expert de Bientôt Chez Soi pour obtenir une estimation plus précise
            .contacts
              .contacts-item
                .bold Par téléphone
                .thin Du lundi au samedi
                .d-flex-start
                  .num 05 35 54 48 48
              .contacts-item
                .bold En agence
                .thin 19 rue Francisco Ferrer 33700 Mérignac Arlac
                .d-flex-start
                  = link_to "https://www.google.com/maps/place/Bientôt+Chez+Soi/@44.825526,-0.614014,15z/data=!4m5!3m4!1s0x0:0x17fef442a5a780df!8m2!3d44.825526!4d-0.614014?hl=fr-FR", target: "_blank" do
                    .bcs-button-sm-special
                      J'y vais


        .col-xs-12.col-md-3
          .more-block
            .header les + de bientôt chez soi
            .content
              .more-block-item
                .img-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/estim-marker.svg"
                .content-item
                L'Agence près de chez moi, qui connaît ma ville sur le bout des doigts
              .more-block-item
                .img-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/estim-database.svg"
                .content-item
                De la data pour mieux vendre mon toit
              .more-block-item
                .img-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/estim-lego.svg"
                .content-item
                Beaucoup d'empathie, pour comprendre mon projet de vie
              .more-block-item
                .img-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/estim-bulb.svg"
                .content-item
                Des solutions digitales innovantes, au service de ma vente



    = render "home/home_props_slider_last_element", estimation_title: "les dernières ventes avec bientôt chez soi"



%script{:src => "https://widget.bondevisite.fr/widget_estimation/v1.0.0/widget.js", :type => "text/javascript"}

:javascript
  BDVWidget.initialize({"targetId":"bondevisite","key":"cd1c1751e188f0fe290b39a245f033ed882e01f0","fontFamily":"Open sans","primaryColor":"#b0c365","borderRadius":4,"evolutionPage":true,"pdfOption":{"agencyLogo":"https://cdn.bientotchezsoi-dev.com/images/Logo-bulle-2.png","agencyName":"Bientôt Chez Soi","agencyAddress":"19 rue Francisco Ferrer","agencyMail":"contact-bcs@bientotchezsoi.com","agencyPhone":"0535544848","agencyAgent":"Laure Gaudin","enabled":true}})


