.container
  %section.estimation-V2
    #bondevisite


%script{:src => "https://widget.bondevisite.fr/widget_estimation/v1.0.0/widget.js", :type => "text/javascript"}

:javascript
  BDVWidget.initialize({"targetId":"bondevisite","key":"cd1c1751e188f0fe290b39a245f033ed882e01f0","fontFamily":"Open sans","primaryColor":"#b0c365","borderRadius":4,"evolutionPage":true,"pdfOption":{"agencyLogo":"https://cdn.bientotchezsoi-dev.com/images/Logo-bulle-2.png","agencyName":"Bientôt Chez Soi","agencyAddress":"19 rue Francisco Ferrer","agencyMail":"contact-bcs@bientotchezsoi.com","agencyPhone":"0535544848","agencyAgent":"Laure Gaudin","enabled":true}})

:javascript
  BDVWidget.on('resultReady', function(event){alert("result available");});
