- facebook_meta_full_url(request.original_url)


.faq-banner
  .faq-banner-content
    bientôt chez soi répond à mes questions


.container
  .faq-subheader
    .faq-subheader-title
      Bientôt Chez Soi répond à toutes mes questions
    .faq-subheader-body
      Les Castors de Bientôt Chez Soi répondent à toutes mes questions ! Je n’ai pas trouvé la bonne réponse ? Pas de problème, je complète le formulaire de contact pour poser ma question…

  %section.faq-fullpage
    .faq-left-block
      .faq-left-block-header
        Toutes nos réponses
      %a.faq-left-menu-item{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
        Qu’est ce qu’une place de marché ?
      %a.faq-left-menu-item{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
        Qu’est-ce que propose Bientôt Chez Soi ?
      %a.faq-left-menu-item{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
        Comment le site fonctionne-il ?
      %a.faq-left-menu-item{"aria-controls" => "collapseFour", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
        Pourquoi dois-je saisir mon numéro de téléphone mobile ?
      %a.faq-left-menu-item{"aria-controls" => "collapseSix", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix", :role => "button"}
        Quels services m’apporte Bientôt Chez Soi ?
      %a.faq-left-menu-item{"aria-controls" => "collapseSeven", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven", :role => "button"}
        Combien ça coûte ?
      %a.faq-left-menu-item{"aria-controls" => "collapseEight", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight", :role => "button"}
        Et si ma recherche a évolué, dois-je tout recommencer ?
      %a.faq-left-menu-item{"aria-controls" => "collapseNine", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine", :role => "button"}
        Pourquoi Bientôt Chez Soi ne me propose que des offres de professionnels de l’immobiliers ?
      %a.faq-left-menu-item{"aria-controls" => "collapseTen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen", :role => "button"}
        Les Castors de Bientôt Chez Soi vivent-ils d’amour et d’eau fraîche ?
      %a.faq-left-menu-item{"aria-controls" => "collapseEleven", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven", :role => "button"}
        Quand vais-je recevoir des propositions de professionnels ?
      %a.faq-left-menu-item{"aria-controls" => "collapseTwelve", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve", :role => "button"}
        Qui se cache derrière Bientôt Chez Soi ?
      %a.faq-left-menu-item{"aria-controls" => "collapseThirteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen", :role => "button"}
        Pourquoi mon notaire a-t-il parfois un air triste ?
      %a.faq-left-menu-item{"aria-controls" => "collapseFourteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen", :role => "button"}
        Est-ce une vraie agence immobilière ?
      %a.faq-left-menu-item{"aria-controls" => "collapseFifteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen", :role => "button"}
        Où rencontrer les équipes de Bientôt Chez Soi ?
      %a.faq-left-menu-item{"aria-controls" => "collapseSixteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen", :role => "button"}
        Puis-je confier la vente de mon bien à Bientôt Chez Soi ?


      .faq-left-block-header.mt-20
        J'ai une question !
      Je vous écris, à l'aide de mon support préféré
      .faq-social-media-links
        = link_to 'https://www.facebook.com/bientotchezsoi/', target: "_blank" do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png'
        = link_to 'https://www.linkedin.com/company/bientotchezsoi/', target: "_blank" do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png'
        = mail_to "contact-bcs@bientotchezsoi.com" do
          = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/new-mail-icon.png"

    .faq-right-block
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            .panel-title
              %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                Qu’est ce qu’une place de marché ?
            %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
            .panel-body
              Une place de marché en ligne est un site regroupant différents vendeurs qui proposent leurs biens et leurs services en ligne. La place de marché joue le rôle de tiers-de-confiance pour les deux parties.

        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                Qu’est-ce que propose Bientôt Chez Soi ?
            %a{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
            .panel-body
              Bientôt chez Soi, c’est la 1ère place de marché qui simplifie l’immobilier ! Tout a été pensé pour faciliter ma recherche et mon achat immobilier : de la recherche à mon installation dans mon nouveau chez moi !
              Le site me permet de créer et de faire évoluer ma recherche en temps réel et de me mettre en relation avec les bons interlocuteurs : du professionnel de l’immobilier qui me propose la maison ou l’appartement de qui me correspond au déménageur qui y posera mes cartons !
              Avec Bientôt Chez Soi, je vais prendre goût à l’achat immobilier !

        .panel.panel-default
          #headingThree.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                Comment le site fonctionne-il ?
            %a{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
            .panel-body
              En quelques clics, le tour est joué ! Je réponds à quelques questions en ligne pour préciser ma recherche immobilière, mon projet familial et (très important) les critères qui comptent vraiment dans ma recherche !
              Bientôt Chez Soi va ensuite partir à la recherche de maisons ou d’appartements qui vont correspondent à mes critères et va me mettre en relation avec les professionnels de l’immobilier qui proposent ces biens. A moi de choisir si je visite ou pas : mais dans tous les cas, je m’épargne la corvée d’une recherche longue et fastidieuse.
              Mais ce n’est pas tout ! Je reçois des conseils personnalisés pour m’aider aux différentes étapes de mon achat.

        .panel.panel-default
          #headingFour.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
                Pourquoi dois-je saisir mon numéro de téléphone mobile ?
            %a{"aria-controls" => "collapseFour", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
            .panel-body
              Pour des raisons de sécurité ! Le concept de Bientôt Chez Soi repose sur la confiance ! A l’instar de l’authentification par SMS proposé par les banques, Bientôt Chez Soi intègre une authentification par SMS afin de vérifier que c’est vraiment moi qui effectue une recherche et pas un vilain robot qui se fait passer pour moi.
              Si je le décide, et uniquement avec mon accord, au cas par cas, mon numéro de téléphone est transmis aux professionnels afin qu’il puisse me contacter dans le cadre de ma recherche, pour m’apporter des précisions sur une maison ou un appartement qui m’intéresse, par exemple.


        .panel.panel-default
          #headingSix.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseSix", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix", :role => "button"}
                Quels services m’apporte Bientôt Chez Soi ?
            %a{"aria-controls" => "collapseSix", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseSix.panel-collapse.collapse{"aria-labelledby" => "headingSix", :role => "tabpanel"}
            .panel-body
              « 76% des futurs acquéreurs évoquent l’absence de biens correspondant à leurs attentes », selon le baromètre Logic-Immo de novembre 2018 ! Dans le même temps, l’achat immobilier est source de stress pour 70 % des français !  C’est décidé, le stress de l’achat, il ne passera pas par moi !
              Bientôt Chez Soi me facilite toutes les étapes de l’achat immobilier, grâce à des services en ligne spécialement conçus pour moi !
              .panel-body-title
                La recherche inversée pour ne plus s’épuiser
              En quelques minutes, je créé ma recherche : localisation, surface, budget, nombre de pièces, critères incontournables etc. Bientôt Chez Soi enregistre ma demande et part à la recherche de la maison ou de l’appartement qui me correspond.
              .panel-body-title
                Des conseils très personnalisés pour simplifier l’immobilier
              Affiner son budget ou sa recherche, bien préparer ma visite, rechercher mon financement ou décrypter mon compromis de vente : Bientôt Chez Soi me propose un accompagnement personnalisé pour m’épauler à chaque étape de mon achat immobilier.
              .panel-body-title
                Des partenaires pour vous entourer au bon moment
              Bientôt Chez Soi me met en relation avec des partenaires triés sur le volet qui m’apportent le bon service au bon moment de mon achat ! Home staging virtuel, courtage en financement ou en travaux, déménagements ou encore mise en relation avec des artisans pour des petits dépannages : c’est cela aussi Bientôt Chez Soi !


        .panel.panel-default
          #headingSeven.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseSeven", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven", :role => "button"}
                Combien ça coûte ?
            %a{"aria-controls" => "collapseSeven", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseSeven.panel-collapse.collapse{"aria-labelledby" => "headingSeven", :role => "tabpanel"}
            .panel-body
              0€, 0 yen, 0 peso, 0 sesterce, rien, nada ! La recherche, les conseils, l’accompagnement sur-mesure sont entièrement gratuits. Je bénéficie en plus d’un service personnalisé : diagnostic sur ma recherche, contenus exclusifs, guides, et conseils personnalisés. Je bénéficie en plus d’avantages chez les partenaires de Bientôt Chez Soi.


        .panel.panel-default
          #headingEight.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseEight", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight", :role => "button"}
                Et si ma recherche a évolué, dois-je tout recommencer ?
            %a{"aria-controls" => "collapseEight", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseEight.panel-collapse.collapse{"aria-labelledby" => "headingEight", :role => "tabpanel"}
            .panel-body
              Diantre non ! Si je change d’avis sur la surface le budget, ou que je décide que je décide que finalement, non, on ne prévoit pas de chambre attitrée pour beau-papa ou belle-maman, je mets très simplement à jour ma recherche dans mon espace personnel et Bientôt Chez Soi relance immédiatement ma recherche.


        .panel.panel-default
          #headingNine.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseNine", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine", :role => "button"}
                Pourquoi Bientôt Chez Soi ne me propose que des offres de professionnels de l’immobiliers ?
            %a{"aria-controls" => "collapseEight", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseNine.panel-collapse.collapse{"aria-labelledby" => "headingNine", :role => "tabpanel"}
            .panel-body
              Tout simplement pour m’apporter un maximum de garanties lors de l’achat ! L’agent immobilier doit détenir une carte professionnelle et doit suivre régulièrement des formations afin de maîtriser les dernières législations applicables à l’immobilier. Le professionnel de l’immobilier peut également vous aider dans la négociation de votre achat.


        .panel.panel-default
          #headingTen.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseTen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen", :role => "button"}
                Les Castors de Bientôt Chez Soi vivent-ils d’amour et d’eau fraîche ?
            %a{"aria-controls" => "collapseTen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseTen.panel-collapse.collapse{"aria-labelledby" => "headingTen", :role => "tabpanel"}
            .panel-body
              Il a bien entendu fallu beaucoup d’amour pour créer la 1ère Place de Marché de l’Immobilier. Et évidemment, comme tous les mammifères, ils ont besoin d’eau. Mais comme moi, le castor a des factures à payer ! Et pour ce faire, c’est très simple : il s’appuie sur une valeur très simple : le partage ! Si je trouve la maison ou l’appartement de mes rêves sur Bientôt Chez Soi, le professionnel avec qui Bientôt Chez Soi m’a mis en relation partage ses honoraires. Je ne paye aucun frais supplémentaire : c’est un partage gagnant-gagnant et tout le monde est content !


        .panel.panel-default
          #headingEleven.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseEleven", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven", :role => "button"}
                Quand vais-je recevoir des propositions de professionnels ?
            %a{"aria-controls" => "collapseEleven", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseEleven.panel-collapse.collapse{"aria-labelledby" => "headingEleven", :role => "tabpanel"}
            .panel-body
              Un soupçon de patience ! Il faudra un peut-être un peu de temps à Bientôt Chez Soi pour trouver le toit de mes rêves ! Mais dans tous les cas, si au bout de quelques semaines, je n’ai pas reçu de proposition, les experts de Bientôt Chez Soi me contactent pour un bilan personnalisé.


        .panel.panel-default
          #headingTwelve.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseTwelve", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve", :role => "button"}
                Qui se cache derrière Bientôt Chez Soi ?
            %a{"aria-controls" => "collapseTwelve", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseTwelve.panel-collapse.collapse{"aria-labelledby" => "headingTwelve", :role => "tabpanel"}
            .panel-body
              Cacher, c’est un bien grand mot ! L’équipe de Bientôt Chez Soi c’est une savante alchimie entre des experts du digital et des experts de l’immobilier ! Leur point commun ? Leur envie de simplifier l’achat et leur amour du travail bien fait !


        .panel.panel-default
          #headingThirteen.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseThirteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen", :role => "button"}
                Pourquoi mon notaire a-t-il parfois un air triste ?
            %a{"aria-controls" => "collapseThirteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseThirteen.panel-collapse.collapse{"aria-labelledby" => "headingThirteen", :role => "tabpanel"}
            .panel-body
              Parce que quand il me parle de servitude, promesse synallagmatique ou de purge de préemption, il se dit que c’est peut-être un détail pour lui, mais pour moi ça veut dire beaucoup… et qu’il mesure l’étendue de ce fossé. Mais bonne nouvelle : Bientôt Chez Soi va nous aider à mieux nous comprendre.


        .panel.panel-default
          #headingFourteen.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseFourteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen", :role => "button"}
                Est-ce une vraie agence immobilière ?
            %a{"aria-controls" => "collapseFourteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseFourteen.panel-collapse.collapse{"aria-labelledby" => "headingFourteen", :role => "tabpanel"}
            .panel-body
              Affirmatif ! Bientôt Chez Soi est enregistrée comme telle au registre de commerce de Bordeaux sous le numéro 808 177 331. L’agence dispose d’une carte professionnelle (CPI 3301 2017 000 015 950) délivrée le 17 janvier 2017 par la Chambre de Commerce et d’Industrie de Bordeaux – transactions sur immeubles et fonds de commerce avec non-détention de fonds. Elle dispose d’une garantie émise par GALLIAN 89 rue de la Boétie 75008 Paris pour un montant de 120 000 €, et d’une Assurance Responsabilité Civile Professionnelle auprès la MMA Entreprises – 14 Bd Marie et Alexandre Oyon 72030 Le Mans cedex – sous le numéro de police 49180 G couvrant le territoire national.


        .panel.panel-default
          #headingFifteen.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseFifteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen", :role => "button"}
                Où rencontrer les équipes de Bientôt Chez Soi ?
            %a{"aria-controls" => "collapseFifteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseFifteen.panel-collapse.collapse{"aria-labelledby" => "headingFifteen", :role => "tabpanel"}
            .panel-body
              Notre terrier est situé à un trottoir de Bordeaux, au 19 rue Francisco Ferrer à Mérignac. Que je sois un voisin ou que je passe dans le coin je peux rencontrer les équipes de Bientôt Chez Soi !


        .panel.panel-default
          #headingSixteen.panel-heading{:role => "tab"}
            .panel-title
              %a.collapsed{"aria-controls" => "collapseSixteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen", :role => "button"}
                Puis-je confier la vente de mon bien à Bientôt Chez Soi ?
            %a{"aria-controls" => "collapseSixteen", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen", :role => "button"}
              .icon-angle-down.custom-font-icon
          #collapseSixteen.panel-collapse.collapse{"aria-labelledby" => "headingSixteen", :role => "tabpanel"}
            .panel-body
              Bien sûr que oui ! Bientôt Chez Soi réalisera une estimation détaillée de ma maison ou de mon appartement et me proposera les bons outils pour trouver le bon acheteur rapidement !
              = link_to "J'en apprends plus en cliquant ici", je_vends_path, target: "_blank"

