- title "Bientôt Chez Soi - Nos honoraires"
- meta_description "Je vends mon bien avec Bientôt Chez Soi, avec une formule adaptée à mes besoins."



%section.fees
  .header{style: "background-image: linear-gradient(rgb(255,255,255,0.4),rgb(255,255,255,0.4)), url('https://cdn.bientotchezsoi-dev.com/images/Bandeau-vente.jpg');"}
    %h1
      je vends ma maison, je vends mon appartement
  .container
    .fees-header
      .icon-menu-kenotte.fontastic-icon
      les 4 formules d'honoraires pour ma vente
    .sub-header
      En toute transparence et en toute confiance, je consulte vos tarifs.

    .formule-details-wrapper
      .left-block
        .block.gray
          .block-title
            Les options que je retrouve dans tous les mandats
          .block-content
            .block-content-item
              .fa.fa-check
              .text
                Estimation détaillée de mon bien
            .block-content-item
              .fa.fa-check
              .text
                Signature d'un mandat de vente
            .block-content-item
              .fa.fa-check
              .text
                Redaction de l'annonce de vente
            .block-content-item
              .fa.fa-check
              .text
                Publication sur les sites de vente
            .block-content-item
              .fa.fa-check
              .text
                Prises de rendez-vous pour les visites
            .block-content-item
              .fa.fa-check
              .text
                Offre d'achat au format électronique


        .block.red
          .block-title
            Les petits + (sur devis)
          .block-content
            .block-content-item
              .fa.fa-circle-o
              .text
                Offre conciergerie petits travaux de remise en état
            .block-content-item
              .fa.fa-circle-o
              .text
                Plans 3D
            .block-content-item
              .fa.fa-circle-o
              .text
                Planche de Home-staging
            .block-content-item
              .fa.fa-circle-o
              .text
                Visite vidéo de la maison


      .right-block.hidden-xs
        .right-block-top
        .right-block-bottom
          .header-text
            Les infos légales
          .body-text
            .d-flex-start.mb-5
              %div
                Garantie Gallian pour les transactions immobilière de 120 000 €
            .d-flex-start.mb-5
              %div
                Julatis SAS - RCS Bordeaux 808 177 331
            .d-flex-start.mb-5
              %div
                Carte professionnelle CPI 3301 2017 000 015 950
            .d-flex-start
              %div
                Adhérent FNAIM
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/FNAIM.png', width: "60", class: "ml-10"

    .fees-header-alt
      .icon-title-chiffres.fontastic-icon
      mandat echo
    .fees-small-header
      Tous les services essentiels pour vendre
    .row
      .col-xs-12.col-md-7
        .mandate-item
          .mandate-item-title
            Les tarifs TTC
          .mandate-item-step
            .fa.fa-circle
            Jusqu'à 250 000 €, honoraires fixes de 5 900 €
          .mandate-item-step
            .fa.fa-circle
            Au delà de 250 000 €, honoraires de 2,5 % du prix de vente
      .col-xs-12.col-md-5
        .mandate-item-alt
          .mandate-item-title
            Les points forts
          .mandate-item-step
            .fa.fa-check
            Prix attractif
          .mandate-item-step
            .fa.fa-check
            Services essentiels
          .mandate-item-step
            .fa.fa-check
            De l'autonomie


    .fees-header-alt
      .icon-prop-plain-heart.fontastic-icon
      mandat coup de coeur
    .fees-small-header
      Le meilleur des compromis pour trouver l'acheteur
    .row
      .col-xs-12.col-md-7
        .mandate-item
          .mandate-item-title
            Les tarifs TTC
          .mandate-item-step
            .fa.fa-circle
            Jusqu'à 250 000 €, honoraires fixes de 10 000 €
          .mandate-item-step
            .fa.fa-circle
            Au delà de 250 000 €, honoraires de 3,9 % du prix de vente
      .col-xs-12.col-md-5
        .mandate-item-alt
          .mandate-item-title
            Les points forts
          .mandate-item-step
            .fa.fa-check
            Visites accompagnées par Bientôt Chez Soi
          .mandate-item-step
            .fa.fa-check
            Visibilité accentuée

    .fees-header-alt
      .icon-star.fontastic-icon
      mandat premium
    .fees-small-header
      100% de services exclusifs pour une vente 100% zen
    .row
      .col-xs-12.col-md-7
        .mandate-item
          .mandate-item-title
            Les tarifs TTC
          .mandate-item-step
            .fa.fa-circle
            Jusqu'à 250 000 €, honoraires fixes de 12 000 €
          .mandate-item-step
            .fa.fa-circle
            Au delà de 250 000 €, honoraires de 4,9 % du prix de vente
      .col-xs-12.col-md-5
        .mandate-item-alt
          .mandate-item-title
            Les points forts
          .mandate-item-step
            .fa.fa-check
            Référencement prioritaire
          .mandate-item-step
            .fa.fa-check
            Compromis de vente sérénité **
          .mandate-item-step
            .fa.fa-check
            Pré-validation des acquéreurs par notre courtier partenaire


    .fees-header-alt
      = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/kenotte-mandat-excellence.svg", width: "40", class: "mr-10"
      mandat excellence
    .fees-small-header
      Services & accompagnement: mon casting de rêve pour ma vente
    .row
      .col-xs-12.col-md-7
        .mandate-item
          .mandate-item-title
            Les tarifs TTC
          .mandate-item-step
            .fa.fa-circle
            Jusqu'à 250 000 €, honoraires fixes de 14 750 €
          .mandate-item-step
            .fa.fa-circle
            Au delà de 250 000 €, honoraires de 5,9 % du prix de vente
      .col-xs-12.col-md-5
        .mandate-item-alt{style: "min-height: 250px;"}
          .mandate-item-title
            Les points forts
          .mandate-item-step
            .fa.fa-check
            Assurance garantie vices cachés
          .mandate-item-step
            .fa.fa-check
            Référencement prioritaire web et réseaux sociaux
          .mandate-item-step
            .fa.fa-check
            Conseil 2h avec un architecte d'intérieur
          .mandate-item-step
            .fa.fa-check
            Diagnostics immobiliers offerts
          .mandate-item-step
            .fa.fa-check
            Reportage photo par un photographe pro

    .row
      .col-xs-12.col-md-offset-3.col-md-6
        .fees-download-block
          .text
            Ici, je télécharge le tableau des honoraires
          = link_to "JE TELECHARGE LE TABLEAU", "https://cdn.bientotchezsoi-dev.com/pdfs/honoraires-v24-05-19.pdf", class: "bcs-button-sm-special", target: "_blank"


    .row
      / .col-xs-12.col-md-6
      /   .fees-bottom-block.green
      /     .bottom-block-header.white-text
      /       .icon-title-contact.fontastic-icon
      /       je contacte mon expert
      / .col-xs-12.col-md-6
      /   .fees-bottom-block.light-gray
      /     .bottom-block-header
      /       .icon-title-pro.fontastic-icon
      /       je rencontre mon expert

      .col-xs-12.col-md-6
        .fees-bottom-block.light-gray
          .bottom-block-header
            .icon-menu-kenotte.fontastic-icon
            je vends avec vous !
          .bottom-block-small-header
            Je vends avec vous, je vous fais confiance !
            C'est parti, je vous présente mon bien
          .d-flex-center
            = link_to "JE VENDS MON BIEN", je_vends_path, class: "bcs-button-sm-special", target: "_blank"


      .col-xs-12.col-md-6
        .fees-bottom-block.light-gray-2
          .bottom-block-header
            .icon-title-chiffres.fontastic-icon
            j'estime mon bien en ligne
          .bottom-block-small-header
            Grâce à Bientôt Chez Soi je peux connaître
            %strong
              le prix approximatif de mon bien sur Bordeaux Métropole
          .d-flex-center
            = link_to "J'ESTIME MON BIEN", estimation_v3_path, class: "bcs-button-sm-special", target: "_blank"

