- if @page
  - facebook_meta_full_url(request.original_url)
  - meta_description "#{@page.meta_desc}"
  - title "#{@page.meta_title}"


%section.glossary
  .banner
    .banner-content
      %h1 Mieux comprendre l'immobilier
      %div.hidden
        = "Ajouté il y a #{distance_of_time_in_words(Time.now, Time.now + 12.seconds, include_seconds: true)}"

  .preview.container
    %h5 Ici, j'apprends à parler l'immobilier
    %p Ce glossaire reprend de nombreuses abréviations ou mot du jargon immobilier. Je pourrais mieux comprendre mon notaire, mon agent immobilier ainsi que les règles de l'achat et de la vente...

  .glossaire.container
    .left-item
      = render 'shared/glossaire_left'
    .right-item
      = render 'shared/glossaire_right'
