- facebook_meta_full_url(request.original_url)


%section.hunt-fullpage
  .hunt-banner
    .content
      %h1 mon chasseur immobilier VIP
  .hunt-content
    .container
      .hunt-block
        .container
          .row
            .col-xs-12.col-md-10
              .header
                %h2 Bientôt Chez Soi cherche des appartements ou des maisons pour moi
              .header
                %h2 Bientôt Chez Soi s'occupe de tout
            .row
              .col-xs-12.col-md-9
                .sub-header
                  C’est décidé, j’achète (ou je déménage) ! Mais je n’ai pas le temps de chercher… Bientôt Chez Soi met à ma disposition ses meilleurs castors pour chercher, visiter et trouver LE logement dont je rêve.
                  %br
                  %br Je choisis le mandat de recherche VIP pour bénéficier d’un accompagnement sur-mesure « Very Important Propriétaire » !
                  %br Je bénéficie également d’un accompagnement privilégié et du réseau de confiance Bientôt Chez Soi conseils pour valoriser mon bien immobilier. Services à la carte, pour sa rénovation : recherche et sélection des prestataires, établissement de devis, suivi de travaux, ameublement, décoration…

                .d-flex-center.mb-25
                  = link_to "Je télécharge les honoraires", "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pdfs/honoraires_mandat_recherche_010219.pdf", target: "_blank", class: "bcs-button-sm-dark-red"

              .col-xs-12.col-md-3
              = image_tag "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/K-costume.png"

      .row
        .col-xs-12.col-md-9
          .header Contactez-nous pour échanger sur tout l’intérêt et les détails de cette formule !

          %section.contact
            .row
              = simple_form_for(Contact.new) do |f|
                = f.input :hunt, as: :hidden, input_html: { value: ""}
                .col-xs-12.col-md-6
                  = f.input :firstname, label: false, placeholder: "Mon prénom"
                .col-xs-12.col-md-6
                  = f.input :lastname, label: false, placeholder: "Mon nom"
                .col-xs-12.col-md-6
                  = f.input :email, label: false, placeholder: "Mon email"
                .col-xs-12.col-md-6
                  = f.input :phone, label: false, placeholder: "Mon téléphone (facultatif)"
                .col-xs-12
                  = f.input :choice, label: "La bonne case cochée permet d’avoir accès vite au bon expert à vos côtés !", as: :radio_buttons, collection: ["Je veux un coup de coeur, je cherche!","Je prends une feuille blanche, j'aimerai construire!","Je tourne une page, je vends!"], checked: 0
                .col-xs-12
                  = f.input :comment, as: :text, label: false, placeholder: "Ici, j'écris ce que j'aime dans mon logement actuel...ou autre chose"
                .col-xs-12.col-md-6
                  = recaptcha_tags
                .col-xs-12.col-md-6
                  .d-flex-end.mtb-25
                    = f.button :submit, class: "bcs-button-sm mt-10", value: "Valider"

        .col-xs-12.col-md-3
          .more-block
            .header les + de bientôt chez soi
            .content
              .more-block-item
                .img-item
                = image_tag "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/star.png"
                .content-item
                L’accès à des offres « off market » grâce au précieux carnet d’adresses des chasseurs experts
              .more-block-item
                .img-item
                = image_tag "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/star.png"
                .content-item
                Un agent immobilier qui négocie et défend mes intérêts face à l’agent immobilier du vendeur
              .more-block-item
                .img-item
                = image_tag "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/star.png"
                .content-item
                Un accompagnement sur-mesure pour m’entourer dans toutes les étapes de mon achat
