- facebook_meta_full_url(request.original_url)


%section.search-header
  .d-flex-center
    %h2
      = t('search.header.title_1')
    = image_tag 'https://cdn.bientotchezsoi-dev.com/images/home-house.png', class: 'hidden-xs'
  %h1
    = t('search.header.title_2')
  %h2.white-text
    = t('search.header.title_3')
  .abs-container
    .carret
.section-padding
  .row
    .col-xs-12.col-md-4
      .services-card
        .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/easy-and-secure.jpg');"}
        .bottom-section
          %strong
            = t('search.keypoints.item_1.title')
          %p
            = t('search.keypoints.item_1.description')
    .col-xs-12.col-md-4
      .services-card
        .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/innovative.jpg');"}
        .bottom-section
          %strong
            = t('search.keypoints.item_2.title')
          %p
            = t('search.keypoints.item_2.description')
    .col-xs-12.col-md-4
      .services-card
        .top-section{style:"background-image: url('https://cdn.bientotchezsoi-dev.com/images/free-step3.jpg');"}
        .bottom-section
          %strong
            = t('search.keypoints.item_3.title')
          %p
            = t('search.keypoints.item_3.description')

    .col-xs-12
      .search-container
        %h1.text-center
          = t('search.form.title')
        = form_tag(initial_location_path, method: :post,id: "initial_location") do
          %input{id:"user_input_autocomplete_address",placeholder:"Votre adresse...",autocomplete:"off"}
          %input{id:"lng",name:"lng",type:"hidden"}
          %input{id:"lat",name:"lat",type:"hidden"}
          %input{id:"locality",name:"locality",type:"hidden"}
          %input.bcs-button-sm{ type:"submit"}


%section.explanations
  .left-content.visible-xs
    %h1.text-center
      = t('search.explications.title')
  .left-content.hidden-xs
    %h1
      = t('search.explications.title')
    = image_tag 'https://cdn.bientotchezsoi-dev.com/images/ruler.png'
  .right-content
    .item
      .circle
        = t('search.explications.item_1.position')
      %p
        = t('search.explications.item_1.content').html_safe
    .item
      .circle
        = t('search.explications.item_2.position')
      %p
        = t('search.explications.item_2.content').html_safe
    .item
      .circle
        = t('search.explications.item_3.position')
      %p
        = t('search.explications.item_3.content').html_safe

%section.motivations
  .section-padding
    .header.hidden-xs
      %h1
        = t('search.why.title').html_safe
    .text-center.visible-xs
      %h1
        = t('search.why.mobile_title_1')
    %div.text-center.visible-xs.mb-25
      %h1
        %strong
          = t('search.why.mobile_title_2')
    .row
      .col-xs-12.col-md-3
        .motivation-card
          %h4
            = t('search.why.item_1.title')
          .separator-container
            .separator
          %p
            = t('search.why.item_1.content')
      .col-xs-12.col-md-3
        .motivation-card
          %h4
            = t('search.why.item_2.title')
          .separator-container
            .separator
          %p
            = t('search.why.item_2.content')

      .col-xs-12.col-md-3
        .motivation-card
          %h4
            = t('search.why.item_3.title')
          .separator-container
            .separator
          %p
            = t('search.why.item_3.content')

      .col-xs-12.col-md-3
        .motivation-card
          %h4
            = t('search.why.item_4.title')
          .separator-container
            .separator
          %p
            = t('search.why.item_4.content')
