%section.inform-myself
  = image_tag t('learn.picture_url')
  %h1
    = t('learn.title')
  .row
    .col-xs-12.col-md-6
      .blog-card
        .top-section{style:"background-image: url('https://via.placeholder.com/450x250');"}
          .absolute-layout
            .plus-logo
              +

        .bottom-section
          %h4
            ACHETER A DEUX ET RESTER HEUREUX !
          .d-flex-start
            %small
              31/01/2018 |
            %small.card-category
              Achat
          %p
            Un achat à deux représente une étape importante dans la vie d’un couple, le début d’une grande aventure. S’il s’agit d’un avantage indéniable pour obtenir un financement plus facilement, il est important de mesurer aussi les compromis à faire ensemble…
          = link_to "Lire la suite", root_path, class: "blog-card-link"
      .d-flex-center
        = link_to t('learn.find_button_text'), root_path, class: 'bcs-button mobile-margin'
    .col-xs-12.col-md-6
      .blog-card
        .top-section{style:"background-image: url('https://via.placeholder.com/450x250');"}
          .absolute-layout
            .plus-logo
              +
        .bottom-section
          %h4
            REUSSIR VOTRE VENTE : LE COACHING DE KENOTTE !
          .d-flex-start
            %small
              31/01/2018 |
            %small.card-category
              Vente
          %p
            Vous avez fixé le prix de vente de votre bien de manière réaliste et objective, et l’avez mis en valeur au mieux ? C’est parti pour les visites ! Commencez par accueillir les acquéreurs potentiels avec le sourire : la première impression est primordiale...
          = link_to "Lire la suite", root_path, class: "blog-card-link"

      .d-flex-center
        = link_to t('learn.sell_button_text'), root_path, class: 'bcs-button'
