- title "Bientôt Chez Soi - Je vends ma maison ou mon appartement"
- meta_description "C'est décidé, je m'en vais ! Bientôt Chez Soi réalise une estimation gratuite et me propose des solutions utiles & innovantes pour vendre mon bien au bon prix et dans les meilleurs délais."


%section.i-sell-page
  .banner
    .banner-content
      %h1 vente et estimation immobilière
      %h2 présentez-nous votre bijou, on se charge de tout !
  .container
    .row.sub-banner
      .col-xs-12.col-md-12
        .block-header
          .icon-menu-kenotte.fontastic.gray-text
          = "choisir bientôt chez soi pour sa vente"
        .block-content
          .item
            Pas toujours facile de choisir à qui confier son bien à la vente tant le nombre d’agences immobilières est important et tant elles se ressemblent !
          .item
            Avec Bientôt Chez Soi nous avons souhaité vous proposer une approche différente & personnalisée.

    .row
      .col-xs-12.col-xs-12.col-md-4
        .sell-card-container
          .sell-card
            .front
              .sell-card-info-front
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/k-innovation.svg", width: "160"
                Des outils digitaux innovants
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/plus.svg", width: "30", class: "btn-f"
            .back
              .sell-card-info-back
                .bold Des outils digitaux innovants
                %br
                Des outils digitaux innovants pour mettre en valeur votre toit, et le rendre visible des bons acquéreurs.
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/moins.svg", width: "30", class: "btn-f"

      .col-xs-12.col-md-4
        .sell-card-container
          .sell-card
            .front
              .sell-card-info-front
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/k-ecoute.svg", width: "160"
                De l'écoute et des échanges
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/plus.svg", width: "30", class: "btn-f"
            .back
              .sell-card-info-back
                .bold De l'écoute et des échanges
                %br
                La vente de votre maison ou de votre appartement, c’est un moment important ! Nous pensons que comprendre votre projet de vente permet de mieux vendre votre bien.
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/moins.svg", width: "30", class: "btn-f"

      .col-xs-12.col-md-4
        .sell-card-container
          .sell-card
            .front
              .sell-card-info-front
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/k-chercheur.svg", width: "140"
                Un interlocuteur dédié
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/plus.svg", width: "30", class: "btn-f"
            .back
              .sell-card-info-back
                .bold Un interlocuteur dédié
                %br
                La confiance est capitale : vous bénéficiez d’un rapport privilégié avec un expert immobilier qui suit personnellement votre vente.
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/moins.svg", width: "30", class: "btn-f"

    .row.sell-info
      .col-xs-12.col-md-6
        .sell-plus
          .block-header
            .icon-menu-kenotte.fontastic.white-text
            .white-text
              = "les p’tits plus bientôt chez soi"
          .block-content
            .item
              .white-text
                = "L’estimation Gratuite & détaillée de mon bien - Sans engagement"
            .item
              .white-text
                = "Une boîte à outils digitale : home staging virtuel, signature électronique"
            .item
              .white-text
                = "Une sélection d’acheteurs sérieux pour des visites qualifiées"
            .item
              .white-text
                = "Un pôle rédactionnel sublime la description de mon bien"

      .col-xs-12.col-md-6
        .sell-bulletin
          .block-header
            .icon-title-note.fontastic.red-text
            .red-text
              = "le bulletin de note de kenotte"
          .block-content
            .testimonials-content
              .testi-item
                .testi-content
                  .testi-user
                    François, Chef d'entreprise
                  .testi-text
                    “Une vraie écoute de nos besoins, un oeil critique et des échanges constructifs tout au long de notre projet immobilier, qui était atypique et complexe. Une valeur indéniable et différente des acteurs traditionnels du secteur“
                .testi-logo
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/18.svg", width: "70"

    .row.sell-estimation
      .col-xs-12.col-md-6
        .bottom-block.gray.mb-20
          .block-header.mb-25
            .icon-euro.fontastic
            = "l'estimation"
          .estimation-item
            .estimation-item-left
              .gray-circle
                = "1"
            .estimation-item-right
              Nous commençons par visiter votre bien. Ainsi, nous apprenons à connaître l’âme de votre logement, votre vie au sein de ce bien.

          .estimation-item
            .estimation-item-left
              .gray-circle
                = "2"
            .estimation-item-right
              Après avoir élaboré une fiche très détaillée y compris sur des détails souvent insoupçonnés, nous analysons toutes les données concernant votre tanière et les confrontons à des informations extérieures !

          .estimation-item
            .estimation-item-left
              .gray-circle
                = "3"
            .estimation-item-right
              Laissez-nous vendre votre bien ! Grâce à notre base de données de clients via notre solution digitale en un clic, ou notre réseau de diffusion, votre acheteur n’est certainement pas loin ! Facile, ludique & simple !

          .d-flex-center
            = link_to "J'ESTIME MON BIEN", estimation_v3_path, class: "bcs-button-sm-special"

      .col-xs-12.col-md-6
        .custom-bdv-widget.mb-20
          #bondevisite

    .row
      .col-xs-12.col-md-3
        .mandate-item
          .mandate-title MANDAT ECHO
          .mandate-info
            = "Les services essentiels pour vendre"
          .mandate-info
            = "A partir de"
            %strong
              3 900 €
          .absolute-mandate-logo-container
            .mandate-logo
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/formule-echo.svg"
      .col-xs-12.col-md-3
        .mandate-item
          .mandate-title MANDAT COUP DE COEUR
          .mandate-info
            = "Le meilleur des compromis pour trouver l'acheteur"
          .mandate-info
            = "A partir de"
            %strong
              10 000 €
          .absolute-mandate-logo-container
            .mandate-logo
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/formule-coupdecoeur.svg"
      .col-xs-12.col-md-3
        .mandate-item
          .mandate-title MANDAT PREMIUM
          .mandate-info
            = "100% des services exclusifs pour une vente 100% zen"
          .mandate-info
            = "A partir de"
            %strong
              12 000 €
          .absolute-mandate-logo-container
            .mandate-logo
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/formule-premium.svg"


      .col-xs-12.col-md-3
        .mandate-item
          .mandate-title MANDAT EXCELLENCE
          .mandate-info
            = "Services & accompagnement: le casting parfait"
          .mandate-info
            = "A partir de"
            %strong
              14 750 €
          .absolute-mandate-logo-container
            .mandate-logo
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/kenotte/kenotte-mandat-excellence.svg"

    .button-container
      .d-flex-center
        = link_to "EN SAVOIR PLUS", fees_path, class: "bcs-button-sm-special", target: "_blank"

    .sell-page-form-block.hidden
      .form-header-red
        .big
          je vous présente mon bijou
        .small
          Présentez-nous votre bien et son histoire... Nous en prendrons connaissance et nous vous recontactons sous 48h,promis!


      = simple_form_for(@prospect_property, url: property_to_sell_create_path) do |f|

        .custom-form-big-header
          .icon-key.font-resize
          C'est parti !

        .custom-form-label
          Le type de mon bien
        .radio-collections-container
          = f.collection_radio_buttons :property_type,[["Une maison"],["Un appartement"]], :first, :generate_estimation_button_icon

        .custom-form-big-header
          .icon-marker.font-resize
          La localisation


        .row
          .col-xs-12
            .custom-price-input-container
              .absolute-hint
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/flat-placeholder.svg", width: "25"
              = f.input :localisation, label: false, placeholder: "Où est-elle située", input_html: { id: 'user_input_autocomplete_address'}



        .custom-form-big-header
          .icon-prop-plain-heart.font-resize
          Mon bien
        .custom-form-label
          Un peu plus de détails sur ma perle

        .row
          .col-xs-12.col-md-4
            .custom-price-input-container
              .absolute-hint
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/flat-resize.svg", width: "25"
              = f.input :area, label: false, placeholder: "Surface en m²", as: :numeric
          .col-xs-12.col-md-4
            .custom-price-input-container
              .absolute-hint
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/flat-euro.svg", width: "25"
              = f.input :price, label: false, placeholder: "Prix de vente"
          .col-xs-12.col-md-4
            .custom-price-input-container
              .absolute-hint
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/flat-interior-design.svg", width: "25"
              = f.input :nb_rooms, label: false, placeholder: "Nombre de pièces"
          .col-xs-12
            .custom-price-input-container
              .absolute-hint
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/flat-love.svg", width: "25"
              = f.input :like, label: false, placeholder: "Ce qui me plaît dans ce bien", as: :text

        .custom-form-big-header
          .icon-user.font-resize
          Moi

        .row
          .inline-form-inputs
            .col-xs-12.col-md-3
              = f.input :firstname, label: false, placeholder: "Mon prénom"
            .col-xs-12.col-md-3
              = f.input :lastname, label: false, placeholder: "Mon nom"
            .col-xs-12.col-md-3
              = f.input :email, label: false, placeholder: "Mon email"
            .col-xs-12.col-md-3
              = f.input :phone, label: false, placeholder: "Téléphone"

          .col-xs-12
            .d-flex-center.mt-25
              = f.submit "JE VOUS CONFIE MON BIEN", class: "bcs-button-sm-special"

= render "home/home_props_slider", estimation_title: nil

%script{:src => "https://widget.bondevisite.fr/widget_estimation/v1.0.0/widget.js", :type => "text/javascript"}

:javascript
  BDVWidget.initialize({"targetId":"bondevisite","key":"cd1c1751e188f0fe290b39a245f033ed882e01f0","fontFamily":"Open sans","primaryColor":"#b0c365","borderRadius":4,"evolutionPage":true,"pdfOption":{"agencyLogo":"https://cdn.bientotchezsoi-dev.com/images/Logo-bulle-2.png","agencyName":"Bientôt Chez Soi","agencyAddress":"19 rue Francisco Ferrer","agencyMail":"contact-bcs@bientotchezsoi.com","agencyPhone":"0535544848","agencyAgent":"Laure Gaudin","enabled":true}})





