- title "Bientôt Chez Soi - Nos palpitantes & nécessaires mentions légales"
- meta_description "Retrouvez dans cette page les mentions légales du site Bientôt Chez Soi. Informations légales, conditions d'utilisation du site, informations et libertés..."


%section.cgu-section

  .cgu-section-header
    .header-title
      MENTIONS LEGALES

  .cgu-section-link
    = link_to "TÉLÉCHARGER LE PDF", "https://cdn.bientotchezsoi-dev.com/pdfs/mentions-legales.pdf", target: "_blank", class: "simple-link"

  .cgu-section-item
    .section-item-title LA SOCIÉTÉ ET LE SITE
    .section-item-body
      %p
        Le site www.bientotchezsoi.com est exploitée par la société JULATIS SAS, SAS au capital de 20 000 €, enregistrée au RCS de Bordeaux sous le numéro 808 177 331, et dont le siège social est situé 2 Rue Richelieu 33200 Bordeaux.
      %p
        La marque Bientotchezsoi est une marque déposée à l’INPI.
      %p
        La société dispose d’une carte professionnelle (CPI 3301 2017 000 015 950) délivrée le 17 janvier 2017 par la CCI de Bordeaux – transactions sur immeubles et fonds de commerce avec non-détention de fonds. Elle dispose d’une garantie émise par GALLIAN 89 rue de la Boétie 75008 Paris pour un montant de 120 000 €, et d’une Assurance Responsabilité Civile Professionnelle auprès la MMA Entreprises – 14 Bd Marie et Alexandre Oyon 72030 Le Mans cedex – sous le numéro de police 49180 G couvrant le territoire national.
      %p
        Le Directeur de publication est Philippe GAUDIN.

  .cgu-section-item
    .section-item-title PROPRIÉTÉ ET CONTENU
    .section-item-body
      %p
        Le contenu de ce site Internet, incluant les textes, les graphiques, les images, les informations, les logos, les icônes, ainsi que tout autre type de contenus sont la propriété de JULATIS et de la marque Bientotchezsoi.  JULATIS est également une marque déposée.
      %p
        JULATIS et le site Bientotchezsoi.com se dégagent de toutes responsabilités concernant tout dommage direct ou indirect de quelque nature qu’il soit, lié à l’éventuelle absence d’exactitude, de fiabilité, de pertinence, d’exhaustivité, d’actualité du présent site.
      %p
        Nous portons la plus grande attention à l’élaboration du contenu de ce site, mais des erreurs peuvent apparaître. C’est pourquoi il est précisé que ledit contenu est non contractuel, et fourni à titre indicatif. Les informations contenues ne sont pas contractuelles, et ne peuvent engager la société, son représentant ou ses salariés.
      %p
        Vous êtes autorisés, sur une base non-exclusive et non-transférable, à visionner et télécharger une copie unique des contenus de ce site pour une utilisation à des fins personnelles. Cette autorisation ne tient en aucun cas lieu de transfert de propriété. Une utilisation illégale du contenu de ce site est contraire à la loi. Vous vous engagez à laisser visible toute information légale dans toute copie du contenu du site. Vous ne pouvez en aucun cas commercialiser, modifier, reproduire, diffuser, distribuer ou utiliser de toute autre manière que ce soit le contenu de ce site, que ce soit à des fins publiques ou privées. L’utilisation du contenu du site, sous une forme autre que celle décrite dans les présentes conditions, est interdite.

  .cgu-section-item
    .section-item-title PROTECTION DE LA VIE PRIVÉE ET DES DONNÉES PERSONNELLES
    .section-item-body
      %p
        Lors de leur visite sur le site www.bientotchezsoi.com, les utilisateurs peuvent fournir des informations personnelles, qui sont collectées afin de permettre :
      %p
        – d’établir des statistiques générales de trafic sur le site
      %p
        – de répondre, informer ou faire parvenir aux utilisateurs des annonces en relation avec leur recherche.
      %p
        Pour plus d’informations, et engagé sur ce sujet, une Charte de la Vie Privée est disponible. Nous vous invitons à en prendre connaissance.
      %p
        Tout Utilisateur du site www.bientotchezsoi.com dispose du droit d’accès (article 34 à 38 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés) et du droit de rectification (article 36 de la dite-loi de 1978), aux données personnelles la concernant. Il peut exercer ces droits en contactant la société JULATIS à son adresse indiquée ci-dessus.
      %p
        JULATIS et le site Bientotchezsoi.com ont fait des déclarations auprès de la CNIL.

  .cgu-section-item
    .section-item-title HÉBERGEMENT
    .section-item-body
      %p
        Ce site est hébergé par OVH.

  .cgu-section-item
    .section-item-title LES COOKIES
    .section-item-body
      %p
        Des cookies sont utilisés sur ce site Web. Il s’agit de petits fichiers textes stockés sur l’appareil de l’utilisateur.
      %p
        Nous vous invitons à lire attentivement le document disponible sur notre site Cookies BCS et détaillant leur utilisation et les moyens de les gérer.


