%section.parrainage
  .parrainage-header
    .header-content
      Parrainage : recommandez Bientôt Chez Soi & faites le plein d’avantages !

.container
  .row
    .col-xs-12.col-md-6
      .advantage-item
        .adv-item-top
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/Castor-BusinessMan.png", width: "70"
          .green-text
            MES AVANTAGES PARRAIN
        .adv-item-bottom
          %p
            50 € en carte cadeau à chaque signature de mandat
          %p
            250 € en carte cadeau à la signature de la vente

    .col-xs-12.col-md-6
      .advantage-item
        .adv-item-top
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/Castor-BusinessMan.png", width: "70"
          .red-text
            LES AVANTAGES FILLEULS
        .adv-item-bottom
          %p
            25% de réduction sur les honoraires en cas de signature de mandat exclusif
          %p
            1 cadeau de bienvenue à la signature du mandat

  .parrainage-big-header
    C’est décidé, je parraine mes proches !

  .parrainage-how-it-works
    .works-title
      COMMENT ÇA MARCHE ?
    .works-text
      %p
        L’un de mes amis, un collègue ou un membre de ma famille à un projet de vente en Gironde ? Bonne nouvelle : il peut bénéficier de l’expertise de mes sympathiques experts immobilier ! Je recommande Bientôt Chez Soi auprès de mon entourage et je bénéficie d’avantages à chaque signature de mandat de mes filleuls !
      %p
        C’est parti, je complète le formulaire de parrainage ci-dessous et dès que le mandat est signé, je bénéficie de carte cadeau à dépenser chez mes commerçants préférés !


  = simple_form_for @sponsorship do |f|
    .row
      .col-xs-12.col-md-6
        .customer-infos
          = f.input :first_name, label: false, placeholder: "Mon prénom"
          = f.input :last_name, label: false, placeholder: "Mon nom"
          = f.input :email, label: false, placeholder: "Mon email"
          = f.input :phone, label: false, placeholder: "Mon téléphone"

      .col-xs-12.col-md-6
        .sponsored-infos
          = f.input :sponsored_first_name, label: false, placeholder: "Le prénom de mon filleul"
          = f.input :sponsored_last_name, label: false, placeholder: "Le nom de mon filleul"
          = f.input :sponsored_email, label: false, placeholder: "L'email de mon filleul"
          = f.input :sponsored_phone, label: false, placeholder: "Le téléphone de mon filleul"


    = f.input :property_city, label: false, placeholder: "La ville du bien en vente"
    = f.input :details, label: false, as: :text, placeholder: "Dites-nous en plus sur le bien"
    %label.sponsorship
      Type de bien
    = f.input :property_type, as: :radio_buttons, collection: ["Maison/Villa","Appartement","Loft","Terrain constructible"],label: false

    .d-flex-center.mb-20
      = f.button :submit, value: "JE VALIDE" ,class: "bcs-button-sm-special"

