%section.partners
  .partners-banner
    .partners-banner-content
      NOS PARTENAIRES

  .container
    .menu-wrapper
      %ul.menu
        %li.item
          = link_to "https://www.bienici.com/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/BIEN-ICI.png", width: "100"
        %li.item
          = link_to "https://www.meilleursagents.com/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/meilleurs-agent-logo.png", width: "120"
        %li.item
          = link_to "https://www.la-boite-immo.com/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/LABOITE-IMMO.png", width: "120"
        %li.item
          = link_to "https://www.hubstairs.com/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/hubstairs-logo.png", width: "120"
        %li.item
          = link_to "http://www.emprunt-cub-pret-immobilier.fr/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/emprunt-cub-logo.png", width: "120"
        %li.item
          = link_to "https://horizon1641-immo.fr/", target: "_blank" do
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/horizon-vices-cache.png", width: "110"
      .paddles
        %button.left-paddle.paddle
          = image_tag "", width: "30"
          %i.fa.fa-arrow-left{"aria-hidden" => "true"}
        %button.right-paddle.paddle
          %i.fa.fa-arrow-right{"aria-hidden" => "true"}
