- facebook_meta_full_url(request.original_url)


%section.partner-landing
  .banner
    .banner-content
      %h4 rejoignez la communauté d'agences partenaires

  .fullpage-content

    / #agency-connection.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    /   .modal-dialog{:role => "document"}
    /     .modal-content
    /       .modal-body
    /         = render "agencies/registrations/new", layout: false


    .container

      %section.advantages
        .advantage-item
          .advantage-item-top vos avantages immédiats
          .advantage-item-bottom
            .row
              .col-xs-12.col-md-4
                .adv-item-bottom-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/partner-circle-garanties.svg", height: "80"
                  .adv-item-bottom-small-text
                    La nouvelle force commerciale sans coût fixe
              .col-xs-12.col-md-4
                .adv-item-bottom-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/partner-circle-innovation.svg", height: "80"
                  .adv-item-bottom-small-text
                    Votre apporteur d'affaire digital
              .col-xs-12.col-md-4
                .adv-item-bottom-item
                  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/partner-circle-key.svg", height: "80"
                  .adv-item-bottom-small-text
                    Une modernisation de l'image
              .col-xs-12
                .d-flex-center.mb-10.mt-20
                  = link_to "#smooth-scroll-agency-signup", class: "bcs-button-sm-special" do
                    JE DEVIENS PARTENAIRE


      .header
        %h1.bolder comment ça marche ?
      %section.how-it-works-partnership
        .pathway-item.left
          .icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/path-pos-1.svg", width: "130"
          .text
            .custom-carret-container
              .custom-carret
            Je me connecte à la plateforme avec mon logiciel métier ou je crée un compte à mon agence directement sur le site

        .separator-line-container
          .separator-line.right

        .pathway-item.right
          .text
            .custom-carret-container
              .custom-carret
            Je renseigne mes informations comme mon budget et ma zone de chalandise
          .icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/path-pos-2.svg", width: "130"

        .separator-line-container
          .separator-line.left

        .pathway-item.left
          .icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/path-pos-3.svg", width: "130"
          .text
            .custom-carret-container
              .custom-carret
            Sur mon tableau de bord je peux consulter les demandes d'acquéreurs qualifiés, vérifiés et qui correspondent à ma cible

        .separator-line-container
          .separator-line.right

        .pathway-item.right
          .text
            .custom-carret-container
              .custom-carret
            Je peux proposer des biens que j'ai en stock à ces acquéreurs
          .icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/path-pos-4.svg", width: "130"

        .separator-line-container
          .separator-line.left

        .pathway-item.left
          .icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/path-pos-5.svg", width: "130"
          .text
            .custom-carret-container
              .custom-carret
            Lorsqu'un acquéreur aime ou adore un de mes produits, j'ai accès à ses coordonnées et je peux le contacter pour une visite

        .separator-line-container
          .separator-line.right

        .pathway-item.right
          .text
            .custom-carret-container
              .custom-carret
            Si cette visite aboutit, je signe ma vente. Je suis en partenariat gagnant-gagnant avec Bientôt Chez Soi
          .icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/path-pos-6.svg", width: "130"

      .row
        .col-xs-12
          = render "agencies/registrations/fullform", layout: false


      %section.video-presentation
        .section-header.mb-20
          .big-text le tour du propriétaire en vidéo
        .row
          .col-xs-12.col-md-offset-2.col-md-8
            .block-video-container
              %video{controls:true}
                %source{type:"video/mp4", src:"https://cdn.bientotchezsoi-dev.com/videos/tuto-agences-2.mp4"}



      %section.last-platform-demands
        .section-header.mb-20
          .big-text en ce moment sur bientôt chez soi
        .section-header-small
          .big-text Les dernières demandes
          .small-text Les prénoms des protagonistes ont été remplacé par soucis d'anonymat
        .row
          - @demands.each_with_index do |demand,index|
            .col-xs-12.col-md-6
              .last-demands-item
                - if (index + 1) == 1
                  .left-flex-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/landing-k-bond.jpg');"}
                - elsif (index + 1) == 2
                  .left-flex-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/landing-k-nestor.jpg');"}
                - elsif (index + 1) == 3
                  .left-flex-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/landing-k-or.jpg');"}
                - elsif (index + 1) == 4
                  .left-flex-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/landing-k-sport.jpg');"}
                .right-flex-block
                  .sub-item-block.between
                    %h5.bolder
                      = "#{demand.property_type}"
                    .block-icon-text
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                      = "#{demand.localisation.split("(").first.strip}"
                  .sub-item-block.start
                    .block-icon-text
                      .icon-ios-pricetag-outline.fontastic
                      = "#{budget_format(demand.budget).downcase}"
                  - if demand.surface
                    .sub-item-block.start
                      .block-icon-text
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "14"
                        = "#{surface_format(demand.surface)}"


      %section.statistics
        .section-header-small
          .big-text.mb-20 Les chiffres
        .row
          .col-xs-12.col-md-4
            .statistic-item
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/landing-agence.svg", width: "60"
              .stat-big-text 583 agences
          .col-xs-12.col-md-4
            .statistic-item
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/landing-partenaires/landing-demandes.svg", width: "60"
              .stat-big-text 857 demandes
          .col-xs-12.col-md-4
            .statistic-item
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/partner-mandat.svg", width: "60"
              .stat-big-text 35 000 Biens

      .d-flex-center.mb-20
        = link_to "#smooth-scroll-agency-signup", class: "bcs-button-sm-special" do
          JE DEVIENS PARTENAIRE


      %section.advantages
        .advantage-item.white
          .advantage-item-top mes avantages partenaires
          .advantage-item-bottom
            .row
              .col-xs-12.col-md-4
                .adv-item-bottom-item.spaced
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-happy.svg", height: "80"
                  .adv-item-bottom-small-text
                    Un espace qui centralise tout simplement demandes et offres
              .col-xs-12.col-md-4
                .adv-item-bottom-item.spaced
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-partners-good-size.svg", height: "80"
                  .adv-item-bottom-small-text
                    Un réseau d'agence professionnelles fiables et étendu et un accès privilégié à WorkPlace
              .col-xs-12.col-md-4
                .adv-item-bottom-item.spaced
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/home-mix.svg", height: "80"
                  .adv-item-bottom-small-text
                    Une interface ludique permettant de gérer les mandats et les visites

