- if @page
  - title "#{@page.meta_title}"
  - meta_description "#{@page.meta_desc}"
  - facebook_meta_full_url("#{@page.url}")
  - facebook_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")
  - facebook_meta_title(@page.name)

%section.presse-fullpage
  .presse-banner{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/press-banner-photo.jpg');"}
    .banner-content
      espace presse

  .container
    .presse-content
      .sub-header
        .icon-menu-kenotte.fontastic-icon
        kenotte et bientôt chez soi, on parle de nous

      - @corp_post.each do |post|
        .post-item
          .left-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/presse/BCS-la-tribune-photo.jpg');"}
          .right-block
            .name
              = post.name
            .title
              = post.title
            .d-flex-start
              = link_to "LIRE L'ARTICLE", post_path(cat_lname: post.blog_category.lname,lname: post.lname), target: "_blank", class: "bcs-button-sm-special mt-25"


      .sub-header
        .icon-title-actu.fontastic-icon
        les derniers communiqués de presse
      - @press_releases.each do |press|
        .press-release-item
          .left-block{style: "background-image: url('#{press.photo_url}')"}
          .right-block
            .title
              = press.title
            .small.bold.sub-title
              = "Ajouté le #{l(press.created_at, format: :medium)}"
            .block-content
              = press.content
            .absolute-buttons-container
              = link_to "TELECHARGER", press.pdf_url, target: "_blank", class: "bcs-button-sm-special"


      .sub-header.red-text
        .icon-micro.fontastic-icon
        envie d'en savoir plus ?
      .small.bold
        Sachez qu'un Press kit contenant des images, nos logos et autres castors ainsi que des règles d'utilisation sont à votre disposition sur demande.

      = simple_form_for PresskitRequest.new() do |f|
        .row
          .col-xs-12.col-md-3
            = f.input :firstname, label: false, placeholder: "Prénom"
          .col-xs-12.col-md-3
            = f.input :lastname, label: false, placeholder: "Nom"
          .col-xs-12.col-md-3
            = f.input :email, label: false, placeholder: "Email"
          .col-xs-12.col-md-3
            = f.input :phone, label: false, placeholder: "Téléphone"

          .col-xs-12.col-md-6
            = f.input :object, label: false, placeholder: "Objet"
          .col-xs-12.col-md-6
            = f.input :enterprise, label: false, placeholder: "Poste ou enterprise"

          .col-xs-12
            = f.input :message, label: false, placeholder: "Message", as: :text

        .d-flex-end
          = f.submit "ENVOYER", class: "bcs-button-sm-special"
