%section.sell-new-flat-section
  .title T2 & T3 neufs à vendre – Résidence Patios d’Arlac : dernières opportunités disponibles

  .sell-flex-container
    .left-block
      .flat-item
        .item-title A VENDRE : APPARTEMENT T3 NEUF DE 60 M²
        .item-photos-container
          .item-photo{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/t3-1.jpg');"}
          .item-photo{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/t3-2.jpg');"}
          .item-photo{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/t3-3.jpg');"}
        .item-body
          %p
            A chacun son espace, à chacun son indépendance ! Avec ses deux chambres équipées pour chacune d’elle d’une salle d’eau (douche + sèche-serviette), ce T3 de 60 m² conviendra aussi bien aux jeunes familles dont c’est le premier achat, qu’à une colocation.
          %p
            Cet appartement baigné de lumière offre un bel espace de vie, grâce notamment à son séjour de 28 m² sur lequel s’ouvre une cuisine aménagée Arthur Bonnet. L’ensemble de l’appartement bénéficie de prestations de qualité : fenêtres en aluminium, volets roulants électriques et placards sur-mesure.
          %p
            Ce « cocon » situé au 1er étage (sur 2) est doté d’un chauffage individuel au gaz. Il vous est proposé avec une place de parking couverte et un local à vélo commun, tous deux couverts et sécurisés.
          %p
            Vous bénéficiez en outre des frais de notaire réduits.

        .item-price Prix : 299 900€ , frais d’agence inclus

    .right-block
      .right-title LA RÉSIDENCE LES PATIOS D’ARLAC
      .right-photo{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/patio-arlac.jpg');"}
      .right-body
        %p
          Nichée au cœur du quartier d’Arlac, cette résidence de 2018 a été réalisée par un architecte bordelais. Deux maisons de ville a bénéficié d’une large rénovation, alliant le charme d’une façade ancienne avec le modernisme d’une construction contemporaine.
        %p
          Derrière la façade se dévoilent de larges patios desservant 14 appartements, donnant sur une cour intérieure.
        %p
          L’accès à la résidence est sécurisée par un badge et l’entrée vous amène vers une cour commune, au bout de laquelle on trouve le parking et le local à vélo, couverts et fermés.
        %p.mt-20
          %strong On aime
        %p
          Le style de la Résidence alliant Moderne & Contemporain. Le côté intimiste : 14 appartements seulement, au calme. Des charges de copropriété réduite

