- title "Bientôt Chez Soi - L'Equipe de Castors derrière le projet"
- meta_description "Pour la petite histoire… Tout commence il y a bien longtemps (pas autant que cela finalement) dans une pas si lointaine galaxie que cela ! A l'origine de Bientôt Chez Soi, on trouve un expert immobilier passionné de digital."


%section.team-page-v2
  .banner{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/agence-front-resize.jpg');"}
    .banner-content
      une équipe, des talents pour vous accompagner
  .sub-header
    .sub-header-text
      mais qui est derrière tout ça ?
  .container
    .row
      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team-philippe.JPG');"}
              .photo-card-bottom
                PHILIPPE
          .card-bottom
            .member-title
              Lego master
            .member-body
              Sans lui, rien de tout ça ne serait arrivé, puisque c'est le fondateur de Bientôt Chez Soi ! Sa passion pour les lego n'est sans doute pas étrangère à sa vocation immobilière.
              %strong
                Philippe
              est un agent immobilier augmenté.

      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team-william.JPG');"}
              .photo-card-bottom
                WILLIAM
          .card-bottom
            .member-title
              Chef d'orchestre digital
            .member-body
              Il est notre vrai agent augmenté. Il travaille à la bonne marche du site. Et ses connaissances redoutables en UX Design, lui permettent de faire tous les plans… de notre site internet sans faille (ou presque, l’erreur est humaine), pour trouver votre chez vous ou les justes conseils aux bons moments.
    .row

      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team/team-laure.jpg');"}
              .photo-card-bottom
                LAURE
          .card-bottom
            .member-title
              Laure, experte en immobilier
            .member-body
              Elle a les yeux partout. Agent immobilier de terrain et d’expériences, elle sait rassurer le client vendeur que son bijou sera prochainement mis en avant dans un bel écrin, qu’un acquéreur en prendra tout autant soin que lui. Elle sait tout autant vous comprendre, vous l’acheteur à la recherche d’une pépite. Et si nécessaire, elle peut le dénicher auprès de nos partenaires immobiliers.

      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team-annegaelle.JPG');"}
              .photo-card-bottom
                ANNE-GAELLE
          .card-bottom
            .member-title
              A vot' service
            .member-body
              Elle se met en 4 pour vous simplifier la vie sur le site & vous proposer des services utiles dans votre recherche.

    .row
      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team-julia.JPG');"}
              .photo-card-bottom
                JULIA
          .card-bottom
            .member-title
              Inspecteur de polices
            .member-body
              C'est notre graphiste ! Elle crée de belles interfaces avec de jolis visuels et de belles polices pour faciliter votre recherche immobilière

      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team-aurelien.JPG');"}
              .photo-card-bottom
                AURELIEN
          .card-bottom
            .member-title
              L'API ne fait pas le moine
            .member-body
              Il est, avec william, le seul à comprendre cette blague. Il traduit nos idées des plus folles aux plus utiles en lignes de codes.

      .col-xs-12.col-md-6
        .team-member-card
          .card-top
            .member-photo-card
              .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/team-clement.JPG');"}
              .photo-card-bottom
                CLEMENT
          .card-bottom
            .member-title
              Passe-partout
            .member-body
              C'est notre super atout immobilier.Il gère tellement de clés que celle de votre future maison est forcément sur son trousseau !

  .container

    .horizontal-block
      .block-left
        .kenotte-photo-card
          .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/julia.png');"}
          .photo-card-bottom
            KENOTTE
      .block-right
        .title
          L'atout charme de Bientôt Chez Soi
        .body
          C'est notre super castor de l'immobilier! Notre mascotte accompagne votre recherche sur notre site et n'est jamais avare de bons conseils immobiliers pour vous faciliter la vie.
          %strong
            Kenotte
          aime aussi sortir de notre site pour aller à votre rencontre !

    .horizontal-block
      .block-left
        .kenotte-photo-card
          .photo-card-top{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/julia.png');"}
          .photo-card-bottom
            VOUS
      .block-right
        .title
          Et vous bien sûr, vous êtes au coeur du projet immobilier
        .body
          Sans vous, nous ne sommes rien! Vous avez des rêves plein la tête et nous avons les bon outils pour les réaliser.


    .overtake-block
      .header
        .icon-title-pro
        .text
          ENVIE DE REJOINDRE L'EQUIPE ?
      .content
        J'ai du talent et le concept de Bientôt Chez Soi me plaît, je veux mettre la main à la pâte !
      .links
        / = link_to "JE POSTULE", root_path, class: "bcs-button-sm-special"
        = link_to "JE CONSULTE LES OFFRES", jobs_path, class: "bcs-button-sm-special"
