.container
  .row
    - @demands.sort_by{|demand| demand.created_at}.each_with_index do |demand,index|
      .col-xs-12.col-md-6
        .panel.panel-default.mb-20{style: "min-height: 140px;"}
          .panel-heading
            .bold.panel-title.boldest{style: "color: rgb(100,100,110);"}
              .badge
                = index + 1
              = demand.customer.last_name
          .panel-body
            - if demand.map_photo_url
              = image_tag demand.map_photo_url, height: "100"
            - elsif demand.browser_screenshot_url
              = image_tag demand.browser_screenshot_url, height: "100"
