- facebook_meta_full_url(request.original_url)

- title "Bientôt Chez Soi - L'Equipe de Castors derrière le projet"
- meta_description "Pour la petite histoire… Tout commence il y a bien longtemps (pas autant que cela finalement) dans une pas si lointaine galaxie que cela ! A l'origine de Bientôt Chez Soi, on trouve un expert immobilier passionné de digital."

%section.team-page-v2
  .banner{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/agence-front-resize.jpg');"}
    .banner-content
      faisons connaissance
  .sub-header
    .sub-header-text
      notre métier, vous accompagner pour acheter ou vendre
  .team-blocks
    .block.gray
      .absolute-block-icon
        .abs-circle
          .icon-team-question
      .block-header
        D'OU NOUS EST VENUE CETTE IDEE FARFELUE...
      .content
        %p
          Tout commence il y a bien longtemps (pas autant que cela finalement), dans un des très nombreux jolis coins de France (Bordeaux pour ceux qui insistent…). Philippe affronte une nouvelle fois les chemins très « tortueux » de la recherche d’une maison à acheter … alors même qu’il a une connaissance approfondie du secteur immobilier.
        %p
          Et en faisant plus attention aux attentes et difficultés des clients, il réalise qu’on doit pouvoir améliorer significativement l’achat et la vente de sa maison ou de son appartement.
        %p
          Nous sommes discrets sur nous-même, notre priorité étant d’être à votre écoute, de parler de vos achats immobiliers à venir… et de concevoir la Machine à Simplifier l’Immobilier !
    .block.red
      .block-header.white-text
        .icon-team-contract.fontastic
        .change-font
          Dans votre projet de vente
      .content.white-text
        %p
          Grâce à son portefeuille clients très qualifiés à l'appui de son questionnaire en ligne et de contacts des experts immobiliers, il suffit d’un clic (presque!) et votre futur acquéreur est trouvé ! GARANTIE COUP DE CŒUR !
        %p
          Consulter notre gamme d’accompagnement sur les mandats de vente

    .block.green
      .block-header.white-text
        .icon-team-search.fontastic
        .change-font
          Dans votre projet d'achat
      .content.white-text
        %p
          La solution digitale de Bientôt Chez Soi est l’outil incontournable pour votre recherche ! Décrivez vos critères, votre secteur et votre budget en 5 min !
        %p
          L’équipe de Bientôt Chez Soi trouvera par la suite votre bien en un clic ! Son réseau de partenaires de professionnels de l’immobilier permet d’avoir accès à des biens que vous n’aurez sans doute jamais vu ! Simple, Gratuit et Ludique !

  .team-behind-wrapper
    .team-behind-container
      .left-block
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/castor-inspecteur.svg"
      .right-block
        .right-block-top
          = "mais qui est derrière tout ça ?"
        .right-block-bottom
          = link_to "JE DECOUVRE L'EQUIPE", team_path, class: "bcs-button-sm-special"
