.container
  .new-localisation-logic
    %form{action: "#{typeform_advanced_input_return_path}", method: "get"}
      %select#advanced-input{name: "advanced-input[]", multiple: "true"}
      .d-flex-center
        %span.spanned-button
          %input.underlined-btn{type: "submit", value: "Calculer les codes postaux"}


/ %script{src: "https://bientotchezsoi.com/widgets/5d517f03dbe8100007e13b8b/test.js", type: "text/javascript"}

%iframe{frameborder: "0", height: "100%", src: "https://bientotchezsoi.com/widgets/iframe_version", width: "100%", style: "width: 100%;height: 90px;position: fixed;bottom: 0;z-index: 100000;", sandbox: "allow-scripts allow-popups"}
