.container
  .d-flex-center.mt-20
    .fullpage-header-sm Recherche geolocalisée
  .d-flex-center.zipcode-responses
    - @cities_zipcodes.each do |hashed_values|
      .flex-item
        .zipcode
          = "#{hashed_values[:zipcode]} #{hashed_values[:city]}"
          .small
            = "#{hashed_values[:district]} - #{hashed_values[:department]}"
          - if hashed_values[:street_number] && hashed_values[:street_name]
            .precise-address
              = "#{hashed_values[:street_number]}, #{hashed_values[:street_name]}"
          - else
            .precise-address
              = "Pas d'adresse précise"
          - if hashed_values[:lat] && hashed_values[:lng]
            .coordinates
              = "lat: #{hashed_values[:lat]} - lng: #{hashed_values[:lng]}"
  .d-flex-center
    .fullpage-header-sm Codes postaux effectifs
  .d-flex-center.zipcode-responses
    - @cities_zipcodes.each do |hashed_values|
      - if hashed_values[:zipcode]
        .flex-item
          .zipcode
            = hashed_values[:zipcode]

