.container
  - @typeforms.each do |typeform|
    .typeform-card
      - typeform.as_json.each do |key,value|
        .d-flex-start.field-item
          .bold
            = key
          .thin
            = value
            .badge
              = value.class
