.typeform-results-container
  - @api_results.each do |form|
    .typeform-item
      - form.to_h.each do |key,value|
        - if key == "token"
          .typeform-item-field
            = "Token: #{value}"

        - if key == "submitted_at"
          .typeform-item-field
            = "Envoyé le #{value.to_date}"

        - if key == "answers"
          - value.each do |hashed_values|
            .typeform-item-field
              - hashed_values.each do |key,value|
                - if key == "field"
                  - if value["ref"] == "refloc"
                    .reflocation
                      = value["ref"]
                  - else
                    .field-ref
                      = value["ref"]
                - if key == "type"
                  - @response = value
                - if key == @response
                  - if value.is_a?(Hash)
                    = value["label"]
                  - else
                    = value
