= simple_form_for @ambassador do |f|
  .infos-from-ambassador
    .header
      Mes infos
    .infos
      .top
        = f.input :last_name, label: false, placeholder: "Mon nom", input_html: { class: 'name-input mr-10' }
        = f.input :first_name, label: false, placeholder: "Mon prénom", input_html: { class: 'name-input' }

      .between.first-input-for-validation
        = f.input :email, label: false, placeholder: "Mon adresse mail", input_html: { class: 'email-input mr-10' }

        .bad-email-message
          %i.fa.fa-times
            rentrez un email valide

        = f.input :phone, label: false, placeholder: "Mon numéro de téléphone", input_html: { class: 'phone-input' }

      .bottom
        .mr-10.form-text
          = "Je connais quelqu'un qui veut vendre"

        .relative
          = f.input :property_type, label: false, collection: ['un appartement', 'une maison', 'un terrain'], selected: 'un appartement', input_html: { class: 'property-type-input' }

          .select-arrow
            .arrow-up
            .arrow-down

        .m-sides-10.form-text
          = "à"
        = f.input :property_city, label: false, placeholder: "Saisir la ville", input_html: { class: 'property-city-input', id:'estimation-place-input', autocomplete:"off", name: "localisation" }
  .infos-from-sponsored
    .header
      Qui est mon filleul ?
    .infos
      .top
        = f.input :sponsored_last_name, label: false, placeholder: "Son nom", input_html: { class: 'name-input mr-10' }
        = f.input :sponsored_first_name, label: false, placeholder: "Son prénom", input_html: { class: 'name-input'}

      .bottom.last-input-for-validation
        = f.input :sponsored_email, label: false, placeholder: "Son adresse mail", input_html: { class: 'email-input mr-10'}

        .bad-email-message
          %i.fa.fa-times
            rentrez un email valide

        = f.input :sponsored_phone, label: false, placeholder: "Son numéro de téléphone", input_html: { class: 'phone-input' }

  .d-flex-center.mt-25
    = f.button :submit, value: "Je valide" , class: "bcs-button-sm-special with-validation"
