.container
  .bold.title
    = "Statistiques semaine #{@last_week} (#{@wk_begin} - #{@wk_end})"
  .title
    = "#{@week_demands.count} demandes effectuées"
  .custom-row
    - @week_demands.sort_by{|demand| demand.created_at}.reverse.each do |demand|
      .stat-full-container
        .stat-demand-container
          .demand-item-inline
            - if demand.activated
              .demand-status.green
                = "Demande validée"
            - elsif !demand.customer.valid?
              .demand-status.red
                = "Demande incomplète"
            - else
              .demand-status.red
                = "Demande en attente"
          .demand-item-inline.big
            = demand.property_type
          .demand-item-inline.big
            = demand.budget
          - if demand.search_formatted_area
            .demand-item-inline.small
              .search-area
                = demand.search_formatted_area.split(")").first + ")"
          .demand-item-inline
            .demand-created-at
              = "#{l(demand.created_at, format: :medium)}"

