.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les messages"


    .tab-content-test
      #activated.tab-pane.active
        .custom-tabs-header
          %h5
            Messages
          .badge
            = "#{@suggestions.count}"
          = link_to "Export Excel", generate_suggestions_xls_file_path(format: "xlsx"), class: "btn btn-success btn-xs bold ml-10"

        %table.table.table-hover.validated-demand
          %thead
            %tr
              %th Créée le
              %th Nom
              %th Téléphone
              %th Email
              %th Origine
              %th Message
              %th Actions
          - @suggestions.each do |suggestion|
            %tr
              %td
                - if suggestion.created_at
                  .date
                    = "#{l(suggestion.created_at, format: :medium)}"
              %td
                = suggestion.name ? suggestion.name : "Info manquante"
              %td
                = suggestion.phone ? suggestion.phone : "Info manquante"
              %td
                .admin-postal-codes
                  = suggestion.email ? suggestion.email : "Info manquante"
              %td
                = suggestion.origin ? suggestion.origin : "Info manquante"
              %td
                = suggestion.message ? suggestion.message.truncate(30) : "Info manquante"
              %td
                .d-flex-between
                  = link_to admin_suggestion_path(suggestion), class: "btn btn-primary btn-xs" do
                    .fa.fa-eye
                  = link_to admin_suggestion_path(suggestion), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                    .fa.fa-times





