.container
  .big-title
    = "Modifier la question - #{@question.position}"
  = simple_form_for [:v2, @question] do |f|
    = f.input :label
    = f.input :fem_label, label: "Label féminisé"
    = f.input :required, as: :boolean, checked_value: true, unchecked_value: false, label: "Obligatoire"
    = f.input :second_part_label, label: "Seconde partie de la question"
    = f.input :label_resume, label: "Résumé de la question"
    = f.input :demand_attribute, collection: V2Demand.fields.keys, label: "Attribut de la demande"
    = f.input :investor_exit, as: :boolean, checked_value: true, unchecked_value: false, label: "Sortie du parcours investisseur"
    .d-flex-center
      = f.submit "Modifier cette question", class: "btn btn-primary"
