.admin-container
  .content
    = simple_form_for [:admin, @post] do |f|
      = f.input :name, label: "Nom de l'article"
      = f.input :blog_category_id, collection: BlogCategory.all, label: "Catégorie", as: :radio_buttons
      = f.input :title, label: "Titre de l'article"
      = f.input :content, label: "Contenu"
      = f.input :link_name, label: "Nom du lien"
      = f.input :photo_url, label: "Photo meta facebook"
      = f.input :author, label: "Auteur", collection: ["Anne-gaëlle","Julia","Damien","Philippe","Laure","Arthur"]
      = f.input :tags, label: "Tags"
      = f.input :meta_title, label: "Meta title"
      = f.input :meta_desc, label: "Meta description"
      = f.input :targets, label: "Statuts cibles", collection: ["EXPERT","PRIMO","VIP"], as: :check_boxes
      = f.submit "Créer un article de blog"
