.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les agences"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li.active
          = link_to "Activées", admin_active_agencies_path
        %li
          = link_to "Partenaires", admin_partner_agencies_path
        %li
          = link_to "Flux Hektor", admin_flux_agencies_path
        %li
          = link_to "En attentes", admin_waiting_agencies_path

      .tab-content-test
        #activated.tab-pane
          .custom-tabs-header
            %h5
              Agences activées
            .badge
              = "#{@uptodate_activated_agencies.size}"
            = link_to "Export Excel", generate_agencies_xls_file_path(format: "xlsx", collection: "activated"), class: "btn btn-success btn-xs bold ml-10"

          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Nom
                %th ville
                %th Périmètre d'action
                %th Budget minimum
                %th Actions
            - @uptodate_activated_agencies.each do |agency|
              %tr
                %td
                  .date
                    = "#{l(agency.created_at, format: :medium)}"
                %td
                  = link_to admin_agency_path(agency) do
                    = agency.name ? agency.name : "Info manquante"
                %td
                  - if agency.city
                    = agency.city
                  - elsif agency.location
                    = agency.location
                %td
                  .admin-postal-codes
                    - if agency.postal_codes
                      = agency.postal_codes.first
                    = agency.catchment_area.first(4).join(" - ") if agency.catchment_area
                %td
                  = format_number(agency.min_price.to_s) if agency.min_price
                %td
                  .d-flex-between
                    = link_to admin_agency_path(agency), class: "btn btn-primary btn-xs" do
                      .fa.fa-eye
                    = link_to admin_agency_destroy_path(agency), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                      .fa.fa-times
                    = link_to activate_agency_path(agency_id: agency.id.to_s), method: "post", class: "btn btn-warning btn-xs bold hidden" do
                      = "Matching manuel"

    = paginate @uptodate_activated_agencies

