.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les agences"

    .admin-custom-tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls": "home", "data-toggle": "tab", href: "#activated", role: "tab"}
            Activées
            %span.badge
              = "#{@uptodate_activated_agencies.size}"
        %li{role: "presentation"}
          %a{"aria-controls": "profile", "data-toggle": "tab", href: "#partners", role: "tab"}
            Partenaires
            %span.badge
              = "#{@uptodate_partner_agencies.size}"
        %li{role: "presentation"}
          %a{"aria-controls": "settings", "data-toggle": "tab", href: "#flux", role: "tab"}
            Flux hektor
            %span.badge
              = "#{@uptodate_hektor_agencies.size}"
        %li{role: "presentation"}
          %a{"aria-controls": "settings", "data-toggle": "tab", href: "#pending", role: "tab"}
            En attentes
            %span.badge
              = "#{@uptodate_pending_agencies.size}"

      .tab-content
        #activated.tab-pane.active{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Agences activées
            .badge
              = "#{@uptodate_activated_agencies.size}"
            = link_to "Export Excel", generate_agencies_xls_file_path(format: "xlsx", collection: "activated"), class: "btn btn-success btn-xs bold ml-10"

          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Nom
                %th ville
                %th Périmètre d'action
                %th Budget minimum
                %th Actions
            - @uptodate_activated_agencies.sort_by{|agency| agency.created_at}.reverse.each do |agency|
              %tr
                %td
                  .date
                    = "#{l(agency.created_at, format: :medium)}"
                %td
                  = link_to admin_agency_path(agency) do
                    = agency.name ? agency.name : "Info manquante"
                %td
                  - if agency.city
                    = agency.city
                  - elsif agency.location
                    = agency.location
                %td
                  .admin-postal-codes
                    - if agency.postal_codes
                      = agency.postal_codes.first
                    = agency.catchment_area.first(4).join(" - ") if agency.catchment_area
                %td
                  = format_number(agency.min_price.to_s) if agency.min_price
                %td
                  .d-flex-between
                    = link_to admin_agency_path(agency), class: "btn btn-primary btn-xs" do
                      .fa.fa-eye
                    = link_to admin_agency_destroy_path(agency), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                      .fa.fa-times



        #partners.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Agences partenaires
            .badge
              = "#{@uptodate_partner_agencies.size}"
            = link_to "Export Excel", generate_agencies_xls_file_path(format: "xlsx", collection: "partner"), class: "btn btn-success btn-xs bold ml-10"

          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Nom
                %th ville
                %th Périmètre d'action
                %th Budget minimum
                %th Actions
            - @uptodate_partner_agencies.sort_by{|agency| agency.created_at}.reverse.each do |agency|
              - if agency.name && agency.location_cp != ""
                %tr
                  %td
                    .date
                      = "#{l(agency.created_at, format: :medium)}"
                  %td
                    = link_to admin_agency_path(agency) do
                      = agency.name ? agency.name : "Info manquante"
                  %td
                    = agency.city if agency.city
                  %td
                    .admin-postal-codes
                      - if agency.postal_codes
                        = agency.postal_codes.first
                      = agency.catchment_area.first(4).join(" - ") if agency.catchment_area
                  %td
                    = format_number(agency.min_price.to_s) if agency.min_price
                  %td
                    .d-flex-between
                      = link_to admin_agency_path(agency), class: "btn btn-primary btn-xs" do
                        .fa.fa-eye
                      = link_to admin_agency_destroy_path(agency), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                        .fa.fa-times



        #flux.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Agences flux
            .badge
              = "#{@uptodate_hektor_agencies.size}"
          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Nom
                %th ville
                %th Périmètre d'action
                %th Budget minimum
                %th Actions
            - @uptodate_hektor_agencies.sort_by{|agency| agency.created_at}.reverse.each do |agency|
              - if agency.name && agency.location_cp != ""
                %tr
                  %td
                    .date
                      = "#{l(agency.created_at, format: :medium)}"
                  %td
                    = link_to admin_agency_path(agency) do
                      = agency.name ? agency.name.truncate(16) : "Info manquante"
                  %td
                    = agency.city if agency.city
                  %td
                    .admin-postal-codes
                      - if agency.catchment_area
                        = agency.catchment_area.first(2).join(" et ")
                  %td
                    = format_number(agency.min_price.to_s) if agency.min_price
                  %td
                    .d-flex-between
                      = link_to activate_agency_path(agency_id: agency.id.to_s), method: "post", class: "btn btn-warning btn-xs" do
                        .fa.fa-warning
                      = link_to admin_agency_path(agency), class: "btn btn-primary btn-xs" do
                        .fa.fa-eye
                      = link_to admin_agency_destroy_path(agency), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                        .fa.fa-times


        #pending.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Agences en attente
            .badge
              = "#{@uptodate_pending_agencies.size}"
          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Nom
                %th ville
                %th Périmètre d'action
                %th Budget minimum
                %th Actions
            - @uptodate_pending_agencies.sort_by{|agency| agency.created_at}.reverse.each do |agency|
              - if agency.name
                %tr
                  %td
                    .date
                      = "#{l(agency.created_at, format: :medium)}"
                  %td
                    = link_to admin_agency_path(agency) do
                      = agency.name ? agency.name : "Info manquante"
                  %td
                    - if agency.city
                      = agency.city
                    - if agency.location
                      = agency.location
                  %td
                    .admin-postal-codes
                      - if agency.catchment_area
                        - if agency.catchment_area.size == 1
                          = agency.catchment_area.first
                        - elsif agency.catchment_area.size == 2
                          = agency.catchment_area.first(2).join(" et ")
                        - elsif agency.catchment_area.size > 2
                          = agency.catchment_area.first(2).join(" et ")
                  %td
                    = format_number(agency.min_price.to_s) if agency.min_price
                  %td
                    .d-flex-between
                      = link_to activate_agency_path(agency_id: agency.id.to_s), method: "post", class: "btn btn-warning btn-xs" do
                        .fa.fa-warning
                      = link_to admin_agency_path(agency), class: "btn btn-primary btn-xs" do
                        .fa.fa-eye
                      = link_to admin_agency_destroy_path(agency), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                        .fa.fa-times


