.admin-container
  .content

    .agency-header
      .agency-header-item
        - if @agency.logo == "null"
        - elsif @agency.logo == nil
          .logo{style: "background-image: url('http://via.placeholder.com/100x100');"}
        - else
          .logo{:style => "background-image: url(#{@agency.logo});"}
        .agency-header-content
          .left
            .title
              = "#{@agency.name if @agency.name}"
            .address
              = formatted_address(@agency)
            - if !@agency.url.blank?
              .url
                = formatted_url(@agency.url)
                = " - "
                - if @agency.email
                  = mail_to(@agency.email,"Email")
          .right
            .top
              .header
                Biens immobiliers
              - if @agency.properties != []
                = @agency.properties.size
              - else
                .small
                  = "Pas de biens en stock !!"
            .bottom
              .header
                Prix minimum
              - if @agency.min_price
                = "#{@agency.min_price} €"
              - else
                .small
                  = "Pas de biens en stock !!"

    - if @agency.v2_demands != []
      .page-header
        %h3
          %small
            = "#{pluralize(@agency.v2_demands.size, 'Demande', 'Demandes')}"
          %small.light
            = "#{l(Date.today, format: :medium)}"
      %table.table.table-hover.validated-demand
        %thead
          %tr
            %th Créée le
            %th Utilisateur
            %th Type de bien
            %th Budget
            %th Surface
            %th Périmètre
            %th Biens
            %th Actions
          - @agency.v2_demands.each do |demand|
            %tr
              %td
                .date
                  = "#{l(demand.created_at, format: :special)}"
              %td
                = link_to admin_customer_path(demand.customer) do
                  = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
              %td
                = demand.property_type
              %td
                = demand.budget
              %td
                = demand.surface
              %td
                .zipcode
                  = demand.search_zipcodes_area.truncate(50)
              %td
                - if demand.properties != []
                  .bold
                    = demand.properties.size
              %td
                .d-flex-between
                  = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                    .fa.fa-eye
                  = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                    .fa.fa-times


    - @agency.attributes.each do |attr|
      - if attr.last != nil
        .agency-item
          .agency-header
            = attr.first
          .agency-content
            - if attr.first == "logo"
              - if @agency.logo != "null"
                = image_tag @agency.logo, width: "240"
            - elsif attr.first == 'url'
              = formatted_url(@agency.url)
            - else
              = attr.last

    - if @agency.properties != []
      .agency-item
        .agency-small-header
          propriétés
        .agency-content-noflex
          - if @agency.properties
            - @agency.properties.sort_by{|prop| prop.price }.each do |prop|
              .agency-properties-item
                .agency-properties-listing
                  = property_type_logo(prop.property_type)
                  %strong
                    = prop.property_type ? prop.property_type.capitalize : "Type non renseigné"
                  = " - "
                  = (offer_type_color(prop.offer_type)) if prop.offer_type
                  = " - "
                  = prop.city.capitalize if prop.city
                  .price
                    = ("#{french_formatted_number(prop.price)} €") if prop.price
                = link_to "Voir le bien", admin_property_path(prop), class: "bcs-button-text"

    - if @agency.properties
      .container
        - @agency.properties.page(1).each do |prop|
          .badge
            %strong
              = prop.property_type ? prop.property_type.capitalize : "Type non renseigné"
            .small.bold
              = "#{number_with_delimiter(prop.price.to_i, locale: :fr)} €"
        = paginate @paginate_properties
