.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les agences"

    .admin-custom-tabs
      %ul.nav.nav-tabs
        %li
          = link_to "Activées", admin_active_agencies_path
        %li
          = link_to "Partenaires", admin_partner_agencies_path
        %li
          = link_to "Flux Hektor", admin_flux_agencies_path
        %li.active
          = link_to "En attentes", admin_waiting_agencies_path

      .tab-content-test
        #pending.tab-pane{role: "tabpanel"}
          .custom-tabs-header
            %h5
              Agences en attente
            .badge
              = "#{@uptodate_pending_agencies.size}"
          %table.table.table-hover.validated-demand
            %thead
              %tr
                %th Créée le
                %th Nom
                %th ville
                %th Périmètre d'action
                %th Budget minimum
                %th Actions
            - @uptodate_pending_agencies.each do |agency|
              - if agency.name
                %tr
                  %td
                    .date
                      = "#{l(agency.created_at, format: :medium)}"
                  %td
                    = link_to admin_agency_path(agency) do
                      = agency.name ? agency.name : "Info manquante"
                  %td
                    - if agency.city
                      = agency.city
                    - if agency.location
                      = agency.location
                  %td
                    .admin-postal-codes
                      - if agency.catchment_area
                        - if agency.catchment_area.size == 1
                          = agency.catchment_area.first
                        - elsif agency.catchment_area.size == 2
                          = agency.catchment_area.first(2).join(" et ")
                        - elsif agency.catchment_area.size > 2
                          = agency.catchment_area.first(2).join(" et ")
                  %td
                    = format_number(agency.min_price.to_s) if agency.min_price
                  %td
                    .d-flex-between
                      = link_to activate_agency_path(agency_id: agency.id.to_s), method: "post", class: "btn btn-warning btn-xs" do
                        .fa.fa-warning
                      = link_to admin_agency_path(agency), class: "btn btn-primary btn-xs" do
                        .fa.fa-eye
                      = link_to admin_agency_destroy_path(agency), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                        .fa.fa-times

    = paginate @uptodate_pending_agencies
