.custom-404-page
  .custom-404-page-content
    .custom-404-header
      Oupss, nous avons rencontré un problème
    .custom-404-body
      Patience, nous tentons de rétablir la connexion
    = image_tag "https://cdn.bientotchezsoi-dev.com/images/Erreur404.svg"
