- if @customer_choice
  - if chat_message.origin == "agency"
    .agency-message-container
      .agency-avatar
        .fa.fa-home
      .agency-message
        .message-origin
          = chat_message.agency.name
        .message-content
          = chat_message.content
  - elsif chat_message.origin == "customer"
    .customer-message-container
      .customer-message
        .message-origin
          = chat_message.customer.first_name
        .message-content
          = chat_message.content
      .customer-avatar
        .fa.fa-user
- else
  - if chat_message.origin == "agency"
    .agency-message-container
      .agency-avatar
        .fa.fa-home
      .agency-message
        .message-origin
          = "L'agence"
        .message-content
          = chat_message.content
  - elsif chat_message.origin == "customer"
    .customer-message-container
      .customer-message
        .message-origin
          = "Le castor masqué"
        .message-content
          = chat_message.content
      .customer-avatar
        .fa.fa-user
