= form_for message, remote: true, authenticity_token: true do |f|
  .d-flex-center
    = f.text_field :content, class: "form-control", placeholder: "Je rédige mon message", autocomplete: "off", data: {textarea: "message"}

    = f.hidden_field :chatroom_id, value: chatroom.id.to_s
    = f.hidden_field :agency_id, value: @agency.id.to_s
    = f.hidden_field :customer_id, value: current_customer.id.to_s
    = f.hidden_field :property_id, value: @property.id.to_s
    = button_tag type: 'submit', class: "iconed-submit-button", data: {send: "message"} do
      .fa.fa-paper-plane-o
      .button-with-icon-text
        = "Envoyer"
