%section.v2-customer-dashboard#advices
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .v2-customer-content-header
      .inline-svg
        = svg("kenotte-criteres")
      = "Kenotte me conseille à chaque étape"

    .row
      .col-xs-12.col-md-6
        .advice-block.green
          .advice-block-header
            = "A lire maintenant"
          .advice-block-subheader
            = "Ces articles suivant concernent l'étape d'achat que je vis ..."
          .advice-blocks-items-container
            - @posts.to_a.first(2).each do |post|
              .advice-block-item
                .advice-block-item-photo{style: "background-image: url(#{post.photo_url})"}
                .advice-block-item-content
                  .advice-absolute-link
                    = link_to post_path(cat_lname: post.blog_category.lname,lname: post.lname), target: "_blank" do
                      = "Lire la suite"
                  .advice-item-title
                    = link_to post_path(cat_lname: post.blog_category.lname,lname: post.lname), target: "_blank" do
                      = post.name
                  .advice-item-body
                    = post.title.truncate(120)

      .col-xs-12.col-md-6
        .advice-block.gray
          .advice-block-header
            = "Mon petit kdo"
          .advice-block-subheader
            = "Simplifiez et optimisez vos visites"
          .advice-block-big-icon
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/dashboard/jeu-piste-illu.png"
          .d-flex-center
            = link_to "Je télécharge", root_path, class: "v2-bcs-button-sm"

    .downloadable-files-header Mes documents à télécharger

    .row
      .col-xs-12.col-md-4
        .downloadable-files-item
          .downloadable-title Mon jeu pour la visite
          .downloadable-subtitle Pour des visites réussies
          .downloadable-photo{style: "background-image: url(https://cdn.bientotchezsoi-dev.com/images/dashboard/jeu-piste-illu.png)"}
          .d-flex-center
            = link_to "Je télécharge", root_path, class: "v2-bcs-button-sm"
      .col-xs-12.col-md-4
        .downloadable-files-item
          .downloadable-title Dossier de recherche
          .downloadable-subtitle Pour une recherche précise
          .downloadable-photo{style: "background-image: url(https://cdn.bientotchezsoi-dev.com/svgs/icons/guide.svg)"}
          .d-flex-center
            = link_to "Je télécharge", root_path, class: "v2-bcs-button-sm"
      .col-xs-12.col-md-4
        .downloadable-files-item
          .downloadable-title Le dico de kenotte
          .downloadable-subtitle Pour comprendre l'immobilier
          .downloadable-photo{style: "background-image: url(https://cdn.bientotchezsoi-dev.com/images/dashboard/dico-kenotte-illu.jpg)"}
          .d-flex-center
            = link_to "Je télécharge", root_path, class: "v2-bcs-button-sm"

    .downloadable-files-header Kenotte m'aide à me préparé avant chaque visite

    .fullwidth-posts-container
      - @posts.each do |post|
        .fullwidth-post-item
          .fullwidth-post-item-photo{style: "background-image: url(#{post.photo_url})"}
          .fullwidth-post-item-content
            = link_to post_path(cat_lname: post.blog_category.lname,lname: post.lname), target: "_blank" do
              .fullwidth-post-item-link Lire la suite
            .d-flex-between
              .fullwidth-post-item-title
                = post.name.truncate(60)
              .fullwidth-post-item-reading-time
                - reading_time = ((sanitize(post.content).split.size).to_f / 300.0).round(0)
                = "#{reading_time} min de lecture"
            .fullwidth-post-item-created-date
              = "Le #{l(post.created_at, format: :medium)}"
            .fullwidth-post-item-truncate-content
              = post.title.truncate(160)


