%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .v2-content-item-container
      .v2-left-item
        .v2-block-customer.opacity-white
          .v2-block-header
            = "Bonjour #{current_customer.first_name} !"
            .inline-svg
              = svg("tete-castor")
          .v2-block-content
            .block-content-text
              Comme c’est bon de revenir chez soi :-) Du neuf depuis ma dernière visite ? Je mets vite à jour ma recherche !
          .d-flex-center.mt-25
            = link_to edit_customer_registration_path do
              .bcs-button-sm-animation-line
                Je modifie mes infos
                .line-1
                .line-2
                .line-3
                .line-4


      .v2-right-item
        .v2-block-demand.red
          .d-flex-between
            .v2-block-header
              Ma recherche
          .d-flex-between.flex-wrap
            .v2-block-resume
              .inline-svg
                = svg("api-price")
              .budget-text
                = "#{@demand.budget} €"
            .v2-block-resume
              .inline-svg
                = svg("picto-surface")
              .budget-text
                = @demand.surface
            .v2-block-resume
              .inline-svg
                = svg("picto-rooms")
              - if @demand.rooms
                .budget-text
                  = @demand.rooms
            .v2-block-resume
              .inline-svg
                = svg("picto-house-2")
              - if @demand.property_type
                .budget-text
                  = @demand.property_type
          .d-flex-center
            .bcs-button-sm-animation-line{"data-custom-toggle": "modal", "data-custom-target": "#demand-deactivate-modal"}
              = "Je désactive"
            .separator
            .bcs-button-sm-animation-line{"data-custom-toggle": "modal", "data-custom-target": "#demand-modifier-modal"}
              = "Je modifie"


    = render "v2/customers/partials/responsive_home"

    .v2-second-content-item-container
      .v2-left-container
        .v2-left-items

          .v2-block-advices.gray.hidden
            .v2-block-header Le conseil du moment !
            .v2-block-content
              .v2-blog-post
                .post-image{style: "background-image: url(#{@post.photo_url}); height: 200px;"}
                .post-content
                  .post-name
                    = @post.name
                  .post-title
                    = @post.title.truncate(160)
                  .post-link
                    = link_to "Lire la suite", post_path(cat_lname: @post.blog_category.lname,lname: @post.lname), target: "_blank"


          .v2-block-blog-post.hidden
            .block-blog-post-header
              = "Le conseil du moment !"
            .block-blog-post-content
              .block-blog-post-up{style: "background-image: url(#{@post.photo_url});"}
              .block-blog-post-bottom
                .block-blog-post-title
                  = @post.name
                = @post.title.truncate(100)

          .v2-block-badges.white
            .block-badge-header
              = "Les conseils du moment !"
            - @target_posts.to_a.last(3).each do |post|
              .block-badge-content.aligned-items
                .badge-right-content.start
                  .circled-image{style: "background-image: url(#{post.photo_url});"}
                .badge-left-content.d-flex-between
                  .d-flex-column
                    .title-bigger
                      = post.name.truncate(36)
                    .blog-author
                      = "Publié par #{post.author} le #{l(post.created_at, format: :medium)}"
                    .content-with-margin.hidden
                      = post.title.truncate(60)
                  .link
                    = link_to "Lire la suite", post_path(cat_lname: post.blog_category.lname,lname: post.lname), target: "_blank"


          - if @customer.badges != []
            .v2-block-badges
              .block-badge-content
                .badge-left-content
                  .badge-header
                    = "Mon nouveau badge"
                  .title
                    = @customer.badges.last["name"]
                  .content
                    = @customer.badges.last["content"]
                = link_to v2_mores_path do
                  .badge-right-content
                    .inline-svg
                      = svg(@customer.badges.last["svg"])

          - if @badges
            .v2-block-badges.hidden
              .block-badge-content
                .badge-left-content
                  .badge-header
                    = "Mon nouveau badge"
                  .title
                    = @badges.sort_by{|badge| badge["active"]}.last[:name]
                  .content
                    = @badges.sort_by{|badge| badge["active"]}.last[:content]
                .badge-right-content
                  .inline-svg
                    = svg(@badges.sort_by{|badge| badge["active"]}.last[:svg])


          .v2-block-gift.gray
            .v2-left-block{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/guide.svg');"}
            .v2-right-block
              .v2-block-sup-header
                Bon plan : c'est cadeau !
              .v2-block-sub-header
                Mon guide de recherche

              - if current_customer.pdf_customer_guide_request
                .d-flex-column-center.pdf-customer-request-container
                  .inline-svg
                    = svg("success-checked")
                  .pdf-customer-request-big-text
                    J'ai déjà demandé le guide
                  .pdf-customer-request-small-text
                    Je vais bientôt le recevoir sur mon adresse email
              - else
                .v2-block-content
                  Je renseigne mon email pour le recevoir !

                = form_tag(customer_requests_path, method: :post) do
                  %input.form-control.mt-20.bold{placeholder:"Mon mail", autocomplete:"off", name: "customer_request[email]"}
                  %input{type: "hidden", name: "customer_request[customer_action]", value: "pdf-guide"}
                  %input{type: "hidden", name: "action_origin", value: "dashboard"}
                  .d-flex-center.mt-25
                    = submit_tag "Je reçois", class: "bcs-button-sm-special"

      .v2-right-container
        .v2-right-items

          .v2-block-customer-properties
            .v2-block-customer-props-header
              = "Mes offres"
            .v2-block-customer-props-container
              - if @properties && @properties.any?
                - @properties.to_a.first(3).each do |prop|
                  .v2-block-customer-prop-item
                    - if prop.img_1_url
                      .v2-block-customer-prop-item-left{style: "background-image: url(#{prop.img_1_url});"}
                    .v2-block-customer-prop-item-right
                      .v2-block-customer-prop-item-line.big-red
                        %div
                          = "#{prop.property_type}"
                        %div
                          = "#{prop.nb_room} Pièces"
                        %div
                          = currency_format(prop.price)
                      .v2-block-customer-prop-item-line
                        .detail
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "16"
                          = "#{prop.nb_room}"
                        .detail
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "16"
                          = "#{prop.area}"
                        .detail
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "16"
                          = "#{prop.property_type}"
                      .v2-block-customer-prop-item-line
                        .detail
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "16"
                          = "#{prop.localisation}"
                    = link_to v2_customer_dashboard_property_path(property_id: prop.id.to_s), target: "_blank" do
                      .v2-customer-property-button-absolute
                        = "Plus de détails"
              - else
                .v2-block-property-empty
                  .v2-block-empty-content
                    .d-flex-center
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "270"
                  .v2-block-empty-content-text
                    .bold
                      Ma quête se poursuit, les agences sont en recherche !
                    Je vais recevoir plus de propositions de visites si je sélectionne de nouveaux biens

            - if @properties && @properties.any?
              .v2-block-customer-props-link-container
                = link_to v2_customer_dashboard_properties_path do
                  .bcs-button-sm-animation-filling.box-shadow
                    Je veux la suite


          .v2-block-properties.hidden
            .v2-block-header Mes offres
            - if @properties && @properties.any?
              - @properties.to_a.first(3).each do |prop|
                .v2-block-property
                  - if prop.images_array
                    .photo-left-container{style: "background-image: url('#{prop.images_array.last if prop.images_array != []}');"}

                  - elsif prop.pictures.any?
                    .photo-left-container{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}');"}

                  - elsif prop.img_1_url
                    .photo-left-container{style: "background-image: url(#{prop.img_1_url});"}

                  - else
                    .photo-left-container{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

                  .infos-right-container.relative
                    .top-right-container
                      .main-infos
                        - if prop.type_bien && prop.nb_room
                          = "#{prop.type_bien} #{prop.nb_room} pièces"
                        - if prop.property_type && prop.nb_room
                          = "#{prop.property_type} #{prop.nb_room} pièces"
                      .price
                        - if prop.price
                          = currency_format(prop.price)

                    .between-right-container
                      .detail
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                        = prop.nb_room
                      .detail
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                        = surface_format(prop.area)
                      .detail
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
                        - if prop.type_bien
                          = prop.type_bien
                        - if prop.property_type
                          = prop.property_type

                    .bottom-right-container
                      .localisation
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                        - if prop.cp && prop.ville
                          = "#{prop.cp} #{prop.ville}"
                        - if prop.zipcode && prop.localisation
                          = "#{prop.zipcode} #{prop.localisation}"

                    = link_to v2_customer_dashboard_property_path(property_id: prop.id.to_s), target: "_blank" do
                      .v2-customer-property-button.absolute


              .v2-block-property-button
                = link_to v2_customer_dashboard_properties_path do
                  .bcs-button-sm-animation-filling.box-shadow
                    Je veux la suite

            - else
              .v2-block-property-empty
                .v2-block-empty-content
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "270"
                .v2-block-empty-content-text
                  Ma quête se poursuit, les agences sont en recherche !
                  %br
                  Je vais recevoir plus de propositions de visites si je sélectionne de nouveaux biens

          .v2-block-partners.gray.hidden
            .v2-block-header Ils sont la pour vous aider
            .v2-block-content
              Pour votre déménagement, emménagement ou d'autres travaux, vous pouvez compter sur nos partenaires !
            .v2-block-photo.mt-50
              = link_to "https://www.papernest.com/", target: "_blank" do
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/logo_papernest.svg", width: "180"

          .v2-block-badges.green
            .block-badge-content
              .badge-left-content
                .badge-header
                  = "Je rejoins la tribu"
                .social-links-container
                  = link_to 'https://www.facebook.com/bientotchezsoi/', target: "_blank" do
                    %i.fa.fa-facebook-f{style: "font-size: 3.4rem ; color: white"}
                  = link_to 'https://www.instagram.com/bientotchezsoi/', target: "_blank" do
                    %i.fa.fa-instagram{style: "font-size: 3.4rem ; color: white"}
                  = link_to 'https://twitter.com/bientotchezsoi?lang=fr', target: "_blank" do
                    %i.fa.fa-twitter{style: "font-size: 3.4rem ; color: white"}
                  = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/', target: "_blank" do
                    %i.fa.fa-linkedin{style: "font-size: 3.4rem ; color: white"}
                  = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber', target: "_blank" do
                    %i.fa.fa-youtube{style: "font-size: 3.4rem ; color: white"}
              .badge-right-content
                .custom-svg-container-v2
                  .inline-svg
                    = svg("castoriginal")

#demand-deactivate-modal.custom-modal-container.hidden
  .custom-modal
    .custom-modal-closer
      .fa.fa-times
    .custom-modal-content

#typeform-deactivate-form-modal.custom-modal-container.hidden
  .custom-modal
    .custom-modal-closer
      .fa.fa-times
    .custom-modal-content
      .svg-container
        = svg("k-soldat")
      .custom-modal-content-text-big
        Merci !
      .custom-modal-content-text
        Vos changements vont bientôt être pris en compte


#demand-modifier-modal.custom-modal-container.hidden
  .custom-modal
    .custom-modal-closer
      .fa.fa-times
    .custom-modal-content

#typeform-modifier-form-modal.custom-modal-container.hidden
  .custom-modal
    .custom-modal-closer
      .fa.fa-times
    .custom-modal-content
      .svg-container
        = svg("k-soldat")
      .custom-modal-content-text-big
        Merci !
      .custom-modal-content-text
        Vos changements vont bientôt être pris en compte



- if @new_badges
  #badges-modal.custom-modal-container
    .custom-modal
      .custom-modal-closer
        .fa.fa-times
      .custom-modal-header
        .d-flex-center.mb-20
          .badges-modal-header-title
            - if @new_badges.size > 1
              = "J'ai #{@new_badges.size} nouveaux badges"
            - else
              = "J'ai un nouveau badge"
      .custom-modal-content
        .modal-badges-container
          - @new_badges.each do |badge|
            .badge-item
              .inline-svg
                = svg(badge["svg"])
              %h5
                = badge["name"]
              %h6
                = badge["content"]
