%section.v2-customer-dashboard#journey
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .coming-soon-block
      .block-logo
        .abs-flex-container
          .badge en développement
        = svg("k-outils")
      .block-text
        = "Bientôt mon parcours immobilier en ligne"
