%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .v2-dashboard-header{style: "background-image: linear-gradient(rgba(100,100,100,0.5),rgba(100,100,100,0.5)),url('https://cdn.bientotchezsoi-dev.com/images/dashboard/cadeaux-resize.jpg');"}
      .text
        Mes petits plus
    .fulltabs-container
      .custom-tabs
        %ul.nav.nav-tabs
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#badges", :role => "tab"}
              Mes trophées
          %li{:role => "presentation"}
            %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#partnerships", :role => "tab"}
              Les partenaires
        .tab-content
          #badges.tab-pane.active
            .tab-content-header
              .title Mon tableau de chasse
              .sub-title Plus j'avance dans mon parcours, plus je reçois des trophées
            = render "v2/customers/partials/badges"
          #partnerships.tab-pane

- if @new_badges
  #badges-modal.custom-modal-container
    .custom-modal
      .custom-modal-closer
        .fa.fa-times
      .custom-modal-header
        .d-flex-center.mb-20
          .badges-modal-header-title
            - if @new_badges.size > 1
              = "J'ai #{@new_badges.size} nouveaux badges"
            - else
              = "J'ai un nouveau badge"
      .custom-modal-content
        .modal-badges-container
          - @new_badges.each do |badge|
            .badge-item
              .inline-svg
                = svg(badge["svg"])
              %h5
                = badge["name"]
              %h6
                = badge["content"]
