%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"

  .v2-customer-content
    .v2-customer-dashboard-property-container
      .v2-customer-dashboard-property-header.relative
        - if @property.images_array
          - @property.images_array.first(4).each do |image|
            .v2-header-image-container{style: "background-image: url('#{image}')"}
        - elsif @property.pictures != []
          - @property.pictures.select{|pict| pict.photo_url != nil }.first(4).each do |picture|
            .v2-header-image-container{style: "background-image: url('#{picture.photo_url}')"}
        - elsif @present_imgs != []
          - @present_imgs.first(4).each do |number|
            .v2-header-image-container{style: "background-image: url('#{@property.send("img_#{number}_url")}')"}

        .v2-customer-dashboard-property-images-overlay.absolute

        .v2-customer-dashboard-property-title.absolute
          - if @property.type_bien && @property.nb_room
            = "#{@property.type_bien} - #{@property.nb_room} pièces"
          - if @property.property_type && @property.nb_room
            = "#{@property.property_type} - #{@property.nb_room} pièces"


      .fulltabs-container
        .custom-tabs
          %ul.nav.nav-tabs
            %li{class: "#{'active' if !@tab_target}"}
              %a{"data-toggle" => "tab", :href => "#description", :role => "tab"}
                Description
            %li#websocket-link{class: "#{'active' if @tab_target}"}
              %a{"data-toggle" => "tab", :href => "#websocket_messages", :role => "tab"}
                Messages
              - if @prop_messages_count > 0
                .property-absolute-messages-count
                  = @prop_messages_count
            %li
              %a{"data-toggle" => "tab", :href => "#services", :role => "tab"}
                Services
            %li
              %a{"data-toggle" => "tab", :href => "#visits", :role => "tab"}
                Visites
            .bcs-button-with-image.absolute
              .svg-container
                = svg("001-information")
              .button-text Aide


          .tab-content
            #description.tab-pane{class: "#{'active' if !@tab_target}"}
              = render "v2/customers/partials/property_description"
            #websocket_messages.tab-pane{class: "#{'active' if @tab_target}"}
              = render "v2/customers/partials/property_messages"
            #services.tab-pane
              = render "v2/customers/partials/property_services"
            #visits.tab-pane
              = render "v2/customers/partials/property_visits"




      .v2-customer-dashboard-property-tabs-container.hidden
        #tabs
          %ul#user-nav-tabs.nav.nav-tabs
            %li.tab-activated{:role => "presentation"}
              %a{:href => "#c1"} Description
            %li.relative{:role => "presentation"}
              %a{:href => "#c2"} Messages
              .customer-absolute-message-count.absolute
                = @count
                = @prop_messages_count
            %li{:role => "presentation"}
              %a{:href => "#c3"} Services
            %li{:role => "presentation"}
              %a{:href => "#c4"} Visites
        #content
          #content1
            = render "v2/customers/partials/property_description"
          #content2
            = render "v2/customers/partials/property_messages"
          #content3
            = render "v2/customers/partials/property_services"
          #content4
            = render "v2/customers/partials/property_visits"

      .v2-customer-dashboard-property-faq
        .v2-customer-faq-header
          Les questions les plus fréquentes. . .
        .v2-customer-faq-top-container
          .left-container
            .faq-visible.relative
              .content
                Qu’est-ce que propose Bientôt Chez Soi ?
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/plus-button.svg", width: "25", class: "absolute"
              .faq-hidden
                Bientôt chez Soi, c’est la 1ère place de marché qui simplifie l’immobilier ! Tout a été pensé pour faciliter ma recherche et mon achat immobilier : de la recherche ...
                = link_to "J'en apprends plus en cliquant ici", faq_path, target: "_blank"
          .right-container
            .faq-visible.relative
              .content
                Quels services m’apporte Bientôt Chez Soi ?
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/plus-button.svg", width: "25", class: "absolute"
              .faq-hidden
                « 76% des futurs acquéreurs évoquent l’absence de biens correspondant à leurs attentes », selon le baromètre Logic-Immo de novembre 2018 ! Dans le même temps, ...
                = link_to "J'en apprends plus en cliquant ici", faq_path, target: "_blank"
        .v2-customer-faq-bottom-container
          .left-container
            .faq-visible.relative
              .content
                Combien ça coûte ?
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/plus-button.svg", width: "25", class: "absolute"
              .faq-hidden
                0€, 0 yen, 0 peso, 0 sesterce, rien, nada ! La recherche, les conseils, l’accompagnement sur-mesure sont entièrement gratuits. Je bénéficie en plus d’un service...
                = link_to "J'en apprends plus en cliquant ici", faq_path, target: "_blank"
          .right-container
            .faq-visible.relative
              .content
                Puis-je vous confier la vente de mon bien ?
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/plus-button.svg", width: "25", class: "absolute"
              .faq-hidden
                Bien sûr que oui ! Bientôt Chez Soi réalisera une estimation détaillée de ma maison ou de mon appartement et me proposera les bons outils pour trouver le bon acheteur rapidement !
                = link_to "J'en apprends plus en cliquant ici", je_vends_path, target: "_blank"

        .v2-faq-container-button
          = link_to faq_path, target: "_blank" do
            .bcs-button-sm-animation-filling
              Je lis les FAQ










