%section.v2-customer-dashboard
  = render "v2/customers/partials/side_navbar"

  - if @properties.any?
    .v2-customer-content
      .v2-customer-properties-container
        .v2-customer-properties-header
          Les offres des agences partenaires, spécialement pour moi
        .v2-customer-properties-header-hidden
          Les offres des agences partenaires
        .v2-customer-properties-subheader
          C'est à moi ! Je choisis les biens qui me plaisent ou non avec le système de "j'aime ou je n'aime pas"

        - @properties.each do |prop|
          .v2-customer-property-container
            - if prop.images_array
              .photo-left-container{style: "background-image: url('#{prop.images_array.last if prop.images_array != []}');"}

            - elsif prop.pictures.any?
              .photo-left-container{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}');"}

            - elsif prop.img_1_url
              .photo-left-container{style: "background-image: url(#{prop.img_1_url});"}

            - else
              .photo-left-container{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

            .infos-right-container.relative
              .top-right-container
                .main-infos
                  - if prop.type_bien && prop.nb_room
                    = "#{prop.type_bien} #{prop.nb_room} pièces"
                  - if prop.property_type && prop.nb_room
                    = "#{prop.property_type} #{prop.nb_room} pièces"
                .price
                  - if prop.price
                    = currency_format(prop.price)

              .between-right-container
                .detail
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "20"
                  = prop.nb_room
                .detail
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "20"
                  = surface_format(prop.area)
                .detail
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "20"
                  - if prop.type_bien
                    = prop.type_bien
                  - if prop.property_type
                    = prop.property_type
                .detail
                  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/bed.svg", width: "20"
                  = prop.nb_sleeping_room

              .bottom-right-container
                .localisation
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "20"
                  - if prop.cp && prop.ville
                    = "#{prop.cp} #{prop.ville}"
                  - if prop.zipcode && prop.localisation
                    = "#{prop.zipcode} #{prop.localisation}"

              - choice = prop.customer_choices.where(v2_demand_id: @demand.id).last
              - if choice
                - if choice.choice == "J'adore" || choice.choice == "J'aime"
                  .d-flex-center
                    .d-flex-column-center.already-give-choice-button
                      .custom-ajax-link-deactivated
                        = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/like.svg", width: "40"
                      .like-text
                        = "J'ai adoré ce bien"
                - elsif choice.choice == "Je n'aime pas"
                  .d-flex-center
                    .d-flex-column-center.already-give-choice-button
                      .custom-ajax-link-deactivated
                        = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/unlike.svg", width: "40"
                      .like-text
                        = "Je n'ai pas aimé ce bien"
              - else
                .customer-choice-right-container
                  .custom-ajax-link.relative{"data-demand": "#{@demand.id.to_s}", "data-property": "#{prop.id.to_s}", "data-url": v2_ajaxified_choices_path, "data-action": "hate"}
                    .like-text.absolute
                      = "Je n'aime pas"
                    = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/unlike.svg", width: "40"
                  .custom-ajax-link.relative{"data-demand": "#{@demand.id.to_s}", "data-property": "#{prop.id.to_s}", "data-url": v2_ajaxified_choices_path, "data-action": "love"}
                    .unlike-text.absolute
                      = "J'aime, je visite"
                    = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/like.svg", width: "40"


              = link_to v2_customer_dashboard_property_path(property_id: prop.id.to_s) do
                .v2-customer-property-button.absolute

  - else
    .v2-customer-content
      .d-flex-column-fullheight-center-center
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", class: "width-30"
        .v2-customer-empty-props-container
          .bold Ma quête se poursuit, les agences sont en recherche !
          .thin Je vais recevoir plus de propositions de visites si je sélectionne de nouveaux biens

  .custom-modal-container-v2.hidden
    .modal-v2
      .modal-closer-v2
        = svg("customer-hate")
      .modal-content-v2









