%section.v2-customer-dashboard#selection
  = render "v2/customers/partials/side_navbar"
  .v2-customer-content
    .selection-header
      .inline-svg
        = svg("althome-coeur-alone")
      .selection-header-text
        = "Ma selection"
    .selection-subheader
      = "Je retrouve ici les offres que j'ai aimés"

    .selection-items-container
      - if @props_with_choices.size > 0
        - @props_with_choices.each do |choice|
          - if choice.property
            - @property = Property.find(choice.property.id.to_s)
          .selection-item
            .prop-infos-container
              .prop-title
                = @property.title
              .prop-localisation
                = "#{@property.locality} #{@property.geoloc_zipcode} #{@property.geoloc_address}"

            .prop-desc-container
              .prop-desc-price
                = "#{number_with_delimiter(@property.price, locale: :fr)} €"
              .prop-desc-area
                = "#{@property.area} m²"
              .prop-desc-rooms
                = "#{@property.nb_room} Pièces"

            .d-flex-column-end#star-rating
              .star-rating-container
                - if choice.rating
                  - handle_customer_rating(choice.rating).each do |star_hash|
                    - if star_hash[:active]
                      .inline-svg.active
                        = svg("customer-rating-star")
                    - else
                      .inline-svg.inactive
                        = svg("customer-rating-star")
              .star-rating-created-date
                = l(choice.created_at, format: :medium)

