.customer-fixed-menu
  = link_to customer_zone_path, class: "#{'active' if current_page?(customer_zone_path)}" do
    .menu-picto-container
      .icon-menu-dashboard.fontastic
      .picto-container-text
        DASHBOARD
  = link_to customer_zone_path do
    .menu-picto-container
      .icon-menu-heart.fontastic
      .picto-container-text
        OFFRES
  = link_to customer_zone_path do
    .menu-picto-container
      .icon-menu-home-button.fontastic
      .picto-container-text
        MA SELECTION
  = link_to customer_zone_path do
    .menu-picto-container
      .icon-menu-user.fontastic
      .picto-container-text
        LES CONSEILS


.container
  %section.customer-zone-v2
    .row
      .col-xs-12.col-md-5
        .block.gray
          %h2
            = "BONJOUR #{@customer.first_name.upcase if @customer.first_name} !"
          %p
            = t("customer_zone.header.text")
          = link_to "Modifier mes infos", edit_customer_registration_path, class: "bcs-button-very-small"
      .col-xs-12.col-md-7
        .block.green
          %h2
            = "MA RECHERCHE EN COURS"
          .content
            .left
              .icon
                %i.fa.fa-folder-open-o
            .right
              .title
                .title-item
                  = "Type de bien"
                  .demand-zipcode
                    = demand_type_and_localisation(@demand.property_type, @demand.localisation)
                .title-item
                  = "Budget"
                  .demand-zipcode
                    = budget_format(@demand.budget)
                .title-item
                  = "Critères"
                  .demand-zipcode
                    = important_fields_format(@demand.important_fields)
              .links
                = link_to 'Télécharger', generate_pdf_path(demand_id: @customer.demands.last.id, format: :pdf), class: 'bcs-button-very-small mr-10', target: "_blank"
                = link_to "Modifier", demand_edit_path(demand_id: @customer.demands.last.id), class: "bcs-button-very-small mr-10"
                = link_to 'Supprimer', demand_path(@demand), method: :delete, class: "bcs-button-very-small", data: {confirm: "Etes-vous sûr de vouloir supprimer votre demande ?"}


      .col-xs-12.col-md-5
        .alone-title
          = "LES CONSEILS DU MOMENT !"
        = link_to post_path(cat_lname: @blog_post.blog_category.lname,lname: @blog_post.lname), target: "_blank" do
          .post-block
            .top{style:"background-image: url(#{@blog_post.photo_url if @blog_post.photo_url});"}
            .bottom
              %strong
                = @blog_post.name
              = @blog_post.title.truncate(120)

      .col-xs-12.col-md-7
        .block.gray.taller-block
          %h2 VOS OFFRES
          - if !@demand.properties.any?
            = "Aucune offre disponible"
          - else
            - @demand.properties.each do |property|
              .proposition-item
                .proposition-item-left{style: "background-image: url(#{property.photo_url});"}
                  .newbadge
                    NOUVEAU
                .proposition-item-right
                  .top-part
                    .prop-title
                      = property.title
                    .prop-price
                      = format_string_price(property.price.to_i.to_s)
                  .middle-part
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "14"
                      = "6"
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "14"
                      = property.area
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "14"
                      = property.property_type
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-bathroom.svg", width: "14"
                      = "2"
                  .bottom-part
                    .bottom-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                      = "#{property.city}, #{property.localisation}"
                    .bottom-part-item-inverse
                      = "#{l(property.created_at,format: :medium)}"
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-plus-button.svg", width: "14"


      .col-xs-12.col-md-6
        .block.red
          %h2
            = "MON NIVEAU"
          .content
            .graph
              = image_tag reward_picture(@customer.rewards.last.score), width: "80"

            .hint
              .level
                = "Votre niveau : #{@customer.rewards.last.badge}"
              = "Plus que 150 points et vous atteindrez le niveau supérieur !"
              %strong
                Passez à l'étape suivante pour gagner plus de points.

      .col-xs-12.col-md-6
        .block.white
          .small-title
            Rejoignez-nous sur les réseaux sociaux
          .logos-container
            = link_to 'https://www.facebook.com/bientotchezsoi/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo', width: "35"

            = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo', width: "35"

            = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo', width: "35"

            = link_to 'https://www.instagram.com/bientotchezsoi/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo', width: "35"


