.container
  %section.customer-zone-v2
    .row
      .col-xs-12.col-md-5
        .block.gray
          %h2
            = "BONJOUR #{@customer.first_name.upcase if @customer.first_name} !"
          %p
            = t("customer_zone.header.text")
          = link_to "Modifier mes infos", edit_customer_registration_path, class: "bcs-button-text"
      .col-xs-12.col-md-7
        .block.green
          %h2
            = "MA RECHERCHE EN COURS"
          .content
            .left
              .icon
                %i.fa.fa-folder-open-o
            .right
              .title
                = "Vous n'avez pas effectué de demande !"
              .links
                = link_to "Je commence", root_path, class: "bcs-button-very-small"
      .col-xs-12.col-md-6
        .alone-title
          = "LES CONSEILS DU MOMENT !"
        .post-block
          .top{style:"background-image: url('https://www.unsplash.it/1000/600');"}
          .bottom
            %strong
              = @customer_adapted_blog_post.name
            = @customer_adapted_blog_post.title.truncate(120)

      .col-xs-12.col-md-6
        .block.gray.taller-block
          %h2 VOS OFFRES
          .content
            = "Effectuer une demande pour recevoir des offres"


      .col-xs-12.col-md-6
        .block.red
          %h2
            = "MON NIVEAU"
          .content
            .graph
              = image_tag reward_picture(@customer.rewards.last.score), width: "80"

            .hint
              .level
                = "Votre niveau : #{@customer.rewards.last.badge}"
              = "Plus que 150 points et vous atteindrez le niveau supérieur !"
              %strong
                Passez à l'étape suivante pour gagner plus de points.

      .col-xs-12.col-md-6
        .block.white
          .small-title
            Rejoignez-nous sur les réseaux sociaux
          .logos-container
            = link_to 'https://www.facebook.com/bientotchezsoi/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo', width: "35"

            = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo', width: "35"

            = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo', width: "35"

            = link_to 'https://www.instagram.com/bientotchezsoi/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo', width: "35"
