.container
  %section.customer-zone-v2
    .row
      .col-xs-12.col-md-5
        .block.gray
          %h2
            = "BONJOUR #{@customer.first_name.upcase if @customer.first_name} !"
          %p
            = t("customer_zone.header.text")
          = link_to "Modifier mes infos", edit_customer_registration_path, class: "bcs-button-text"
      .col-xs-12.col-md-7
        .block.green
          %h2
            = "MA RECHERCHE EN COURS"
          .content
            .left
              .icon
                %i.fa.fa-folder-open-o
            .right
              .title
                .title-item
                  = demand_type_and_localisation(demand.property_type, demand.localisation)
                .title-item
                  = budget_format(demand.budget)
                .title-item
                  = important_fields_format(demand.important_fields)
              .links
                = link_to 'Télécharger', generate_pdf_path(demand_id: @customer.demands.last.id, format: :pdf), class: 'bcs-button-text', target: "_blank"
                = link_to "Modifier", demand_edit_path(demand_id: @customer.demands.last.id), class: "bcs-button-text"
      .col-xs-12.col-md-6
        .alone-title
          = "LES CONSEILS DU MOMENT !"
        .post-block
          .top{style:"background-image: url('https://www.unsplash.it/1000/600');"}
          .bottom
            %strong
              = @customer_adapted_blog_post.name
            = @customer_adapted_blog_post.title.truncate(120)
      .col-xs-12.col-md-6
        .block.gray.taller-block


      .col-xs-12.col-md-6
        .block.red
          %h2
            = "MES POINTS DE FIDELITE"
          .content
            .graph
              .rating-container
                .graph-container
                  %svg{:viewbox => "-1 -1 34 34", :xmlns => "http://www.w3.org/2000/svg"}
                    %circle.rating-progress-background{:cx => "16", :cy => "16", :r => "15.9155"}
                    %circle.rating-progress.js-rating-progress{:cx => "16", :cy => "16", :r => "15.9155", style: "stroke-dashoffset: #{100 - @customer.rewards.last.score};"}
                #bike-score
                  .text
                    = @customer.rewards.last.score
                  .points
                    POINTS
            .hint
              .level
                = "Votre niveau : #{@customer.rewards.last.badge}"
              = "Plus que 150 points et vous atteindrez le niveau supérieur !"
              %strong
                Passez à l'étape suivante pour gagner plus de points.

      .col-xs-12.col-md-6
        .block.bordered-green

      .col-xs-12.col-md-6
        .block.white
      .col-xs-12.col-md-6
        .block.bordered-green
