%section.show-wrapper

  .modern-modal-wrapper.hidden
    .modern-modal-closer-container
      .modern-modal-closer.ripplelink
        .ripplelinkss
          = "Fermer"
        .inline-svg
          = svg("x-close")
    .modern-modal
      .modern-modal-body

  .d-flex-between.show-top-close-header
    .d-flex-start
      .property-title
        - if @responses["agency"]["name"]
          = @responses["agency"]["name"].strip.downcase.capitalize
        - else
          = "Titre non renseigné"
      .address-with-icon.hidden
        .inline-svg
          = svg("map-pin")
        .text
          = "#{@responses['agency']['address']} #{@responses['agency']['postal_code']}"
      - if @datas
        .d-flex-start
          - @datas.each do |k,v|
            = "#{k} - #{v}"

      .d-flex-start
        = link_to "Activer la synchro du flux", apifluxes_activate_flux_path(id: @responses["agency"]["_id"]["$oid"], email: @responses["agency"]["email"]), class: "custom-action-ajax-link", method: :post, remote: true

    .custom-section-closer
      .closer-text
        Fermer
      .inline-svg
        = svg("x-close")

  %section.apifluxes-agencies--show

    .property-sticky-stats-wrapper
      .property-stat-item
        .inline-svg
          = svg("source-origin")
        = "Hektor"
      .property-stat-item
        .inline-svg
          = svg("map-pin")
        = "#{@responses['agency']['address']} #{@responses['agency']['postal_code']}"
      .property-stat-item
        .inline-svg
          = svg("feather-phone")
        = "#{@responses['agency']['phone']}"
      .property-stat-item
        .inline-svg
          = svg("apifluxes-home")
        = "#{@responses["properties"].size} biens en stock"


    .apifluxes-agency--card.hidden
      .agency-card--name
        = @responses["agency"]["name"].downcase.capitalize
      .agency-card--localisation
        = "#{@responses["agency"]["address"]}, #{@responses["agency"]["postal_code"]} #{@responses["agency"]["city"].capitalize}"
      .agency-card--email
        = @responses["agency"]["email"]
      .agency-card--phone
        = @responses["agency"]["phone"]
      .agency-card--propcount
        = "Cette agence possède #{@responses["properties"].size} biens en stock"

      .d-flex-start.mt-20
        = link_to "Activer le flux automatique", apifluxes_activate_flux_path(email: @responses["agency"]["email"]), class: "modern-blue-btn"

    .modern-table
      .modern-table-head.from-agency
        .th-flex-2
          Titre
        .th-flex-2
          Type
        .th-flex-1
          Statut
        .th-flex-1
          Ville
        .th-flex-1
          Equipements
        .th-flex-1
          Dpe
        .th-flex-1
          Surface
        .th-flex-1
          Prix
        .th-flex-1
          Voir
      .modern-table-body
        - @responses["properties"].each do |prop|
          .modern-table-body-item
            .th-flex-2.fw-500
              = prop["title"].strip.downcase.capitalize
            .th-flex-2.fw-500{style: "color: #{property_type_color(prop['property_type_code'].to_i)};"}
              = property_type_string(prop["property_type_code"].to_i)
            .th-flex-1
              = property_status_format(prop["status_code"])
            .th-flex-1
              = prop["human_city"]
            .th-flex-1
              = "Equipements"
            .th-flex-1
              - if prop["dpe"]
                .dpe-block
                  .dpe-class{class: "level-#{prop_dpe(prop['dpe'].to_i).downcase}"}
                    = prop_dpe(prop["dpe"].to_i)
            .th-flex-1
              = "#{prop["area"]} m²"
            .th-flex-1.fw-700
              = "#{number_with_delimiter(prop['price'],locale: :fr)} €"
            .th-flex-1
              .nested-custom-ajax-link{"data-url": apifluxes_property_path(id: prop["_id"]["$oid"],from_agency: true), "data-method": "get", "data-title": "#{prop['title']}"}
                Voir
