.admin-container
  .content
    .current-date-container
      .today-demands
        = "Les demandes bientôt chez soi"
      .btn-group.btn-group-sm{role:"group"}
        .btn.btn-default.pending-demands-trig
          Validées
        .btn.btn-default.validated-demands-trig
          En attentes


    .page-header
      %h3
        %small
          = "#{pluralize(@old_platform_demand.size, 'demande validée', 'demandes validées')}"
        %small.light
          = "#{l(Date.today, format: :medium)}"

    %table.table.table-hover.validated-demand
      %thead
        %tr
          %th Créée le
          %th Utilisateur
          %th Proprietaire
          %th Type de bien
          %th Budget
          %th Surface
          %th Périmètre
          %th Actions
      - @old_platform_demand.reverse.each do |demand|
        %tr
          %td
            .date
              = "#{l(demand.created_at, format: :special)}"
          %td
            = link_to admin_customer_path(demand.customer) do
              = "#{demand.customer.last_name.capitalize} #{demand.customer.first_name}"
          %td
            - if customer_situation(demand) == true
              .fa.fa-check.is-a-owner
          %td
            = demand.property_type
          %td
            = budget_format(demand.budget)
          %td
            = surface_format demand.surface
          %td
            - demand.postal_codes.each do |zipcode|
              .zipcode
                = zipcode
          %td
            .d-flex-between
              = link_to generate_admin_pdf_path(demand_id: demand.id.to_s, format: :pdf), class: "btn btn-default btn-xs", target: "_blank" do
                .fa.fa-file-pdf-o
              = link_to admin_demand_path(demand), class: "btn btn-primary btn-xs" do
                .fa.fa-eye
              = link_to admin_demand_destroy_path(demand), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Attention action irréversible"} do
                .fa.fa-times


