%section.estimation-page
  .banner
    .banner-content

  .container

    .header
      .icon-title-chiffres
      .text
        Estimation du prix de ma maison ou de mon appartement

    .sub-header-text
      En quelques clics, j'ai une première évaluation du prix de vente de mon bien ! Bientôt Chez Soi se base sur les prix de l'immobilier réactualisés pour me fournir une fourchette de prix de vente. Mais cela ne remplace pas une estimation détaillée (et gratuite) par un expert
      %strong
        Bientôt Chez Soi
      qui se déplace chez vous.

    = simple_form_for Estimation.new, html: {class: "estimation-ajax-form"} do |f|

      .custom-form-big-header
        .icon-marker.font-resize
          J'habite
      .radio-collections-container
        = f.collection_radio_buttons :property_type,[["Une maison"],["Un appartement"]], :first, :generate_estimation_button_icon


      .custom-form-big-header
        .icon-marker.font-resize
          Ma commune
      - if @localisation
        = f.input :localisation, input_html: {value: @localisation, id: "estimation-geoloc-input"}
      - else
        = f.input :localisation


      .custom-form-big-header
        .icon-marker.font-resize
          Mon bien
      .small
        Etat de mon logement
      .radio-collections-container-fullwidth
        = f.collection_radio_buttons :quality,[["Il y a des travaux de rénovation à prévoir"],["Il est de qualité comparable aux autres biens du quartier"],["Il est d’un standing supérieur aux autres bien du quartier"]], :first, :generate_quality_items

      .small.mt-25
        Surface
      = f.input :living_space, as: :numeric, label: false, placeholder: "La surface en m²"

      .custom-form-big-header
        .icon-marker.font-resize
          Mes infos de contact
      .small
        Elles ne seront jamais transmises à des tiers et servent uniquement à vous transmettre votre estimation personnelle.

      .row
        .col-xs-6
          = f.input :firstname, placeholder: "Prénom", label: false
        .col-xs-6
          = f.input :lastname, placeholder: "Nom", label: false
        .col-xs-6
          = f.input :email, placeholder: "Mon email", label: false
        .col-xs-6
          = f.input :phone, placeholder: "Téléphone", label: false
      .estimation-result.hidden
        .header
          .icon-title-chiffres
          .text
            mon résultat
        .estimation-results-wrapper
          .hint-text
            Mon bien est estimé entre
          .result
      .d-flex-center
        = f.submit "ESTIMER MON BIEN", class: "bcs-button-sm-special"
