%section.estimation-page
  .banner
    .banner-content
      votre bien plus en détails

  .container

    .row
      .estimation-result
        .col-xs-12.col-md-8.col-md-offset-2
          .header
            .icon-title-chiffres
            .text
              mon estimation
        .col-xs-12.col-md-8.col-md-offset-2
          .small.bold.evaluation-explication
            Evaluation calculée à partir des prix communiqués par Meilleurs Agents corrigés par les données qualitatives
            %strong
              Bientôt Chez Soi
        .col-xs-12.col-md-8.col-md-offset-2
          .estimation-results-wrapper
            .hint-text
              - if @estimation.property_type == "Une maison"
                = "Le prix de vente pour ma maison est estimé entre"
              - else
                = "Le prix de vente pour mon appartement est estimé entre"
            .result
              = "#{number_with_delimiter(@estimation.results[:min_value], locale: :fr)} €" + " et " + "#{number_with_delimiter(@estimation.results[:max_value], locale: :fr)} €"


    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .big-block
          .block-header
            .icon-title-pro.fontastic-icon
            je rencontre mon expert
          = simple_form_for @estimation, url: estimation_update_path(estimation_id: @estimation.id.to_s) do |f|
            .row
              .col-xs-12
                = f.input :phone, placeholder: "Mon téléphone (Facultatif)", label: false
              .col-xs-12
                = f.input :comment, label: false, as: :text, placeholder: "Mon message (Facultatif)"
            .block-link
              .form-actions-cgu
                = f.input :contact_require, as: :boolean, label: "je veux affiner mon estimation avec un expert Bientôt Chez Soi"
              = f.submit "JE VEUX ETRE RECONTACTÉ", class: "bcs-button-sm-special mt-25"

          .content-text
            Je peux aussi le rencontrer en agence, du lundi au vendredi
          .content-text-bolder
            19 rue Francisco Ferrer, 33700 MERIGNAC
          .content-text-bolder.green
            05 35 54 48 48
