%section.employee-session--form
  %section.employee-session--left
    .legal-status-container
      This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
    .employee-session--formtitle
      Connexion
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification
      = f.input :email, placeholder: "Email", label: false, required: false, autocomplete: "off"
      = f.input :password, placeholder: t("customer_session_new.inputs.input_2.placeholder"), label: false, required: false, autocomplete: "current-password"
      .password-viewer-container
        .inline-svg
          = svg("feather-eye")
        .password-viewer-text
          Voir le mot de passe

      .d-flex-center
        = f.button :submit, "Je valide", class: 'modern-black-btn'
      .d-flex-center.mt-20
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "J'ai oublié mon mot de passe", new_password_path(resource_name), class: "modern-smooth-btn"

  %section.employee-session--right
    .inline-svg
      = svg("signin-illu")
