.pdf-container
  .container
    .pdf-top-header
      = wicked_pdf_image_tag 'Logo-bulle-2.png'
      .content
        recherche innovante
        %strong
          et livraison à domicile
        de votre logement
    .pdf-resume-header
      .infos
        %strong
          Top départ !!
        Toute l'équipe de bientôt chez soi est engagée à vos côtés pour trouver le bien idéal .
        A très vite .
        .reference
          = generate_reference(@demand)
      = wicked_pdf_image_tag 'vente-contrat.png'
    - if @demand_comments
      .pdf-comments
        - @demand_comments.each do |comment|
          .pdf-comments-item
            .pdf-comment-body
              = comment.body
            .pdf-comment-author
              = "Par #{comment.author}"

    - if @demand.customer
      .pdf-customer-infos
        - if @demand.customer.first_name && @demand.customer.last_name
          .pdf-customer-item
            = "#{@demand.customer.first_name.downcase.capitalize} #{@demand.customer.last_name}"
        - if @demand.customer.phone
          .pdf-customer-item
            = @demand.customer.phone
        - if @demand.customer.email
          .pdf-customer-item
            = @demand.customer.email
        .pdf-customer-item
          - if @demand.customer.address
            = @demand.customer.address
          - if @demand.customer.postal_code
            = @demand.customer.postal_code
          - if @demand.customer.city
            = @demand.customer.city
        .pdf-customer-item.red-text
          - if @demand.actual_situation == "Non, locataire, et une grande première"
            = "Actuellement locataire"
          - else
            = "Actuellement proprietaire"
    - @attributes_by_theme.each do |key, value|
      .pdf-results-recap-header
        = key
      .answers-container
        - value.each_with_index do |val,index|
          .answer-checkbox-container-pdf
            .title
              = "#{val.first} : "
            .value
              .dark-value
                = "#{val.last}"


- if @browser_screenshot_link
  .map-api-image
    = image_tag @browser_screenshot_link
- elsif @map_image_link
  .map-api-image
    = image_tag @map_image_link


.pdf-image
  = wicked_pdf_image_tag 'Castor-tampon.png'

