.aristid-pdf-layout
  .pdf-header{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
    .big-svg
      = svg("logo-aristid-dark")
    .pdf-header-title
      = "Ma recherche"

  .customer-section{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
    .section-left
      .customer-name
        = "#{webhook['content']['customer']['firstname']} #{webhook['content']['customer']['lastname']}"
      .customer-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
        .svg{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
          = svg("ari-pdf-phone")
        .text
          = formatted_phone
      .customer-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
        .svg{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
          = svg("ari-pdf-envelope")
        .text
          = webhook['content']["customer"]["email"]
    .section-right
      .customer-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
        .svg{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
          = svg("ari-pdf-gift")
        .text
          - if webhook['content']["survey"]["age"]
            = webhook["content"]["survey"]["age"]
          - else
            .not-specified
              = "Non renseigné"
      .customer-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
        .svg{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
          = svg("ari-pdf-key-skeleton")
        .text
          = webhook['content']["survey"]["actual_situation"]
      .customer-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
        .svg{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
          = svg("ari-pdf-home-alt")
        .text
          - if webhook['content']["survey"]["current_address"]
            = webhook["content"]["survey"]["current_address"]
          - else
            .not-specified
              = "Non renseigné"

  .section-title Mon projet
  .project-section{style: "display: -webkit-box;display: box;-webkit-box-pack: justify;"}
    .section-left
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Type
        .content
          = webhook['content']["survey"]["property_type"]
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Nb chambres
        .content
          = "#{webhook['content']["survey"]["rooms"]} chambres"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Surface
        .content
          = "#{webhook['content']["survey"]["surface"]} m²"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Budget max
        .content
          = formatted_budget
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Etat
        .content
          = "#{webhook['content']["survey"]["state"].first}"

    .section-right
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Travaux
        .content
          - if webhook['content']["survey"]["house_works"]
            = webhook["content"]["survey"]["house_works"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Etage
        .content
          - if webhook['content']["survey"]["house_stairs"]
            = webhook['content']["survey"]["house_stairs"].strip.gsub(' ',' ')
          - elsif webhook['content']["survey"]["flat_stairs"]
            = webhook['content']["survey"]["flat_stairs"].strip.gsub(' ',' ')
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Accessibilité
        .content
          - if webhook["content"]["survey"]["accessibility"]
            = webhook["content"]["survey"]["accessibility"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Espace principal
        .content
          - if webhook['content']["survey"]["principal_space"]
            = "#{webhook['content']['survey']['principal_space']} m²"
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Destination
        .content
          = webhook['content']["survey"]["destination"]

  .section-title-blue Mes plus
  .more-section{style: "display: -webkit-box;display: box;-webkit-box-pack: justify;"}
    .section-left
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label DPE
        .content
          - if webhook['content']["survey"]["dpe"]
            = webhook['content']["survey"]["dpe"].first
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Extérieur
        .content
          - if webhook['content']["survey"]["house_exterior"]
            = webhook['content']["survey"]["house_exterior"].first
          - elsif webhook['content']["survey"]["flat_exterior"]
            = webhook['content']["survey"]["flat_exterior"].first
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Garage
        .content
          - if webhook['content']["survey"]["garage"]
            = webhook['content']["survey"]["garage"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Parking
        .content
          - if webhook['content']["survey"]["parking"]
            = webhook['content']["survey"]["parking"].first
          - else
            .not-specified
              = "Non renseigné"

    .section-right
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Cuisine
        .content
          - if webhook['content']["survey"]["kitchen"]
            = webhook['content']["survey"]["kitchen"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Style
        .content
          - if webhook['content']["survey"]["style"]
            = webhook['content']["survey"]["style"].first
          - else
            .not-specified
              = "Non renseigné"

  .line-separator

  .section-title Le contexte
  .context-section{style: "display: -webkit-box;display: box;-webkit-box-pack: justify;"}
    .section-left
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Habitants
        .content
          - if webhook['content']["survey"]["project"]
            = webhook['content']["survey"]["project"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Périmètre actuel
        .content
          - if webhook['content']["survey"]["current_location"]
            = webhook['content']["survey"]["current_location"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Rapprochement
        .content
          - if webhook['content']["survey"]["location_link"]
            = webhook['content']["survey"]["location_link"].first
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Enfants
        .content
          - if webhook['content']["survey"]["school_type"]
            = webhook['content']["survey"]["school_type"].first
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Contact banquier
        .content
          - if webhook['content']["survey"]["banker_contact"]
            = webhook['content']["survey"]["banker_contact"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Contact courtier
        .content
          - if webhook['content']["survey"]["broker_contact"]
            = webhook['content']["survey"]["broker_contact"]
          - else
            .not-specified
              = "Non renseigné"
    .section-right
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Délai pour trouver
        .content
          - if webhook['content']["survey"]["project_temporality"]
            = webhook['content']["survey"]["project_temporality"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Nb visites
        .content
          - if webhook['content']["survey"]["visited_property_count"]
            = webhook['content']["survey"]["visited_property_count"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Recherche depuis
        .content
          - if webhook['content']["survey"]["search_time"]
            = webhook['content']["survey"]["search_time"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Transport
        .content
          - if webhook['content']["survey"]["favorite_transportation_mode"]
            = webhook['content']["survey"]["favorite_transportation_mode"].first
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Proximité
        .content
          - if webhook['content']["survey"]["proximity_situation"]
            = webhook['content']["survey"]["proximity_situation"]
          - else
            .not-specified
              = "Non renseigné"
      .project-field{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;"}
        .label Rénovation énergétique
        .content
          - if webhook['content']["survey"]["energy_renovation"]
            = webhook['content']["survey"]["energy_renovation"].to_s.strip.gsub(' ', ' ')
          - else
            .not-specified
              = "Non renseigné"

  .section-title Dernière précision
  .precision-section
    - if webhook['content']["survey"]["last_precision"]
      = webhook['content']["survey"]["last_precision"]
    - else
      .not-specified
        = "Non renseigné"

