.pdf-v2-container{style: "font-family: 'Cerebri Sans';"}
  .pdf-d-flex-start{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;font-size: 20px;margin-bottom: 20px;"}
    .pdf-background-image{style: "background-image: url('https://bientotchezsoi.s3.eu-west-3.amazonaws.com/mailing/bientotmaloc/logo-maloc-small.png');width: 28%;height: 107px;background-size: 90%;background-position: center center;background-repeat: no-repeat;"}
    .pdf-top-header-green{style: "height: 100px;margin-left: 15px;background-color: #99ae44;width: 68%;box-sizing: border-box;-webkit-box-orient: vertical;box-orient: vertical;-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;border-radius: 4px;position: relative;"}
      .pdf-d-flex-center{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;font-size: 19px;font-weight: 700;color: white;"}
        .renter-fullname{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;width: 100%;text-align: center;"}
          = "#{typeform.first_name} #{typeform.last_name}"
      .pdf-d-flex-center{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;font-size: 16px;color: white;"}
        = "#{formatted_phone}"
      .pdf-d-flex-center{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;font-size: 16px;color: white;"}
        = "#{typeform.email}"


  .pdf-fullpage-block{style: "width: 100%;padding: 16px;box-sizing: border-box;background-color: rgb(225,225,225);border-radius: 5px;margin-top: 20px;margin-bottom: 20px;"}
    .fullpage-block-header{style: "font-weight: 800;text-transform: uppercase;margin-bottom: 10px;"}
      = "recherche du #{typeform.submitted_at}"

    - if typeform.titulaire_bail.to_s.downcase == "à deux (couple ou colocation)"
      .status-text{style: "font-size: 12px;font-weight: 800;margin-bottom: 6px;"}
        = "#{typeform.first_name} #{typeform.last_name}, #{typeform.maritalstatus} louera #{typeform.titulaire_bail.to_s.downcase.split('(').first} (#{typeform.roomate_status}) avec #{typeform.roomate_name}"

    - if typeform.rooms > 1
      - if typeform.furnished.downcase == "l'un ou l'autre"
        = "#{typeform.housing.capitalize} avec #{typeform.rooms} chambres à #{typeform.location} - Loyer max CC #{typeform.budget} € - meublé ou non"
      - else
        = "#{typeform.housing.capitalize} avec #{typeform.rooms} chambres à #{typeform.location} - Loyer max CC #{typeform.budget} € - #{typeform.furnished.downcase}"
    - else
      - if typeform.furnished.downcase == "l'un ou l'autre"
        = "#{typeform.housing.capitalize} avec #{typeform.rooms} chambre(s) à #{typeform.location} - Loyer max CC #{typeform.budget} € - meublé ou non"
      - else
        = "#{typeform.housing.capitalize} avec #{typeform.rooms} chambre à #{typeform.location} - Loyer max CC #{typeform.budget} € - #{typeform.furnished.downcase}"
    .red-text{style: "color: tomato;text-transform: uppercase;font-size: 13px;font-weight: 800 !important;margin-top: 8px;letter-spacing: -0.4px;"}
      = "Les revenus couvrent #{typeform.incomevsloyer} le montant du loyer max. indiqué"


  .blocks-container{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-lines: multiple;box-lines: multiple;margin-bottom: 20px;"}
    - if typeform_categories[:renter_situation] != []
      .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 180px;border-radius: 4px;border: 1px solid rgb(160,160,160);padding: 16px;"}
        .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase;"}
          = "Situation"
        .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;width: 100%;min-width: 100%;"}
          .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
            .content-item-label{style: "margin-right: 6px;"}
              = "Activité"
            .content-item-value{style: "font-weight: 700;"}
              - if typeform.occupation.to_s.downcase.to_sym == :autre
                - if typeform.employee_status
                  = "#{typeform.occupation}, #{typeform.employee_status.to_s.downcase}"
                - else
                  = "#{typeform.occupation} (#{typeform.other_occupation})"
              - else
                - if typeform.employee_status
                  = "#{typeform.occupation}, #{typeform.employee_status.to_s.downcase}"
                - else
                  = "#{typeform.occupation}"

          .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
            .content-item-label{style: "margin-right: 6px;"}
              = "Revenus"
            .content-item-value{style: "font-weight: 700;-webkit-box-flex: 1;"}
              = "#{number_with_delimiter(typeform.income, locale: :fr)} € mensuels".to_s.gsub("\n"," ")

          - if typeform.housing_grant_eligibility
            .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;width: 100%;min-width: 100%;-webkit-box-pack: start;margin-bottom: 5px;"}
              .content-item-label{style: "margin-right: 6px;"}
                = "Eligibilité APL"
              .content-item-value{style: "font-weight: 700;"}
                = "#{typeform.housing_grant_eligibility}"


          - if typeform.tax
            .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;width: 100%;min-width: 100%;-webkit-box-pack: start;margin-bottom: 5px;"}
              .content-item-label{style: "margin-right: 6px;"}
                = "Revenus déclarés en France ?"
              .content-item-value{style: "font-weight: 700;"}
                = "#{typeform.tax ? 'Oui' : 'Non' }"


          - if typeform.entrepreneur
            .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;width: 100%;min-width: 100%;-webkit-box-pack: start;margin-bottom: 5px;"}
              .content-item-label{style: "margin-right: 6px;width: 180px;"}
                Entreprise de plus de deux ans ?
              .content-item-value{style: "font-weight: 700;"}
                Oui


    - if typeform_categories[:renter_more_infos] != []
      .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 180px;border-radius: 4px;border: 1px solid rgb(160,160,160);padding: 16px;"}
        .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase;"}
          = "Etat civil"
        .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;"}
          .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
            .content-item-value{style: "font-weight: 700;width: 100%;"}
              = "Né(e) le #{typeform.birthdate} (#{age_calculation(typeform[:birthdate])} ans)"

          - typeform_categories[:renter_more_infos].each do |hashed_values|
            - hashed_values.each do |k,v|
              .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                .content-item-label{style: "margin-right: 6px;"}
                  = "#{k}"
                .content-item-value{style: "font-weight: 700;"}
                  = "#{v}"
          - if typeform.tenant.to_s.downcase.to_sym == :locataire
            .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
              .content-item-label{style: "margin-right: 6px;width: 95px;"}
                = "Loyers à jour ?"
              .content-item-value{style: "font-weight: 700;"}
                = "#{typeform.rental}"

  .blocks-container{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-lines: multiple;box-lines: multiple;margin-bottom: 20px;"}

    - if typeform.guarantor != "Non"
      .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;background-color: rgb(225,225,225);padding: 16px;"}
        .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase;"}
          = "garant"
        .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;"}
          - typeform_categories[:renter_guarant].each do |hashed_values|
            - hashed_values.each do |k,v|
              .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                .content-item-label{style: "margin-right: 6px;"}
                  = "#{k}"
                .content-item-value{style: "font-weight: 700;"}
                  = "#{v}"

    - else
      .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;background-color: transparent;padding: 16px;"}

    - if typeform_categories[:renter_second_guarant] != []
      .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;background-color: rgb(225,225,225);padding: 16px;"}
        .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase"}
          = "second garant"
        .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;"}
          - typeform_categories[:renter_second_guarant].each do |hashed_values|
            - hashed_values.each do |k,v|
              .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                .content-item-label{style: "margin-right: 6px;"}
                  = "#{k}"
                .content-item-value{style: "font-weight: 700;-webkit-box-flex: 1;"}
                  = "#{v}"

  - if typeform.message
    .pdf-fullpage-block{style: "width: 100%;padding: 20px;box-sizing: border-box;background-color: rgb(225,225,225);border-radius: 5px;margin-top: 20px;margin-bottom: 20px;height: 160px;"}
      .fullpage-block-header{style: "font-weight: 800;text-transform: uppercase;margin-bottom: 10px;"}
        = "message"
      .content-text{style: "font-size: 13px;font-weight: 500;margin-top: 8px;"}
        = "#{typeform.message}"
  - else
    .pdf-fullpage-block{style: "width: 100%;padding: 20px;box-sizing: border-box;background-color: rgb(225,225,225);border-radius: 5px;margin-top: 20px;margin-bottom: 20px;height: 160px;opacity: 0.3;"}
      .fullpage-block-header{style: "font-weight: 800;text-transform: uppercase;margin-bottom: 10px;"}
        = "message"
      .content-text{style: "font-size: 13px;font-weight: 500;margin-top: 8px;"}
        = "Aucun message"

  .footer-legals{style: "font-size: 9px;font-weight: 500;margin-top: 140px;"}
    Bientôt Ma Loc est un service édité par BCS Conseils, SAS au capital de 1 000€  enregistrée au RCS de Bordeaux sous le numéro 848 747 101 dont le siège social est situé au 2 rue Richelieu 33 200 Bordeaux
    Les informations sont délivrées sur la base des déclarations du contact candidat à la location et ne sauraient engager la responsabilité de BCS Conseils. Tous droits réservés. BCS Conseils 2019

  - if typeform.has_roomate
    .pdf-d-flex-start{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;font-size: 20px;margin-bottom: 20px;margin-top: 200px;"}
      .pdf-background-image{style: "background-image: url('https://bientotchezsoi.s3.eu-west-3.amazonaws.com/mailing/bientotmaloc/logo-maloc-small.png');width: 28%;height: 107px;background-size: 90%;background-position: center center;background-repeat: no-repeat;"}
      .pdf-top-header-green{style: "height: 100px;margin-left: 15px;background-color: #99ae44;width: 68%;box-sizing: border-box;-webkit-box-orient: vertical;box-orient: vertical;-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;border-radius: 4px;"}
        .pdf-d-flex-center{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;font-size: 19px;font-weight: 700;color: white;"}
          .renter-fullname{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;width: 100%;text-align: center;"}
            - if typeform.roomate_name
              = "#{typeform.roomate_name}"
        .pdf-d-flex-center{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;font-size: 15px;color: white;width: 100%;min-width: 100%;"}
          = "Cotitulaire du bail de #{typeform.first_name} #{typeform.last_name}"
        .pdf-d-flex-center{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;font-size: 15px;color: white;"}
          = "(#{formatted_phone} - #{typeform.email})"

    .pdf-sub-header{style: "font-size: 16px;text-align: center;display: none;"}
      .fat-text{style: "font-weight: 700;"}
        = "Cotitulaire du bail de #{typeform.first_name} #{typeform.last_name}"
      .small-text{style: "font-weight: 400;"}
        = "(#{formatted_phone} - #{typeform.email})"



  - if typeform.has_roomate
    .blocks-container{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-lines: multiple;box-lines: multiple;margin-bottom: 20px;margin-top: 20px;"}
      - if typeform.has_roomate
        .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;border: 1px solid rgb(160,160,160);padding: 16px;"}
          .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase"}
            = "Situation"
          .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;"}
            .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
              .content-item-label{style: "margin-right: 6px;"}
                = "Activité"
              .content-item-value{style: "font-weight: 700;"}
                - if typeform.roomate_occupation.to_s.downcase.to_sym == :autre
                  - if typeform.roomate_occupation_status
                    = "#{typeform.roomate_occupation}, #{typeform.roomate_occupation_status.to_s.downcase}"
                  - else
                    = "#{typeform.roomate_occupation} (#{typeform.roomate_other_occupation})"
                - else
                  - if typeform.roomate_occupation_status
                    = "#{typeform.roomate_occupation}, #{typeform.roomate_occupation_status.to_s.downcase}"
                  - else
                    = "#{typeform.roomate_occupation}"

            .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
              .content-item-label{style: "margin-right: 6px;"}
                = "Revenus"
              .content-item-value{style: "font-weight: 700;-webkit-box-flex: 1;"}
                = "#{number_with_delimiter(typeform.roomate_income, locale: :fr)} € mensuels"

            - if typeform.roomate_housing_grant
              .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                .content-item-label{style: "margin-right: 6px;"}
                  = "Eligibilité APL"
                .content-item-value{style: "font-weight: 700;-webkit-box-flex: 1;"}
                  = "#{typeform.roomate_housing_grant}"

      - if typeform.has_roomate
        .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;border: 1px solid rgb(160,160,160);padding: 16px;"}
          .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase"}
            = "Etat civil"
          .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;"}

            - if typeform.roomate_birthdate
              .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                .content-item-value{style: "font-weight: 700;width: 100%;"}
                  = "Né(e) le #{typeform.roomate_birthdate} (#{age_calculation(typeform[:roomate_birthdate])} ans)"

            - typeform_categories[:renter_roomate_situation].each do |hashed_values|
              - hashed_values.each do |k,v|
                .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                  .content-item-label{style: "margin-right: 6px;"}
                    = "#{k}"
                  .content-item-value{style: "font-weight: 700;"}
                    = "#{v}"

  - if typeform_categories[:renter_roomate_guarantor] != []
    .blocks-container{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-lines: multiple;box-lines: multiple;margin-bottom: 20px;"}

      - if typeform_categories[:renter_roomate_guarantor] != []
        .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;background-color: rgb(225,225,225);padding: 16px;"}
          .rent-pdf-card-header{style: "font-size: 16px;font-weight: 700;margin-bottom: 10px;text-transform: uppercase;"}
            = "garant"
          .rent-pdf-card-content{style: "font-size: 12px;font-weight: 400;"}
            - typeform_categories[:renter_roomate_guarantor].each do |hashed_values|
              - hashed_values.each do |k,v|
                .content-item{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: start;margin-bottom: 5px;"}
                  .content-item-label{style: "margin-right: 6px;"}
                    = "#{k}"
                  .content-item-value{style: "font-weight: 700;-webkit-box-flex: 1;"}
                    = "#{v}"

  - else
    .blocks-container{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: justify;-webkit-box-lines: multiple;box-lines: multiple;margin-bottom: 20px;"}
      .rent-pdf-card{style: "box-sizing: border-box;width: 48%;height: 160px;border-radius: 4px;background-color: transparent;padding: 16px;"}

  - if typeform.has_roomate
    .footer-legals{style: "font-size: 9px;font-weight: 500;margin-top: 500px;"}
      Bientôt Ma Loc est un service édité par BCS Conseils, SAS au capital de 1 000€  enregistrée au RCS de Bordeaux sous le numéro 848 747 101 dont le siège social est situé au 2 rue Richelieu 33 200 Bordeaux
      Les informations sont délivrées sur la base des déclarations du contact candidat à la location et ne sauraient engager la responsabilité de BCS Conseils. Tous droits réservés. BCS Conseils 2019









