.pdf-container
  .container
    .pdf-top-header
      = wicked_pdf_image_tag 'Logo-bulle-2.png'
      .content
        recherche innovante
        %strong
          et livraison à domicile
        de votre logement
    .pdf-resume-header
      .infos
        %strong
          Top départ !!
        Toute l'équipe de bientôt chez soi est engagée à vos côtés pour trouver le bien idéal .
        A très vite .
        .reference
          = generate_reference(@demand)
      = wicked_pdf_image_tag 'vente-contrat.png'

    - if @important_comments
      .pdf-important-comments-container
        - @important_comments.each do |comment|
          .important-comment
            = comment.body

    - @attributes_by_theme.each do |key, value|
      .pdf-results-recap-header
        = key
      .answers-container
        - value.each_with_index do |val,index|
          .answer-checkbox-container-pdf
            .title
              = "#{val.first} : "
            .value
              .dark-value
                = "#{val.last}"


- if @browser_screenshot_link
  .map-api-image
    = image_tag @browser_screenshot_link
- elsif @map_image_link
  .map-api-image
    = image_tag @map_image_link

.pdf-image
  = wicked_pdf_image_tag 'Castor-tampon.png'
