.pdf-v2-container
  .header-v2{style: "background-image: url('#{'https://bientotchezsoi.s3.eu-west-3.amazonaws.com/images/pdf/pdf-header-v2.jpg'}');"}
  .content-v2
    .title-container-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
      .title-v2
        = "Ma fiche acquéreur BCS_#{@demand.id.to_s.last(5).upcase}"

    .d-flex-start{style: "display: -webkit-box;display: box;"}
      .created-date-v2
        = "Recherche du #{l(@demand.created_at, format: :medium)}"

    .d-flex-start.mb-10{style: "display: -webkit-box;display: box;"}
      .item-left-v2
        .item-title
          Le projet en synthèse
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Périmètre
          .item-small-value
            = @demand.search_formatted_area.truncate(50)
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Type
          .item-small-value
            = @demand.property_type
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Budget
          .item-small-value
            = "#{@demand.budget} €"
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Surface
          .item-small-value
            = @demand.surface
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Etat
          .item-small-value
            = @demand.state

      .item-separator

      .item-right-v2
        .item-title
          Les critères importants
        - if @demand.criterias_array
          - @demand.criterias_array.each do |crit|
            .criteria-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
              .circle-container-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;-webkit-box-pack: center;"}
                +
              = crit

    .d-flex-start.mb-10{style: "display: -webkit-box;display: box;"}
      .item-left-v2
        .item-title
          Plus de détails

        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Style
          .item-small-value
            = @demand.style
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Pièces en +
          .item-small-value
            = @demand.more_rooms
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Extérieur
          .item-small-value
            = @demand.house_exterior
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Garage
          .item-small-value
            = @demand.parking
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Chauffage
          .item-small-value
            = @demand.heating

      .item-separator

      .item-right-image-v2{style: "background-image: url('#{@demand.browser_screenshot_url}');"}

    .d-flex-start.mb-10{style: "display: -webkit-box;display: box;"}
      .item-left-30
        .item-title
          Le membre
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Destination
          .item-small-value
            = @demand.destination
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Achat
          .item-small-value
            = @demand.project
        .line-item-v2{style: "-webkit-box-align: center;display: -webkit-box;display: box;"}
          .item-small-title
            Age
          .item-small-value
            = @demand.age

      .item-separator

      .item-right-70
        = render "v2/pdfs/partials/customer_stats"

    .d-flex-start.mb-20{style: "display: -webkit-box;display: box;"}
      .item-fullsize
        .item-title
          Les commentaires des experts Bientôt Chez Soi
        - if @demand.v2_demand_comments?
          .item-content
            = @demand.v2_demand_comments.last.body
        .item-content.hidden
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam reprehenderit inventore fugit hic eaque autem eveniet atque, non, et quas nobis necessitatibus dolore rerum eligendi illum aspernatur molestias quam minima!


.item-viewport-fullsize{style: "display: -webkit-box;display: box;"}
  .member-contact
    .item-title
      Votre contact privilégié
    .contact-item
      = "Laure gaudin"
    .contact-item
      = "05 35 54 48 48"
    .contact-item.mb-20
      = "laure@bientotchezsoi.com"
  .family-badge
    = wicked_pdf_image_tag 'https://bientotchezsoi.s3.eu-west-3.amazonaws.com/images/pdf/castor-famille.png'
  .approved-badge
    = wicked_pdf_image_tag 'Castor-tampon.png'

  .legal-words
    Bientôt Chez Soi,marque déposée par Julatis SAS au capital de 20 000 €, RCS Bordeaux n° 808 177 331, 2 Rue Richelieu 33200 Bordeaux. CPI 3301 2017 000 015 950 délivrée le 17/01/2017 par la CCI de Bordeaux – transactions sur immeubles et fonds de commerce avec non-détention de fonds.Garantie GALLIAN 89 rue de la Boétie 75008 Paris pour un montant de 120 000 €. Assurance Responsabilité Civile Professionnelle MMA Entreprises – 14 Bd Marie et Alexandre Oyon 72030 Le Mans cedex – n° 49180 G couvrant le territoire national.
