.survey-recap-container{"data-answerposition": @last_survey.position}
  .left-content
    .survey-resume-item.hidden
      = "Q#{@last_survey.position}"
    .edit-survey-answer{"data-target": "#survey-form-#{@last_survey.position}", "data-position": @last_survey.position}
      .icon-pencil-1{style:"line-height: 1;"}
  .right-content
    .survey-recap-label
      = @last_survey.label_demand
    .survey-recap-value
      - if @demand[@last_survey.demand_attribute.to_sym].is_a?(Array)
        - if @demand[@last_survey.demand_attribute.to_sym].empty?
          = "Vous avez passé cette question"
        - @demand[@last_survey.demand_attribute.to_sym].each_with_index do |answer, index|
          - if @last_survey.answers.first.answer_type == :text.to_s && @last_survey.answers.first.text
            .survey-recap-flexbox
              .answer-title
                = "#{@last_survey.answers[index].text}"
              - if answer != ""
                = ("#{answer.gsub(',',' ')} #{@last_survey.answers.first.unit if @last_survey.answers.first.unit}")
              - else
                = "Champ non renseigné !!"
          - else
            .survey-recap-flexbox
              = answer
      - elsif @demand[@last_survey.demand_attribute.to_sym].is_a?(String)
        .survey-recap-flexbox
          - if @demand[@last_survey.demand_attribute.to_sym] == "[]"
            = "Vous avez passé cette question"
          - else
            = @demand[@last_survey.demand_attribute.to_sym]
      - else
        = "toto"
        = @demand[@last_survey.demand_attribute.to_sym].class
