.overflow-container
  .full-survey-container
    .container-fullheight
      .resume-container
        - if @survey.position != 1
          .resume-container-header
            = @survey.theme
        - if @survey.position == 1
        - else
          = render 'append_user_answer'
      .questions-container
        = render 'survey_item'
  = render 'stepper'
