.stepper-container
  .quizz-castor.hidden-xs
  .quizz-bubble.hidden-xs
    .bubble-title
      = @survey.theme
  - if @survey_course_status == 100
    .finished-survey-status
      = "Questionnaire terminé"
  - else
    .stepper
      - if (@survey_course_status > 0) && (@survey_course_status < 100)
        .dynamic-position{style: "width: #{@survey_course_status}%;"}
          .absolute-position-container
            .position-hint
              = "#{@survey_course_status}%"
      - elsif @survey_course_status == 0
        .dynamic-position
          .absolute-position-container
            .position-hint
              = "Début"
      .item
        .content
      .item
        .content
      .item
        .content
      .item
        .content
