= form_tag(next_survey_path, method: :post,id: "survey-form-#{@survey.position}",class: "survey-form","data-position": @survey.position) do
  = hidden_field_tag(:demand_id,@demand.id.to_s)
  = hidden_field_tag(:survey_id,@survey.id.to_s)
  = hidden_field_tag(:position,@survey.position)
  = hidden_field_tag(:theme,@survey.theme)
  = hidden_field_tag(:label_demand,@survey.label_demand)
  = hidden_field_tag(:value,@demand[@survey.demand_attribute.to_sym])
  = hidden_field_tag(:survey_count,Survey.all.size.to_i)
  = hidden_field_tag(:condition,@survey.client_side_condition)


  .survey-item
    .survey-label
      %span
      = @survey.label_demand
    .all-inputs-container
      - @survey.answers.each_with_index do |answer, index|
        - if answer.answer_type == :textarea.to_s || @survey.answer_type == :text.to_s
          = hidden_field_tag('answer_ids[]', answer.id.to_s)
          - input_name = 'answer_values[]'
        - else
          - input_name = 'answer_ids[]'
        - input_class = get_survey_input_css_class(answer.answer_type)
        - input_value = get_survey_input_value(answer)

        - if answer.answer_type == "textarea"
          .textarea-input-container
            = tag.textarea name: input_name, id: "#{@survey.position}-#{index}", class: input_class
            - if answer.text
              = tag.label answer.text, for: "#{@survey.position}-#{index}"

        - elsif answer.answer_type == "text"
          - if answer.input_width
            .input-container
              - if answer.unit
                .survey-input-absolute-hint
                  = answer.unit
              = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class, placeholder: "#{answer.text if answer.text}", maxlength: answer.limit, style: "width: #{answer.input_width};"
          - else
            .input-container
              - if answer.unit
                .survey-input-absolute-hint
                  = answer.unit
              = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class, placeholder: "#{answer.text if answer.text}", maxlength: answer.limit
        - else
          .input-container
            = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class
            - if answer.text
              = tag.label answer.text, for: "#{@survey.position}-#{index}"

        / .input-container
        /   - if answer.answer_type == "textarea"
        /     = tag.textarea name: input_name, id: "#{@survey.position}-#{index}", class: input_class
        /   - elsif answer.answer_type == "text"
        /     = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class, placeholder: "#{answer.text if answer.text}"
        /   - else
        /     = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class
        /   - if answer.unit
        /     / %span
        /     /   = answer.unit
        /   - if answer.answer_type != "text"
        /     - if answer.text
        /       = tag.label answer.text, for: "#{@survey.position}-#{index}"
    - if (@survey.answers.select{|a| a.comment}).size > 1
      .question-comment
        - @survey.answers.each do |answer|
          .question-comment-item
            = answer.comment if answer.comment
    - if @survey.comment
      .question-comment
        .question-comment-item
          = @survey.comment

    - if @survey.client_side_condition
      .budget-warning


    .buttons-container
      - if !@survey.required
        = button_tag 'JE PASSE', class: 'bcs-button-sm-light m-15', data: {passed: 1}
      = button_tag 'JE CONFIRME', class: 'bcs-button-sm hidden-btn m-15'
