.overflow-container
  .edit-demand-title
    Je modifie ma demande
  .full-survey-container
    .container-fullheight
      .resume-container
        - if @survey.position == 1
        - else
          = render 'append_user_answer'
      .questions-container
        = form_tag(next_survey_edit_path, method: :post,id: "survey-form-#{@survey.position}",class: "survey-form","data-position": @survey.position) do
          = hidden_field_tag(:demand_id,@demand.id.to_s)
          = hidden_field_tag(:survey_id,@survey.id.to_s)
          = hidden_field_tag(:position,@survey.position)
          = hidden_field_tag(:theme,@survey.theme)
          = hidden_field_tag(:label_demand,@survey.label_demand)
          = hidden_field_tag(:value,@demand[@survey.demand_attribute.to_sym])
          = hidden_field_tag(:survey_count,Survey.all.size.to_i)
          .survey-item
            .survey-label
              %span
              = @survey.label_demand
            .all-inputs-container
              - @survey.answers.each_with_index do |answer, index|
                - if answer.answer_type == :textarea.to_s || @survey.answer_type == :text.to_s
                  = hidden_field_tag('answer_ids[]', answer.id.to_s)
                  - input_name = 'answer_values[]'
                - else
                  - input_name = 'answer_ids[]'
                - input_class = get_survey_input_css_class(answer.answer_type)
                - input_value = get_survey_input_value(answer)

                - if answer.answer_type == "textarea"
                  .textarea-input-container
                    - if @demand[@survey.demand_attribute.to_sym] == nil
                      = tag.textarea name: input_name, id: "#{@survey.position}-#{index}", class: input_class
                    - else
                      %textarea{name: input_name, id: "#{@survey.position}-#{index}", class: input_class}
                        = @demand[@survey.demand_attribute.to_sym].last

                .input-container
                  - if (answer.answer_type == "radio") || (answer.answer_type == "checkbox") && @demand[@survey.demand_attribute.to_sym]
                    - if @demand[@survey.demand_attribute] && @demand[@survey.demand_attribute].include?(answer.text)
                      = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class, checked: true
                    - else
                      = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: input_value, class: input_class
                  - elsif answer.answer_type == "text"
                    - if @demand[@survey.demand_attribute.to_sym] == nil
                      = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", class: input_class
                    - else
                      - if index == 0
                        = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: @demand[@survey.demand_attribute.to_sym].first, class: input_class
                      - else
                        = tag.input type: answer.answer_type, name: input_name, id: "#{@survey.position}-#{index}", value: @demand[@survey.demand_attribute.to_sym].last, class: input_class
                  - if answer.unit
                    %span
                      = answer.unit
                  - if answer.text
                    = tag.label answer.text, for: "#{@survey.position}-#{index}"
            .buttons-container
              - if !@survey.required
                = button_tag 'JE PASSE', class: 'bcs-button-sm-light m-15'
              = button_tag 'JE CONFIRME', class: 'bcs-button-sm m-15'
