.full-survey-container
  .container
    .resume-container
      .empty-resume
        = render 'append_user_answer'
    .questions-container
      .survey-position
        = "Q#{@survey.position}"
      = render 'survey_item'


  .modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        %button{type:"button", class:"close", "data-dismiss":"modal"}
          &times
        .up-section
          %p
            %strong
              Merci pour vos réponses ! Vos choix sont tous très pertinents.
            Parfois, certains sont plus importants que d’autres, non ?
            Alors,
            %strong
              cochez les carrés verts pour sélectionner les 5 critères les plus importants.
            Ensuite, c’est fini pour vous ! Nous prenons le relais.
        .down-section
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/modal-survey-success.jpg"
          %button.bcs-button-sm{"data-dismiss":"modal"}
            JE CHOISIS MES 5 CRITÈRES !!

  = form_tag(criterias_submit_path(demand_id: @demand.id, edit: true),method: :post,id: "criterias_form") do
    .d-flex-center
      .criterias-success-title
        Choisissez les 5 critères les plus importants parmis vos réponses .
    .checked-input-count
      .checked-input-text
        Choisissez les 5 critères les plus importants parmis vos réponses .
      = button_tag 'JE VALIDE MA DEMANDE', class: 'bcs-button-green', id: "validate-criterias"
    .container
      - @attributes_by_theme.each do |key, value|
        .user-results-recap-header
          = key
        .answers-container
          .row
            - value.each_with_index do |val, index|
              - if !val.last
                .col-xs-12.col-md-6
                  .answer-checkbox-container.unselectable-answer
                    .unselectable-container
                      .fa.fa-exclamation-triangle
                      .unselectable-text
                        Vous ne pouvez pas selectionner ce critère
                    .fa.fa-times-circle-o
                    .title
                      = "#{val.first} : "
                    .value
                      - if val[1].is_a?(Array)
                        = val[1].first
                      - else
                        = val[1]
              - else
                .col-xs-12.col-md-6
                  .answer-checkbox-container
                    - if @demand.important_fields
                      - if @demand.important_fields.include?(val.first.capitalize) || @demand.important_fields.include?(val.first.upcase)
                        %input.styled-checkbox{type:"checkbox",id:"#{val.first.downcase}-#{index+1}",name:"criterias[]",value:"#{val[0]}", checked: true}
                        %label{for:"#{val.first.downcase}-#{index+1}"}
                          .fa.fa-check-circle-o.checked-fa
                          .fa.fa-circle-o.unchecked-fa
                          %strong
                            = "#{val.first} : "
                          .value
                            - if val[1].is_a?(Array)
                              = val[1].first
                            - else
                              = val[1]
                      - else
                        %input.styled-checkbox{type:"checkbox",id:"#{val.first.downcase}-#{index+1}",name:"criterias[]",value:"#{val[0]}"}
                        %label{for:"#{val.first.downcase}-#{index+1}"}
                          %strong
                            = "#{val.first} : "
                          .value
                            - if val[1].is_a?(Array)
                              = val[1].first
                            - else
                              = val[1]


    #modal-criterias-confirmation.custom-modal-container.hidden
      .custom-modal
        .custom-modal-closer
          .fa.fa-times
        .custom-modal-icon
          = image_tag "https://cdn.bientotchezsoi-dev.com/images/soldat-kenotte.svg", width: "120"
        .custom-modal-text-marged
          %strong
            = "Reçu 5 sur 5! Je confirme mes critères ?"
        .d-flex-center
          = link_to "Négatif, je modifie", "#", class: "bcs-button-very-small m-sides-10", id: "negative-button"
          = link_to "Affirmatif, je confirme", "#", class: "bcs-button-very-small m-sides-10", id: "affirmative-button"
