%h4
  = @demand.id.to_s
.important-criterias
  .title
    Vos 5 critères importants !!!
  - @demand.important_fields.each_with_index do |field,index|
    .content
      .sub-title
        = @demand_labels[index]
      - if @demand[field.to_sym].is_a?(Array)
        = @demand[field.to_sym].first
      - else
        = @demand[field.to_sym]
