= form_tag(final_step_path(demand_id: @demand.id), method: :post,id: "criterias_form") do
  .checked-input-count
  .container
    - @attributes_by_theme.each do |key, value|
      .user-results-recap-header
        = key
      .answers-container
        .row
          - value.each_with_index do |val, index|
            - if !val.last
              .col-xs-12.col-md-6
                .answer-checkbox-container
                  .title
                    = "#{val.first} : "
                  .value
                    - if @demand[val[1].to_sym].is_a?(Array)
                      = @demand[val[1].to_sym].first
                    - else
                      = @demand[val[1].to_sym]
            - else
              - if (@demand[val[1].to_sym] != nil)
                .col-xs-12.col-md-6
                  .answer-checkbox-container
                    %input.styled-checkbox{type:"checkbox",id:"#{val.first.downcase}-#{index+1}",name:"criterias[]",value:"#{val[1].to_sym}"}
                    %label{for:"#{val.first.downcase}-#{index+1}"}
                      %strong
                        = "#{val.first} : "
                      .value
                        - if @demand[val[1].to_sym].is_a?(Array)
                          = @demand[val[1].to_sym].first
                        - else
                          = @demand[val[1].to_sym]
    .d-flex-center.mb-25
      = button_tag 'JE VALIDE MA DEMANDE', class: 'bcs-button-sm', id: "validate-criterias"
