.fullsize-page
  .content
    .inline-svg
      = svg("k-dashboard")
    %strong
      Merci d'avoir donné votre avis.
    Nous allons vous contacter dans les plus bref délais pour
    organiser une visite.

