.container
  .current-zipcodes-area-container
    .header-title
      Zone de recherche
    - if @demand.search_zipcodes_area
      - @demand[:search_zipcodes_area].each do |zipcode|
        .zipcodes-area-item
          = zipcode
    - if @demand.v2_map_circles.any?
      - @demand.v2_map_circles.each do |circle|
        .d-flex-start
          = "Lat: #{circle.x}"
          = "Lng: #{circle.y}"
          = "#{circle.radius} Km"

  = simple_form_for([:v2, @demand]) do |f|
    .all-inputs-container
      - @demand[:search_zipcodes_area].each_with_index do |zipcode,index|
        .all-inputs-item
          .custom-zipcode-input-v2
            %input.dynamic-geoloc{type: "text", name: "v2_demand[:geoloc_items][][:item]", value: "#{zipcode}", placeholder: "Zone de recherche"}
            %input.geoloc_zipcode{type: "hidden", name: "v2_demand[:geoloc_items][][:zipcode]"}
            %input.geoloc_address{type: "hidden", name: "v2_demand[:geoloc_items][][:address]"}
            %input.geoloc_locality{type: "hidden", name: "v2_demand[:geoloc_items][][:locality]"}
            %input.lat{type: "hidden", name: "v2_demand[:geoloc_items][][:coordinates][:lat]"}
            %input.lng{type: "hidden", name: "v2_demand[:geoloc_items][][:coordinates][:lng]"}
            %input.url{type: "hidden", value: v2_influence_ajax_query_path}
            %input.demand{type: "hidden", value: @demand.id.to_s}

          .custom-radiobuttons-with-svg-container
            .radio-input-with-icon
              %input#1km{name: "v2_demand[:geoloc_items][][:coordinates][:radius]", type: "radio", value: "1000"}
              %label{for: "1km"}
                .css-concentric-circles
                  .vertical-square-container
                    .half-width-square
                  .horizontal-square-container
                    .half-height-square
                  .circle-one-abs-container
                    .circle-one.circle-small
                  .circle-two-abs-container
                    .circle-two
                  .circle-three-abs-container
                    .circle-three
                .input-value-display
                  1 Km
            .radio-input-with-icon
              %input#5km{name: "v2_demand[:geoloc_items][][:coordinates][:radius]", type: "radio", value: "5000"}
              %label{for: "5km"}
                .css-concentric-circles
                  .vertical-square-container
                    .half-width-square
                  .horizontal-square-container
                    .half-height-square
                  .circle-one-abs-container
                    .circle-one
                  .circle-two-abs-container
                    .circle-two.circle-medium
                  .circle-three-abs-container
                    .circle-three
                .input-value-display
                  5 Km
            .radio-input-with-icon
              %input#10km{name: "v2_demand[:geoloc_items][][:coordinates][:radius]", type: "radio", value: "10000"}
              %label{for: "10km"}
                .css-concentric-circles
                  .vertical-square-container
                    .half-width-square
                  .horizontal-square-container
                    .half-height-square
                  .circle-one-abs-container
                    .circle-one
                  .circle-two-abs-container
                    .circle-two
                  .circle-three-abs-container
                    .circle-three.circle-big
                .input-value-display
                  10 Km

          .ajax-influence-zone-trigger
            .fa.fa-check

          - if index + 1 == 1
            .absolute-destroy-icon.hidden
              .fa.fa-times.red-text
          - else
            .absolute-destroy-icon
              .fa.fa-times.red-text

    .d-flex-center
      .add-zipcode-trigger
        .trigger-text Ajouter une zone de recherche
    = f.submit "Mettre à jour la demande"
