.incremental-numeric-input
  .increment-button{"data-direction": "dec"}
    .inline-svg
      = svg("remove")
  - if @question.client_side_condition
    - value = @demand[@question.client_side_condition.demand_field.to_sym].first.to_i
    - if value <= 40
      = number_field_tag "#{@question.demand_attribute}", 0, min: 0, max: 1, step: 1
    - elsif value > 40 && value <= 55
      = number_field_tag "#{@question.demand_attribute}", 1, min: 1, max: 2, step: 1
    - elsif value > 55 && value <= 79
      = number_field_tag "#{@question.demand_attribute}", 1, min: 1, max: 3, step: 1
    - elsif value > 79
      = number_field_tag "#{@question.demand_attribute}", 2, min: 2, max: 5, step: 1
  - else
    = number_field_tag "#{@question.demand_attribute}", answer.min, min: answer.min, max: answer.max, step: answer.step
  .increment-button{"data-direction": "inc"}
    .inline-svg
      = svg("numeric-plus")
