= hidden_field_tag :radio_pair, @question.demand_attribute
.radio-pair-container
  - @question.v2_answers.sort_by{|answer| answer.order}.each_slice(2).to_a.each_with_index do |slice,index1|
    .radio-pair-start
      .radio-pair
        - slice.each_with_index do |answer,index|
          - if index == 0
            = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}_#{index1 + 1}", id: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", value: answer.auto_identifier, data: {text: answer.text}
            = tag.label answer.text, for: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", class: "positive-input"
          - else
            = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}_#{index1 + 1}", id: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", value: answer.auto_identifier, data: {text: answer.text}
            = tag.label answer.text, for: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", class: "negative-input"

