/ - if @question.image
/   .d-flex-center.solo-image
/     .inline-svg
/       = svg(@question.image)
.checkboxes-container
  - if @question.image
    - @question.v2_answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      .checkbox-with-image{"data-keycode": answer.keycode}
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", value: answer.auto_identifier, data: {text: answer.text}
        = tag.label answer.text, for: "#{@question.position}-#{index + 1}" do
          .label-text
            = answer.text
        .answer-keycode
          = handle_keycode(answer.keycode)
  - else
    - @question.v2_answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      .checkbox-with-image{"data-keycode": answer.keycode}
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", value: answer.auto_identifier, data: {text: answer.text}
        = tag.label answer.text, for: "#{@question.position}-#{index + 1}" do
          .inline-svg
            = svg(answer.image)
          - if @question.variable_in_label
            = "totototo"
            .label-text
              = answer.text.conchiterz(true)
          - else
            .label-text
              = answer.text
        .answer-keycode
          = handle_keycode(answer.keycode)

