.multitype-container
  .multitype-radio-container
    - @radio_fields.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      = tag.input type: answer.answer_type, name: answer.attr, id: "#{@question.position}-#{index + 1}", value: answer.auto_identifier
      = tag.label answer.text, for: "#{@question.position}-#{index + 1}"
  .multitype-text-container
    - @text_fields.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      = tag.input type: answer.answer_type, id: "#{@question.position}-#{index + 1}", placeholder: answer.placeholder, name: answer.attr
