- if @question.field_type.to_sym == :array
  - if answer.input_format.to_sym == :currency || answer.input_format.to_sym == :surface
    - if @question.client_side_condition
      - if answer.input_hint
        .input-hint-v2
          .inline-svg
            = svg("kenotte-conseil")
          .input-hint-text
            = answer.input_hint
      .v2-text
        - if answer.unit
          .answer-unit
            = answer.unit
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", class: "currency-input condition-input-target", maxlength: (answer.maxlength ? answer.maxlength : 30), style: "width: #{answer.input_width if answer.input_width};", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), autocomplete: "off", data: {"min-value": @question.client_side_condition.lower_fixed_limit, position: index + 1}
    - else
      .v2-text
        - if answer.unit
          .answer-unit
            = answer.unit
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", class: "currency-input", maxlength: (answer.maxlength ? answer.maxlength : 30), style: "width: #{answer.input_width if answer.input_width};", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), autocomplete: "off"
  - elsif answer.input_format.to_sym == :surface
    - if @question.client_side_condition
      .v2-text
        - if answer.unit
          .answer-unit
            = answer.unit
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", class: "surface-input condition-input-target", maxlength: (answer.maxlength ? answer.maxlength : 30), style: "width: #{answer.input_width if answer.input_width};", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), autocomplete: "off", data: {"min-value": @question.client_side_condition.lower_fixed_limit}
    - else
      .v2-text
        - if answer.unit
          .answer-unit
            = answer.unit
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", class: "surface-input", maxlength: (answer.maxlength ? answer.maxlength : 30), style: "width: #{answer.input_width if answer.input_width};", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), autocomplete: "off"



  - else
    .v2-text
      - if answer.unit
        .answer-unit
          = answer.unit
      = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}[]", id: "#{@question.position}-#{index + 1}", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), autocomplete: "off"
- else
  - if answer.input_format
    - if answer.input_format.to_sym == :currency
      .v2-text
        - if answer.unit
          .answer-unit
            = answer.unit
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}", id: "#{@question.position}-#{index + 1}", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), class: "currency-input", autocomplete: "off", style: "width: #{answer.input_width if answer.input_width};", maxlength: (answer.maxlength ? answer.maxlength : 30)
    - elsif answer.input_format.to_sym == :surface
      .v2-text
        - if answer.unit
          .answer-unit
            = answer.unit
        = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}", id: "#{@question.position}-#{index + 1}", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), class: "surface-input", autocomplete: "off", style: "width: #{answer.input_width if answer.input_width};", maxlength: (answer.maxlength ? answer.maxlength : 30)

  - else
    .v2-text
      - if answer.unit
        .answer-unit
          = answer.unit
      = tag.input type: answer.answer_type, name: "#{@question.demand_attribute}", id: "#{@question.position}-#{index + 1}#{'-google-place' if @question.google_autocomplete}", placeholder: (answer.placeholder ? answer.placeholder : "Placeholder"), autocomplete: "off", style: "width: #{answer.input_width if answer.input_width};"

