.v2-radio{"data-keycode": answer.keycode}
  = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", value: answer.auto_identifier, data: {text: answer.text}
  = tag.label answer.text, for: "#{@question.position}-#{index + 1}"
  .answer-keycode
    = handle_keycode(answer.keycode)
