- if @question.client_side_condition
  .client-side-condition-container{"data-operator": @question.client_side_condition.operator}
    - if @question.client_side_condition.operator == "range-limit"
      .range-limit-condition{"data-lower-limit": @question.client_side_condition.lower_range_limit_percent, "data-upper-limit": @question.client_side_condition.upper_range_limit_percent, "data-reference": front_validation_budget(@demand[@question.client_side_condition.demand_field.to_sym])}
    - elsif @question.client_side_condition.operator == "strict-limit"
      - if @question.client_side_condition.upper_range_limit_percent
        .strict-upper-limit-condition{"data-upper-limit": @question.client_side_condition.upper_range_limit_percent, "data-reference": front_validation_budget(@demand[@question.client_side_condition.demand_field.to_sym])}
      - elsif @question.client_side_condition.lower_range_limit_percent
        .strict-lower-limit-condition{"data-lower-limit": @question.client_side_condition.lower_range_limit_percent, "data-reference": front_validation_budget(@demand[@question.client_side_condition.demand_field.to_sym])}
- else
  :javascript
    handleRequiredQuestion();
