.full-sentence.criterias-sentence
  .inline-svg
    = svg("choix-criteres")
  .sentence-container.transparent
    .d-flex-start
      C'est tout bon
    .bold
      Sélectionnez maintenant les 5 critères qui comptent le + pour vous dans votre recherche



= form_tag(v2_criterias_v2_path, method: :post, class: "criterias-form-v2") do
  = hidden_field_tag :demand_id, @demand.id.to_s
  %section.criterias-container
    .checked-input-count.hidden
      .checked-input-text
        Veuillez choisir vos 5 critères
    .specific-fields-container
      .title
        Les grandes lignes
      .criterias-items
        - @major_fields.each_with_index do |(field,value),index|
          .criteria-item
            = tag.input type: "checkbox", name: "criterias[]", id: "major-#{index + 1}", value: field
            = tag.label for: "major-#{index + 1}" do
              .bold
                = "#{value}"
    - if @minor_fields
      .specific-fields-container
        .title
          Les petits détails
        .criterias-items
          - @minor_fields.each_with_index do |(field,value),index|
            .criteria-item
              = tag.input type: "checkbox", name: "criterias[]", id: "minor-#{index + 1}", value: field
              = tag.label for: "minor-#{index + 1}" do
                .bold
                  = "#{value}"

  .d-flex-center.form-buttons-block
    = button_tag "Je valide ma demande", class: "bcs-button-sm form-submit-button"



#modal-criterias-confirmation.custom-modal-container.hidden
  .custom-modal
    .custom-modal-closer
      .fa.fa-times
    .custom-modal-icon
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/soldat-kenotte.svg", width: "120"
    .custom-modal-text-marged
      %strong
        = "Reçu 5 sur 5! Je confirme mes critères ?"
    .d-flex-center
      = link_to "Négatif, je modifie", "#", class: "bcs-button-very-small m-sides-10", id: "negative-button"
      = link_to "Affirmatif, je confirme", "#", class: "bcs-button-very-small m-sides-10", id: "affirmative-button"




#survey-signin-modal.custom-modal-container.green.hidden
  .custom-modal
    .custom-modal-header
      %h2
        = "Je m'inscris"
      %h5
        = "Ici, je peux créer mon compte personnel!"
    .custom-modal-content
      = render "customers/registrations/fullform", layout: false, final_step: true


:javascript
  handleDeviseAjaxForm();
  handleCriterias();
  handleRedirectFromCriterias();

