.d-flex-center.form-buttons-block
  - if @question.question_type == "incremental_numeric"
    - if @question.required
      = button_tag "Je valide", class: "bcs-button-sm form-submit-button"
    - else
      - if @action_url == v2_last_survey_v2_path
        .question-skip-btn.bcs-button-light-gray.mr-10{"data-url": v2_last_survey_v2_path, "data-position": @question.position, "data-demand": @demand.id.to_s, "data-form": "#question-form-#{@question.position}", "data-label": @question.label}
          Je passe
      - else
        .question-skip-btn.bcs-button-light-gray.mr-10{"data-url": v2_next_survey_on_skip_path, "data-position": @question.position, "data-demand": @demand.id.to_s, "data-form": "#question-form-#{@question.position}", "data-label": @question.label}
          Je passe
      = button_tag "Je valide", class: "bcs-button-sm form-submit-button"
  - else
    - if @question.required
      = button_tag "Je valide", class: "bcs-button-sm form-submit-button disabled-button", disabled: true
    - else
      - if @action_url == v2_last_survey_v2_path
        .question-skip-btn.bcs-button-light-gray.mr-10{"data-url": v2_last_survey_v2_path, "data-position": @question.position, "data-demand": @demand.id.to_s, "data-form": "#question-form-#{@question.position}", "data-label": @question.label}
          Je passe
      - else
        .question-skip-btn.bcs-button-light-gray.mr-10{"data-url": v2_next_survey_on_skip_path, "data-position": @question.position, "data-demand": @demand.id.to_s, "data-form": "#question-form-#{@question.position}", "data-label": @question.label}
          Je passe
      = button_tag "Je valide", class: "bcs-button-sm form-submit-button disabled-button", disabled: true
