= hidden_field_tag :position, @question.position
= hidden_field_tag :label, @question.label
= hidden_field_tag :demand_field, @question.demand_attribute
= hidden_field_tag :demand_id, @demand.id.to_s
= hidden_field_tag :question_type, @question.question_type
= hidden_field_tag :field_type, @question.field_type
= hidden_field_tag :questions, @questions
- if @question.client_request
  = hidden_field_tag :demand_field_2, "estimation_request"
- if @question.intermediate_exit
  = hidden_field_tag :intermediate_exit, "exit"
- if @demand.state
  - if @demand[:state] == "32"
    = hidden_field_tag :prop_state, "old"
  - elsif @demand[:state] == "33"
    = hidden_field_tag :prop_state, "new"
  - elsif @demand[:state] == "34"
    = hidden_field_tag :prop_state, "genuine"
- if @question.google_autocomplete
  = hidden_field_tag :geoloc, "on"
