.first-item
  - if (@v2_survey_course_status >= 29)
    .pin.opacity-on-pin
    .pulse.z-index-on-pulse.hidden
  - else
    .pin
    .pulse
.second-item
  - if (@v2_survey_course_status >= 60)
    .pin.opacity-on-pin
    .pulse.z-index-on-pulse.hidden
  - else
    .pin
    .pulse
.third-item
  - if (@v2_survey_course_status >= 81)
    .pin.opacity-on-pin
    .pulse.z-index-on-pulse.hidden
  - else
    .pin
    .pulse
