.full-sentence{id: "full-sentence-#{@question.position}"}
  - if @question.advice
    = render "v2/pages/partials/question_with_advice"
  - else
    .inline-svg
      = svg(@question.avatar)
    .sentence-container
      .custom-carret-container
        .custom-carret
      - if @question.sentence
        .d-flex-start
          = @question.sentence.content
          - if @question.sentence.demand_attribute
            = @demand[@question.sentence.demand_attribute.to_sym]
          - if @question.sentence.content_after_variable
            = @question.sentence.content_after_variable
      .bold
        - if @demand.gender
          - if @demand[:gender].to_i == 1
            - if @question.variable_in_label
              = "#{@question.label} #{@demand.send(@question.variable_demand_field).split().last.downcase}"
              - if @question.second_part_label
                = " #{@question.second_part_label}"
            - else
              - if @question.fem_label
                = @question.fem_label
              - else
                = @question.label
          - elsif @demand[:gender].to_i == 2
            - if @question.variable_in_label
              = "#{@question.label} #{@demand.send(@question.variable_demand_field).split().last.downcase}"
              - if @question.second_part_label
                = " #{@question.second_part_label}"
            - else
              = @question.label
        - else
          - if @question.variable_in_label
            = "#{@question.label} #{@demand.send(@question.variable_demand_field).split().last.downcase}"
            - if @question.second_part_label
              = " #{@question.second_part_label}"
          - else
            = @question.label
