= render "v2/pages/partials/question_label"

.fullform-container{id: "fullform-container-#{@question.position}"}
  - if @question.investor_exit && @demand.destination == "Un investissement locatif"
    - @action_url = v2_last_survey_v2_path
  - else
    - @action_url = (@question.position.to_i == Question.all.size.to_i) ? v2_last_survey_v2_path : v2_next_survey_v2_path
  = form_tag(@action_url, method: :post,id: "question-form-#{@question.position}",class: "question-form","data-position": @question.position) do

    = render "v2/pages/partials/hidden_fields"
    = render "v2/pages/partials/client_side_condition"

    .custom-carret-container
      .custom-carret

    .question-item
      .answers-container
        - if @question.advanced_checkbox
          = render "v2/pages/partials/answer_illustrated_checkboxes"
        - elsif @question.client_request
          = render "v2/pages/partials/answer_multitypes"
        - elsif @question.radio_by_pair
          = render "v2/pages/partials/answer_radio_by_pair"
        - elsif @question.image && @question.question_type == "radio"
          = render "v2/pages/partials/answer_radios_with_uniq_image"
        - elsif @question.image && @question.question_type == "checkbox"
          = render "v2/pages/partials/answer_checkbox_with_uniq_image"
        - elsif @question.advanced_radio
          = render "v2/pages/partials/answer_illustrated_radios"
        - else
          - if @question.image
            .d-flex-center.input-text-with-image
              .inline-svg
                = svg("#{@question.image}")
          .d-flex-center.answer-responsive-container
            - @question.v2_answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
              - if answer.answer_type.to_sym == :radio
                = render "v2/pages/partials/answer_radio", answer: answer, index: index
              - elsif answer.answer_type.to_sym == :numeric
                = render "v2/pages/partials/answer_numeric", answer: answer, index: index
              - elsif answer.answer_type.to_sym == :checkbox
                = render "v2/pages/partials/answer_checkbox", answer: answer, index: index
              - elsif answer.answer_type.to_sym == :text
                = render "v2/pages/partials/answer_text", answer: answer, index: index
              - elsif answer.answer_type.to_sym == :textarea
                = render "v2/pages/partials/answer_textarea", answer: answer, index: index
              - else
                = "Another input format"
          - if @question.hint_image && @question.hint_label
            .hint-container.hidden
              .inline-svg
                = svg("#{@question.hint_image}")
              = @question.hint_label


    = render "v2/pages/partials/form_buttons"
    = render "v2/pages/partials/stepper"

  .customer-avatar
    .inline-svg
      - if @demand.gender
        - if @demand.gender.downcase == "un homme"
          = svg("user-man")
        - elsif @demand.gender.downcase == "une femme"
          = svg("user-woman")
      - else
        = svg("user-unknown")

- if @question.intermediate_exit
  #survey-signin-modal.custom-modal-container.green.hidden
    .custom-modal
      .custom-modal-header
        %h2
          = "#{@demand.firstname}, à vous de choisir !"
        %h5
          - if @demand.is_a_house?
            = "Vous pouvez continuer de me parler de votre future maison ou alors vous arrêter ici et créer votre compte personnel!"
          - elsif @demand.is_a_flat?
            = "Vous pouvez continuer de me parler de votre futur appartement ou alors vous arrêter ici et créer votre compte personnel!"
          - elsif @demand.is_a_terrain?
            = "Vous pouvez continuer de me parler de votre futur terrain ou alors vous arrêter ici et créer votre compte personnel!"
      .custom-modal-content
        = render "customers/registrations/fullform", layout: false, final_step: false



:javascript
  handleAjaxFormRequest();
  handleAjaxFormSkipRequest();

- if @question.google_autocomplete
  :javascript
    initializeAutocomplete('6-1');
