.inline-svg
  = svg(@question.avatar)
.sentence-container#bck-advice-green
  .custom-carret-container
    .custom-carret#bck-advice-green
  - if @question.sentence
    .d-flex-start
      = @question.sentence.content
      - if @question.sentence.demand_attribute
        = @demand[@question.sentence.demand_attribute.to_sym]
      - if @question.sentence.content_after_variable
        = @question.sentence.content_after_variable
  .bold
    - if @question.variable_in_label
      = "#{@question.label} #{@demand.send(@question.variable_demand_field).split().last.downcase}"
      - if @question.second_part_label
        = " #{@question.second_part_label}"
    - else
      = @question.label
