.full-sentence{id: "full-sentence-#{@question.position}"}
  .inline-svg
    = svg(@question.avatar)
  .sentence-container
    .custom-carret-container
      .custom-carret
    - if @sentence.demand_attribute
      = "#{@sentence.content} #{@demand[@sentence.demand_attribute.to_sym]}"
    - else
      = "#{@sentence.content}"
