.v2-stepper-container
  #search-stepper
    = svg("search_stepper")
  .v2-stepper
    .item-step-25.hidden
    .item-step-25-hint.hidden
      = "C'est pas mal parti tout cela"

    .item-step-50.hidden
    .item-step-50-hint.hidden
      - if @demand.firstname
        = "Ok #{@demand.firstname}, on commence à avoir de solides bases"
      - else
        = "Ok, on commence à avoir de solides bases"

    .item-step-75.hidden
    .item-step-75-hint.hidden
      = "Bonne nouvelle, on attaque les finitions"

    - if (@v2_survey_course_status >= 0) && (@v2_survey_course_status <= 25)
      .v2-dynamic-position-green{style: "width: #{@v2_survey_course_status}%;"}

    - elsif (@v2_survey_course_status > 25) && (@v2_survey_course_status <= 50)
      .v2-dynamic-position-green{style: "width: #{@v2_survey_course_status}%"}
      .v2-dynamic-position-green-yellow{style: "width: #{@v2_survey_course_status - 25}%"}

    - elsif (@v2_survey_course_status > 50) && (@v2_survey_course_status < 75)
      .v2-dynamic-position-green{style: "width: #{@v2_survey_course_status}%;"}
      .v2-dynamic-position-green-yellow{style: "width: #{@v2_survey_course_status - 25}%"}
      .v2-dynamic-position-yellow{style: "width: #{@v2_survey_course_status - 50}%;"}

    - else
      .v2-dynamic-position-green{style: "width: #{@v2_survey_course_status}%;"}
      .v2-dynamic-position-green-yellow{style: "width: #{@v2_survey_course_status - 25}%"}
      .v2-dynamic-position-yellow{style: "width: #{@v2_survey_course_status - 50}%;"}
      .v2-dynamic-position-yellow-red{style: "width: #{@v2_survey_course_status - 75}%;"}

  #house-stepper
    = svg("house_stepper")

  .first-item-text
    = "Allez Johnny be good !"
  .second-item-text
    = "T'es à mi chemin Johnny !"
  .third-item-text
    = "Envoie les cannes !"
