.v2-input-container
  - if answer.field_type
    - if answer.unit || answer.comment
      .unit-input
        = answer.unit
      .comment-input
        = answer.comment
      - if answer.field_type.to_sym == :numeric
        = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 bold numeric-formating-input", maxlength: (answer.maxlength ? answer.maxlength : 20)
      - else
        = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 bold"
    - elsif answer.positive_operator && answer.negative_operator
      .positive-operator
        = svg(answer.positive_operator)
      = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 wd-70 txt-align-center bold"
      .negative-operator
        = svg(answer.negative_operator)
    - else
      = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 wd-500 bold"
  - else
    - if answer.unit || answer.comment
      .unit-input
        = answer.unit
      .comment-input
        = answer.comment
      = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 bold"
    - elsif answer.positive_operator && answer.negative_operator
      .positive-operator
        = svg(answer.positive_operator)
      = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 wd-70 txt-align-center bold"
      .negative-operator
        = svg(answer.negative_operator)
    - else
      = tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.text if answer.text}", class: "form-control pd-25 wd-500 bold"
