%section.v2-survey-section
  .container
    .row
      .v2-questions-container
        = form_tag(v2_test_next_question_path, method: :post,id: "question-form-#{@question.position}", class: "question-form","data-position": @question.position) do
          = hidden_field_tag :position, @question.position
          = hidden_field_tag :questions, @v2_questions
          = hidden_field_tag :demand_id, @demand.id.to_s

          .kenotte-container.d-flex-end
            - if @question.kenotte_avatar == "kenotte-conseil"
              .kenotte-wrapper.kenotte-wrapper-email-request
                = render "v2/pages/partials/kenotte_wrapper"
            - else
              .kenotte-wrapper
                = render "v2/pages/partials/kenotte_wrapper"

            - if @question.kenotte_avatar === "kenotte-conseil"
              .kenotte-conseil
                = svg(@question.kenotte_avatar)
            - else
              .kenotte-avatar
                = svg(@question.kenotte_avatar)

          .answer-container.d-flex-end.mt-50
            .answer-wrapper
              - if @question.question_image
                .question-image
                  = svg(@question.question_image)

              = render "v2/pages/partials/test_answer_wrapper"

            .customer-avatar
              = svg(@question.kenotte_avatar)

          - if @question.kenotte_advice
            .kenotte-container-advice.d-flex-end.mt-25.hidden
              .kenotte-wrapper-advice
                = render "v2/pages/partials/kenotte_wrapper_advice"
              .kenotte-avatar
                = svg(@question.kenotte_avatar)


          = render "v2/pages/partials/stepper"

  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/formeOrange.svg", id: "question-forme-orange"
  = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/formeVerte.svg", id: "question-forme-verte"

:javascript
  handleAjaxFormRequest();

