= tag.input type: answer.answer_type, name: @question.demand_attribute, id: "#{@question.position}-#{index + 1}", value: answer.id.to_s
= tag.label answer.text, for: "#{@question.position}-#{index + 1}", class: "normal" do
  .answer-text
    = answer.text.html_safe
  - if answer.input_image
    .answer-image
      = svg(answer.input_image)
