.answer-items
  - @question.v3_answers.each_with_index do |answer,index|
    .v2-radio
      - if answer.answer_type == "text" && answer.answer_type != "radio"
        = render "v2/pages/partials/test_answer_type_text", answer: answer, index: index
      - elsif answer.answer_type == "textarea"
        = render "v2/pages/partials/test_answer_type_textarea", answer: answer, index: index
      - else
        = render "v2/pages/partials/test_answer_type_radio_and_checkbox", answer: answer, index: index

.answer-btn
  - if @question.hint_image && @question.hint_label
    .hint-container
      .hint-image
        = svg(@question.hint_image)
      .hint-label
        = @question.hint_label
  - if !@question.required
    = button_tag "Je passe", class: "bcs-button-light-gray normal-size mt-20"
  = button_tag "Je valide", class: "bcs-button-sm normal-size mt-20"
