.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.agency-zone.hidden
    .minimum-height-container
      = image_tag "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/images/kenotte-empty-demands.svg", width: "120"
      .big-text
        Oups! Pièce en construction
      .empty-small-text
        Retrouvez bientôt de nouvelles fonctionnalités

  %section.agency-zone
    .row
      .col-xs-12.col-md-5
        .help-image
          = image_tag "svg/kenotte-aide.svg"
      .col-xs-12.col-md-7
        .help-card.gray
          .d-flex-start
            .inline-svg.mr-10
              = svg("pdf-file")
            .help-title Guide d'utilisation
          .help-content
            Besoin d’aide ? Téléchargez ce mini-guide pour découvrir les rubriques de votre espace agence.
          .d-flex-between
            .item-with-icon
              .inline-svg.small-icon.mr-10
                = svg("printer")
              = "Imprimable, tout simplement"
            .item-with-icon
              .inline-svg.small-icon.mr-10
                = svg("positive-vote")
              = "Facilement accessible"
          .d-flex-center
            = link_to "Je télécharge", "https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pdfs/guide-espace-pro.pdf", target: "_blank", class: "bcs-button-sm-special"
    .row
      .col-xs-12.col-md-offset-2.col-md-8
        .help-card.higher.no-padding
          .block-video-container
            %video{controls:true}
              %source{type:"video/mp4", src:"https://cdn.bientotchezsoi-dev.com/videos/presentation-amepi.mp4"}

