.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.agency-form-edit
    = simple_form_for(@agency, url: dashboard_agency_path(@agency)) do |f|

      .fullpage-block
        .left
          .header
            - if @agency.logo
              .dashboard-agency-logo{style: "background-image: url(#{@agency.logo});"}
            = "agence #{@agency.name if @agency.name}"
          .form-block-header
            L'agence
          .form-block-required-hint
            .required-hint
            .small
              = "champs obligatoires"

          = f.input :name, label: "NOM DE L'AGENCE", required: true
          = f.input :email, label: "EMAIL", required: true

          .form-block-header.mt-55
            Zone de chalandise
          .custom-form-group
            .custom-form-label
              .add-zipcode-input
                + Ajouter un code postal
            .custom-form-multi-inputs
              = f.input :catchment_area, as: :array, label: false
          .formatted_numeric_input
            = f.input :min_price, label: "BUDGET MINIMUM"

        .right
          = f.input :phone, label: "TELEPHONE"
          = f.input :siret, label: "SIRET"
          = f.input :professional_card, label: "CARTE PROFESSIONNELLE"

          .row
            .col-xs-12
              .form-block-header
                Changement de mot de passe
              .row
                .col-xs-12.col-md-8
                  = f.input :password, label: "MOT DE PASSE"
                .col-xs-12.col-md-8
                  = f.input :password_confirmation, label: "CONFIRMATION DU MOT DE PASSE"


      .d-flex-center
        = f.submit "VALIDER", class: "bcs-button-sm"

