.agency-dashboard-fullpage
  = render "dashboard/agencies/partials/fixed_menu"
  %section.agency-zone
    .big-header
      .demand-number
        = "#{@demand.property_type}, #{@demand.surface}"
      .d-flex-start
        .demand-ref
          = "Reference: #{generate_only_reference(@demand.id.to_s)}"
        .m-sides-5
          du
        .demand-date
          = "#{l(@demand.created_at, format: :medium)}"
    .row
      .col-xs-12.col-md-8
        - if @demand.browser_screenshot_url
          .map-block{style: "background-image: url('#{@demand.browser_screenshot_url}');"}
        - elsif @demand.map_photo_url
          .map-block{style: "background-image: url('#{@demand.map_photo_url}');"}
        - else
          .empty-map-block
            = "Carte non disponible"

      .col-xs-12.col-md-4
        - if @demand.criterias
          .important-fields-container
            .important-fields-header
              les critères importants de la recherche
            .important-fields-items-flex
              .important-field-item
                = @demand.criterias
                .important-field-value


        - if @demand.heart_stroke
          .important-fields-container
            .important-fields-header
              Les précisions du client
            .important-fields-items-flex
              .important-field-item
                .important-field-value.zero-margins
                  = @demand.heart_stroke

        - if @demand.map_photo_url || @demand.browser_screenshot_url
          .d-flex-center.mb-20
            = link_to 'Télécharger la fiche détaillée', generate_pdf_path(demand_id: @customer.v2_demands.last.id, format: :pdf), class: 'bcs-button-sm-special-fullwidth', target: "_blank"

        - if @demand.v2_demand_comments?
          - if @demand.v2_demand_comments.where(important: true).last
            .crucial-comment
              .d-flex-center.mb-10
                .fa.fa-exclamation-circle
                .crucial-comment-title
                  Commentaire important
              = @demand.v2_demand_comments.where(important: true).last.body


      .col-xs-12
        .project-block.framed
          .title
            .fa.fa-folder.icon
            .text
              = "Le projet"
          .row
            - @ordered_answers["Le projet"].each do |field|
              .col-xs-12.col-md-6
                .item
                  %strong
                    = field.first
                  = field.last

    .row
      .col-xs-12.col-md-6
        .perfect-block.framed
          .title
            .fa.fa-home.icon
            .text
              = "Le bien idéal"
          - @ordered_answers["Le bien idéal"].each do |field|
            .item
              %strong
                = field.first
              = field.last
      .col-xs-12.col-md-6
        .seller-block.framed
          .title
            .fa.fa-user.icon
            .text
              = "L'acheteur"
          - @ordered_answers["L'acheteur"].each do |field|
            .item
              %strong
                = field.first
              = field.last

    .demand-properties-wrapper
      - if @demand.properties.where(agency_id: current_agency.id.to_s).any?
        .header.sans-serif-font.fs-20.mt-20
          .inline-svg.mr-10
            = svg("house")
          Les biens déjà proposés pour cette demande
      - if @demand.properties.where(agency_id: current_agency.id.to_s).any?
        .row
          - @demand.properties.where(agency_id: current_agency.id.to_s).each do |property|
            .col-xs-12.col-md-6
              .proposition-item.change-height
                - @chatroom = Chatroom.where(property_id: property.id.to_s).where(demand_id: @demand.id.to_s).last
                - if @chatroom
                  .small.bold
                    = link_to chatroom_path(@chatroom, property_id: property.id.to_s) do
                      .fa.fa-commenting


                - @conversation = Conversation.where(sender: @demand.customer).where(property: property).last
                - if @conversation
                  .new-demand-questions-container
                    .fa.fa-commenting
                    = link_to "Voir la conversation", conversation_path(customer_id: @demand.customer.id.to_s, agency_id: current_agency.id.to_s, property_id: property.id.to_s), class: "custom-btn"

                - if property.images_array
                  .proposition-item-left{style: "background-image: url(#{property.images_array.first if property.images_array != []});"}
                - elsif property.pictures.any?
                  .proposition-item-left{style: "background-image: url('#{property.pictures.select{|pict| pict.photo_url != nil }.last.photo_url}');"}
                - elsif property.img_1_url
                  .proposition-item-left{style: "background-image: url(#{property.img_1_url});"}
                - else
                  .proposition-item-left.back-contain{style: "background-image: url(#{asset_path 'Logo-bulle-2.png'});"}


                - if property.customer_choices.where(v2_demand: @demand).last
                  = handle_customer_choice_agency_side(property.customer_choices.where(v2_demand: @demand.id).last.choice)
                - else
                  = handle_customer_response_waiting
                .proposition-item-right
                  .absolute-customer-choice-wrapper
                  .top-part
                    .prop-title
                      = property.title if property.title
                    - if property.prix
                      .prop-price
                        = "#{number_with_delimiter(property.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
                    - if property.price
                      .prop-price
                        = "#{number_with_delimiter(property.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"



                  .middle-part
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "14"
                      = property.property_type
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "14"
                      = property.nb_room
                    .middle-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "14"
                      = "#{property.area} m²"
                  .bottom-part
                    .bottom-part-item
                      = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                      - if property.ville
                        = "#{property.ville.capitalize}"
                      - elsif property.localisation
                        = "#{property.localisation.capitalize}"
                  .bottom-part
                    .bottom-part-item
                      - @present_proposal = DemandProperty.where(demand_id: @demand.id.to_s).where(property_id: property.id.to_s).last
                      - if @present_proposal
                        .prop-agency-proposed-date
                          = "Proposé le #{l(@present_proposal.created_at, format: :medium)}"
            .col-xs-12.col-md-6
              .customer-choice-container
                .row
                  - if property.customer_choices.where(v2_demand: @demand).last
                    - @choice = property.customer_choices.where(v2_demand: @demand).last
                    .col-xs-12
                      .negative-comment-container
                        - if @choice.comment
                          .header
                            .inline-svg.green-text.small-icon.mr-10
                              = svg("chat")
                            Commentaire
                          .customer-comment
                            = @choice.comment
                        - else
                          .customer-comment-fullheight
                            .d-flex-column-center
                              .inline-svg.red.mb-10
                                = svg("chat")
                              = "Aucun commentaire"
                  - else
                    .col-xs-12
                      .waiting-comment-container
                        .inline-svg.green-text.mb-10
                          = svg("clock")
                        .waiting-text
                          = "Le membre n'a pas encore répondu à votre offre"




    .form#add-property-to-demand
      = form_tag(add_property_to_demand_path, method: :post) do
        = hidden_field_tag(:demand_id,@demand.id.to_s)
        .unproposed-properties-container
          .d-flex-inline
            .inline-svg.black.mr-10
              = svg("house")
            %h2.sans-serif-font.fs-20
              = "Les maisons, appartements et terrains proposés par l’agence #{current_agency.name}"
          .d-flex-inline
            %h5.bold
              Cliquez sur la maison ou l'appartement que vous souhaitez proposer puis cliquez sur "Valider" ou ajoutez un nouveau bien


          .unproposed-properties-wrapper
            .row
              - if @filtered_properties != []
                - @filtered_properties.each_with_index do |prop,index|
                  .col-xs-12.col-md-4
                    .checkbox-property-input{"data-unique-id": "prop-#{index+1}"}
                      %input{id:"#{prop.id.to_s}", type:"checkbox", name:"property_id[]", value: "#{prop.id.to_s}"}
                      %label{for:"#{prop.id.to_s}"}

                        .label-top-block
                          - if prop.images_array
                            .block-image{style: "background-image: url('#{prop.images_array.last if prop.images_array != []}');"}
                          - elsif prop.pictures != []
                            .block-image{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil }.last.photo_url}');"}
                          - elsif prop.img_1_url
                            .block-image{style: "background-image: url('#{prop.img_1_url}');"}
                          - else
                            .block-image.contain-image{style: "background-image: url('#{asset_path 'Logo-bulle-2.png'}');"}
                          .block-content
                            .property-input-title
                              - if prop.titre
                                = "#{prop.titre.truncate(40).capitalize}"
                              - if prop.title
                                = "#{prop.title.truncate(40).capitalize}"
                            .property-input-title-small
                              - if prop.type_bien
                                = "#{prop.type_bien}"
                              - elsif prop.property_type
                                = "#{prop.property_type}"
                            .property-flex-inline
                              .flex-inline-title
                                .fa.fa-map-marker
                                Localisation
                              - if prop.ville && prop.cp
                                .checkbox-demand-full-address
                                  = "#{prop.ville.capitalize} - #{prop.cp}"
                              - if prop.localisation
                                .checkbox-demand-full-address
                                  = "#{prop.localisation.capitalize}"
                            .property-flex-inline
                              .flex-inline-title
                                .fa.fa-euro
                                Prix du bien
                              - if prop.prix
                                .property-label-price
                                  = "#{number_with_delimiter(prop.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
                              - if prop.price
                                .property-label-price
                                  = "#{number_with_delimiter(prop.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"

                        .label-bottom-block
                          .bottom-block-btn
                            SELECTIONNER

                .col-xs-12.col-md-4
                  .property-creation-block
                    .header.sans-serif-font.fs-16
                      .icon-menu-home-button.fontastic-adjust
                      %div
                        - if @demand.property_type
                          = "Proposer #{@demand.property_type.downcase}"
                    .content
                      .text.zero-margins
                        Cliquez sur le
                        .super-strong-plus-icon
                          +
                      .text
                        pour ajouter une offre
                      = link_to agency_zone_create_property_path, class: "agency-create-property-link" do
                        = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/home.svg", width: "110"

              - else
                = "Vous n'avez pas de biens en Stock"
                .col-xs-12.col-md-4
                  .property-creation-block
                    .header
                      .icon-menu-home-button.fontastic-adjust
                      %div
                        - if @demand.property_type
                          = "proposer #{@demand.property_type.downcase}"
                    .content
                      .text
                        Remplissez tout simplement un formulaire en ligne
                      = link_to agency_zone_create_property_path, class: "agency-create-property-link" do
                        = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/home.svg", width: "110"

          - if @filtered_properties != []
            .demand-proposal-fixed-container.hidden
              .demand-proposal-title-block
                .title-block-title Ma sélection
              .demand-proposal-left-block
              .demand-proposal-right-block
                %input.bcs-button-sm{type: "submit", value: "VALIDER"}
