.agency-dashboard-fullpage
  = render "dashboard/agencies/partials/fixed_menu"

  %section.dashboard-agency-demands
    .agency-demands-header
      VOS DEMANDES
    .row
      .col-xs-12
        = render "dashboard/agencies/partials/filters"
      - if @demands != []
        .col-xs-12.col-md-6
          .agency-demands-subtitle-container
            %h5 demandes non vues
          - if handle_unviewed_demands(current_agency) != []
            - handle_unviewed_demands(current_agency).each do |demand|
              .demand-container.gray-bck{"data-status": "#{handle_demand_filter_tags(current_agency,demand,false)}"}
                - if demand.browser_screenshot_url
                  .left-block{style: "background-image: url('#{demand.browser_screenshot_url}');"}
                - elsif demand.map_photo
                  .left-block{style: "background-image: url('#{demand.map_photo_url}');"}
                - else
                  .left-block{style: "background-image: url(#{asset_path 'pdf-placeholder.png'});"}
                .right-block
                  .absolute-badge
                    = "NEW"
                  = link_to dashboard_agency_demand_path(demand_id: demand.id.to_s) do
                    .absolute-button-before.red
                      = "Voir la demande"
                  .demand-container-line.between
                    .icon-text-line
                      .fa.fa-home
                      = demand.property_type
                    .icon-text-line
                      = pluralize(demand.rooms, "Chambre", "Chambres")
                  .demand-container-line.start
                    .icon-text-line
                      .fa.fa-euro
                      = demand.budget
                  .demand-container-line.start
                    .icon-text-line
                      .fa.fa-map-marker
                      = demand.search_zipcodes_area
                  .demand-container-line.between
                    .icon-text-line.small
                      .fa.fa-calendar-o
                      = l(demand.created_at, format: :medium)
                    .icon-text-line.small
                      .fa.fa-folder-open
                      = "BCS_#{demand.id.to_s.upcase.last(5)}"
                    - if demand.properties.where(agency_id: current_agency.id.to_s) != []
                      .icon-text-line.small
                        .fa.fa-thumbs-up.red-text
                        = pluralize(demand.properties.where(agency_id: current_agency.id.to_s).size, "bien proposé", "biens proposés")
          - else
            .demand-container.gray-bck.flex-center
              .text
                = "Vous avez vu toutes vos demandes actives"

        .col-xs-12.col-md-6
          .agency-demands-subtitle-container
            %h5 demandes vues
          - if handle_viewed_demands(current_agency) != []
            - handle_viewed_demands(current_agency).each do |demand|
              .demand-container.gray-bck{"data-status": "#{handle_demand_filter_tags(current_agency,demand,true)}"}
                .absolute-badge-creation-date
                  - @view = DemandAgencyView.where(agency: current_agency).where(v2_demand: demand).where(view: true).last
                  = "Vu le #{l(@view.created_at, format: :medium)}"
                .absolute-badge.success
                  = "VU"
                = link_to dashboard_agency_demand_path(demand_id: demand.id.to_s) do
                  .absolute-button-before
                    = "Voir la demande"
                - if demand.browser_screenshot_url
                  .left-block{style: "background-image: url('#{demand.browser_screenshot_url}');"}
                - elsif demand.map_photo
                  .left-block{style: "background-image: url('#{demand.map_photo_url}');"}
                - else
                  .left-block{style: "background-image: url(#{asset_path 'pdf-placeholder.png'});"}
                .right-block
                  .demand-container-line.between
                    .icon-text-line
                      .fa.fa-home
                      = demand.property_type
                    .icon-text-line
                      = pluralize(demand.rooms, "Pièce", "Pièces")
                  .demand-container-line.start
                    .icon-text-line
                      .fa.fa-euro
                      = demand.budget
                  .demand-container-line.start
                    .icon-text-line
                      .fa.fa-map-marker
                      = demand.search_zipcodes_area
                  .demand-container-line.between
                    .icon-text-line.small
                      .fa.fa-calendar-o
                      = l(demand.created_at, format: :medium)
                    .icon-text-line.small
                      .fa.fa-folder-open
                      = "BCS_#{demand.id.to_s.upcase.last(5)}"
                    - if demand.properties.where(agency_id: current_agency.id.to_s) != []
                      .icon-text-line.small
                        .fa.fa-thumbs-up.red-text
                        = pluralize(demand.properties.where(agency_id: current_agency.id.to_s).size, "bien proposé", "biens proposés")
                  - if handle_demands_choices_view(current_agency, demand)
                    .demand-customer-choices-flex
                      - handle_demands_choices_view(current_agency, demand).each do |key,value|
                        - if key == :love
                          .demand-container-line-inline
                            .inline-svg.red.small-icon
                              = svg("customer-love")
                            .customer-choice-text
                              = value
                        - if key == :like
                          .demand-container-line-inline
                            .inline-svg.green-text.small-icon
                              = svg("customer-like")
                            .customer-choice-text
                              = value
                        - if key == :hate
                          .demand-container-line-inline
                            .inline-svg.black.small-icon
                              = svg("customer-hate")
                            .customer-choice-text
                              = value

          - else
            .demand-container.gray-bck.flex-center
              .text
                = "Vous avez vu aucune demande active"


      - else
        .minimum-height-container
          .d-flex-center
            .bold
              = "Vous n'avez pas de demandes actives"


