.agency-dashboard-fullpage
  = render "dashboard/agencies/partials/fixed_menu"

  #agency-status-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.agency-status{:role => "document"}
      .modal-content
        .modal-body
          %button{"data-dismiss": "agency-status-modal", type: "button"}
            %span{"aria-hidden": "true"} ×
          .bolder Votre agence est en cours de validation
          .thin
            Un membre de l'équipe Bientôt Chez Soi prendra très bientôt contact avec vous pour valider votre compte !

  - if current_agency.activated
    .activated-agency-checker.hidden{"data-agency-checker": "active"}
  - else
    .activated-agency-checker.hidden{"data-agency-checker": "inactive"}


  %section.agency-zone
    .row
      .col-xs-12.col-md-6
        .block.green
          .header-with-icon
            %h2.white-text
              = "BONJOUR #{current_agency.name.upcase if current_agency.name}"
            .icon-menu-kenotte
          .small-text
            Bienvenue sur votre espace agence
          .actions-container
            .action-item
              .circled-fa
                .fa.fa-euro
              = "Budget minimum : #{number_with_delimiter(current_agency.min_price, locale: :fr)} €"
          - if current_agency.catchment_area
            .actions-container
              .action-item
                .circled-fa
                  .fa.fa-map-marker
                - if current_agency.catchment_area.size == 1
                  = "Zone de chalandise : #{current_agency.catchment_area.first}"
                - elsif current_agency.catchment_area.size == 2
                  = "Zone de chalandise : #{current_agency.catchment_area.first} et #{current_agency.catchment_area.last}"
                - elsif current_agency.catchment_area.size > 2
                  = "Zone de chalandise : #{current_agency.catchment_area[0..-2].join(", ")} et #{current_agency.catchment_area.last}"
          .actions-container
            .action-item.bold
              Vous pouvez changer ces modalités dans la rubrique
              = link_to "Mes infos", dashboard_agency_update_infos_path, class: "inline-bcs-button"



      .col-xs-12.col-md-6
        .block.white
          .header
            %h2 ACTUALITE
          .content
            .left
              .agency-small-text
                .fa.fa-wifi.green
                - @demands_performance = enhanced_agency_response_rate(current_agency)[:demands_size]
                - if @demands_performance == 0
                  = "#{@demands_performance} demande active"
                - elsif @demands_performance == 1
                  = "#{@demands_performance} demande active"
                - elsif @demands_performance > 1
                  = "#{@demands_performance} demandes actives"
              .agency-small-text
                .fa.fa-paper-plane.green
                - @offers_performance = enhanced_agency_response_rate(current_agency)[:proposed_size]
                - if @offers_performance == 0
                  = "#{@offers_performance} offre envoyée"
                - elsif @offers_performance == 1
                  = "#{@offers_performance} offre envoyée"
                - elsif @offers_performance > 1
                  = "#{@offers_performance} offres envoyées"
              .progress-bar-container.hidden
                .progress-bar{style: "width: #{enhanced_agency_response_rate(current_agency)[:result]}%;"}
              .d-flex-center.hidden
                .agency-response-efficiency
                  = "Taux de réponse de #{enhanced_agency_response_rate(current_agency)[:result]} %"

            .right
              .agency-small-text
                = "Rejoignez-nous"
              .d-flex-between.mgt-25
                = link_to 'https://www.facebook.com/bientotchezsoi/', target: "_blank" do
                  = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

                = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber', target: "_blank" do
                  = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

                = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/', target: "_blank" do
                  = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

                = link_to 'https://www.instagram.com/bientotchezsoi/', target: "_blank" do
                  = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'


    .row
      .col-xs-12.col-md-6
        .block.gray
          .header-with-icon-left
            %h2
              = "DEMANDES NON VUES"
          - if handle_unviewed_demands(current_agency) != []
            - handle_unviewed_demands(current_agency).each do |demand|
              .demand-container.gray-bck
                .absolute-badge
                  = "NEW"
                = link_to dashboard_agency_demand_path(demand_id: demand.id.to_s) do
                  .absolute-button-before.red
                    = "Voir la demande"
                .demand-container-line.between
                  .icon-text-line
                    .fa.fa-home
                    = demand.property_type
                  .icon-text-line
                    .fa.fa-euro
                    = demand.budget
                  .icon-text-line
                    = pluralize(demand.rooms, "Pièce", "Pièces")
                .demand-container-line.start
                  .icon-text-line
                    .fa.fa-map-marker
                    = demand.search_zipcodes_area
                .demand-container-line.between
                  .icon-text-line.small
                    .fa.fa-calendar-o
                    = l(demand.created_at, format: :medium)
                  .icon-text-line.small
                    .fa.fa-folder-open
                    = "BCS_#{demand.id.to_s.upcase.last(5)}"
                  - if demand.properties.where(agency_id: current_agency.id.to_s) != []
                    .icon-text-line.small
                      .fa.fa-thumbs-up.red-text
                      = pluralize(demand.properties.where(agency_id: current_agency.id.to_s).size, "bien proposé", "biens proposés")

            .d-flex-center
              = link_to "Voir toutes les demandes", dashboard_agency_demands_path, class: "bcs-button-sm-special"

          - elsif current_agency.v2_demands == []
            .empty-demand-container
              .adjust-text
                = "Vous n'avez pas de demandes actives"
          - elsif handle_unviewed_demands(current_agency) == []
            .empty-demand-container
              .adjust-text
                = "Vous avez vu toutes vos demandes actives"
          - else
            .empty-demand-container
              .adjust-text
                = "Vous n'avez pas de demandes actives"

      .col-xs-12.col-md-6
        .block.gray
          .header-with-icon-left
            %h2
              = "DEMANDES VUES"
          - if current_agency.v2_demands != []
            - handle_viewed_demands(current_agency).each do |demand|
              .demand-container.gray-bck
                .absolute-badge-creation-date
                  - @view = DemandAgencyView.where(agency: current_agency).where(v2_demand: demand).where(view: true).last
                  = "Vu le #{l(@view.created_at, format: :medium)}"
                .absolute-badge.success
                  = "VU"
                = link_to dashboard_agency_demand_path(demand_id: demand.id.to_s) do
                  .absolute-button-before
                    = "Voir la demande"
                .fixed-height-photo{style: "background-image: url(#{demand.browser_screenshot_url});"}
                .demand-container-line.between
                  .icon-text-line
                    .fa.fa-home
                    = demand.property_type
                  .icon-text-line
                    .fa.fa-euro
                    = demand.budget
                  .icon-text-line
                    = pluralize(demand.rooms, "Pièce", "Pièces")
                .demand-container-line.start
                  .icon-text-line
                    .fa.fa-map-marker
                    = demand.search_zipcodes_area
                .demand-container-line.between
                  .icon-text-line.small
                    .fa.fa-calendar-o
                    = l(demand.created_at, format: :medium)
                  .icon-text-line.small
                    .fa.fa-folder-open
                    = "BCS_#{demand.id.to_s.upcase.last(5)}"
                  - if demand.properties.where(agency_id: current_agency.id.to_s) != []
                    .icon-text-line.small
                      .fa.fa-thumbs-up.red-text
                      = pluralize(demand.properties.where(agency_id: current_agency.id.to_s).size, "bien proposé", "biens proposés")
                - if handle_demands_choices_view(current_agency, demand)
                  .demand-customer-choices-flex
                    - handle_demands_choices_view(current_agency, demand).each do |key,value|
                      - if key == :love
                        .demand-container-line-inline
                          .icon-prop-fire.fontastic.red.small
                          .customer-choice-text
                            = pluralize(value, "", "")
                      - if key == :like
                        .demand-container-line-inline
                          .icon-prop-plain-heart.fontastic.green-text
                          .customer-choice-text
                            = pluralize(value, "", "")
                      - if key == :hate
                        .demand-container-line-inline
                          .icon-prop-delete.fontastic.gray
                          .customer-choice-text
                            = pluralize(value, "", "")

            .d-flex-center
              = link_to "Voir toutes les demandes", dashboard_agency_demands_path, class: "bcs-button-sm-special"

          - else
            .empty-demand-container
              .adjust-text
                = "Vous n'avez pas de nouvelles demandes"




