.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"


  %section.agency-zone
    .big-header
      .demand-number MA MESSAGERIE
      .d-flex-start
        %p
          Je contacte les membres qui ont aimés une de mes offres


    .dashboard-messages-container
      - if @agency_chatrooms != []
        - @agency_chatrooms.each do |chatroom|
          - unseen_messages = chatroom.chat_messages.where(seen_by_agency: false)
          - if chatroom.v2_demand
            - customer_choice = chatroom.property.customer_choices.where(v2_demand_id: chatroom.v2_demand.id.to_s).last

          - if customer_choice
            .dashboard-message-card
              - if customer_choice
                - if unseen_messages != []
                  .message-card-avatar.active
                    .fa.fa-user
                    .message-count
                      = "#{unseen_messages.count}"
                - else
                  .message-card-avatar
                    .fa.fa-user
              - else
                - if unseen_messages != []
                  - if chatroom.v2_demand
                    .message-card-avatar-with-image.active{style: "background-image: url(#{demand_project_kind(chatroom.v2_demand[:project])});"}
                      .message-count
                        = "#{unseen_messages.count}"
                - else
                  - if chatroom.v2_demand
                    .message-card-avatar-with-image{style: "background-image: url(#{demand_project_kind(chatroom.v2_demand[:project])});"}

              .message-card-customer
                - if customer_choice
                  = "#{chatroom.customer.first_name} #{chatroom.customer.last_name}"
                - else
                  = "Le castor masqué"
              .message-delimiter
              .message-card-prop
                = "#{chatroom.property.property_type}, #{chatroom.property.price} €"
              .message-card-title
                = chatroom.property.title.truncate(40)

              .grow-button-container
                - if unseen_messages != []
                  = link_to chatroom_path(chatroom, property_id: chatroom.property.id.to_s) do
                    .message-card-button.active Je réponds
                - else
                  = link_to chatroom_path(chatroom, property_id: chatroom.property.id.to_s) do
                    .message-card-button Je consulte


