.agency-dashboard-fullpage
  = render "dashboard/agencies/partials/fixed_menu"

  %section.agency-zone
    .big-header
      .demand-number.mb-20
        = "les maisons, appartements et terrains proposés par l’agence #{current_agency.name}"
      %p
        Retrouvez tous les biens proposés par votre agence. Pour ajouter un bien, rien de plus simple : cliquez sur "Ajouter une offre"

    - if @matching_demands
      .custom-modal-container
        .custom-modal.matching-demands#pending-customer
          .custom-modal-closer#pending-demand-modal
            .fa.fa-times
          .custom-modal-header
            .d-flex-center.mb-20
              .bold
                - if @matching_demands.count == 1
                  = "Ce bien correspond à #{@matching_demands.count} demande"
                - elsif @matching_demands.count > 1
                  = "Ce bien correspond à #{@matching_demands.count} demandes"
          .custom-modal-content
            .inline-svg
              = svg("k-dashboard")
            .matching-items-container
              - @matching_demands.each do |demand|
                .matching-item
                  .inline-svg
                    = svg("completed-task")
                  .reference
                    = "Ref: BCS#{demand.id.to_s.upcase.last(5)} - "
                  = "#{demand.property_type} à #{demand.search_formatted_area.split('(').first} - #{demand.budget}"
    - if @empty_matching
      .custom-modal-container
        .custom-modal.matching-demands#pending-customer
          .custom-modal-closer#pending-demand-modal
            .fa.fa-times
          .custom-modal-header
            .d-flex-center.mb-20
              .bold
                = "Bravo ! Votre bien (#{@empty_matching.title}) à été crée avec succès"
          .custom-modal-content
            .inline-svg
              = svg("k-dashboard")
            .matching-items-container
              .matching-item
                - if @empty_matching.property_type.downcase == "maison"
                  = "Néanmoins cette maison ne correspond pour l'instant à aucune demande"
                - elsif @empty_matching.property_type.downcase == "appartement"
                  = "Néanmoins cet appartement ne correspond pour l'instant à aucune demande"
                - elsif @empty_matching.property_type.downcase == "terrain"
                  = "Néanmoins ce terrain ne correspond pour l'instant à aucune demande"


    - if @properties.any?
      - @properties.sort_by{|prop| prop.created_at}.reverse.each do |prop|
        .agency-dashboard-property-item-v2
          - if prop.images_array
            .item-left{style: "background-image: url('#{prop.images_array.first}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"
          - elsif prop.pictures != []
            .item-left{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil}.last.photo_url if prop.pictures != []}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"
          - elsif prop.img_1_url
            .item-left{style: "background-image: url('#{prop.img_1_url}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"
          - else
            .item-left.back-contain{style: "background-image: url('#{asset_path 'Logo-bulle-2.png'}');"}
              .item-left-created-date
                = "Ajouté le #{l(prop.created_at, format: :medium)}"


          .item-right
            .item-right-top
              .title-price-container
                .title
                  = "#{prop.title}, #{prop.nb_room} pièces"
                - if prop.price
                  .price
                    = "#{number_with_delimiter(prop.price, locale: :fr)} €"
                - elsif prop.prix
                  .price
                    = "#{number_with_delimiter(prop.prix, locale: :fr)} €"
              - matching_demands = V2Demand.where(:property_ids.in => [prop.id.to_s]).count
              - if matching_demands == 1
                .matching-count
                  = "Ce bien correspond à #{matching_demands} demande"
              - elsif matching_demands > 1
                .matching-count
                  = "Ce bien correspond à #{matching_demands} demandes"

              .middle-part
                .middle-part-item.tooltip-trigger
                  .arrow_box
                    .arrow_box_relative
                      Type de bien
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "18"
                  = prop.property_type
                .middle-part-item.tooltip-trigger
                  .arrow_box
                    .arrow_box_relative
                      Surface
                  = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "18"
                  = "#{prop.area} m²"
                - if prop.nb_room
                  .middle-part-item.tooltip-trigger
                    .arrow_box
                      .arrow_box_relative
                        Nombre de pièce
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "18"
                    = "#{prop.nb_room}"

              .localisation-district-container
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                - if prop.cp && prop.ville
                  = "#{prop.cp}, #{prop.ville}"
                - if prop.zipcode && prop.localisation
                  = "#{prop.zipcode}, #{prop.localisation}"

              .item-description
                = prop.corps.truncate(120) if prop.corps

              .item-actions-list
                = link_to dashboard_agency_property_show_path(property_id: prop.id.to_s), class: "item-action-link btn btn-default" do
                  .fa.fa-eye
                  .text
                    .small
                      Voir

                = link_to dashboard_agency_property_update_path(property_id: prop.id.to_s), class: "item-action-link btn btn-default" do
                  .fa.fa-pencil
                  .text
                    .small
                      Modifier

                = link_to dashboard_agency_property_destroy_path(property_id: prop.id.to_s), method: :delete, class: "item-action-link btn btn-default", data: {confirm: "Etes-vous certain de vouloir supprimer ce bien ?"} do
                  .fa.fa-times
                  .text
                    .small
                      Supprimer

                - if prop.pdf_url
                  = link_to prop.pdf_url, download: true, target: "_blank", format: "pdf", class: "item-action-link btn btn-default" do
                    .fa.fa-file-pdf-o
                    .text
                      .small
                        Télécharger le pdf

            .item-right-bottom
              - if prop.images_array
                - prop.images_array.last(4).each do |img|
                  .item-photos-collection{style: "background-image: url('#{img}')"}
              - elsif prop.pictures != []
                - prop.pictures.last(4).each do |pict|
                  = link_to "#{pict.photo_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                    .inset-img{style: "background-image: url('#{pict.photo_url}')"}
              - if prop.img_2_url
                = link_to "#{prop.img_2_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_2_url}')"}
              - if prop.img_3_url
                = link_to "#{prop.img_3_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_3_url}')"}
              - if prop.img_4_url
                = link_to "#{prop.img_4_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_4_url}')"}
              - if prop.img_5_url
                = link_to "#{prop.img_5_url}", "data-lightbox": "property-#{prop.id.to_s}", class: "item-photos-collection" do
                  .inset-img{style: "background-image: url('#{prop.img_5_url}')"}

      .prop-creation-block
        .subtitle
          = "Il manque des biens ?"
        %p
          Vous pouvez en créer un nouveau ici :
        = link_to "Ajouter une offre", agency_zone_create_property_path, class: "bcs-button-sm-special"


    - else
      .agency-nullify-props
        .row
          .col-xs-12.col-md-3
            .left-props{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/pictos/kenotte/Castor-Horloge.png')"}
          .col-xs-12.col-md-6
            .right-props
              .bolder
                = "Vous n'avez pas de biens en ligne"
              .bold.separator-text
                Pour créer un bien c'est par ici :
              .creation-links-container
                = link_to "Ajouter une offre", agency_zone_create_property_path, class: "bcs-button-sm-special"

%div.hidden
  %button.btn.btn-primary.btn-lg{"data-target": "#agency-prop-delete", "data-toggle": "modal", type: "button"}
    Modal trigger
  #agency-prop-delete.modal.fade{"aria-labelledby": "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
            %span{"aria-hidden": "true"} ×
          .modal-title.bold
            Supprimer le bien
        .modal-body
          \...
        .modal-footer
          %button.btn.btn-default.bold{"data-dismiss": "modal", type: "button"} Annuler
          %button.btn.btn-primary.bold{type: "button"} Supprimer le bien
