.agency-dashboard-fullpage
  = render "dashboard/agencies/partials/fixed_menu"

  %section.customer-property-show
    .big-property-header.flexrow
      .real-title
        - if @property.titre
          = "#{@property.titre.upcase}"
        - if @property.title
          = @property.title.upcase

    .row
      .col-xs-12.col-md-7
        - if @property.images_array
          .property-big-photo{style: "background-image: url('#{@property.images_array.last if @property.images_array != []}')"}
            .absolute-badge
              NOUVEAU
        - elsif @property.pictures.any?
          .property-big-photo{style: "background-image: url('#{@property.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}')"}
            .absolute-badge
              NOUVEAU
        - elsif @property.img_1_url
          .property-big-photo{style: "background-image: url(#{@property.img_1_url})"}
            .absolute-badge
              NOUVEAU
        - else
          .property-big-photo{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg')"}
            .absolute-badge
              NOUVEAU


      .col-xs-12.col-md-5
        .property-infos
          .infos-header
            - if @property.prix
              = "#{number_with_delimiter(@property.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
            - if @property.price
              = "#{number_with_delimiter(@property.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
          .infos-content
            .infos-content-item-wrapper
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
                - if @property.type_bien
                  = @property.type_bien
                - if @property.property_type
                  = @property.property_type
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                - if @property.cp && @property.ville
                  = "#{@property.cp} #{@property.ville}"
                - if @property.zipcode && @property.localisation
                  = "#{@property.zipcode} #{@property.localisation}"
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                = "#{@property.nb_room} Pièces"
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                = surface_format(@property.area)

              - if @property.ges
                .d-flex-start.fullwidth.mb-10
                  .small.bold.mr-10 GES
                  .ges-block
                    .ges-class.level-a{class: "#{'active' if @property.ges == 'A'}"}
                      A
                    .ges-class.level-b{class: "#{'active' if @property.ges == 'B'}"}
                      B
                    .ges-class.level-c{class: "#{'active' if @property.ges == 'C'}"}
                      C
                    .ges-class.level-d{class: "#{'active' if @property.ges == 'D'}"}
                      D
                    .ges-class.level-e{class: "#{'active' if @property.ges == 'E'}"}
                      E
                    .ges-class.level-f{class: "#{'active' if @property.ges == 'F'}"}
                      F
                    .ges-class.level-g{class: "#{'active' if @property.ges == 'G'}"}
                      G

              - if @property.dpe
                .d-flex-start.fullwidth
                  .small.bold.mr-10 DPE
                  .dpe-block
                    .dpe-class.level-a{class: "#{'active' if @property.dpe == 'A'}"}
                      A
                    .dpe-class.level-b{class: "#{'active' if @property.dpe == 'B'}"}
                      B
                    .dpe-class.level-c{class: "#{'active' if @property.dpe == 'C'}"}
                      C
                    .dpe-class.level-d{class: "#{'active' if @property.dpe == 'D'}"}
                      D
                    .dpe-class.level-e{class: "#{'active' if @property.dpe == 'E'}"}
                      E
                    .dpe-class.level-f{class: "#{'active' if @property.dpe == 'F'}"}
                      F
                    .dpe-class.level-g{class: "#{'active' if @property.dpe == 'G'}"}
                      G

              .infos-content-item.fullwidth
                = "Proposé à "
                = V2Demand.all.select{|demand| demand.properties.include?(@property)}.count
                = " acquéreur(s)"

    .row
      .col-xs-12.col-md-7
        .thumbnails
          - if @property.images_array
            - @property.images_array.each do |image|
              = link_to "#{image}", "data-lightbox": "property" do
                .thumbnails-item{style: "background-image: url('#{image}')"}
          - elsif @property.pictures != []
            - @property.pictures.select{|pict| pict.photo_url != nil }.each do |picture|
              = link_to "#{picture.photo_url}", "data-lightbox": "property-from-fo" do
                .thumbnails-item{style: "background-image: url('#{picture.photo_url}')"}
          - elsif @present_imgs != []
            - @present_imgs.each do |number|
              = link_to "#{@property.send("img_#{number}_url")}", "data-lightbox": "property-from-fo" do
                .thumbnails-item{style: "background-image: url('#{@property.send("img_#{number}_url")}')"}

      - if @property.pdf_url
        .col-xs-12.col-md-5
          .pdf-download-container
            / = image_tag "pdf-placeholder", width: "30"
            = link_to "Télécharger la fiche détaillée", @property.pdf_url, target: "_blank", class: "bcs-button-sm-special"


    .property-description
      .header La petite histoire
      .content
        = @property.corps.html_safe

    .property-description
      .header Le bien en détails
      .content
        .content-item
          %strong
            = "Nombre de pièces"
          = @property.nb_room
        .content-item
          %strong
            = "Nombre de chambres"
          = @property.nb_sleeping_room
        .content-item
          %strong
            = "Surface"
          - if @property.area
            = "#{@property.area} m²"
        .content-item
          %strong
            = "Surface du terrain"
          - if @property.ground_space
            = "#{@property.ground_space} m²"
          - if @property.terrain_area
            = "#{@property.terrain_area} m²"
        .content-item
          %strong
            = "Honoraires"
          - if @property.fees_target == "Du vendeur"
            = "A la charge #{@property.fees_target.downcase}"
          - else
            = "#{number_with_delimiter(@property.fees.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
            = " à la charge #{@property.fees_target.downcase}"
        .content-item
          %strong
            = "Année de construction"
          = @property.build_year

    - if @linked_demands.size != 0
      .big-property-header.flexrow
        .real-title
          = "Demandes liées à ce bien"
      .linked-demands
        - @linked_demands.each do |demand|
          .linked-demand
            = "Ref: BCS_#{demand.id.to_s.upcase.last(5)}"
            = link_to "Voir la demande", dashboard_agency_demand_path(demand_id: demand.id.to_s), class: "bcs-button-sm-special"


