%section.agency-property-create-page
  .agency-property-create-header
    proposer un bien
  .sub-header-wrapper
    .agency-property-sub-header
      Vous souhaitez répondre à une demande d'un futur acquéreur. En quelques clics et quelques secondes, votre futur client reçoit votre proposition.
      Très vite, il vous dira si il aime et si il veut visiter avec vous.
    .agency-property-sub-header.hidden
      Ici, vous pourrez le créer manuellement. Il pourra être proposé aux membres de notre plateforme !
    .agency-property-sub-header
      %strong
        .fa.fa-warning
        N’oubliez pas : plus complète sera votre description, plus les utilisateurs auront envie de le visiter



  .agency-form-enhanced
    = simple_form_for @property, html: {multipart: true} do |f|
      = f.input :agency_id, as: :hidden, input_html: {value: @agency.id.to_s}
      .row
        .col-xs-12.col-md-4
          .form-full-block
            .form-full-block-header
              Le plus important
              .strong.small.mt-20
                %span
                  * Champs obligatoires
            = f.input :property_type, label: "Type de bien", collection: ["Maison", "Appartement", "Terrain"], required: true, include_blank: "Choisir un type ..."
            .white-sub-block
              = f.input :localisation, placeholder: "Ville", label: "Il se trouve dans la ville de", required: true
              = f.input :zipcode, placeholder: "Code postal", required: true, label: false

            .formatted_numeric_input.white
              = f.input :area, label: "Sa surface en m²", required: true, maxlength: "4"

            .white-sub-block
              .formatted_numeric_input
                = f.input :nb_room, label: "Nombre de pièces", as: :numeric, input_html: {min: 0}, required: true
              .formatted_numeric_input
                = f.input :nb_sleeping_room, label: "Nombre de chambres", as: :numeric, required: true

        .col-xs-12.col-md-4
          .form-full-block
            .form-full-block-header
              Le bien plus en détails
              .strong.small.mt-20
                %span
                  * Champs obligatoires
            = f.input :title, label: "Nom ou titre de l'annonce", required: true
            = f.input :corps, label: "Sa description", as: :text
            = f.input :secteurs, label: "Son quartier"
            = f.input :state, label: "Etat du bien", collection: ["Excellent", "Très bon","A rafraichir","De gros travaux à prévoir"], required: true
            .formatted_numeric_input
              = f.input :terrain_area, label: "La surface du terrain en m²", maxlength: "6"
            = f.input :build_year, label: "Son année de construction"
            = f.input :dpe, label: "Classe énergie", collection: ["A","B","C","D","E","F","G"], include_blank: "Classe énergie ..."
            = f.input :ges, label: "GES", collection: ["A","B","C","D","E","F","G"], include_blank: "GES ..."
            = f.input :status, label: "Statut", collection: [[7, "En vente"], [4, "Sous compromis"], [5, "Vendu"], [8, "Exclusivité"]], label_method: :second, value_method: :first, include_blank: "Statut ..."

        .col-xs-12.col-md-4
          .row
            .col-xs-12
              .form-full-block
                .form-full-block-header
                  A propos du prix
                  .strong.small.mt-20
                    %span
                      * Champs obligatoires
                .formatted_numeric_input
                  = f.input :price, label: "Son prix de vente en €", required: true, maxlength: "10"
                .formatted_numeric_input
                  = f.input :fees, label: "Honoraires", required: true
                .radio-collections-container-fullwidth
                  = f.input :fees_target, label: "Honoraires à la charge...", collection: ["Du vendeur","De l'acquéreur"]

            .col-xs-12
              .form-full-block.fixed-sized
                .form-full-block-header
                  Encore plus de détails ?
                %label
                  Essentiel pour notre client...vous pouvez déposer une fiche en format PDF, la taille du fichier doît être de 3Mo au maximum.
                .outter-photo-container#pdf-upload-container
                  .upload-photos-container
                    .upload-top
                      %label
                        .bcs-button-sm-special.r-straight
                          .text
                            .small
                              CHOISIR
                        %span{style: "display: none;"}
                          = f.file_field :pdf, onchange: "previewPdfFile()"
                          = f.hidden_field :pdf_cache
                    .upload-bottom
                      - if @property.pdf_url
                        .custome-badge
                          .small
                            = @property.pdf.path.remove("uploads/").capitalize



        .col-xs-12
          .form-full-block
            .form-full-block-header
              Les photos
            %label
              Il est recommandé d'ajouter des photos du bien, en format JPG
            .outter-photo-container#stepped-upload-container
              .upload-photos-container-stepped
                .row
                  - [1,2,3,4,5,6,7,8].each do |number|
                    .col-xs-12.col-md-3
                      - if @property.send("img_#{number}").path
                        .photo-upload-placeholder{id: "photo-input-#{number}", "data-position": number, style: "background-image: url(#{@property.send("img_#{number}_url")})"}
                          %label
                            .context.full Modifier
                            %span{style: "display: none;"}
                              = f.file_field ("img_#{number}").to_sym, onchange: "enhancedFileUpload()"
                              = f.hidden_field ("img_#{number}_cache").to_sym
                      - else
                        .photo-upload-placeholder{id: "photo-input-#{number}", "data-position": number}
                          %label
                            .context Ajouter une photo +
                            %span{style: "display: none;"}
                              = f.file_field ("img_#{number}").to_sym, onchange: "enhancedFileUpload()"
                              = f.hidden_field ("img_#{number}_cache").to_sym






      .col-xs-12
        .d-flex-center.mt-25.mb-25
          = f.submit "Modifier le bien", class: "bcs-button-sm"
