  <!DOCTYPE html>
  <html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="x-apple-disable-message-reformatting">
      <title>Bienvenue chez Bientôt Chez Soi</title>
      <style>
        html,
        body {
          margin: 0 auto !important;
          padding: 0 !important;
          height: 100% !important;
          width: 100% !important;
        }
        * {
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
        }
        div[style*="margin: 16px 0"] {
          margin:0 !important;
        }
        table,
        td {
          mso-table-lspace: 0pt !important;
          mso-table-rspace: 0pt !important;
        }
        table {
          border-spacing: 0 !important;
          border-collapse: collapse !important;
          table-layout: fixed !important;
          margin: 0 auto !important;
        }
        table table table {
          table-layout: auto;
        }
        img {
          -ms-interpolation-mode:bicubic;
        }
        *[x-apple-data-detectors],
        .x-gmail-data-detectors,
        .x-gmail-data-detectors *,
        .aBn {
          border-bottom: 0 !important;
          cursor: default !important;
          color: inherit !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
        }
        .a6S {
          display: none !important;
          opacity: 0.01 !important;
        }
        img.g-img + div {
          display:none !important;
        }
        .button-link {
          text-decoration: none !important;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
          .email-container {
            min-width: 375px !important;
          }
        }
      </style>

      <style>
        .button-td,
        .button-a {
          transition: all 100ms ease-in;
        }
        .button-td:hover,
        .button-a:hover {
          background: #B0C365 !important;
          border-color: #B0C365 !important;
        }
        @media screen and (max-width: 480px) {
          .fluid {
            width: 100% !important;
            max-width: 100% !important;
            height: auto !important;
            margin-left: auto !important;
            margin-right: auto !important;
          }
          .stack-column,
          .stack-column-center {
            display: block !important;
            width: 100% !important;
            max-width: 100% !important;
            direction: ltr !important;
          }
          .stack-column-center {
            text-align: center !important;
          }
          .center-on-narrow {
            text-align: center !important;
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            float: none !important;
          }
          table.center-on-narrow {
            display: inline-block !important;
          }
          .email-container p {
            font-size: 17px !important;
            line-height: 22px !important;
          }
        }
      </style>

  </head>
  <body width="100%" bgcolor="#F1F1F1" style="margin: 0; mso-line-height-rule: exactly;">
    <center style="width: 100%; background: #F1F1F1; text-align: left;">

      <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
        Bienvenue chez Bientot Chez Soi : votre compte vient d'être créé
      </div>


          <div style="max-width: 680px; margin: auto;" class="email-container">
              <!-- Email Body : BEGIN -->
              <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">

                  <tr>
                    <td bgcolor="#ffffff">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                          <td style="padding: 30px 40px 30px 40px; text-align: center;">
                            <a href="https://bientotchezsoi.com">
                              <img src="https://cdn.bientotchezsoi-dev.com/images/logo-simplificateur.png" width="400" height="107" alt="Bientôt Chez Soi" border="0" style="height: auto;width: 100%; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr bgcolor="#ffffff" style="width: 100%;display: block;padding: 20px 0;">
                    <td style="width: 25%;padding-left: 10px;">
                      <img src="https://cdn.bientotchezsoi-dev.com/images/balloons-2.svg" alt="balloon" style="width: 100%;">
                    </td>
                    <td style="width: 75%;padding-left: 10px;">
                      <h3 style="color: #b0c365;font-weight: 700;width: 100%;">Bonjour kiki,</h3>
                      <p style="opacity: 0.8;width: 100%;margin-top: 16px;">
                        Bientôt Chez Soi vous souhaite la bienvenue et vous remercie de votre inscription.
                        Bonne nouvelle : votre recherche de bien immobilier a bien été enregistrée sur votre compte.
                      </p>
                    </td>
                  </tr>

                  <!-- HERO : BEGIN -->
                  <tr>
                      <td bgcolor="#ffffff" align="center" valign="top" style="text-align: center; background-position: center center !important; background-size: cover !important;">
                          <div>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:500px; margin: auto;">
                                  <tr>
                                    <td align="center" valign="middle">
                                    <table>
                                       <tr>
                                           <td valign="top" style="text-align: left; padding: 20px 0 10px 20px;">

                                               <h1 style="margin: 0; font-family: 'Arial, sans-serif', sans-serif; font-size: 20px; line-height: 36px; color: #333333; font-weight: bold;">Bienvenue kiki,</h1>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td valign="top" style="text-align: left; padding: 10px 20px 15px 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #757575;">
                                               <p style="margin: 0;">Mon compte vient d'être créé.

<br/><br/>

                                                Nous vous avons aménagé un espace rien qu'à vous sur notre site.
<br/><br/>
                                                Vous pouvez dès maintenant accéder à votre compte avec vos identifiants et modifier ou compléter votre recherche. </p>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td valign="top" align="center" style="text-align: center; padding: 15px 0px 20px 0px;">

                                               <!-- Button : BEGIN -->
                                               <center>
                                               <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow" style="text-align: center;">
                                                   <tr>
                                                       <td style="border-radius: 50px; background: #B0C365; text-align: center;" class="button-td">
                                                           <a href="http://www.google.com" style="background: #B0C365; border: 15px solid #B0C365;; font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 50px; font-weight: bold;" class="button-a">
                                                               <span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;J'accède à Mon Chez Moi&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                           </a>
                                                       </td>
                                                   </tr>
                                               </table>
                                               </center>

                                           </td>
                                       </tr>
                                    </table>

                                    </td>
                                  </tr>
                                  <table bgcolor="#EEEAEA" role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" ; margin: auto;">
                                  <tr>
                                    <td align="center" valign="middle">

                                    <table>
                                       <tr>
                                           <td valign="top" style="text-align: center; padding: 20px 0 10px 20px;">

                                               <h1 style="margin: 0; font-family: 'Arial, sans-serif', sans-serif; font-size: 20px; line-height: 36px; color: #757575; font-weight: bold;">Quelles sont les prochaines étapes ?</h1>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td valign="top" style="text-align: left; padding: 10px 20px 15px 20px; font-family: Arial,sans-serif; font-size: 15px; line-height: 20px; color: #757575;">
                                               <p style="margin: 0;">Toute l'équipe de Bientôt Chez Soi est sur le pont pour trouver mon futur chez moi !
<br/><br/>
                                               Un peu de patience : il faudra peut-être quelques jours pour trouver chaussure à mon pied. </p>
                                           </td>
                                       </tr>
                                    </table>

                                    </td>
                                  </tr>
                              </table>
                              <!--[if mso]>
                              </td>
                              </tr>
                              </table>
                              <![endif]-->
                          </div>
                          <!--[if gte mso 9]>
                          </v:textbox>
                          </v:rect>
                          <![endif]-->
                      </td>
                  </tr>
                  <!-- HERO : END -->

                  <!-- INTRO : BEGIN -->
                  <!-- <tr>
                      <td bgcolor="#ffffff">
                          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                  <td align="left" style="padding: 0px 40px 40px 40px;" width="10%">
                                      <table width="100%" align="left">
                                          <tr>
                                            <td>
                                              <img src="img/philippe.jpg" width="150" height="150" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                                            </td>
                                          </tr>
                                      </table>
                                  </td>
                               <td align="left" style="padding: 0px 40px 40px 40px;" width="90%">
                                  <table role="presentation" width="100%" align="left">
                                      <tr>
                                  <td style="padding: 20px 40px 20px 40px; text-align: left;">
                                      <h1 style="margin: 0; font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 26px; color: #333333; font-weight: bold;">Pourquoi j'ai créé Bientôt Chez Soi ?</h1>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 40px 0px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; font-weight:bold;">
                                      <p style="margin: 0;">Comme vous, j'ai été acheteur : j'ai acheté un bien immobilier... et j'ai cherché pendant pas mal de mois la perle rare ! Je ne compte plus les appels téléphoniques, les heures à décrypter les annonces et les visites qui ne mènent à rien.</p>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                  <td style="padding: 0px 40px 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; font-weight:normal;">
                                      <p style="margin: 0;">Et puis je suis devenu agent immobilier. En passant de l'autre côté de la barrière, je me suis rendu compte qu'il n'était pas toujours facile de bien comprendre vos demandes, que parfois, il fallait un peu "creuser" pour cerner ce que vous cherchiez vraiment.
                                  </td>
                              </tr>
                               <tr>
                                  <td style="padding: 0px 40px 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; font-weight:normal;">
                                      <p style="margin: 0;">Et soudain... la révélation : il fallait inventer une machine à simplifier l'immobilier en ligne ! J'ai créé Bientôt Chez Soi pour vous faire gagner du temps, et vous emmener tout droit vers le coup de coeur immobilier, sans faire de compromis.
                                      </p>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 40px 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; font-weight:normal;">
                                      <p style="margin: 0;">

                                       Avec toute l'équipe de Bientôt Chez Soi, j'ai aussi à coeur de vous apporter tous les services & conseils qui aideront à bien acheter & à bien vous installer dans votre nouveau chez vous !</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 5px 5px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: right; font-weight:normal;">
                                      <p style="margin: 0;">A très bientôt,</p>
                                  </td>
                              </tr>
                              <tr>
                                                  <td style="padding: 0px 5px 5px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: right; font-weight:normal;">
                                                    Philippe, Créateur de Bientôt Chez Soi
                                                  </td>
                              </tr>
                                                </table> -->


                  <!-- INTRO : END -->

                  <!-- CTA : BEGIN -->
                  <tr>
                      <td bgcolor="#EEEAEA">
                          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                  <td style="padding: 40px 40px 5px 40px; text-align: center;">
                                      <h1 style="margin: 0; font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 24px; color: #3F3B49; font-weight: bold;">Rejoignez-nous sur les réseaux sociaux</h1>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 40px 0px 40px; font-family: sans-serif; font-size: 17px; line-height: 23px; color: #3F3B49; text-align: center; font-weight:normal;">
                                      <p style="margin: 0;">Astuces, sondages, bons plans : tous les bons plans Bientôt Chez Soi sont là ! </p>
                                  </td>
                              </tr>
                               <!-- <tr>
                                  <td valign="middle" align="center" style="text-align: center; padding: 0px 20px 40px 20px;">

                                      Button : BEGIN
                                      <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow">
                                          <tr>
                                              <td style="border-radius: 50px; background: #ffffff; text-align: center;" class="button-td">
                                                  <a href="http://www.google.com" style="background: #ffffff; border: 15px solid #ffffff; font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 50px; font-weight: bold;" class="button-a">
                                                      <span style="color:#26a4d3;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                  </a>
                                              </td>
                                          </tr>
                                      </table>
                                     Button : END

                                  </td>
                              </tr> -->
                          </table>
                      </td>
                  </tr>
                  <!-- CTA : END -->

                  <!-- SOCIAL : BEGIN -->
                  <tr>
                      <td bgcolor="#EEEAEA">
                          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                  <td style="padding: 30px 30px; text-align: center;">

                                      <table align="center" style="text-align: center;">
                                          <tr>
                                              <td>
                                                <a href="https://facebook.com/bientotchezsoi">
                                                  <img src="img/bookface.png" width="50" height="50" style="margin:0; padding:0; border:none; display:block;" border="0" alt=""></a>
                                              </td>
                                              <td width="10">&nbsp;</td>
                                              <td>
                                                <a href="https://instagram.com/bientotchezsoi">
                                                  <img src="img/graminsta.png" width="50" height="50" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                                              </td>
                                              <td width="10">&nbsp;</td>
                                              <td>
                                                <a href="https://twitter.com/bientotchezsoi">
                                                  <img src="img/tertwi.png" width="50" height="50" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                                              </a>
                                              </td>
                                              <td width="10">&nbsp;</td>
                                              <td>
                                                <a href="https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg">
                                                  <img src="img/tubeyou.png" width="50" height="50" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                                              </a>
                                              </td>
                                          </tr>
                                      </table>

                                  </td>
                              </tr>

                          </table>
                      </td>
                  </tr>
                  <!-- SOCIAL : END -->

                  <!-- FOOTER : BEGIN -->
                  <tr>
                      <td bgcolor="#54505d">
                          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                  <td style="padding: 40px 40px 10px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #ffffff; text-align: center; font-weight:normal;">
                                      <p style="margin: 0;">Bientôt Chez Soi - 19, rue Francisco Ferrer 33 700 Mérignac</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 40px 10px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #ffffff; text-align: center; font-weight:normal;">
                                      <p style="margin: 0;">Bientôt Chez est une marque déposée par  JULATIS SAS, SAS au capital de 20 000 €, enregistrée au RCS de Bordeaux sous le numéro 808 177 331</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 40px 10px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #ffffff; text-align: center; font-weight:normal;">
                                      <p style="margin: 0;">Numéro de carte professionnelle : CPI 3301 2017 000 015 950</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 40px 40px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #ffffff; text-align: center; font-weight:normal;">
                                      <p style="margin: 0;">Copyright &copy; 2015-2018 Julatis SAS, tous droits réservés.</p>
                                  </td>
                              </tr>

                          </table>
                      </td>
                  </tr>
                  <!-- FOOTER : END -->

              </table>
              <!-- Email Body : END -->

          </div>

      </center>
  </body>
  </html>
