.container
  .big-title
    = "Modifier cette réponse pour la question - #{@answer.question.position}"

  = simple_form_for [:v2, @answer] do |f|
    = f.input :answer_type, label: "Type de réponse"
    = f.input :text, label: "Contenu"
    = f.input :slug, label: "Slug", collection: V2Answer.slugs
    = f.input :fem_text, label: "Contenu féminisé"
    = f.input :unit, label: "Unité"
    = f.input :input_hint, label: "Conseil"
    = f.input :input_format, label: "Format du champ"
    = f.input :demand_attribute, label: "Attribut de la demande"
    = f.input :order, label: "Ordre"
    = f.input :score, label: "Points génerés pour cette question", collection: [0,1,2,3,4,5,6,7,8,9,10]
    .d-flex-center
      = f.submit "Modifier cette réponse", class: "btn btn-primary"
