.webhook-card{"data-filtertarget": "codeship"}
  .d-flex-start.fullheader
    .inline-svg
      = svg("#{webhook.logo}")
    .webhook-card-header
      = webhook.service.downcase.capitalize
      .webhook-description
        = webhook.description

  .event-time-container
    - if webhook.created_at.to_date == Date.today
      .webhook-time-label
        Evènement déclenché
      .webhook-time
        = "Aujourd'hui à #{l(webhook.created_at, format: :time_without_seconds)}"
    - else
      .webhook-time-label
        Evènement déclenché le
      .webhook-time
        = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
    .point-delimiter
    .webhook-time-label
      Event
    .webhook-time
      = webhook.action.capitalize

  .webhook-card-content
    .webhook-content-item
      .content-item-label Status
      - if webhook.content["build"]["status"].to_sym == :success
        .content-item-value.success
          = webhook.content["build"]["status"].capitalize
      - else
        .content-item-value.failed
          = webhook.content["build"]["status"].capitalize

    .webhook-content-item
      .content-item-label App
      .content-item-value.neutral
        = webhook.content["build"]["project_name"]

    .webhook-content-item
      .content-item-label Branch
      .content-item-value
        = webhook.content["build"]["branch"]

    .webhook-content-item
      .content-item-label Message
      .content-item-value
        = webhook.content["build"]["message"]
