.webhook-card{"data-filtertarget": "heroku"}
  .d-flex-start.fullheader
    .inline-svg
      = svg("#{webhook.logo}")
    .webhook-card-header
      = webhook.service.downcase.capitalize
      .webhook-description
        = webhook.description

  .event-time-container
    .webhook-time-label
      Evènement déclenché le
    .webhook-time
      = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
    .point-delimiter
    .webhook-time-label
      Event
    .webhook-time
      = webhook.action.capitalize


  .webhook-card-content
    .webhook-content-item
      .content-item-label Status
      - if webhook.content["data"]["status"].to_sym == :succeeded
        .content-item-value.success
          = webhook.content["data"]["status"].capitalize
      - else
        .content-item-value.failed
          = webhook.content["data"]["status"].capitalize

    .webhook-content-item
      .content-item-label App
      .content-item-value.neutral
        = webhook.content["data"]["app"]["name"]

    .webhook-content-item
      .content-item-label Version
      .content-item-value
        = webhook.content["data"]["version"]

    .webhook-content-item
      .content-item-label Commit
      .content-item-value
        = webhook.content["data"]["slug"]["commit_description"]
