- if webhook.content["zone"]
  .webhook-card{"data-filtertarget": "bientotchezsoi"}
    .d-flex-start.fullheader
      .inline-svg
        = svg("#{webhook.logo}")
      .webhook-card-header
        = webhook.service.downcase.capitalize
        .webhook-description
          = webhook.description

    .event-time-container
      .webhook-time-label
        Evènement déclenché le
      .webhook-time
        = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
      .point-delimiter
      .webhook-time-label
        Event
      .webhook-time
        = webhook.action.capitalize


    .webhook-card-content
      .webhook-content-item
        .content-item-label Zone
        .content-item-value.neutral
          = webhook.content["zone"].join(" - ")

- elsif webhook.content["agency_name"]
  .webhook-card{"data-filtertarget": "bientotchezsoi"}
    .d-flex-start.fullheader
      .inline-svg
        = svg("#{webhook.logo}")
      .webhook-card-header
        = webhook.service.downcase.capitalize
        .webhook-description
          = webhook.description

    .event-time-container
      .webhook-time-label
        Evènement déclenché le
      .webhook-time
        = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
      .point-delimiter
      .webhook-time-label
        Event
      .webhook-time
        = webhook.action.capitalize


    .webhook-card-content
      .webhook-content-item
        .content-item-label Agence
        .content-item-value.neutral
          = webhook.content["agency_name"]

      .webhook-content-item
        .content-item-label Membre
        .content-item-value.neutral
          = webhook.content["customer_fullname"]

      .webhook-content-item
        .content-item-label Bien consulté
        .content-item-value.neutral
          = webhook.content["property_title"]
