- if webhook.content["mandrill_events"].first["event"].to_sym == :open
  - if webhook.content["mandrill_events"].first["msg"]["smtp_events"]
    - size = webhook.content["mandrill_events"].first["msg"]["smtp_events"].first["size"]
  - else
    - empty_size = "Inconnu"
  - city = webhook.content["mandrill_events"].first["location"]["city"]
  - region = webhook.content["mandrill_events"].first["location"]["region"]
  - country = webhook.content["mandrill_events"].first["location"]["country"]
  .webhook-card{"data-filtertarget": "mandrill"}
    .d-flex-start.fullheader
      .inline-svg
        = svg("#{webhook.logo}")
      .webhook-card-header
        = webhook.service.downcase.capitalize
        .webhook-description
          = webhook.description

    .event-time-container
      .webhook-time-label
        Evènement déclenché le
      .webhook-time
        = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
      .point-delimiter
      .webhook-time-label
        Event
      .webhook-time
        = webhook.action.capitalize

    .webhook-card-content
      .webhook-content-item
        .content-item-label Status
        .content-item-value.success
          = webhook.content["mandrill_events"].first["event"].capitalize

      .webhook-content-item
        .content-item-label Subject
        .content-item-value.neutral
          = webhook.content["mandrill_events"].first["msg"]["subject"]

      .webhook-content-item
        .content-item-label Email
        .content-item-value.neutral
          = webhook.content["mandrill_events"].first["msg"]["email"]

      .webhook-content-item
        .content-item-label Operating system
        .content-item-value.neutral
          - if webhook.content["mandrill_events"].first["user_agent_parsed"]
            = webhook.content["mandrill_events"].first["user_agent_parsed"]["os_name"]

      .webhook-content-item
        .content-item-label Localisation
        .content-item-value.neutral
          = "#{city} (#{region}), #{country}"

      .webhook-content-item
        .content-item-label Size
        .content-item-value.neutral
          - if empty_size
            = empty_size
          - if size
            = "#{(size.to_f / 1000000).round(2)} Mb"

- elsif webhook.content["mandrill_events"].first["event"].to_sym == :send
  .webhook-card{"data-filtertarget": "mandrill"}
    .d-flex-start.fullheader
      .inline-svg
        = svg("#{webhook.logo}")
      .webhook-card-header
        = webhook.service.downcase.capitalize
        .webhook-description
          = webhook.description

    .event-time-container
      .webhook-time-label
        Evènement déclenché le
      .webhook-time
        = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
      .point-delimiter
      .webhook-time-label
        Event
      .webhook-time
        = webhook.action.capitalize

    .webhook-card-content
      - if webhook.content["mandrill_events"].size > 1
        .webhook-content-item
          .content-item-label Message envoyés
          .content-item-value.neutral
            = "#{webhook.content['mandrill_events'].size}"

      - webhook.content["mandrill_events"].each do |item|
        - item.each do |k,v|
          - if k.to_sym == :msg
            - if v != {"tags"=>[], "sender"=>nil, "template"=>nil}
              .webhook-content-item
                .content-item-label Status
                - if v["state"].to_sym == :sent
                  .content-item-value.success
                    = v["state"].capitalize
                - else
                  .content-item-value.failed
                    = v["state"].capitalize

              .webhook-content-item
                .content-item-label Subject
                .content-item-value.neutral
                  = v["subject"]

              .webhook-content-item
                .content-item-label Email
                .content-item-value.personal
                  = v["email"]

              .webhook-content-item
                .content-item-label Sender
                .content-item-value
                  = v["sender"]

- elsif webhook.content["mandrill_events"].first["event"].to_sym == :click
  .webhook-card{"data-filtertarget": "mandrill"}
    .d-flex-start.fullheader
      .inline-svg
        = svg("#{webhook.logo}")
      .webhook-card-header
        = webhook.service.downcase.capitalize
        .webhook-description
          = webhook.description

    .event-time-container
      .webhook-time-label
        Evènement déclenché le
      .webhook-time
        = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
      .point-delimiter
      .webhook-time-label
        Event
      .webhook-time
        = webhook.action.capitalize

    .webhook-card-content
      - if webhook.content["mandrill_events"].size > 1
        .webhook-content-item
          .content-item-label Message envoyés
          .content-item-value.neutral
            = "#{webhook.content['mandrill_events'].size}"

      - webhook.content["mandrill_events"].each do |item|
        - item.each do |k,v|
          - if k.to_sym == :msg
            - if v != {"tags"=>[], "sender"=>nil, "template"=>nil}
              .webhook-content-item
                .content-item-label Status
                - if v["state"].to_sym == :sent
                  .content-item-value.success
                    = v["state"].capitalize
                - else
                  .content-item-value.failed
                    = v["state"].capitalize

              .webhook-content-item
                .content-item-label Subject
                .content-item-value.neutral
                  = v["subject"]

              .webhook-content-item
                .content-item-label Email
                .content-item-value.personal
                  = v["email"]

              .webhook-content-item
                .content-item-label Sender
                .content-item-value
                  = v["sender"]
