.webhook-card{"data-filtertarget": "nexmo"}
  .d-flex-start.fullheader
    .inline-svg
      = svg("#{webhook.logo}")
    .webhook-card-header
      = webhook.service.downcase.capitalize
      .webhook-description
        = webhook.description

  .event-time-container
    .webhook-time-label
      Evènement déclenché le
    .webhook-time
      = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
    .point-delimiter
    .webhook-time-label
      Event
    .webhook-time
      = webhook.action.capitalize


  .webhook-card-content
    .webhook-content-item
      .content-item-label Status
      - if webhook.content["status"].to_sym == :delivered
        .content-item-value.success
          = webhook.content["status"].capitalize
        .inline-svg.success-checked
          = svg("round-check")
      - else
        .content-item-value.failed
          = webhook.content["status"].capitalize
    .webhook-content-item
      .content-item-label To
      .content-item-value.neutral
        = french_phone(webhook.content["msisdn"])
    .webhook-content-item
      .content-item-label From
      .content-item-value
        = webhook.content["to"]
    .webhook-content-item
      .content-item-label Price
      .content-item-value
        = sms_price(webhook.content["price"])
