.webhook-card{"data-filtertarget": "typeform"}
  .d-flex-start.fullheader
    .inline-svg
      = svg("#{webhook.logo}")
    .webhook-card-header
      = webhook.service.downcase.capitalize
      .webhook-description
        = webhook.description

  .event-time-container
    .webhook-time-label
      Evènement déclenché le
    .webhook-time
      = "#{l(webhook.created_at, format: :medium_shortest)} à #{l(webhook.created_at, format: :time_without_seconds)}"
    .point-delimiter
    .webhook-time-label
      Event
    .webhook-time
      = webhook.action.capitalize

  .webhook-card-content
    .webhook-content-item
      .content-item-label
        = "Renter"
      .content-item-value.neutral-bold
        = "#{webhook.content['first_name']} #{webhook.content['last_name']} (#{age_calculation(webhook.content['birthdate'])} ans)"

    .webhook-content-item
      .content-item-label
        = "Reference"
      .content-item-value.neutral
        = webhook.content['reference']

    .webhook-content-item
      .content-item-label
        = "Phone"
      .content-item-value.neutral
        = french_phone(webhook.content['phone'])

    .webhook-content-item
      .content-item-label
        = "Email"
      .content-item-value.neutral
        = webhook.content['email']

    .webhook-content-item
      .content-item-label
        = "Form id"
      .content-item-value.neutral
        = webhook.content["form_id"]

    .webhook-content-item
      .content-item-label
        = "Agency name"
      .content-item-value.neutral
        = webhook.content["agency_name"]

    .webhook-content-item
      .content-item-label
        = "Agency email"
      .content-item-value.neutral
        = webhook.content["agency_mail"]

    .webhook-content-item
      .content-item-label
        = "Agency phone"
      .content-item-value.neutral
        = webhook.content["agency_phone"]



