.container
  = simple_form_for @pdf_property do |f|
    = f.input :agency_id, as: :hidden, input_html: {value: current_agency.id.to_s}
    .row
      .col-xs-12.col-md-6
        = f.input :name, placeholder: "Nom", label: false
      .col-xs-12.col-md-6
        = f.input :status, placeholder: "Status", label: false

      .outter-photo-container
        .upload-photos-container
          .upload-top
            .top-title
              Fichier pdf
            %label.bcs-button-sm
              Choisir un fichier
              %span{style:"display:none;"}
                = f.file_field :photo, onchange: "previewFile()"
                = f.hidden_field :photo_cache
          .upload-bottom
      .col-xs-12
        .d-flex-center.mt-25.mb-25
          = f.button :submit, value: "Envoyer le pdf", class: "bcs-button-sm"
