- if @post.meta_title
  - title @post.meta_title
- if @post.meta_desc
  - meta_description("Bientôt Chez Soi - " + @post.meta_desc)
- facebook_meta_url(post_path(cat_lname: @post.blog_category.lname, lname: @post.lname))


- if @post.photo_url
  - facebook_meta_image("#{@post.photo_url}")
- else
  - facebook_meta_image("https://cdn.bientotchezsoi-dev.com/images/photo_fillette.jpg")

- facebook_meta_title(@post.meta_title)
- if @post.content
  - facebook_meta_description(strip_tags(@post.content).encode('UTF-8').truncate(100).html_safe)



%section.blog-categories
  .left-section
    .content
      .photo{style:"background-image: url('#{@post.photo_url if @post.photo_url}');"}
        %h1.title
          = @post.name.upcase
      .post-title
        = @post.title
      = @post.content.html_safe if @post.content
      .d-flex-center.mt-50.bold.social-content
        %P Partagez cet article
        = social_share_button_tag(@post.title)
  .right-section.hidden-xs
    .content
      .small-header
        Catégories
      - @blog_categories.each do |cat|
        .blog-link-container
          = link_to cat.name.capitalize, blog_category_path(lname: cat.lname), class: 'blog-category-link'
    .content
      .small-header
        Articles récents
      - @last_five_posts.each do |post|
        .blog-link-container
          = link_to post.name.truncate(50).capitalize, post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: 'blog-category-link'
    .content
      .small-header
        Rejoignez-nous
      .social-links
        = link_to 'https://www.facebook.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

        = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

        = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

        = link_to 'https://www.instagram.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'
    .content
      .small-header
        Tags
      .tags-container
        - @tags.each do |tag|
          = link_to blog_tag_path(tag_lname: tag.downcase.parameterize) do
            .tag
              = tag.capitalize

  .right-section.mobile.visible-xs
    .content
      .small-header
        Catégories
      - @blog_categories.each do |cat|
        .blog-link-container
          = link_to cat.name.capitalize, blog_category_path(lname: cat.lname), class: 'blog-category-link'
    .content
      .small-header
        Articles récents
      - @last_five_posts.each do |post|
        .blog-link-container
          = link_to post.name.truncate(50).capitalize, post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: 'blog-category-link'
    .content
      .small-header
        Rejoignez-nous
      .social-links
        = link_to 'https://www.facebook.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

        = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

        = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

        = link_to 'https://www.instagram.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'
    .content
      .small-header
        Tags
      .tags-container
        - @tags.each do |tag|
          = link_to blog_tag_path(tag_lname: tag.downcase.parameterize) do
            .tag
              = tag.capitalize


