%section.blog-categories
  .left-section
    .page-header
      = "Tag /"
      %strong
        = "#{@tag.capitalize}"
      %small
        = "#{pluralize(@filtered_posts.size, "Article", "Articles")}"


    - @filtered_posts.each do |post|
      .post-horizontal-card
        = link_to post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: "photo-link" do
          .left-content{style: "background-image: url('#{post.photo_url if post.photo_url}');"}
        .right-content
          %h5
            = link_to post_path(cat_lname: post.blog_category.lname, lname: post.lname) do
              = post.name.upcase
          .infos
            %small
              = "Par "
            %small.strong
              - if post.author
                = link_to author_path(author_name: post.author.parameterize) do
                  = "#{post.author}"
            %small
              = "le #{l(post.created_at, format: :short)} | "
            %small.green
              = post.category_name.capitalize
          %p
            = post.title.truncate(180) if post.title
  .right-section.hidden-xs
    .content
      .small-header
        Catégories
      - @blog_categories.each do |cat|
        .blog-link-container
          = link_to cat.name.capitalize, blog_category_path(lname: cat.lname), class: 'blog-category-link'
    .content
      .small-header
        Articles récents
      - @last_five_posts.each do |post|
        .blog-link-container
          = link_to post.name.truncate(50).capitalize, post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: 'blog-category-link'
    .content
      .small-header
        Rejoignez-nous
      .social-links
        = link_to 'https://www.facebook.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

        = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

        = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

        = link_to 'https://www.instagram.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'
    .content
      .small-header
        Tags
      .tags-container
        - @tags.each do |tag|
          = link_to blog_tag_path(tag_lname: tag.parameterize) do
            .tag
              = tag.capitalize

  .right-section.mobile.visible-xs
    .content
      .small-header
        Catégories
      - @blog_categories.each do |cat|
        .blog-link-container
          = link_to cat.name.capitalize, blog_category_path(lname: cat.lname), class: 'blog-category-link'
    .content
      .small-header
        Articles récents
      - @last_five_posts.each do |post|
        .blog-link-container
          = link_to post.name.truncate(50).capitalize, post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: 'blog-category-link'
    .content
      .small-header
        Rejoignez-nous
      .social-links
        = link_to 'https://www.facebook.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo'

        = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo'

        = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo'

        = link_to 'https://www.instagram.com/bientotchezsoi/' do
          = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo'
    .content
      .small-header
        Tags
      .tags-container
        - @tags.each do |tag|
          = link_to blog_tag_path(tag_lname: tag.parameterize) do
            .tag
              = tag.capitalize


