.admin-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background-color: rgb(230,230,230);
  .admin-navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:hover .logo {
        transform: rotate(10deg);
      }
    }
    .logo {
      transition: 0.5s;
      background-image: url("https://cdn.bientotchezsoi-dev.com/images/customer-signup-kenotte.svg");
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .logo-text {
      font-family: "Amatic Sc";
      font-weight: bolder;
      font-size: 20px;
      color: $gray;
    }
  }
  .admin-navbar-links-wrapper {
    .admin-navbar-link {
      &:hover {
        background-color: rgba(255,255,255,0.4);
      }
      transition: 0.4s ease;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      a {
        font-size: 14px;
        color: $gray;
        font-weight: normal;
      }
      .active {
        font-weight: bolder;
        letter-spacing: -0.5px;
      }
      .badge {
        background-color: $gray;
        font-size: 10px;
      }
    }
  }
}
