.comments-container {
  margin-bottom: 50px;
  .comments-header {
    font-size: 18px;
    font-weight: 600;
    color: $gray;
    margin: 25px 0;
  }
  .comment-item {
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: rgb(250,250,250);
    border-radius: 3px;
    margin-bottom: 8px;
    .comment-created-date {
      font-weight: 600;
      font-size: 10px;
      color: rgb(160,160,160);
      margin-right: 4px;
    }
    .separator {
      height: 14px;
      border-left: 1px solid rgb(180,180,180);
      margin: 0 15px;
    }
    .comment-author {
      font-weight: 600;
      color: $green;
      font-size: 10px;
    }
    .comment-index {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid $green;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      color: $green;
      font-size: 10px;
      margin-right: 6px;
    }
    .comment-body {
      flex: 1;
      padding-right: 10px;
      font-size: 12px;
      color: rgb(100,100,100);
    }
    .comment-links {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}



.empty-demand-comment {
  font-weight: 600;
  color: $gray;
}
