.admin-custom-tabs {
  ul.nav.nav-tabs {
    font-weight: 600;
    li > a {
      color: rgb(150,150,150);
    }
    li.active > a {
      color: rgb(20,20,20);
    }
  }
  .custom-tabs-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    h5 {
      margin-right: 6px;
    }
  }
}
