table.pending-demand {
  td {
    font-weight: 600;
    font-size: 12px;
  }
  .green-text {
    color: $green;
  }
}

table.validated-demand {
  td {
    font-weight: 600;
    font-size: 12px;
  }
  .green-text {
    color: $green;
  }
}

.multiple-delete-size-container {
  font-size: 12px;
  font-weight: 600;
  color: $dark-red;
}

.colored-tr {
  background-color: lighten($dark-red,20%);
  padding: 10px 0;
}


th.sort {
  cursor: pointer;
  &:after {
    content: '\f0d7';
    height: 100%;
    font-family: FontAwesome !important;
    font-size: 13px;
    margin-left: 5px;
    padding-top: 3px;
  }
}




form.edit_demand {
  label.free {
    margin: 10px 0;
  }
  fieldset.demand_deactivation_reason {
    margin-bottom: 10px;
    legend {
      display: none;
    }
  }
  .collection_radio_buttons {
    font-weight: 400;
    &:before {
      border-radius: 50%;
    }
  }
}


.mb-10 {
  margin-bottom: 10px;
}







