.dashboard-agency-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  .filter-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    &.active {
    }
    .filter-trigger {
      font-size: 12px;
      font-weight: 800;
      margin-top: 6px;
      cursor: pointer;
      &.active {
        color: $dark-red;
      }
    }
  }
}
