form#new_agency {
  margin-bottom: 150px;
  input.form-control {
    height: 44px;
    box-shadow: none;
    font-weight: bolder;
    &:focus {
      outline: none;
      border: 2px solid $green;
      box-shadow: none;
    }
    &.password {
    }
  }
  label.form-control-label {
    font-size: 16px;
    font-weight: normal;
    color: $gray;
  }
  label.form-check-label {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 12px;
    width: 170px;
  }
}


.input-hint {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -14px;
  font-weight: 600;
  font-size: 11px;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid rgb(220,220,220);
  border-right: 1px solid rgb(220,220,220);
  border-left: 1px solid rgb(220,220,220);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: darken($green,10%);
  .fa {
    margin-right: 3px;
    font-size: 16px;
  }
}


.form-group.agency_min_price {
  position: relative;
  &:after {
    content: "€";
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    right: 0;
    top: 0;
  }
}


section.test-api-connect {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  padding: 100px 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 69px);
  .success-authentification {
    display: flex;
    align-items: center;
    justify-content: center;
    .success-text {
      font-size: 1.7rem;
      font-weight: 600;
      color: rgb(80,80,85);
    }
  }
  .fields-wrapper {
    margin: 50px 0;
  }
  h1, h2, h3, h4, h5 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 600;
    margin: 0;
  }
  form {
    .form-group {
      margin: 0 10px;
      height: 42px;
    }
    input[type="email"], input[type="password"] {
      border: none;
      border-bottom: 2px solid rgb(210,210,210);
      border-radius: 0;
      padding-left: 4px;
      font-weight: 500;
      &::placeholder {
        font-weight: 500;
        color: rgb(120,120,120);
      }
    }
  }
}








