form.bcs-api-form-request {
  button {
    border: none;
    background-color: transparent;
  }
  .flux-icon {
    margin: 0 15px;
  }
  .full-height {
    height: 100%;
    display: flex;
    align-items: center;
    color: #3f3b49;
    justify-content: center;
    font-size: 1.7rem;
    letter-spacing: -0.7px;
    margin-left: 15px;
    margin-right: 15px;
    .bold {
      letter-spacing: -0.7px;
    }
  }
  position: fixed;
  top: 70px;
  left: 0;
  font-family: "Cerebri Sans";
  border-bottom: 1px solid lightblue;
  display: flex;
  align-items: center;
  .form-control {
    height: 50px !important;
    margin: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom: none;
    border-top: none;
    border-color: lightblue;
  }
  .search-item {
    input:focus {
      border-width: 1px;
    }
    select:focus {
      border-width: 1px;
    }
    flex: 1;
    input::placeholder {
      color: #3f3b49;
    }
    &:first-child {
      input {
      }
    }
    &:last-child {
      select {
        border-right: 1px solid lightblue;
      }
    }
  }
}

.api-return-items {
  font-family: "Cerebri Sans";
  padding-top: 150px;
  .item-header {
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: -0.3px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .item-status-code {
    position: absolute;
    right: 45px;
    border-radius: 3px;
    font-size: 1.3rem;
    top: 16px;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0 6px;
    background-color: deepskyblue;
    color: rgba(255,255,255,0.85);
    font-weight: 600;
  }
  .heating-full-item {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: white;
    color: rgb(70,70,75);
    font-size: 1.55rem;
    padding-left: 10px;
    letter-spacing: -0.3px;
    .spec {
      margin-right: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding-left: 10px;
      padding-bottom: 10px;
      padding-top: 8px;
      border-left: 1px solid rgb(230,230,235);
      .bold {
        margin-right: 5px;
      }
      .colored {
        font-weight: 700;
        color: deepskyblue;
      }
    }
    .inline-svg {
      margin-right: 10px;
    }
  }
  .item-equipments {
    display: flex;
    align-items: center;
    .equipment-item {
      display: flex;
      align-items: center;
      margin-right: 10px;
      padding: 5px 9px;
      font-size: 1.55rem;
      font-weight: 600;
      border-radius: 3px;
      background-color: rgb(220,220,235);
      color: rgb(70,70,75);
      letter-spacing: -0.3px;
      .inline-svg {
        margin-right: 6px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .request-recap-container {
    position: fixed;
    top: 121px;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(200,200,210);
    background-color: white;
    padding: 0 50px;
    display: flex;
    align-items: center;
    .request-right-block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      .current-page {
        font-size: 1.1rem;
        font-weight: 700;
        padding: 4px 8px;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 50px;
        background-color: lightslategray;
        margin-right: 10px;
      }
    }
    .request-left-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 2;
    }
    .api-status {
      font-size: 1.1rem;
      font-weight: 700;
      padding: 4px 8px;
      color: rgba(255,255,255,0.9);
      border-radius: 50px;
      background-color: darken(lightgreen,10%);
    }
    .criteria {
      padding: 2px 8px;
      border: 1px solid rgb(230,230,240);
      border-radius: 3px;
      letter-spacing: -0.4px;
      border-radius: 3px;
      color: slategray;
      margin-right: 20px;
      .inline-svg {
        margin-top: 2px;
        margin-right: 5px;
        &.black {
          svg {
            fill: rgb(80,80,85);
          }
        }
        &.green {
          svg {
            fill: darken(lightgreen,10%);
          }
        }
        &.red {
          svg {
            fill: tomato;
          }
        }
        svg {
          width: 13px;
          height: 13px;
        }
      }
      .key-value {
        margin-right: 5px;
      }
      .value {
        font-weight: 700;
        font-size: 1.3rem;
        color: rgb(160,160,180);
      }
    }
  }
  .error {
    font-weight: 200;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 170px);
    position: relative;
    top: -100px;
  }
  .result-count {
    font-size: 2.3rem;
    letter-spacing: -0.7px;
    margin-right: 15px;
    font-weight: 800;
    color: slategray;
    display: flex;
    align-items: center;
    .thin {
      font-weight: 200;
      font-size: 1.7rem;
      margin-left: 8px;
    }
  }
  .results-criterias {
    display: flex;
    align-items: center;
    .criteria {
      font-size: 1.3rem;
      margin-right: 8px;
      display: flex;
      align-items: center;
    }
  }
}


table.table.custom-table {
  thead {
    tr {
      th {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: -0.2px;
        color: black;
      }
    }
  }
  tbody {
    tr {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: -0.3px;
      td {
        padding: 12px;
        border-top: 1px solid rgb(225,225,230) !important;
        vertical-align: middle;
      }
    }
    .dpe-block {
      .dpe-class {
        width: 23px;
        height: 23px;
        border-radius: 4px;
        font-size: 1.35rem;
        font-weight: 800;
        font-family: "Cerebri Sans";
      }
    }
    .transparent-circle {
      width: 32px;
      height: 32px;
    }
    .surface {
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: -0.6px;
      color: tomato;
    }
    .bold-text {
      font-weight: 800;
      letter-spacing: -0.4px;
    }
    .thin-text {
      font-size: 1.8rem;
      font-weight: 300;
    }
    .prop-type {
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: -0.7px;
    }
    .status-code {
      font-size: 1.2rem;
      letter-spacing: -0.4px;
      font-weight: 800;
      color: lightblue;
    }
    .inline-svg {
      border-radius: 50%;
      border: 1px solid rgb(200,200,210);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      width: 32px;
      height: 32px;
      &.no-border {
        border: none;
        svg {
          width: 20px;
          height: 20px;
          stroke: lightgreen;
          fill: lightgreen;
        }
      }
      svg {
        width: 65%;
        height: 60%;
      }
    }
  }
}









