$a-grade: rgb(74,181,172);
$b-grade: rgb(123,206,196);
$c-grade: rgb(157,223,215);
$d-grade: rgb(122,143,225);
$e-grade: rgb(98,120,205);
$f-grade: rgb(63,82,179);

.grade-scoring-container {
  font-family: "Cerebri Sans";
  .scoring-item {
    color: white;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 8px 0;
    line-height: 1;
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.active {
      padding: 10px 16px;
      border-radius: 4px;
      font-size: 1.55rem;
    }
  }
}


.a-grade {
  background-color: $a-grade;
}
.b-grade {
  background-color: $b-grade;
}
.c-grade {
  background-color: $c-grade;
}
.d-grade {
  background-color: $d-grade;
}
.e-grade {
  background-color: $e-grade;
}
.f-grade {
  background-color: $f-grade;
}








$personality-blue: rgb(141,149,197);
$personality-red: rgb(235,180,162);

.personality-pdf-container {
  width: 100%;
  font-family: "Cerebri Sans";
  .personality-left-block {
    width: 50%;
    padding: 10px;
  }
  .personality-right-block {
    width: 50%;
    padding: 10px;
  }
  .personality-item {
    width: 100%;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:first-child {
      margin-bottom: 20px;
    }
    .personality-title {
      font-weight: 500;
      font-size: 1.4rem;
      margin-bottom: 6px;
    }
    .personality-percent {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.personality-light-blue {
  background-color: $personality-blue;
}
.personality-blue {
  background-color: darken($personality-blue,20%);
}
.personality-light-red {
  background-color: $personality-red;
}
.personality-red {
  background-color: darken($personality-red,20%);
}

.mb-20 {
  margin-bottom: 20px;
}













