.badge-container {
  font-family: "Cerebri Sans";
}

.badge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border-radius: 4px;
  &:hover {
    .badge-item-absolute-content {
      opacity: 1;
    }
  }
  .badge-item-absolute-content {
    transition: 0.25s;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border: 3px solid $green;
    padding: 15px;
    background-color: rgba(255,255,255,0.9);
  }
  &.inactive {
    opacity: 0.25;
    filter: grayscale(100%);
  }
  .inline-svg {
    svg {
      width: 65px;
      height: 65px;
    }
  }
  h5 {
    font-weight: 300;
    font-size: 1.6rem;
  }
}
