.bcs-advert-fullcontainer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 90px;
  background-color: rgb(255,255,255);
  font-family: -apple-system,BlinkMacSystemFont,Cerebri Sans,Helvetica,Arial,sans-serif;
  padding-left: 90px;
  padding-right: 90px;
  .bcs-advert-prop-title {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-right: 4px;
  }
  .bcs-advert-prop-type {
    font-size: 1.3rem;
    font-weight: 700;
    color: tomato;
  }
}


@media (max-width: 768px) {
  .bcs-advert-fullcontainer {
    padding-left: 20px;
    padding-right: 20px;
    .bcs-advert-prop-type {
      display: none;
    }
    .bcs-advert-prop-title {
      font-size: 1.4rem;
    }
    .bcs-advert-prop-type {
      display: none;
    }
    .bcs-advert-close-btn {
      display: none;
    }
  }
}

