.bdv-widget {
  box-shadow: none !important;
  border-radius: 5px;
  border: 1px solid rgba(50,50,55,0.3);
  .bdv-content-page {
    input {
      box-shadow: none !important;
      border: 1px solid rgba(50,50,55,0.3);
    }
    .bdv-widget-input-all-zone {
      box-shadow: none !important;
      border: 1px solid rgba(50,50,50,0.2);
    }
  }
  .bdv-main-container-navigation {
    box-shadow: none !important;
    .bdv-widget-header {
      box-shadow: none !important;
      border-bottom: 1px solid $green;
      #bdv_widget_header_page1 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
      #bdv_widget_header_page2 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
      #bdv_widget_header_page3 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
      #bdv_widget_header_page4 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
      #bdv_widget_header_page5 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
      #bdv_widget_header_page6 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
      #bdv_widget_header_page7 {
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
