.bcs-button-underline {
  text-decoration: underline;
  color: $gray;
  transition: all 1s;
  &:hover {
    color: tomato;
  }
}

.bcs-button {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    color: #3f3b49;
    background-color: #b0c365;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    color: white;
  }
}

.bcs-filters-button-apply-filters {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  color: white;
  padding: 15px;
  font-size: 1.6rem;
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  font-weight: bolder;
  user-select: none;
  width: 100%;
  &:hover {
    color: $green;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.bcs-filters-button-restart-filters {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 0 0 5px 5px;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 15px;
  font-size: 1.2rem;
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  user-select: none;
  width: 100%;
  cursor: pointer;
  &:hover {
    color: $green;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.bcs-button-light {
  background-color: white;
  border: 2px solid $green;
  border-radius: 4px;
  color: $gray;
  padding: 10px 20px;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    background-color: $green;
    color: $gray;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    color: white;
  }
}



input[type='submit'].bcs-button-alt {
  background-color: $gray;
  border: 2px solid $gray;
  border-radius: 4px;
  color: $green;
  padding: 10px 20px;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bolder;
  width: unset;
  margin: 15px;
  &:hover {
    color: $gray;
    background-color: $green;
  }
}

.bcs-button-sm {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bolder;
  user-select: none;
  &:hover {
    color: #3f3b49;
    background-color: #b0c365;
  }
  &:focus {
    outline: none;
  }
}

.blog-button {
  font-size: 30px !important;
}


.bcs-button-sm-special {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 1.8rem;
  transition: 0.3s;
  font-weight: bolder;
  cursor: pointer;
  &:hover {
    border: 2px solid #3f3b49 !important;
    background-color: $green;
    color: #3f3b49 !important;
  }
  &:focus {
    outline: none;
  }
  &:visited {
    color: white;
  }
  &.red {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.v2-bcs-button-gray {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 1.6rem;
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  font-weight: bolder;
  user-select: none;
  &:hover {
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.v2-bcs-button-white {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 1.6rem;
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  font-weight: bolder;
  user-select: none;
  &:hover {
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.bcs-button-sm-special-fullwidth {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bolder;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 2px solid #3f3b49 !important;
    background-color: $green;
    color: #3f3b49 !important;
  }
  &:focus {
    outline: none;
  }
  &:visited {
    color: white;
  }
  &.red {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}


.bcs-button-very-small {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 4px 9px;
  font-size: 12px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    color: #3f3b49;
    background-color: #b0c365;
  }
}

.bcs-button-sm-light {
  background-color: white;
  border: 2px solid $green;
  border-radius: 4px;
  color: $gray;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    background-color: $green;
    color: $gray;
  }
}

.bcs-button-xxs-light {
  background-color: $green;
  border-radius: 4px;
  color: $gray;
  padding: 4px 16px;
  height: 40px;
  font-size: 12px;
  transition: 0.3s;
  font-weight: bolder;
  transition: 0.4s ease;
  border: none !important;
  &:hover {
    opacity: 0.8;
  }
}

.bcs-button-green {
  background-color: $green;
  border: 2px solid $green;
  border-radius: 4px;
  color: white;
  padding: 4px 12px;
  font-size: 15px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    color: $gray;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    color: white;
  }
}


.bcs-button-text {
  font-size: 12px;
  margin-right: 10px;
  text-decoration: underline;
  color: $gray;
  font-weight: bolder;
  transition: 0.4s;
  &:hover {
    color: lighten($gray,20%);
  }
}


.r-straight {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



button.close {
  right: 14px;
  top: 14px;
  font-size: 25px;
}

.modal-header .close {
  right: 14px;
  top: 14px;
  font-size: 25px;
}



.inline-bcs-button {
  margin-left: 5px;
  font-weight: 800;
  color: rgba(255,255,255,0.9);
  &:hover {
    color: #3a421a;
  }
}


.vip-button-gray {
  background-color: $gray;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  border-radius: 2px;
  font-weight: bolder;
  border: none;
  &:hover {
    opacity: 0.8;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.vip-button-gold {
  background-color: #F0DCA5;
  color: $gray;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  border-radius: 2px;
  font-weight: bolder;
  border: none;
  &:hover {
    opacity: 0.8;
    color: $gray;
  }
  &:focus {
    outline: none;
  }
}

.auto-height-btn {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  font-size: 21px;
}

.bcs-button-sm-dark-red {
  background-color: $dark-red;
  border: 2px solid $dark-red;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    color: $light-gray;
    background-color: #3f3b49;
  }
  &:focus {
    outline: none;
  }
}

@media (max-width: 768px) {
  .bcs-button-sm-dark-red {
    font-size: 12px;
  }
}


.bcs-button-light-gray {
  background-color: $light-gray-2;
  border: 2px solid $light-gray-2;
  border-radius: 4px;
  color: $gray;
  padding: 6px 16px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  }
  &:focus {
    outline: none;
  }
}


.social-share-button {
  .ssb-icon {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    border-radius: 50%
  }
}


.disabled-button {
  opacity: 0.7;
  cursor: not-allowed !important;
  transition: 0.4s;
}

.bcs-button-sm-animation-filling {
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  font-size: 1.4rem;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to right, white 50%, #3f3b49 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border: 2px solid #3f3b49;
  &:hover {
    background-position: left bottom;
    color: #3f3b49;
    border: 2px solid #3f3b49;
  }
}

.bcs-button-sm-animation-line {
  position: relative;
  background-color: #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  font-size: 1.4rem;
  transition: 0.5s;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  &.green:hover {
    color: $green;
  }
  &.red:hover {
    color: $dark-red;
  }
  &.width {
    width: 100%;
  }
  &.large {
    font-size: 1.6rem;
  }
  &:hover {
    background-color: transparent;
    color: #3f3b49;
    .line-1 {
      animation: move1 1500ms infinite ease;
    }

    .line-2 {
      animation: move2 1500ms infinite ease;
    }

    .line-3 {
      animation: move3 1500ms infinite ease;
    }

    .line-4 {
      animation: move4 1500ms infinite ease;
    }
  }
}
.line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: #3f3b49;
  left: 0;
  bottom: 0;
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $dark-red;
  }
}
.line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #3f3b49;
  left: 0;
  top: 0;
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $dark-red;
  }
}
.line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: #3f3b49;
  right: 0;
  top: 0;
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $dark-red;
  }
}
.line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #3f3b49;
  right: 0;
  bottom: 0;
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $dark-red;
  }
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}


.v2-bcs-button-sm {
  background-color: #3f3b49;
  border: 2px solid #3f3b49;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  font-size: 1.5rem;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: lighten(#3f3b49,15%);
    border: 2px solid lighten(#3f3b49,15%);
    color: white;
  }
}

.bcs-button-with-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: $green;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  top: 12px;
  right: 15px;
  .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    svg {
      width: 14px;
      height: 14px;
      fill: white;
    }
  }
}


.bcs-semi-transparent-btn {
  background-color: rgba(60,60,60,0.4);
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  letter-spacing: -0.2px;
  font-family: "Cerebri Sans";
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 16px;
  color: white;
  transition: 0.3s;
  &:hover {
    background-color: rgba(60,60,60,0.2);
    color: white;
  }
}

.modern-blue-btn {
  font-weight: 600;
  background-color: dodgerblue;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.5rem;
  &:hover {
    color: white;
  }
}


.modern-black-btn {
  font-weight: 600;
  background-color: rgb(50,50,55);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.5rem;
  &:hover {
    color: white;
  }
}

.modern-blue-btn-sm {
  font-weight: 600;
  background-color: dodgerblue;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.3rem;
}

.modern-green-btn {
  font-weight: 600;
  background-color: darken(lightgreen,20%);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.5rem;
  &:hover {
    color: white;
  }
}

.modern-green-btn-sm {
  font-weight: 600;
  background-color: rgb(35,240,120);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.3rem;
  &:hover {
    color: white;
  }
}

.modern-blue-btn-text-sm {
  font-weight: 600;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: dodgerblue;
  font-size: 1.4rem;
  &:hover {
    color: lighten(dodgerblue,20%);
  }
}

.modern-blue-btn-text-md {
  font-weight: 600;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  color: dodgerblue;
  font-size: 1.6rem;
  position: relative;
  transition: 0.2s;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    border-bottom: 2px solid lighten(dodgerblue,10%);
    transition: 0.2s;
  }
  &:hover {
    color: lighten(dodgerblue,20%);
  }
}

.modern-blue-btn-text-md:hover:before {
  content: '';
  border-bottom: 2px solid lighten(dodgerblue,30%);
}


.modern-blue-btn-fullwidth {
  font-weight: 600;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 46px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.6rem;
}

.modern-black-btn-fullwidth {
  font-weight: 600;
  background-color: rgb(50,50,55);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 46px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 1.6rem;
}


.modern-smooth-btn {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(160,160,170);
  &:hover {
    color: rgb(60,60,70);
  }
}

.btn-fullheight {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e67c5c;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
  padding: 0 20px;
  transition: 0.3s;
  &:hover {
    color: white;
    background-color: darken(#e67c5c,10%);
  }
  &:visited {
    color: white;
  }
}



