.home-card {
  min-height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeaea;
  border-radius: 2px;
  margin: 10px;
  padding: 25px;
  img {
    height: 80px;
    margin-bottom: 20px;
  }
  .title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    color: #3f3b49;
  }
  .content {
    font-size: 16px;
    color: #3f3b49;
    font-weight: lighter;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}




.blog-card {
  min-height: 440px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  &.shadowed {
    box-shadow: 0 5px 18px rgba(100,100,100,0.1);
  }
  .top-section {
    height: 230px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    cursor: pointer;
    .absolute-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(255,255,255,0.8);
      transition: 0.3s;
    }
  }
  .top-section:hover {
    .absolute-layout {
      opacity: 1;
    }
  }
  .bottom-section {
    flex: 1;
    width: 100%;
    background-color: white;
    padding: 20px;
    h4 {
      margin: 5px 0;
      font-family: "Open Sans";
      font-weight: bolder;
      font-size: 16px;
    }
    p {
      font-size: 16px;
      color: rgb(70,70,70);
      margin-top: 20px;
      line-height: 26px;
    }
    small.strong {
      font-weight: bolder;
      margin-left: 4px;
    }
    .card-category {
      color: $green;
      font-weight: bolder;
      a {
        color: $green;
      }
    }
    .blog-card-link {
      color: $green;
      margin: 5px 0;
      font-size: 16px;
    }
  }
}



.blog-card.vip {
  min-height: 440px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  &.shadowed {
    box-shadow: 0 5px 18px rgba(100,100,100,0.1);
  }
  .top-section {
    height: 230px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    cursor: pointer;
    .absolute-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(255,255,255,0.8);
      transition: 0.3s;
    }
  }
  .top-section:hover {
    .absolute-layout {
      opacity: 1;
    }
  }
  .bottom-section {
    flex: 1;
    width: 100%;
    background-color: lighten($gray,10%);
    padding: 20px;
    h4 {
      margin: 5px 0;
      font-family: "Open Sans";
      font-weight: bolder;
      font-size: 16px;
      color: white;
    }
    p {
      font-size: 16px;
      color: rgb(70,70,70);
      margin-top: 20px;
      line-height: 26px;
      color: white;
    }
    small {
      font-weight: 600;
      margin-left: 4px;
      color: #F0DCA5;
    }
    .card-category {
      color: #D4A763;
      font-weight: bolder;
      a {
        color: #D4A763;
      }
    }
    .blog-card-link {
      color: #F0DCA5;
      font-weight: 600;
      margin: 5px 0;
      font-size: 16px;
    }
  }
}



.testimonial-card {
  min-height: 320px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    padding: 25px;
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    padding: 25px;
    h4 {
      margin: 0;
      font-family: "Open Sans";
      margin-bottom: 5px;
    }
  }
  .logo-absolute-container {
    position: absolute;
    width: 100%;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .quote-logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid rgb(60,60,60);
      color: rgb(60,60,60);
      font-size: 30px;
      background-color: $light-gray;
    }
  }
}


.partner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  h4 {
    font-family: 'Open Sans';
    font-weight: bolder;
    margin-top: 20px;
  }
  .partner-card-photo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: center center;
  }
  .partner-card-photo-wider {
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 80px;
    background-position: center center;
  }
}

.job-card {
  display: flex;
  min-height: 360px;
  flex-direction: column;
  align-items: center;
  background-color: $light-gray;
  border-radius: 2px;
  margin: 10px;
  padding: 25px;
  img {
    height: 80px;
    margin-bottom: 20px;
  }
  .title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    color: $gray;
    text-align: center;
  }
  .content {
    font-size: 16px;
    color: $gray;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
  }
}


.services-card {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  color: #3f3b49;
  border-radius: 2px;
  margin: 15px;
  .top-section {
    height: 120px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: white;
  }
  .bottom-section {
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    strong {
      font-size: 15px;
    }
    p {
      font-size: 16px;
      margin: 0;
      margin-top: 10px;
    }
  }
}


.services-card-transparent {
  display: flex;
  flex-direction: column;
  color: #3f3b49;
  border-radius: 2px;
  margin: 15px;
  .top-section {
    height: 80px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: white;
  }
  .bottom-section {
    margin-top: 18px;
    box-sizing: border-box;
    text-align: center;
    strong {
      font-size: 16px;
      letter-spacing: -0.4px;
    }
    p {
      font-size: 15px;
      margin: 0;
      margin-top: 10px;
      font-weight: 600;
      padding: 0 10px;
      opacity: 0.8;
    }
  }
}

/////////////////////////// NEW HOME ///////////////////////////

section.home-section-v4 {
  .first-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 30px 0 50px 0;
    .first-card {
      width: 100%;
      padding-right: 10px;
      .les-plus {
        height: 100%;
        width: 100%;
        padding: 25px;
        background-color: $light-gray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header-start-visible {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Open Sans", sans-serif;
          font-size: 3.4rem;
          font-weight: bolder;
        }
        .header-start-hidden {
          display: none;
        }
        .content-les-plus {
          display: flex;
          flex-direction: column;
          .content {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            font-family: "Open Sans", sans-serif;
            .small-left-icon {
              width: 60px;
              margin-right: 16px;
            }
            .how-it-works-item-content {
              color: #575265;
              font-size: 1.8rem;
              font-weight: normal;
              letter-spacing: -0.1px;
            }
            .how-it-works-item-content-hidden {
              display: none;
              color: #575265;
              font-size: 1.6rem;
              font-weight: normal;
              letter-spacing: -0.1px;
            }
          }
        }
        .bottom-link-see-all {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    .second-card {
      width: 100%;
      padding-left: 10px;
      .estimation {
        height: 100%;
        width: 100%;
        background-color: rgba(176, 195, 101, 0.8);
        border-radius: 5px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header-start {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Open Sans", sans-serif;
          font-size: 3.4rem;
          font-weight: bolder;
        }
        .content-estimation {
          display: flex;
          align-items: center;
          .kenotte-estimation {
            width: 120px;
            height: 120px;
            margin-right: 16px;
          }
          .how-it-works-content {
            color: #575265;
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: -0.1px;
          }
        }
        .form-estimation {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          #estimation-place-input {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  section.home-section-v4 {
    .first-cards-container {
      .header-start-visible {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 990px) {
  section.home-section-v4 {
    .first-cards-container {
      flex-direction: column;
      .first-card {
        padding: 0 0 10px 0 !important;
        .header-start-visible {
          justify-content: center !important;
        }
      }
      .second-card {
        padding: 10px 0 0 0 !important;
        .header-start {
          justify-content: center !important;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  section.home-section-v4 {
    .first-card {
      .header-start-visible {
        display: none !important;
      }
      .header-start-hidden {
        display: flex !important;
        align-items: center;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
        font-size: 3.4rem;
        font-weight: bolder;
        padding-bottom: 20px;
      }
      .small-left-icon {
        width: 50px !important;
      }
      .how-it-works-item-content-hidden {
        display: block !important;
      }
      .how-it-works-item-content {
        display: none !important;
      }
      .bottom-link-see-all {
        padding-top: 20px;
      }
    }
    .second-card {
      .content-estimation {
        position: relative;
        .how-it-works-content {
          font-size: 1.6rem !important;
        }
        .kenotte-estimation {
          position: absolute;
          width: 60px !important;
          bottom: -205%;
        }
      }
    }
  }
}

.services-card-transparent-v4 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 2px;
  margin: 15px;
  .top-section {
    height: 120px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: white;
  }
  .bottom-section {
    margin-top: 18px;
    box-sizing: border-box;
    text-align: center;
    strong {
      font-size: 1.8rem;
      letter-spacing: -0.4px;
      color: $dark-red;
    }
    p {
      font-size: 1.6rem;
      margin: 0;
      margin-top: 10px;
      font-weight: 600;
      padding: 0 10px;
      color: #3f3b49;
      opacity: 0.8;
    }
  }
}

.services-card-container-v4 {
  margin-bottom: 50px;
  .grid-block-content {
    display: none;
  }
}

@media (max-width: 768px) {
  .services-card-container-v4 {
    .grid-block-content {
      display: block;
    }
  }
}
.grid-block-content-hidden {
  display: none;
}

section.home-section-v4 {
  .second-cards-header {
    display: flex;
    justify-content: flex-start;
    color: $green;
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .second-cards-header-hidden {
    display: none;
    color: $green;
    font-weight: bolder;
    font-size: 3.2rem;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .second-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    .first-card {
      width: 50%;
      padding-right: 10px;
      .seller {
        height: 100%;
        width: 100%;
        background-color: rgba(230, 124, 92, 0.8);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
      }
    }
    .second-card {
      width: 50%;
      padding: 0 10px;
      .renovation {
        height: 100%;
        width: 100%;
        background-color: rgba(176, 195, 101, 0.8);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
      }
    }
    .third-card {
      width: 50%;
      padding-left: 10px;
      .ambassador {
        height: 100%;
        width: 100%;
        background-color: rgba(63, 59, 73, 0.8);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      .vente-svg, .renov-svg, .ambassadeur-svg {
        width: 180px;
        height: 140px;
      }
    }
    .header {
      display: flex;
      text-align: center;
      font-weight: bolder;
      font-family: "Open Sans", sans-serif;
      font-size: 2rem;
    }
    .content {
      display: flex;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 990px) {
  section.home-section-v4 {
    .second-cards-header {
      justify-content: center !important;
    }
    .second-cards-container {
      flex-direction: column;
      .first-card {
        width: 100% !important;
        padding: 10px 0 !important;
      }
      .second-card {
        width: 100% !important;
        padding: 10px 0 !important;
      }
      .third-card {
        width: 100% !important;
        padding: 10px 0 !important;
      }
    }
  }
}

@media (max-width: 768px) {
  section.home-section-v4 {
    .second-cards-header {
      font-size: 3.4rem !important;
    }
  }
}

@media (max-width: 440px) {
  section.home-section-v4 {
    .second-cards-header {
      display: none;
    }
    .second-cards-header-hidden {
      display: flex !important;
      justify-content: center !important;
    }
  }
}

section.home-section-v4 {
  .third-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    .first-card {
      width: 50%;
      padding-right: 10px;
      .gift {
        height: 100%;
        width: 100%;
        background-color: $light-gray;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        .left {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 5px 0 0 5px;
          flex: 1;
        }
        .right {
          height: 100%;
          flex: 3;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-family: "Open Sans", sans-serif;
          .sup-header {
            display: flex;
            color: $dark-red;
            font-size: 2.5rem;
            font-weight: bolder;
          }
          .sub-header {
            display: flex;
            color: $gray;
            font-size: 2.5rem;
            font-weight: bolder;
          }
          .content {
            display: flex;
            color: $gray;
            font-size: 1.6rem;
            margin-top: 15px;
          }
        }
      }
    }
    .second-card {
      width: 50%;
      padding-left: 10px;
      .news {
        height: 100%;
        width: 100%;
        background-color: $light-gray-2;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .top {
          width: 100%;
          background-color: rgba(230, 124, 92, 0.8);
          border-radius: 5px 5px 0 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 15px;
          svg {
            height: 100%;
            width: 10%;
            fill: white;
            margin-right: 16px;
          }
          .header {
            display: flex;
            align-self: end;
            font-size: 2.4rem;
            font-weight: bolder;
            font-family: "Open Sans", sans-serif;
          }
        }
        .bottom {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .images-top-container, .images-between-container, .images-bottom-container {
            height: 100%;
            width: 100%;
            display: flex;
            padding: 10px;
          }
          .image {
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            flex: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 440px) and (max-width: 990px) {
  section.home-section-v4 {
    .third-cards-container {
      flex-direction: column;
      .first-card, .second-card {
        width: 100%;
        padding: 10px 0 !important;
      }
      .first-card .gift .right {
        .sup-header, .sub-header {
          font-size: 3.4rem !important;
        }
        .content {
          font-size: 1.8rem;
        }
      }
      .second-card .news .top .header {
        font-size: 3.4rem !important;
      }
      .second-card .news .bottom {
        height: 250px !important;
      }
    }
  }
}

@media (max-width: 440px) {
  section.home-section-v4 {
    .third-cards-container {
      flex-direction: column;
      .first-card, .second-card {
        width: 100%;
        padding: 10px 0 !important;
      }
      .first-card .gift .right {
        .sup-header, .sub-header {
          font-size: 2.2rem !important;
        }
        .content {
          font-size: 1.4rem;
        }
      }
      .first-card .gift .left {
        display: none;
      }
      .second-card .news .top .header {
        font-size: 1.8rem !important;
      }
      .second-card .news .bottom {
        height: 250px !important;
      }
    }
  }
}

section.home-section-v4 {
  .fourth-cards-header {
    display: flex;
    justify-content: flex-start;
    color: $green;
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
  }
  .fourth-cards-container {
    margin-bottom: 50px;
    height: 600px;
    display: flex;
    align-items: stretch;
    .left-container {
      flex: 1;
      padding-right: 10px;
      .vertical-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgba(63, 59, 73, 0.7);
        border-radius: 5px;
        .top {
          flex: 1;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 5px 5px 0 0;
        }
        .bottom {
          flex: 1;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
        }
      }
    }
    .right-container {
      flex: 2;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      .top-item {
        flex: 1;
        padding-bottom: 10px;
        .left {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 5px 0 0 5px;
        }
      }
      .bottom-item {
        flex: 1;
        padding-top: 10px;
        .right {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 0 5px 5px 0;
        }
      }
      .horizontal-card {
        display: flex;
        background-color: rgba(63, 59, 73, 0.7);
        height: 100%;
        width: 100%;
        border-radius: 5px;
        .left {
          flex: 1;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
        }
        .right {
          flex: 1;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
        }
      }
    }
    .title {
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
    }
    .content {
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem;
    }
    .content-hidden {
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
      display: none;
    }
    .inline-svg svg {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}

@media (min-width: 440px) and (max-width: 990px) {
  section.home-section-v4 {
    .fourth-cards-header {
      justify-content: center !important;
    }
    .fourth-cards-container {
      height: 450px !important;
      .content {
        display: none;
      }
      .content-hidden {
        display: block !important;
      }
      .title {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 440px) {
  section.home-section-v4 {
    .fourth-cards-header {
      justify-content: center !important;
      font-size: 2.6rem;
    }
    .fourth-cards-container {
      height: 900px !important;
      flex-direction: column;
      .content {
        display: none;
      }
      .content-hidden {
        display: block !important;
      }
      .title {
        font-size: 1.6rem;
      }
      .left-container, .right-container {
        padding: 10px 0 !important;
        height: 300px;
      }
      .title {
        font-size: 1.4rem;
      }
      .bottom, .left, .right {
        padding: 15px !important;
      }
    }
  }
}

/////////////////////////// END ///////////////////////////



.motivation-card {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 15px;
  .separator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .separator {
      width: 50px;
      border: 1px solid $gray;
      margin: 15px 0;
    }
  }
  h4 {
    color: $gray;
    margin: 0;
    font-size: 14px;
    margin: 0;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bolder;
  }
  p {
    color: $gray;
    text-align: center;
    margin: 0;
  }
}

.post-horizontal-card {
  display: flex;
  align-items: stretch;
  position: relative;
  padding: 20px;
  margin-bottom: 25px;
  min-height: 200px;
  .absolute-text {
    position: absolute;
    bottom: 102%;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    color: $border-gray;
  }
  a.photo-link {
    min-width: 200px;
    height: 180px;
    .left-content {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }
  .left-content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .right-content {
    width: 70%;
    padding-left: 20px;
    h5 {
      color: $gray;
      font-weight: bolder;
      font-size: 16px;
      a {
        color: $gray;
      }
    }
    p {
      line-height: 26px;
      font-size: 16px;
      color: lighten($gray, 10%);
      text-align: justify;
    }
    .infos {
      margin-bottom: 20px;
      small {
        font-size: 16px;
        color: lighten($gray, 20%);
        &.strong {
          font-weight: bolder;
          a {
            color: $green;
            &:hover {
              border-bottom: 2px solid $green;
            }
          }
        }
        &.green {
          color: $green;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .post-horizontal-card {
    flex-direction: column;
    a.photo-link {
      width: 100%;
    }
    .right-content {
      width: 100%;
      padding-left: 0;
    }
  }
}


.card-margin {
  margin: 40px 40px;
}

@media (max-width: 768px) {
  .card-margin {
    margin: 20px 10px;
  }
}


.bcs_property_card {
  border: 1px solid rgba(0,0,40,0.15);
  border-radius: 6px;
  padding: 20px;
  margin: 15px 0;
  .prop-title {
    font-size: 16px;
    font-weight: 600;
    color: $gray;
  }
  .small.bold {
    margin: 5px 0;
    color: lighten($gray,20%);
  }
  .big.bold {
    font-size: 16px;
    color: darken($green,10%);
  }
  .sub-title.bold {
    margin-bottom: 10px;
  }
  .prop-images-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    .prop-background-img {
      height: 90px;
      width: 100px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 2px;
    }
  }
  .prop-description {
    font-size: 14px;
    font-weight: 500;
    color: $gray;
    br {
      content: '';
      display: block;
      margin-top: 20px;
      line-height: 50% !important;
      &:first-child {
        display: none;
      }
    }
  }
}




.vip-service-card {
  height: 250px;
  border-radius: 4px;
  background: linear-gradient(lighten($gray,15%),lighten($gray,5%));
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-family: 'Old Standard TT';
    font-size: 28px;
    color: #F0DCA5;
    font-weight: bolder;
    letter-spacing: -0.3px;
    margin: 0;
  }
  .service-description {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
  .partner-title {
    font-weight: bolder;
    color: #D4A763;
  }
  .interlocutor-title {
    font-weight: bolder;
    color: #D4A763;
  }
}

.vip-service-card.gold {
  height: 250px;
  border-radius: 4px;
  background: linear-gradient(#F0DCA5,#D4A763);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-family: 'Old Standard TT';
    font-size: 28px;
    color: $gray;
    font-weight: bolder;
    letter-spacing: -0.3px;
    margin: 0;
  }
  h5.service-description {
    color: white;
  }
  .service-description {
    color: $gray;
    font-size: 14px;
    font-weight: 600;
  }
  .partner-title {
    font-weight: bolder;
    color: $gray;
  }
  .interlocutor-title {
    font-weight: bolder;
    color: $gray;
  }
}


h5.service-description {
  color: white;
}



.home-slider-prop-card {
  width: 250px;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .status-banner {
    color: white;
    height: 20px;
    width: 170px;
    background-color: #e67c5c;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-25deg);
    position: absolute;
    left: -5%;
  }
  .slider-home-card-top {
    flex: 3;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 15px;
  }
  .slider-home-card-bottom {
    flex: 3;
    padding: 15px;
    background-color: white;
    color: $gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .slider-bottom-title {
      font-weight: 700;
      color: $dark-red;
      font-size: 14px;
    }
    .slider-bottom-item {
      display: flex;
      align-items: center;
      .between-item {
        font-weight: 600;
      }
      .localisation {
        font-weight: 700;
      }
      img {
        margin: 0;
        margin-right: 6px;
      }
      .prop-type {
        font-weight: 600;
        color: $gray;
      }
      .price {
        padding: 4px 10px;
        border-radius: 3px;
        background-color: $dark-red;
        color: white;
        font-weight: 700;
      }
      .title {
        font-weight: 700;
        color: $dark-red;
        font-size: 14px;
      }
      .text-plus-icon {

      }
      &.between {
        justify-content: space-between;
      }
    }
  }
}



.customer-service-card {
  height: 230px;
  padding: 35px;
  margin-bottom: 25px;
  border-radius: 6px;
  box-shadow: 0 4px 20px 4px rgb(230,230,240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top-block {
    flex: 8;
    display: flex;
    align-items: center;
    img {
      height: 100%;
    }
  }
  .bottom-block {

  }
}


.help-card {
  height: 250px;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item-with-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 800;
  }
  .help-title {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
  }
  .help-content {
    font-weight: 600;
  }
  .block-video-container {
  }
  &.no-padding {
    padding: 0;
  }
  &.gray {
    background-color: $gray;
  }
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $dark-red;
  }
  &.higher {
    height: 350px;
  }
}

.help-image {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
}

















