.carousel-bck-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel-inner .item img {
  width: 100%;
}

.carousel-inner .item .logo-sm {
  width: 50%;
}

.carousel-inner .item {
  height: 100%;
}


.carousel-inner {
  height: 50vh;
  position: relative;
}

.carousel-control {
  width: 50px;
}
.carousel-control.right {
  background-image: linear-gradient(transparent, transparent);
}
.carousel-control.left {
  background-image: linear-gradient(transparent, transparent);
}

.absolute-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 100px;
  background-size: cover;
  background-position: center center;
  p {
    font-size: 18px;
    font-weight: 300;
  }
  h1 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {
  .absolute-content {
    h1 {
      font-size: 38px;
    }
  }
}
