// .collapse {
//   padding: 40px;
//   border: 1px solid rgb(200,200,200);
//   border-radius: 6px;
//   margin-bottom: 25px;
//   margin-top: 25px;
// }

.admin-demand-proposed-container {
  .collapse {
    padding: 20px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
