.custom-loader-container {
  position: fixed;
  top: 69px;
  z-index: 10000;
  left: 0;
  height: calc(100vh - 69px);
  width: 100vw;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cerebri Sans";
  .loader-container-content {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .svg-loader {
      margin-top: 15px;
      svg {
        rect {
          fill: $green;
        }
      }
    }
  }
}
