.devise-links-container {
  display: flex;
  flex-direction: column;
  .sentence {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
    height: 22px;
    p {
      color: $gray-light;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  .strong-link {
    color: rgb(100,100,100);
  }
  a {
    color: rgb(160,160,160);
    font-size: 14px;
    font-weight: bolder;
    margin: 0 5px;
    transition: 0.2s ease;
    &:hover {
      text-decoration: none;
      color: $green;
    }
    &.green-link {
      color: $green;
      &:hover {
      }
    }
  }
}


.form-actions {
  display: flex;
  justify-content: center;
}

.form-check-input {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: $gray;
    border-radius: 1px;
  }

  // Box hover
  &:hover + label:before {
    background: $green;
  }


  // Box checked
  &:checked + label:before {
    background: $green;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}



form#new_customer {
  margin-bottom: 25px;
  input.form-control {
    height: 44px;
    box-shadow: none;
    font-weight: normal;
    &:focus {
      outline: none;
      border: 2px solid $green;
      box-shadow: none;
    }
    &.password {
    }
  }
  label.form-control-label {
    font-size: 16px;
    font-weight: normal;
    color: $gray;
  }
  label.form-check-label {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 14px;
    width: 170px;
  }
  input[type=password] {
    letter-spacing: 4px;
  }
  input[type=password]::placeholder {
    letter-spacing: 0;
    font-size: 16px;
  }
  input::placeholder {
    font-size: 16px;
  }
}





form#edit_customer {
  margin-bottom: 30px;
  input.form-control {
    height: 44px;
    box-shadow: none;
    font-weight: bolder;
    &:focus {
      outline: none;
      border: 2px solid $green;
      box-shadow: none;
    }
    &.password {
    }
  }
  label.form-control-label {
    font-size: 14px;
    font-weight: bolder;
    color: $green;
  }
  label.form-check-label {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 12px;
    width: 170px;
  }
  input[type=password] {
    letter-spacing: 4px;
  }
  input[type=password]::placeholder {
    letter-spacing: 0;
  }
}






.authenticated_header {
  margin-top: 20px;
  margin-bottom: 3px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    font-size: 18px;
    letter-spacing: -0.5px;
    font-weight: bolder;
    color: $gray;
    font-family: 'Open Sans';
  }
  img {
    width: 40px;
    margin-left: 10px;
  }
}

.form-title {
  color: lighten($gray,10%);
  margin-bottom: 15px;
  text-align: center;
  min-height: 40px;
  font-size: 14px;
}
.form-title-signup {
  color: lighten($gray,10%);
  margin-bottom: 15px;
  text-align: center;
  min-height: 40px;
  font-size: 14px;
}


.green-link {
  color: $green;
  font-size: 12px;
  font-weight: bolder;
  &:hover {
    color: $green;
    border-bottom: 2px solid $green;
  }
  &:visited {
    color: $green;
  }
}


.forgotten-password {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
}




.form-group-invalid {
  input {
    border: 2px solid $red;
  }
  small {
    display: none;
  }
  input::placeholder {
    color: $red;
  }
  input:focus::placeholder {
    color: $green;
  }
  input:focus + .invalid-feedback {
    color: $green;
  }
}
.invalid-feedback {
  color: $red;
  font-size: 12px;
  font-weight: bolder;
  margin-top: 5px;
}


select.form-control {
  height: 44px;
  font-weight: normal;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid $green;
  }
}



.code-success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 25px 0;
}

.code-failed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: $dark-red;
  font-weight: bolder;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-inline-container {
  min-height: 60vh;
}


.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
  margin-bottom: 12px;
  box-shadow: none !important;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid $green;
  }
}



.form-big-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  font-size: 30px;
  font-family: "Amatic Sc";
  font-weight: bolder;
  margin: 18px 0;
}

.form-group {
  margin-bottom: 0;
}


.devise-form-margin {
  margin: 25px;
}


#signup-block {
  border-left: 1px solid rgb(200,200,200);
}


@media (max-width: 768px) {
  #signup-block {
    border-top: 1px solid rgb(200,200,200);
    padding: 0 20px;
    border-left: none;
  }
  .code-success {
    font-size: 12px;
    color: $dark-red;
  }
  .form-inline-container {
    min-height: auto;
  }
}



.absolute-icon-hint {
  position: absolute;
  top: 0;
  right: 26px;
  color: lighten($gray,20%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 12px);
  font-size: 10px;
}


form#new_customer {
  .form-actions-cgu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .cgu-signup-unckecked {
      font-weight: 700;
      color: white;
      background-color: tomato;
      padding: 6px 12px;
      border-radius: 4px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    label.form-check-label {
      width: auto;
    }
    .form-check-input + label:before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $green;
      position: relative;
      top: 1px;
    }
    input#customer_cgu:checked + label:after {
      position: absolute;
      left: 3px;
      top: 10px;
    }
  }
}

abbr[title] {
  display: none;
}



.custom-sign-wrapper {
  display: flex;
  justify-content: center;
  .custom-wrapper-left {
    transition: 0.8s ease;
    width: 50%;
  }
  .custom-wrapper-right {
    transition: 0.8s ease;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .custom-sign-wrapper {
    flex-direction: column;
    .custom-wrapper-left {
      transition: 0.8s ease;
      width: 100%;
    }
    .custom-wrapper-right {
      transition: 0.8s ease;
      width: 100%;
    }
  }
}


.cgu-download {
  font-size: 12px;
  font-weight: bolder;
  color: $green;
}
