.fulltabs-container {
  border-radius: 5px;
  box-shadow: 0px 3px 12px 0 rgb(200,200,200);
  overflow: hidden;
}


.custom-tabs {
  .tab-content {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    .tab-content-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .title {
        font-size: 2.1rem;
        font-weight: 600;
      }
      .sub-title {
        font-size: 1.5rem;
      }
    }
  }
  ul.nav.nav-tabs {
    border: none;
    border-bottom: 2px solid rgb(230,230,230);
    position: relative;
    li.active {
      a {
        border: none;
        border-bottom: 2px solid $green;
        border-radius: 0;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 14px 20px;
        color: $green;
        margin: 0;
        &:hover {

        }
      }
    }
    li {
      margin-bottom: -2px;
      position: relative;
      .property-absolute-messages-count {
        position: absolute;
        right: 2px;
        bottom: 18px;
        background-color: tomato;
        color: white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
        font-weight: 800;
      }
      a {
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        margin: 0;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 14px 20px;
        color: $gray;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
