.customer-fixed-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 60px;
  height: 100vh;
  width: 110px;
  min-width: 110px;
  z-index: 1;
}


.customer-fixed-menu {
  &.red-background {
    background-color: $dark-red;
    a {
      &.active {
        .fontastic {
          color: white;
        }
      }
      &.active .picto-container-text {
        color: white;
        font-weight: 600;
      }
    }
  }
  z-index: 1;
  width: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  a {
    &.active {
      img {
        opacity: 0.9;
      }
      .fontastic {
        color: $dark-red;
      }
    }
    img {
      opacity: 0.5;
    }
  }
  .menu-picto-container {
    transition: 0.4s;
    &:hover {
      position: relative;
      bottom: -2px;
    }
    .absolute-message-count {
      position: absolute;
      right: -2px;
      top: 0;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255,255,255,1);
      color: $dark-red;
      font-size: 12px;
      font-weight: 800;
      border: 4px solid $dark-red;
    }
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .picto-container-text {
      font-size: 10px;
      font-weight: bolder;
      text-align: center;
      color: $gray;
      margin-top: 2px;
    }
    .fontastic {
      font-size: 32px;
      color: $gray;
      margin-right: 0;
    }
  }
}


@media (max-width: 768px) {
  .agency-dashboard-fullpage {
    padding: 5px !important;
    &.unpadding {
      padding: 0 !important;
    }
  }
  .dashboard-fullpage-container {
    padding: 5px !important;
  }
  section.customer-zone-v2 {
    padding: 10px;
  }
  .customer-fixed-menu-container {
    bottom: 0 !important;
    top: auto !important;
    left: 0 !important;
    width: 100% !important;
    height: 100px !important;
    position: fixed !important;
    box-sizing: border-box;
    flex-direction: row;
  }
  .customer-fixed-menu {
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 25px;
  }
  .menu-picto-container {
    margin-bottom: 0;
  }
}


