.custom-tooltip {
  position: relative;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  background-color: white;
  bottom: calc(100% + 10px);
  left: 0;
  align-items: center;
  justify-content: center;
  &:after {
    content: "";
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 13px;
    margin-left: -13px;
  }
  &:before {
    content: "";
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 10px;
    margin-left: -10px;
  }
}

.admin-container .content {
  a {
    position: relative;
  }
  .btn {
    position: relative;
  }
  .btn:hover {
    .custom-tooltip {
      display: block;
    }
    .arrow_box {
      display: inline-block;
    }
  }
}

.admin-container .content {
  .generic-tooltip {
    position: relative;
  }
  .generic-tooltip:hover {
    .arrow_box {
      display: inline-block;
      left: 0;
      .arrow_box_relative {
        font-size: 13px;
        font-weight: 700;
      }
    }
  }
}




.arrow_box {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid rgb(200,200,200);
  bottom: calc(100% + 10px);
  right: -45px;
  height: 33px;
  width: 110px;
  padding: 0 4px;
  border-radius: 3px;
  .arrow_box_relative {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: $gray;
  }
}
.arrow_box_relative:after, .arrow_box_relative:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_relative:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: white;
  border-width: 6px;
  margin-left: -6px;
}
.arrow_box_relative:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: rgb(200,200,200);
  border-width: 7px;
  margin-left: -7px;
}




.tooltip-trigger {
  position: relative;
  &:hover {
    .arrow_box {
      display: inline-block !important;
    }
  }
}
















