nav.custom-navigation {
  font-family: "Cerebri Sans";
  margin: 0;
  ul.pagination {
    li.page-item {
      a {
        font-weight: 700;
        border-color: rgb(210,210,240);
        font-size: 1.4rem;
        padding: 6px 14px;
        &:hover {
        }
      }
      a.inactive {
        opacity: 0.5;
      }
    }
  }
}


.bottom-fixed-pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid rgb(200,200,220);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
