.questions-container {
  min-height: 265px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 20px 0;
  position: relative;
  .survey-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    border-right: 1px solid rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);
  }
}



.survey-label {
  background-color: $light-gray-2;
  padding: 10px;
  border-top-left-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: $gray;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  text-align: center;
  span {
    position: absolute;
    height: 120%;
    width: 120px;
    left: -80px;
    bottom: 0;
    background-image: url('https://cdn.bientotchezsoi-dev.com/images/question-castor.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}


.answer {
  input[type='radio'] {

  }
  input[type='checkbox'] {

  }
  input[type='text'] {

  }
}

// .all-inputs-container {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: space-around;
// }

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  .big-label {
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
  }
  textarea {
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
    min-height: 200px;
    min-width: 100%;
    padding: 16px;
    font-size: 16px;
    &:focus {
      border: 1px solid $green;
    }
  }
  span {
    margin-left: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: bolder;
    color: $green;
    border-radius: 3px;
    border: 1px solid $green;
  }
  label {
    margin-left: 8px;
    margin-bottom: 0;
  }
  input[type='text'] {
    -webkit-appearance: none;
    box-shadow: none !important;
    padding: 8px 16px;
    font-size: 16px;
    color: $gray;
    border-radius: 2px;
    font-weight: 600;
    border: 1px solid rgb(200,200,200);
    &:focus {
      color: $green;
      border: 1px solid $green;
    }
    &::placeholder {
      font-weight: 600;
    }
  }
  input[type='text'].client-side-error {
    border-color: $dark-red;
    box-shadow: none;
    background-color: $dark-red;
    -webkit-appearance: none;
  }

  input[type='text'].client-side-error::-webkit-input-placeholder {
    font-size: 12px;
    color: white;
    -webkit-appearance: none;
    box-shadow: none;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
    border: 6px solid $green;
    background-color: $green;
    transition: 0.2s all linear;
    outline: none;
    margin: 0;
    position: relative;
  }
  input[type='radio']:checked {
    border: 6px solid $green;
    background-color: $gray;
    outline: none;
  }
}


.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.theme-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray;
  font-size: 22px;
  padding: 35px 0;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 60px;
  background-color: white;
  z-index: 1;
  border-bottom: 2px solid $green;
  border-top: 2px solid $green;
}


.hidden-btn {
  display: none;
}

.resume-container {
  margin-top: 50px;
  .resume-container-header {
    position: sticky;
    top: 0;
    min-height: 50px;
    max-height: 50px;
    padding-left: 16px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $border-gray;
    border-bottom: 1px solid $border-gray;
    font-size: 14px;
    font-weight: bolder;
  }
  .theme-header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0;
    .theme-header {
      font-size: 16px;
      color: $dark-red;
      font-weight: bolder;
      margin-right: 14px;
    }
    .line {
      flex-grow: 1;
      height: 4px;
      border-bottom: 2px solid $dark-red;
    }
  }
  .survey-resume-item {
    width: 45px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    color: lighten($gray,10%);
    font-weight: bolder;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 2px;
    margin-right: 15px;
  }
  .survey-recap-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 12px;
    .left-content {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
    .right-content {
      display: flex;
      flex-direction: column;
      order: -1;
    }
    .survey-recap-label {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.1px;
      color: $gray;
      text-align: left;
    }
    .survey-recap-value {
      font-size: 14px;
      font-weight: 600;
      color: $green;
      .survey-recap-flexbox {
        display: flex;
        align-items: center;
        .answer-title {
          font-weight: 600;
          color: lighten($gray,25%);
          margin-right: 10px;
          font-size: 12px;
        }
      }
    }
  }
  .empty-resume {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: $dark-red;
    font-size: 16px;
  }
}


.styled-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: $gray;
    border-radius: 1px;
  }

  // Box hover
  &:hover + label:before {
    background: $green;
  }


  // Box checked
  &:checked + label:before {
    background: $green;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.styled-textarea {
  outline: none;
  min-height: 140px;
  width: 100%;
  padding: 16px;
  border-radius: 3px;
  border: 1px solid rgb(200,200,200);
  &:focus {
    border: 1px solid $green;
  }
}

.finished-survey-text {
  font-size: 16px;
  font-weight: bolder;
  color: $red;
}

.finished-survey-status {
  font-size: 18px;
  color: $green;
  font-weight: bolder;
}

.full-survey-container {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.overflow-container {
  overflow: hidden;
  height: calc(100vh - 100px);
}

// svg path, svg rect {
//   fill: darken($green, 10%);
// }


.values {
  strong {
    font-weight: bolder;
    color: $green;
  }
  &:last-child {
    margin-bottom: 12px;
  }
}



.edit-survey-answer {
  color: lighten($gray,20%);
  font-size: 18px;
  height: 40px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: lighten($gray,5%);
  }
}



.pac-item-query {
  font-size: 14px !important;
  color: $dark-red !important;
  font-weight: bolder !important;
  font-family: "Open Sans" !important;
  position: relative;
  &:after {
    content: '|';
    position: absolute;
    left: 100%;
  }
  margin-right: 10px;
}

.pac-item {
  font-size: 14px !important;
  font-weight: lighter;
  border-top: none;
}

.pac-icon {
  display: none;
}

.pac-container {
  padding: 0 12px;
  width: 150%;
}


.libelle_controle_couche {
  font-weight: normal !important;
  font-size: 14px;
}


// .leaflet-control-layers {
//   label {
//     display: flex;
//     align-items: center;
//   }
//   span {
//     margin-left: 5px;
//     font-weight: normal;
//     font-size: 14px;
//   }
// }


// form.leaflet-control-layers-list {
//   input[type='radio'] {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     border-radius: 50%;
//     width: 16px;
//     height: 16px;
//     border: 6px solid lighten($red,10%);
//     background-color: lighten($red,10%);
//     transition: 0.2s all linear;
//     outline: none;
//     margin: 0;
//     position: relative;
//   }
//   input[type='radio']:checked {
//     border: 5px solid lighten($red,10%);
//     background-color: white;
//     outline: none;
//   }
// }

// #user_input_autocomplete_address {
//   font-size: 14px;
//   font-weight: bolder;
//   color: lighten($gray,10%);
//   padding-left: 8px;
//   height: 35px;
//   border: none;
//   border-radius: 3px;
//   flex-grow: 1;
//   margin: 0 10px;
// }


input.leaflet-gac-control {
  font-size: 14px;
  font-weight: bolder;
  color: lighten($gray,10%);
}




.full-survey-container {
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  .container-fullheight {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 860px;
    margin: 0 auto;
    position: relative;
    .resume-container-abs-title {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(200,200,200);
      padding: 5px 0;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      font-weight: bolder;
      font-size: 12px;
    }
    .resume-container {
      overflow-y: scroll;
      flex: 7;
      margin-top: 0;
      position: relative;
      margin-bottom: 20px;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .questions-container {
      flex: 16;
      margin: 0;
      padding: 0 20px;
    }
  }
}

.criterias-success-title {
  margin: 20px 0;
}


@media (max-width: 900px) {
  .container-fullheight {
    width: 100% !important;
    // padding: 0 10px !important;
  }
  .criterias-success-title {
    padding: 0 20px;
    font-size: 14px;
  }
}

.all-inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: row;
    margin-right: 15px;
    label {
      font-weight: 600;
    }
  }
  .textarea-input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: row;
    width: 100%;
  }
}


@media (max-width: 900px) {
  .input-container {
    justify-content: center !important;
  }
  .survey-label {
    span {
      display: none;
    }
  }
  .survey-recap-label {
    font-size: 12px !important;
  }
  .survey-recap-value {
    font-size: 12px !important;
  }
}


.checked-input-text {
  font-size: 14px;
  text-align: center;
  background-color: #eeeaea;
  padding: 8px 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.edit-survey-answer {
  height: 30px;
  width: 35px;
}

.survey-label {
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 0;
  border-radius: 2px;
}

.survey-form {
  width: 100%;
}

.small-input-hint-container {
  display: flex;
  justify-content: center;
  .icon-exclamation-circle {
    line-height: 1;
    color: $dark-red;
    font-size: 18px;
    margin-right: 10px;
  }
}

.small-input-hint {
  color: $dark-red;
  font-weight: 600;
  font-size: 12px;
}

.formatted-numeric-input::placeholder {
  font-size: 12px;
  font-weight: normal;
  line-height: 2.0;
}

.question-comment {
  padding: 4px 6px;
  font-size: 12px;
  color: lighten($gray,20%);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .question-comment-item {
    margin: 0 5px;
    font-weight: 600;
    opacity: 0.8;
  }
}

@media (min-width: 900px) {
  .question-comment {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .survey-label {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.survey-input-absolute-hint {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 12px;
  top: 0;
  font-weight: 600;
}


#criterias_form {
  .unselectable-answer {
    position: relative;
    cursor: pointer;
    .title {
      color: rgb(160,160,160);
      font-weight: 600;
      margin-right: 6px;
    }
    .unselectable-container {
      background-color: rgb(250,250,250);
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      padding-left: 18px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      .fa {
        color: $dark-red;
        font-size: 16px;
      }
      .unselectable-text {
        font-size: 12px;
        font-weight: 600;
      }
    }
    &:hover .unselectable-container {
      opacity: 1;
    }
  }
  .answer-checkbox-container {
    transition: 0.3s;
    &:hover {
      background-color: rgb(240,240,240);
    }
    padding: 12px 18px;
    border-radius: 3px;
    background-color: rgb(250,250,250);
    margin-bottom: 10px;
    .fa {
      font-size: 20px;
      color: rgb(160,160,160);
      margin-right: 6px;
    }
  }
  .styled-checkbox {
    position: absolute;
    opacity: 0;
    & + label {
      position: relative;
      cursor: pointer;
      margin: 0;
      strong {
        color: rgb(160,160,160);
        font-weight: 600;
        margin-right: 6px;
      }
      .unchecked-fa {
        color: rgb(160,160,160);
        font-size: 20px;
        margin-right: 6px;
      }
      .checked-fa {
        color: $green;
        font-size: 20px;
        display: none;
        margin-right: 6px;
      }
    }
    & + label:before {
      content: '';
      display: none;
    }
    &:hover + label:before {
      background: $green;
    }
    &:checked + label:before {
      background: $green;
    }
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked + label {
      .checked-fa {
        display: inline-block;
      }
      .unchecked-fa {
        display: none;
      }
    }
    &:checked + label:after {
      display: none;
    }
  }
}
