.custom-action-result-header {
  padding: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: 1px solid rgb(240,240,240);
}


.absolute-batch-hint {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(120,120,130);
}

.custom-action-result-item {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.bordered {
    border-top: 1px solid rgb(240,240,240);
  }
  .title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: lightseagreen;
  }
  .content {
    font-size: 1.6rem;
    .inline-svg.active {
      svg {
        width: 20px;
        height: 20px;
        stroke-width: 3;
        stroke: lightseagreen;
      }
    }
    .inline-svg.inactive {
      svg {
        width: 20px;
        height: 20px;
        stroke-width: 3;
        stroke: tomato;
      }
    }
  }
}

.ripplelink {
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(55,115,255,0.4);
  border-radius: 100%;
  transform:scale(0);
  z-index: 1000000;
}

.animate {
  animation: ripple 0.25s linear;
}

@keyframes ripple {
  100% {opacity: 0; transform: scale(1.2);}
}
















