$energies-purple: #8835d9;

$dpe-a: #379932;
$dpe-b: #3acc31;
$dpe-c: #cdfd33;
$dpe-d: #fbea49;
$dpe-e: #fccc2f;
$dpe-f: #fb9c34;
$dpe-g: #fa1c1f;

.ges-block {
  display: flex;
  align-items: center;
  .ges-class {
    font-size: 11px;
    font-weight: 700;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    &.level-a {
      background-color: lighten($energies-purple,30%);
      color: rgba(50,50,50,0.7);
    }
    &.level-b {
      background-color: lighten($energies-purple,25%);
      color: rgba(50,50,50,0.7);
    }
    &.level-c {
      background-color: lighten($energies-purple,20%);
      color: rgba(50,50,50,0.7);
    }
    &.level-d {
      background-color: lighten($energies-purple,15%);
      color: rgba(50,50,50,0.7);
    }
    &.level-e {
      background-color: lighten($energies-purple,10%);
      color: white;
    }
    &.level-f {
      background-color: lighten($energies-purple,5%);
      color: white;
    }
    &.level-g {
      background-color: $energies-purple;
      color: white;
    }
    &.active {
      height: 28px;
      width: 25px;
      border-radius: 6px;
      border: 2px solid rgba(255,255,255,0.8);
      font-size: 14px;
    }
  }
}


.dpe-block {
  display: flex;
  align-items: center;
  .dpe-class {
    font-size: 1.16rem;
    font-weight: 700;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    &.level-a {
      background-color: $dpe-a;
      color: white;
    }
    &.level-b {
      background-color: $dpe-b;
      color: white;
    }
    &.level-c {
      background-color: $dpe-c;
      color: rgba(50,50,50,0.7);
    }
    &.level-d {
      background-color: $dpe-d;
      color: rgba(50,50,50,0.7);
    }
    &.level-e {
      background-color: $dpe-e;
      color: rgba(50,50,50,0.7);
    }
    &.level-f {
      background-color: $dpe-f;
      color: white;
    }
    &.level-g {
      background-color: $dpe-g;
      color: white;
    }
    &.active {
      height: 28px;
      width: 25px;
      border-radius: 6px;
      border: 2px solid rgba(255,255,255,0.8);
      font-size: 14px;
    }
  }
}





.ges-full-block {
  display: flex;
  flex-direction: column;
  .ges-full-class {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    margin-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    &.level-a {
      background-color: lighten($energies-purple,30%);
      color: rgba(50,50,50,0.7);
      width: 20%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: lighten($energies-purple,30%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid lighten($energies-purple,30%);
        border-bottom: 15px solid transparent;
      }
    }
    &.level-b {
      background-color: lighten($energies-purple,25%);
      color: rgba(50,50,50,0.7);
      width: 28%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: lighten($energies-purple,25%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid lighten($energies-purple,25%);
        border-bottom: 15px solid transparent;
      }
    }
    &.level-c {
      background-color: lighten($energies-purple,20%);
      color: rgba(50,50,50,0.7);
      width: 42%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: lighten($energies-purple,20%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid lighten($energies-purple,20%);
        border-bottom: 15px solid transparent;
      }
    }
    &.level-d {
      background-color: lighten($energies-purple,15%);
      color: rgba(50,50,50,0.7);
      width: 56%;
      position: relative;
      color: white;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: lighten($energies-purple,15%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid lighten($energies-purple,15%);
        border-bottom: 15px solid transparent;
      }
    }
    &.level-e {
      background-color: lighten($energies-purple,10%);
      color: rgba(50,50,50,0.7);
      width: 70%;
      position: relative;
      color: white;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: lighten($energies-purple,10%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid lighten($energies-purple,10%);
        border-bottom: 15px solid transparent;
      }
    }
    &.level-f {
      background-color: lighten($energies-purple,5%);
      color: rgba(50,50,50,0.7);
      width: 84%;
      position: relative;
      color: white;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: lighten($energies-purple,5%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid lighten($energies-purple,5%);
        border-bottom: 15px solid transparent;
      }
    }
    &.level-g {
      background-color: $energies-purple;
      color: rgba(50,50,50,0.7);
      width: 98%;
      position: relative;
      color: white;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $energies-purple;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $energies-purple;
        border-bottom: 15px solid transparent;
      }
    }
  }
}

.dpe-full-block {
  display: flex;
  flex-direction: column;
  .dpe-full-class {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    margin-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    &.level-a {
      background-color: $dpe-a;
      color: white;
      width: 20%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-a;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-a;
        border-bottom: 15px solid transparent;
      }
    }
    &.level-b {
      background-color: $dpe-b;
      color: white;
      width: 28%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-b;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-b;
        border-bottom: 15px solid transparent;
      }
    }
    &.level-c {
      background-color: $dpe-c;
      color: white;
      width: 42%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-c;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-c;
        border-bottom: 15px solid transparent;
      }
    }
    &.level-d {
      background-color: $dpe-d;
      color: white;
      width: 56%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-d;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-d;
        border-bottom: 15px solid transparent;
      }
    }
    &.level-e {
      background-color: $dpe-e;
      color: white;
      width: 70%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-e;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-e;
        border-bottom: 15px solid transparent;
      }
    }
    &.level-f {
      background-color: $dpe-f;
      color: white;
      width: 84%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-f;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-f;
        border-bottom: 15px solid transparent;
      }
    }
    &.level-g {
      background-color: $dpe-g;
      color: white;
      width: 98%;
      position: relative;
      &.active {
        .classification {
          padding: 6px;
          border: 2px solid rgba(255,255,255,1);
          font-size: 20px;
          border-radius: 4px;
          height: 40px;
          width: 40px;
          box-shadow: 1px 1px 4px rgba(50,50,50,0.5);
          background-color: $dpe-g;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid $dpe-g;
        border-bottom: 15px solid transparent;
      }
    }
  }
}





