.invalid-feedback {
  color: $dark-red;
  font-size: 12px;
  font-weight: 500;
  margin-top: -11px;
  margin-bottom: 20px;
}


form#new_agency {
  .invalid-feedback {
    color: $dark-red;
    font-size: 13px;
    font-weight: 600;
    margin-top: -5px;
    letter-spacing: -0.3px;
  }
}
