.estimation-result {
  color: $gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  .hint-text {
    font-weight: 600;
    color: $gray;
  }
  .result {
    font-weight: 600;
    font-size: 24px;
    color: $dark-red;
  }
  .estimation-results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 3px;
    background-color: $light-gray;
  }
}


form.edit_estimation {
  .form-check {
    label {
      font-weight: 600;
      color: slategray;
      font-size: 12px;
      display: flex;
      align-items: center;
    }
    label:before {
      content: '';
      margin-right: 8px !important;
      display: inline-block;
      width: 16px !important;
      height: 16px !important;
      border-radius: 50% !important;
      background-color: rgb(100,100,100) !important;
    }
    input:checked + label:before {
      background-color: $green !important;
    }
    input:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 8px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}




.admin-estimation-item {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  margin-bottom: 20px;
  .recontact {
    margin-bottom: 10px;
    color: $green;
    font-weight: 600;
  }
  .estim-item {
    display: flex;
    align-items: center;
    .lighter {
      color: slategray;
      margin-right: 10px;
    }
  }
}
