.faq-banner {
  height: 50vh;
  background-image: url("https://cdn.bientotchezsoi-dev.com/images/estimation/estimation-banner-v2.svg");
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  .faq-banner-content {
    font-size: 48px;
    color: white;
    text-shadow: 1px 0 $gray;
    font-family: "Amatic Sc";
    font-weight: bolder;
    padding: 0 20px;
    text-align: center;
  }
}

section.faq-fullpage {
  display: flex;
  align-items: stretch;
  .faq-left-block {
    flex: 4;
    border-right: 1px solid rgb(240,240,240);
    margin-right: 20px;
    padding-right: 10px;
    .faq-left-block-header {
      font-weight: bolder;
      color: $dark-red;
      margin-bottom: 8px;
      font-size: 16px;
      letter-spacing: -0.3px;
    }
    .faq-left-menu-item {
      font-weight: 600;
      position: relative;
      display: inline-block;
      color: $gray;
      margin-bottom: 7px;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: underline;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .faq-right-block {
    flex: 8;
  }
}


.panel-default {
  .panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lighten($light-gray-2,15%);
    .custom-font-icon {
      line-height: 0.7;
      color: rgb(100,100,100);
      font-size: 30px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: translateY(2px);
      }
    }
    .panel-title {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.4px;
      color: $dark-red;
    }
  }
}

.panel-collapse {
  .panel-body {
    border-top: none !important;
    font-size: 16px;
    padding: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    .panel-body-title {
      color: $green;
      font-weight: 600;
      margin: 10px 0;
      letter-spacing: -0.3px;
    }
    strong {
      color: $dark-red;
      font-weight: bolder
    }
    a {
      color: $dark-red;
      font-weight: 600;
      text-decoration: underline;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.panel {
  border: none !important;
  background-color: lighten($light-gray-2,15%);
}

.faq-subheader {
  margin-bottom: 50px;
  .faq-subheader-title {
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: $gray;
  }
  .faq-subheader-body {
    color: rgb(130,130,130);
    font-size: 16px;
  }
}


.faq-social-media-links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30px;
    margin: 0 6px;
  }
}


@media (max-width: 768px) {
  section.faq-fullpage {
    .faq-left-block {
      display: none;
    }
  }
}
