.alert {
  z-index: 10;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  button.close {
    font-size: 14px;
    color: white;
    font-weight: bolder;
    text-shadow: none;
    top: 0;
    right: 0;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}
.alert-info {
  background-color: $green;
}
.alert-warning {
  background-color: $dark-red;
}
.alert-danger {
  background-color: $dark-red;
  color: white;
  font-weight: bolder;
}

#error_explanation {
  width: 600px;
  margin: 0 auto;
  h2 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bolder;
    color: $gray;
  }
  ul {
    padding: 0;
    padding-left: 18px;
  }
}


abbr[title] {
  border-bottom: none;
}
