footer.main-footer {
  width: 100%;
  padding: 50px 5%;
  background-color: #39363f;
  display: flex;
  align-items: flex-start;
  img {
  }
  .footer-item-flex {
    .bcs-footer-logo {
      width: 245px;
      margin-top: 50px;
    }
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .images-container {
      display: flex;
      align-items: center;
    }
    img {
      margin-right: 10px;
    }
    .footer-header {
      margin-bottom: 10px;
      color: $green;
      font-family: "Open Sans";
      font-weight: bolder;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .sub-header {
        font-weight: 600;
        font-weight: normal;
      }
    }
  }
  .footer-item {
    flex: 2;
    margin-right: 20px;
    .social_links-container {
      display: flex;
      align-items: center;
      .list-logo {
        margin-right: 10px;
      }
    }
    .list-logo {
      width: 35px;
    }
    .footer-header {
      margin-bottom: 10px;
      color: #b0c365;
      font-family: 'Open Sans';
      font-weight: bolder;
      font-size: 16px;
      letter-spacing: -0.4px;
      .sub-header {
        font-weight: 600;
        font-weight: normal;
      }
    }
    .unbullet-list {
      display: flex;
      flex-direction: column;
      .list-item {
        margin-bottom: 6px;
        font-size: 15px;
        color: white;
        letter-spacing: -0.3px;
        a {
          color: white;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      .list-item {
        margin-bottom: 4px;
        a {
          font-size: 15px;
          color: white;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}




footer.secondary-footer {
  background-color: rgb(57,54,63);
  padding: 20px 7%;
  p {
    line-height: 26px;
    text-align: center;
    color: rgba(255,255,255,0.3);
    font-size: 13px;
    margin-bottom: 0;
    a {
      font-weight: bolder;
      color: rgba(255,255,255,0.3);
      transition: 0.3s;
      &:hover {
        color: rgba(255,255,255,0.6);
      }
    }
  }
}







@media (max-width: 768px) {
  footer.main-footer {
    flex-direction: column;
    .footer-item {
      margin-bottom: 25px;
      margin-right: 0;
      margin-left: 0;
    }
    .footer-item-flex {
      flex-direction: column;
      img {
        width: auto;
        height: 30px;
        margin-bottom: 0;
        margin-right: 8px;
      }
      .bcs-footer-logo {
        height: auto !important;
        width: 200px;
      }
    }
  }
}


#fnaim-logo {
  width: 34%;
  margin: 0 auto;
}


.newsletter-form {
  input[type=email] {
    width: 304px;
    height: 48px;
  }
  .bcs-button-sm-special {
    background-color: $green !important;
    padding: 14px;
    width: 304px;
    margin-top: 10px;
  }
}
