form.form-home {
  input[type='radio'] {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  fieldset {
    margin-top: 20px;
  }
  legend {
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-bottom: 20px;
  }
  input[type='radio'] {
    border: 2px solid $gray;
  }
  input[type='radio']:checked {
    border: 6px solid $green;
  }
  label {
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
  }
  textarea {
    min-height: 130px;
  }
  input, textarea {
    &.gray-bck {
      background-color: $light-gray;
    }
    background-color: rgba(255,255,255,0.6);
    padding: 14px 18px;
    width: 100%;
    margin: 10px 0;
    border-top-left-radius: 20px;
    -webkit-appearance: none;
    border-style: none;
    color: rgb(100,100,100);
    &:focus {
      outline: none;
      color: rgb(20,20,20);
    }
  }
}



input:focus {
  outline: none;
}



#prospect-properties-form {
  textarea {
    width: 100%;
    display: block;
    border-radius: 4px;
    min-height: 150px;
    border: 1px solid rgb(200,200,200);
  }
}



form#new_contact {
  legend {
    font-size: 16px;
    font-weight: 600;
    color: $gray;
    border: none;
    margin: 25px 0;
  }
  fieldset.contact_choice {
    margin-top: 20px;
  }
  input[type="text"] {
    background-color: $light-gray;
    color: $gray;
    border: none;
    padding-left: 20px;
    &::placeholder {
      color: $gray;
    }
  }
  input[type="tel"] {
    background-color: $light-gray;
    color: $gray;
    border: none;
    padding-left: 20px;
    &::placeholder {
      color: $gray;
    }
  }
  input[type="email"] {
    background-color: $light-gray;
    color: $gray;
    border: none;
    padding-left: 20px;
    &::placeholder {
      color: $gray;
    }
  }
  textarea {
    background-color: $light-gray;
    color: $gray;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
    min-height: 120px;
    margin: 25px 0;
    &::placeholder {
      color: $gray;
    }
  }
  input[type="radio"] {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 2px solid $gray;
  }
  input[type='radio']:checked {
    border: 6px solid $green;
  }
  label.collection_radio_buttons:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid lighten($gray,20%);
    transition: 0.2s;
  }
  input[type="radio"]:checked + label.collection_radio_buttons:before {
    border: 6px solid $green;
  }
  input[type="radio"]:checked + label:after {
    box-shadow: none;
    width: 0;
    height: 0;
  }
  label.collection_radio_buttons {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
  }
}
