$box-shadow: 0 3px 18px rgb(200,200,200);

.container-bcs {
  margin: 0 auto;
  padding: 0 140px;
  box-sizing: border-box;
}

.grid-container {
  box-sizing: border-box;
  margin-bottom: 40px;
  min-height: 100vh;
  width: 100%;
  grid-gap: 20px;
  display: grid;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "aa aa aa aa aa bb bb bb bb bb"
    "qq qq qq qq qq cc cc cc cc cc"
    "dd dd dd dd dd ee ee ee ee ee"
    "dd dd dd dd dd ee ee ee ee ee"
    "dd dd dd dd dd ee ee ee ee ee"
    "ff ff ff ff ff ee ee ee ee ee"
    "ff ff ff ff ff ii ii ii ii ii"
    "kk kk kk kk kk ii ii ii ii ii"
    "kk kk kk kk kk ii ii ii ii ii";
  .ten {
    grid-area: kk;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden !important;
    img.kenotte {
      width: 40%;
    }
    .footer-bottom {
      display: none !important;
      visibility: hidden;
    }
  }
  .eleven {
    grid-area: qq;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: $light-gray;
    .body-flex {
      display: flex;
      align-items: center;
      img:hover {
        opacity: 0.7;
      }
    }
    .white-text {
      color: white;
    }
    .dark-text {
      color: $gray;
      text-align: center;
    }
    .dark-text-hidden {
      display: none;
      color: $gray;
      text-align: center;
    }
    .small-title {
      text-align: center;
      font-weight: 600;
      letter-spacing: -0.3px;
      font-size: 16px;
      color: white;
    }
    .list-logo {
      font-size: 28px;
      color: white;
      margin: 0 16px;
    }
    p {
      font-weight: 600;
      margin-left: 15px;
      margin-bottom: 0;
      a {
        color: $green;
        transition: 0.3s;
        &:hover {
          color: darken($green,20%);
        }
      }
    }
  }
  @media (max-width: 768px) {
    .dark-text {
      display: none;
    }
    .dark-text-hidden {
      display: block !important;
    }
  }
  .one {
    border-radius: 5px;
    grid-area: aa;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    .free-stamp {
      position: absolute;
      top: 16px;
      right: 14px;
      width: 70px;
    }
    &.block-red {
      background-color: $light-gray-2;
    }
  }
  .two {
    grid-area: bb;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .three {
    grid-area: cc;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    .flex-left-content {
      .three-right-top {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
          width: 60px;
          height: 60px;
          padding-left: 1px;
          padding-top: 1px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }
      }
      .three-right-body {
        font-weight: 600;
      }
      flex: 2;
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      background-color: $light-gray;
      .number {
        font-family: "Amatic Sc";
        font-size: 38px;
        font-weight: bolder;
        margin-bottom: 10px;
        color: $gray;
        text-align: center;
      }
      .three-left-logo {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 4px solid $dark-red;
        color: $dark-red;
        font-weight: bolder;
        font-size: 28px;
        font-family: "Amatic Sc";
        margin-bottom: 10px;
      }
      .three-left-body {
        color: $gray;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }
    }
    .flex-right-content {
      flex: 2;
      display: flex;
      background-color: $green;
      padding: 20px;
      align-items: center;
      flex-direction: column;
      .three-right-top {
        flex: 2;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }
        .number {
          font-family: "Amatic Sc";
          font-size: 38px;
          color: white;
          font-weight: bolder;
        }
      }
      .three-right-body {
        color: white;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .four {
    grid-area: dd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .five {
    grid-area: ee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .six {
    grid-area: ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .seven {
    grid-area: gg;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 25px;
    position: relative;
    .absolute-logo {
      width: 100%;
      top: -20px;
      left: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .eight {
    grid-area: hh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 25px;
    position: relative;
    .absolute-logo {
      width: 100%;
      top: -20px;
      left: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .nine {
    grid-area: ii;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .d-flex-between {
      width: 50%;
      margin: 0 auto;
    }
    .small-title {
      text-align: center;
      font-weight: bolder;
      color: $gray;
      margin-bottom: 15px;
    }
    .list-logo {
      width: 28px;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  font-family: "Amatic Sc";
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 20px;
  .left {
    font-size: 18px;
  }
  .right {
    font-size: 12px;
  }
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Amatic Sc";
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  .taller-header-text {
    font-size: 46px;
  }
  .taller-header-text-hidden {
    font-size: 46px;
    display: none;
  }
  .very-taller-header-text {
    font-size: 34px;
  }
  .very-taller-header-text-hidden {
    font-size: 34px;
    display: none;
  }
  h1 {
    font-weight: bolder;
    font-size: 4rem;
  }
  .white-text {
    color: white;
  }
}




@media (max-width: 768px) {
  .very-taller-header-text {
    display:none;
  }
  .very-taller-header-text-hidden {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .taller-header-text {
    display:none;
  }
  .taller-header-text-hidden {
    display: block !important;
  }
}




.header-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Amatic Sc";
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 20px;
  .white-text {
    color: white;
  }
}




.header-start-visible {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Amatic Sc";
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 20px;
  .white-text {
    color: white;
  }
}

.header-start-one-hidden {
  display: none;
}



.header-with-padding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Amatic Sc";
  font-size: 28px;
  font-weight: bolder;
  padding: 20px;
  .white-text {
    color: white;
  }
}







@media (max-width: 768px) {
  .header-start-visible {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-start-one-hidden {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Amatic Sc";
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}







.grid-block-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  .content-padding {
    padding: 20px;
  }
  .social-networks-title {
    color: $dark-red;
    font-weight: bolder;
    margin: 15px 0;
  }
  .social-networks-body {
    color: $gray;
  }
  .values-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
    .values-item-logo {
      margin-right: 5px;
    }
    .values-item-body {
      color: rgb(100,100,100);
      font-weight: 600;
      line-height: 24px;
      font-size: 15px;
      margin-left: 15px;
      .title-strong {
        font-size: 16px;
        letter-spacing: -0.3px;
        margin-bottom: 4px;
        font-weight: bolder;
        color: $gray;
      }
    }
  }
  .news-content-photos {
    display: flex;
    height: 120px;
    justify-content: space-between;
    .news-photo {
      width: 47%;
      border-radius: 4px;
      overflow: hidden;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .news-content-body {
    .title {
      color: $dark-red;
      font-weight: bolder;
      margin: 15px 0;
      font-size: 16px;
    }
    .text {
      color: $gray;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .bottom-link-see-all {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .how-it-works-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    img.small-left-icon {
      width: 40px;
      margin-right: 16px;
    }
    .index-badge {
      min-width: 22px;
      min-height: 22px;
      max-width: 22px;
      max-height: 22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-red;
      background-color: white;
      font-size: 14px;
      font-weight: bolder;
      margin-right: 20px;
      margin-top: 3px;
    }
    .how-it-works-item-content {
      strong {
        letter-spacing: -0.4px;
        color: $gray;
        font-weight: 600;
        display: block;
      }
      color: lighten($gray,10%);
      font-size: 16px;
      font-weight: normal;
      letter-spacing: -0.1px;
    }
  }
  .heart-stroke-item {
    display: flex;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .heart-stroke-item-photo {
      flex: 5;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      .absolute-badge {
        position: absolute;
        left: 0;
        bottom: 20px;
        padding: 3px 16px;
        background-color: $dark-red;
        color: white;
        font-weight: bolder;
        font-size: 12px;
      }
    }
    .heart-stroke-item-body {
      flex: 8;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: white;
      padding: 20px;
      .item-body-title {
        color: $dark-red;
        font-weight: bolder;
        &.big {
          font-size: 16px;
        }
      }
      .item-body-content {
        color: $gray;
        font-weight: 600;
      }
    }
  }
  .advices-item {
    display: flex;
    width: 100%;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    &:hover {
      opacity: 0.9;
      top: 4px;
    }
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    .advices-item-photo {
      height: 160px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .advices-item-content {
      height: 45%;
      padding: 20px;
      .title {
        font-weight: 600;
        letter-spacing: -0.4px;
        font-size: 16px;
        color: $gray;
        margin-bottom: 10px;
      }
      .body {
        color: $gray;
        font-size: 15px;
        letter-spacing: -0.3px;
      }
    }
  }
}








.services-card-container {
  .grid-block-content {
    display: none;
  }
}

@media (max-width: 768px) {
  .services-card-container {
    .grid-block-content {
      display: block;
    }
  }
}

.grid-block-content-hidden {
  display: none;
}








.block-bck-gray {
  background-color: $gray;
}
.block-bck-light-gray {
  background-color: $light-gray;
}
.block-bck-light-gray-2 {
  background-color: $light-gray-2;
}
.block-bck-green {
  background-color: $green;
}
.block-bck-red {
  background-color: $dark-red;
}
.block-bck-white {
  background-color: white;
  box-shadow: $box-shadow;
}











.four.block-bck-light-gray{
  .grid-block-content:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .four.block-bck-light-gray{
    .grid-block-content:last-child {
      display: block;
    }
  }
}

.five.block-bck-green {
  .white-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .five.block-bck-green {
    .white-text {
      display: none;
    }
    .header-start {
      justify-content: center;
    }
      .white-text:last-child {
        display: block;
      }
  }
}

.six.block-bck-red {
  .white-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .six.block-bck-red {
    .white-text {
      display: none;
    }
    .header-with-padding {
      justify-content: center;
    }
      .white-text:last-child {
        display: block;
      }
  }
}

.nine.block-bck-white {
  .red-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .nine.block-bck-white {
    .red-text {
      display: none;
    }
    .header-start {
      justify-content: center;
    }
      .red-text:last-child {
        display: block;
      }
  }
}

.ten.block-bck-light-gray {
  .dark-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .ten.block-bck-light-gray {
    .dark-text {
      display: none;
    }
    .header-start {
      justify-content: center;
    }
      .dark-text:last-child {
        display: block;
      }
  }
}




.block-video-container {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: 12px solid white;
  box-shadow: $box-shadow;
  video {
    width: 100%;
    height: 100%;
  }
}


@media (max-width: 900px) {
  .header-center {
    h1 {
      font-size: 33px;
    }
  }
  .container-bcs {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .grid-container {
    .two {
      height: auto;
    }
    .one .free-stamp {
      width: 45px;
    }
    grid-template-rows: minmax(200px, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "aa"
      "bb"
      "cc"
      "dd"
      "qq"
      "ee"
      "ff"
      "gg"
      "hh"
      "ii"
      "kk";
  }
}

@media (min-width: 1400px) {
  .container-bcs {
    max-width: none;
    padding: 0 15%;
  }
}


.padding-20 {
  padding: 20px;
}


.footer-grid-container {
  margin-top: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  min-height: 70vh;
  width: 100%;
  grid-gap: 20px;
  display: grid;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "kk kk ll ll"
    "kk kk ll ll"
    "kk kk ll ll"
    "mm mm oo oo"
    "mm mm oo oo"
    "mm mm oo oo";
    .five {
      grid-area: oo;
      background-color: $dark-red;
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      .content {
        font-size: 16px;
        .strong-content {
          font-size: 15px;
          margin-bottom: 25px;
        }
      }
    }
    .one {
      grid-area: kk;
      background-color: $green;
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header-start:last-child {
        display: none;
      }
    }
    .two {
      grid-area: ll;
      background-color: lighten($light-gray,3%);
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .header-start {
        color: $gray;
      }
      .testimonials-content {
        display: flex;
        flex-direction: column;
        .testi-item {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          .testi-logo {
            width: 90px;
            height: 90px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .testi-content {
            display: flex;
            flex-direction: column;
            .testi-user {
              font-weight: 600;
              font-size: 16px;
              letter-spacing: -0.3px;
              color: $gray;
              margin-bottom: 10px;
            }
            .testi-text {
              font-style: italic;
              color: lighten($gray,15%);
              font-size: 15px;
            }
          }
        }
      }
    }
    .three {
      grid-area: mm;
      background-color: $light-gray-2;
      border-radius: 4px;
      padding: 20px;
      .seller-content {
        .seller-title {
          color: $dark-red;
          font-weight: bolder;
          letter-spacing: -0.3px;
          font-size: 16px;
        }
        .seller-body {
          color: lighten($gray,10%);
          margin: 10px 0;
          font-weight: 600;
          font-size: 15px;
        }
        .seller-links {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
}





.footer-grid-container {
  .five {
    .white-text:last-child {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .footer-grid-container {
    .five {
      .white-text {
        display: none;
      }
      .header-start {
        justify-content: center;
      }
        .white-text:last-child {
          display: block;
        }
    }
  }
}

.one {
  .white-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .one {
    .white-text {
      display: none;
    }
    .header-start {
      justify-content: center;
    }
      .white-text:last-child {
        display: block;
      }
  }
}

.three {
  .dark-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .three {
    .dark-text {
      display: none;
    }
    .header-start {
      justify-content: center;
    }
      .dark-text:last-child {
        display: block;
      }
  }
}







@media (max-width: 900px) {
  .footer-grid-container {
    .one {
      height: auto;
    }
    grid-template-rows: minmax(200px, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "kk"
      "ll"
      "oo"
      "mm";
  }
}




.two {
  .red-text:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .two {
    .red-text {
      display: none;
    }
    .header-start {
      justify-content: center;
    }
      .red-text:last-child {
        display: block;
      }
  }
}






#suggestions-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  input {
    height: 42px;
    box-shadow: none;
    border: none;
    &::placeholder {
      font-size: 14px;
      letter-spacing: -0.3px;
      font-size: normal;
      color: rgb(120,120,120);
    }
  }
  textarea {
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding: 20px 12px;
    width: 100%;
    flex: 1;
    margin-bottom: 20px;
  }
}






.full-page-simplify-text-hidden {
  display: none;
}

@media (max-width: 768px) {
  .full-page-simplify-text {
    display: none;
  }
  .full-page-simplify-text-hidden {
    display: block;
    color: $dark-red;
    font-size: 40px !important;
    text-align: center;
  }
}







.full-page-simplify-text {
  color: $dark-red;
  font-size: 5rem !important;
  text-align: center;
}

#footer {
  display: none !important;
}

.zeropadding#footer.footer-bottom {
  display: none !important;
}

.block-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.block.lightgray {
  border: none;
  background-color: $light-gray;
  min-height: 160px !important;
  .header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .icon-menu-kenotte {
      font-size: 38px;
      color: $dark-red;
    }
  }
  h2 {
    margin: 0;
    font-weight: bolder;
  }
  .sentence {
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgb(100,100,100);
  }
}


.block.question {
  background-color: $light-gray-2;
  .d-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  p {
    margin: 0;
    font-weight: 600;
    color: rgb(80,80,80);
    letter-spacing: -0.2px;
    margin: 10px 0;
  }
  textarea {
    font-weight: 600;
    color: lighten($gray, 10%);
    padding-top: 10px;
    min-height: 130px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    &::placeholder {
      font-weight: normal;
      letter-spacing: -0.3px;
      font-size: 14px;
      color: rgb(120,120,120);
    }
  }
  h2 {
    color: white;
    margin: 0;
    font-weight: bolder;
  }
}

.block.question.vip {
  background: linear-gradient(#F0DCA5,#D4A763);
  .d-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  p {
    margin: 0;
    font-weight: 600;
    color: $gray;
    letter-spacing: -0.2px;
    margin: 10px 0;
  }
  textarea {
    font-weight: 600;
    color: lighten($gray, 10%);
    padding-top: 10px;
    min-height: 130px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    &::placeholder {
      font-weight: normal;
      letter-spacing: -0.3px;
      font-size: 14px;
      color: rgb(120,120,120);
    }
  }
  h2 {
    font-family: 'Old Standard TT';
    font-size: 24px;
    color: $gray;
    font-weight: bolder;
    letter-spacing: -0.3px;
    margin: 0;
  }
}


.block.question.vip-gray {
  background: linear-gradient(lighten($gray,15%),lighten($gray,5%));
  .d-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
    letter-spacing: -0.2px;
    margin: 10px 0;
  }
  textarea {
    font-weight: 600;
    color: lighten($gray, 10%);
    padding-top: 10px;
    min-height: 130px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    &::placeholder {
      font-weight: normal;
      letter-spacing: -0.3px;
      font-size: 14px;
      color: rgb(120,120,120);
    }
  }
  h2 {
    font-family: 'Old Standard TT';
    font-size: 24px;
    color: #F0DCA5;
    font-weight: bolder;
    letter-spacing: -0.3px;
    margin: 0;
  }
}


.fontastic {
  line-height: 1;
  margin-right: 14px;
  font-size: 30px;
  &.white {
    color: white;
  }
  &.red {
    color: $dark-red;
  }
  &.green {
    color: $green;
  }
  &.gray {
    color: $gray;
  }
}


.red-text {
  color: $dark-red;
}


@media (max-width: 768px) {
  .grid-container {
    display: block;
    .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven {
      margin-bottom: 25px;
    }
  }
}















