.menu-wrapper#props-wrapper-v4, .menu-wrapper#testimonials-wrapper-v4 {
  margin: 0;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 140px;
  .header-title {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 20px;
    padding: 0;
    color: $green;
  }
  ul.menu {
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: auto;
    .faded-block {
      height: 82%;
      width: 140px;
      position: absolute;
      bottom: 0;
      &.right {
        right: 138px;
      }
      &.left {
        left: 138px;
      }
    }
    li.testimonial-item {
      height: 180px;
      width: 500px;
      padding: 25px;
      background-color: $light-gray;
      border-radius: 6px;
      white-space: normal;
    }
    li.testimonial-item.last-item {
      margin-right: 80px;
    }
  }
  ul.menu::-webkit-scrollbar {
    width: 0rem;
  }
  .left-paddle, .left-paddle-for-testimonials {
    position: absolute;
    height: 100%;
    top: 0;
    left: 45px;
    border: none;
    background-color: transparent;
    transform: rotateZ(180deg);
    i {
      font-size: 20px;
    }
    &:focus {
      outline: 0;
    }
  }
  .left-paddle-for-testimonials, .right-paddle-for-testimonials {
    top: 30px !important;
  }
  .right-paddle, .right-paddle-for-testimonials {
    position: absolute;
    height: 100%;
    top: 0;
    right: 45px;
    border: none;
    background-color: transparent;
    i {
      font-size: 20px;
    }
    &:focus {
      outline: 0;
    }
  }
}

@media (max-width: 990px) {
  .menu-wrapper#props-wrapper-v4, .menu-wrapper#testimonials-wrapper-v4 {
    .header-title {
      justify-content: center;
    }
  }
}

@media (max-width: 900px) {
  .menu-wrapper#testimonials-wrapper-v4 {
    .slider-item {
      .user {
        font-size: 1.6rem !important;
      }
      .content {
        font-size: 1.4rem !important;
      }
    }
    li.testimonial-item {
      width: 400px !important;
    }
  }
}


@media (max-width: 768px) {
  .menu-wrapper#props-wrapper-v4, .menu-wrapper#testimonials-wrapper-v4 {
    padding: 20px 10px;
    .header-title {
      font-size: 4rem;
    }
  }
  .faded-block {
    display: none;
  }
  .right-paddle, .right-paddle-for-testimonials {
    display: none;
  }
  .left-paddle, .left-paddle-for-testimonials {
    display: none;
  }
}

@media (max-width: 440px) {
  .menu-wrapper#props-wrapper-v4, .menu-wrapper#testimonials-wrapper-v4 {
    .header-title {
      font-size: 3.2rem;
    }
    li.testimonial-item {
      width: 300px !important;
      height: 200px !important;
    }
  }
}

.slider-home-card-testimonial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 50px;
    height: 50px;
  }
  .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
  }
  .spe-kenotte {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0%;
  }
  .slider-right {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  .slider-item {
    display: flex;
    align-items: center;
    padding: 5px;
    .rating {
      font-weight: 600;
    }
    .content {
      font-size: 1.6rem;
      font-style: italic;
    }
    .user {
      font-weight: bolder;
      color: $gray;
      font-size: 1.8rem;
    }
  }
}

