.menu-wrapper#props-wrapper {
  margin: 0;
  height: auto;
  margin-bottom: 50px;
  padding: 20px 140px;
  background-color: $light-gray-2;
  .header-title {
    display: flex;
    align-items: center;
    font-family: "Amatic Sc";
    font-weight: bolder;
    font-size: 46px;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.menu {
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: auto;
    .faded-block {
      height: 82%;
      width: 140px;
      position: absolute;
      bottom: 0;
      &.right {
        right: 138px;
      }
      &.left {
        left: 138px;
      }
    }
    li.item {
      height: 300px;
      a {
        height: 100%;
      }
    }
    li.item.last-item {
      margin-right: 80px;
    }
  }
  ul.menu::-webkit-scrollbar {
    width: 0rem;
  }
  .left-paddle {
    position: absolute;
    height: 100%;
    top: 0;
    left: 25px;
    border: none;
    background-color: transparent;
    i {
      font-size: 20px;
    }
    &:focus {
      outline: 0;
    }
  }
  .right-paddle {
    position: absolute;
    height: 100%;
    top: 0;
    right: 25px;
    border: none;
    background-color: transparent;
    i {
      font-size: 20px;
    }
    &:focus {
      outline: 0;
    }
  }
}



@media (max-width: 768px) {
  .menu-wrapper#props-wrapper {
    padding: 20px 10px;
    .header-title {
      font-size: 40px;
      text-align: center;
    }
  }
  .faded-block {
    display: none;
  }
  .right-paddle {
    display: none;
  }
  .left-paddle {
    display: none;
  }
}








