section.home-section-v4 {
  .menu-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 50px;
  }

  @media (max-width: 768px) {
    .menu-wrapper {
      max-width: 100%;
    }
  }

  .menu {
    height: 120px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    .testimonial-item {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 20px;
    }
    .item {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 20px;
      img {
        transition: 0.3s;
        margin: 0;
        margin-right: 4px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .paddles {
    button {
      background-color: white;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .paddle {
    position: absolute;
    top: -25px;
    width: 60px;
  }
  .left-paddle {
    left: 0;
    margin-left: -8px;
    transform: rotateZ(180deg);
  }
  .right-paddle {
    right: 0;
    margin-right: -8px;
  }
  .hidden {
    display: none;
  }
}
