.menu-wrapper#props-wrapper-v4 {
  margin: 0;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 140px;
  .header-title {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 20px;
    padding: 0;
    color: $green;
  }
  ul.menu {
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: auto;
    .faded-block {
      height: 82%;
      width: 140px;
      position: absolute;
      bottom: 0;
      &.right {
        right: 138px;
      }
      &.left {
        left: 138px;
      }
    }
    li.item {
      height: 350px;
      a {
        height: 100%;
      }
    }
    li.item.last-item {
      margin-right: 80px;
    }
  }
  ul.menu::-webkit-scrollbar {
    width: 0rem;
  }
  .left-paddle {
    position: absolute;
    height: 100%;
    top: 0;
    left: 45px;
    border: none;
    background-color: transparent;
    transform: rotateZ(180deg);
    i {
      font-size: 20px;
    }
    &:focus {
      outline: 0;
    }
  }
  .right-paddle {
    position: absolute;
    height: 100%;
    top: 0;
    right: 45px;
    border: none;
    background-color: transparent;
    i {
      font-size: 20px;
    }
    &:focus {
      outline: 0;
    }
  }
}

@media (max-width: 990px) {
  .menu-wrapper#props-wrapper-v4 {
    .header-title {
      justify-content: center;
    }
  }
}


@media (max-width: 768px) {
  .menu-wrapper#props-wrapper-v4 {
    padding: 20px 10px;
    .header-title {
      font-size: 4rem;
    }
  }
  .faded-block {
    display: none;
  }
  .right-paddle {
    display: none;
  }
  .left-paddle {
    display: none;
  }
}

@media (max-width: 440px) {
  .menu-wrapper#props-wrapper-v4 {
    .header-title {
      font-size: 3.2rem;
    }
  }
}

.home-slider-prop-card-v4 {
  width: 250px;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  .status-banner {
    color: white;
    height: 20px;
    width: 100%;
    background-color: #e67c5c;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    position: absolute;
    left: -20%;
    top: 7%;
    font-size: 1.4rem;
  }
  .slider-home-card-top {
    flex: 3;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 15px;
  }
  .slider-home-card-bottom {
    flex: 3;
    padding: 15px;
    background-color: $light-gray;
    color: $gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .slider-bottom-title {
      font-weight: 700;
      color: $dark-red;
    }
    .slider-bottom-item {
      display: flex;
      align-items: center;
      position: relative;
      .inline-svg svg {
        position: absolute;
        right: 0%;
      }
      .between-item {
        font-weight: 600;
      }
      .localisation {
        font-weight: 700;
      }
      img {
        margin: 0;
        margin-right: 6px;
      }
      .prop-type {
        font-weight: 600;
        color: $gray;
      }
      .price {
        padding: 4px 10px;
        border-radius: 3px;
        background-color: $dark-red;
        color: white;
        font-weight: 700;
      }
      .title {
        font-weight: 700;
        color: $dark-red;
      }
      .text-plus-icon {

      }
      &.between {
        justify-content: space-between;
      }
    }
  }
}
