.demands-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 69px;
  height: calc(100vh - 69px);
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  .demands-loader {
    height: 60px;
    width: 60px;
    position: relative;
    margin-top: 20px;
    .item {
      position: absolute;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
    .item:nth-child(1) {
      background-color: limegreen;
      top: 0;
      left: 0;
      animation: anima1 2s ease infinite;
    }
    .item:nth-child(2) {
      background-color: tomato;
      top: 0;
      right: 0;
      animation: anima2 2s ease infinite;
    }
    .item:nth-child(3) {
      background-color: limegreen;
      bottom: 0;
      left: 0;
      animation: anima3 2s ease infinite;
    }
    .item:nth-child(4) {
      background-color: tomato;
      bottom: 0;
      right: 0;
      animation: anima4 2s ease infinite;
    }
  }
  .demands-loading-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
}

@keyframes anima1 {
  0%   { top: 0;                 left: 0;                 }
  25%  { top: 0;                 left: calc(100% - 20px); }
  50%  { top: calc(100% - 20px); left: calc(100% - 20px); }
  75%  { top: calc(100% - 20px); left: 0;                 }
  100% { top: 0;                 left: 0;                 }
}
@keyframes anima2 {
  0%   { top: 0;                 left: calc(100% - 20px); }
  25%  { top: calc(100% - 20px); left: calc(100% - 20px); }
  50%  { top: calc(100% - 20px); left: 0;                 }
  75%  { top: 0;                 left: 0;                 }
  100% { top: 0;                 left: calc(100% - 20px); }
}
@keyframes anima3 {
  0%   { top: calc(100% - 20px); left: calc(100% - 20px); }
  25%  { top: calc(100% - 20px); left: 0;                 }
  50%  { top: 0;                 left: 0;                 }
  75%  { top: 0;                 left: calc(100% - 20px); }
  100% { top: calc(100% - 20px); left: calc(100% - 20px); }
}
@keyframes anima4 {
  0%   { top: calc(100% - 20px); left: 0;                 }
  25%  { top: 0;                 left: 0;                 }
  50%  { top: 0;                 left: calc(100% - 20px); }
  75%  { top: calc(100% - 20px); left: calc(100% - 20px); }
  100% { top: calc(100% - 20px); left: 0;                 }
}
