.dashboard-messages-container {
  border-radius: 4px;
  background-color: $light-gray;
  padding: 25px;
  .dashboard-message-card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 9px;
    position: relative;
    .grow-button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      .messages-count {
        margin-right: 5px;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .message-card-title {
      font-weight: 600;
      color: rgb(120,120,150);
    }
    .message-card-button {
      // position: absolute;
      // bottom: -34px;
      // right: 0;
      height: 34px;
      padding: 0 14px;
      font-weight: 800;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      color: white;
      background-color: $green;
      transition: 0.3s;
      &.active {
        background-color: $dark-red;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .message-card-customer {
      font-weight: 800;
      font-size: 14px;
    }
    .message-delimiter {
      height: 30px;
      border-left: 2px solid #e6e6e6;
      margin: 0 15px;
    }
    .message-card-prop {
      padding: 6px 10px;
      border-radius: 3px;
      background-color: $light-gray;
      font-weight: 600;
      margin-right: 10px;
    }
    .message-card-avatar {
      margin-right: 10px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-gray;
      position: relative;
      &.active {
        border: 2px solid $dark-red;
        display: flex;
        align-items: center;
        justify-content: center;
        .message-count {
          position: absolute;
          bottom: -4px;
          right: -4px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $dark-red;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: bolder;
        }
      }
      .fa {
        font-size: 20px;
      }
    }
    .message-card-avatar-with-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 10px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-gray;
      position: relative;
      &.active {
        border: 2px solid $dark-red;
        display: flex;
        align-items: center;
        justify-content: center;
        .message-count {
          position: absolute;
          bottom: -4px;
          right: -4px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $dark-red;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: bolder;
        }
      }
      .fa {
        font-size: 20px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .card-message {
    width: 130px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(230,230,240);
    .card-message-header {
      font-size: 14px;
      font-weight: 600;
    }
    .card-message-body {
      display: flex;
      flex-direction: column;
    }
  }
}




@media (max-width: 768px) {
  .dashboard-messages-container {
    .dashboard-message-card {
      flex-direction: column;
      height: 220px;
      justify-content: space-between;
      .grow-button-container {
        flex-grow: 0;
      }
      .message-delimiter {
        display: none;
      }
    }
  }
}











