.modal-content {
  width: 480px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  .up-section {
    width: 100%;
    height: 160px;
    background-color: $dark-red;
    text-align: center;
    padding: 30px;
    color: white;
  }
  .down-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 160px;
    background-color: white;
    padding: 25px;
  }
}

.modal-dialog {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  background-color: rgba(50,50,50,0.6);
  opacity: 1;
}

button.close {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 30px;
  text-shadow: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    border-radius: 0;
  }
  .modal-dialog {
    align-items: flex-end;
  }
}












// MAP CUSTOM STYLE //
.leaflet-top {
  .leaflet-control-zoom {
    display: none;
  }
  .leaflet-draw-toolbar {
    margin-top: 0;
  }
}


.legend {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  i {
    margin-right: 0 !important;
    height: 100% !important;
    width: 100% !important;
    color: $red !important;
  }
}

.info.legend.controle_couche {
  border-radius: 4px;
  border: 2px solid lighten($red,10%);
  box-shadow: none;
  padding: 4px 14px;
  opacity: 1 !important;
  &:hover {
    background-color: lighten($red,10%);
    opacity: 1;
    i {
      color: white !important;
      opacity: 1;
    }
  }
}



.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid lighten($red,10%);
}

.leaflet-control-zoom-in {
  color: lighten($red,10%) !important;
}
.leaflet-control-zoom-out {
  color: lighten($red,10%) !important;
}



.leaflet-control-layers.second_layer_control {
  border: 2px solid lighten($red,10%);
  border-radius: 4px;
}



#modal_aide {
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
  }
}

#modal_enregistre {
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    .modal-body {
      padding: 30px;
    }
  }
}


#modal_results {
  .last-sentence {
    font-weight: 600;
    text-align: center;
    padding: 0 25px;
    font-size: 1.6rem;
  }
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    .modal-header {
      button.close {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 20px;
      }
    }
    .modal-body {
      padding: 30px;
      position: relative;
      .modal-header-text {
        font-size: 18px;
        font-weight: 600;
        color: $dark-red;
        margin-bottom: 15px;
      }
      .modal-results {
        font-weight: 600;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .modal-results-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 8px;
          strong.zipcode {
            margin-left: 5px;
          }
          .fa.fa-map-marker {
            font-size: 20px;
            color: lighten($gray,30%);
            margin-right: 10px;
          }
          .district-name {
            font-weight: 600;
            font-size: 14px;
            margin: 0 5px;
            color: lighten($gray,30%);
            strong {

            }
          }
        }
      }
    }
    .modal-footer {
      padding: 0;
      padding-bottom: 20px;
      border: none;
      .progress-title {
        font-weight: 600;
        color: lighten($gray,25%);
        margin-bottom: 6px;
      }
      .progress-container {
        margin-bottom: 25px;
        .progress-text {
          font-size: 16px;
          font-weight: 600;
          color: darken($green,10%);
        }
        .progress {
          width: 60%;
          margin: 0;
          margin-left: 20px;
          height: 8px;
          border-radius: 20px;
          background-color: rgb(230,230,245);
          box-shadow: none;
          .progress-bar {
            background-color: $green;
            box-shadow: none;
          }
        }
      }
    }
  }
}







#modal_empty_results {
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    .modal-header {
      button.close {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 20px;
      }
    }
    .modal-body {
      padding: 30px;
      position: relative;
      .modal-header-text {
        font-size: 18px;
        font-weight: 600;
        color: $dark-red;
        margin-bottom: 15px;
      }
      .modal-results {
        font-weight: 600;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .modal-results-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 8px;
          strong.zipcode {
            margin-left: 5px;
          }
          .fa.fa-map-marker {
            font-size: 20px;
            color: lighten($gray,30%);
            margin-right: 10px;
          }
          .district-name {
            font-weight: 600;
            font-size: 14px;
            margin: 0 5px;
            color: lighten($gray,30%);
            strong {

            }
          }
        }
      }
    }
    .modal-footer {
      padding: 0;
      padding-bottom: 20px;
      border: none;
    }
  }
}








#modal-exceed-perimeter {
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    .modal-body {
      padding: 30px;
    }
  }
}


#unknowed-location {
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    .modal-body {
      padding: 30px;
    }
  }
}


#autocomplete-empty-result {
  .modal-content {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    .unfindable-address-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 20px 0;
      .city {
        font-size: 16px;
        color: $dark-red;
        font-weight: bolder;
        margin-right: 6px;
      }
      .content {
        font-size: 14px;
        color: $gray;
        font-weight: normal;
      }
    }
  }
}




.modal#property-modal {
  .modal-content {
    background-color: white;
  }
  .modal-title {
    text-align: center;
  }
}

#deactivated-modal.modal {
  .modal-content {
    background-color: white;
  }
  .modal-title {
    text-align: center;
  }
}

#agency-prop-delete.modal {
  .modal-content {
    background-color: white;
  }
  .modal-title {
    text-align: center;
  }
}


#energies-dpe.modal {
  button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: 700;
  }
  .modal-content {
    background-color: white;
  }
  .modal-title {
    text-align: center;
  }
}


#agency-connection.modal {
  .authenticated_header {
    position: relative;
    margin-top: 0;
    button {
      position: absolute;
      right: 10px;
      top: 0;
      background-color: transparent;
      border: none;
      font-size: 30px;
      font-weight: 700;
      &:focus {
        outline: none;
      }
    }
  }
  .modal-content {
    background-color: white;
  }
  .modal-title {
    text-align: center;
  }
  form#new_agency {
    margin-bottom: 0;
  }
}


#energies-ges.modal {
  button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: 700;
  }
  .modal-content {
    background-color: white;
  }
  .modal-title {
    text-align: center;
  }
}



#agency-status-modal.modal {
  .modal-content {
    background-color: white;
  }
  .modal-body {
    padding: 25px;
    position: relative;
    .bolder {
      font-size: 16px;
      margin-bottom: 15px;
      color: darken($green,10%);
    }
    .thin {
      font-weight: 600;
      color: lighten($gray,10%);
    }
    button {
      position: absolute;
      right: 10px;
      top: 6px;
      background-color: transparent;
      border: none;
      font-size: 30px;
      font-weight: 700;
      &:focus {
        outline: none;
      }
    }
  }
}


#modal_waiting.modal {
  .modal-content {
    background-color: white;
    border-radius: 4px;
  }
  .modal-body {
    padding: 25px;
    .fa {
      font-size: 36px;
      color: $green;
      margin-top: 25px;
    }
  }
}


#customer-services.modal {
  .modal-content {
    background-color: white;
    border-radius: 4px;
  }
  .modal-body {
    padding: 25px;
    .fa-times {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}






.custom-modal-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20,20,20,0.6);
  z-index: 1001;
  .custom-modal {
    z-index: 1002;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    .custom-modal-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .custom-modal-photo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    .custom-modal-text {
      text-align: center;
    }
    .custom-modal-text-marged {
      text-align: center;
      margin: 20px 0;
    }
    .custom-modal-closer {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      color: $gray;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}




#customer-hate.custom-modal-container {
  .custom-modal {
    padding: 20px;
    background-color: $light-gray;
  }
  .custom-modal-header {
    font-family: "Amatic Sc";
    color: $gray;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    .inline-svg {
      margin-right: 14px;
    }
  }
  .custom-modal-content {
    .custom-modal-property-infos {
      color: $dark-red;
      margin: 10px 0;
    }
    .custom-modal-property-body {
      color: lighten($gray,15%);
      letter-spacing: -0.3px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
}

#customer-like.custom-modal-container {
  .custom-modal {
    padding: 20px;
    background-color: $light-gray;
  }
  .custom-modal-header {
    font-family: "Amatic Sc";
    color: $gray;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    .inline-svg {
      margin-right: 14px;
    }
  }
  .custom-modal-content {
    .custom-modal-property-infos {
      color: $dark-red;
      margin: 10px 0;
    }
    .custom-modal-property-body {
      color: lighten($gray,15%);
      letter-spacing: -0.3px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
}

#customer-love.custom-modal-container {
  .custom-modal {
    padding: 20px;
    background-color: $light-gray;
  }
  .custom-modal-header {
    font-family: "Amatic Sc";
    color: $gray;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    .inline-svg {
      margin-right: 14px;
    }
  }
  .custom-modal-content {
    .custom-modal-property-infos {
      color: $dark-red;
      margin: 10px 0;
    }
    .custom-modal-property-body {
      color: lighten($gray,15%);
      letter-spacing: -0.3px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
}




.modal-content {
  .modal-content-text {
    font-weight: 600;
    margin-bottom: 25px;
  }
}

#modal-container-like, #modal-container-unlike {
  position:fixed;
  display:table;
  height:100%;
  // width: calc(100vw - 175px);
  width: 100%;
  top:0;
  // left: 175px;
  left:0;
  transform:scale(0);
  z-index:1;
  &.one {
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    .modal-background {
      .modal {
        transform:scale(0);
        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    &.out {
      transform:scale(1);
      animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal-background {
        .modal {
          animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }
  .modal-background-like, .modal-background-unlike {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    font-family: "Cerebri Sans", sans-serif;
    .modal-out {
      top: 80px;
      right: 10px;
      cursor: pointer;
      transition: all .5s ease-out;
      z-index: 10000;
      &:hover {
        transform: rotateZ(90deg);
      }
    }
    .modal {
      background:$light-gray;
      padding:25px;
      display:inline-block;
      border-radius:5px;
      position:relative;
      width: 60%;
      .modal-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .modal-contents-header {
          font-weight: 800;
          font-size: 2.2rem;
          letter-spacing: -0.4px;
          width: 100%;
          display: flex;
          margin-bottom: 10px;
        }
        .modal-contents-text {
          font-weight: 400;
          font-size: 1.6rem;
        }
      }
    }
  }
  .modal-background-like {
    background:rgba(176, 195, 101, .7);
  }
  .modal-background-unlike {
    background:rgba(255, 99, 71, .7);
  }
}
.modal-active {
    overflow: hidden;
  }

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@media (max-width: 740px) {
  .modal-background-like, .modal-background-unlike {
    .modal {
      width: 85% !important;
      height: 70% !important;
    }
    .modal-contents-text {
      font-size: 1.2rem !important;
      justify-content: center;
    }
    .modal-contents-header {
      justify-content: center;
    }
  }
}

#badges-modal.custom-modal-container {
  font-family: "Cerebri Sans";
  .custom-modal {
    height: 55%;
    background-color: $light-gray;
  }
  .custom-modal-header {
    height: 15%;
  }
  .custom-modal-content {
    overflow-y: scroll;
    height: 85%;
  }
  .badges-modal-header-title {
    font-weight: 800;
    font-size: 1.9rem;
    letter-spacing: -0.4px;
  }
  .modal-badges-container {
    display: flex;
    flex-direction: column;
    .badge-item {
      h5 {
        font-weight: 700;
        font-size: 1.6rem;
      }
      h6 {
        margin: 0;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 500;
        color: rgb(120,120,140);
      }
    }
  }
}




#demand-modifier-modal.custom-modal-container {
  font-family: "Cerebri Sans";
  .custom-modal {
    width: 60%;
    height: 70%;
    padding: 30px;
    .custom-modal-content {
      height: 100%;
    }
  }
}

#demand-deactivate-modal.custom-modal-container {
  font-family: "Cerebri Sans";
  .custom-modal {
    width: 60%;
    height: 70%;
    padding: 30px;
    .custom-modal-content {
      height: 100%;
    }
  }
}


#typeform-modifier-form-modal.custom-modal-container {
  font-family: "Cerebri Sans";
  .custom-modal {
    height: 60%;
    width: 50%;
    .custom-modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .svg-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: auto;
        height: auto;
        svg {
          height: 140px;
        }
      }
      .custom-modal-content-text-big {
        font-size: 2.3rem;
        font-weight: 700;
        letter-spacing: -0.4px;
      }
      .custom-modal-content-text {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}



.modern-modal-wrapper {
  position: fixed;
  display: flex;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(120,120,120,0.4);
  backdrop-filter: blur(8px);
  .modern-modal-closer-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding: 0 50px;
    .modern-modal-closer {
      display: flex;
      align-items: center;
      cursor: pointer;
      .inline-svg {
        svg {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
  .modern-modal {
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    height: 70%;
    width: 45%;
    position: relative;
    .modern-modal-body {
      height: 100%;
      overflow-y: scroll;
      position: relative;
    }
  }
}


.custom-modal-container-v2 {
  position: fixed;
  display: flex;
  top: 69px;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: calc(100vh - 69px);
  align-items: center;
  justify-content: center;
  font-family: "Cerebri Sans";
  background-color: rgba(50,50,55,0.6);
  .modal-v2 {
    border-radius: 4px;
    background-color: lighten($light-gray-2,10%);
    overflow: hidden;
    padding: 20px;
    height: 70%;
    width: 60%;
    position: relative;
    .modal-closer-v2 {
      position: absolute;
      top: 24px;
      right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .modal-content-v2 {
      height: 100%;
      .modal-contents {
        height: 100%;
        display: flex;
        flex-direction: column;
        form.v2-customer-like-form {
          textarea {
            margin: 20px 0;
            border: none;
            height: 160px;
          }
        }
        form.v2-customer-hate-form {
          textarea {
            margin: 20px 0;
            border: none;
            height: 160px;
          }
        }
        .modal-contents-header {
          font-size: 2.2rem;
          font-weight: 700;
          letter-spacing: -0.3px;
        }
        .modal-contents-text {
          font-size: 1.65rem;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}

#pending-customer.custom-modal {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  .custom-modal-header {
    .bold {
      font-size: 1.8rem;
    }
  }
  .custom-modal-content {
    overflow-y: scroll;
    height: 400px;
    .matching-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .inline-svg {
        margin: 0;
        margin-right: 6px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
    .inline-svg {
      margin-bottom: 10px;
      svg {
        width: 140px;
        height: 140px;
      }
    }
  }
}






