.navbar-bcs {
  position: sticky;
  top: 0;
  background-color: $light-gray;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  #menu-container {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 3px solid #b0c365;
    background-color: white;
    .navbar-link {
      padding: 12px 10%;
      width: 100%;
      border-bottom: 1px solid rgb(235,235,235);
      &:hover {
        background-color: rgb(238,238,238);
      }
    }
  }
  .mobile-link {
    width: 20px;
    margin-right: 50px;
    cursor: pointer;
    z-index: 30;
  }
  .navbar-links-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    height: 100%;
  }
  .navbar-bcs-center-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    .navbar-logo-image-container {
      position: relative;
    }
  }
  .navbar-links-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .navbar-link-connection {
      color: $dark-red;
      font-weight: bolder;
    }
    .logo-plus-text {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 15px;
      i {
        font-size: 1.8rem;
      }
    }
  }
  img {
    width: 230px;
  }
}

.navbar-link {
  cursor: pointer;
  color: #3f3b49;
  font-weight: 600;
  letter-spacing: -0.4px;
  font-size: 1.8rem;
  transition: 0.3s;
  margin: 0 10px;
  &.active {
    color: $green;
  }
  &.active-mobile {
    color: $green;
    background-color: $light-gray;
  }
  &:hover {
    color: #3f3b49;
    opacity: 0.5;
  }
}

.customer-navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  .customer-avatar {
    svg {
      width: 60px;
      height: 60px;
    }
  }
  .customer-name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .gray-seperate-border {
    width: 100%;
    border: 2px solid #3f3b49;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
  }
}

.customer-navbar-content {
  padding: 20px 20px;
  .customer-navbar-link-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    .inline-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    a {
      color: $gray;
    }
    .item-text {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 10px;
      letter-spacing: -0.3px;
    }
    .customer-absolute-message-count {
      left: 103%;
      top: -50%;
      background-color: $dark-red;
      color: white;
      border-radius: 50%;
      padding: 0 6px;
      padding-bottom: 2px;
      display: flex;
      justify-content: center;
      font-weight: bolder;
    }
  }
}

.customer-navbar-link-item:hover {
  .item-text {
    color: $green;
  }
  .inline-svg {
    border: 1px solid $green !important;
    svg {
      stroke: $green;
      fill: $green;
      g {
        stroke: $green;
      }
      path {
        fill: $green;
      }
    }
  }
}

// RESPONSIVE //

@media (min-width: 1024px) {
  #menu-container {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbar-bcs img {
    width: 130px;
  }
  .visible-on-mobile {
    margin-right: 25px !important;
  }
  #menu-container {
    width: 60% !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

@media (max-width: 1024px) {
  .navbar-links-right, .navbar-links-left {
    display: none !important;
  }
  .navbar-bcs {
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .visible-on-mobile {
    display: none !important;
    margin-right: 50px;
  }
}
