.pdf-image {
  img {
    width: 120px;
    height: 120px;
    float: right;
  }
}


.pdf-resume-header {
  position: relative;
  top: -4px;
  .infos {
    .reference {
      color: lighten($gray,10%);
      font-weight: 600;
      font-size: 10px;
      margin-top: 14px;
    }
    width: 60%;
    padding: 12px;
    font-size: 12px;
    color: lighten($gray,20%);
    strong {
      font-size: 14px;
      display: block;
      font-weight: 600;
      color: $gray;
    }
  }
  display: block;
  background-color: $light-gray-2;
  position: relative;
  border-radius: 2px;
  height: 100px;
  margin-bottom: 20px;
  img {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 60px;
  }
}

.pdf-top-header {
  display: block;
  width: 100%;
  img {
    width: 120px;
    margin-right: 25px;
  }
  .content {
    display: inline;
    font-family: "Amatic Sc";
    color: $gray;
    width: 260px;
    font-weight: bolder;
    font-size: 22px;
    margin: 0;
    strong {
      color: $green;
    }
  }
}

.pdf-comments {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  .pdf-comments-item {
    background-color: rgb(250,250,250);
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
    .pdf-comment-body {
      display: inline-block;
    }
    .pdf-comment-author {
      font-size: 10px;
      color: lighten($gray,30%);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.pdf-v2-container {
  font-family: "Cerebri Sans" !important;
  padding: 0;
  margin: 0;
  width: 100%;
  .item-left-30 {
    width: 33%;
    border-radius: 6px;
    background-color: rgb(240,240,245);
    height: 158px;
    padding: 15px;
    .item-title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
  .item-right-70 {
    width: 65%;
    border-radius: 6px;
    height: 100%;
  }
  .item-fullsize {
    width: 100%;
    border-radius: 6px;
    height: 120px;
    background-color: rgb(240,240,245);
    padding: 15px;
    .item-title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .item-content {
      font-size: 1.2rem;
    }
  }
  .criteria-item-v2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    .circle-container-v2 {
      width: 14px;
      height: 14px;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 50%;
      background-color: white;
      margin-right: 10px;
      color: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0.7;
    }
  }
  .line-item-v2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .item-small-title {
      font-weight: 700;
      color: $green;
      font-size: 1.2rem;
      margin-right: 6px;
    }
    .item-small-value {
      font-weight: 300;
      font-size: 1.2rem;
      width: 100%;
    }
  }
  .header-v2 {
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 100%;
  }
  .content-v2 {
    padding: 0 50px;
    .item-separator {
      width: 2%;
    }
    .item-left-v2 {
      width: 63%;
      border-radius: 6px;
      background-color: rgb(240,240,245);
      height: 150px;
      padding: 15px;
      .item-title {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    .item-right-image-v2 {
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgb(230,230,230);
      width: 35%;
      border-radius: 6px;
      height: 150px;
      padding: 15px;
    }
    .item-right-v2 {
      width: 35%;
      border-radius: 6px;
      background-color: $green;
      height: 150px;
      padding: 15px;
      .item-title {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    .title-container-v2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
    }
    .title-v2 {
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: -0.2px;
      color: tomato;
    }
    .created-date-v2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
  .footer-v2 {

  }
}

.item-viewport-fullsize {
  width: 100%;
  padding: 15px;
  height: 160px;
  background-color: $light-gray;
  font-family: "Cerebri Sans";
  position: relative;
  .approved-badge {
    margin-left: 150px;
    img {
      width: 80px;
    }
  }
  .family-badge {
    margin-left: 130px;
    img {
      height: 80px;
    }
  }
  .member-contact {
    .item-title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .contact-item {
      font-size: 1.2rem;
    }
  }
  .legal-words {
    font-size: 0.7rem;
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 15px;
  }
}


.pdf-v2-container {
  .demand-scoring {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    .left-container-scoring {
      width: 48%;
      margin-right: 4%;
    }
    .right-container-scoring {
      width: 48%;
    }
    .customer-experience, .customer-maturity {
      background-color: $light-gray;
      width: 100%;
      height: 100%;
      padding: 15px;
      border-radius: 5px;
      position: relative;
      .experience-header {
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
        line-height: unset;
        margin-bottom: 30px;
      }
      .maturity-header {
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
        line-height: unset;
        margin-bottom: 30px;
      }
      .maturity-content {
        font-size: 1.6rem;
        line-height: 3.4rem;
      }
      .scoring-counter {
        width: 160px;
        height: 80px;
        overflow: hidden;
        margin: auto;
        .framing {
          width: 160px;
          height: 160px;
          margin: auto;
          background: -webkit-linear-gradient(right, #e4da6e, #d7d46b, #c9cf69, #bdc967, #b0c365);
          border-radius: 50%;
          position: relative;
        }
        .inside-framing {
          background-color: $light-gray;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .base {
        background: $gray;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 82%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .select-arrow {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 8px 15px;
        position: absolute;
        .arrow {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 80px solid $gray;
          transform-origin: bottom right;
        }
      }
      .first-step {
        width: 30px;
        height: 30px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 42%;
        left: 27%;
        transform: translate(-50%, -50%);
        transform: rotateZ(45deg);
      }
      .second-step {
        width: 30px;
        height: 30px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotateZ(90deg)
      }
      .third-step {
        width: 30px;
        height: 30px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 53%;
        left: 69%;
        transform: translate(-50%, -50%);
        transform: rotateZ(135deg);
      }
      .content-step-one {
        transform: rotateZ(-45deg);
        position: absolute;
        right: 100%;
        top: 50%;
      }
      .content-step-two {
        transform: rotateZ(-90deg);
        position: absolute;
        right: 100%;
        top: 50%;
      }
      .content-step-three {
        transform: rotateZ(-135deg);
        position: absolute;
        right: 100%;
        top: 100%;
      }
    }
  }
}






