.rank-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  .rank-avatar {
    width: 100%;
    opacity: 0.3;
    &.active {
      opacity: 1;
    }
    &.active + .rank-avatar-badge {
      opacity: 1;
    }
  }
  .rank-avatar-badge {
    font-size: 14px;
    opacity: 0.3;
    color: $gray;
    font-weight: 600;
    letter-spacing: 0.6px;
  }
}
