.side-navbar {
  height: calc(100vh - 69px);
  width: 200px;
  background-color: #ece9e6;
  position: sticky;
  top: 69px;
  .side-navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0;
    .customer-avatar {
      svg {
        width: 60px;
        height: 60px;
      }
    }
    .customer-name {
      margin-top: 10px;
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
      width: 80%;
    }
    .customer-email {
      text-align: center;
      width: 80%;
    }
  }
  .gray-seperate-border {
    width: 70%;
    border: 0.5px solid $gray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .side-navbar-content {
    padding: 20px 20px;
    .side-navbar-link-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      cursor: pointer;
      .inline-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      a {
        color: $gray;
      }
      .item-text {
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 4px;
        letter-spacing: -0.3px;
      }
      .customer-absolute-message-count {
        right: -24px;
        bottom: 1px;
        background-color: tomato;
        color: white;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
        font-weight: 800;
      }
    }
  }
}

.side-navbar-link-item:hover {
  .item-text {
    color: $green;
  }
  .inline-svg {
    svg {
      stroke: $green;
      fill: $green;
      g {
        stroke: $green;
      }
      path {
        fill: $green;
      }
    }
  }
}

@media(max-width: 1024px) {
  .side-navbar {
    display: none !important;
  }
}
