.v2-stepper-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  .first-item-text, .second-item-text, .third-item-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    bottom: 300%;
    transform: translate(-50%);
    display: none;
    color: $green;
  }
  .v2-stepper {
    width: 70%;
    height: 10px;
    border-radius: 20px;
    display: flex;
    position: relative;
    .first-item, .second-item, .third-item{
      height: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 25%;
      bottom: 0%;
    }
    .item-step-25-hint {
      position: fixed;
      width: 360px;
      left: calc(50% - 180px);
      bottom: 45px;
      color: #3f3b49;
      font-weight: 600;
      border: 2px solid #3f3b49;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .third-item {
      left: 75% !important;
    }
    .pin {
      width: 30px;
      height: 30px;
      border-radius: 50% 50% 50% 0;
      background: $green;
      transform: rotate(-45deg);
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        margin: 10px 0 0 10px;
        background: white;
        position: absolute;
        border-radius: 50%;
      }
    }
    .item-step-50-hint {
      position: fixed;
      width: 360px;
      left: calc(50% - 180px);
      bottom: 45px;
      color: $green;
      font-weight: 600;
      border: 2px solid $green;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item-step-75 {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: $gray;
      position: absolute;
      left: 75%;
      z-index: 3;
      border-radius: 50%;
      height: 14px;
      width: 14px;
      transform: rotateX(55deg);
      z-index:3;
      &:after {
        content: "";
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin: -13px 0 0 -13px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.0;
        box-shadow: 0 0 1px 2px $green;
        animation-delay: 1.1s;
      }
    }
    .item-step-75-hint {
      position: fixed;
      width: 360px;
      left: calc(50% - 180px);
      bottom: 45px;
      color: $green;
      font-weight: 600;
      border: 2px solid $green;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .v2-dynamic-position-green {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: $green;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .v2-dynamic-position-green-yellow {
      position: absolute;
      left: 25%;
      height: 100%;
      background: linear-gradient(to right, $green 0%, $yellow 50%);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .v2-dynamic-position-yellow {
      position: absolute;
      left: 50%;
      height: 100%;
      background-color: $yellow;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .v2-dynamic-position-yellow-red {
      position: absolute;
      left: 75%;
      height: 100%;
      background: linear-gradient(to right, $yellow 0%, $dark-red 100%);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      z-index: 2;
    }
  }
  #house-stepper svg, #search-stepper svg {
    height: 45px;
    position: absolute;
  }
  #house-stepper svg {
    right: 13%;
    top: -10%;
    z-index: 1;
  }
  #search-stepper svg {
    left: 13%;
    top: -10%;
    z-index: 1;
  }
}




                             // RESPONSIVE //

@media (max-width: 900px) {
  #house-stepper svg {
    right: 11% !important;
  }
  #search-stepper svg {
    left: 11% !important;
  }
  .first-item-text, .second-item-text, .third-item-text {
    font-size: 3rem !important;
  }
}

@media (max-width: 768px) {
  .v2-stepper-container {
    display: none;
    #house-stepper svg, #search-stepper svg {
      height: 30px;
      top: 10%,
    }
    #house-stepper svg {
      right: 8%;
    }
    #search-stepper {
      left: 8%;
    }
    .v2-stepper {
      height: 12px;
    }
  }
}
