#survey-signin-modal {
  .form-actions-cgu {
    margin: 20px 0;
    .form-check {
      label {
        margin: 0;
      }
    }
    span {
      font-weight: 400;
      a {
        font-weight: 500;
        color: $green;
        margin-left: 4px;
      }
    }
  }
  &.green {
    background-color: rgba(176,195,101,0.6);
  }
  .custom-modal {
    width: auto;
    height: 73%;
    border-radius: 0.7rem;
    padding: 0;
    .custom-modal-content {
      overflow-y: scroll;
      flex: 1;
    }
    .custom-modal-header {
      padding: 20px;
      border-bottom: 1px solid rgb(200,200,200);
      h2 {
        font-family: "Cerebri Sans";
        font-size: 2.35rem;
        font-weight: 700;
        letter-spacing: -0.6px;
        text-align: center;
      }
      h5 {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}


section.survey-signup-fullform-section {
  display: flex;
  min-height: 100%;
  position: relative;
  input[type="text"] {
    border: 1px solid #ccc;
  }
  .absolute-waiting-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    color: $green;
    font-size: 1.6rem;
    .fa-spin {
      font-size: 2.5rem;
      color: $green;
      margin-top: 20px;
    }
  }
  #survey-signup-form {
    flex: 1;
    border-right: 1px solid rgb(200,200,200);
    padding: 20px;
    max-width: 700px;
  }
  #survey-continue-block {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .continue-block-text {
      color: tomato;
      font-weight: 600;
      font-size: 1.7rem;
      letter-spacing: -0.4px;
    }
    .inline-svg {
      svg {
        width: 150px;
        height: 100px;
      }
    }
  }
  #survey-signup-sms {
    flex: 1;
    padding: 20px;
    border-right: 1px solid rgb(200,200,200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    #sms-validation-form {
      height: 100%;
    }
    .signup-sms-title {
      font-size: 1.7rem;
      letter-spacing: -0.4px;
      font-weight: 600;
      color: $green;
    }
    .inline-svg {
      svg {
        width: 150px;
        height: 100px;
      }
    }
    .signup-sms-hint {
      color: #96969b;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: -0.4px;
      bottom: -10px;
      flex: 1;
      margin-bottom: 30px;
    }
    .custom-form-container {
    }
  }
}



.form-inline-container-v2 {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .resend-link {
    span.resend-code-link {
      color: $green;
    }
  }
  .form-inline {
    margin-top: 0;
  }
  input[type="tel"] {
    padding-left: 40px;
  }
}


.absolute-phone-icon {
  height: 44px;
  position: absolute;
  left: 12px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa {
    font-size: 1.9rem;
  }
}

#sms-return-code {
  height: 100%;
}







@media (max-width: 768px) {
  #survey-signin-modal {
    .custom-modal {
      width: 90%;
      height: 90%;
    }
  }
  section.survey-signup-fullform-section {
    flex-direction: column;
    #survey-signup-sms {
      border-right: none;
      border-bottom: 1px solid rgb(200,200,200);
    }
  }
}






