.inline-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  &.rounded {
    &-red {
      background-color: $dark-red;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 18px !important;
        width: 18px !important;
      }
    }
    &-green {
      background-color: $green;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 18px !important;
        width: 18px !important;
      }
    }
    &-black {
      background-color: $gray;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 18px !important;
        width: 18px !important;
      }
    }
  }
  &.white {
    svg {
      height: 30px;
      width: 30px;
      fill: white;
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  &.black {
    svg {
      height: 30px;
      width: 30px;
      fill: $gray;
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  &.opacity-black {
    svg {
      height: 30px;
      width: 30px;
      fill: $gray;
      opacity: 0.4;
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  &.red {
    svg {
      height: 30px;
      width: 30px;
      fill: $dark-red;
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  &.green {
    svg {
      height: 30px;
      width: 30px;
      fill: $green;
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  &.heroku-purple {
    svg {
      height: 30px;
      width: 30px;
      fill: lighten(#79589f,10%);
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  &.green-text {
    svg {
      height: 30px;
      width: 30px;
      fill: $green;
      display: inline-block;
    }
    &.small-icon {
      svg {
        height: 17px;
        width: 17px;
      }
    }
  }
  svg {
    height: 30px;
    width: 30px;
    display: inline-block;
  }
  &.small-icon {
    svg {
      height: 20px;
      width: 20px;
      display: inline-block;
    }
  }
  &.large-icon {
    svg {
      height: 200px;
      width: 200px;
      display: inline-block;
    }
  }
}
