$progress-bar-stroke-width: 1.8;
$progress-bar-size: 70px;
.three {
  .svg-container {
    svg {
      height: $progress-bar-size;
      transform: rotate(-90deg);
      width: $progress-bar-size;
    }
    .progress-bar__background {
      fill: none;
      stroke: lighten($dark-red,20%);
      stroke-width: $progress-bar-stroke-width;
    }
    .progress-bar__progress {
      fill: none;
      stroke: #e2eff0;
      stroke: $dark-red;
      stroke-dasharray: 100 100;
      stroke-dashoffset: 100;
      stroke-linecap: round;
      stroke-width: $progress-bar-stroke-width;
      transition: stroke-dashoffset 0.7s ease-in-out;
    }
  }
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: relative;
  .svg-container-value {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-red;
    font-weight: bolder;
    font-size: 28px;
    font-family: "Amatic Sc";
  }
}



.custom-svg-image {
  width: 50px;
  .sub-path {
    fill: $green;
  }
}






