.modern-table {
  .modern-table-head {
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    top: 83px;
    background-color: rgb(248,248,248);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.95rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &.from-agency {
      top: 151px;
    }
  }
  .modern-table-body {
    padding: 0 30px;
    padding-top: 20px;
    .modern-table-body-item {
      display: flex;
      align-items: center;
      padding: 14px 0;
      font-size: 1.4rem;
      .fw-500 {
        font-weight: 500;
      }
      .fw-600 {
        font-weight: 600;
      }
      .fw-700 {
        font-weight: 700;
      }
    }
  }
}
