.popover {
  box-shadow: none;
  background-color: rgb(210,210,210);
  border: none;
  max-width: none;
  .popover-content {
    padding: 4px 9px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bolder;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    background-color: rgb(210,210,210);
  }
}

.popover.bottom > .arrow:after {
  border-bottom-color: rgb(210,210,210);
  width: 6px;
}





.dropdown-menu {
  background-color: darken($light-gray, 10%);
  top: 150%;
  box-shadow: none;
  border: none;
  &:before {
    content: '';
    position: absolute;
    top: -9px;
    right: 32px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid darken($light-gray, 10%);
  }
}

#phone-popover {
  font-size: 18px;
  cursor: pointer;
}
