.css-concentric-circles {
  width: 34px;
  height: 34px;
  position: relative;
  .vertical-square-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .half-width-square {
      width: calc(50% + 1px);
      height: 100%;
      border-right: 2px dashed rgba(75,175,175,0.5);
    }
  }
  .horizontal-square-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    .half-height-square {
      width: 100%;
      height: calc(50% + 1px);
      border-top: 2px dashed rgba(75,175,175,0.5);
    }
  }
  .circle-one-abs-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-one {
      width: 8px;
      height: 8px;
      border: 2px solid $gray;
      border-radius: 50%;
      opacity: 0.2;
      &.circle-small {
        border: 2px solid $gray;
        opacity: 1;
      }
    }
  }
  .circle-two-abs-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-two {
      width: 20px;
      height: 20px;
      border: 2px solid $gray;
      border-radius: 50%;
      opacity: 0.2;
      &.circle-medium {
        border: 2px solid $gray;
        opacity: 1;
      }
    }
  }
  .circle-three-abs-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-three {
      width: 32px;
      height: 32px;
      border: 2px solid $gray;
      border-radius: 50%;
      opacity: 0.2;
      &.circle-big {
        border: 2px solid $gray;
        opacity: 1;
      }
    }
  }
}
