img.preview-img {
  height: 75px;
  width: 31%;
  margin-right: 5px;
  border-radius: 3px;
  margin-top: 10px;
}


.upload-photos-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(230,230,230);
  padding: 20px;
  .upload-top {
    margin-bottom: 10px;
    label {
      margin-bottom: 0;
    }
    align-items: center;
    .top-title {
      font-size: 16px;
      font-weight: bolder;
      color: lighten($gray,10%);
      margin-right: 8px;
    }
  }
  .upload-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.outter-photo-container {
  margin-bottom: 15px;
  box-sizing: border-box;
}



.preview-pdf-file-name {
  text-align: center;
  color: $dark-red;
  font-weight: bolder;
  font-size: 12px;
}

.preview-file-size {
  text-align: center;
  color: lighten($gray,25%);
  font-size: 11px;
}


.custome-badge {
  height: 32px;
  border: none;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 7px;
}


.upload-custom-button {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: rgb(250,250,250);
  border: 1px solid rgb(230,230,230);
  cursor: pointer;
  .fa {
    margin-right: 5px;
    font-size: 10px;
  }
  .text {
    .small {
      font-weight: 600;
    }
  }
}



.upload-photos-container-stepped {
  .photo-upload-placeholder {
    height: 120px;
    border-radius: 4px;
    border: 2px dashed rgb(220,220,225);
    background-color: rgb(250,250,250);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .absolute-photo-remover {
      position: absolute;
      top: 0;
      right: 6px;
      .inline-svg {
        border-radius: 50%;
        background-color: rgba(255,255,255,1);
        width: 22px;
        height: 22px;
        border: 1px solid rgb(200,200,200);
        svg {
          width: 10px;
          height: 10px;
          fill: tomato;
        }
      }
    }
    .context {
      font-weight: 700;
      font-size: 12px;
      color: lighten($gray,15%);
      text-align: center;
      cursor: pointer;
      &.full {
        font-weight: 700;
        font-size: 12px;
        color: white;
        text-align: center;
        cursor: pointer;
        padding: 6px 12px;
        border-radius: 4px;
        background-color: $gray;
      }
    }
  }
}


.file-description {
  position: absolute;
  bottom: 16px;
  left: 23px;
  color: white;
  font-family: "Cerebri Sans";
  font-size: 1.1rem;
  font-weight: 500;
}













