.plus-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b0c365;
  color: white;
  font-weight: lighter;
  font-size: 30px;
}



.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}



// Select2 input style

.select2-container {
  width: 100% !important;
  margin-bottom: 12px !important;
}


.select2-container--default .select2-selection--multiple {
  display: flex !important;
  align-items: center !important;
  height: 44px !important;
  border: 1px solid #ccc !important;
  font-weight: bolder !important;
  font-size: 16px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0 !important;
  padding-left: 8px !important;
  &::placeholder {
    font-weight: 600;
    font-size: 14px;
    color: lighten($gray,15%) !important;
  }
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 !important;
  margin-right: 6px !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  padding: 4px 6px !important;
}


.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: flex !important;
  align-items: center !important;
}



















.select2-container--default .select2-selection--single {
  display: flex !important;
  align-items: center !important;
  height: 44px !important;
  border: 1px solid #ccc !important;
  font-weight: bolder !important;
  font-size: 16px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0 !important;
  padding-left: 8px !important;
  &::placeholder {
    color: rgb(153,153,153);
  }
}


.select2-container--default .select2-selection--single .select2-selection__choice {
  margin: 0 !important;
  margin-right: 6px !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  padding: 4px 6px !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: flex !important;
  align-items: center !important;
}




