.video-container {
  border-radius: 2px;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  box-shadow: 0 3px 10px rgba(100,100,100,0.5);
  video {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .video-container {
    width: 100%;
  }
}
