.agency-message {
  position: relative;
  background-color: $light-gray-2;
  padding: 15px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 120px;
  max-width: 350px;
  .message-origin {
    font-size: 10px;
    color: lighten($gray,10%);
    font-weight: 600;
    position: absolute;
    bottom: -17px;
    left: 0;
  }
  .message-content {
    font-size: 14px;
    font-weight: 600;
  }
}



.customer-message {
  position: relative;
  background-color: lighten($green,10%);
  padding: 15px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 120px;
  max-width: 350px;
  .message-origin {
    font-size: 10px;
    color: lighten($gray,10%);
    font-weight: 600;
    position: absolute;
    bottom: -17px;
    right: 0;
  }
  .message-content {
    font-size: 14px;
    font-weight: 600;
  }
}



.customer-message-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.agency-message-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 35px;
}




.panel-body#messages {
  display: flex;
  flex-direction: column;
  .conversation-starting-message {
    background-color: darken(lightgoldenrodyellow,5%);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    color: $gray;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .agency-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $light-gray;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
      color: lighten($gray,10%);
      font-size: 18px;
    }
  }
  .customer-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $light-gray;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
      color: lighten($gray,10%);
      font-size: 18px;
    }
  }
}


#chat_message_content {
  border-radius: 30px;
  border: 1px solid rgb(230,230,230);
  margin: 0;
  height: 56px;
  padding-left: 24px;
  &::placeholder {
    color: $gray;
    font-weight: 500;
  }
}


.panel.panel-default#chatroom {
  box-shadow: none;
  border: none;
  background-color: transparent;
}







