.webhooks-header {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 40px 0;
  margin-left: 8px;
  letter-spacing: -0.3px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.webhook-card {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid rgb(230,230,230);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  .websocket-live-item-logo {
    padding: 3px 6px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 3px;
    background-color: rgba(252,47,79,0.15);
    color: rgba(252,47,79,0.9);
    margin-left: 10px;
    letter-spacing: -0.3px;
  }
  .event-time-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: -0.1px;
    .point-delimiter {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #a0a0b4;
      margin: 0 6px;
    }
    .webhook-time-label {
      margin-right: 4px;
      color: #a0a0b4;
    }
    .webhook-time {
      color: darken(#a0a0b4, 27%);
    }
  }
  .webhook-card-content {
    color: rgb(100,100,120);
    .webhook-content-item {
      display: flex;
      align-items: center;
      code {
        font-size: 1rem;
        color: darken(tomato,20%);
        background-color: lighten(tomato,30%);
      }
      .content-item-label {
        margin-right: 6px;
        font-weight: 600;
      }
      .content-item-value {
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.success {
          color: darken(lightgreen,20%);
          font-weight: 700;
        }
        &.failed {
          color: tomato;
          font-weight: 700;
        }
        &.neutral {
          color: rgb(160,160,180);
          font-weight: 600;
        }
        &.neutral-bold {
          color: rgb(160,160,180);
          font-weight: 700;
        }
        &.personal {
          color: rgb(40,180,240);
          font-weight: 600;
        }
      }
    }
  }
  .inline-svg {
    margin-right: 10px;
    svg {
      width: 20px;
      height: 20px;
    }
    &.success-checked {
      margin-left: 5px;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  .fullheader {
    margin-bottom: 5px;
  }
  .webhook-card-header {
    font-weight: 700;
    font-size: 1.65rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .webhook-description {
      margin-left: 10px;
      font-weight: 700;
      color: darken(deepskyblue,3%);
      background-color: lighten(deepskyblue,43%);
      font-size: 1.1rem;
      padding: 3px 6px;
      border-radius: 4px;
      &.action {
        background-color: lighten(lightgreen,18%);
        color: darken(lightgreen,35%);
      }
    }
    .webhook-time {
      font-size: 1.2rem;
      color: rgb(160,160,160);
      font-weight: 700;
      margin-left: 10px;
    }
    .webhook-badge {
      padding: 3px 7px;
      margin: 0 10px;
      font-size: 0.81rem;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: -0.1px;
      font-weight: 700;
      border-radius: 5px;
      background-color: rgb(240,240,240);
    }
    .thin-text {
      font-weight: 500;
    }
  }
}


.webhook-filter-trigger {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-weight: 400;
  margin-right: 16px;
  font-size: 1.4rem;
  position: relative;
  color: #a0a0b4;
  font-weight: 600;
  cursor: pointer;
  &.active {
    font-weight: 700;
    color: darken(deepskyblue,3%);
  }
}


.webhook-filter-trigger-sm {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-weight: 400;
  margin-right: 10px;
  font-size: 1.2rem;
  position: relative;
  color: rgb(140,140,140);
  font-weight: 600;
  cursor: pointer;
  &.active {
    font-weight: 700;
    color: darken(deepskyblue,3%);
  }
}


.webhook-filter-result-count {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  margin-left: 15px;
  font-weight: 700;
  color: white;
  background-color: darken(deepskyblue,3%);
  font-size: 1.2rem;
  padding: 2px 4px;
  border-radius: 4px;
}

.webhook-nested-filter-container {
  display: flex;
  align-items: center;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  .nested-filter-btn {
    margin-right: 15px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: rgb(230,230,230);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }
  .webhook-filter-trigger-sm {
    margin-right: 10px;
    font-size: 1.2rem;
    position: relative;
    color: darken(deepskyblue,10%);
    font-weight: 600;
    cursor: pointer;
  }
  .small-title {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 10px;
    color: #a0a0b4;
  }
}

#webhook-filter-container {
  margin-bottom: 15px;
}






