
.select2-container--default .select2-selection--multiple {
  min-height: 55px !important;
  height: unset !important;
}

span.select2-selection {
  ul.select2-selection__rendered {
    li.select2-search--inline {
      input.select2-search__field {
        &::placeholder {
          font-size: 1.6rem !important;
          font-weight: 400 !important;
          color: rgb(50,50,50) !important;
          letter-spacing: -0.3px !important;
        }
      }
    }
  }
}


.new-localisation-logic {
  padding: 100px;
  span.select2-container {
    span.select2-selection {
      font-family: "Cerebri Sans";
      ul.select2-selection__rendered {
        flex-wrap: wrap;
        li.select2-selection__choice {
          font-family: "Cerebri Sans" !important;
          font-size: 1.6rem !important;
          font-weight: 400 !important;
          letter-spacing: -0.2px;
          background-color: dodgerblue;
          color: white;
          padding: 3px 11px !important;
          display: flex;
          align-items: center;
          margin-top: 3px !important;
          margin-bottom: 3px !important;
          span.select2-selection__choice__remove {
            color: white;
            font-size: 2rem;
            margin-right: 6px;
          }
        }
      }
    }
  }
}


.select2-marker-icon {
  font-size: 1.8rem;
  color: lighten(dodgerblue,25%);
  margin-right: 8px;
}


span.select2-container--open {
  span.select2-dropdown {
    span.select2-results {
      ul.select2-results__options {
        li.select2-results__option {
          font-family: "Cerebri Sans" !important;
          font-weight: 400;
          font-size: 1.6rem;
          padding: 15px;
          letter-spacing: -0.2px;
        }
        li.select2-results__option--highlighted {
          font-family: "Cerebri Sans" !important;
          background-color: dodgerblue;
          font-weight: 400;
          font-size: 1.6rem;
          padding: 15px;
          letter-spacing: -0.2px;
        }
      }
    }
  }
}

.zipcode-responses {
  margin: 50px 0;
  flex-wrap: wrap;
  .flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cerebri Sans";
    margin: 0 10px;
    width: 32%;
    .zipcode {
      font-size: 1.7rem;
      font-weight: 700;
      color: darken(lightgreen,25%);
      letter-spacing: -0.6px;
      padding: 15px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
      .precise-address {
        font-size: 1.3rem;
        font-weight: 400;
        color: darken(lightgreen,25%);
      }
      .coordinates {
        font-size: 1.3rem;
        font-weight: 600;
        color: tomato;
        margin-top: 15px;
      }
      .small {
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }
}



.underlined-btn {
  font-family: "Cerebri Sans";
  position: relative;
  letter-spacing: -0.3px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0;
  color: darken(lightgreen,20%);
}


.spanned-button {
  position: relative;
}

.spanned-button:after {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  top: 113%;
  border-bottom: 2px solid darken(lightgreen,10%);
}

.fullpage-header-sm {
  font-family: "Cerebri Sans";
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: -0.3px;
}






