.container
  - if @present_condition
    .big-title
      = "Créer un condition pour la question - #{@question.position}"
  - else
    .big-title
      = "Rajouter une autre condition pour la question - #{@question.position}"
  = simple_form_for [:v2, @condition] do |f|
    = f.input :question, as: :hidden, input_html: {value: @question.id}
    = f.input :demand_field, collection: V2Demand.fields.keys, label: "Champ de la demande"
    = f.input :operator, collection: [["equal","Egale à"], ["not_equal","Différent de"]], label: "Opérateur", label_method: :last, value_method: :first
    = f.input :value, collection: @values, label: "Valeur", label_method: :first, value_method: :last
    = f.input :parent_question_id, as: :hidden, input_html: {value: @question.id}
    = f.input :children_operator, collection: [["and","Et"], ["or","Ou"]], label: "Opérateur autre condition", label_method: :last, value_method: :first
    - if @present_condition
      = f.input :parent_condition, as: :hidden, input_html: {value: @present_condition}
    .d-flex-center
      = f.submit "Créer une condition", class: "btn btn-primary"
