.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.v2-dashboard-agency-demands
    .v2-dashboard-agency-demands-header
      = "TOUTES LES DEMANDES"

    .v2-dashboard-agency-demands-container
      .left
        .filters-block
          = render "v2/agencies/partials/filters_block"

      .right
        = render "v2/agencies/partials/demands_list_block"









