.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.v2-dashboard-agency-demand
    .v2-dashboard-agency-demand-container
      .demand-header
        .main-details
          - if @demand.property_type == "Une maison" || @demand.property_type == "Un appartement"
            = "#{@demand.property_type} #{pluralize(@demand.rooms, 'pièce', 'pièces')} à #{@demand.search_formatted_area} - #{@demand.budget} €"
          - else
            = "#{@demand.property_type} à #{@demand.search_formatted_area} - #{@demand.ground_budget} €"

        .demand-date
          = "Date de création #{l(@demand.created_at, format: :spread)}"

        .demand-links
          = link_to generate_pdf_path(demand_id: @demand.id.to_s, format: :pdf) do
            .bcs-button-sm-animation-line.mr-10.large
              Télécharger le PDF
              .line-1
              .line-2
              .line-3
              .line-4

          = link_to "#available-props" do
            .bcs-button-sm-animation-line.large
              Faire une proposition
              .line-1
              .line-2
              .line-3
              .line-4

      - if @demand.property_type == "Une maison" || @demand.property_type == "Un appartement"
        = render "v2/agencies/partials/demand_about_house_and_appartment"
      - else
        = render "v2/agencies/partials/demand_about_terrain"

      = render "v2/agencies/partials/already_proposed_props"

.v2-props-container#available-props
  = render "v2/agencies/partials/props_to_proposed"














