.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  #agency-status-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.agency-status{:role => "document"}
      .modal-content
        .modal-body
          %button{"data-dismiss": "agency-status-modal", type: "button"}
            %span{"aria-hidden": "true"} ×
          .bolder Votre agence est en cours de validation
          .thin
            Un membre de l'équipe Bientôt Chez Soi prendra très bientôt contact avec vous pour valider votre compte !

  - if current_agency.activated
    .activated-agency-checker.hidden{"data-agency-checker": "active"}
  - else
    .activated-agency-checker.hidden{"data-agency-checker": "inactive"}

  %section.v2-agency-zone
    .v2-first-blocks-container
      .left
        .v2-agency-block.green
          .header-with-icon
            %h2.white-text
              = "Bonjour #{current_agency.name.upcase if current_agency.name}"
            .icon-menu-kenotte
          .actions-container
            .action-item
              .circled-fa
                .fa.fa-euro
              = "Budget minimum : #{number_with_delimiter(current_agency.min_price, locale: :fr)} €"
          - if current_agency.catchment_area
            .actions-container
              .action-item
                .circled-fa
                  .fa.fa-map-marker
                - if current_agency.catchment_area.size == 1
                  = "Zone de chalandise : #{current_agency.catchment_area.first}"
                - elsif current_agency.catchment_area.size == 2
                  = "Zone de chalandise : #{current_agency.catchment_area.first} et #{current_agency.catchment_area.last}"
                - elsif current_agency.catchment_area.size > 2
                  = "Zone de chalandise : #{current_agency.catchment_area[0..-2].join(", ")} et #{current_agency.catchment_area.last}"
          .d-flex-center
            = link_to "Je modifie mes infos", dashboard_agency_update_infos_path, class: "v2-bcs-button-gray mt-25"

      .right
        .v2-block-infos.white
          .header
            %h2 Infos contact
          .content
            .left
              .agency-large-text.green-text
                - if @contact.firstname && @contact.lastname
                  = "#{@contact.firstname} #{@contact.lastname}"
              .agency-small-text
                - if @contact.email
                  = @contact.email
              .agency-small-text
                - if @contact.personal_phone
                  = @contact.personal_phone

            .right
              .inline-svg
                = svg("maison")

    .v2-second-blocks-container
      .left
        = render "v2/agencies/partials/unviewed_demands"
      .right
        .top
          = render "v2/agencies/partials/scheduled_visits"
        .bottom
          = render "v2/agencies/partials/pending_offers"

