.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.v2-dashboard-agency-demands
    .v2-dashboard-agency-props-container
      .v2-dashboard-agency-demands-header
        = "OFFRES EN ATTENTE DE RÉPONSE"

      .v2-properties-list-container
        = render "v2/agencies/partials/pending_offers_list_block"
