.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.v2-dashboard-agency-demands
    = render "v2/agencies/partials/prop_creation_modals"
    .v2-dashboard-agency-props-container
      .v2-dashboard-agency-demands-header.hidden
        = "PROPRIÉTÉS EN ATTENTE DE VISITE"

      .v2-dashboard-agency-props-header
        = "Les biens de l'agence #{@agency.name} en ligne"
      .v2-dashboard-agency-props-subheader
        Ici je retrouve tous les biens que mon agence a publié ou proposé aux demandes correspondantes.

      .v2-properties-list-container
        = render "v2/agencies/partials/properties_list_block"

  - if @properties != []
    .property-create-container
      .sup-content Il manque des biens ?
      .sub-content Pour créer un bien c'est par ici :
      = link_to "Ajouter une offre", agency_zone_create_property_path, class: "bcs-button-sm-animation-filling"
