.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"
  %section.v2-dashboard-agency-demands
    .v2-dashboard-agency-props-container
      .v2-dashboard-agency-props-header
        = "Vos offres en attente de réponse"
      .v2-dashboard-agency-props-subheader
        Ici je retrouve tous les biens que mon agence a proposé aux demandes correspondantes.

      .v2-properties-list-container
        = render "v2/agencies/partials/properties_waiting_for_responses_list"
