.agency-dashboard-fullpage
  = render "v2/agencies/partials/fixed_menu_v2"

  %section.v2-customer-property-show
    .property-show-header-container
      .property-show-title
        - if @property.titre
          = "#{@property.titre.upcase}"
        - if @property.title
          = @property.title.upcase

      .property-show-ref
        .icon-text-line
          .fa.fa-folder-open
          = "REF_#{@property.id.to_s.upcase.last(5)}"

    .property-show-main-container
      .left-container
        - if @property.images_array
          .property-main-photo{style: "background-image: url('#{@property.images_array.last if @property.images_array != []}');"}
            .absolute-badge
              NOUVEAU
        - elsif @property.pictures.any?
          .property-main-photo{style: "background-image: url('#{@property.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}');"}
            .absolute-badge
              NOUVEAU
        - elsif @property.img_1_url
          .property-main-photo{style: "background-image: url(#{@property.img_1_url});"}
            .absolute-badge
              NOUVEAU
        - else
          .property-main-photo{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}
            .absolute-badge
              NOUVEAU

      .right-container
        .property-infos-container
          .top-container
            .price
              - if @property.prix
                = "#{number_with_delimiter(@property.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
              - if @property.price
                = "#{number_with_delimiter(@property.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"

            .fees
              Frais Agence Inclus

          .bottom-container
            .infos-wrapper
              .info
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
                - if @property.type_bien
                  = @property.type_bien
                - if @property.property_type
                  = @property.property_type
              .info
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                = surface_format(@property.area)
              .info
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                = "#{@property.nb_room} Pièces"
              .info
                = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/bed.svg", width: "17"
                = "#{@property.nb_sleeping_room} Chambres"
              .info
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                - if @property.cp && @property.ville
                  = "#{@property.cp} #{@property.ville}"
                - if @property.zipcode && @property.localisation
                  = "#{@property.zipcode} #{@property.localisation}"

            .text-wrapper
              = "Gérez votre bien avec les options ci-dessous"

            .links-wrapper
              .links{class: "#{'hidden' if @property.status == "5"}"}
                = link_to change_status_path(@property) do
                  .bcs-button-sm-animation-line.width.green
                    Marquer comme vendu
                    .line-1.green
                    .line-2.green
                    .line-3.green
                    .line-4.green
              .links
                = link_to dashboard_agency_property_destroy_path(property_id: @property.id.to_s), method: :delete do
                  .bcs-button-sm-animation-line.width.red
                    Supprimer
                    .line-1.red
                    .line-2.red
                    .line-3.red
                    .line-4.red
              .links
                = link_to dashboard_agency_property_update_path(property_id: @property.id.to_s) do
                  .bcs-button-sm-animation-line.width
                    Modifier
                    .line-1
                    .line-2
                    .line-3
                    .line-4
              - if @property.pdf_url
                .links
                  = link_to @property.pdf_url, target: "_blank" do
                    .bcs-button-sm-animation-line.width
                      Télécharger la fiche
                      .line-1
                      .line-2
                      .line-3
                      .line-4

    .property-show-pictures
      - if @property.images_array
        - @property.images_array.each do |image|
          = link_to "#{image}", "data-lightbox": "property" do
            .picture-container{style: "background-image: url('#{image}')"}
      - elsif @property.pictures != []
        - @property.pictures.select{|pict| pict.photo_url != nil }.each do |picture|
          = link_to "#{picture.photo_url}", "data-lightbox": "property-from-fo" do
            .picture-container{style: "background-image: url('#{picture.photo_url}')"}
      - elsif @present_imgs != []
        - @present_imgs.each do |number|
          = link_to "#{@property.send("img_#{number}_url")}", "data-lightbox": "property-from-fo" do
            .picture-container{style: "background-image: url('#{@property.send("img_#{number}_url")}')"}

    .property-show-description
      .description-header
        La petite histoire
      .description-content
        = @property.corps.html_safe

    .property-show-details-first
      .left-container
        .details-header
          Le bien en détails
        .details-content
          .detail
            %strong Espace principal
            - if @property.living_space
              = "#{@property.living_space} m²"
            - else
              %i Non renseigné

          .detail
            - if @property.nb_kitchen
              - if @property.nb_kitchen == 1
                .detail
                  %strong Cuisine
                  = @property.nb_kitchen
              - elsif @property.nb_kitchen > 1
                .detail
                  %strong Cuisines
                  = @property.nb_kitchen

            - else
              %strong Cuisine
              %i Non renseigné

          .detail
            - if @property.nb_bathrooms
              - if @property.nb_bathrooms == 1
                .detail
                  %strong Salle de bain
                  = @property.nb_bathrooms
              - elsif @property.nb_bathrooms > 1
                .detail
                  %strong Salle de bains
                  = @property.nb_bathrooms

            - elsif @property.Nb_waterrooms
              - if @property.Nb_waterrooms == 1
                .detail
                  %strong Salle de bain
                  = @property.Nb_waterrooms
              - elsif @property.Nb_waterrooms > 1
                .detail
                  %strong Salle de bains
                  = @property.Nb_waterrooms

            - else
              %strong Salle de bain
              %i Non renseigné

          .detail
            - if @property.nb_floor
              - if @property.nb_floor == 1
                .detail
                  %strong Etage
                  = @property.nb_floor
              - elsif @property.nb_floor > 1
                .detail
                  %strong Etages
                  = @property.nb_floor

            - else
              %strong Etage
              %i Non renseigné

          .detail
            - if @property.elevator
              - if @property.elevator == true
                .detail
                  %strong Accessibilité
                  = "Ascenseur"
              - elsif @property.elevator == false
                .detail
                  %strong Accessibilité
                  = "Escaliers"

            - else
              %strong Accessibilité
              %i Non renseigné

          .detail
            %strong Exposition
            - if @property.exposition
              = @property.exposition
            - else
              %i Non renseigné

          .detail
            %strong Parking
            - if @property.parking
              = @property.parking
            - else
              %i Non renseigné

          .detail
            - if @property.chauffage
              .detail
                %strong Chauffage
                = @property.chauffage

            - elsif @property.energie_chauffage
              .detail
                %strong Chauffage
                = @property.energie_chauffage

            - elsif @property.format_chauffage
              .detail
                %strong Chauffage
                = @property.format_chauffage

            - else
              %strong Chauffage
              %i Non renseigné

          .detail
            - if @property.dpe
              .detail
                %strong DPE
                = @property.dpe

            - else
              %strong Chauffage
              %i Non renseigné

      .right-container
        .map-header
          A proximité de...
        #property-map
        .map-markers

    .property-show-details-second
      .details-header
        Le bien en détails
      .details-content
        .detail
          %strong Honoraires
          - if @property.fees
            = "#{@property.fees} €"
          - else
            %i Non renseigné

        .detail
          %strong Honoraires à la charge de
          - if @property.fees_from
            = @property.fees_from
          - else
            %i Non renseigné

        .detail
          %strong Disponible
          - if @property.available_date
            = @property.available_date
          - else
            %i Non renseigné

    - if @property.pdf_url
      .link
        = link_to @property.pdf_url, target: "_blank" do
          .bcs-button-sm-animation-line
            Télécharger la fiche détaillée
            .line-1
            .line-2
            .line-3
            .line-4


















