- title "Bientôt Chez Soi - Mon Espace Personnel"
- meta_description "Ma recherche, mes conseils & mes avantages ! Je retrouve mes services se trouvent & mes offres de biens sur Bientôt Chez Soi"


.form-big-header
  On se connaît déjà ?

.container
  .custom-sign-wrapper
    .custom-wrapper-left#signin-block
      .devise-form-margin
        .custom-form-container
          .row
            .col-xs-12
              .authenticated_header
                %h4
                  = "Déjà membre de la tribu ?"
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/customer-signin-kenotte.svg"
            .col-xs-12
              .form-title
                = "Je saisis mes identifiants pour accéder à mon espace personnel."


        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.error_notification
          .custom-form-container
            .form-inputs
              .row
                .col-xs-12.col-md-6
                  = f.input :email, placeholder: "Courriel", label: false, required: false
                  .absolute-icon-hint
                    .fa.fa-share
                .col-xs-12.col-md-6
                  = f.input :password, placeholder: t("customer_session_new.inputs.input_2.placeholder"), label: false, required: false, autocomplete: "current-password"
                  .absolute-icon-hint
                    .fa.fa-key
            .form-actions.mt-25
              = f.button :submit, t('customer_session_new.actions.submit_text'), class: 'bcs-button-xxs-light'
            .row
              .col-xs-12
                .forgotten-password
                  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                    = link_to "J'ai oublié mon mot de passe", new_password_path(resource_name), class: 'green-link'





    .custom-wrapper-right#signup-block.hidden
      .devise-form-margin

        .custom-form-container
          .row
            .col-xs-12
              .authenticated_header
                %h4
                  = "Nouveau Castor ?"
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/customer-signup-kenotte.svg"
            .col-xs-12
              .form-title-signup
                = "Je saisis mon numéro de téléphone mobile pour sécuriser mon inscription."



        - if !resource.errors.any?

          .custom-form-container
            = form_tag(sms_validations_path, method: :post, id: "sms-validation-form-genuine") do
              .form-inline-container
                .form-inline
                  %input.form-control{type: "tel", name: "phone", placeholder: "0611100908"}
                .form-inline.mt-25
                  %input.bcs-button-xxs-light{type: "submit", value: "JE VALIDE"}

          .custom-form-container
            #sms-return-code.hidden
              = form_tag(sms_return_path, method: :post, id: "sms-return-form-genuine") do
                .form-inline-container
                  .form-inline
                    %input.form-control{type: "text",name: "code", placeholder: "Xw7j"}
                  .form-inline.mt-25
                    %input.bcs-button-xxs-light{type: "submit", value: "JE VALIDE"}

          #new-customer-container.without-errors.hidden
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f|
              = f.error_notification
              .custom-form-container
                .form-inputs
                  .row
                    .col-xs-12
                      = f.input :email, placeholder: "Adresse de courriel", label: false
                      = f.input :phone, as: :hidden
                    .col-xs-12
                      = f.input :first_name, placeholder: "Prénom", label: false
                    .col-xs-12
                      = f.input :last_name, placeholder: "Nom", label: false
                    .col-xs-12
                      = f.input :country, priority: ["FR","DE","IT","ES"], as: :country, label: false
                    .col-xs-12
                      = f.input :city, placeholder: "Ville", input_html: {id: 'user_input_autocomplete_address'}, autocomplete:"off", label: false
                    .col-xs-12
                      = f.input :password, placeholder: 'Mot de passe', label: false, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
                    .col-xs-12
                      = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false
                    .col-xs-12
                      = f.input :promo_code, placeholder: "J'ai un code promo", label: false
                .row
                  .col-xs-12
                    .form-actions-cgu
                      = f.input :cgu, as: :boolean, label: "Accepter les conditions générales d'utilisation"
                  .col-xs-12
                    .form-actions-cgu
                      = link_to "Télécharger les CGU", "https://cdn.bientotchezsoi-dev.com/images/cgu-particulier.pdf", target: "_blank", class: "cgu-download"
                .form-actions.mt-25
                  = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-xxs-light'


        - else

          #new-customer-container
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f|
              = f.error_notification
              = resource.errors.full_messages
              .custom-form-container
                .form-inputs
                  .row
                    .col-xs-12
                      = f.input :email, placeholder: "Adresse de courriel", label: false
                      = f.input :phone, as: :hidden
                    .col-xs-12
                      = f.input :first_name, placeholder: "Prénom", label: false
                    .col-xs-12
                      = f.input :last_name, placeholder: "Nom", label: false
                    .col-xs-12
                      = f.input :country, priority: ["FR","DE","IT","ES"], as: :country, label: false
                    .col-xs-12
                      = f.input :city, placeholder: "Ville", label: false
                    .col-xs-12
                      = f.input :password, placeholder: 'Mot de passe', label: false, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length)
                    .col-xs-12
                      = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false
                    .col-xs-12
                      = f.input :promo_code, placeholder: "J'ai un code promo", label: false
                .row
                  .col-xs-12
                    .form-actions-cgu
                      = f.input :cgu, as: :boolean, label: "Accepter les conditions générales d'utilisation"
                  .col-xs-12
                    .form-actions-cgu
                      = link_to "Télécharger les CGU", "https://cdn.bientotchezsoi-dev.com/images/cgu-particulier.pdf", target: "_blank", class: "cgu-download"
                .form-actions
                  = f.button :submit, "JE M'INSCRIS", class: 'bcs-button-xxs-light'

