%section.rent-agency-index
  .container
    .rent-agency-index-header Les agences BientôtMaLoc

    .rent-agency-index-subheader
      = "Agence actives"
    - @active_rent_agencies.each do |ra|
      .rent-agency-index-item
        .infos-block
          .rent-agency-name
            = "#{ra.name}"
          .rent-agency-created-at
            = "Crée le #{l(ra.created_at, format: :medium)}"
          = ra.email
          .rent-agency-phone
            .inline-svg
              = svg("phone-alt")
            = Phonelib.parse(ra.phone).national
        .actions-block
          = link_to "Modifier", edit_rent_agency_path(ra), class: "modern-blue-btn-text-sm"
          .point-delimiter
          - if ra.active
            .inactive-item.deactivate-rent-agency{"data-agency-id": ra.id.to_s}
              = "Désactiver"
          - else
            .active-item.activate-rent-agency{"data-agency-id": ra.id.to_s}
              = "Activer"

    .block-separator

    .rent-agency-index-subheader
      = "Agence inactives"
    - @inactive_rent_agencies.each do |ra|
      .rent-agency-index-item
        .infos-block
          .rent-agency-name
            = "#{ra.name}"
          .rent-agency-created-at
            = "Crée le #{l(ra.created_at, format: :medium)}"
          = ra.email
          .rent-agency-phone
            .inline-svg
              = svg("phone-alt")
            = Phonelib.parse(ra.phone).national
        .actions-block
          = link_to "Modifier", edit_rent_agency_path(ra), class: "modern-blue-btn-text-sm"
          .point-delimiter
          - if ra.active
            .inactive-item.deactivate-rent-agency{"data-agency-id": ra.id.to_s}
              = "Désactiver"
          - else
            .active-item.activate-rent-agency{"data-agency-id": ra.id.to_s}
              = "Activer"
