%section.rent-agency-show-infos
  .container
    .rent-agency-show-infos-header Infos à renseigner sur Typeform

    .rent-agency-show-infos-item
      .custom-label
        agency_id
      .custom-value
        = @rent_agency.id.to_s

    .rent-agency-show-infos-item
      .custom-label
        agency
      .custom-value
        = @rent_agency.name

    .rent-agency-show-infos-item
      .custom-label
        agency_phone
      .custom-value
        = @rent_agency.phone

    .rent-agency-show-infos-item
      .custom-label
        agency_mail
      .custom-value
        = @rent_agency.email
