
// GLOBAL STYLES //
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
}

a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}


.width-10 {
  width: 10%;
}
.width-15 {
  width: 15%;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-35 {
  width: 35%;
}
.width-40 {
  width: 40%;
}


// FLEXBOX UTILITIES //
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  &.fullwidth {
    width: 100%;
  }
}

.d-flex-center-without-align-items {
  display: flex;
  justify-content: center;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.fullwidth {
    width: 100%;
  }
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.start-align {
    align-items: flex-start;
  }
}

.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.d-flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.d-flex-column-end {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.d-flex-column-fullheight-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  &.fullwidth {
    width: 100%;
  }
}

.d-flex-between-start {
  display: flex;
  justify-content: space-between;
  &.start-align {
    align-items: flex-start;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-half-dynamic {
  width: 50%;
}

.align-start {
  align-items: flex-start;
}



// PDF FLEXBOX UTILITIES
.pdf-d-flex-center {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.pdf-d-flex-start {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}




// COLORS //
.bck-dark-light {
  background-color: #eeeaea;
}
.bck-green {
  background-color: #b0c365;
}
.bck-orange {
  background-color: #d9cfc9;
}

#bck-advice-green {
  background-color: #ced893 !important;
}






.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-25 {
  margin-left: 25px;
}

// MARGINS //
.mt-25 {
  margin-top: 25px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-55 {
  margin-bottom: 55px;
}
.mb-60 {
  margin-bottom: 60px;
}

.mr-10 {
  margin-right: 10px;
}


.ml-10 {
  margin-left: 10px;
}




.mt-70 {
  margin-top: 70px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}
.m-15 {
  margin: 0 12px;
}

.m-sides-10 {
  margin: 0 10px;
}
.m-sides-5 {
  margin: 0 5px;
}

.zero-margins {
  margin: 0 !important;
}


.mtb-25 {
  margin: 25px 0;
}


// PADDINGS //
.section-padding {
  padding: 50px 10%;
  box-sizing: border-box;
}




// MEDIA QUERIES //
@media (max-width: 768px) {
  .flex-half-dynamic {
    width: 100%;
  }
  .section-padding {
    padding: 50px 5%;
  }
}


// FONT SIZE UTILITIES //
.big-title {
  font-size: 40px;
  font-weight: bolder;
}

.less-text-space {
  letter-spacing: -1px;
  color: lighten($gray,20%) !important;
}


input {
  box-shadow: none;
}

.form-control {
  font-size: 16px !important;
}


.lighter {
  font-weight: lighter;
}
.bold {
  font-weight: 600;
}
.boldest {
  font-weight: bolder;
}


.page-header {
  font-family: "Open Sans";
  h1, h2, h3, h4 {
    font-family: "Open Sans";
  }
  h3 {
    font-family: "Open Sans";
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  small {
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: -0.6px;
  }
  small.light {
    font-family: "Open Sans";
    font-weight: normal;
    letter-spacing: -0.6px;
    color: lightsteelblue;
  }
}


.table > thead > tr > th {
  border-bottom: none;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: -0.6px;
  color: $gray;
}

td > .zipcode {
  font-size: 12px;
  display: inline-block;
  color: lighten($gray,20%);
  font-weight: bolder;
}

td > .date {
  font-size: 12px;
  display: inline-block;
  color: lighten($gray,20%);
  font-weight: 600;
  letter-spacing: -0.6px;
}

.empty-field {
  color: $dark-red;
}


.icons-container {
  font-size: 80px;
  display: flex;
  align-items: end;
  .green {
    color: $green;
  }
  .red {
    color: $dark-red;
  }
  .orange {
    color: rgb(200,120,50);
  }
}


section.logged-admin-container {
  width: 100%;
  position: fixed;
  bottom: 40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .logged-admin-wrapper {
    border-radius: 4px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-red;
    color: white;
    font-weight: 600;
  }
}


.custom-multi-photo-wrapper {
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
  .preview-pdf-file-name {
    position: absolute;
    bottom: -20px;
    left: 0;
    margin-left: 0;
  }
  .preview-file-size {
    position: absolute;
    bottom: -35px;
    left: 0;
    margin-left: 0;
    font-size: 10px;
    font-weight: bolder;
  }
  img.preview-image {
    height: 90px;
    width: 90px;
    margin-right: 25px;
    border-radius: 3px;
  }
}

.green-text {
  color: $green;
}

.limegreen-text {
  color: limegreen;
}

.white-text {
  color: white;
}

.gray-text {
  color: $gray;
}

.border-red {
  border: 2px solid $dark-red !important;
}

.opacity-background-7 {
  opacity: 0.7 !important;
}

.opacity-background-5 {
  opacity: 0.5 !important;
}
.opacity-on-pin {
  opacity: 0.2;
  transition: all 1.6s;
}
.z-index-on-pulse {
  z-index: -1000 !important;
}

.relative {
  position: relative;
}


.disabled {
  opacity: 0.4;
}


.relative {
  position: relative;
}
.absolute {
  position: absolute;
}




.custom-input-error {
  font-size: 1.2rem;
  letter-spacing: -0.2px;
  font-weight: 600;
  color: tomato;
  position: relative;
  top: -10px;
}


.input-error-border {
  border: 1px solid tomato !important;
  color: tomato;
  font-weight: 700;
}



.fixed-height-photo {
  height: 130px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.important-cerebri-font {
  font-family: "Cerebri Sans" !important;
}


.viewport-fullheight-block {
  min-height: calc(100vh - 69px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .viewport-fullheight-block {
    min-height: unset;
  }
}


.th-flex-1 {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.th-flex-2 {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.th-flex-3 {
  flex: 3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}


.td-flex-1 {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.td-flex-2 {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.td-flex-3 {
  flex: 3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}





















