- if @customer.v2_demands.any? && @customer.vip
  = render "dashboard/customers/partials/vip"
- elsif @customer.v2_demands.any?
  = render "dashboard/customers/partials/active"
- else
  = render "dashboard/customers/partials/empty"
