.property-partial-show
  .prop-partial-top{style: "background-image: url(#{@property.pictures.last.photo_url if @property.pictures != []});"}
    .partial-top-badge
      NOUVEAU
  .prop-partial-bottom
    .partial-bottom-title-and-price
      %div
        = @property.title
      %div
        = format_string_price(@property.price)
    .partial-bottom-description
      = @property.corps.truncate(30)
    .partial-bottom-likes
      .bottom-likes-item
        .icon-prop-delete.fontastic.icon-gray
      .bottom-likes-item.icon-shifted
        .icon-prop-plain-heart.fontastic.icon-green
      .bottom-likes-item
        .icon-prop-fire.fontastic.icon-red

    - if @property.customer_advices.any?
      .d-flex-center
        .badge.mt-25
          = "Vous avez donné votre avis pour ce bien"
      .bcs-button-text
        %div
          = "Score : #{@property.customer_advices.last.score}"
        %div
          = "Choix : #{@property.customer_advices.last.like}"
        %div
          = "Commentaire : #{@property.customer_advices.last.comment}"
    - else
      .d-flex-center.mt-25
        = link_to "Donner mon avis", dashboard_customer_new_advice_path(property_id: @property.id.to_s, demand_id: current_customer.demands.last.id.to_s), class: "bcs-button-very-small"

