.agency-dashboard-fullpage
  = render "dashboard/customers/partials/vip_fixed_menu"

  .dashboard-fullpage-container.vip
    .d-flex-start
      %h2.header-vip.bold Je bénéficie d'avantages avec mon profil VIP *

    .row
      .col-xs-12.col-md-6
        .vip-service-card
          %h2 2h de bricolage
          .service-description
            Je profite du travail d'un expert pendant 2h, que ce soit pour réparer ou monter des meubles
          .partner-title
            Le partenaire
          .d-flex-center
            = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/vip/needhelp-vip.png", width: "200"

      .col-xs-12.col-md-6
        .vip-service-card.gold
          %h2 Mon interlocuteur personnel
          .service-description
            Je peux compter sur lui à n'importe quelle heure (du jour bien sûr). Il est là pour me conseiller et suivre mon dossier de recherche
          .interlocutor-title
            Mon interlocuteur : Clémént Deslile
          .content
            .service-description
              jesuisvip@bientotchezsoi.com
            .service-description
              05 35 54 48 48

      .col-xs-12.col-md-6
        .vip-service-card.gold
          %h2 Mon entretien post-visite
          .service-description
            Je profite de l'expertise de mon agent après une visite. Il m'aidera à me rappeller les points importants.
          .interlocutor-title
            Mon expert : Laure Gaudin
          .content
            .service-description
              laure@bientotchezsoi.com
            .service-description
              05 35 54 48 48

      .col-xs-12.col-md-6
        .vip-service-card
          %h2 Je trouve l'architecte parfait
          .service-description
            La start-up Mon maître carré m'écoute et me dirige vers un architecte qui saura mener à bien mon projet.
          .partner-title
            Le partenaire
          .d-flex-center
            = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/vip/maitre-vip.png", width: "200"

      .col-xs-12.col-md-6
        .vip-service-card
          %h2 Mon assurance vice caché
          .service-description
            Je bénéficie de l'expertise d'agent pour détécter les vices cachés lors de mon achat immobilier
          .partner-title
            Le partenaire
          .d-flex-center
            = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/vip/horizon-vip.png", width: "200"

      .col-xs-12.col-md-6
        .vip-service-card.gold
          %h2 Des conseils design et déco
          .service-description
            Sylvie Gardey est une architecte d'intérieur. Elle saura me guider dans l'agencement de mon nouveau logement.
          .interlocutor-title
            Mon interlocutrice : Sylvie Gardey
          .d-flex-center
            = image_tag "https://cdn.bientotchezsoi-dev.com/pictos/vip/hubstairs-vip.png", width: "200"


      .col-xs-12
        %h5.service-description
          * Offre strictement personnelle, valable pour toute signature de d'un acte authentique de vente d'un bien immobilier signé avant le 01 janvier 2020. Avantage non remboursable, à choisir entre le conseil déco de 2h et l'offre réparation petits travaux. Bientôt Chez Soi - Julatis SAS doit obligatoirement figurer sur l'acte de vente en tant qu'intermédiaire sur l'acte authentique de vente.

