.admin-container
  .content
    .title
      = "Nombre de demande de parrainage : #{@sponsorships.size}"
    - @sponsorships.each do |sponsor|
      .panel.panel-default
        .panel-body
          = sponsor.id
          = link_to "Voir la demande", admin_sponsorship_path(sponsor.id.to_s), class: "bcs-button-very-small"
