.admin-container
  .content
    .panel.panel-default
      .panel-body
        .item
          = "Prénom du parrain :"
          %strong
            = @sponsorship.first_name
        .item
          = "Nom du parrain :"
          %strong
            = @sponsorship.last_name
        .item
          = "Email du parrain :"
          %strong
            = @sponsorship.email
        .item
          = "Téléphone du parrain :"
          %strong
            = @sponsorship.phone
        .item
          = "Prénom du filleul :"
          %strong
            = @sponsorship.first_name
        .item
          = "Nom du filleul :"
          %strong
            = @sponsorship.last_name
        .item
          = "Email du filleul :"
          %strong
            = @sponsorship.email
        .item
          = "Téléphone du filleul :"
          %strong
            = @sponsorship.phone

        .item
          = "Ville du bien :"
          %strong
            = @sponsorship.property_city
        .item
          = "Détails :"
          %strong
            = @sponsorship.details
        .item
          = "Type du bien :"
          %strong
            = @sponsorship.property_type
