.admin-container
  .content
    %h5
      = "Propriétés : #{@properties.count(limit: 300)}"

    .row
      - @paginate_properties.page(1).each do |prop|
        .col-xs-12.col-md-6
          .content-item
            .bold
              = (prop.property_type != "") ? prop.property_type.capitalize : "Type non renseigné"
            .infos
              - if prop.offer_type != ""
                - if prop.offer_type == "Location"
                  .badge.bold
                    = prop.offer_type
                - else
                  %mark.sell.bold
                    = prop.offer_type
              .bold
                = prop.city.capitalize if prop.city
              .badge
                .bold
                  = "#{number_with_delimiter(prop.price.to_i, locale: :fr)} €"

    .d-flex-center.bold
      = paginate @paginate_properties
