.admin-container
  .content

    .admin-demand-proposed-container.mt-25
      .container-title
        Actions
      - if @property.pdf_url
        = link_to "Télécharger le PDF", @property.pdf_url, class: "btn btn-warning bold", target: "_blank"


    .admin-demand-proposed-container
      .container-title
        Le bien
      .demand-headers
        %p{style: "flex: 2;"} titre
        %p{style: "flex: 2;"} localisation
        %p{style: "flex: 2;"} prix
        %p{style: "flex: 3;"} code postal
      .demand-infos
        .admin-prop-show-title{style: "flex: 2;"}
          = @property.title.truncate(20)
        .admin-prop-show-localisation{style: "flex: 2;"}
          = @property.localisation
        .admin-prop-show-price{style: "flex: 2;"}
          = "#{number_with_delimiter(remove_unbreakable_space(@property.price).to_i)} €"
        .admin-prop-show-zipcode{style: "flex: 3;"}
          = @property.zipcode
      .demand-headers.mt-25
        %p{style: "flex: 2;"} description
      .demand-infos
        %p{style: "flex: 2;"}
          = @property.corps.downcase.gsub("<br>","").capitalize
      .demand-headers.mt-25
        %p{style: "flex: 2;"} photos
      .d-flex-start.flex-wrap
        - if @images
          - @images.each do |image|
            .item-img{style: "background-image: url(#{image})"}



    .admin-demand-proposed-container
      .container-title
        L'agence
      .demand-headers
        %p{style: "flex: 2;"} nom
        %p{style: "flex: 2;"} ville
        %p{style: "flex: 2;"} zone de chalandise
      .demand-infos
        .agency-infos-text{style: "flex: 2;"}
          = link_to admin_agency_path(@property.agency), target: "_blank" do
            .agency-infos-name
              = @property.agency.name
        .agency-infos-text{style: "flex: 2;"}
          - if @property.agency.city
            = @property.agency.city
          - else
            = "Ville non renseignée"
        .agency-infos-text{style: "flex: 2;"}
          - @property.agency.catchment_area.first(4).each do |zone|
            %span.mr-10
              = zone

