- if @demand.properties.where(agency_id: current_agency.id.to_s).any?
  .header.sans-serif-font.fs-20.mt-20
    .inline-svg.mr-10
      = svg("house")
    Les biens déjà proposés pour cette demande
- if @demand.properties.where(agency_id: current_agency.id.to_s).any?
  .row
    - @demand.properties.where(agency_id: current_agency.id.to_s).each do |property|
      .col-xs-12.col-md-6
        .proposition-item.change-height
          - @chatroom = Chatroom.where(property_id: property.id.to_s).where(demand_id: @demand.id.to_s).last
          - if @chatroom
            .small.bold
              = link_to chatroom_path(@chatroom, property_id: property.id.to_s) do
                .fa.fa-commenting


          - @conversation = Conversation.where(sender: @demand.customer).where(property: property).last
          - if @conversation
            .new-demand-questions-container
              .fa.fa-commenting
              = link_to "Voir la conversation", conversation_path(customer_id: @demand.customer.id.to_s, agency_id: current_agency.id.to_s, property_id: property.id.to_s), class: "custom-btn"

          .proposition-item-right
            .absolute-customer-choice-wrapper
            .top-part
              .prop-title
                = property.title if property.title
              - if property.prix
                .prop-price
                  = "#{number_with_delimiter(property.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
              - if property.price
                .prop-price
                  = "#{number_with_delimiter(property.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"



            .middle-part
              .middle-part-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "14"
                = property.property_type
              .middle-part-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "14"
                = property.nb_room
              .middle-part-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "14"
                = "#{property.area} m²"
            .bottom-part
              .bottom-part-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                - if property.ville
                  = "#{property.ville.capitalize}"
                - elsif property.localisation
                  = "#{property.localisation.capitalize}"
            .bottom-part
              - if property.customer_choices.where(v2_demand: @demand).last
                = handle_customer_choice_agency_side(property.customer_choices.where(v2_demand: @demand.id).last.choice)
              - else
                = handle_customer_response_waiting
              .bottom-part-item
                - @present_proposal = V2DemandProperty.where(v2_demand_id: @demand.id.to_s).where(property_id: property.id.to_s).last
                - if @present_proposal
                  .prop-agency-proposed-date
                    = "Proposé le #{l(@present_proposal.created_at, format: :medium)}"
      .col-xs-12.col-md-6
        .customer-choice-container
          .row
            - if property.customer_choices.where(v2_demand: @demand).last
              - @choice = property.customer_choices.where(v2_demand: @demand).last
              .col-xs-12
                .negative-comment-container
                  - if @choice.comment
                    .header
                      .inline-svg.green-text.small-icon.mr-10
                        = svg("customer_comment_2")
                      Commentaire
                    .customer-comment
                      = @choice.comment
                  - else
                    .customer-comment-fullheight
                      .d-flex-column-center
                        .inline-svg.red.mb-10
                          = svg("chat")
                        = "Aucun commentaire"
            - else
              .col-xs-12
                .waiting-comment-container
                  .inline-svg.green-text.mb-10
                    = svg("clock")
                  .waiting-text
                    = "Le membre n'a pas encore répondu à votre offre"

