.custom-loader-container.hidden
  .loader-container-content
    .loader-content-text
      Création du bien en cours.
      Notre algorithme cherche des demandes correspondantes à votre bien.
    .svg-loader
      = svg("custom-loader")

