.ajaxified-return-table
  %table.demands
    %thead
      %tr
        %th.sort{"data-sort": "date"} Date
        %th Type
        %th.sort{"data-sort": "rooms"} Chambres
        %th.sort{"data-sort": "budget"} Budget
        %th.sort{"data-sort": "surfaces"} Surfaces
        %th.sort{"data-sort": "localisation"} Localisation
        %th.sort{"data-sort": "views"} Vues
        %th.sort{"data-sort": "properties"} Offres
        %th Voir

    %tbody.list
      - @demands.sort_by{|d| d.created_at}.reverse.each do |demand|
        %tr
          %td
            = l(demand.created_at, format: :spread)
            .date.hidden
              = l(demand.created_at, format: :filters)

          %td.type
            - if demand.property_type == "Une maison"
              .inline-svg.small-icon
                = svg("maison-filtre")
            - elsif demand.property_type == "Un appartement"
              .inline-svg.small-icon
                = svg("appart")
            - elsif demand.property_type == "Un terrain"
              .inline-svg.small-icon
                = svg("terrain-filtre")

          %td.rooms
            - if demand.rooms == "[]"
              = "/"
            - else
              = demand.rooms

          %td
            = "#{demand[:budget].last} €"
            .budget.hidden
              = number_with_delimiter(demand_budget_display(demand.budget).gsub(" ", '').to_i, delimiter: "")

          %td.surfaces
            - if demand[:surface]
              = "#{demand[:surface].first} m²"

          %td.localisation
            = demand.search_formatted_area.truncate(20)

          %td.views
            .inline-svg.small-icon
              = svg(handle_demand_view(demand, @agency))

          %td.properties
            - if handle_demand_properties_agency_links(demand.properties, current_agency.properties, demand) != {}
              .d-flex-center
                - handle_demand_properties_agency_links(demand.properties, current_agency.properties, demand).each do |key,value|
                  - if key == :positive
                    .d-flex-center.m-sides-5
                      .fa.fa-heart.red-text
                      = value
                  - elsif key == :negative
                    .d-flex-center.m-sides-5
                      .fa.fa-thumbs-down.gray-text
                      = value
                  - elsif key == :pending
                    .d-flex-center.m-sides-5
                      .fa.fa-clock-o.light-gray-text
                      = value
            - else
              .inline-svg.small-icon
                = svg("supprimer")

          %td
            = link_to v2_dashboard_agency_demand_path(demand_id: demand.id.to_s) do
              .inline-svg.small-icon
                = svg("circled-plus")

  %ul.pagination

%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

:javascript
  var options = {
    valueNames: [ 'date', 'type', 'rooms', 'budget', 'views', 'properties', 'surfaces', 'localisation' ],
    pagination: true,
    page: 10
  };
  var demandList = new List('demands', options);
