.list-block#demands

  #ajax-demands
    = render "v2/agencies/partials/demands_ajaxify"

.demands-loader-container.hidden
  .demands-loading-content Nos castors sont à l'oeuvre. . .
  .demands-loader
    .item
    .item
    .item
    .item

