.demand-some-details
  .left-container
    .headers-container-about-terrain
      .main-header
        En bref
      .header-field
        Type de bien
      .header-field
        Surface
      .header-field
        Budget max
      .header-field
        Localisation

    .contents-container-about-terrain
      .content-field
        - if @demand.property_type.blank? || @demand.property_type.nil?
          %i Non renseigné
        - else
          = @demand.property_type
      .content-field
        - if @demand.terrain_surface.blank? || @demand.terrain_surface.nil?
          %i Non renseigné
        - else
          = "#{@demand.terrain_surface}"
      .content-field
        - if @demand.ground_budget.blank? || @demand.ground_budget.nil?
          %i Non renseigné
        - else
          = "#{demand_budget_display(@demand.ground_budget)} €"
      .content-field
        - if @demand.search_zipcodes_area.blank? || @demand.search_zipcodes_area.nil?
          %i Non renseigné
        - else
          = @demand.search_zipcodes_area

  .right-container
    - if @demand.browser_screenshot
      .map{style: "background-image: url('#{@demand.browser_screenshot}');"}
    - elsif @demand.map_photo_url
      .map{style: "background-image: url('#{@demand.map_photo}');"}

.demand-more-details
  .left-container.about-terrain
    .headers-container
      .main-header
        Plus de détails
      .header-field
        Budget construction
      .header-field
        Contact constructeur
      .header-field
        Étages maison

    .contents-container
      .content-field
        - if @demand.house_budget.blank? || @demand.house_budget.nil?
          %i Non renseigné
        - else
          = @demand.house_budget
      .content-field
        - if @demand.contact_constructor.blank? || @demand.contact_constructor.nil?
          %i Non renseigné
        - else
          = @demand.contact_constructor
      .content-field
        - if @demand.floor.blank? || @demand.floor.nil?
          %i Non renseigné
        - else
          = @demand.floor

  .right-container
    .important-fields
      .important-title
        %i.fa.fa-heart
        Les critères les plus importants
      .important-contents
        - if @demand.criterias != []
          .left-contents-container
            .header-field
              = @demand.criterias
          .right-contents-container
            / .content-field
            /   = @demand.send(criterias)
        - else
          .empty-contents-container
            .empty-field
              La demande ne contient aucun critère important. . .

.demand-about-customer
  .left-container
    .top
      .headers-container-about-terrain
        .main-header
          L'acquéreur
        .header-field
          Projet
        .header-field
          Destination
        .header-field
          A été propriétaire

      .contents-container-about-terrain
        .content-field
          - if @demand.project.blank? || @demand.project.nil?
            %i Non renseigné
          - else
            = sanitize_customer_project(@demand["project"])
        .content-field
          - if @demand.destination.blank? || @demand.destination.nil?
            %i Non renseigné
          - else
            = sanitize_customer_destination(@demand["destination"])
        .content-field
          - if @demand.actual_situation.blank? || @demand.actual_situation.nil?
            %i Non renseigné
          - else
            = sanitize_customer_actual_situation(@demand["actual_situation"])

    .bottom
      .header-field
        Précision
      .content-field
        - if @demand.last_precision.blank? || @demand.last_precision.nil?
          %i Non renseigné
        - else
          = @demand.last_precision

  .right-container
    .header-field
      Le membre s'est identifié à. . .
    .customer-personnality
      - if handle_genre(@demand.customer.first_name) == "2"
        .personnality-left-container
          .inline-svg.large-icon
            = svg(@svg_for_men.first)
        .personnality-right-container
          = @svg_for_men.last
      - else
        .personnality-left-container
          .inline-svg.large-icon
            = svg(@svg_for_women.first)
        .personnality-right-container
          = @svg_for_women.last

.demand-scoring
  .left-container-scoring
    .customer-experience
      .experience-header
        Expérience du client

      .scoring-counter
        .framing
          .inside-framing

      .first-step
        .content-step-one 25%
      .second-step
        .content-step-two 50%
      .third-step
        .content-step-three 75%

      .select-arrow
        .arrow{style: "transform: rotateZ(#{@user_progression}deg)"}

      .base

  .right-container-scoring
    .customer-maturity
      .maturity-header
        Maturité du projet

      .scoring-counter
        .framing
          .inside-framing

      .first-step
        .content-step-one 25%
      .second-step
        .content-step-two 50%
      .third-step
        .content-step-three 75%

      .select-arrow
        .arrow{style: "transform: rotateZ(#{@project_progression}deg)"}

      .base

.demand-customer-infos
  .customer-infos-container
    .customer-infos-container-top
      .customer-infos-header
        En savoir plus sur le membre pour lui proposer un logement plus pertinent
      %i.fa.fa-plus-circle
      %i.fa.fa-minus-circle

    .customer-infos-container-bottom
      .customer-infos-left
        .customer-infos-left-header
          Détails en plus sur la recherche
        .customer-infos-left-contents
          .headers-container
            .header-field
              Cuisine
            .header-field
              Salle de bain
            .header-field
              Espace principal
            .header-field
              Équipement
            .header-field
              Exposition
            .header-field
              DPE
          .contents-container
            .content-field
              - if @demand.kitchen.blank? || @demand.kitchen.nil?
                %i Non pertinent
              - else
                = @demand.kitchen
            .content-field
              - if @demand.bathrooms.blank? || @demand.bathrooms.nil?
                %i Non pertinent
              - else
                = @demand.bathrooms
            .content-field
              - if @demand.principal_space.blank? || @demand.principal_space.nil?
                %i Non pertinent
              - else
                = @demand.principal_space
            .content-field
              - if @demand.equipments.blank? || @demand.equipments.nil?
                %i Non pertinent
              - else
                = @demand.equipments
            .content-field
              - if @demand.exposition = [] || @demand.exposition.nil?
                %i Non pertinent
              - else
                = @demand.exposition
            .content-field
              - if @demand.dpe = [] || @demand.dpe.nil?
                %i Non pertinent
              - else
                = @demand.dpe

      .customer-infos-right
        .customer-infos-right-header
          Détails en plus sur la recherche
        .customer-infos-right-contents
          .headers-container
            .header-field
              Ville
            .header-field
              Surface
            .header-field
              Type
          .contents-container
            .content-field
              - if @demand.search_formatted_area.blank? || @demand.search_formatted_area.nil?
                %i Non renseigné
              - else
                = @demand.search_formatted_area.truncate(48)
            .content-field
              - if @demand.terrain_surface.blank? || @demand.terrain_surface.nil?
                %i Non renseigné
              - else
                = "#{@demand.terrain_surface}"
            .content-field
              - if @demand.property_type.blank? || @demand.property_type.nil?
                %i Non renseigné
              - else
                = @demand.property_type
