.demand-some-details
  .left-container
    .headers-container
      .main-header
        En bref
      .header-field
        Type de bien
      .header-field
        Chambres
      .header-field
        Surface
      .header-field
        Budget max
      .header-field
        Localisation

    .contents-container
      .content-field
        - if @demand.property_type.blank? || @demand.property_type.nil?
          %i Non renseigné
        - else
          = @demand.property_type
      .content-field
        - if @demand.rooms.blank? || @demand.rooms.nil?
          %i Non renseigné
        - else
          = @demand.rooms
      .content-field
        - if @demand.surface.blank? || @demand.surface.nil?
          %i Non renseigné
        - else
          = "#{@demand.surface}"
      .content-field
        - if @demand.budget.blank? || @demand.budget.nil?
          %i Non renseigné
        - else
          = "#{demand_budget_display(@demand.budget)} €"
      .content-field
        - if @demand.search_zipcodes_area.blank? || @demand.search_zipcodes_area.nil?
          %i Non renseigné
        - else
          = @demand.search_zipcodes_area.truncate(30)

  .right-container
    - if @demand.browser_screenshot
      .map{style: "background-image: url('#{@demand.browser_screenshot}');"}
    - elsif @demand.map_photo_url
      .map{style: "background-image: url('#{@demand.map_photo}');"}

.demand-more-details
  .left-container
    .headers-container
      .main-header
        Plus de détails
      .header-field
        Etat
      .header-field
        Travaux
      .header-field
        Etages
      .header-field
        Extérieur
      .header-field
        Pièces en plus
      .header-field
        Garage

    .contents-container
      .content-field
        - if @demand.property_type == "Une maison"
          - if @demand.house_state.blank? || @demand.house_state.nil?
            %i Non renseigné
          - else
            = @demand.house_state
        - else
          - if @demand.flat_state.blank? || @demand.flat_state.nil?
            %i Non renseigné
          - else
            = @demand.flat_state
      .content-field
        - if @demand.travaux.nil? || @demand.travaux == []
          = "Non"
        - else
          = "Oui"
      .content-field
        - if @demand.property_type == "Une maison"
          - if @demand.house_stairs.blank? || @demand.house_stairs.nil?
            %i Non renseigné
          - else
            = sanitize_customer_house_stairs(@demand["house_stairs"])
        - else
          - if @demand.flat_stairs.blank? || @demand.flat_stairs.nil?
            %i Non renseigné
          - else
            = sanitize_customer_flat_stairs(@demand["flat_stairs"])
      .content-field
        - if @demand.property_type == "Une maison"
          - if @demand.house_exterior.blank? || @demand.house_exterior.nil?
            %i Non renseigné
          - else
            = @demand.house_exterior
        - else
          - if @demand.flat_exterior.blank? || @demand.flat_exterior.nil?
            %i Non renseigné
          - else
            = @demand.flat_exterior
      .content-field
        - if @demand.more_rooms == [] || @demand.more_rooms.nil?
          %i Non reseigné
        - else
          = @demand.more_rooms
      .content-field
        - if @demand.parking == [] || @demand.parking.nil?
          %i Non renseigné
        - else
          = @demand.parking

  .right-container
    .important-fields
      .important-title
        %i.fa.fa-heart
        Les critères les plus importants
      .important-contents
        - if @demand.criterias != []
          .left-contents-container
            .header-field
              = @demand.criterias
        - else
          .empty-contents-container
            .empty-field
              La demande ne contient aucun critère important. . .

.demand-about-customer
  .left-container
    .top
      .headers-container
        .main-header
          L'acquéreur
        .header-field
          Projet
        .header-field
          Destination
        .header-field
          A été propriétaire

      .contents-container
        .content-field
          - if @demand.project.blank? || @demand.project.nil?
            %i Non renseigné
          - else
            = sanitize_customer_project(@demand["project"])
        .content-field
          - if @demand.destination.blank? || @demand.destination.nil?
            %i Non renseigné
          - else
            = sanitize_customer_destination(@demand["destination"])
        .content-field
          - if @demand.actual_situation.blank? || @demand.actual_situation.nil?
            %i Non renseigné
          - else
            = sanitize_customer_actual_situation(@demand["actual_situation"])

    .bottom
      .header-field
        Précision
      .content-field
        - if @demand.last_precision.blank? || @demand.last_precision.nil?
          %i Non renseigné
        - else
          = @demand.last_precision

  .right-container
    .header-field
      Le membre s'est identifié à. . .
    .customer-personnality
      - if @demand.woman_persona.nil? && @demand.man_persona.nil?
        - if handle_genre(@demand.customer.first_name) == "2"
          .personnality-left-container
            .inline-svg.large-icon
              = svg(@svg_for_men.first)
          .personnality-right-container
            = @svg_for_men.last
        - else
          .personnality-left-container
            .inline-svg.large-icon
              = svg(@svg_for_women.first)
          .personnality-right-container
            = @svg_for_women.last

      - else
        - if @demand[:gender] == "1"
          .personnality-left-container
            .inline-svg.large-icon
              = svg(@demand.woman_persona)
          .personnality-right-container
            - avatar_name = @demand.woman_persona.split("-")
            - if avatar_name.size > 1
              = "#{avatar_name.first} #{avatar_name.last}"
            - else
              avatar_name.first
        - else
          .personnality-left-container
            .inline-svg.large-icon
              = svg(@demand.man_persona)
          .personnality-right-container
            - avatar_name = @demand.man_persona.split("-")
            - if avatar_name.size > 1
              = "#{avatar_name.first.capitalize} #{avatar_name.last}"
            - else
              avatar_name.first

.demand-scoring
  .left-container-scoring
    .customer-experience
      .experience-header
        Expérience du client

      .scoring-counter
        .framing
          .inside-framing

      .first-step
        .content-step-one 25%
      .second-step
        .content-step-two 50%
      .third-step
        .content-step-three 75%

      .select-arrow
        .arrow{style: "transform: rotateZ(#{@user_progression}deg)"}

      .base

  .right-container-scoring
    .customer-maturity
      .maturity-header
        Maturité du projet

      .scoring-counter
        .framing
          .inside-framing

      .first-step
        .content-step-one 25%
      .second-step
        .content-step-two 50%
      .third-step
        .content-step-three 75%

      .select-arrow
        .arrow{style: "transform: rotateZ(#{@project_progression}deg)"}

      .base

.demand-customer-infos
  .customer-infos-container
    .customer-infos-container-top
      .customer-infos-header
        En savoir plus sur le membre pour lui proposer un logement plus pertinent
      %i.fa.fa-plus-circle
      %i.fa.fa-minus-circle

    .customer-infos-container-bottom
      .customer-infos-left
        .customer-infos-left-header
          Détails en plus sur la recherche
        .customer-infos-left-contents
          .headers-container
            .header-field
              Cuisine
            .header-field
              Salle de bain
            .header-field
              Espace principal
            .header-field
              Équipement
            .header-field
              Exposition
            .header-field
              DPE
          .contents-container
            .content-field
              - if @demand.kitchen.blank? || @demand.kitchen.nil?
                %i Non renseigné
              - else
                = @demand.kitchen
            .content-field
              - if @demand.bathrooms.blank? || @demand.bathrooms.nil?
                %i Non renseigné
              - else
                = @demand.bathrooms
            .content-field
              - if @demand.principal_space.blank? || @demand.principal_space.nil?
                %i Non renseigné
              - else
                = @demand.principal_space
            .content-field
              - if @demand.equipments.blank? || @demand.equipments.nil?
                %i Non renseigné
              - else
                = @demand.equipments
            .content-field
              - if @demand.exposition = [] || @demand.exposition.nil?
                %i Non renseigné
              - else
                = @demand.exposition
            .content-field
              - if @demand.dpe = [] || @demand.dpe.nil?
                %i Non renseigné
              - else
                = @demand.dpe

      .customer-infos-right
        .customer-infos-right-header
          Détails en plus sur la recherche
        .customer-infos-right-contents
          .headers-container
            .header-field
              Ville
            .header-field
              Surface
            .header-field
              Type
          .contents-container
            .content-field
              - if @demand.search_formatted_area.blank? || @demand.search_formatted_area.nil?
                %i Non renseigné
              - else
                = @demand.search_formatted_area.truncate(48)
            .content-field
              - if @demand.surface.blank? || @demand.surface.nil?
                %i Non renseigné
              - else
                = "#{@demand.surface}"
            .content-field
              - if @demand.property_type.blank? || @demand.property_type.nil?
                %i Non renseigné
              - else
                = @demand.property_type
















