.filters-block
  .header-filters
    Filtrer les demandes
  .filters
    = form_tag v2_dashboard_agency_demands_search_with_ajax_path, method: :post, id: "filters-form" do
      .filter
        .content.down-caret
          .inline-svg
            = svg("budget-filter")
          = "Budget"

        .text-input-form-container.formatted_numeric_filter_input
          .text-input-form
            = tag.label "Min", for: "min-budget-input"
            = tag.input type: "text", placeholder: "1 123 333", label: false, id: "min-budget-input", name: "budget_min", maxlength:"7", class: "form-control"
          .text-input-form
            = tag.label "Max", for: "max-budget-input"
            = tag.input type: "text", placeholder: "1 123 555", label: false, id: "max-budget-input", name: "budget_max", maxlength:"7", class: "form-control"

      .filter
        .content.down-caret
          .inline-svg
            = svg("surface-filter")
          = "Surface"

        .text-input-form-container.formatted_numeric_filter_input
          .text-input-form
            = tag.label "Min", for: "min-surface-input"
            = tag.input type: "text", placeholder: "45", label: false, id: "min-surface-input", name: "surface_min", maxlength:"4", class: "form-control"
          .text-input-form
            = tag.label "Max", for: "max-surface-input"
            = tag.input type: "text", placeholder: "800", label: false, id: "max-surface-input", name: "surface_max", maxlength:"4", class: "form-control"

      .filter
        .content.down-caret
          .inline-svg
            = svg("chambre-filter")
          = "Chambres"

        .text-input-form-container.formatted_numeric_filter_input
          .text-input-form
            = tag.label "Min", for: "min-rooms-input"
            = tag.input type: "text", placeholder: "2", label: false, id: "min-rooms-input", name: "rooms_min", maxlength:"2", class: "form-control"
          .text-input-form
            = tag.label "Max", for: "max-rooms-input"
            = tag.input type: "text", placeholder: "6", label: false, id: "max-rooms-input", name: "rooms_max", maxlength:"2", class: "form-control"


      .filter
        .content.down-caret
          .inline-svg
            = svg("type")
          = "Type de bien"

        .radio-input-form-container-large
          .radio-input-form
            = tag.input type: "radio", label: false, id: "house-input", value: "Une maison", name: "property_type"
            = tag.label "Maison", for: "house-input"
          .radio-input-form
            = tag.input type: "radio", label: false, id: "appartment-input", value: "Un appartement", name: "property_type"
            = tag.label "Appartement", for: "appartment-input"
          .radio-input-form
            = tag.input type: "radio", label: false, id: "ground-input", value: "Un terrain", name: "property_type"
            = tag.label "Terrain", for: "ground-input"

      .filter
        .content.down-caret
          .inline-svg
            = svg("localisation")
          = "Localisation"

        .text-input-form-container.d-flex-center-without-align-items
          .text-input-form
            = tag.input type: "text", placeholder: "Ville", label: false, id: "localisation-input", name: "localisation", class: "form-control"

      .filter
        .content.down-caret
          .inline-svg
            = svg("statut")
          = "Statut de la demande"

        .radio-input-form-container-normal
          .radio-input-form
            = tag.input type: "radio", label: false, id: "demands-viewed-input", value: "true", name: "agency_view"
            = tag.label "Vue", for: "demands-viewed-input"
          .radio-input-form
            = tag.input type: "radio", label: false, id: "demands-unviewed-input", value: "false", name: "agency_view"
            = tag.label "Non vue", for: "demands-unviewed-input"

      .filter
        .content.down-caret
          .inline-svg
            = svg("date")
          = "Date de la demande"

        .select-input-form-container
          .select-input-form
            = select_tag :demand_created_at, options_for_select([ "7 derniers jours", "14 derniers jours", "30 derniers jours", "Depuis l'an dernier" ]), prompt: "...", id: "created-at-input", class: "form-control"

            .select-arrow-input
              .arrow-down


      = submit_tag "Appliquer les filtres", class: "bcs-filters-button-apply-filters"

      .bcs-filters-button-restart-filters
        = "Effacer les filtres"



















