.list-block#props
  %table.props
    %thead
      %tr
        %th.sort{"data-sort": "date"} Date
        %th.sort{"data-sort": "type"} Type
        %th.sort{"data-sort": "locality"} Ville
        %th.sort{"data-sort": "rooms"} Chambres
        %th.sort{"data-sort": "budget"} Prix
        %th.sort{"data-sort": "surfaces"} Surface
        %th Actions

    %tbody.list
      - @pending_offers_test.each do |prop|
        %tr
          %td
            = l(prop.created_at, format: :spread)
            .date.hidden
              = l(prop.created_at, format: :filters)

          %td.type
            - if prop.property_type == "Maison"
              .inline-svg.small-icon
                = svg("maison-filtre")
            - elsif prop.property_type == "Appartement"
              .inline-svg.small-icon
                = svg("appart")

          %td.locality
            - if prop.locality
              = prop.locality

          %td.rooms
            - if prop.nb_room.nil?
              = "/"
            - else
              = prop.nb_room

          %td.budget
            - if prop.price
              = "#{prop.price} €"

          %td.surfaces
            - if prop.area
              = "#{prop.area}"
            - else
              = "/"

          %td
            = link_to v2_bcs_property_show_path(property_id: prop.id.to_s) do
              .inline-svg.small-icon
                = svg("vu")
  %ul.pagination

%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

:javascript
  var options = {
    valueNames: [ 'date', 'type', 'rooms', 'budget', 'surfaces', 'type', 'locality' ],
    pagination: true,
    page: 10
  };
  var propList = new List('props', options);
