.v2-pending-offers-block.light-gray
  .header
    %h2
      = "Offres en attente de réponse"

  - if @pending_offers_test != []
    - @pending_offers_test.each do |prop|
      .property-container.white
        / = link_to home_bcs_property_show_path(property_id: prop.id.to_s), target: "_blank" do
        /   .absolute-button-before.green
        /     = "Relancer"

        .property-left{style: "background-image: url(#{prop.img_1_url})"}

        .property-right
          .property-container-line.between.red.bolder
            - if prop.title
              = prop.title.truncate(22)
            - elsif prop.titre
              = prop.titre.truncate(22)
            - if prop.price
              .price
                = "#{number_with_delimiter(prop.price.gsub(/\u00a0/, '').to_i, locale: :fr)} €"

          .property-container-line.start
            .icon-text-line
              .fa.fa-map-marker
              - if prop.cp && prop.ville
                = "#{prop.cp}, #{prop.ville}"
              - if prop.zipcode && prop.localisation
                = ("#{prop.zipcode}, #{prop.localisation}").truncate(25)

          .property-container-line.between
            .icon-text-line.small
              = "Depuis le #{l(prop.created_at, format: :medium)}"
            .icon-text-line.small
              .fa.fa-folder-open
              = "REF_#{prop.id.to_s.upcase.last(5)}"

    .d-flex-center
      = link_to "Tout voir", v2_props_waiting_for_choice_path, class: "v2-bcs-button-gray"

  - else
    .d-flex-center
      .empty-pending-offers-text
        = "Aucune offre en attente de réponse"
