.form#add-property-to-demand
  = form_tag(add_property_to_demand_path, method: :post) do
    = hidden_field_tag(:demand_id,@demand.id.to_s)
    .unproposed-properties-container
      .d-flex-inline
        .inline-svg.black.mr-10
          = svg("house")
        %h2.sans-serif-font.fs-20
          = "Des biens pourraient plaire à cet acquéreur"
      .d-flex-inline
        %h5.bold
          Cliquez sur la fiche que vous souhaitez proposer puis valider


      .unproposed-properties-wrapper
        .row
          - if @filtered_properties != []
            - @filtered_properties.each_with_index do |prop,index|
              .col-xs-12.col-md-4
                .checkbox-property-input{"data-unique-id": "prop-#{index+1}"}
                  %input{id:"#{prop.id.to_s}", type:"checkbox", name:"property_id[]", value: "#{prop.id.to_s}"}
                  %label{for:"#{prop.id.to_s}"}

                    .label-top-block
                      - if prop.images_array
                        .block-image{style: "background-image: url('#{prop.images_array.last if prop.images_array != []}');"}
                      - elsif prop.pictures != []
                        .block-image{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil }.last.photo_url}');"}
                      - elsif prop.img_1_url
                        .block-image{style: "background-image: url('#{prop.img_1_url}');"}
                      - else
                        .block-image.contain-image{style: "background-image: url('#{asset_path 'Logo-bulle-2.png'}');"}
                      .block-content
                        .property-input-title
                          - if prop.titre
                            = "#{prop.titre.truncate(40).capitalize}"
                          - if prop.title
                            = "#{prop.title.truncate(40).capitalize}"
                        .property-input-title-small
                          - if prop.type_bien
                            = "#{prop.type_bien}"
                          - elsif prop.property_type
                            = "#{prop.property_type}"
                        .property-flex-inline
                          .flex-inline-title
                            .fa.fa-map-marker
                            Localisation
                          - if prop.ville && prop.cp
                            .checkbox-demand-full-address
                              = "#{prop.ville.capitalize} - #{prop.cp}"
                          - if prop.localisation
                            .checkbox-demand-full-address
                              = "#{prop.localisation.capitalize}"
                        .property-flex-inline
                          .flex-inline-title
                            .fa.fa-euro
                            Prix du bien
                          - if prop.prix
                            .property-label-price
                              = "#{number_with_delimiter(prop.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
                          - if prop.price
                            .property-label-price
                              = "#{number_with_delimiter(prop.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"

                    .label-bottom-block
                      .bottom-block-btn
                        SELECTIONNER

            .col-xs-12.col-md-4
              .property-creation-block
                .header.sans-serif-font.fs-16
                  .icon-menu-home-button.fontastic-adjust
                  %div
                    - if @demand.property_type
                      = "Proposer #{@demand.property_type.downcase}"
                .content
                  .text.zero-margins
                    Cliquez sur le
                    .super-strong-plus-icon
                      +
                  .text
                    pour ajouter une offre
                  = link_to agency_zone_create_property_path, class: "agency-create-property-link" do
                    = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/home.svg", width: "110"

          - else
            .col-xs-12.col-md-4
              .fullstock-proposed
                .inline-svg
                  = svg("k-dashboard")
                = "Bravo vous avez proposé tous vos biens pour cette demande"
            .col-xs-12.col-md-4
              .property-creation-block
                .header
                  .icon-menu-home-button.fontastic-adjust
                  %div
                    - if @demand.property_type
                      = "proposer #{@demand.property_type.downcase}"
                .content
                  .text
                    Remplissez tout simplement un formulaire en ligne
                  = link_to agency_zone_create_property_path, class: "agency-create-property-link" do
                    = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/icons/home.svg", width: "110"

      - if @filtered_properties != []
        .demand-proposal-fixed-container.hidden
          .demand-proposal-title-block
            .title-block-title Ma sélection
          .demand-proposal-left-block
          .demand-proposal-right-block
            %input.bcs-button-sm{type: "submit", value: "VALIDER"}
