- if @pending_offers != []
  #agency-props
    %ul.list-inline.custom-list
      %li.sort{"data-sort": "type"}
        Type
        .fa.fa-chevron-down
        .order-sentence.hidden
          ordre croissant
      %li.sort{"data-sort": "price"}
        Prix
        .fa.fa-chevron-down
        .order-sentence.hidden
          ordre croissant
      %li.sort{"data-sort": "rooms"}
        Chambres
        .fa.fa-chevron-down
        .order-sentence.hidden
          ordre croissant
      %li.sort{"data-sort": "localisation"}
        Localisation
        .fa.fa-chevron-down
        .order-sentence.hidden
          ordre croissant

    .list
      - @pending_offers_test.sort_by{|d| d.created_at}.reverse.each do |prop|
        .useless-class
          .v2-property-container
            .type.hidden
              = prop.property_type
            .price.hidden
              = prop.price
            .rooms.hidden
              = prop.nb_room
            .localisation.hidden
              = prop.localisation

            - if prop.images_array
              .main-photo-left-container{style: "background-image: url('#{prop.images_array.last if prop.images_array != []}');"}

            - elsif prop.pictures.any?
              .main-photo-left-container{style: "background-image: url('#{prop.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}');"}

            - elsif prop.img_1_url
              .main-photo-left-container{style: "background-image: url(#{prop.img_1_url});"}
                - if prop.status
                  - if prop.status == "5"
                    .abs-prop-status-container
                      .inline-svg
                        = svg("vendu")
            - else
              .main-photo-left-container{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg');"}

            .information-right-container
              .information-top-container
                .main-information
                  = prop.v2_demands.size
                  = prop.inspect
                  .property-type
                    - if prop.type_bien && prop.nb_room
                      = "#{prop.type_bien} #{prop.nb_room} pièces"
                    - if prop.property_type && prop.nb_room
                      = "#{prop.property_type} #{prop.nb_room} pièces"
                  .price
                    - if prop.price
                      = "#{prop.price} €"

                .details-information
                  .detail
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
                    - if prop.type_bien
                      = prop.type_bien
                    - if prop.property_type
                      = prop.property_type

                  .detail
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                    = surface_format(prop.area)

                  .detail
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                    = "#{prop.nb_room}"

                .localisation-information
                  .localisation
                    = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                    - if prop.cp && prop.ville
                      = "#{prop.cp} #{prop.ville}"
                    - if prop.zipcode && prop.localisation
                      = "#{prop.zipcode} #{prop.localisation}"

                .content-information
                  .content
                    = prop.corps.html_safe.truncate(50)
                .content-action
                  .action-item
                    .links
                      = link_to v2_bcs_property_show_path(property_id: prop.id.to_s) do
                        .bcs-button-sm-animation-line.width.green
                          Détails du bien
                          .line-1.green
                          .line-2.green
                          .line-3.green
                          .line-4.green

              .photos-bottom-container
                - if prop.images_array
                  - prop.images_array.first(3).each do |image|
                    = link_to "#{image}", "data-lightbox": "property" do
                      .property-photo{style: "background-image: url('#{image}')"}
                - elsif prop.pictures != []
                  - prop.pictures.select{|pict| pict.photo_url != nil }.first(3).each do |picture|
                    = link_to "#{picture.photo_url}", "data-lightbox": "property-from-fo" do
                      .property-photo{style: "background-image: url('#{picture.photo_url}')"}

- else
  .v2-empty-property-container
    .sup-content Vous n'avez pas d'offres en attente de réponse
  .kenotte-inspecteur{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/svgs/icons/Castor-Inspecteur.svg');"}



%script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

:javascript
  var options = {
    valueNames: ['price', 'type', 'rooms', 'localisation']
  };
  var propList = new List('agency-props', options);
