- if @matching_demands
  .custom-modal-container
    .custom-modal.matching-demands#pending-customer
      .custom-modal-closer#pending-demand-modal
        .fa.fa-times
      .custom-modal-header
        .d-flex-center.mb-20
          .bold
            - if @matching_demands.count == 1
              = "Ce bien correspond à #{@matching_demands.count} demande"
            - elsif @matching_demands.count > 1
              = "Ce bien correspond à #{@matching_demands.count} demandes"
      .custom-modal-content
        .inline-svg
          = svg("k-dashboard")
        .matching-items-container
          - @matching_demands.each do |demand|
            .matching-item
              .inline-svg
                = svg("completed-task")
              .reference
                = "Ref: BCS#{demand.id.to_s.upcase.last(5)} - "
              = "#{demand.property_type} à #{demand.search_formatted_area.split('(').first} - #{demand.budget}"
- if @empty_matching
  .custom-modal-container
    .custom-modal.matching-demands#pending-customer
      .custom-modal-closer#pending-demand-modal
        .fa.fa-times
      .custom-modal-header
        .d-flex-center.mb-20
          .bold
            = "Bravo ! Votre bien (#{@empty_matching.title}) à été crée avec succès"
      .custom-modal-content
        .inline-svg
          = svg("k-dashboard")
        .matching-items-container
          .matching-item
            - if @empty_matching.property_type.downcase == "maison"
              = "Néanmoins cette maison ne correspond pour l'instant à aucune demande"
            - elsif @empty_matching.property_type.downcase == "appartement"
              = "Néanmoins cet appartement ne correspond pour l'instant à aucune demande"
            - elsif @empty_matching.property_type.downcase == "terrain"
              = "Néanmoins ce terrain ne correspond pour l'instant à aucune demande"
