.v2-scheduled-visits-block.light-gray
  .header
    %h2
      = "Programmez la visite"

  - @properties_with_positive_choice.each do |prop|
    .property-container.white
      = link_to v2_bcs_property_show_path(property_id: prop.id.to_s), target: "_blank" do
        .absolute-button-before.green
          = "Voir"

      .property-left{style: "background-image: url(#{prop.img_1_url})"}

      .property-right
        .property-container-line.between.red.bolder
          - if prop.title
            = prop.title.truncate(22)
          - elsif prop.titre
            = prop.titre.truncate(22)

          - if prop.price
            .price
              = "#{number_with_delimiter(prop.price.gsub(/\u00a0/, '').to_i, locale: :fr)} €"

        .property-container-line.start
          .icon-text-line
            .fa.fa-map-marker
            - if prop.cp && prop.ville
              = "#{prop.cp}, #{prop.ville}"
            - if prop.zipcode && prop.localisation
              = ("#{prop.zipcode}, #{prop.localisation}").truncate(25)

        .property-container-line.between

          .icon-text-line
            .fa.fa-times.choice
            = user_choice_is_negative(prop)

          .icon-text-line
            .fa.fa-heart.green.choice
            = user_choice_is_positive(prop)

          .icon-text-line.small
            .fa.fa-folder-open
            = "REF_#{prop.id.to_s.upcase.last(5)}"

  .d-flex-center
    = link_to "Tout voir", v2_dashboard_agency_properties_path, class: "v2-bcs-button-gray"
