.v2-unviewed-demands-block.light-gray
  .header
    %h2
      = "Demandes nons vues"
  - if handle_unviewed_v2_demands(@agency) != []
    - handle_unviewed_v2_demands(@agency).first(4).each do |demand|
      .demand-container.white
        .absolute-badge
          = "NEW"
        = link_to v2_dashboard_agency_demand_path(demand_id: demand.id.to_s) do
          .absolute-button-before.red
            = "Voir la demande"
        .demand-container-line.between
          .icon-text-line
            .fa.fa-home
            = demand.property_type
          .icon-text-line
            .fa.fa-euro
            = demand.budget
          .icon-text-line
            = pluralize(demand.rooms, "Pièce", "Pièces")
        .demand-container-line.start
          .icon-text-line
            .fa.fa-map-marker
            = demand.search_formatted_area
        .demand-container-line.between
          .icon-text-line.small
            .fa.fa-calendar-o
            = l(demand.created_at, format: :medium)
          .icon-text-line.small
            .fa.fa-folder-open
            = "BCS_#{demand.id.to_s.upcase.last(5)}"
          - if demand.properties.where(agency_id: @agency.id.to_s) != []
            .icon-text-line.small
              .fa.fa-thumbs-up.red-text
              = pluralize(demand.properties.where(agency_id: @agency.id.to_s).size, "bien proposé", "biens proposés")

    .d-flex-center
      = link_to "Tout voir", v2_dashboard_agency_demands_path, class: "v2-bcs-button-gray"

  - elsif @agency.v2_demands == []
    .v2-empty-demand-container
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "230"
      .adjust-text
        = "Aucune nouvelle demande"
      .adjust-small-text
        = "Pour recevoir de nouvelles demandes,"
        %br
        = link_to "élargissez votre zone de chalandise", dashboard_agency_update_infos_path, class: "bcs-button-underline"
  - elsif handle_unviewed_v2_demands(@agency) == []
    .v2-empty-demand-container
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "230"
      .adjust-text
        = "Aucune nouvelle demande"
      .adjust-small-text
        = "Pour recevoir de nouvelles demandes,"
        %br
        = link_to "élargissez votre zone de chalandise", dashboard_agency_update_infos_path, class: "bcs-button-underline"
  - else
    .v2-empty-demand-container
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "230"
      .adjust-text
        = "Aucune nouvelle demande"
      .adjust-small-text
        = "Pour recevoir de nouvelles demandes,"
        %br
        = link_to "élargissez votre zone de chalandise", dashboard_agency_update_infos_path, class: "bcs-button-underline"
