.admin-navbar
  .admin-navbar-header
    = link_to admin_dashboard_path do
      .logo
      .logo-text BIENTOT CHEZ SOI
  .admin-navbar-links-wrapper
    .admin-navbar-link
      = link_to "Dashboard", admin_dashboard_path, class: "#{'active' if current_page?(admin_dashboard_path)}"
    .admin-navbar-link
      = link_to "Demandes", admin_active_demands_path, class: "#{'active' if current_page?(admin_active_demands_path)}"
    .admin-navbar-link
      = link_to "Agences", admin_active_agencies_path, class: "#{'active' if current_page?(admin_active_agencies_path)}"
    .admin-navbar-link
      = link_to "Biens immobilier", admin_properties_path, class: "#{'active' if current_page?(admin_properties_path)}"
    .admin-navbar-link
      = link_to "Articles de blog", admin_posts_path, class: "#{'active' if current_page?(admin_posts_path)}"
    .admin-navbar-link
      = link_to "Utilisateurs", admin_valid_customers_path, class: "#{'active' if current_page?(admin_valid_customers_path)}"
    .admin-navbar-link
      = link_to "Messages", admin_suggestions_path, class: "#{'active' if current_page?(admin_suggestions_path)}"
    .admin-navbar-link
      = link_to "Parrainages", admin_sponsorships_path, class: "#{'active' if current_page?(admin_sponsorships_path)}"
    .admin-navbar-link
      = link_to "Estimations", admin_estimations_path, class: "#{'active' if current_page?(admin_estimations_path)}"
    .admin-navbar-link
      = link_to "Communiqués de presse", admin_press_releases_path, class: "#{'active' if current_page?(admin_press_releases_path)}"
    .admin-navbar-link
      = link_to "Demandes de Presskit", admin_presskit_requests_path, class: "#{'active' if current_page?(admin_presskit_requests_path)}"
    .admin-navbar-link
      = link_to "Pages", admin_pages_path, class: "#{'active' if current_page?(admin_pages_path)}"
