.agency-dashboard-fullpage
  = render "dashboard/customers/partials/fixed_menu"

  %section.customer-zone-v2
    .row
      .col-xs-12.col-md-5
        .block.gray.block-column
          .d-flex-start
            %h2
              = "BONJOUR #{@customer.first_name.upcase if @customer.first_name} !"
          %p
            = "Comme c’est bon de revenir chez soi :-) Du neuf depuis ma dernière visite ? Je mets vite à jour ma recherche !"
          .d-flex-center
            = link_to "Je modifie mes infos", edit_customer_registration_path, class: "bcs-button-very-small"
      .col-xs-12.col-md-7
        .block.green
          %h2
            = "MA RECHERCHE EN COURS"
          .content
            .left
              .icon
                %i.fa.fa-folder-open-o
            .right
              .title
                .title-item
                  = "Localisation"
                  .demand-zipcode
                    = @demand.search_formatted_area
                .title-item
                  = "Type de bien"
                  .demand-zipcode
                    = @demand.property_type
                .title-item
                  = "Budget"
                  .demand-zipcode
                    = @demand.budget
                .title-item
                  = "Critères"
                  .demand-zipcode
                    = @demand.criterias
              .links
                = link_to 'Je supprime', demand_path(@demand), method: :delete, class: "bcs-button-very-small mr-10 hidden", data: {confirm: "Etes-vous sûr de vouloir supprimer votre demande ?"}
                - if @demand.browser_screenshot_url || @demand.map_photo_url
                  = link_to 'Je télécharge', generate_pdf_path(demand_id: @customer.v2_demands.last.id, format: :pdf), class: 'bcs-button-very-small mr-10 hidden', target: "_blank"
                = link_to "Je modifie", demand_edit_path(demand_id: @customer.v2_demands.last.id), class: "bcs-button-very-small hidden"


      .col-xs-12.col-md-5
        .alone-title
          = "LES CONSEILS DU MOMENT !"
        = link_to post_path(cat_lname: @target_posts.last.blog_category.lname,lname: @target_posts.last.lname), target: "_blank" do
          .post-block
            .top{style:"background-image: url(#{@target_posts.last.photo_url if @target_posts.last.photo_url});"}
            .bottom
              %strong
                = @target_posts.last.name
              = @target_posts.last.title.truncate(120)

      .col-xs-12.col-md-7
        .block.gray.taller-block
          %h2 MES OFFRES
          - if !@demand.properties.any?
            .empty-content
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "140"
              .empty-content-text
                = "Pas d'offres en cours. Patience...la roue tourne !!"
          - else
            - @demand.properties.each do |property|
              = link_to dashboard_customer_property_path(property_id: property.id.to_s) do
                .proposition-item
                  - if property.images_array
                    .proposition-item-left{style: "background-image: url(#{property.images_array.first if property.images_array != []});"}
                      .newbadge
                        NOUVEAU
                  - elsif property.pictures?
                    .proposition-item-left{style: "background-image: url(#{property.pictures.select{|pict| pict.photo_url != nil }.last.photo_url});"}
                      .newbadge
                        NOUVEAU
                  - elsif property.img_1_url
                    .proposition-item-left{style: "background-image: url(#{property.img_1_url});"}
                      .newbadge
                        NOUVEAU
                  - else
                    .proposition-item-left.back-contain{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/placeholders/image-placeholder.png');"}


                  .proposition-item-right
                    .top-part
                      - if property.title
                        .prop-title
                          = property.title
                      - elsif property.titre
                        .prop-title
                          = property.titre
                      .prop-price
                        - if property.prix
                          = "#{number_with_delimiter(property.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
                        - if property.price
                          = "#{number_with_delimiter(property.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
                    .middle-part
                      .middle-part-item
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "14"
                        = property.property_type
                      - if property.nb_room
                        .middle-part-item
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "14"
                          = "#{property.nb_room}"
                      .middle-part-item
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "14"
                        = "#{property.area} m²"
                    .bottom-part
                      .bottom-part-item
                        = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                        - if property.cp && property.ville
                          = "#{property.cp}, #{property.ville}"
                        - if property.zipcode && property.localisation
                          = "#{property.zipcode}, #{property.localisation}"
                      .bottom-part-item-inverse
                        - @real_creation_date = V2DemandProperty.where(v2_demand_id: @demand.id.to_s, property_id: property.id.to_s).last
                        - if @real_creation_date
                          = "Proposition du #{l(@real_creation_date.created_at,format: :medium)}"

              .bottom-button-container
                = link_to "Voir toutes les offres", dashboard_customer_properties_path, class: "bcs-button-very-small"


      .col-xs-12.col-md-4
        .block.red{style:"height: 280px;"}
          %h2
            = "JE SUIS"
          - if @customer.rewards.any?
            .content
              .left-block
                .rank-avatar-badge
                  - avatar_list(@customer.rewards.last.score).each do |avatar|
                    = avatar.last.to_s
                .hint
                  = avatar_list(@customer.rewards.last.score).first[1]
                %strong
                  Je passe à l'étape suivante pour gagner plus de points.

              .right-block
                - avatar_list(@customer.rewards.last.score).each do |avatar|
                  .rank-avatar-container
                    = avatar.first.html_safe
          - else
            .content
              .left-block
                .rank-avatar-badge
                  - avatar_list(0).each do |avatar|
                    = avatar.last.to_s
                .hint
                  = avatar_list(0).first[1]
                %strong
                  Je passe à l'étape suivante pour gagner plus de points.

              .right-block
                - avatar_list(0).each do |avatar|
                  .rank-avatar-container
                    = avatar.first.html_safe

      .col-xs-12.col-md-4
        .block.question{style:"height: 280px;"}
          %h2
            UNE QUESTION ?
          %p
            Je contacte les experts de Bientôt Chez Soi
          = simple_form_for @customer_question do |f|
            = f.input :message, as: :text, label: false, placeholder: "Mon message"
            = f.input :customer, as: :hidden, input_html: {value: @customer.id.to_s}
            .d-flex-end
              = f.submit "J'ENVOIE", class: "bcs-button-very-small"

      .col-xs-12.col-md-4
        .block.question{style:"height: 280px;"}
          %h2
            ILS SONT LA POUR VOUS AIDER
          %p
            Vous pouvez compter sur nos partenaires
          .photos-wrapper
            = link_to "https://www.papernest.com/", target: "_blank" do
              = image_tag "https://cdn.bientotchezsoi-dev.com/svgs/logo_papernest.svg"

      .col-xs-12.col-md-6.hidden
        .block.lightgray
          .header-flex
            %h2
              LA PHRASE DU JOUR
            .icon-menu-kenotte
          .sentence
            = "« #{@proverb.sentence} »"

      .col-xs-12.col-md-6.hidden
        .block.white{style:"min-height: 160px;"}
          .small-title
            Rejoignez-nous sur les réseaux sociaux
          .logos-container
            = link_to 'https://www.facebook.com/bientotchezsoi/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/facebook.png', class: 'list-logo', width: "35"

            = link_to 'https://www.youtube.com/channel/UCJlBlHT_kqobLbKJ-hDQMYg/featured?view_as=subscriber' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/youtube.png', class: 'list-logo', width: "35"

            = link_to 'https://www.linkedin.com/in/philippe-gaudin-2239a221/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/linkedin.png', class: 'list-logo', width: "35"

            = link_to 'https://www.instagram.com/bientotchezsoi/' do
              = image_tag 'https://cdn.bientotchezsoi-dev.com/images/instagram.png', class: 'list-logo', width: "35"

  - if @demand.status == "pending" && @modal_seen_by_customer == false
    - session[:modal_seen_by_customer] = true
    .custom-modal-container
      .custom-modal#pending-customer
        .custom-modal-closer#pending-demand-modal
          .fa.fa-times
        .custom-modal-header
          .d-flex-center.mb-20
            .bold
              Dernière étape avant la validation !
        .custom-modal-content
          .inline-svg
            = svg("k-dashboard")
          Les Experts de Bientôt Chez Soi vont très prochainement vous appeler pour se présenter et valider les points clés de votre recherche. Dès l'appel terminé, votre recherche sera définitivement validée !

:javascript
  var spconfig = {
    public_key: "33313137b332b0aaf06af67556b95d95d47c30636bffec27d69a271501",
    debug: false,
    set_cookie: true,
    track_order_enabled: true
  };
  function loadSpreadTracker(){ window.domLoadEventFired=true;var e=document.createElement("script");e.type="text/javascript";e.async=true;e.charset="UTF-8";e.id="spread-tracker";e.src="//static-sb.com/js/sb-tracker.js";document.body.appendChild(e) } if(window.addEventListener) { window.addEventListener("load",loadSpreadTracker,false) } else if(window.attachEvent) { window.attachEvent("onload",loadSpreadTracker) } else { window.onload=loadSpreadTracker }


:javascript
  console.log("Sending customer datas to spread");
  var sporder = {
    email: "#{@customer.email}",
    name: "#{@customer.last_name}",
    firstname: "#{@customer.first_name}",
    optin: 1,
    country : "#{@customer.country}",
    address : "#{@customer.address}",
    cp : "#{@customer.postal_code}",
    city : "#{@customer.city}",
    mobile : "#{@customer.phone}",
    tel_optin : 1,
    mobile_optin : 1,
    action : "signup",
    custom_fields: {
      customer_web: 1,
      vip: "#{@customer.vip}"
    }
  };

- if @customer.v2_demands.any?

  :javascript
    var spconfig = {
      public_key: "33313137b332b0aaf06af67556b95d95d47c30636bffec27d69a271501",
      debug: false,
      set_cookie: true,
      track_order_enabled: true
    };
    function loadSpreadTracker(){ window.domLoadEventFired=true;var e=document.createElement("script");e.type="text/javascript";e.async=true;e.charset="UTF-8";e.id="spread-tracker";e.src="//static-sb.com/js/sb-tracker.js";document.body.appendChild(e) } if(window.addEventListener) { window.addEventListener("load",loadSpreadTracker,false) } else if(window.attachEvent) { window.attachEvent("onload",loadSpreadTracker) } else { window.onload=loadSpreadTracker }


  :javascript
    console.log("Sending demand datas to spread");
    console.log("#{@demand.project}");
    console.log("#{@demand.destination}");
    console.log("#{@demand.property_type}");
    var sporder = {
      email: "#{@customer.email}",
      amount: "#{@demand[:budget].first}",
      idorder: "#{generate_spread_order_id(@demand)}",
      date: "#{l(@demand.created_at)}", // Y-m-d H:i:s
      state: "10",
      name: "#{@customer.last_name}",
      firstname: "#{@customer.first_name}",
      action : "order",
      custom_fields: {
        gender: "#{@demand.gender}",
        search_formatted_area: "#{@demand.search_formatted_area}",
        search_zipcodes_area: "#{@demand.search_zipcodes_area}",
        project: "#{@demand.project}",
        property_type: "#{@demand.property_type}",
        destination: "#{@demand.destination}",
        flat_state: "#{@demand.flat_state}",
        house_state: "#{@demand.house_state}",
        budget_min: "#{@demand[:budget].first}",
        budget_max: "#{(@demand[:budget].size == 2) ? @demand[:budget].last : @demand[:budget].first}",
        style: "#{@demand.style if @demand.style}",
        surface: "#{@demand[:surface].first}",
        house_construction_surface: "#{@demand.house_construction_surface}",
        rooms: "#{@demand.rooms}",
        floor: "#{@demand.floor}",
        principal_space: "#{@demand[:principal_space]}",
        kitchen: "#{@demand.kitchen}",
        bathrooms: "#{@demand.bathrooms}",
        more_rooms: "#{@demand.more_rooms}",
        equipements: "#{@demand.equipments}",
        accessibility: "#{@demand.accessibility}",
        flat_stairs: "#{@demand.flat_stairs}",
        house_stairs: "#{@demand.house_stairs}",
        exposition: "#{@demand.exposition}",
        parking: "#{@demand.parking}",
        security: "#{@demand.security}",
        heating: "#{@demand.heating}",
        heating_type: "#{@demand.heating_type}",
        dpe: "#{@demand.dpe}",
        flat_exterior: "#{@demand.flat_exterior}",
        house_exterior: "#{@demand.house_exterior}",
        age: "#{@demand.age}",
        actual_pros: "#{@demand.actual_pros}",
        actual_housing: "#{@demand.actual_housing}",
        actual_housing_area: "#{@demand.actual_housing_area}",
        installation_date: "#{@demand.installation_date}",
        last_precision: "#{@demand.last_precision}",
        important_fields: "#{@demand.criterias}",
        criterias: "#{@demand.criterias}",
        localisation_lat: "#{@demand.location_link}",
        localisation_lng: "Inconnu",
        status: "#{@demand.status}",
        demand_edit_url: "#{demand_edit_path(demand_id: @demand.id.to_s)}",
        demand_id: "#{@demand.id.to_s}"
      }
    };
    console.log(sporder);
