.agency-dashboard-fullpage
  = render "dashboard/customers/partials/fixed_menu"

  .dashboard-fullpage-container

    .d-flex-center
      %h2.bold LES CONSEILS DE KENOTTE

    %div
      .row
        - @target_posts.sort_by{|post| post.created_at}.reverse.each do |post|
          .col-xs-12.col-md-6
            .blog-card.shadowed.card-margin
              .top-section{style:"background-image: url('#{post.photo_url}');"}
                = link_to post_path(cat_lname: post.blog_category.lname, lname: post.lname), target: "_blank" do
                  .absolute-layout
                    .plus-logo
                      +
              .bottom-section
                %h4
                  = post.name
                .d-flex-start
                  %small
                    = "#{l(post.created_at, format: :medium)} |"
                  %small.card-category
                    = post.category_name.capitalize
                %p
                  - if post.title
                    = post.title.truncate(80)
                  - else
                    = post.content.truncate(80).html_safe
                = link_to "Lire la suite", post_path(cat_lname: post.blog_category.lname, lname: post.lname), class: "blog-card-link"
