.customer-fixed-menu-container
  .customer-fixed-menu
    = link_to customer_zone_path, class: "#{'active' if current_page?(customer_zone_path)}" do
      .menu-picto-container
        - if current_page?(customer_zone_path)
          .inline-svg.red
            = svg("dashboard")
        - else
          .inline-svg.black
            = svg("dashboard")
        .picto-container-text
          MON ESPACE

    - if @customer.demands.any? && @customer.demands.last.properties.any?
      = link_to dashboard_customer_properties_path, class: "#{'active' if current_page?(dashboard_customer_properties_path)}" do
        .menu-picto-container
          - if current_page?(dashboard_customer_properties_path)
            .inline-svg.red
              = svg("heart")
          - else
            .inline-svg.black
              = svg("heart")
          .picto-container-text
            MES OFFRES
    - if @customer.demands.any?
      = link_to dashboard_customer_partnerships_path, class: "#{'active' if current_page?(dashboard_customer_partnerships_path)}" do
        .menu-picto-container
          - if current_page?(dashboard_customer_partnerships_path)
            .inline-svg.red
              = svg("hand-peace")
          - else
            .inline-svg.black
              = svg("hand-peace")
          .picto-container-text
            PARTENARIATS

    = link_to dashboard_customer_advices_path, class: "#{'active' if current_page?(dashboard_customer_advices_path)}" do
      .menu-picto-container
        - if current_page?(dashboard_customer_advices_path)
          .inline-svg.red
            = svg("tete-castor")
        - else
          .inline-svg.black
            = svg("tete-castor")
        .picto-container-text
          MES CONSEILS

    = link_to dashboard_customer_messages_path, class: "#{'active' if current_page?(dashboard_customer_messages_path)}" do
      .menu-picto-container
        - if current_page?(dashboard_customer_messages_path)
          .inline-svg.red
            = svg("message-comment")
        - else
          .inline-svg.black
            = svg("message-comment")
        .picto-container-text
          MA MESSAGERIE

    = link_to edit_customer_registration_path, class: "#{'active' if current_page?(dashboard_customer_profil_path)}" do
      .menu-picto-container
        - if current_page?(dashboard_customer_profil_path)
          .inline-svg.red
            = svg("user-infos")
        - else
          .inline-svg.black
            = svg("user-infos")
        .picto-container-text
          MON PROFIL
