.agency-dashboard-fullpage
  = render "dashboard/customers/partials/fixed_menu"

  .dashboard-fullpage-container
    .big-header
      .demand-number MA MESSAGERIE
      .d-flex-start
        %p
          Je contacte les agences qui possèdent les biens qui me plaisent


    .dashboard-messages-container
      - if @customer_chatrooms != []
        - @customer_chatrooms.each do |chatroom|
          - unseen_messages = chatroom.chat_messages.where(seen_by_customer: false)
          - customer_choice = chatroom.property.customer_choices.where(v2_demand_id: chatroom.v2_demand.id).last
          .dashboard-message-card
            - if unseen_messages != []
              .message-card-avatar-with-image.active{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/svgs/chatroom/chatroom-agency-avatar.svg');"}
                .fa.fa-user
                .message-count
                  = "#{unseen_messages.count}"
            - else
              .message-card-avatar-with-image{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/svgs/chatroom/chatroom-agency-avatar.svg');"}
                .fa.fa-user
            .message-card-customer
              - if customer_choice
                = "#{chatroom.agency.name}"
              - else
                = "L'agence"
            .message-delimiter
            .message-card-prop
              = "#{chatroom.property.property_type}, #{chatroom.property.price} €"
            .message-card-title
              = chatroom.topic.truncate(40)

            .grow-button-container
              - if unseen_messages != []
                = link_to chatroom_path(chatroom, property_id: chatroom.property.id.to_s) do
                  .message-card-button.active Je réponds
              - else
                = link_to chatroom_path(chatroom, property_id: chatroom.property.id.to_s) do
                  .message-card-button Je consulte
