.services-banner{style: "background-image: url(https://cdn.bientotchezsoi-dev.com/images/placeholders/services-banner-photo.jpg);"}
  .content
    %h1.white-text des travaux en vue ?

.agency-dashboard-fullpage
  = render "dashboard/customers/partials/fixed_menu"
  .dashboard-fullpage-container
    .container-inactive
      .row
        .col-xs-12
          .header
            %h2.bold
              des partenaires professionnels et fiables
        - @partners.each do |partner|
          - if partner.technology.downcase == "lien classique"
            .col-xs-12.col-md-6
              .customer-service-card
                - if partner.logo_url
                  .d-flex-center
                    = image_tag partner.logo_url, width: "160"
                .d-flex-start.mt-20
                  .service-truncate-content
                    = partner.content.truncate(240)
                .d-flex-center.mt-20
                  = link_to partner.service_url, target: "_blank" do
                    .bold.green-text
                      = "Je découvre le service"
          - else
            .col-xs-12.col-md-6
              .customer-service-card
                - if partner.logo_url
                  .d-flex-center
                    - if partner.name.downcase == "bon de visite"
                      = image_tag partner.logo_url, width: "100"
                    - else
                      = image_tag partner.logo_url, width: "160"
                .d-flex-start.mt-20
                  .service-truncate-content
                    = partner.content.truncate(240)
                .d-flex-center.mt-20
                  .bold.green-text.widget-service-link{"data-toggle": "modal", "data-target": "#customer-services", "data-url-target": "#{partner.id.to_s}"}
                    = "Je commence"
            %script{src: "#{partner.widget_url}", type: "text/javascript"}




#customer-services.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body.dynamic-receiver








