.agency-dashboard-fullpage
  = render "dashboard/customers/partials/fixed_menu"

  .dashboard-fullpage-container

    - if @demand
      .d-flex-center.mb-25
        %h2 MES OFFRES

      %div
        - if !@demand.properties.any?
          .empty-content
            = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "140"
            .empty-content-text
              = "Vous avez une recherche en cours mais nous n'avons pas trouvé de bien correspondant"
        - else
          .row
            - @demand.properties.each do |property|
              .col-xs-12.col-md-6
                = link_to dashboard_customer_property_path(property_id: property.id.to_s) do
                  .proposition-item.change-height
                    - if property.images_array
                      .proposition-item-left{style: "background-image: url(#{property.images_array.first});"}
                    - elsif property.pictures.any?
                      .proposition-item-left{style: "background-image: url(#{property.pictures.last.photo_url});"}
                    - elsif property.img_1_url
                      .proposition-item-left{style: "background-image: url(#{property.img_1_url});"}
                    - else
                      .proposition-item-left{style: "background-image: url('https://cdn.bientotchezsoi-dev.com/images/placeholders/image-placeholder.png');"}

                    - if property.customer_choices.where(v2_demand: @demand).last
                      = handle_customer_choice(property.customer_choices.where(v2_demand: @demand).last.choice)



                    .proposition-item-right
                      .top-part
                        .prop-title
                          - if property.titre
                            = property.titre.truncate(40)
                          - elsif property.title
                            = property.title.truncate(40)
                        .prop-price
                          - if property.prix
                            = currency_format(property.prix)
                          - if property.price
                            = currency_format(property.price)
                      .middle-part
                        .middle-part-item
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "14"
                          - if property.type_bien
                            = property.type_bien
                          - if property.property_type
                            = property.property_type
                        .middle-part-item
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "14"
                          = "6"
                        .middle-part-item
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "14"
                          = "#{property.area} m²"
                      .bottom-part
                        .bottom-part-item
                          = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "14"
                          - if property.ville && property.cp
                            = "#{property.ville}, #{property.cp}"
                          - if property.localisation
                            = "#{property.localisation}, #{property.zipcode}"

                      .bottom-part
                        .bottom-part-item.small-text
                          .fa.fa-calendar
                          .proposition-demand-date
                            - @real_creation_date = property.v2_demand_properties.where(v2_demand: @demand).last
                            - if @real_creation_date
                              = "Proposition du #{l(@real_creation_date.created_at,format: :medium)}"


    - else
      .empty-demands-container
        = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-empty-demands.svg", width: "140"
        .demands-container-text
          = "Veuilez effectuer une demande pour activer kenotte"
        = link_to "JE COMMENCE", root_path, class: "bcs-button-very-small mt-25"
