.agency-dashboard-fullpage
  = render "dashboard/customers/partials/fixed_menu"

  %section.customer-property-show
    %div.hidden
      - if @customer_choice
        - if @customer_choice.choice != "Je n'aime pas"
          - if @chatroom
            = link_to "Conversation", chatroom_path(@chatroom, property_id: @property.id.to_s)
          - else
            = link_to "Créer une conversation", chatrooms_path(chatroom: {topic: @property.title, property_id: @property.id.to_s, agency_id: @property.agency.id.to_s, customer_id: current_customer.id.to_s, v2_demand_id: current_customer.v2_demands.last.id.to_s}), method: :post
      - else
        - if @chatroom
          = link_to "Conversation", chatroom_path(@chatroom, property_id: @property.id.to_s)
        - else
          = link_to "Créer une conversation", chatrooms_path(chatroom: {topic: @property.title, property_id: @property.id.to_s, agency_id: @property.agency.id.to_s, customer_id: current_customer.id.to_s, v2_demand_id: current_customer.v2_demands.last.id.to_s}), method: :post



    .big-property-header
      = "MON FUTUR CHEZ-MOI"
      .real-title
        - if @property.titre
          = "#{@property.titre.upcase}"
        - if @property.title
          = @property.title.upcase
    - if @property.agency.email == "laure@bientotchezsoi.com"
      .small.bold
        = "Agence Bientôt chez soi"

    .row
      .col-xs-12.col-md-7
        - if @property.images_array
          .property-big-photo{style: "background-image: url('#{@property.images_array.last if @property.images_array != []}')"}
            .absolute-badge
              NOUVEAU
        - elsif @property.pictures?
          .property-big-photo{style: "background-image: url('#{@property.pictures.select{|pict| pict.photo_url != nil }.first.photo_url}')"}
            .absolute-badge
              NOUVEAU
        - elsif @property.img_1_url
          .property-big-photo{style: "background-image: url(#{@property.img_1_url})"}
            .absolute-badge
              NOUVEAU
        - else
          .property-big-photo.back-contain{style: "background-image: url('https://s3.eu-west-3.amazonaws.com/bientotchezsoi/pictos/kenotte/Castor-Inspecteur.svg')"}
            .absolute-badge
              NOUVEAU


      .col-xs-12.col-md-5
        .property-infos
          .infos-header
            - if @property.prix
              = "#{number_with_delimiter(@property.prix.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
              .small
                (Frais d'agence inclus)
            - if @property.price
              = "#{number_with_delimiter(@property.price.strip.gsub(/[[:space:]]/,'').to_i, locale: :fr)} €"
              .small
                (Frais d'agence inclus)
          .infos-content
            .infos-content-item-wrapper
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-rooms.svg", width: "17"
                = "#{@property.nb_room} Pièces"
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-surface.svg", width: "17"
                = surface_format(@property.area)
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-flat.svg", width: "17"
                - if @property.type_bien
                  = @property.type_bien
                - if @property.property_type
                  = @property.property_type
              .infos-content-item
                = image_tag "https://cdn.bientotchezsoi-dev.com/images/picto-marker.svg", width: "17"
                - if @property.cp && @property.ville
                  = "#{@property.cp} #{@property.ville}"
                - if @property.zipcode && @property.localisation
                  = "#{@property.zipcode} #{@property.localisation}"

            .infos-content-matching
              = "Ce bien correspond à vos attentes"
            - if @customer_choice
              .present-customer-choice-container
                = handle_customer_choice(@customer_choice.choice)

            - if !@customer_choice
              .infos-content-customer-choice
                .partial-bottom-likes
                  .bottom-likes-full-item
                    .bottom-likes-item{"data-custom-toggle": 'modal', "data-custom-target": "#customer-hate"}
                      .inline-svg.black
                        = svg("customer-hate")
                    .bottom-customer-choice-text
                      Je n'aime pas

                  .bottom-likes-full-item
                    .bottom-likes-item.icon-shifted{"data-custom-toggle": 'modal', "data-custom-target": "#customer-like"}
                      .inline-svg.green
                        = svg("customer-like")
                    .bottom-customer-choice-text
                      J'aime

                  .bottom-likes-full-item
                    .bottom-likes-item{"data-custom-toggle": 'modal', "data-custom-target": "#customer-love"}
                      .inline-svg.red
                        = svg("customer-love")
                    .bottom-customer-choice-text
                      J'adore

    .row
      .col-xs-12.col-md-7
        .thumbnails
          - if @property.images_array
            - @property.images_array.each do |image|
              = link_to "#{image}", "data-lightbox": "property" do
                .thumbnails-item{style: "background-image: url('#{image}')"}
          - elsif @property.pictures != []
            - @property.pictures.select{|pict| pict.photo_url != nil }.each do |picture|
              = link_to "#{picture.photo_url}", "data-lightbox": "property-from-fo" do
                .thumbnails-item{style: "background-image: url('#{picture.photo_url}')"}
          - elsif @present_imgs != []
            - @present_imgs.each do |number|
              = link_to "#{@property.send("img_#{number}_url")}", "data-lightbox": "property-from-fo" do
                .thumbnails-item{style: "background-image: url(#{@property.send("img_#{number}_url")});"}

      - if @property.pdf_url
        .col-xs-12.col-md-5
          .kenotte-grade
            = link_to "Je télécharge la fiche détaillée", @property.pdf_url, class: "bcs-button-sm-special", target: "_blank"

      .col-xs-12.col-md-5
        .kenotte-grade
          - if @customer_choice
            - if @customer_choice.choice != "Je n'aime pas"
              - if @chatroom
                = link_to "Continuer la conversation", chatroom_path(@chatroom, property_id: @property.id.to_s), class: "bcs-button-sm-special"
              - else
                = link_to "Démarrer une conversation", chatrooms_path(chatroom: {topic: @property.title, property_id: @property.id.to_s, agency_id: @property.agency.id.to_s, customer_id: current_customer.id.to_s, v2_demand_id: current_customer.v2_demands.last.id.to_s}), method: :post, class: "bcs-button-sm-special"
          - else
            - if @chatroom
              = link_to "Continuer la conversation", chatroom_path(@chatroom, property_id: @property.id.to_s), class: "bcs-button-sm-special"
            - else
              = link_to "Démarrer une conversation", chatrooms_path(chatroom: {topic: @property.title, property_id: @property.id.to_s, agency_id: @property.agency.id.to_s, customer_id: current_customer.id.to_s, v2_demand_id: current_customer.v2_demands.last.id.to_s}), method: :post, class: "bcs-button-sm-special"
          .grade-content.hidden
            Vous pouvez poser une question à l'agence

    .property-description
      .header La petite histoire
      .content
        = @property.corps.html_safe

    .property-description
      .header Le bien en détails
      .content.mb-20
        .content-item
          %strong
            = "Nombre de pièces"
          = @property.nb_room
        .content-item
          %strong
            = "Nombre de chambres"
          = @property.nb_sleeping_room
        - if @property.ground_space
          .content-item
            %strong
              = "Surface du terrain"
            = "#{@property.ground_space} m²"
        - if @property.terrain_area
          .content-item
            %strong
              = "Surface du terrain"
            = "#{@property.terrain_area} m²"

        .content-item
          %strong
            = "Honoraires"
          - if @property.fees_target == "Du vendeur"
            = "A la charge #{@property.fees_target.downcase}"
          - else
            = "#{number_with_delimiter(@property.fees.gsub(/\u00a0/, '').to_i, locale: :fr)} €"
            = " à la charge #{@property.fees_target.downcase}"

        .content-item
          %strong
            = "Année de construction"
          = @property.build_year

    .property-description
      .header.big Bilan énergétique
      .content.mb-20
        - if @property.dpe
          .content-item.mb-20
            %strong
              = "DPE"
            .d-flex-start.fullwidth
              .dpe-block{"data-toggle": 'modal', "data-target": "#energies-dpe"}
                .dpe-class.level-a{class: "#{'active' if @property.dpe == 'A'}"}
                  A
                .dpe-class.level-b{class: "#{'active' if @property.dpe == 'B'}"}
                  B
                .dpe-class.level-c{class: "#{'active' if @property.dpe == 'C'}"}
                  C
                .dpe-class.level-d{class: "#{'active' if @property.dpe == 'D'}"}
                  D
                .dpe-class.level-e{class: "#{'active' if @property.dpe == 'E'}"}
                  E
                .dpe-class.level-f{class: "#{'active' if @property.dpe == 'F'}"}
                  F
                .dpe-class.level-g{class: "#{'active' if @property.dpe == 'G'}"}
                  G
        - if @property.ges
          .content-item
            %strong
              = "GES"
            .d-flex-start.fullwidth
              .ges-block{"data-toggle": 'modal', "data-target": "#energies-ges"}
                .ges-class.level-a{class: "#{'active' if @property.ges == 'A'}"}
                  A
                .ges-class.level-b{class: "#{'active' if @property.ges == 'B'}"}
                  B
                .ges-class.level-c{class: "#{'active' if @property.ges == 'C'}"}
                  C
                .ges-class.level-d{class: "#{'active' if @property.ges == 'D'}"}
                  D
                .ges-class.level-e{class: "#{'active' if @property.ges == 'E'}"}
                  E
                .ges-class.level-f{class: "#{'active' if @property.ges == 'F'}"}
                  F
                .ges-class.level-g{class: "#{'active' if @property.ges == 'G'}"}
                  G



    #customer-hate.custom-modal-container.hidden
      .custom-modal
        .custom-modal-header
          .inline-svg.black
            = svg("customer-hate")
          je n'aime pas ce bien...
        .custom-modal-content
          .custom-modal-property-infos
            = @property.titre.capitalize if @property.titre
          .custom-modal-property-body
            Quel dommage 😞 Mais ne nous laissons pas abattre, nos castors ont encore de belles propositions à vous faire
          .d-flex-between-inactive
            = link_to "Je confirme",customer_choice_hate_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "bcs-button-sm-special hidden"

            = form_tag(customer_choice_hate_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "customer-hate-form") do
              .d-flex-between.mb-25
                .d-flex-column
                  = tag.label "Mon commentaire", class: "dislike"
                  = tag.textarea name: "comment"
                  .hint
                    Mon commentaire sera transmis à l'agence partenaire pour l'aider à affiner ses futures propositions.
              .d-flex-center
                = button_tag 'Je valide', class: 'bcs-button-sm-special'

    #customer-like.custom-modal-container.hidden
      .custom-modal
        .custom-modal-header
          .inline-svg.green
            = svg("customer-like")
          j'aime ce bien...
        .custom-modal-content
          .custom-modal-property-infos
            = @property.titre.capitalize if @property.titre
          .custom-modal-property-body
            Lorsque j'aime un bien, mes coordonnées sont transmises à l'agence partenaire qui m'a proposé ce bien. Ensuite je patiente, elle me rappellera !
          .d-flex-between-inactive
            = link_to "Je confirme",customer_choice_like_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "bcs-button-sm-special hidden"

            = form_tag(customer_choice_like_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "customer-like-form") do
              .d-flex-between.mb-25
                .d-flex-column
                  = tag.label "Mon commentaire", class: "dislike"
                  = tag.textarea name: "comment"
                  .hint
                    Mon commentaire sera transmis à l'agence partenaire pour l'aider à affiner ses futures propositions.
              .d-flex-center
                = button_tag 'Je valide', class: 'bcs-button-sm-special'

    #customer-love.custom-modal-container.hidden
      .custom-modal
        .custom-modal-header
          .inline-svg.red
            = svg("customer-love")
          j'adore ce bien...
        .custom-modal-content
          .custom-modal-property-infos
            = @property.titre.capitalize if @property.titre
          .custom-modal-property-body
            Lorsque j'adore un bien, mes coordonnées sont transmises en urgence à l'agence partenaire qui m'a proposé ce bien. Ensuite je patiente, elle me rappellera !
          .d-flex-between-inactive
            = link_to "Je confirme",customer_choice_love_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "bcs-button-sm-special hidden"

            = form_tag(customer_choice_love_path(property_id: @property.id.to_s,demand_id: @demand.id.to_s), method: :post, class: "customer-like-form") do
              .d-flex-between.mb-25
                .d-flex-column
                  = tag.label "Mon commentaire", class: "dislike"
                  = tag.textarea name: "comment"
                  .hint
                    Mon commentaire sera transmis à l'agence partenaire pour l'aider à affiner ses futures propositions.
              .d-flex-center
                = button_tag 'Je valide', class: 'bcs-button-sm-special'


    - if @property.dpe
      #energies-dpe.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .d-flex-end
              %button{"data-dismiss": "dpe-modal", type: "button"}
                %span{"aria-hidden": "true"} ×
            .modal-body
              .d-flex-start
                .small.bold.mb-10 Logement économe
              .dpe-full-block
                .dpe-full-class.level-a{class: "#{'active' if @property.dpe == 'A'}"}
                  .value
                    < 50
                  .classification
                    A
                .dpe-full-class.level-b{class: "#{'active' if @property.dpe == 'B'}"}
                  .value
                    51 à 90
                  .classification
                    B
                .dpe-full-class.level-c{class: "#{'active' if @property.dpe == 'C'}"}
                  .value
                    91 à 150
                  .classification
                    C
                .dpe-full-class.level-d{class: "#{'active' if @property.dpe == 'D'}"}
                  .value
                    151 à 230
                  .classification
                    D
                .dpe-full-class.level-e{class: "#{'active' if @property.dpe == 'E'}"}
                  .value
                    231 à 330
                  .classification
                    E
                .dpe-full-class.level-f{class: "#{'active' if @property.dpe == 'F'}"}
                  .value
                    331 à 450
                  .classification
                    F
                .dpe-full-class.level-g{class: "#{'active' if @property.dpe == 'G'}"}
                  .value
                    > 450
                  .classification
                    G
              .d-flex-start
                .small.bold.mb-10 Logement énergivore. En kWhEP/m2.an

    - if @property.ges
      #energies-ges.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .d-flex-end
              %button{"data-dismiss": "ges-modal", type: "button"}
                %span{"aria-hidden": "true"} ×
            .modal-body
              .d-flex-start
                .small.bold.mb-10 Faible emission de GES
              .ges-full-block
                .ges-full-class.level-a{class: "#{'active' if @property.ges == 'A'}"}
                  .value
                    < 5
                  .classification
                    A
                .ges-full-class.level-b{class: "#{'active' if @property.ges == 'B'}"}
                  .value
                    6 à 10
                  .classification
                    B
                .ges-full-class.level-c{class: "#{'active' if @property.ges == 'C'}"}
                  .value
                    11 à 20
                  .classification
                    C
                .ges-full-class.level-d{class: "#{'active' if @property.ges == 'D'}"}
                  .value
                    21 à 35
                  .classification
                    D
                .ges-full-class.level-e{class: "#{'active' if @property.ges == 'E'}"}
                  .value
                    36 à 55
                  .classification
                    E
                .ges-full-class.level-f{class: "#{'active' if @property.ges == 'F'}"}
                  .value
                    56 à 80
                  .classification
                    F
                .ges-full-class.level-g{class: "#{'active' if @property.ges == 'G'}"}
                  .value
                    > 80
                  .classification
                    G
              .d-flex-start
                .small.bold Forte emission de GES en kgeqCO2/m2.an

