.customer-fixed-menu-container.vip
  .customer-fixed-menu
    = link_to customer_zone_path, class: "#{'active' if current_page?(customer_zone_path)}" do
      .menu-picto-container
        .inline-svg.black
          = svg("dashboard")
        .picto-container-text
          MON ESPACE
    - if @customer.demands.any? && @customer.demands.last.properties.any?
      = link_to dashboard_customer_properties_path, class: "#{'active' if current_page?(dashboard_customer_properties_path)}" do
        .menu-picto-container
          .inline-svg.black
            = svg("heart")
          .picto-container-text
            MES OFFRES
    = link_to dashboard_customer_advices_path, class: "#{'active' if current_page?(dashboard_customer_advices_path)}" do
      .menu-picto-container
        .inline-svg.black
          = svg("tete-castor")
        .picto-container-text
          MES CONSEILS

    - if current_customer.vip
      = link_to dashboard_customer_vip_path, class: "#{'active' if current_page?(dashboard_customer_vip_path)}" do
        .menu-picto-container
          .inline-svg.black
            = svg("hand-peace")
          .picto-container-text
            MES AVANTAGES VIP

    = link_to edit_customer_registration_path, class: "#{'active' if current_page?(dashboard_customer_profil_path)}" do
      .menu-picto-container
        .inline-svg.black
          = svg("user-infos")
        .picto-container-text
          MON PROFIL
