#map

/ MODAL AIDE
#modal_aide.modal.fade{tabindex: "-1",role: "dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        / = image_tag "test", alt: "recherche immobilier"
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
      .modal-body.text-center
        %p
          %strong
            A droite
          avec les outils "Mes centres d’Intérêts", je peux faire apparaitre des informations clefs
          %br

          %strong
            A gauche
          avec les outils disponibles, je définie la zone où je souhaite habiter.
          %br

          %strong
            "Ma ville"
          je peux modifier cette dernière en cliquant sur l’outil "crayon" à côté du nom de la commune.
          %br

          %strong
            "Ma Zone de recherche"
          %br

          %strong
            Première étape :
          Je définie ma zone en cliquant sur l’outil "o". Je peux la modifier ou la supprimer ensuite avec les outils complémentaires qui apparaissent après avoir dessiné une première zone.
          %br

          %strong
            Deuxième étape :
          Si je le souhaite, je dessine d’autres zones de recherches. Je peux avoir plusieurs zones de recherche dans la même ville, ou sur des villes proches sur la carte affichée.
          %br

          %strong
            Troisième étape :
          Je poursuis ma demande, j’appuie sur le bouton "j’enregistre" pour préciser mon bien idéal

        %button.btn.btn-default.btn-validation{"data-dismiss":"modal"}
          OK, J'AI COMPRIS !


/ MODAL ENREGISTRE
#modal_enregistre.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body.text-center
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
        %p.text-center
          %strong
            Nous mettre en 4 (voire davantage), notre priorité !
          %br
          Excellent début. Votre choix est judicieux.
          %br
          Poursuivons, nous allons rapidement mieux vous connaitre
          et pourvoir ensuite vous aider à concrétiser votre projet immobilier !
        / = image_tag "test", alt: "recherche immobilier"
        = link_to "OUI, JE POURSUIS AU PLUS VITE !!", questionnaire_get_path(demand_id: @demand.id), class: "bcs-button-sm"



/ MODAL TROP DE CODES POSTAUX
#modal-exceed-perimeter.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        / = image_tag "test", alt: "recherche immobilier"
        %button.close{type:"button","data-dismiss":"modal"}
          %span
            &times;
      .modal-body.text-center
        %p.text-center
          Votre zone de recherche est trop grande.
          %br
          Merci de réduire ou de supprimer des zones.
        %button.btn.btn-default.btn-validation{type:"button","data-dismiss":"modal"}
          OK, J'AI COMPRIS !


#modal-email-request.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body.text-center
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
        %p.text-center
          %strong
            Veuillez saisir votre e-mail
          %br
          Pour sauvergarder votre demande, nous avons besoin de votre email.
        / = image_tag "test", alt: "recherche immobilier"
        = link_to "JE VALIDE MON EMAIL", questionnaire_path, class: "bcs-button-sm"




#autocomplete-empty-result.modal.fade{tabindex:"-1",role:"dialog"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-body.text-center
        %button.close{type:"button","data-dismiss":"modal","aria-label":"close"}
          %span
            &times;
        .unfindable-address-container
          .city
          .content
        .bcs-button-sm{type:"button","data-dismiss":"modal"}
          ESSAYER UNE AUTRE ADRESSE




%script{src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA&libraries=places'}

