#map

#map-custom-modal.custom-modal-container.hidden
  .custom-modal
    .custom-modal-photo
      = image_tag "https://cdn.bientotchezsoi-dev.com/images/kenotte-spinner.svg", width: "140"
    .custom-modal-text
      %strong
        = "Oupss, vous avez déjà une demande active en cours !!"
    .d-flex-center.mt-25
      = link_to "Votre espace personnel", customer_zone_path, class: "bcs-button-very-small"

%script{src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA&libraries=places'}
