- title "Bientôt Chez Soi - Espace Agence Partenaires"
- meta_description "Vous êtes une agence partenaire de Bientôt Chez Soi ? Connectez-vous et proposez des biens aux membres de Bientôt Chez Soi"

.fixed-event-banner.hidden
  = image_tag "https://bientotchezsoi.s3.eu-west-3.amazonaws.com/images/logo-rent.png", width: "40"
  .fixed-event-text
    = "Retrouvez-nous au stand H94, les 6 et 7 Novembre, venez y découvrir nos nouveaux outils pros"

.container
  .row
    .col-xs-12.col-md-8
      .viewport-fullheight-block
        .row
          .col-xs-12
            .authenticated_header
              %h4
                S'IDENTIFIER
              = image_tag "https://cdn.bientotchezsoi-dev.com/images/contact.png"
          .col-xs-12
            .form-title
              Bienvenue dans votre espace privé et sécurisé réservé à nos partenaires professionnels !
              = render "agencies/shared/links"

        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.error_notification
          .useless-class
            .form-inputs
              .row
                .col-xs-12
                  = f.input :email, placeholder: 'Adresse de courriel', label: false, required: false
                .col-xs-12
                  = f.input :password, placeholder: 'Mot de passe', label: false, required: false
                .col-xs-12
                  .forgotten-password
                    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                      = link_to "> J'ai oublié mon mot de passe", new_password_path(resource_name), class: 'green-link'
                .col-xs-12.col-md-offset-3.col-md-6
                  = f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable?
            .form-actions
              = f.button :submit, "JE VALIDE", class: 'bcs-button-green'

    .col-xs-12.col-md-4
      .viewport-fullheight-block
        .event-block-content
          .event-block-content--title Bientôt Chez Soi au salon
          = image_tag "https://bientotchezsoi.s3.eu-west-3.amazonaws.com/images/logo-rent.png", width: "40"
          .event-block-content--body
            Retrouvez-nous les 6 et 7 novembre, à Paris, au stand H94, venez y découvrir nos nouveaux outils pros




