%section.rent-agency-index
  .container
    .rent-agency-index-header Les agences BientôtMaLoc

    .unknowed-agency-block
      .inline-svg
        = svg("exclamation-mark")
      .unknow-new-rent-agency
        L'agence location n'exsiste pas chez Bcs ?
      = link_to "Créer une agence", new_rent_agency_path, class: "modern-blue-btn-text-md"


    .full-active-rent-agencies-wrapper{class: "#{'empty' if @active_rent_agencies.size == 0}"}
      .rent-agency-index-subheader.actives{class: "#{'hidden' if @active_rent_agencies.size == 0}"}
        = "Agence actives"
      %section#active_rent_agency
        - if @active_rent_agencies.size != 0
          - @active_rent_agencies.each do |ra|
            .rent-agency-index-item
              .infos-block
                .status-circle--active
                .rent-agency-name
                  Agency
                  %b
                    = "#{ra.name}"
                .rent-agency-created-at
                  = "Crée le #{l(ra.created_at, format: :medium)}"
                .rent-agency-email
                  Email
                  %b
                    = ra.rent_typeform_contact_email
                .rent-agency-typeform-id
                  Typeform-id
                  %b
                    = "#{ra.typeform_id}"
                .rent-agency-phone
                  Phone
                  %b
                    = Phonelib.parse(ra.phone).national
              .actions-block
                = link_to rent_agency_path(ra) do
                  .inline-svg
                    = svg("feather-eye")
                = link_to edit_rent_agency_path(ra) do
                  .inline-svg
                    = svg("feather-edit")
                .inactive-item.deactivate-rent-agency{"data-agency-id": ra.id.to_s}
                  .inline-svg.orange-stroke
                    = svg("feather-off")
                = link_to rent_agency_path(ra), method: :delete, data: {confirm: "Are you sure?"} do
                  .inline-svg.red-stroke
                    = svg("feather-trash")
        - else
          .empty-collection
            .inline-svg
              = svg("warning-rounded");
            Aucune agence active

    .block-separator

    .full-inactive-rent-agencies-wrapper{class: "#{'empty' if @inactive_rent_agencies.size == 0}"}
      .rent-agency-index-subheader.inactives{class: "#{'hidden' if @inactive_rent_agencies.size == 0}"}
        = "Agence inactives"
      %section#inactive_rent_agency
        - if @inactive_rent_agencies.size != 0
          - @inactive_rent_agencies.each do |ra|
            .rent-agency-index-item
              .infos-block
                .status-circle--inactive
                .rent-agency-name
                  Agency
                  %b
                    = "#{ra.name.downcase.capitalize}"
                .rent-agency-created-at
                  = "Crée le #{l(ra.created_at, format: :medium)}"
                .rent-agency-email
                  Email
                  %b
                    = ra.rent_typeform_contact_email
                .rent-agency-typeform-id
                  Typeform-id
                  %b
                    = "#{ra.typeform_id}"
                .rent-agency-phone
                  Phone
                  %b
                    = Phonelib.parse(ra.phone).national
              .actions-block
                = link_to rent_agency_path(ra) do
                  .inline-svg
                    = svg("feather-eye")
                = link_to edit_rent_agency_path(ra) do
                  .inline-svg
                    = svg("feather-edit")
                - if ra.active_renter
                  .inactive-item.deactivate-rent-agency{"data-agency-id": ra.id.to_s}
                    .inline-svg.green-stroke
                      = svg("feather-on")
                - else
                  .active-item.activate-rent-agency{"data-agency-id": ra.id.to_s}
                    .inline-svg.green-stroke
                      = svg("feather-on")
                = link_to rent_agency_path(ra), method: :delete, data: {confirm: "Are you sure?"} do
                  .inline-svg.red-stroke
                    = svg("feather-trash")
        - else
          .empty-collection
            .inline-svg
              = svg("warning-rounded");
            Aucune agence inactive

    .block-separator

    .full-bcs-agencies-wrapper
      .rent-agency-index-subheader.light
        = "Agences plateforme BCS"
      - @platform_agencies.each do |ra|
        .rent-agency-index-item
          .infos-block
            .status-circle--waiting
            .rent-agency-name
              Agency
              %b
                = "#{ra.name.downcase.capitalize}"
            .rent-agency-created-at
              = "Crée le #{l(ra.created_at, format: :medium)}"
            .rent-agency-email
              Email
              %b
                = ra.email
            .rent-agency-typeform-id
              Typeform-id
              %b
                = "#{ra.typeform_id}"
            - if ra.phone != ""
              .rent-agency-phone
                Phone
                %b
                  = Phonelib.parse(ra.phone).national
          .actions-block
            = link_to "Voir", rent_agency_path(ra), class: "modern-blue-btn-text-sm"
            .point-delimiter
            = link_to "Modifier", edit_rent_agency_path(ra), class: "modern-blue-btn-text-sm"
            .point-delimiter
            - if ra.active_renter
              .inactive-item.deactivate-rent-agency{"data-agency-id": ra.id.to_s}
                = "Désactiver"
            - else
              .active-item.activate-rent-agency{"data-agency-id": ra.id.to_s}
                = "Activer"
