%section.rent-agency-new-form
  .rent-agency-new-header
    .big-text
      BientôtMaLoc
    .small-text
      création d'une agence
  .container
    = simple_form_for [:rent, @rent_agency], html: {id: "new_rent_agency"} do |f|
      = f.input :is_renter, as: :hidden, input_html: {value: true}
      .row
        .col-xs-12.col-md-6
          .custom-input
            = f.input :name, label: false, placeholder: "Nom de l'agence", input_html: { autocomplete: 'off' }

        .col-xs-12.col-md-6
          .custom-input
            = f.input :rent_typeform_contact_email, label: false, placeholder: "Email", input_html: { autocomplete: 'off' }

        .col-xs-12.col-md-6
          .custom-input
            = f.input :address, label: false, placeholder: "Adresse", input_html: { autocomplete: 'off' }

        .col-xs-12.col-md-6
          .custom-input
            = f.input :siret, label: false, placeholder: "Siret", input_html: { autocomplete: 'off' }

        .col-xs-12.col-md-6
          .custom-input
            = f.input :phone, label: false, placeholder: "Téléphone", input_html: { autocomplete: 'off' }

      .d-flex-column-center
        .custom-input
          = f.input :active_renter, label: "Activer directement", as: :boolean, checked_value: true, unchecked_value: false
        .boolean-input-hint
          En cochant cette case l'agence concernée sera
          %b
            notifiée
          des nouvelles demandes via email

      .d-flex-center
        = f.submit "Créer une agence location", class: "modern-blue-btn"
