%section.rent-agency-show-infos

  .container
    .rent-agency-show-infos-header Infos à renseigner sur Typeform

    .agency-services-container
      .service-title Services liés
      - if @rent_agency.is_renter
        .agency-renter-badge
          Bientôt ma loc
      - if @rent_agency.activated
        .agency-bcs-badge
          Partenaire BCS

    .rent-agency-show-infos-item
      .custom-label
        agency_id
      .custom-value
        = @rent_agency.id.to_s

    .rent-agency-show-infos-item
      .custom-label
        agency
      .custom-value
        = @rent_agency.name

    .rent-agency-show-infos-item
      .custom-label
        agency_phone
      .custom-value
        = @rent_agency.phone

    .rent-agency-show-infos-item
      .custom-label
        agency_mail
      .custom-value
        = @rent_agency.rent_typeform_contact_email

    - @rent_agency.attributes.each do |attr|
      .rent-agency-show-infos-item
        .custom-label
          = attr.first
        .custom-value
          = attr.last

