.container
  %p
    = "Bonjour #{@resource.email}"
  %p
    Quelqu'un a demandé un lien pour changer votre mot de passe. Vous pouvez le faire via le lien ci-dessous.
  %p
    = link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token)
  %p
    Si vous ne l'avez pas demandé, veuillez ignorer cet email.
  %p
    Votre mot de passe ne changera pas tant que vous n’aurez pas accédé au lien.
