!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Bcs
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = include_gon
  %body
    = google_tag_manager
    = render 'shared/flashes'
    = render 'admin/shared/admin_navbar'
    = yield
    = javascript_include_tag 'admin'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

