!!!
%html
  %head
    %meta{content: "text/html", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{property: "og:type", content: "website"}/

    - if yield(:meta_description).present?
      %meta{name:"description", content:"#{yield(:meta_description)}"}/
    - else
      %meta{name:"description", content:"Bientot chez soi"}/

    %title
      - if yield(:title).present?
        = yield(:title)
      - else
        = "Bientot chez soi"

    - if yield(:facebook_meta_url).present?
      %meta{property: "og:url", content: "#{yield(:facebook_meta_url)}"}/
    - if yield(:facebook_meta_full_url).present?
      %meta{property: "og:url", content: "#{yield(:facebook_meta_full_url)}"}/
    - if yield(:facebook_meta_image).present?
      %meta{property: "og:image", content: "#{yield(:facebook_meta_image)}"}/
    - if yield(:facebook_meta_title).present?
      %meta{property: "og:title", content: "#{yield(:facebook_meta_title)}"}/
    - if yield(:facebook_meta_description).present?
      %meta{property: "og:description", content: "#{yield(:facebook_meta_description)}"}/


    - if yield(:twitter_meta_description).present?
      %meta{property: "twitter:description", content: "#{yield(:twitter_meta_description)}"}/
    - if yield(:twitter_meta_card).present?
      %meta{property: "twitter:card", content: "#{yield(:twitter_meta_card)}"}/
    - if yield(:twitter_meta_url).present?
      %meta{property: "twitter:url", content: "#{yield(:twitter_meta_url)}"}/
    - if yield(:twitter_meta_title).present?
      %meta{property: "twitter:title", content: "#{yield(:twitter_meta_title)}"}/
    - if yield(:twitter_meta_image).present?
      %meta{property: "twitter:image", content: "#{yield(:twitter_meta_image)}"}/


    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    / = favicon_link_tag "kenotte.ico"
    = include_gon
    = stylesheet_link_tag 'application', media: 'all'
    = action_cable_meta_tag
  %body
    = google_tag_manager

    - if AdaptativeLayout.views_without_navbar.include?(controller.controller_path)
    - else
      = render 'shared/navbar'
    = render 'shared/flashes'
    = yield

    - if AdaptativeLayout.views_without_footer.include?(controller.controller_path)
    - else
      = render 'shared/footer'

    - if employee_signed_in?
      .apifluxes-employee-container
        .email
          = current_employee.email
        .signout
          = link_to "déconnexion", destroy_employee_session_path, method: :delete

    %script{src: "https://embed.typeform.com/embed.js"}
    %script{src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA&libraries=places'}
    = javascript_include_tag 'application'
    = content_for :widgets
    :javascript
      var spconfig = {
        public_key: "33313137b332b0aaf06af67556b95d95d47c30636bffec27d69a271501",
        debug: true,
        email: "#{current_customer.email if current_customer}",
        set_cookie: true,
        track_order_enabled: true
      };
      function loadSpreadTracker(){ window.domLoadEventFired=true;var e=document.createElement("script");e.type="text/javascript";e.async=true;e.charset="UTF-8";e.id="spread-tracker";e.src="//static-sb.com/js/sb-tracker.js";document.body.appendChild(e) } if(window.addEventListener) { window.addEventListener("load",loadSpreadTracker,false) } else if(window.attachEvent) { window.attachEvent("onload",loadSpreadTracker) } else { window.onload=loadSpreadTracker }

    :javascript
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1041748,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');



