!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %link{rel:"shortcut icon", href:"https://cdn.bientotchezsoi-dev.com/images/customer-signin-kenotte.svg"}/

    - if yield(:meta_description).present?
      %meta{name:"description", content:"#{yield(:meta_description)}"}/
    - else
      %meta{name:"description", content:"Bientot chez soi"}/

    %title
      - if yield(:title).present?
        = yield(:title)
      - else
        = "Bientot chez soi"

    - if yield(:facebook_meta_url).present?
      %meta{property:"og:url", content:"#{yield(:facebook_meta_url)}"}/

    - if yield(:facebook_meta_full_url).present?
      %meta{property:"og:url", content:"#{yield(:facebook_meta_full_url)}"}/

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = include_gon
  %body
    = google_tag_manager
    = render 'shared/navbar'
    = yield
    = render 'shared/footer'
    = javascript_include_tag 'blog'
