!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{rel:"shortcut icon", href:"https://cdn.bientotchezsoi-dev.com/images/customer-signin-kenotte.svg"}/

    - if yield(:meta_description).present?
      %meta{name:"description", content:"#{yield(:meta_description)}"}/
    - else
      %meta{name:"description", content:"Bientot chez soi"}/

    %title
      - if yield(:title).present?
        = yield(:title)
      - else
        = "Bientot chez soi"

    - if yield(:facebook_meta_url).present?
      %meta{property: "og:url", content: "#{yield(:facebook_meta_url)}"}/

    - if yield(:facebook_meta_full_url).present?
      %meta{property: "og:url", content: "#{yield(:facebook_meta_full_url)}"}/

    - if yield(:facebook_meta_image).present?
      %meta{property: "og:image", content: "#{yield(:facebook_meta_image)}"}/

    - if yield(:facebook_meta_title).present?
      %meta{property: "og:title", content: "#{yield(:facebook_meta_title)}"}/

    - if yield(:facebook_meta_description).present?
      %meta{property: "og:description", content: "#{yield(:facebook_meta_description)}"}/

    %meta{content: "573b120e44dd413e82fe5ade736cf966", name: "“p:domain_verify”"}/

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = include_gon
  %body
    = google_tag_manager
    = render 'shared/navbar'
    = render 'shared/flashes'
    = yield
    = render 'shared/logged_admin'
    = render 'shared/footer'
    %script{src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA&libraries=places'}
    = javascript_include_tag 'home'
    :javascript
      var spconfig = {
        public_key: "33313137b332b0aaf06af67556b95d95d47c30636bffec27d69a271501",
        debug: true,
        email: "#{current_customer.email if current_customer}",
        set_cookie: true,
        track_order_enabled: true
      };
      function loadSpreadTracker(){ window.domLoadEventFired=true;var e=document.createElement("script");e.type="text/javascript";e.async=true;e.charset="UTF-8";e.id="spread-tracker";e.src="//static-sb.com/js/sb-tracker.js";document.body.appendChild(e) } if(window.addEventListener) { window.addEventListener("load",loadSpreadTracker,false) } else if(window.attachEvent) { window.attachEvent("onload",loadSpreadTracker) } else { window.onload=loadSpreadTracker };
