!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Bientotchezsoi - map
    = csrf_meta_tags
    = stylesheet_link_tag 'map_layout', media: 'all'
    %script{:src => "https://sdk.amazonaws.com/js/aws-sdk-2.398.0.min.js"}
    = include_gon
  %body
    = google_tag_manager
    = yield
    = javascript_include_tag 'map'
