!!!
%html
  %head
    %meta{charset:"utf-8"}
    %title Pdf
    %link{:href => "https://fonts.googleapis.com/css?family=Amatic+SC:400,700", :rel => "stylesheet"}/
    = wicked_pdf_stylesheet_link_tag "pdf"
  %body
    .container
      = yield
