!!!
%html
  %head
    %meta{content: "text/html", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{property: "og:type", content: "website"}/

    = csrf_meta_tags
    = stylesheet_link_tag 'widget', media: 'all'
  %body.bcs-widget-body
    = yield
    = javascript_include_tag 'widget'




