.devise-links-container
  - if controller_name != 'sessions'
    .sentence
      %p
        J'ai déjà un compte ?
      = link_to "Je me connecte", new_session_path(resource_name), class: 'green-link'

  - if devise_mapping.registerable? && controller_name != 'registrations'
    .sentence
      %p
        = t('customer_session_new.links.link_2.sentence')
      = link_to "Je m'inscris", new_registration_path(resource_name), class: 'green-link'

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)

  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = link_to "Connecté avec #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)


